
.calendar .months-container {
    display: flex!important;
    flex-flow: wrap;
}

.calendar .month-container {
    min-width: 235px;
    margin-bottom: 30px;
}

.calendar .calendar-header table th.disabled,
.calendar .calendar-header table th.disabled:hover {
    color: #ececec;
}

.calendar .day.selected {
    background-color: #47d165;
}

.calendar .day.hovered {
    background-color: lightskyblue;
}

.calendar .day.canceled {
    background-color: coral;
}

.calendar .day.selected:last-child,
.calendar .day.hovered:last-child {
    border-right: 1px solid darkgreen!important;
}

.calendar .day.selected:first-child,
.calendar .day.hovered:first-child {
    border-left: 1px solid darkgreen!important;
}


.calendar .day.border-right {
    border-right: 1px solid darkgreen!important;
}

.calendar .day.border-left {
    border-left: 1px solid darkgreen!important;
}

.calendar .day.border-top {
    border-top: 1px solid darkgreen!important;
}

.calendar .day.border-bottom {
    border-bottom: 1px solid darkgreen!important;
}