/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 #container {width: 80%; max-width: 800px; margin: 0 auto;}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0; overflow:hidden;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; width:100%; display:block; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; z-index: 99999;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; z-index:0; min-height:400px; }
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative; background-size:cover; min-height:400px; background-position:center center;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
.flexslider .slides > li img { /*opacity:0;*/}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none;zoom: 1; }
.flex-caption {position:absolute; top:15%;  text-align:left; width:auto;}
.flex-caption img{width:auto !important;}
.flex-caption h1 { color:#fff; font-size:80px; font-family: 'barlow_condensedblack'; text-transform:uppercase; line-height:65px; margin-bottom:0px; z-index:9999; position:relative;  letter-spacing:1px; text-shadow: 1px 1px 5px #595959;}
.flex-caption h1 span{background:#f6a201; width:12px; height:12px; border-radius:25px; display:inline-block;  margin-left:5px; }
.flex-caption p{  font-size:18px; line-height:20px; color:#fff;  font-family: 'barlowitalic'; margin-bottom:53px; letter-spacing:0.4px;}
.flex-caption p.div-br{text-align:center; width:400px;  font-family: 'barlowitalic'; font-size:18px; position:relative; z-index:99; margin-bottom:0;}
.flex-caption p.div-br::before{position:absolute; content:""; width:45%; left:0; top:10px; height:1px; background:#fff;}
.flex-caption p.div-br::after{position:absolute; content:""; width:45%; right:0; top:10px; height:1px; background:#fff;}
.flex-caption p.div-br span::after{content:""; position:absolute; width:98px; height:98px; border-radius:50px; background:rgba(240, 210, 26, 0.7); display:block; margin:0 auto; text-align:center; bottom:-40px; left:0; right:0; z-index:-1;}
.flex-caption p.div-br span{}
.flex-caption h2{ font-family: 'barlow_condensedmedium'; font-size:80px; letter-spacing:1px; line-height:70px; color:#fff; text-transform:uppercase; z-index:9999; position:relative; margin-bottom:30px; margin-top:8px; text-shadow:1px 1px 5px #595959;}
.flex-caption a{ font-family: 'barlowmedium'; font-size:16px; line-height:16px; text-transform:uppercase; color:#fff;  padding:17px 70px; background:#e54d1b;
border-radius:5px;   transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; float:left;}
.flex-caption a:hover{background:#68ac19;}
/* Direction Nav */
.flex-direction-nav { display:block; }
.banner-home .flex-direction-nav li a {width:26px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 47%; cursor: pointer; text-indent: -9999px; z-index:9999;}
.banner-home .flex-direction-nav li a:hover{ opacity:0.7}
.banner-home .flex-direction-nav li .flex-next {background-position: -25px 0; right:5%;background: url(../images/arrow-right.png) no-repeat 0 0; background-position: 0px 0; }
.banner-home .flex-direction-nav li .flex-prev {left:5%; background: url(../images/arrow-left.png) no-repeat 0 0; background-position: 0px 0; }
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.inner-banner-pad .flex-direction-nav li a {width:27px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; }
/* Control Nav */
.flex-control-nav {width:auto; margin:0 auto; position: absolute; bottom: 40%; z-index:9999; text-align: right; right:50px; left:auto;}
.flex-control-nav li {margin: 0 0px 15px 0px; display:block; zoom: 1; *display: inline;}
/*.flex-control-nav li:first-child {margin: 0;}*/
.flex-control-nav li a {width: 11px; height: 11px; display: block; background:none; border:2px solid #fff; cursor: pointer; text-indent: 9999px; border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -moz-border-radius:50%; }
.flex-control-nav li a:hover {background:#fff}
.flex-control-nav li a.flex-active {background:#fff; cursor: default;}

.flex-btn{background:#b98b57; color:#fff;padding:10px 45px; border-radius:3px; line-height:60px;font-family: 'PT Sans Narrow', sans-serif; }


.banner-pad .flexslider .flex-control-nav { display:block; }

/*.flexslider .slides > li::before{
background: rgba(0,0,0,0.4);
background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.4)), color-stop(50%, rgba(231,56,39,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=1 );

content:""; position:absolute; left:0; top:0; width:100%; height:100%;
}*/

/* Direction Nav */
.flex-direction-nav { display:block; }
.flex-direction-nav li a {width:18px; height:32px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; z-index:9999; }
.flex-direction-nav li .flex-next {background-position: -25px 0; right:20px;background: url(../images/arrow-rgt.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-next:hover {background: url(../images/arrw-rgt.png) no-repeat 0 0;}*/
.flex-direction-nav li .flex-prev {left:20px; background: url(../images/arrow-lft.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-prev:hover {left:20px; background: url(../images/arrw-lft.png) no-repeat 0 0;}*/
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}








/*=============================thumbnail css =================================*/

.flex-pauseplay a {  display: block;  width: 20px;  height: 20px;  position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10;
    overflow: hidden;  cursor: pointer; color: #000; }
  .flex-pauseplay a:before { font-family: "flexslider-icon";  font-size: 20px;  display: inline-block; content: '\f004'; }
  .flex-pauseplay a:hover { opacity: 1; }
  
  .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
  }
  .flex-control-thumbs {
    margin: 50px 0 0; text-align: center;
    position: static;
    overflow: hidden;
  }
  .flexslider.centro .flex-control-thumbs li {
    width: 27%;
    float: none; display: inline-block;
    margin: 0 3% 25px;
  }

  .flexslider.centro .flex-control-thumbs li:nth-child(3n) { margin-right: 0;}

  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .flex-control-thumbs img:hover {
    opacity: 1;
  }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
  }