@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){
.flex-caption { top:20%;}

}
@media only screen and (max-width: 1280px) {
	body{ overflow-x:hidden;}		
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row{ width:1000px; }
.row1{width:1140px;}

/* header css */
.search-div {margin-right: 0px;clear: right; margin-top:10px;}
header.header1 .search-div {float: right;width: 225px;margin-right: 20px; clear:none; margin-top:0px;}
header.header1.header2 .search-div { width: 330px;}
.bubbels-container .bubble-center {width: 230px;margin: 65px auto 0;}

header.header-new .search-div {width: 270px;float: right;}
}
 
@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row1{width:1000px;}
.row { width:1000px; }

/* index page */
/* header css */
.search-div {margin-right: 0px;clear: right; margin-top:10px;}
header.header1 .search-div {float: right;width: 225px;margin-right: 20px; clear:none; margin-top:0px;}
.ban-search {top: 12%;}
.banner-inner.vol .ban-search {top: 35%;}
header.header1.header2 .search-div { width: 330px;}

/* 8-1-2019 */
.ayuda-top li:first-child {margin-right: 15px;}
.ayuda-top li{margin-right: 15px;}
.contact-form textarea {height: 150px;}
.contact-form input[type="text"] {height: 36px;}
/*voluntaris list*/
.pagination { margin: 20px 0px;}
/*voluntaris*/
.aun-car.categ-sec{ padding:30px 0;}
.home-blog h1{ margin-bottom:25px;}
.home-blog.volu {padding-bottom: 35px;}
.home-blog-lft ul li .blog-cont{ padding-top:0;}
.home-blog-lft ul li{ margin-bottom:20px;}
/*espais*/
.search-sec.voluntar ul li input[type="submit"] {padding: 15px 45px;}
.obres .obr-pad{ min-height:570px;}
.aun-list{ padding-top:0px;}

/*retiros-fitxa*/
ul.tags li a{padding:4px 15px;}
.ls-rgt{width:60%;}
.ls-lft{width:37%;}
.obres.retiro .obr-pad{min-height:inherit;}

/* about page */
#abt-car.obres .obr-pad {min-height:inherit;}
.abt-car-lft {padding: 80px 100px 117px 90px;}

header.header-new .search-div {width: 270px;float: right;}

.bann-cont {bottom: 10%;}
.bann-cont h2 {font-size: 22px;line-height: 26px; margin-bottom:10px;}
.bann-cont h1 {font-size: 24px;line-height: 30px; margin-bottom:10px;}
#testmnl-car.obres .obr-pad	{ min-height:0;}
.responde ul li	{ width:48%;}

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row, .row1 { width:750px; }

.ddsmoothmenu ul li{padding:0px 25px 0 0px;}
.head-rgt { width:100%; display:none;}
.search-div { margin-right:0px;}
.logo-mbl { display:block;}
.logo-dsk { display:none;}
header.logo-head .logo .logo-dsk{ display:none;}
header .logo img {width: 40px;}

header.header1.header2 .search-div {float: right; margin-right:0px;}
a.foto-btn { left:50px;}

.search-sec.search-inn { margin-top:0px; padding:35px 0px;}

/* index page */
.flexslider, .flexslider .slides > li {min-height: inherit;}
ul.mbl-nues { display:block;}
.nues-spiking { display:none;}

.es-pad {width:100%;}

/* retiros - list page */
.ret-rgt ul.ret-lst > li .red-tag { display:none;}
.ret-rgt ul.ret-lst > li .green-tag{ display:none;}
.ret-rgt ul li .obr-pad .obr-img .tooltip { display:none;}
.ret-rgt ul li span.rec-tag {display:none;}
.ban-image{display:none;}

/* footer css */
.foot-txt h2 {display: block; top:0px;}
.foot-txt img {margin-right: 0;}

/* 8-1-2019 */
.flexslider, .flexslider .slides > li {min-height: inherit;}
.ayuda-top ul {padding-left: 0;}
.ayuda-top li{ margin-right:15px;}
.ayuda-top li:last-child{margin-right:0;}
.ayuda-top li:first-child {margin-right: 15px;}
.dudas-rgt .dudas-hab li{padding: 0px 0 10px;}
.dudas-rgt h2{font-size: 28px; margin: 0px 0 15px;}
.contact-form textarea {height: 100px;}
.contact-form input[type="text"] {height: 36px;}
.centro-yellow h2{ font-size:24px;}
.centro-grey h2 { font-size:24px;}
.search{ width:38%;}
/*voluntaris list*/
.tit-div h1{ font-size:20px;}
.retiros-sec{ padding:30px 0;}
.tit-div{ margin-bottom:15px;}
.pagination ul li.last {margin-left: 0;}
.pagination ul li.first {margin-right: 0;}
.pagination { margin: 20px 0px;}
/*voluntaris*/
.home-title h1{ font-size:30px; line-height:30px;}
.search-sec{ padding:25px 0;}
.aun-car h1{ font-size:30px; line-height:30px; margin-bottom:20px;}
#aun-car1.obres .obr-cnt h1 {font-size: 18px;line-height: 24px;}
.home-blog h1 {font-size: 30px;line-height: 30px;margin-bottom: 25px;}
.home-blog.volu {padding-bottom: 30px;}
.home-blog-lft ul li .blog-cont{ padding-top:0;}
.home-blog-lft ul li{ margin-bottom:20px;}
/*espais*/
.anuncia-pad{ padding:30px 20px; min-height: auto; text-align:center;}
.anuncia-pad h1 br {display: none;}
.anuncia-pad a{ float:none; display:inline-block;  margin-top:30px;}
.anuncia-pad h1{ font-size:35px; line-height:40px;}
.es-pad{ width:100%;}
.search-sec.voluntar.espais ul li.loca {width: 50%; margin-right: 0;}
.search-sec.voluntar.espais ul li.capa {width: 50%;margin-right: 0;}
.search-sec.voluntar ul li input[type="submit"]{ margin-top:15px;}
.obres .obr-pad{ min-height:510px;}
.aun-car.categ-sec.voluntar.espa{ text-align:center;}
.aun-car.categ-sec.voluntar.espa a.todo-btn{position: relative;right: 0;left: 0;margin: 0px auto;}
#aun-car1.obres {text-align: left;}
.aun-car.categ-sec.voluntar{ text-align:center;}
.aun-car.categ-sec.voluntar .todo-btn {position: relative; right: 0;left: 0;margin: 0px auto; top:15px;}

/*10-1-2019*/
.ret-rgt ul li .obr-pad{display: inline-block;}
.ret-rgt ul li .obr-pad .obr-img{width: 50%; display: inline-block;}
.ret-rgt ul li .obr-cnt{width: 50%;}
.ret-rgt ul li .price{width: 100%;}
.mob-retiros-lst{ width:100%; float:left;}
.mob-retiros-lst ul.lst-icon{ display:none;}
.ret-rgt ul li .mob-retiros-lst .dis-txt {float: left;padding: 5px 11px; background: #fdeecd;color: #4e4f4a;font-family: 'barlowlight_italic';font-size: 12px;
line-height: 15px; margin-top:15px; display:block;}
.mob-price{width:100%; float:left;}
.mob-price .p-lft a.mas-btn {display: none;}
.ret-rgt ul li .price .mob-price{width:100%; float:left;}
.ret-rgt ul li .price .mob-price .p-rgt{float: right; width:auto; margin-bottom:0;}
.ret-rgt ul li .price .mob-price .p-lft {float: left;width: auto;position: relative;bottom: 0;margin-top: 7px;}
.ret-rgt ul li .price .mob-price .p-rgt h2 {float: right; width:auto;}
.ret-rgt ul li .price .mob-price .p-lft .rating{ float:left; width:auto; margin-bottom:0;}
.ret-rgt ul li .price .mob-price .dis-txt {display: none;}
.pro-rgt-pad {float: left;width: 100%;}
.pro-lft-pad {float: left;width: 100%;}
.ret-rgt ul li .obr-pad .obr-img .fancybox1.show {width: 100%;}
.pro-lft-pad .flexslider {float: left;width: 100%;}
.pro-lft-pad .flexslider .slides img {height: auto;}
.pro-lft-pad{min-height: auto !important;}
.flexslider{min-height: auto !important;}
.ret-rgt ul li .price .p-lft {float: left;width: auto;}
a.mas-btn {float: right;width: auto;margin-right: 15px;}

/*retiros-fitxa*/
ul.tags li a{padding:4px 15px;}
.ls-rgt{width:100%;}
.ls-lft{width:100%; margin-bottom:5px;}
.obres.retiro .obr-pad{min-height:inherit;}
.ret-tit-lft h1{font-size:25px; line-height:30px;}
.ret-tit-lft{padding-right:0;}
.prog-tab .resp-tabs-list li{padding:10px;}
.aloj-rgt h1{font-size:24px;}
.rat-left{width:30%;}
.rat-right{width:68%;}
.carac-list ul li .cara-full-rgt ul li{width:50%;}
a.en-btn{width:140px; padding:8px;}
a.foto-btn{left:50px;}
.price-no h1{font-size:24px;}
.selet-per .sbHolder{padding:0px 15px 0 37px; background:url(../images/Personas.svg) no-repeat left 5px top 21px;}
.select-name{width:100%; margin-bottom:10px;}
.white-box-rgt{padding:24px 15px;}
.resumen.total ul li .resu-txt h1{font-size:12px;}
a.cn-btn{width:100%; float:left; margin-bottom:5px;}
.resumen.total .btns{display:inherit;}
.date-sct{padding:10px 0;}
.selet-per.regimen .sbHolder{background:url(../images/bed-1.jpg) no-repeat left 5px top 21px; padding:0px 7px 0 42px;}
.selet-per .sbHolder{font-size:12px;}
.frm-ryt .frm-grp .frm-ctrl.text-area{height:200px;}
.cara-full-lft.ffl{width:100%; margin-bottom:5px;}
.big-titlt{font-size:26px; line-height:32px;}
.card-dtls{width:100%;}
.card-right{padding-left:0; width:100%;}
.flexible{padding-right:0; padding-left:50px;}

/* about page */
#abt-car.obres .obr-pad {min-height:inherit;}
.abt-car-lft {padding:55px 50px 55px 50px;}
.abt-car-lft h1 {font-size: 22px; line-height: 32px;}
#abt-car.obres .obr-cnt h1 br { display: none;}

.abt-cont-in {padding-right:0px;}
.abt-cont h1 br { display: none;}
.abt-cont h1 {font-size: 24px;}

header.header-new .search-div {width: 270px;float: right;}

.bann-cont {bottom: 10%;}
.bann-cont h2 {font-size: 22px;line-height: 26px; margin-bottom:10px;}
.bann-cont h1 {font-size: 24px;line-height: 30px; margin-bottom:10px;}

.otras.aun-list ul li .list-cont h2 {font-size: 25px;}
#testmnl-car.obres .obr-pad	{ min-height:0;}
#testmnl-car .obr-img	{ margin-right:3%;}
#testmnl-car .obr-cnt	{ width:48%;}
#testmnl-car.obres .obr-cnt h1	{ font-size:26px; line-height:34px;}
.responde ul li	{ width:47.3%; min-height:74px;}
.caption-imgs		{ top:6%;}
.caption-imgs h2	{ font-size:40px; line-height:44px; margin-bottom:20px;}	

.blog-list .blog-pp ul li .list-cont h2	{ font-size:22px;}
.blog-list .blog-pp ul li .list-cont h3	{ font-size:24px;}

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row1 { width:100%; padding:0px 15px; }
.mobNav, .m-menu { display:block;}

header .main-menu{padding:20px 0;}
.is-sticky header .main-menu {padding:20px 0 20px 0px;}
.head-rgt { width:100%; display:none;}
.search-div { margin-right:0px;}
.logo-mbl { display:block;}
.logo-dsk { display:none;}
header.logo-head .logo .logo-dsk{ display:none;}
header .logo img {width: 40px;}

a.foto-btn { left:50px;}

.search-sec.search-inn { margin-top:0px; padding:35px 0px;}

header.header1.header2 .search-div {float: right; margin-right:0px;}

.search-head input[type="text"] {height: 40px;line-height: 40px;}
.searchButton {height: 40px;}

header.header1 .search-head input[type="text"] {height: 40px;line-height: 40px;}
header.header1 .searchButton{height: 40px;}

header.header1 .search-div {margin-right:0px;}
header.header1 .search-head input[type="text"] {border-radius: 5px;}

.mbl-filter  { display:block;}

.fancybox-wrap { width:100% !important; height:100% !important; left:0px !important; top:0px !important; border-radius:0px;}
.fancybox-inner { width:100% !important; height:100% !important;border-radius:0px;}
#poup-txt2 {max-width:100%;min-width: 100%;}

.login-pad .tab_content {padding: 20px 20px;}
.face-book a,.g-plus a { font-size:16px;}

/*index page*/
.home-blog {padding: 0px 0px 25px 0px;}
.home-blog h1{font-size: 22px;line-height: 25px;margin-bottom:25px;}
.home-blog-lft { display:none;}
.home-blog-rgt { display:none;}
	
.nues-sec {padding-bottom: 30px;}
.nues-sec h1 {font-size: 22px;line-height: 25px;margin-bottom: 10px;}
a.todo-btn { position:relative; float:left; width:100%; text-align:center; top: 0;}

.home-blog-mbl { display:block;}
.aun-list ul { display:none;}
.aun-list {padding: 30px 0px 40px 0px;}
.aun-list .home-crem-mbl ul{ display:block;}
.aun-list p { display:none;}
.aun-list h1 {font-size: 22px;line-height: 25px; margin-bottom:0px;}

.aun-car { padding: 30px 0px 40px 0px;}
.aun-car h1 {font-size: 22px;line-height: 25px; margin-bottom:20px;}
#aun-car { display:none;}
.aun-car-mbl { display:block;}
#aun-car1 { display:none;}
.aun-car.categ-sec #aun-car1 { display:none;}
.aun-car.categ-sec.voluntar #aun-car1{ display:block;}
.aun-list.eapais ul { display:block; margin-top:20px;}

.home-blog.volu .home-blog-lft { display:block;}

.aun-car.categ-sec{ padding: 30px 0px 40px 0px;}
.aun-car.categ-video {padding: 0px 0px 40px 0px;}
.mosaic-section { display:none;}
.mb-ban-title { display:block;}
.home-title {padding: 20px 0px 20px 0px; display:none;}
.home-title h1 {font-size: 22px;line-height: 25px;}

.home-crem-mbl.categ-mbl { display:block;}

ul.mbl-nues { display:block;}
ul.mbl-nues li{ float:left; width:48%; margin-bottom:8px; margin-right:4%;}
ul.mbl-nues li:nth-child(2n-2){ margin-right:0px;}
.nues-spiking { display:none;}

.home-crem-mbl.categ-mbl ul{ display:block;}

.es-pad {width:100%;}

/* retiros - list page */
.tit-div { display:none;}
.ret-rgt ul.ret-lst > li .red-tag { display:none;}
.ret-rgt ul.ret-lst > li .green-tag{ display:none;}
.ret-rgt ul li .obr-pad .obr-img .tooltip { display:none;}
.ret-rgt ul li span.rec-tag {display:none;}
.ban-image{display:none;}
.retiros-sec .ret-lft{display:none;}

/* footer css */
footer {padding: 0px 0px 0px;}
.foot-top { display:none;}
.foot-top ul li {width: 33.3333%;min-height: 200px;}
.foot-top ul li ul li { min-height:inherit;}
.foot-txt { display:none;}
.foot-txt h2 {display: block; top:0px; font-size: 22px;}
.foot-txt img {margin-right: 0;}
.payment-sec { width:100%; border-radius: 0px;-o-border-radius:0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;}
.payment-sec ul.pay-lst li {width: 20%;}
.payment-sec ul li a img {width: 100%;}

.foot-btm-rgt {display:none;}

.payment-sec { display:none;}
.payment-sec.payment-sec-mb{ display:block;}
.mb-foot-logo{ display:block;}

/* 8-1-2019 */
.ayuda-top ul {padding-left: 0;}
.ayuda-top li{ margin-right:15px;}
.ayuda-top li:last-child{margin-right:0;}
.ayuda-top li:first-child {margin-right: 15px;}
.dudas-rgt .dudas-hab li{padding: 0px 0 10px;}
.dudas-rgt h2{font-size: 28px; margin: 0px 0 15px;}
.centro-yellow h2{ width:100%; margin-right:0; font-size:22px; line-height:34px;}
.search{ width:350px;}
.centro-grey h2{ width:100%; margin-right:0; font-size:22px; line-height:34px;}
.centro-yellow{ padding:25px 0;}
.centro-grey{ padding:25px 0;}
/*ajuda-3*/
.contact-form ul li{ width:100%; margin-bottom: 15px; margin-right: 0;}
.contact-form input[type="text"] {height: 36px;}
.contact-form textarea {height: 100px; width:100%;}
.ayuda-top a{padding: 10px 12px 15px 12px;}
/*voluntaris list*/
.ret-lft {float: left;width: 100%;margin-right: 0; margin-bottom:20px;}
.ret-rgt {float: left;width: 100%;}
.ret-rgt ul li .obr-pad{display: inline-block;}
.ret-rgt ul li .obr-pad .obr-img{ width:50%;}
.ret-rgt ul li .obr-cnt{ width: 50%;}
.ret-rgt ul li .price{ width:100%;}
.ret-rgt ul li .price .p-lft {float: left;width: auto;}
a.mas-btn {float: right;width: auto; margin-right:15px;}
.retiros-sec{ padding:30px 0; background: #fff;}
.banner-inner h1{ font-size:24px;}
.pagination{ margin:15px 0; display:none;}
.pagination ul li.last {margin-left: 0;}
.pagination ul li.first {margin-right: 0;}
.ret-rgt ul li .price .rating{ margin-bottom:0;}
.ret-rgt ul li .price .p-lft{ bottom:7px;}
.tit-div h1{ font-size:20px;}
/*voluntaris*/
#aun-car1.obres .obr-cnt h1 {font-size: 16px;line-height: 20px;}
.aun-car h1{ font-size:24px; line-height:30px;}
.aun-car.categ-sec.voluntar a.todo-btn{ position:relative; top: 15px; width: 100%;display: inline-block;text-align: center; max-width: none;}
.search-sec{ padding:20px 0;}
.home-blog h1{font-size: 28px;line-height: 30px; margin-bottom: 20px;}
.home-blog.volu {padding-bottom: 30px;}
.home-title h1{ font-size:28px; line-height:30px;}
.home-blog-lft ul li .blog-cont{ padding-top:0;}
.home-blog-lft ul li{ margin-bottom:20px;}
.home-blog-lft ul li .blog-cont h2 {font-size: 18px;line-height: 20px; margin-bottom: 10px;}
/*espais*/
a.todo-btn{ position:relative; top: 0; width:100%; width: 100%; display: inline-block;text-align: center;}
.aun-car p br {display: none;}
.aun-car.categ-sec.voluntar ul li{ width: 49%;margin-right: 2%;}
.aun-car.categ-sec.voluntar ul li:nth-child(3n) {margin-right: 2%;}
.aun-car.categ-sec.voluntar ul li:nth-child(2n+2) {margin-right: 0;}
.aun-list ul li{ width:49%; margin-right:2%;}
.aun-list ul li:nth-child(3n) {margin-right: 2%;}
.aun-list ul li:nth-child(2n+2) {margin-right: 0px;}
.anuncia-pad{ padding:30px 20px; min-height: auto; text-align:center;}
.anuncia-pad h1 br {display: none;}
.anuncia-pad a{ float:none; display:inline-block;  margin-top:30px;}
.anuncia-pad h1{ font-size:30px; line-height:35px;}
.es-pad{ width:100%;}
.search-sec.voluntar.espais ul li.loca {width: 50%; margin-right: 0;}
.search-sec.voluntar.espais ul li.capa {width: 50%;margin-right: 0;}
.search-sec.voluntar ul li input[type="submit"]{ margin-top:15px;}

/*10-1-2019*/
.mob-retiros-lst{ width:100%; float:left;}
.mob-retiros-lst ul.lst-icon{ display:none;}
.ret-rgt ul li .mob-retiros-lst .dis-txt {float: left;padding: 5px 11px; background: #fdeecd;color: #4e4f4a;font-family: 'barlowlight_italic';font-size: 12px;
line-height: 15px; margin-top:15px; display:block;}
.mob-price{width:100%; float:left;}
.mob-price .p-lft a.mas-btn {display: none;}
.ret-rgt ul li .price .mob-price{width:100%; float:left;}
.ret-rgt ul li .price .mob-price .p-rgt{float: right; width:auto; margin-bottom:0;}
.ret-rgt ul li .price .mob-price .p-lft {float: left;width: auto;position: relative;bottom: 0;margin-top: 7px;}
.ret-rgt ul li .price .mob-price .p-rgt h2 {float: right; width:auto;}
.ret-rgt ul li .price .mob-price .p-lft .rating{ float:left; width:auto;}
.ret-rgt ul li .price .mob-price .dis-txt {display: none;}
.pro-rgt-pad {float: left;width: 100%;}
.pro-lft-pad {float: left;width: 100%;}
.ret-rgt ul li .obr-pad .obr-img .fancybox1.show {width: 100%;}
.pro-lft-pad .flexslider {float: left;width: 100%;}
.pro-lft-pad .flexslider .slides img {height: auto; width:100%;}
.pro-lft-pad{min-height: auto !important;}
.flexslider{min-height: auto !important;}
.pro-lft-pad .flexslider .slides > li.clone img {width: 100% !important;}

/*retiros-fitxa*/
.banner-load.retiros{display:none;}
.retro-lft{margin-right:0; width:100%; margin-bottom:35px;}
.retro-rgt{width:100%;}
.ret-tit-rgt{float:left; width:100%; text-align:left; margin-bottom:15px;}
.ret-tit-rgt h3 br{display:none;}
.ret-tit-rgt img{display:none;}
.ret-tit-lft{width:100%; padding-right:0;}
.ls-lft, .ls-rgt{width:50%; padding-right:0; margin-right:0;}
ul.facil-lst.retiro li{width:48.5%; min-height:365px; margin-right:1%;}
ul.facil-lst.retiro li:nth-child(2n){margin-right:0;}
ul.facil-lst.retiro .ret-tit-lft .lft-img{width:100%; text-align:center; margin-right:0;}
ul.facil-lst.retiro .ret-tit-lft .lft-img img{float:none; width:auto; margin:0 auto;}
ul.facil-lst.retiro .ret-tit-lft .cont-div{width:100%; text-align:center;}
.ret-tit-rgt a.en-btn{float:none; margin-top:15px;}
.white-box-lft.white-box-tit .ret-tit-rgt{text-align:center;}
.ret-tit-lft .cont-div h3 span{display:block;}
.prog-tab .resp-tabs-list li{padding:10px; font-size:16px;}
.aloj-lft{width:100%; padding:12px 0;}
.aloj-rgt{width:100%; padding-top:0;}
.aloj-rgt h1{float:right; font-size:24px;}
.aloj-rgt h3{margin-left:30%;}
.carac-list ul li .cara-full-rgt ul li{width:50%;}

.aun-car-mbl.mob-ree{ padding:0 15px;}
.flexslider.mob-slider{display:block;}
.aun-car.aun-car-in.mob-ccc, .ab-breadgr.mob-brr{display:none;}
.retro-rgt .white-box-rgt .red-tag1{display:none;}
.r-arrow-yellow{display:block; margin-bottom:10px; float:left; width:100%;}
.envir-but{margin:30px 0;}
.frm-ryt .frm-grp .frm-ctrl.text-area{height:200px;}

.big-titlt{font-size:26px; line-height:32px; padding:10px 20px;}
.card-dtls{width:100%;}
.card-right{padding-left:0; width:100%;}
.desimiler{float: left;width: 100%;padding: 0 20px;}

header.header1.header2 .search-head input[type="text"]{font-size:14px;}
.pro-rgt-pad .prod-txt h3{ display:block;}
.pro-rgt-pad .prod-txt .title p.est{ display:none;}
.pro-rgt-pad .prod-txt .title p.est1{ display:block;}
.pro-rgt-pad .prod-txt h2{ margin-bottom:8px; padding-bottom:0;}


/* about page */
.nustra-blog h1 {font-size: 24px;line-height: 30px;}
.nustra-list {margin-top: 20px;}
.nustra-list ul li .blog-cont h1 {font-size: 20px; line-height: 26px;}

/* about page */
#abt-car.obres .obr-pad {min-height:inherit;}
.abt-car-lft {padding:30px 30px 30px 30px; width: 100%; margin-bottom:20px;}
.abt-car-lft h1 {font-size: 20px; line-height: 28px;}
.abt-car-rgt {width:100%;}
#abt-car.obres .obr-cnt h1 br { display: none;}

.abt-cont-in {padding-right:0px;}
.abt-cont h1 br { display: none;}
.abt-cont h1 {font-size: 24px; line-height: 30px;}


header.header-new .search-div {width: 270px;float: right;}

.bann-cont {bottom: 10%;}
.bann-cont h2 {font-size: 20px;line-height: 26px; margin-bottom:10px;}
.bann-cont h1 {font-size: 24px;line-height: 30px; margin-bottom:10px; width:60%;}
.bann-cont h1 br	{ display:none;}
.bann-cont p{display: none;}

/* team page */
.team-list {padding: 10px 0px;}

/* post page */
.experienca-lft {width:100%;}
.experienca-rht {width:100%;}
.experienca-lft h1 {font-size: 24px;line-height: 30px;}
.experienca-lft h3 {font-size: 19px;line-height: 27px; margin-bottom: 30px;}

.otras.aun-list p {display:block;}
.otras.aun-list ul {display:block;}
.parecido ul.facil-lst.retiro li { width: 100%; min-height: inherit;}
.parecido ul.facil-lst.retiro li .ret-tit-lft .lft-img {float: left;width: 20%;margin-right: 4%;}
.parecido ul.facil-lst.retiro li .ret-tit-lft .cont-div {float: left;width: 76%; text-align: left; margin-top:20px;}
.parecido ul.facil-lst.retiro li ul.tags li{width:auto;}
.parecido ul.facil-lst.retiro li ul.tags li:nth-child(2n) {margin-right:1%;}

.otras.aun-list ul li .list-cont h2 {font-size: 23px;}
.nustra-list ul li .blog-img	{ width:100%; margin-right:0; margin-bottom:15px;}
.nustra-list ul li .blog-cont	{ width:100%; }
.nustra-list ul li .blog-cont a.vue-btn	{ width:100%;}
.abt-car.car-alg		{ position:relative; padding-bottom:170px;}
.car-alg .abt-car-lft	{ position: absolute; bottom:-180px; left:0; padding:200px 30px 50px; margin-right:0;}
.car-alg .abt-car-lft h1	{ font-size:18px;}
.mob-para		{ display:none;}
.team-list ul li	{ width:48.5%; margin-right:3%;}
.team-list ul li:nth-child(2n-2), .team-list ul li:nth-child(6n-6)	{ margin-right:0 !important;}
.team-list ul li:nth-child(3n-3) { margin-right:3%;}
.mob-link	{ display: inline-block;}
.team-list ul li .team-cont h2	{ font-size:16px;}
#testmnl-car.obres .obr-pad	{ min-height:0;}
#testmnl-car .obr-img	{ margin-right:0%; width:100%;}
#testmnl-car .obr-cnt	{ width:100%; position: static; margin-top:-203px;}
#testmnl-car.obres .obr-cnt h1	{ font-size:24px; line-height:34px; padding:55px 25px 35px; color:#fff;}
#testmnl-car.obres .obr-pad:hover .obr-cnt h1	{ color:#fff;}
#testmnl-car.obres .obr-cnt h1::after	{ left:25px;}
#testmnl-car a.todo-btn1	{ width:100%; text-align:center;}
.responde ul li	{ width:47.3%; min-height:74px;}
.caption-imgs		{ top:10%; width:60%;}
.necesit-img img	{ opacity:0;}
.necesit-img		{ background-size:cover; background-position:center right;}
.caption-imgs h2	{ font-size:40px; line-height:48px; margin-bottom:20px;}	
.set-cont ul li		{ width:100%; padding:0 0 0 0;}
.set-cont, .queremos, .funciona			{ padding:30px 0;}
.set-cont ul li:last-child	{ display:none;}
.set-cont ul li h1	{ font-size:22px;}
.queremos h1, .funciona h1, .responde h2		{ font-size:28px; line-height:36px;}
.queremos ul li		{ width:48.5%; margin-right:3%; margin-bottom:17px;}
.queremos ul li:nth-child(2n-2)	{ margin-right:0;}
.queremos ul li .que-txt h2	{ font-size:20px;}
.funciona-l	{ width:100%; margin-right:0; margin-bottom:20px;}
.funciona-r	{ width:100%;}
#testmnl-car .owl-next, #testmnl-car .owl-prev	{ display:none !important;}
.funciona.nuestra ul li	{ width:45%; min-height:43px;}
.funciona.nuestra ul li:nth-child(2n), .funciona.nuestra ul li:nth-child(6n) { margin-right:0 !important;}
.funciona.nuestra ul li:nth-child(3n) { margin-right:5%;}
.funciona.nuestra ul li p	{ display:none;}
.responde ul li	{ width:100%; margin-right:0; min-height:0;}

.blog-list .blog-pp ul li .list-cont h2	{ font-size:20px; margin-bottom:30px;}
.blog-list .blog-pp ul li .list-cont h3	{ font-size:24px; display:none;}
.mob-exp		{ display:block;}
.blog-list .todo-btn1.mob-exp		{ display: inline-block; margin:10px 0; width:100%; text-align:center;}
.desk-exp		{ display:none;}	
.experienca-ppad .cat-list-dp	{ margin-top:60px;}
.experienca-ppad .cat-list-dp ul li	{ width:100%;}
span.exp-btn	{ display:none;}
.blog-list h1	{ font-size:24px; line-height:20px;}
.par-tit		{ border-bottom:2px solid #fbfbfb; padding-bottom:20px;}
.parecido h2	{ width:100%; margin-bottom:20px;}
.share-list		{ margin-left:0px;}
.mob-rht, .otras.aun-list p.sed-para			{ display:none;}
.otras.aun-list li:last-child	{ display: block;}
.aun-list ul	{ margin-top:20px;}
.otras.aun-list a.ver-btn	{ width:100%;}
.crist-para					{ width:100%;}
.obres.retrios-lis ul li	{ width:45%; min-height:43px; margin-right:3%;}
.obres.retrios-lis ul li:nth-child(2n), .obres.retrios-lis ul li:nth-child(6n) { margin-right:0 !important;}
.obres.retrios-lis ul li:nth-child(3n-3) { margin-right:3%;}
.obres.retrios-lis .obr-cnt h1	{ font-size:20px; line-height:28px;}
.obres.retrios-lis .obr-cnt ul li	{ background-position:0 3px;}
.obres.retrios-lis ul li:nth-child(2n+1)	{ clear:both;}
.centro-lft	{ float:none; width:80%; margin:0 auto;}
.centro-rht.ret-tit-lft { margin-top:30px;}
}

/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row, .row1 { width:100%; padding:0px 15px; }

/* index page */
.search-sec {padding: 12px 0px;}
.search-sec.search-hom ul li { margin-bottom:10px;}
.search-sec.search-hom ul li.ser { width:100%;}
.search-sec.search-hom ul li.date{ width:100%;}
.search-sec.search-hom ul li.btn{ display:block; width:100%;}
.search-sec.search-hom ul li input[type="submit"] { width:100%;}
.search-sec.search-hom ul li.ser input[type="text"] {border-radius: 5px 5px;border-right:1px solid #ddd;}
.search-sec.search-hom ul li.date input[type="text"] {border-radius: 5px 5px;border-left-color: #ddd;}
.search-sec.search-hom ul li input[type="text"] {padding: 13px 22px 15px 55px;}

header.header1.header2 .search-div {width:210px; margin-left:0px;}

.search-modal.search-modal-right .search-modal-wrapper { width:100%; display: block; overflow-y:scroll;}
.sear-rgt {float: left;width:100%;overflow-y: auto;height: auto;}
.sear-calendar {float: left; width:100%; padding: 15px 15px 15px 15px;}

.search-sec.search-inn { margin-top:0px; padding:12px 0px;}

/* footer css */
.foot-btm-lft {width:100%; margin-bottom:0px;}
.foot-btm-rgt {width:100%;}
ul.social-lst { width:100%; text-align:center;}
ul.social-lst li { float:none; display:inline-block; margin:0px 5px;}
.payment-sec ul.pay-lst li {width: 20%;}
.payment-sec ul li a img {width: 100%;}

/* 8-1-2019 */
.dudas-lft {float: left;width: 100%;margin-right: 0;}
.dudas-rgt {float: left;width: 100%; margin-top:30px;}
.dudas-rgt .dudas-hab {float: left;width: 100%;}
.ayuda-top ul {padding-left: 0;}
.ayuda-top li{ margin-right:15px;}
.ayuda-top li:last-child{margin-right:0;}
.ayuda-top li:first-child {margin-right: 15px;}
.ayuda-top a{padding: 10px 10px 15px 10px;}
.search{ width:100%;}
.centro-yellow h2{ width:100%; margin-right:0; font-size:20px; line-height:35px;}
.centro-grey h2{ width:100%; margin-right:0; font-size:20px; line-height:35px;}
.centro-yellow h3{ margin-left:0; font-size:18px; line-height:35px;}
.centro-grey h3{ margin-left:0; font-size:18px; line-height:35px;}
.centro-yellow{ padding:15px 0;}
.centro-grey{ padding:15px 0;}
.search .search-txt{ height:40px;}
.search .srch-btn.search-txt{ top:10px;}
/*voluntaris list*/
.tit-div .drop { left: 0px;top: 25px;}
.ret-rgt ul li .obr-cnt h1{ font-size:16px; line-height:20px; margin-bottom:10px;}
.ret-rgt ul li .obr-cnt p{ margin-top:10px;}
/*voluntaris*/
.home-title h1{ font-size:24px; line-height:28px;}
.home-blog-lft ul li .blog-cont h2 {font-size: 16px;}
.home-blog-lft.fullwidth ul li {width: 100%;margin-right: 0;}
/*espais*/
.aun-list h1{ font-size:20px; line-height:26px; margin-bottom:10px;}
.search-sec.voluntar.espais ul li.loca {width: 100%; margin-right: 0; margin-bottom:15px;}
.search-sec.voluntar.espais ul li.capa {width: 100%;margin-right: 0; }
.search-sec.voluntar.espais ul li.loca input[type="text"] {border-radius: 5px;border: 1px solid #dddddd;}
.search-sec.voluntar.espais ul li.capa input[type="text"] {border-radius: 5px;border: 1px solid #dddddd;}
.parecido ul.facil-lst.retiro li	{ margin-bottom:0;}

/*retiros-fitxa*/
.ret-tit-lft h1{font-size:24px; line-height:30px;}
.cara-lft{width:100%; margin-right:0;}
.cara-rgt{width:100%;}
.prog-tab .resp-tabs-list li{padding:8px;}
.white-box-lft .aloj-lft .alog-cont h2 span, .list-rating{display:none;}
.cara-full-lft{width:100%; margin-right:0; margin-bottom:5px;}
.cara-full-rgt{width:100%;}
.resp-tabs-list li.resp-tab-active{border-bottom:1px solid #e6e6e6; color:#f7af02;}
.resp-tab-content.resp-tab-content-active{margin-top:5px;}
.resp-tab-content{border:none;}
.prog-tab .resp-tabs-list li{border-radius: 5px; -webkit-border-radius: 5px;}
a.ana-btn.mob-b{display:none;}
img.m-arrow{display:block;}
.flexslider.mob-slider{min-height:inherit;}
.flexslider.mob-slider li{min-height:inherit;}
.carac-list ul li .cara-full-rgt ul li span.tick-lst{font-size:14px;}

/* about page */
.nustra-list ul li .blog-img {width:100%; margin-right:0px; margin-bottom:20px;}
.nustra-list ul li .blog-cont {width:100%;padding-top: 0px;}


/* team page */
.team-list ul li {width: 48.5%;margin-right: 3%;}
.team-list ul li:nth-child(3n-3) {margin-right:3%;}
.team-list ul li:nth-child(2n-2) {margin-right:0px;}

.abt-cont h1 {font-size: 20px; line-height: 28px;}
.abt-car.car-alg	{ padding-bottom:195px;}
.car-alg .abt-car-lft	{ bottom:-212px;}
.car-alg .abt-car-lft h1	{ font-size:15px;}
.bann-cont	{ bottom:0;}
.bann-cont h2 {font-size: 18px;line-height: 24px; margin-bottom:10px;}
.bann-cont h1 {font-size: 22px;line-height: 28px; margin-bottom:10px; width:50%;}
.banner-home-img.resp-banner img		{ opacity:0;}
.banner-home-img.resp-banner .bann-img { background-size: cover;}

.set-cont ul li h1	{ font-size:16px;}
.queremos h1, .funciona h1, .responde h2	{ font-size:20px; line-height:28px;}
.queremos ul li .que-txt h2	{ font-size:14px; line-height:18px;}
.funciona.nuestra ul li h3	{ font-size:16px;}
.responde ul li	{ padding-bottom:18px; margin-bottom:20px;}
.caption-imgs	{ width:80%;}
#testmnl-car .obr-cnt	{ margin-top:-180px;}
#testmnl-car.obres .obr-cnt h1	{ font-size:20px; line-height:24px; padding:50px 10px 20px}
#testmnl-car.obres .obr-cnt h1::after { left:10px; width:36px; height:31px; background-size:cover;}
.funciona.nuestra ul	{ padding-left:0;}
.funciona.nuestra ul li	{ padding-left:42px;}
.blog-list .blog-pp ul li .list-cont h2	{ font-size:16px;}
.blog-list h1	{ font-size:22px;}
.parecido ul.facil-lst.retiro li .ret-tit-lft .cont-div	{ margin-top:0;}
.par-pad ul.tags li a	{ padding:4px 17px;}
.obres.retrios-lis .obr-cnt h1	{ font-size:16px; line-height:20px;}
.obres.retrios-lis .p-lft	{ width:100%; text-align:center; margin-bottom:10px;}
.p-rgt	{ width:100%; text-align:center; }
.p-rgt h2, .obres.retrios-lis .p-rgt h3	{ float:none; display:inline-block;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.row { width:100%; padding:0px 15px; }	

/* index page */
.search-div {width: 210px;}
header.header1 .search-div {width:210px;}

.aun-car-mbl ul li { width:100%;}
.login-pad .tabs li a.usuario {background-position: 12% 17px;}
.login-pad .tabs li a.facilitador {background-position: 6% 16px;}

/* footer css */
.foot-top ul li {width:50%;min-height:inherit;}

/* 8-1-2019 */
.ayuda-top li{ width:100%; text-align:center; margin-right:0;}
.ayuda-top{ width:100%; text-align:center;}
.ayuda-top a{ float:none; text-align:center; display:inline-block;}
.ayuda-top li:first-child {margin-right: 0;}
/*voluntaris list*/
.banner-inner{ min-height:80px;}
.banner-inner img { min-height:80px;}
.ret-rgt ul li .obr-cnt{ padding:10px;}
.ret-rgt ul li .obr-pad .obr-img{ width:100%;}
.ret-rgt ul li .obr-cnt{ width: 100%;}
.banner-inner h1 {font-size: 18px; margin-bottom:0;}
/*voluntaris*/
.aun-car.categ-sec.voluntar ul li {width: 100%;margin-right: 0;}
.home-title{padding: 20px 0px 20px 0px;}
.search-sec.voluntar ul li:first-child {width: 100%;margin-right: 0;}
.search-sec.voluntar ul li input[type="submit"] { margin-top:20px;}
/*espais*/
.aun-list ul li{ width:100%; margin-right:0;}
.anuncia-pad h1 {font-size: 22px;line-height: 30px;}
/*10-1-2019*/
.ret-rgt ul li .mob-retiros-lst .dis-txt{ margin-top:0;}

/*retiros-fitxa*/
.retiros-sec .row{padding:0;}
.white-box-lft{padding:10px;}
ul.tags li a{padding:4px 8px; font-size:13px;}
.carac-list ul li{border-bottom:none; padding-bottom:0;}
.cara-full-rgt{padding-left:22px;}
.carac-list ul li{padding-top:5px;}
.white-box-lft{box-shadow:none;}
.white-box-lft.white-box-tit h2{font-size:14px;}
ul.facil-lst.retiro li{min-height:460px;}
ul.facil-lst.retiro .ret-tit-lft .lft-img img{width:90%;}
.prog-tab .resp-tabs-list li{padding:3px; font-size:14px;}
.prog-tab .resp-tab-content ul li .time{width:15%;}
.prog-tab .resp-tab-content ul li .descp{width:85%;}
.prog-tab .resp-tab-content ul li{padding:5px 0;}
.ben-lft{width:100%; padding-right:0;}
ul.aloj-list li .aloj-lft .alog-cont ul li{width:100%; font-size:13px;}
.aloj-rgt h3{font-size:13px; margin-left:50%;}
.aloj-rgt{padding:0 10px 0 0;}
.aloj-lft .alog-cont{padding-top:0; padding-right:0; width:50%;}
.aloj-lft .alog-img{width:50%;}
.aloj-lft{padding-bottom:0;}
.aloj-rgt h1{font-size:22px;}
.white-box-lft .aloj-lft .alog-cont h2{font-size:14px;}
.white-box-lft .aloj-lft .alog-cont h2{margin-bottom:5px;}
.carac-list ul li{margin-bottom:15px;}
h2.cont-mob{display:block; color: #373737; font-family: 'barlowbold'; font-size: 12px;}
h2.el-mob span{display:none;}
.ret-tit-rgt.full-wmob a{width:100%;}
.ret-tit-lft .cont-div{width:56%;}
.ret-tit-lft .lft-img{width:40%; }
.facil-lst.rerr .ret-tit-lft .lft-img img{margin-top:15px;}
ul.date-list.fixta li .rat-right{display:block; width:100%;}
.tit-ratings{display:none;}
.white-box-lft .date-list li h3{float:left; line-height:13px; margin-left:10px; }
.white-box-lft .date-list li h2{float:left;}
.white-box-lft .date-list li p{float:left; width:100%;}
.date-list{margin-top:0; border:none;}
.date-list li{padding:20px 0; border:none;}
.frm-ryt li{width:100%; margin-right:0;}
.frm-ryt .frm-grp{margin-bottom:5px}
.retro-lft .white-box-lft.no-pad .divider.pad-45{padding:0 20px;}
.retro-lft .white-box-lft.no-pad .divider{padding:30px 20px;}
.card-bg{width:280px;}
.card-bg{margin-top:0;}
.ret-tit-lft .cont-div h3{font-size:16px;}
.ret-tit-lft p{font-size:14px;}

header.header-new .search-div {width: 210px; margin-left:0px;}

/* team page */
.team-list ul	{ text-align:center;}
.team-list ul li {width: 49%;margin-right: 2%;}
.team-list ul li:nth-child(3n-3) {margin-right:0px;}
.team-list ul li:nth-child(2n-2) {margin-right:0px;}
.team-list ul li .team-img	{ width:90%; float:none; display:inline-block;}
.team-list ul li .team-cont h2	{ font-size:14px;}
.team-list ul li .team-cont	{ padding-top:20px;}

.share-list { margin: 10px 0px; width: 100%;}

.parecido ul.facil-lst.retiro li .ret-tit-lft .lft-img {float: left;;margin-right:10px; margin-bottom:20px;}
.parecido ul.facil-lst.retiro li .ret-tit-lft .lft-img img{float: left;width:auto;}
.parecido ul.facil-lst.retiro li .ret-tit-lft .cont-div {float: left; text-align: left;}
.par-pad .ret-tit-lft .cont-div h3 span	{ font-size:18px;}
.parecido ul.facil-lst.retiro li ul.tags li{width:auto;}

.abt-car.car-alg	{ padding-bottom:215px;}
.car-alg .abt-car-lft	{ bottom:-235px;}
.car-alg .abt-car-lft h1	{ font-size:14px;}
.bann-cont h2 {font-size: 13px;line-height: 18px; margin-bottom:10px;}
.bann-cont h1 {font-size: 20px;line-height: 22px; margin-bottom:10px; width:90%;}
.funciona.nuestra ul li h3	{ font-size:14px;}
.funciona.nuestra ul li	{ min-height:53px;}
.caption-imgs	{ width:100%;}
.caption-imgs h2	{ font-size:37px; line-height:46px;}

.blog-list .blog-pp ul li .list-cont h2	{ font-size:14px; padding:0 10px;}
.blog-list h1	{ font-size:20px;}
.obres.retrios-lis ul li	{ width:100%; margin-right:0;}
}
@media screen and (max-width:319px) {

}


