body {
  margin: 0;
} 

#bg-video, #bg-video1, #bg-video2, #bg-video3, #bg-video4, #bg-video5, #bg-video6, #bg-video7 {
  position: absolute;
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  object-fit:cover;
}
#overlay {
  background: rgba(100,100,100,.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

#textbox {
  color: white;
  font-family: calibri;
  overflow: auto;
  z-index: 11000;
}

#other {
  background: rgba(200,200,200, .8);
  border: 3px solid #aaaaaa;
  width: 60%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.video-hover video { height:100% !important; object-fit:cover;}




