html,
body {
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size: 0.9rem;
}

.header h1 a {
    text-decoration: none;
}

button.navbar-toggler {
    padding: 1px 5px;
}

button.navbar-toggler i {
    font-size: 18px;
}

.logo:hover,
.header-seccio:hover {
    cursor: pointer;
}

.header {
    padding: 5px 0px;
    margin-bottom: 40px;
}

.header .container {
    display: flex;
}

img.avatar {
    width: 40px;
    height: 40px;
}

.selector-idiomas {
    margin: auto 1px;
}

.selector-idiomas button {
    margin-bottom: 0;
    text-transform: capitalize;
}

main.bmd-layout-content {
    padding-top: 20px;
}

.admin-menu-icona,
.admin-menu-icona i {
    font-size: 2.5rem;
    vertical-align: middle;
}

i.add_circle {
    vertical-align: top;
    height: 40px;
    color: #666;
}

i.add_circle:after {
    content: 'add_circle_outline';
    font-size: 24px;
    cursor: pointer;
}

i.add_circle:hover:after {
    content: 'add_circle';
}

.bmd-layout-drawer[aria-expanded="true"] footer {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.bmd-layout-drawer[aria-expanded="false"] footer {
    display: none;
}

.bmd-drawer-in .bmd-layout-drawer footer {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.collapse[aria-expanded="true"] {
    display: block;
}

header a.navbar-brand { color: inherit; }

header a.navbar-brand,
header a.navbar-brand:focus,
header a.navbar-brand:hover {
    text-decoration: inherit;
    text-transform: inherit;
    margin: inherit;
    text-align: inherit;
}

.logo-admin {
    background-image: url(../images/logo.png);
    background-size: 15px 25px;
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    margin-right: 5px;
}
.sidebar-logo {
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}
.title-admin {
    vertical-align: middle;
    background-image: url(../images/logo.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 2.30rem;
}

.title-admin h5 {
    margin: 0;
    text-transform: uppercase;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    /*text-align: center;*/
}

.dropdown-menu button.dropdown-item {
    cursor: pointer;
}

.dropdown-menu .btn-danger,
.dropdown-menu .btn-danger:hover {
    color: #F00;
}

.modal-backdrop {
    display: none !important;
}

.title {
    /*font-size: 84px;*/
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.row {
    display: block;
    width: 90%;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0 auto;
}

.table thead th::after {
    content: none !important;
}

.table td {
    text-align: left;
}

.table td.cela-opcions {
    padding: 0;
    text-align: center;
}

.btn-group-sm .btn,
.btn-group-sm .custom-file-control:before,
.btn-group-sm>.btn,
.btn-group-sm>.custom-file-control:before,
.btn-sm.custom-file-control:before,
.btn.btn-sm {
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.popover-content .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.bmd-layout-content {
    overflow-x: auto;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid rgba(0, 0, 0, .06);
}

a.navbar-brand { padding: 0.25rem; }
/*a.navbar-brand.active,
a.navbar-brand.active:hover,
a.navbar-brand.active:focus,*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    /*margin: 0;*/
    height: auto;
    /*padding: 0.25rem;*/
    z-index: 2;
    color: #fff;
    background-color: #009688;
    border-color: #009688;
    border-radius: 5px 5px;
    /*box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #008477;*/
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    float: unset;
}

.editable-click,
a.editable-click {
    border-bottom: none;
}

.sortable:hover {
    cursor: pointer;
}

span.fc-title {
    color: #fff;
}


/* calendari */

.fc-event-container a.approved {
    background-color: #58c92f;
    border-color: #58c92f;
}

.fc-event-container a.denied {
    background-color: #ffc208;
    border-color: #ffc208;
}

.fc-event-container a.holiday {
    background-color: #c90c2a;
    border-color: #c90c2a;
}

.fc-event-container a.banned {
    background-color: #ccc;
    border-color: #ccc;
}

.fc-timeline-event .fc-time {
    display: none;
}


/* end calendari */


/* bootstrap-select */

.bootstrap-select.custom-select {
    border: none;
    background: none;
    padding-left: 0;
    width: 100%;
}

.bootstrap-select.custom-select button {
    color: #212529 !important;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.dropdown-menu.show .dropdown-item {
    width: 100% !important;
    max-width: none !important;
}


/* end bootstrap-select */


/* labels */

.bmd-form-group .bmd-label-static,
.bmd-form-group.is-filled .bmd-label-floating,
.bmd-form-group .is-filled .bmd-label-floating,
.bmd-form-group.is-focused .bmd-label-floating,
.bmd-form-group .is-focused .bmd-label-floating {
    top: 0.75rem;
    left: 0;
    font-size: 0.9rem;
    color: #999;
}

.avatar-icon {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: scale-down;
}

.card .form-group {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.card .form-group:last-child {
    margin-bottom: 60px;
}

.card .form-group .bmd-label-floating {
    position: relative;
}

.ui-sortable-handle td:hover,
.table-hover tbody tr { cursor: pointer; }

.grid.permisos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.grid.permisos .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.check_petit .checkbox-decorator { margin: 0 !important; padding-top: 0.1rem !important; }
th .check_petit .checkbox-decorator { padding-top: 0.6rem !important; }
.check_petit .checkbox-decorator .check { width: 0.75rem !important; height: 0.75rem !important; }

.nav > li > a:hover, .nav > li > a:focus,
.nav > li > a:hover, .nav > li > a:hover {
    /*background-color: transparent;*/
    background-color: #e0e0e0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    /*background-color: #e0e0e0;*/
    background-color: #009688;
    color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: none;
    /*background-color: #e0e0e0;*/
    background-color: #009688;
    color: #fff;
}
h3 i.add_circle {
    font-size: 28px;
}

.field-form-row .bmd-label-floating,
.field-form-row .bmd-form-group.is-filled .bmd-label-floating { top: 0; }

.ui-helper-hidden-accessible { display: none; }

/* MENU */
.bmd-layout-drawer > header .navbar-brand { font-size: .875rem; height: auto; }
.navbar-brand { padding-top: 1rem; }
div#dw-s1 { padding: 1rem; padding-left: 0.75rem; }
.bmd-layout-drawer .list-group li { list-style: none; text-align: center; }
.bmd-layout-drawer>header { padding: 0; margin-top: 0.25rem; }
.bmd-layout-drawer>header:hover {
    height: auto;
    z-index: 2;
    background-color: hsla(0,0%,78%,.2);
    border-color: hsla(0,0%,78%,.2);
    border-radius: 5px 5px;
}
a.navbar-brand.active { color: #009688; }
/* end MENU */


/* AMPLADA HEADER, MENU, CONTENT */
.bmd-drawer-f-l>.bmd-layout-drawer{
    width: var(--width-sidebar);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden;
}
:not(.bmd-drawer-out).bmd-drawer-in .bmd-layout-content { margin-left: var(--width-sidebar); }
:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l>.bmd-layout-header {
    width: calc(100% - var(--width-sidebar));
    margin-left: var(--width-sidebar);
}
/* MINIMIZED */
.bmd-drawer-f-l>.bmd-layout-drawer.minimized{ width: var(--width-sidebar-minimized) }
:not(.bmd-drawer-out).bmd-drawer-in .bmd-layout-content.minimized { margin-left: var(--width-sidebar-minimized); }
:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l>.bmd-layout-header.minimized {
    width: calc(100% - var(--width-sidebar-minimized));
    margin-left: var(--width-sidebar-minimized);
}
/*.bmd-layout-drawer.minimized ul.list-group { display: none; }*/
.bmd-layout-drawer.minimized span { display: none; }
.bmd-layout-drawer.minimized .list-group li a { display: none; }
.bmd-layout-drawer .list-group li a.minimized { display: none; }
.bmd-layout-drawer.minimized .list-group li a.minimized {
    display: inline-block;
    width: 24px;
    padding-left: 0.4rem;
    padding: 0;
}
/* end AMPLADA HEADER, MENU, CONTENT */

/* SIDEBAR MINIMIZED */
* { --width-sidebar-minimized: 45px; --width-sidebar: 200px; }
/* end SIDEBAR MINIMIZED */

.content .btn.btn-default.btn-raised { background-color: white; }
.bmd-layout-container { background-color: #eee; }
.capsalera-menu {
    flex-wrap: unset;
    box-shadow: none;
    padding: 20px 40px 0px 40px;
}

.switch label { color: #999; }

/* SIDEBAR: Fletxes submenus */
.bmd-layout-drawer.minimized .navbar-brand .caret {
    position: inherit;
}
.bmd-layout-drawer .navbar-brand .caret {
    right: 20px;
    position: absolute;
    margin-top: 10px;
}

.bmd-layout-drawer .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.caret, .bmd-layout-drawer a {
    transition: all .15s ease-in;
}

.btn-group.bootstrap-select.open .caret, .dropdown.open .caret, .dropup.open .caret, a[aria-expanded=true] .caret, a[data-toggle=collapse][aria-expanded=true] .caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}
/* end SIDEBAR: Fletxes submenus */

/* Card noconflict */
.card-noconflict {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-noconflict {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: .125rem;
}
/* end Card noconflict */

/* CONTAINER2 */
/*.container { max-width: 100% !important; }*/
/* end CONTAINER2 */

i.material-icons.boto-menu-admin {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 18px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
i.material-icons.boto-menu-admin:hover { color: rgba(0, 0, 0, 0.5) !important; }
.btn.btn-default.btn-raised:hover, .btn.btn-default.btn-raised:focus { color: #000 !important; }

.modal.fade .modal-dialog {
    transition: none !important;
    transform: none !important;
}

.ui-tooltip { display: none !important; }