html, body {
	background-color: #fff;
	color: #636b6f;
	/*font-family: 'Nunito', sans-serif;*/
	font-weight: 200;
	height: 100vh;
	margin: 0;
}

main.bmd-layout-content { padding-top: 20px; }

.admin-menu-icona, .admin-menu-icona i { font-size: 2.5rem; vertical-align: middle; }

i.add_circle { vertical-align: top; height: 40px; color: #666; }
i.add_circle:after { content: 'add_circle_outline'; font-size: 24px; cursor: pointer; }
i.add_circle:hover:after { content: 'add_circle'; }

.bmd-layout-drawer[aria-expanded="true"] footer { position: fixed;bottom: 0;right: 10px; }
.bmd-layout-drawer[aria-expanded="false"] footer { display: none; }

.bmd-drawer-in .bmd-layout-drawer footer { position: fixed;bottom: 0;right: 10px; }

.collapse[aria-expanded="true"] { display: block; }

header a.navbar-brand, header a.navbar-brand:focus, header a.navbar-brand:hover {
	color: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	margin: inherit;
	text-align: inherit;
}

.logo {
	background-image: url('../images/logo_endo.png');
	background-size: 15px 26px;
	background-repeat: no-repeat;
	width: 20px;
	height: 28px;
	margin-right: 5px;
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-moz-filter: grayscale(100%);*/
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	/*text-align: center;*/
}

.dropdown-menu button.dropdown-item { cursor: pointer; }
.dropdown-menu .btn-danger, .dropdown-menu .btn-danger:hover { color: #F00; }

.modal-backdrop { display: none !important; }

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.row { display: block; width: 90%; }
div.table-responsive > div.dataTables_wrapper > div.row { margin: 0 auto; }

.table thead th::after { content: none !important; }
.table td { text-align: left; }
.table td.cela-opcions { padding: 0; text-align: center; }