/* DASHBOARD */
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header {
    z-index: 3!important;
}
.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
    border: none;
}
.card.bg-success, .card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-success .back, .card.card-rotate.bg-success .front {
    background: linear-gradient(60deg,#66bb6a,#43a047);
}
.card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}
.card .card-header.card-header-icon i, .card .card-header.card-header-text i {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: white;
}
.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3c4858;
}

.card .card-header.card-header-icon h4, .card .card-header.card-header-text h4 {
    font-weight: 300;
}
.card .card-header .card-title {
    margin-bottom: 3px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-sales {
    margin-top: 40px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,.06);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
}
.card .table tr:first-child td {
    border-top: none;
}
.card.bg-primary,
.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg, #ab47bc, #8e24aa)
}

.card.bg-info,
.card .card-header-info .card-icon,
.card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-info .back,
.card.card-rotate.bg-info .front {
    background: linear-gradient(60deg, #26c6da, #00acc1)
}

.card.bg-success,
.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-success .back,
.card.card-rotate.bg-success .front {
    background: linear-gradient(60deg, #66bb6a, #43a047)
}

.card.bg-warning,
.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-warning .back,
.card.card-rotate.bg-warning .front {
    background: linear-gradient(60deg, #ffa726, #fb8c00)
}

.card.bg-danger,
.card .card-header-danger .card-icon,
.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-danger .back,
.card.card-rotate.bg-danger .front {
    background: linear-gradient(60deg, #ef5350, #e53935)
}

.card.bg-rose,
.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-rose .back,
.card.card-rotate.bg-rose .front {
    background: linear-gradient(60deg, #ec407a, #d81b60)
}

.card.bg-yellow,
.card .card-header-yellow .card-icon,
.card .card-header-yellow .card-text,
.card .card-header-yellow:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-yellow .back,
.card.card-rotate.bg-yellow .front {
    background: linear-gradient(60deg, #ffcf26, #fbdf00);
}

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4)
}

.card .card-header-danger .card-icon,
.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4)
}

.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4)
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4)
}

.card .card-header-info .card-icon,
.card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 188, 212, .4)
}

.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4)
}

.card .card-header-yellow .card-icon,
.card .card-header-yellow .card-text,
.card .card-header-yellow:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 183, 0, 0.4);
}
/* end DASHBOARD */

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

/* INPUT FILE */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px
}

.fileinput .thumbnail>img {
    max-height: 100%;
    width: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

.fileinput.input-group>* {
    position: relative;
    z-index: 2
}

.fileinput.input-group>.btn-file {
    z-index: 1
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0
}

.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm,
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-group-sm>.btn-file.btn,
.fileinput-new .input-group .btn-group-sm>.btn-file.btn {
    border-radius: 0 3px 3px 0
}

.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg,
.fileinput-new.input-group .btn-group-lg>.btn-file.btn,
.fileinput-new .input-group .btn-group-lg>.btn-file.btn {
    border-radius: 0 6px 6px 0
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #ff9800
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #ff9800
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #f44336
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #f44336
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #4caf50
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #4caf50
}

.input-group-addon:not(:first-child) {
    border-left: 0
}

.thumbnail {
    border: 0 none;
    border-radius: 4px;
    padding: 0
}
/* end INPUT FILE */

/* BUTTONS */
/*.btn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .2rem;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow, transform
}*/

.btn,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn.btn-primary {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12)
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: #fff;
    background-color: #9124a3;
    border-color: #701c7e
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.open>.btn.btn-primary.dropdown-toggle,
.show>.btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #9124a3;
    border-color: #701c7e;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12)
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.open>.btn.btn-primary.dropdown-toggle.focus,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.show>.btn.btn-primary.dropdown-toggle.focus,
.show>.btn.btn-primary.dropdown-toggle:focus,
.show>.btn.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #9124a3;
    border-color: #3f1048
}

.open>.btn.btn-primary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #9c27b0
}

.open>.btn.btn-primary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #9124a3
}

.btn.btn-primary.disabled.focus,
.btn.btn-primary.disabled:focus,
.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled.focus,
.btn.btn-primary:disabled:focus,
.btn.btn-primary:disabled:hover {
    background-color: #9c27b0;
    border-color: #9c27b0
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(156, 39, 176, .2)
}

.btn.btn-primary.btn-link {
    box-shadow: none
}

.btn.btn-primary.btn-link,
.btn.btn-primary.btn-link:active,
.btn.btn-primary.btn-link:focus,
.btn.btn-primary.btn-link:hover {
    background-color: transparent;
    color: #9c27b0
}

.btn.btn-secondary {
    color: #333;
    background-color: #fafafa;
    border-color: #ccc;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 98%, .14), 0 3px 1px -2px hsla(0, 0%, 98%, .2), 0 1px 5px 0 hsla(0, 0%, 98%, .12)
}

.btn.btn-secondary.focus,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
    color: #333;
    background-color: #f2f2f2;
    border-color: #adadad
}

.btn.btn-secondary.active,
.btn.btn-secondary:active,
.open>.btn.btn-secondary.dropdown-toggle,
.show>.btn.btn-secondary.dropdown-toggle {
    color: #333;
    background-color: #f2f2f2;
    border-color: #adadad;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 98%, .14), 0 3px 1px -2px hsla(0, 0%, 98%, .2), 0 1px 5px 0 hsla(0, 0%, 98%, .12)
}

.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover,
.open>.btn.btn-secondary.dropdown-toggle.focus,
.open>.btn.btn-secondary.dropdown-toggle:focus,
.open>.btn.btn-secondary.dropdown-toggle:hover,
.show>.btn.btn-secondary.dropdown-toggle.focus,
.show>.btn.btn-secondary.dropdown-toggle:focus,
.show>.btn.btn-secondary.dropdown-toggle:hover {
    color: #333;
    background-color: #f2f2f2;
    border-color: #8c8c8c
}

.open>.btn.btn-secondary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #fafafa
}

.open>.btn.btn-secondary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #f2f2f2
}

.btn.btn-secondary.disabled.focus,
.btn.btn-secondary.disabled:focus,
.btn.btn-secondary.disabled:hover,
.btn.btn-secondary:disabled.focus,
.btn.btn-secondary:disabled:focus,
.btn.btn-secondary:disabled:hover {
    background-color: #fafafa;
    border-color: #ccc
}

.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
    box-shadow: 0 14px 26px -12px hsla(0, 0%, 98%, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px hsla(0, 0%, 98%, .2)
}

.btn.btn-secondary.btn-link {
    box-shadow: none
}

.btn.btn-secondary.btn-link,
.btn.btn-secondary.btn-link:active,
.btn.btn-secondary.btn-link:focus,
.btn.btn-secondary.btn-link:hover {
    background-color: transparent;
    color: #fafafa
}

.btn.btn-info {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, .14), 0 3px 1px -2px rgba(0, 188, 212, .2), 0 1px 5px 0 rgba(0, 188, 212, .12)
}

.btn.btn-info.focus,
.btn.btn-info:focus,
.btn.btn-info:hover {
    color: #fff;
    background-color: #00aec5;
    border-color: #008697
}

.btn.btn-info.active,
.btn.btn-info:active,
.open>.btn.btn-info.dropdown-toggle,
.show>.btn.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #00aec5;
    border-color: #008697;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, .14), 0 3px 1px -2px rgba(0, 188, 212, .2), 0 1px 5px 0 rgba(0, 188, 212, .12)
}

.btn.btn-info.active.focus,
.btn.btn-info.active:focus,
.btn.btn-info.active:hover,
.btn.btn-info:active.focus,
.btn.btn-info:active:focus,
.btn.btn-info:active:hover,
.open>.btn.btn-info.dropdown-toggle.focus,
.open>.btn.btn-info.dropdown-toggle:focus,
.open>.btn.btn-info.dropdown-toggle:hover,
.show>.btn.btn-info.dropdown-toggle.focus,
.show>.btn.btn-info.dropdown-toggle:focus,
.show>.btn.btn-info.dropdown-toggle:hover {
    color: #fff;
    background-color: #00aec5;
    border-color: #004b55
}

.open>.btn.btn-info.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #00bcd4
}

.open>.btn.btn-info.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #00aec5
}

.btn.btn-info.disabled.focus,
.btn.btn-info.disabled:focus,
.btn.btn-info.disabled:hover,
.btn.btn-info:disabled.focus,
.btn.btn-info:disabled:focus,
.btn.btn-info:disabled:hover {
    background-color: #00bcd4;
    border-color: #00bcd4
}

.btn.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 188, 212, .2)
}

.btn.btn-info.btn-link {
    box-shadow: none
}

.btn.btn-info.btn-link,
.btn.btn-info.btn-link:active,
.btn.btn-info.btn-link:focus,
.btn.btn-info.btn-link:hover {
    background-color: transparent;
    color: #00bcd4
}

.btn.btn-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, .14), 0 3px 1px -2px rgba(76, 175, 80, .2), 0 1px 5px 0 rgba(76, 175, 80, .12)
}

.btn.btn-success.focus,
.btn.btn-success:focus,
.btn.btn-success:hover {
    color: #fff;
    background-color: #47a44b;
    border-color: #39843c
}

.btn.btn-success.active,
.btn.btn-success:active,
.open>.btn.btn-success.dropdown-toggle,
.show>.btn.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #47a44b;
    border-color: #39843c;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, .14), 0 3px 1px -2px rgba(76, 175, 80, .2), 0 1px 5px 0 rgba(76, 175, 80, .12)
}

.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover,
.open>.btn.btn-success.dropdown-toggle.focus,
.open>.btn.btn-success.dropdown-toggle:focus,
.open>.btn.btn-success.dropdown-toggle:hover,
.show>.btn.btn-success.dropdown-toggle.focus,
.show>.btn.btn-success.dropdown-toggle:focus,
.show>.btn.btn-success.dropdown-toggle:hover {
    color: #fff;
    background-color: #47a44b;
    border-color: #255627
}

.open>.btn.btn-success.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #4caf50
}

.open>.btn.btn-success.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #47a44b
}

.btn.btn-success.disabled.focus,
.btn.btn-success.disabled:focus,
.btn.btn-success.disabled:hover,
.btn.btn-success:disabled.focus,
.btn.btn-success:disabled:focus,
.btn.btn-success:disabled:hover {
    background-color: #4caf50;
    border-color: #4caf50
}

.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(76, 175, 80, .2)
}

.btn.btn-success.btn-link {
    box-shadow: none
}

.btn.btn-success.btn-link,
.btn.btn-success.btn-link:active,
.btn.btn-success.btn-link:focus,
.btn.btn-success.btn-link:hover {
    background-color: transparent;
    color: #4caf50
}

.btn.btn-warning {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, .14), 0 3px 1px -2px rgba(255, 152, 0, .2), 0 1px 5px 0 rgba(255, 152, 0, .12)
}

.btn.btn-warning.focus,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
    color: #fff;
    background-color: #f08f00;
    border-color: #c27400
}

.btn.btn-warning.active,
.btn.btn-warning:active,
.open>.btn.btn-warning.dropdown-toggle,
.show>.btn.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #f08f00;
    border-color: #c27400;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, .14), 0 3px 1px -2px rgba(255, 152, 0, .2), 0 1px 5px 0 rgba(255, 152, 0, .12)
}

.btn.btn-warning.active.focus,
.btn.btn-warning.active:focus,
.btn.btn-warning.active:hover,
.btn.btn-warning:active.focus,
.btn.btn-warning:active:focus,
.btn.btn-warning:active:hover,
.open>.btn.btn-warning.dropdown-toggle.focus,
.open>.btn.btn-warning.dropdown-toggle:focus,
.open>.btn.btn-warning.dropdown-toggle:hover,
.show>.btn.btn-warning.dropdown-toggle.focus,
.show>.btn.btn-warning.dropdown-toggle:focus,
.show>.btn.btn-warning.dropdown-toggle:hover {
    color: #fff;
    background-color: #f08f00;
    border-color: #804c00
}

.open>.btn.btn-warning.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #ff9800
}

.open>.btn.btn-warning.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #f08f00
}

.btn.btn-warning.disabled.focus,
.btn.btn-warning.disabled:focus,
.btn.btn-warning.disabled:hover,
.btn.btn-warning:disabled.focus,
.btn.btn-warning:disabled:focus,
.btn.btn-warning:disabled:hover {
    background-color: #ff9800;
    border-color: #ff9800
}

.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
    box-shadow: 0 14px 26px -12px rgba(255, 152, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(255, 152, 0, .2)
}

.btn.btn-warning.btn-link {
    box-shadow: none
}

.btn.btn-warning.btn-link,
.btn.btn-warning.btn-link:active,
.btn.btn-warning.btn-link:focus,
.btn.btn-warning.btn-link:hover {
    background-color: transparent;
    color: #ff9800
}

.btn.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, .14), 0 3px 1px -2px rgba(244, 67, 54, .2), 0 1px 5px 0 rgba(244, 67, 54, .12)
}

.btn.btn-danger.focus,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
    color: #fff;
    background-color: #f33527;
    border-color: #e11b0c
}

.btn.btn-danger.active,
.btn.btn-danger:active,
.open>.btn.btn-danger.dropdown-toggle,
.show>.btn.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f33527;
    border-color: #e11b0c;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, .14), 0 3px 1px -2px rgba(244, 67, 54, .2), 0 1px 5px 0 rgba(244, 67, 54, .12)
}

.btn.btn-danger.active.focus,
.btn.btn-danger.active:focus,
.btn.btn-danger.active:hover,
.btn.btn-danger:active.focus,
.btn.btn-danger:active:focus,
.btn.btn-danger:active:hover,
.open>.btn.btn-danger.dropdown-toggle.focus,
.open>.btn.btn-danger.dropdown-toggle:focus,
.open>.btn.btn-danger.dropdown-toggle:hover,
.show>.btn.btn-danger.dropdown-toggle.focus,
.show>.btn.btn-danger.dropdown-toggle:focus,
.show>.btn.btn-danger.dropdown-toggle:hover {
    color: #fff;
    background-color: #f33527;
    border-color: #a21309
}

.open>.btn.btn-danger.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #f44336
}

.open>.btn.btn-danger.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #f33527
}

.btn.btn-danger.disabled.focus,
.btn.btn-danger.disabled:focus,
.btn.btn-danger.disabled:hover,
.btn.btn-danger:disabled.focus,
.btn.btn-danger:disabled:focus,
.btn.btn-danger:disabled:hover {
    background-color: #f44336;
    border-color: #f44336
}

.btn.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
    box-shadow: 0 14px 26px -12px rgba(244, 67, 54, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(244, 67, 54, .2)
}

.btn.btn-danger.btn-link {
    box-shadow: none
}

.btn.btn-danger.btn-link,
.btn.btn-danger.btn-link:active,
.btn.btn-danger.btn-link:focus,
.btn.btn-danger.btn-link:hover {
    background-color: transparent;
    color: #f44336
}

.btn.btn-rose {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, .14), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .12)
}

.btn.btn-rose.focus,
.btn.btn-rose:focus,
.btn.btn-rose:hover {
    color: #fff;
    background-color: #ea2c6d;
    border-color: #b8124a
}

.btn.btn-rose.active,
.btn.btn-rose:active,
.open>.btn.btn-rose.dropdown-toggle,
.show>.btn.btn-rose.dropdown-toggle {
    color: #fff;
    background-color: #ea2c6d;
    border-color: #b8124a;
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, .14), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .12)
}

.btn.btn-rose.active.focus,
.btn.btn-rose.active:focus,
.btn.btn-rose.active:hover,
.btn.btn-rose:active.focus,
.btn.btn-rose:active:focus,
.btn.btn-rose:active:hover,
.open>.btn.btn-rose.dropdown-toggle.focus,
.open>.btn.btn-rose.dropdown-toggle:focus,
.open>.btn.btn-rose.dropdown-toggle:hover,
.show>.btn.btn-rose.dropdown-toggle.focus,
.show>.btn.btn-rose.dropdown-toggle:focus,
.show>.btn.btn-rose.dropdown-toggle:hover {
    color: #fff;
    background-color: #ea2c6d;
    border-color: #7b0c32
}

.open>.btn.btn-rose.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #e91e63
}

.open>.btn.btn-rose.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #ea2c6d
}

.btn.btn-rose.disabled.focus,
.btn.btn-rose.disabled:focus,
.btn.btn-rose.disabled:hover,
.btn.btn-rose:disabled.focus,
.btn.btn-rose:disabled:focus,
.btn.btn-rose:disabled:hover {
    background-color: #e91e63;
    border-color: #e91e63
}

.btn.btn-rose:active,
.btn.btn-rose:focus,
.btn.btn-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(233, 30, 99, .2)
}

.btn.btn-rose.btn-link {
    box-shadow: none
}

.btn.btn-rose.btn-link,
.btn.btn-rose.btn-link:active,
.btn.btn-rose.btn-link:focus,
.btn.btn-rose.btn-link:hover {
    background-color: transparent;
    color: #e91e63
}

/*.btn,
.btn.btn-default {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, .14), 0 3px 1px -2px hsla(0, 0%, 60%, .2), 0 1px 5px 0 hsla(0, 0%, 60%, .12)
}*/

.btn.btn-default.focus,
.btn.btn-default:focus,
.btn.btn-default:hover,
.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a
}

.btn.active,
.btn.btn-default.active,
.btn.btn-default:active,
.btn:active,
.open>.btn.btn-default.dropdown-toggle,
.open>.btn.dropdown-toggle,
.show>.btn.btn-default.dropdown-toggle,
.show>.btn.dropdown-toggle {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, .14), 0 3px 1px -2px hsla(0, 0%, 60%, .2), 0 1px 5px 0 hsla(0, 0%, 60%, .12)
}

.btn.active.focus,
.btn.active:focus,
.btn.active:hover,
.btn.btn-default.active.focus,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover,
.btn.btn-default:active.focus,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover,
.btn:active.focus,
.btn:active:focus,
.btn:active:hover,
.open>.btn.btn-default.dropdown-toggle.focus,
.open>.btn.btn-default.dropdown-toggle:focus,
.open>.btn.btn-default.dropdown-toggle:hover,
.open>.btn.dropdown-toggle.focus,
.open>.btn.dropdown-toggle:focus,
.open>.btn.dropdown-toggle:hover,
.show>.btn.btn-default.dropdown-toggle.focus,
.show>.btn.btn-default.dropdown-toggle:focus,
.show>.btn.btn-default.dropdown-toggle:hover,
.show>.btn.dropdown-toggle.focus,
.show>.btn.dropdown-toggle:focus,
.show>.btn.dropdown-toggle:hover {
    color: #fff;
    background-color: #919191;
    border-color: #595959
}

.open>.btn.btn-default.dropdown-toggle.bmd-btn-icon,
.open>.btn.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #999
}

.open>.btn.btn-default.dropdown-toggle.bmd-btn-icon:hover,
.open>.btn.dropdown-toggle.bmd-btn-icon:hover {
    background-color: #919191
}

.btn.btn-default.disabled.focus,
.btn.btn-default.disabled:focus,
.btn.btn-default.disabled:hover,
.btn.btn-default:disabled.focus,
.btn.btn-default:disabled:focus,
.btn.btn-default:disabled:hover,
.btn.disabled.focus,
.btn.disabled:focus,
.btn.disabled:hover,
.btn:disabled.focus,
.btn:disabled:focus,
.btn:disabled:hover {
    background-color: #999;
    border-color: #999
}

.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover,
.btn:active,
.btn:focus,
.btn:hover {
    box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px hsla(0, 0%, 60%, .2)
}

.btn.btn-default.btn-link,
.btn.btn-link {
    background-color: transparent;
    color: #999;
    box-shadow: none
}

.btn.btn-default.btn-link:active,
.btn.btn-default.btn-link:focus,
.btn.btn-default.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
    background-color: transparent;
    color: #999
}

.btn.btn-white,
.btn.btn-white:focus,
.btn.btn-white:hover {
    background-color: #fff;
    color: #999
}

.btn.btn-white.btn-link {
    color: #fff;
    background: transparent;
    box-shadow: none
}

.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
    text-decoration: none !important
}

.btn-group-raised .btn.btn-link,
.btn-group-raised .btn.btn-link.active,
.btn-group-raised .btn.btn-link:active,
.btn-group-raised .btn.btn-link:focus,
.btn-group-raised .btn.btn-link:hover,
.btn-group-raised .btn.disabled,
.btn-group-raised .btn:disabled,
.btn-group-raised .btn[disabled],
.btn.btn-raised.btn-link,
.btn.btn-raised.btn-link.active,
.btn.btn-raised.btn-link:active,
.btn.btn-raised.btn-link:focus,
.btn.btn-raised.btn-link:hover,
.btn.btn-raised.disabled,
.btn.btn-raised:disabled,
.btn.btn-raised[disabled],
fieldset[disabled][disabled] .btn-group-raised .btn,
fieldset[disabled][disabled] .btn.btn-raised {
    box-shadow: none
}

.btn.btn-outline,
.btn.btn-outline-danger,
.btn.btn-outline-info,
.btn.btn-outline-primary,
.btn.btn-outline-secondary,
.btn.btn-outline-success,
.btn.btn-outline-warning {
    border: 1px solid currentColor
}

.btn.btn-outline {
    color: #333;
    background-color: transparent;
    border-color: #333
}

.btn.btn-outline.focus,
.btn.btn-outline:focus,
.btn.btn-outline:hover {
    color: #333;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #333
}

.btn.btn-outline.active,
.btn.btn-outline:active,
.open>.btn.btn-outline.dropdown-toggle,
.show>.btn.btn-outline.dropdown-toggle {
    color: #333;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline.active.focus,
.btn.btn-outline.active:focus,
.btn.btn-outline.active:hover,
.btn.btn-outline:active.focus,
.btn.btn-outline:active:focus,
.btn.btn-outline:active:hover,
.open>.btn.btn-outline.dropdown-toggle.focus,
.open>.btn.btn-outline.dropdown-toggle:focus,
.open>.btn.btn-outline.dropdown-toggle:hover,
.show>.btn.btn-outline.dropdown-toggle.focus,
.show>.btn.btn-outline.dropdown-toggle:focus,
.show>.btn.btn-outline.dropdown-toggle:hover {
    color: #333;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #333
}

.open>.btn.btn-outline.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline,
.btn.btn-outline.disabled.focus,
.btn.btn-outline.disabled:focus,
.btn.btn-outline.disabled:hover,
.btn.btn-outline:disabled.focus,
.btn.btn-outline:disabled:focus,
.btn.btn-outline:disabled:hover {
    background-color: transparent;
    border-color: #333
}

.bg-inverse .btn.btn-outline {
    color: #333
}

.bg-inverse .btn.btn-outline.focus,
.bg-inverse .btn.btn-outline:focus,
.bg-inverse .btn.btn-outline:hover {
    color: #333;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline.active,
.bg-inverse .btn.btn-outline:active,
.open>.bg-inverse .btn.btn-outline.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline.dropdown-toggle {
    color: #333;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline.active.focus,
.bg-inverse .btn.btn-outline.active:focus,
.bg-inverse .btn.btn-outline.active:hover,
.bg-inverse .btn.btn-outline:active.focus,
.bg-inverse .btn.btn-outline:active:focus,
.bg-inverse .btn.btn-outline:active:hover,
.open>.bg-inverse .btn.btn-outline.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline.dropdown-toggle:hover {
    color: #333;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline.disabled.focus,
.bg-inverse .btn.btn-outline.disabled:focus,
.bg-inverse .btn.btn-outline.disabled:hover,
.bg-inverse .btn.btn-outline:disabled.focus,
.bg-inverse .btn.btn-outline:disabled:focus,
.bg-inverse .btn.btn-outline:disabled:hover {
    background-color: transparent;
    border-color: #333
}

.btn.btn-outline.btn-link {
    background-color: transparent
}

.btn.btn-outline-primary {
    color: #9c27b0;
    background-color: transparent;
    border-color: #9c27b0
}

.btn.btn-outline-primary.focus,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:hover {
    color: #9c27b0;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #9c27b0
}

.btn.btn-outline-primary.active,
.btn.btn-outline-primary:active,
.open>.btn.btn-outline-primary.dropdown-toggle,
.show>.btn.btn-outline-primary.dropdown-toggle {
    color: #9c27b0;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-primary.active.focus,
.btn.btn-outline-primary.active:focus,
.btn.btn-outline-primary.active:hover,
.btn.btn-outline-primary:active.focus,
.btn.btn-outline-primary:active:focus,
.btn.btn-outline-primary:active:hover,
.open>.btn.btn-outline-primary.dropdown-toggle.focus,
.open>.btn.btn-outline-primary.dropdown-toggle:focus,
.open>.btn.btn-outline-primary.dropdown-toggle:hover,
.show>.btn.btn-outline-primary.dropdown-toggle.focus,
.show>.btn.btn-outline-primary.dropdown-toggle:focus,
.show>.btn.btn-outline-primary.dropdown-toggle:hover {
    color: #9c27b0;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #9c27b0
}

.open>.btn.btn-outline-primary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-primary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-primary,
.btn.btn-outline-primary.disabled.focus,
.btn.btn-outline-primary.disabled:focus,
.btn.btn-outline-primary.disabled:hover,
.btn.btn-outline-primary:disabled.focus,
.btn.btn-outline-primary:disabled:focus,
.btn.btn-outline-primary:disabled:hover {
    background-color: transparent;
    border-color: #9c27b0
}

.bg-inverse .btn.btn-outline-primary {
    color: #9c27b0
}

.bg-inverse .btn.btn-outline-primary.focus,
.bg-inverse .btn.btn-outline-primary:focus,
.bg-inverse .btn.btn-outline-primary:hover {
    color: #9c27b0;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-primary.active,
.bg-inverse .btn.btn-outline-primary:active,
.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-primary.dropdown-toggle {
    color: #9c27b0;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-primary.active.focus,
.bg-inverse .btn.btn-outline-primary.active:focus,
.bg-inverse .btn.btn-outline-primary.active:hover,
.bg-inverse .btn.btn-outline-primary:active.focus,
.bg-inverse .btn.btn-outline-primary:active:focus,
.bg-inverse .btn.btn-outline-primary:active:hover,
.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-primary.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-primary.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-primary.dropdown-toggle:hover {
    color: #9c27b0;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-primary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-primary.disabled.focus,
.bg-inverse .btn.btn-outline-primary.disabled:focus,
.bg-inverse .btn.btn-outline-primary.disabled:hover,
.bg-inverse .btn.btn-outline-primary:disabled.focus,
.bg-inverse .btn.btn-outline-primary:disabled:focus,
.bg-inverse .btn.btn-outline-primary:disabled:hover {
    background-color: transparent;
    border-color: #9c27b0
}

.btn.btn-outline-primary.btn-link {
    background-color: transparent
}

.btn.btn-outline-secondary {
    color: #333;
    background-color: transparent;
    border-color: #333
}

.btn.btn-outline-secondary.focus,
.btn.btn-outline-secondary:focus,
.btn.btn-outline-secondary:hover {
    color: #333;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #333
}

.btn.btn-outline-secondary.active,
.btn.btn-outline-secondary:active,
.open>.btn.btn-outline-secondary.dropdown-toggle,
.show>.btn.btn-outline-secondary.dropdown-toggle {
    color: #333;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-secondary.active.focus,
.btn.btn-outline-secondary.active:focus,
.btn.btn-outline-secondary.active:hover,
.btn.btn-outline-secondary:active.focus,
.btn.btn-outline-secondary:active:focus,
.btn.btn-outline-secondary:active:hover,
.open>.btn.btn-outline-secondary.dropdown-toggle.focus,
.open>.btn.btn-outline-secondary.dropdown-toggle:focus,
.open>.btn.btn-outline-secondary.dropdown-toggle:hover,
.show>.btn.btn-outline-secondary.dropdown-toggle.focus,
.show>.btn.btn-outline-secondary.dropdown-toggle:focus,
.show>.btn.btn-outline-secondary.dropdown-toggle:hover {
    color: #333;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #333
}

.open>.btn.btn-outline-secondary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-secondary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-secondary,
.btn.btn-outline-secondary.disabled.focus,
.btn.btn-outline-secondary.disabled:focus,
.btn.btn-outline-secondary.disabled:hover,
.btn.btn-outline-secondary:disabled.focus,
.btn.btn-outline-secondary:disabled:focus,
.btn.btn-outline-secondary:disabled:hover {
    background-color: transparent;
    border-color: #333
}

.bg-inverse .btn.btn-outline-secondary {
    color: #333
}

.bg-inverse .btn.btn-outline-secondary.focus,
.bg-inverse .btn.btn-outline-secondary:focus,
.bg-inverse .btn.btn-outline-secondary:hover {
    color: #333;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-secondary.active,
.bg-inverse .btn.btn-outline-secondary:active,
.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle {
    color: #333;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-secondary.active.focus,
.bg-inverse .btn.btn-outline-secondary.active:focus,
.bg-inverse .btn.btn-outline-secondary.active:hover,
.bg-inverse .btn.btn-outline-secondary:active.focus,
.bg-inverse .btn.btn-outline-secondary:active:focus,
.bg-inverse .btn.btn-outline-secondary:active:hover,
.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle:hover {
    color: #333;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-secondary.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-secondary.disabled.focus,
.bg-inverse .btn.btn-outline-secondary.disabled:focus,
.bg-inverse .btn.btn-outline-secondary.disabled:hover,
.bg-inverse .btn.btn-outline-secondary:disabled.focus,
.bg-inverse .btn.btn-outline-secondary:disabled:focus,
.bg-inverse .btn.btn-outline-secondary:disabled:hover {
    background-color: transparent;
    border-color: #333
}

.btn.btn-outline-secondary.btn-link {
    background-color: transparent
}

.btn.btn-outline-info {
    color: #00bcd4;
    background-color: transparent;
    border-color: #00bcd4
}

.btn.btn-outline-info.focus,
.btn.btn-outline-info:focus,
.btn.btn-outline-info:hover {
    color: #00bcd4;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #00bcd4
}

.btn.btn-outline-info.active,
.btn.btn-outline-info:active,
.open>.btn.btn-outline-info.dropdown-toggle,
.show>.btn.btn-outline-info.dropdown-toggle {
    color: #00bcd4;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-info.active.focus,
.btn.btn-outline-info.active:focus,
.btn.btn-outline-info.active:hover,
.btn.btn-outline-info:active.focus,
.btn.btn-outline-info:active:focus,
.btn.btn-outline-info:active:hover,
.open>.btn.btn-outline-info.dropdown-toggle.focus,
.open>.btn.btn-outline-info.dropdown-toggle:focus,
.open>.btn.btn-outline-info.dropdown-toggle:hover,
.show>.btn.btn-outline-info.dropdown-toggle.focus,
.show>.btn.btn-outline-info.dropdown-toggle:focus,
.show>.btn.btn-outline-info.dropdown-toggle:hover {
    color: #00bcd4;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #00bcd4
}

.open>.btn.btn-outline-info.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-info.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-info,
.btn.btn-outline-info.disabled.focus,
.btn.btn-outline-info.disabled:focus,
.btn.btn-outline-info.disabled:hover,
.btn.btn-outline-info:disabled.focus,
.btn.btn-outline-info:disabled:focus,
.btn.btn-outline-info:disabled:hover {
    background-color: transparent;
    border-color: #00bcd4
}

.bg-inverse .btn.btn-outline-info {
    color: #00bcd4
}

.bg-inverse .btn.btn-outline-info.focus,
.bg-inverse .btn.btn-outline-info:focus,
.bg-inverse .btn.btn-outline-info:hover {
    color: #00bcd4;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-info.active,
.bg-inverse .btn.btn-outline-info:active,
.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-info.dropdown-toggle {
    color: #00bcd4;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-info.active.focus,
.bg-inverse .btn.btn-outline-info.active:focus,
.bg-inverse .btn.btn-outline-info.active:hover,
.bg-inverse .btn.btn-outline-info:active.focus,
.bg-inverse .btn.btn-outline-info:active:focus,
.bg-inverse .btn.btn-outline-info:active:hover,
.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-info.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-info.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-info.dropdown-toggle:hover {
    color: #00bcd4;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-info.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-info.disabled.focus,
.bg-inverse .btn.btn-outline-info.disabled:focus,
.bg-inverse .btn.btn-outline-info.disabled:hover,
.bg-inverse .btn.btn-outline-info:disabled.focus,
.bg-inverse .btn.btn-outline-info:disabled:focus,
.bg-inverse .btn.btn-outline-info:disabled:hover {
    background-color: transparent;
    border-color: #00bcd4
}

.btn.btn-outline-info.btn-link {
    background-color: transparent
}

.btn.btn-outline-success {
    color: #4caf50;
    background-color: transparent;
    border-color: #4caf50
}

.btn.btn-outline-success.focus,
.btn.btn-outline-success:focus,
.btn.btn-outline-success:hover {
    color: #4caf50;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #4caf50
}

.btn.btn-outline-success.active,
.btn.btn-outline-success:active,
.open>.btn.btn-outline-success.dropdown-toggle,
.show>.btn.btn-outline-success.dropdown-toggle {
    color: #4caf50;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-success.active.focus,
.btn.btn-outline-success.active:focus,
.btn.btn-outline-success.active:hover,
.btn.btn-outline-success:active.focus,
.btn.btn-outline-success:active:focus,
.btn.btn-outline-success:active:hover,
.open>.btn.btn-outline-success.dropdown-toggle.focus,
.open>.btn.btn-outline-success.dropdown-toggle:focus,
.open>.btn.btn-outline-success.dropdown-toggle:hover,
.show>.btn.btn-outline-success.dropdown-toggle.focus,
.show>.btn.btn-outline-success.dropdown-toggle:focus,
.show>.btn.btn-outline-success.dropdown-toggle:hover {
    color: #4caf50;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #4caf50
}

.open>.btn.btn-outline-success.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-success.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-success,
.btn.btn-outline-success.disabled.focus,
.btn.btn-outline-success.disabled:focus,
.btn.btn-outline-success.disabled:hover,
.btn.btn-outline-success:disabled.focus,
.btn.btn-outline-success:disabled:focus,
.btn.btn-outline-success:disabled:hover {
    background-color: transparent;
    border-color: #4caf50
}

.bg-inverse .btn.btn-outline-success {
    color: #4caf50
}

.bg-inverse .btn.btn-outline-success.focus,
.bg-inverse .btn.btn-outline-success:focus,
.bg-inverse .btn.btn-outline-success:hover {
    color: #4caf50;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-success.active,
.bg-inverse .btn.btn-outline-success:active,
.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-success.dropdown-toggle {
    color: #4caf50;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-success.active.focus,
.bg-inverse .btn.btn-outline-success.active:focus,
.bg-inverse .btn.btn-outline-success.active:hover,
.bg-inverse .btn.btn-outline-success:active.focus,
.bg-inverse .btn.btn-outline-success:active:focus,
.bg-inverse .btn.btn-outline-success:active:hover,
.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-success.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-success.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-success.dropdown-toggle:hover {
    color: #4caf50;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-success.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-success.disabled.focus,
.bg-inverse .btn.btn-outline-success.disabled:focus,
.bg-inverse .btn.btn-outline-success.disabled:hover,
.bg-inverse .btn.btn-outline-success:disabled.focus,
.bg-inverse .btn.btn-outline-success:disabled:focus,
.bg-inverse .btn.btn-outline-success:disabled:hover {
    background-color: transparent;
    border-color: #4caf50
}

.btn.btn-outline-success.btn-link {
    background-color: transparent
}

.btn.btn-outline-warning {
    color: #ff9800;
    background-color: transparent;
    border-color: #ff9800
}

.btn.btn-outline-warning.focus,
.btn.btn-outline-warning:focus,
.btn.btn-outline-warning:hover {
    color: #ff9800;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #ff9800
}

.btn.btn-outline-warning.active,
.btn.btn-outline-warning:active,
.open>.btn.btn-outline-warning.dropdown-toggle,
.show>.btn.btn-outline-warning.dropdown-toggle {
    color: #ff9800;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-warning.active.focus,
.btn.btn-outline-warning.active:focus,
.btn.btn-outline-warning.active:hover,
.btn.btn-outline-warning:active.focus,
.btn.btn-outline-warning:active:focus,
.btn.btn-outline-warning:active:hover,
.open>.btn.btn-outline-warning.dropdown-toggle.focus,
.open>.btn.btn-outline-warning.dropdown-toggle:focus,
.open>.btn.btn-outline-warning.dropdown-toggle:hover,
.show>.btn.btn-outline-warning.dropdown-toggle.focus,
.show>.btn.btn-outline-warning.dropdown-toggle:focus,
.show>.btn.btn-outline-warning.dropdown-toggle:hover {
    color: #ff9800;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #ff9800
}

.open>.btn.btn-outline-warning.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-warning.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-warning,
.btn.btn-outline-warning.disabled.focus,
.btn.btn-outline-warning.disabled:focus,
.btn.btn-outline-warning.disabled:hover,
.btn.btn-outline-warning:disabled.focus,
.btn.btn-outline-warning:disabled:focus,
.btn.btn-outline-warning:disabled:hover {
    background-color: transparent;
    border-color: #ff9800
}

.bg-inverse .btn.btn-outline-warning {
    color: #ff9800
}

.bg-inverse .btn.btn-outline-warning.focus,
.bg-inverse .btn.btn-outline-warning:focus,
.bg-inverse .btn.btn-outline-warning:hover {
    color: #ff9800;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-warning.active,
.bg-inverse .btn.btn-outline-warning:active,
.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle {
    color: #ff9800;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-warning.active.focus,
.bg-inverse .btn.btn-outline-warning.active:focus,
.bg-inverse .btn.btn-outline-warning.active:hover,
.bg-inverse .btn.btn-outline-warning:active.focus,
.bg-inverse .btn.btn-outline-warning:active:focus,
.bg-inverse .btn.btn-outline-warning:active:hover,
.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:hover {
    color: #ff9800;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-warning.disabled.focus,
.bg-inverse .btn.btn-outline-warning.disabled:focus,
.bg-inverse .btn.btn-outline-warning.disabled:hover,
.bg-inverse .btn.btn-outline-warning:disabled.focus,
.bg-inverse .btn.btn-outline-warning:disabled:focus,
.bg-inverse .btn.btn-outline-warning:disabled:hover {
    background-color: transparent;
    border-color: #ff9800
}

.btn.btn-outline-warning.btn-link {
    background-color: transparent
}

.btn.btn-outline-danger {
    color: #f44336;
    background-color: transparent;
    border-color: #f44336
}

.btn.btn-outline-danger.focus,
.btn.btn-outline-danger:focus,
.btn.btn-outline-danger:hover {
    color: #f44336;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #f44336
}

.btn.btn-outline-danger.active,
.btn.btn-outline-danger:active,
.open>.btn.btn-outline-danger.dropdown-toggle,
.show>.btn.btn-outline-danger.dropdown-toggle {
    color: #f44336;
    background-color: hsla(0, 0%, 60%, .2);
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn.btn-outline-danger.active.focus,
.btn.btn-outline-danger.active:focus,
.btn.btn-outline-danger.active:hover,
.btn.btn-outline-danger:active.focus,
.btn.btn-outline-danger:active:focus,
.btn.btn-outline-danger:active:hover,
.open>.btn.btn-outline-danger.dropdown-toggle.focus,
.open>.btn.btn-outline-danger.dropdown-toggle:focus,
.open>.btn.btn-outline-danger.dropdown-toggle:hover,
.show>.btn.btn-outline-danger.dropdown-toggle.focus,
.show>.btn.btn-outline-danger.dropdown-toggle:focus,
.show>.btn.btn-outline-danger.dropdown-toggle:hover {
    color: #f44336;
    background-color: hsla(0, 0%, 60%, .4);
    border-color: #f44336
}

.open>.btn.btn-outline-danger.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.btn.btn-outline-danger.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 60%, .2)
}

.bg-inverse .btn.btn-outline-danger,
.btn.btn-outline-danger.disabled.focus,
.btn.btn-outline-danger.disabled:focus,
.btn.btn-outline-danger.disabled:hover,
.btn.btn-outline-danger:disabled.focus,
.btn.btn-outline-danger:disabled:focus,
.btn.btn-outline-danger:disabled:hover {
    background-color: transparent;
    border-color: #f44336
}

.bg-inverse .btn.btn-outline-danger {
    color: #f44336
}

.bg-inverse .btn.btn-outline-danger.focus,
.bg-inverse .btn.btn-outline-danger:focus,
.bg-inverse .btn.btn-outline-danger:hover {
    color: #f44336;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-danger.active,
.bg-inverse .btn.btn-outline-danger:active,
.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle,
.show>.bg-inverse .btn.btn-outline-danger.dropdown-toggle {
    color: #f44336;
    background-color: hsla(0, 0%, 80%, .15);
    border-color: hsla(0, 0%, 80%, .15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.bg-inverse .btn.btn-outline-danger.active.focus,
.bg-inverse .btn.btn-outline-danger.active:focus,
.bg-inverse .btn.btn-outline-danger.active:hover,
.bg-inverse .btn.btn-outline-danger:active.focus,
.bg-inverse .btn.btn-outline-danger:active:focus,
.bg-inverse .btn.btn-outline-danger:active:hover,
.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle.focus,
.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle:focus,
.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle:hover,
.show>.bg-inverse .btn.btn-outline-danger.dropdown-toggle.focus,
.show>.bg-inverse .btn.btn-outline-danger.dropdown-toggle:focus,
.show>.bg-inverse .btn.btn-outline-danger.dropdown-toggle:hover {
    color: #f44336;
    background-color: hsla(0, 0%, 80%, .25);
    border-color: hsla(0, 0%, 80%, .25)
}

.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: transparent
}

.open>.bg-inverse .btn.btn-outline-danger.dropdown-toggle.bmd-btn-icon:hover {
    background-color: hsla(0, 0%, 80%, .15)
}

.bg-inverse .btn.btn-outline-danger.disabled.focus,
.bg-inverse .btn.btn-outline-danger.disabled:focus,
.bg-inverse .btn.btn-outline-danger.disabled:hover,
.bg-inverse .btn.btn-outline-danger:disabled.focus,
.bg-inverse .btn.btn-outline-danger:disabled:focus,
.bg-inverse .btn.btn-outline-danger:disabled:hover {
    background-color: transparent;
    border-color: #f44336
}

.btn.btn-outline-danger.btn-link {
    background-color: transparent
}

.btn-group-lg .btn,
.btn-group-lg>.btn,
.btn.btn-lg {
    padding: 1.125rem 2.25rem;
    font-size: .875rem;
    line-height: 1.333333;
    border-radius: .2rem
}

.btn-group-sm .btn,
.btn-group-sm>.btn,
.btn.btn-sm {
    padding: .40625rem 1.25rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn.btn-round {
    border-radius: 30px
}

.btn.btn-fab,
.btn.btn-just-icon {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px
}

.btn.btn-fab.btn-round,
.btn.btn-just-icon.btn-round {
    border-radius: 50%
}

.btn-group-sm .btn.btn-fab,
.btn-group-sm .btn.btn-just-icon,
.btn-group-sm>.btn.btn-fab,
.btn-group-sm>.btn.btn-just-icon,
.btn.btn-fab.btn-fab-mini,
.btn.btn-fab.btn-sm,
.btn.btn-just-icon.btn-fab-mini,
.btn.btn-just-icon.btn-sm {
    height: 30px;
    min-width: 30px;
    width: 30px
}

.btn-group-sm .btn.btn-fab .fa,
.btn-group-sm .btn.btn-fab .material-icons,
.btn-group-sm .btn.btn-just-icon .fa,
.btn-group-sm .btn.btn-just-icon .material-icons,
.btn-group-sm>.btn.btn-fab .fa,
.btn-group-sm>.btn.btn-fab .material-icons,
.btn-group-sm>.btn.btn-just-icon .fa,
.btn-group-sm>.btn.btn-just-icon .material-icons,
.btn.btn-fab.btn-fab-mini .fa,
.btn.btn-fab.btn-fab-mini .material-icons,
.btn.btn-fab.btn-sm .fa,
.btn.btn-fab.btn-sm .material-icons,
.btn.btn-just-icon.btn-fab-mini .fa,
.btn.btn-just-icon.btn-fab-mini .material-icons,
.btn.btn-just-icon.btn-sm .fa,
.btn.btn-just-icon.btn-sm .material-icons {
    font-size: 17px;
    line-height: 29px
}

.btn-group-lg .btn.btn-fab,
.btn-group-lg .btn.btn-just-icon,
.btn-group-lg>.btn.btn-fab,
.btn-group-lg>.btn.btn-just-icon,
.btn.btn-fab.btn-lg,
.btn.btn-just-icon.btn-lg {
    height: 57px;
    min-width: 57px;
    width: 57px;
    line-height: 56px
}

.btn-group-lg .btn.btn-fab .fa,
.btn-group-lg .btn.btn-fab .material-icons,
.btn-group-lg .btn.btn-just-icon .fa,
.btn-group-lg .btn.btn-just-icon .material-icons,
.btn-group-lg>.btn.btn-fab .fa,
.btn-group-lg>.btn.btn-fab .material-icons,
.btn-group-lg>.btn.btn-just-icon .fa,
.btn-group-lg>.btn.btn-just-icon .material-icons,
.btn.btn-fab.btn-lg .fa,
.btn.btn-fab.btn-lg .material-icons,
.btn.btn-just-icon.btn-lg .fa,
.btn.btn-just-icon.btn-lg .material-icons {
    font-size: 32px;
    line-height: 56px
}

.btn.btn-fab .fa,
.btn.btn-fab .material-icons,
.btn.btn-just-icon .fa,
.btn.btn-just-icon .material-icons {
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px
}

.btn-group-lg>.btn-just-icon.btn,
.btn-just-icon.btn-lg {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px
}

.input-group-btn>.btn {
    border: 0
}

.btn .material-icons,
.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    /*margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.1rem;*/
    font-size: 18px;
    vertical-align: middle
}

.bg-inverse .btn-group-vertical.disabled,
.bg-inverse .btn-group-vertical:disabled,
.bg-inverse .btn-group-vertical[disabled],
.bg-inverse .btn-group.disabled,
.bg-inverse .btn-group:disabled,
.bg-inverse .btn-group[disabled],
.bg-inverse .btn.disabled,
.bg-inverse .btn:disabled,
.bg-inverse .btn[disabled],
.bg-inverse .input-group-btn .btn.disabled,
.bg-inverse .input-group-btn .btn:disabled,
.bg-inverse .input-group-btn .btn[disabled],
.bg-inverse fieldset[disabled][disabled] .btn,
.bg-inverse fieldset[disabled][disabled] .btn-group,
.bg-inverse fieldset[disabled][disabled] .btn-group-vertical,
.bg-inverse fieldset[disabled][disabled] .input-group-btn .btn {
    color: hsla(0, 0%, 100%, .3)
}

.btn-group,
.btn-group-vertical {
    position: relative;
    margin: 10px 1px
}

.btn-group-vertical .dropdown-menu,
.btn-group .dropdown-menu {
    border-radius: 0 0 .25rem .25rem
}

.btn-group-vertical.btn-group-raised,
.btn-group.btn-group-raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.btn-group-vertical .btn,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn-group,
.btn-group-vertical .btn:active,
.btn-group-vertical>.btn-group,
.btn-group .btn,
.btn-group .btn+.btn,
.btn-group .btn-group,
.btn-group .btn:active,
.btn-group>.btn-group {
    margin: 0
}
/* end BUTTONS */

/* FOOTER */
.footer {
    padding: .9375rem 0;
    text-align: center;
    display: flex;
    padding-bottom: 0;
    border-top: 1px solid #e7e7e7;
}

.footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none
}

.footer ul li {
    display: inline-block
}

.footer ul li a {
    color: inherit;
    padding: .9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    display: block
}

.footer ul li a,
.footer ul li a:hover {
    text-decoration: none
}

.footer ul li .btn {
    margin: 0
}

.footer ul.links-horizontal:first-child a {
    padding-left: 0
}

.footer ul.links-horizontal:last-child a {
    padding-right: 0
}

.footer ul.links-vertical li {
    display: block;
    margin-left: -5px;
    margin-right: -5px
}

.footer ul.links-vertical li a {
    padding: 5px
}

.footer .social-buttons .btn,
.footer .social-buttons a {
    margin-top: 5px;
    margin-bottom: 5px
}

.footer .footer-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px
}

.footer .footer-brand:focus,
.footer .footer-brand:hover {
    color: #3c4858
}

.footer .copyright {
    padding: 15px 0
}

.footer .copyright .material-icons {
    font-size: 18px;
    position: relative;
    top: 3px
}

.footer .pull-center {
    display: inline-block;
    float: none
}

.off-canvas-sidebar .footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

@media screen and (min-width:768px) {
    .footer .copyright {
        padding-right: 15px
    }
}
/* end FOOTER */