.smk_accordion {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  /**
   * --------------------------------------------------------------
   * Section
   * --------------------------------------------------------------
   */
  .smk_accordion .accordion_in {
    border: none;
    position: relative;
    z-index: 10;
    margin-top: -1px;
    overflow: hidden;
    margin-bottom:12px;
  }
  /**
   * --------------------------------------------------------------
   * Content
   * --------------------------------------------------------------
   */
  .smk_accordion .accordion_in .acc_content, #accordion .acc_content {
    background: #fff;
    /*color: #7B7E85;*/
    padding:15px 22px;
    float:left; width:100%;
  }
  .smk_accordion .accordion_in .acc_content h1:first-of-type,
  .smk_accordion .accordion_in .acc_content h2:first-of-type,
  .smk_accordion .accordion_in .acc_content h3:first-of-type,
  .smk_accordion .accordion_in .acc_content h4:first-of-type,
  .smk_accordion .accordion_in .acc_content h5:first-of-type,
  .smk_accordion .accordion_in .acc_content h6:first-of-type {
    margin-top: 5px;
  }
  /**
   * --------------------------------------------------------------
   * General
   * --------------------------------------------------------------
   */
  .smk_accordion .accordion_in:first-of-type,
  .smk_accordion .accordion_in:first-of-type .acc_head {
    border-radius: 6px 6px 6px 6px;
  }
  .smk_accordion .accordion_in:last-of-type,
  .smk_accordion .accordion_in:last-of-type .acc_content {
    border-radius: 0 0 0px 0px;
  }
  .smk_accordion .accordion_in.acc_active > .acc_content {
    display: block;
  }
  .smk_accordion .accordion_in.acc_active > .acc_head {
    background: #fff;
  }
  .smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
    background: url(../images/plusminus.png) center -15px;
  }
  .smk_accordion.acc_with_icon .accordion_in .acc_head {
    padding-right: 40px;
  }
  