.datepicker {display: block;position: static;border: none;box-shadow: none;padding: 8px 0 36px; width: 100%; clear: both; min-width: auto; }

.datepicker.datepicker-rtl {
    direction: rtl
}

.datepicker.datepicker-rtl table tr td span {
    float: right
}

.datepicker .datepicker-inline {
    width: 220px
}

.datepicker .datepicker-dropdown {
    top: 0;
    left: 0
}

.datepicker .datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, .2);
    position: absolute
}

.datepicker .datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute
}

.datepicker .datepicker-dropdown .datepicker-orient-left:before {
    left: 6px
}

.datepicker .datepicker-dropdown .datepicker-orient-left:after {
    left: 7px
}

.datepicker .datepicker-dropdown .datepicker-orient-right:before {
    right: 6px
}

.datepicker .datepicker-dropdown .datepicker-orient-right:after {
    right: 7px
}

.datepicker .datepicker-dropdown .datepicker-orient-bottom:before {
    top: -7px
}

.datepicker .datepicker-dropdown .datepicker-orient-bottom:after {
    top: -6px
}

.datepicker .datepicker-dropdown .datepicker-orient-top:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999
}

.datepicker .datepicker-dropdown .datepicker-orient-top:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff
}

.datepicker table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.datepicker table thead {
    color: #1F2225
}

.datepicker table thead td,
.datepicker table thead th {
    font-weight: 700
}

.datepicker table td,
.datepicker table th {
    text-align: center;
    font-size: 14px;
    width: 28px;
    height: 40px
}

.datepicker table .day {
    color: #969AA1;
    border: 1px inset transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.datepicker table .day.available {
    background-color: rgba(248, 175, 2, 0.25);
    color: #373737;
}

.datepicker table .day.disabled,
.datepicker table .day:not(.available) {pointer-events: none;}

.datepicker table .day.disabled,
.datepicker table .day.new,
.datepicker table .day.old {
    color: #969AA1;
    font-weight: 300;
}

.datepicker table .day.new,
.datepicker table .day.old { opacity: 0.3; }

.datepicker table .day.disabled.new,
.datepicker table .day.disabled.available {
    background-color: rgba(248, 175, 2, 0.09);
}

.datepicker table .day.focused,
.datepicker table .day:hover {
    background: #EBF5F3;
    cursor: pointer
}

.datepicker table .day.disabled:hover {
    background: 0 0;
    cursor: default
}
.datepicker table .day.selected,
.datepicker table .day.highlight {
    border: 1px solid #F8AF02;
    font-weight: bold;
}

.datepicker table .day.active {
    background-color: #F8AF02;
    color: #fff
}

.datepicker table .day.available:hover {
    background-color: #F8AF02;
    color: #1F2225
}

.datepicker table .day .active,
.datepicker table .day .active.disabled,
.datepicker table .day .active.disabled:hover,
.datepicker table .day .active:hover {
    background-color: #02BF9B;
    color: #fff
}

.datepicker table tr td span {
    display: block;
    width: 25%;
    height: 54px;
    line-height: 54px;
    float: left;
    cursor: pointer;
    background-color: #EBF5F3;
    color: #515355
}

.datepicker table tr td span:hover {
    background-color: #7FD8C7;
    color: #1F2225
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.new,
.datepicker table tr td span.old {
    background: 0 0;
    color: #969AA1
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: 0 0;
    color: #969AA1;
    cursor: default
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    background-color: #02BF9B;
    color: #fff
}

.datepicker table tfoot tr th,
.datepicker table thead tr:nth-child(2) th {
    cursor: pointer
}

.datepicker table tfoot tr th:hover,
.datepicker table thead tr:nth-child(2) th:hover {
    background: #ECECEC
}

.datepicker table th.datepicker-switch {
    width: 145px;
    pointer-events: none;
}

.datepicker>div {
    display: none
}

.datepicker.days div.datepicker-days {
    display: block
}

.datepicker.months div.datepicker-months {
    display: block
}

.datepicker.years div.datepicker-years {
    display: block
}

.datepicker table .day.available.new:not(.active):not(:hover),
.datepicker table .day.available.old:not(.active):not(:hover) {
    color: #969AA1
}