.clearfix-block {
  clear: both;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}

.dl-horizontal dd:after {
  clear: both;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f9af02;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* NEW HEADER */

header .main-menu .perfil {position:relative; cursor: pointer; display: flex;flex-flow: wrap;padding: 10px 15px;border-radius: 6px;transition: 0.3s cubic-bezier(0, 0.2, 0.8, 1)}
header .main-menu .perfil::after {content: "";position: absolute;width: 100%;height: 20px;left: 0;bottom: 0px;}
header .main-menu .perfil:hover::after {bottom: -15px;}
header .main-menu .perfil .links {display: none; opacity: 0; position: absolute;transform: translateY(100%);bottom: 0;background: white;width: 100%;left: 0;border-radius: 6px;-webkit-box-shadow: 2px 2px 5px 0 rgba(138,138,138,0.63);-moz-box-shadow: 2px 2px 5px 0 rgba(138,138,138,0.63);box-shadow: 2px 2px 5px 0 rgba(138,138,138,0.63);transition: 0.3s cubic-bezier(0, 0.2, 0.8, 1)}
header .main-menu .perfil .links li a {display: block; padding: 10px 15px; border-radius: 6px;}
header .main-menu .perfil .links li:first-child {border-top-left-radius: 6px;border-top-right-radius: 6px;}
header .main-menu .perfil .links li:last-child {border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
header .main-menu .perfil .links li:hover {background: #f2f2f2;}
header .main-menu .perfil:hover {background: #f2f2f2;}
header .main-menu .perfil:hover .links {display: block; opacity: 1;}
header .main-menu .perfil img {width: 30px;height: 30px;border-radius: 100%; margin-right: 15px;}
header .main-menu .perfil h2 {font-size: 16px;}
header .main-menu .perfil.quienes-somos {
  padding: 0;
}
header .main-menu .perfil.quienes-somos span {
  color: #373737;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 22px;
}

.banner-home-img img {
  height: 100%;
  width: 100%;
  max-height: 520px;
  object-fit: cover;
}
.banner-home.big-banner {max-height: 520px;}
.banner-home .banner { max-height: 520px; overflow: hidden;}
.banner-home .banner img { width:100%;}

header .main-menu {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px 0 10px 0;
  position: relative;
}

header .main-menu>.row {
  display: flex;
  /*flex-flow: wrap;*/
  align-items: center;
  justify-content: space-between;
}

header.logo-head .logo .logo-dsk {
  display: block;
  background: url(../images/logo-gran-final.png) no-repeat left top;
}

header .menu,
header .hd-links,
header .lang_select {margin-top: 0;}

header .hd-links,
header .list-links {
  display: flex;
  /*flex-flow: wrap row;*/
  align-content: center;
}


.lang_select .sbSelector,
header ul.list-links li a,
.sear-calendar .sbSelector {
  color: #373737;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header ul.list-links img {
  margin-left: 7px;
}

header ul.list-links img.org-home-img {
  width: 20px;
}

.lang_select .sbToggle,
.sear-calendar .sbToggle {
  background: url(../images/select-arrw-yellow.png) no-repeat 0 0!important;
}

.sear-calendar ul.sbOptions {
  width: auto !important;
}

.sear-calendar ul.sbOptions li {
  border-bottom: none;
}

.sear-calendar ul.sbOptions li a {
  padding: 5px 15px;
}

header {
  /*z-index: 8025;*/
  z-index: 999998;
  position: fixed;
}

header ul.list-links li a span {
  font-weight: bold;
  margin-left: 7px;
}

header .hd-links .user {
  display: flex;
  align-items: center;
}

header .hd-links .user li {
  border-radius: 3px;
  border: 1px solid transparent;
  background: #f9af02;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

header .hd-links .user li:hover {
  background: transparent;
  border: 1px solid #f9af02;
}
header .hd-links .user li:hover a {
  color: black;
}

header .hd-links .user li a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 9px 30px;
  display: flex;
  align-items: center;
}

header .hd-links .user li a img {
  margin-right: 7px;
  width: 17px;
  height: 17px;
}

header .hd-links .user li a:hover img {
  filter: invert(100%);
}

header .hd-links .user li:first-child {
  background: transparent;
  border: 1px solid #f9af02;
}

header .hd-links .user li:first-child:hover {
  background: #f9af02;
  border: 1px solid transparent;
}

header .hd-links .user li:first-child:hover a {
  color: white;
}

header .hd-links .user li:first-child a {
  color: black;
}

header .head-rgt {
  display: flex;
  /*flex-flow: wrap;*/
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

/* END NEW HEADER */

/* NEWSLETTER */
.newsletter {
  padding-top: 70px;
  padding-bottom: 40px;
  background: #f9af02;
  float: left;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.newsletter.organizador {
  background: #f6f6f6;
}

.newsletter .form,
.newsletter h5 {
  width: 60%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.newsletter h5 p {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.newsletter h5 span {
  margin-left: 7px;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #373737;
}

.newsletter .form input[type="email"] {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  width: 75%;
  max-width: 480px;
  padding: 0 10px;
}

.newsletter.organizador h5 p {
  color: #373737;
}

.newsletter.organizador h5 span {
  color: #f9af02;
}


.newsletter .form input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #cbcbcb;letter-spacing: 1px;}
.newsletter .form input[type="email"]::-moz-placeholder { /* Firefox 19+ */color: #cbcbcb;letter-spacing: 1px;}
.newsletter .form input[type="email"]:-ms-input-placeholder { /* IE 10+ */color: #cbcbcb;letter-spacing: 1px;}
.newsletter .form input[type="email"]:-moz-placeholder { /* Firefox 18- */color: #cbcbcb;letter-spacing: 1px;}

.newsletter .form button {
  border: 0;
  background: #373737;
  width: 25%;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: white;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* NEWSLETTER */


.duracion .search-accordion li {padding: 10px;border-radius: 3px;cursor: pointer;}
.duracion .search-accordion li.selected {color: #f9af02;}

/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
  .head-rgt .list-links,
  .head-rgt .lang_select {display: none;}
  header.logo-head .logo .logo-dsk {display: none;}
  header .head-rgt {flex: 1; justify-content: flex-end;}
  header .main-menu {padding: 15px 0;}
  .breadcrumbs ul.menu {margin: 0px 0px;}
  .profile_content .ret-rgt {padding: 15px 20px;}
  .newsletter .form, .newsletter h5 {width: 90%;}
  .newsletter .form input[type="email"] {width: 60%;}
  .newsletter .form button {width: 40%; font-size: 12px}
  .newsletter h5 span,
  .newsletter h5 p {width: 100%;}
  .cara-lft{margin-bottom: 20px;}
}


/* CORRECCIONS ESPACIOS */
.obres>ul {display: flex;flex-flow: wrap;}
.obres .espacio.obr-pad {height: 100%;display: flex;flex-flow: wrap;flex-direction: column;}
.obres .espacio.obr-pad>a {display: flex;flex-direction: column;flex: 1;}
.obres .espacio .obr-cnt {display: flex; flex-flow: wrap; flex-direction: column; height: 100%;}
.obres .espacio .obr-cnt h1 {min-height: auto;}
.obres .espacio .obr-cnt ul.loc-ul li {padding-left: 15px;}
#aun-car1.obres .espacio .obr-cnt h1 {height: auto;}
/* FI CORRECCIONS ESPACIOS*/

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
  header .hd-links .user li a {
    padding: 12px 25px;
  }
}

@media screen and (max-width:319px) {

}


/* footer css */
footer{float:left; width:100%; background:#fafafa; padding:61px 0 38px;}
.foot-top { float:left; width:100%;padding-bottom:48px; position:relative;}

.foot-top ul li { float:left; width:25%; padding-right:15px;}
.foot-top ul li span.foot-title{color:#4e4e4e; font-family: 'Barlow'; font-weight: 600; font-size:16px; margin-bottom:24px; letter-spacing: 0.32px; line-height: 24px; display: block}
.foot-top ul li ul li { float:left; width:100%; padding:0; margin-bottom:8px;}
.foot-top ul li ul li:last-child { margin-bottom:0;}
.foot-top ul li ul li a{color:#000; font-family: 'Barlow'; font-weight: 400; font-size:16px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; letter-spacing: 0.32px; line-height: 24px}
.foot-top ul li ul li a:hover { color:#f9af00;}

.foot-btm { margin: 38px 0;float:left; width:100%; display: table}
.foot-btm .logo, .foot-btm .legal, .foot-btm .payments {display: table-cell; vertical-align: middle;}
.foot-btm .logo {width: 20%}
.foot-btm .payments {width: 25%}
.foot-btm .legal ul li {display: inline-block; padding-right: 24px;margin-bottom: 15px}
.foot-btm .legal ul li a, .foot-btm .legal .copyr {font-size: 16px; font-weight: 400; color: #4e4e4e; letter-spacing: 0.32px}
.foot-btm .legal .copyr {font-weight: 300}
.foot-btm .payments .secure {font-weight: 500; font-size: 16px; color: #4e4e4e; letter-spacing: 0.32px; vertical-align: middle; float: none; margin-left: 0; max-width: 200px}
.foot-btm .payments .secure img, .foot-btm .payments .secure span {display: inline-block; vertical-align: middle}
.foot-btm .payments .secure img {width: 15px; margin-right: 8px}
.foot-btm .payments .methods img {margin-right: 10px; display: inline-block; vertical-align: middle; margin-top: 12px}
.foot-btm .payments .methods .paypal-img {width: 65px}
.foot-btm .payments .methods .visa-img {width: 49px}
.foot-btm .payments .methods .mc-img {width: 41px}
.foot-btm .foot-logo-mbl {display: none}
.foot-btm-lft { display: inline-block; width:50%;}
.foot-btm-rgt { float:left; width:50%;}

.payment-sec { float:left; background:#333333; padding:10px; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.payment-sec ul.pay-lst{ float:left; width:100%; display: flex; display: -webkit-flex; align-items: center; justify-content: left;-webkit-align-items: center;-webkit-justify-content: left;}
.payment-sec ul.pay-lst li{ float:left; margin-right:10px;}
.payment-sec ul.pay-lst li:last-child{ margin-right:0;}
.payment-sec ul li a{ float: left;width: 100%; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.payment-sec ul li a:hover{ opacity:0.7; }
.payment-sec ul li a img { float:left;}

.foot-top-social {padding-bottom:25px; border-bottom: 1px solid #e6e4e4 }
.foot-top-social ul.social-lst { text-align: center;}
.foot-top-social ul.social-lst li{ display: inline-block; margin: 0 26px;}
.foot-top-social ul.social-lst li a img {width: 42px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.foot-top-social ul.social-lst li a:hover img{ opacity:0.7; }

/* fi footer */


/* LOGIN / REGISTER */
.popup.padding {padding: 60px;}

.login, .register {
  max-width: 570px;
  min-width: 570px;
  overflow: auto;
  height: 100%;
}

.login-pad h4 {font-weight: bold;text-align: center; color: #4E4E4E; font-size: 22px; letter-spacing: 0.44px; line-height: 24px}


.login-pad 	{ width: 100%;  margin: 0 auto;}
.login-pad .tabs 	{ margin: 0;  padding: 0;  list-style: none;  overflow: hidden;  border-bottom: 0px solid #999;}
.login-pad .tabs li {  float: left;  border: 0px solid #999;  border-bottom: none;  background: #fafafa; width:50%; text-align:center;}
.login-pad .tabs li a { display: block; padding: 15px 20px; font-size: 16px; color:#cacaca;font-family: 'Barlow';text-decoration: none;}
.login-pad .tabs li a.usuario	{ background:url(../images/user.png) no-repeat 27% 17px;}
.login-pad .tabs li a.facilitador	{ background:url(../images/facilitador.png) no-repeat 22% 16px;}
.login-pad .tabs li a:hover { background-color: #fff;color:#4d4d4d;}
.login-pad .tabs li.active a{  background-color: #fff; color:#4d4d4d;}
.login-pad .tab_container { background: #fff; color:#4d4d4d;}
.login-pad .tab_content { padding: 20px 34px;  font-size: 16px;}
.face-book a		{ background:url(../images/face-log-in.png) no-repeat 7% center #3b5999; color:#fff; padding:13px 0; float:left; width:100%; text-align:center;border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin-bottom:15px;font-family: 'Barlow'; font-weight: 300; font-size:18px;}
.g-plus a			{ background:url(../images/gmail-log-in.png) no-repeat 6% center #fff; border:1px solid #f6f6f6; color:#bcbcbc; padding:13px 0; float:left; width:100%; text-align:center;border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin-bottom:15px;font-family: 'Barlow'; font-weight: 300; font-size:18px;}
.login-form {
  float: left;
  width: 100%;
  padding: 22px 0 0;
  margin-bottom: 15px;
  position: relative;
}
.login-form .payment-buttons {margin-top: 20px; display: flex; flex-flow: wrap; align-items: center; width: 100%;}
.login-form .payment-buttons .separator {width: 1px;background: #d4d4d4;height: 90px;}

.newsletter .login-form a {color: #fff;}
.newsletter.organizador .login-form a {color: #f9af02;}
.detalles-retiro .login-form a {color: #f9af02; font-weight: bold;}
.login-form a:hover {text-decoration: underline;}

.single-form {padding: 0;}
/* .login-form::after {content:""; position:absolute; width: 34px;height: 11px;background:url(../images/log-bg.png) no-repeat center; top:-6px; right:0px; left:0px; margin:auto; } */

.login-form p		{color:#373737; font-family: 'Barlow'; font-weight: 500; font-size:16px; line-height:24px; float:left; padding:0px 0 20px; width:100%;}
.login-form li { float:left; width:100%; margin-bottom:24px; position:relative;}
.login-form li.command {width:460px;}
.login-form li:last-child	{ margin-bottom:17px;}
.login-form.reg-org li, .login-form.reg-org li:last-child {
  width: 32%;
}

.login-form input[type="password"],
.login-form input[type="text"]	{ width:100%; padding:0px 18px; border: solid 1px #f2f2f2; color:#cdcdcd; height:47px; line-height:20px; font-family: 'Barlow'; font-weight: 300; font-size:16px; color:#a5a5a5; transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease; letter-spacing: 0.5px;border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}
.login-form .user-name	{ background:url(../images/mail.png) no-repeat 98% center #fff;}
.login-form .pass-word	{ background:url(../images/locked.png) no-repeat 98% center #fff;}
.login-form input[type=checkbox]:not(old){position:absolute;width:13px;height:13px;margin: 0;padding: 0;font-size : 1em;display: none;cursor:pointer; top:22px;}
.login-form input[type=checkbox]:not(old) + label{ display: inline-block;line-height: 1.5em;float:left; width:100%;color:#4e4e4e; font-size:16px;margin-top:8px; font-family: 'Barlow'; font-weight: 300; letter-spacing: 0.5px;}
.login-form input[type=checkbox]:not(old) + label > span{display: inline-block;width: 19px;height: 19px;margin: -2px 10px 0 0; vertical-align   : middle;border:1px solid #f9af02; position:relative; background:#fff; border-radius: 3px;}
.contact-form input[type=checkbox]:not(old):checked + label > span:before{content: '';display: inline-block; text-align: center; font-weight: bold; cursor:pointer;background:#f48d17; height:9px; width:9px;  position:absolute;top:1px; left:1px; border-radius: 2px;}
.login-form input[type=checkbox]:not(old):checked + label > span:before {content: ""; background:url(../images/check-tick.png) no-repeat center center; background-size:72%; top: 2px; left: 2px; height: 12px; width: 12px; position: absolute;}
.login-form input[type=checkbox]:not(old) + label > div { display: inline-block; width: 82%; vertical-align: top}
.login-form strong a{color: #1e1f24;text-decoration: underline;font-family: 'Barlow'; transition: all .4s ease;-moz-transition: all .4s ease;-webkit-transition: all .4s ease;-o-transition: all .4s ease;}
.login-form strong a:hover{ color:#f48d17;}
.login-form ul {display: flex;flex-flow: wrap;justify-content: center;}
.login-form ul li.check label {margin-top: 0; width:auto;}
.login-form ul li.check-1 label {width:auto;}
.login-form input[type=checkbox]:not(old):checked + label > span.l-txt:before{ display:none;}
/*.login-form ul li.check{ margin-bottom: 40px; margin-top: 17px}*/
.login-form .form-error {
  color: #cd4545;
  font-weight: 500;
  margin-top: 4px;
}

.login-form input.with-error {
  border-color: #cd4545;
}


.login-form .cont-btn,
.login-form input[type="submit"] {
  display: inline-block;
  border: 1px solid #f9af02;
  border-radius: 3px;
  color: #fff;
  background: #f9af02;
  font-size: 14px;
  padding: 16px 84px;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  font-family: 'Barlow';
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 100;
  letter-spacing: 0.5px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-transform: uppercase;
  margin: 0;
}
.login-form input[type="submit"]:hover{ background:none; color: #232323 }

.login-form .center-btn {
  margin: 0;
}

.login-form .frm-grp label {
  color: #232323;
}

.login-form .frm-grp input {
  background: #f2f2f2 none;
  border-radius: 4px;
  color: #232323;
  margin-top: 15px;
}

.login-form .frm-grp input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bababa;
  opacity: 1; /* Firefox */
}

.login-form .frm-grp input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bababa;
}

.login-form .frm-grp input::-ms-input-placeholder { /* Microsoft Edge */
  color: #bababa;
}

.login-form .frm-grp .toggle-password {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
  width: 26px;
  cursor: pointer;
}

.reg-type-select {
  border-bottom: 2px solid #f9af02;
  margin-bottom: 32px;
}

.reg-type-select > div {
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.reg-type-select > div a {
  color: #a19c9c;
  font-weight: 500;
  display: block;
  padding: 8px 0;
}

.reg-type-select > div.reg-type-active {
  background-color: #f9af02;
}

.reg-type-select > div.reg-type-active a {
  color: #fefefe;
}

.login-google {
  text-align: center;
}

.login-google .or-row {
  max-width: 210px;
  height: 11px;
  border-bottom: 1px solid #979797;
  overflow: visible;
  margin: auto;
}

.login-google .or-row span {
  background-color: #fff;
  padding: 9px;
  font-size: 16px;
}

.login-google .google-button {
  margin-top: 31px;
}

.login-google .google-button div {
  padding: 12px 65px;
  border-radius: 3px;
  border: 1px solid #0032cc;
  display: inline-block;
}

.login-google .google-button div img {
  width: 26px;
  display: inline-flex;
  vertical-align: middle;
}

.login-google .google-button div span {
  margin-left: 11px;
  line-height: 26px;
  display: inline-flex;
  font-size: 14px;
  color: #4e4e4e;
  font-family: Avenir-Heavy, 'Barlow';
}

.fancybox-close {
  background: url(../images/group-16.svg) no-repeat center;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  /*top: 24px;*/
  /*right: 52px;*/
}
/* END LOGIN / REGISTER */


.responde ul li a {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.responde ul li a:hover {
  color: #f9af02;
}

/* DESCRIPCIÓN VER MÁS */
.description .btn-org {
  display: inline-block;
  background: #f9af0221;
  border: none;
  padding: 12px 20px;
  width: 150px;
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.description .btn-org:hover { background: #f9af02; }

.description .btn-org { display: none; margin: 0 auto; margin-top: 10px; }
.descripcion-vermas {
  max-height: 350px;
  display: inline-block;
  overflow: hidden;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* end DESCRIPCIÓN VER MÁS */

/* PROFILE */
.profile_content.profile_gray {
  background-color: #fafafa;
  padding-bottom: 64px;
}

/* end PROFILE */
/* PROFILE RESERVAS */
.profile-reservas {
  color: #373737;
}

.profile-reservas .pr-title {
  margin: 30px 0;
}

.profile-reservas .pr-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.profile-reservas .pr-title p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.profile-reservas .pr-list ul li {
  background-color: #fff;
  margin-bottom: 40px;
}

.profile-reservas .pr-list ul li .pr-itm {
  display: table;
  width: 100%;
}

.profile-reservas .pr-list ul li .pr-itm-cnt {
  padding: 24px;
  display: table-cell;
  width: 64%;
  vertical-align: middle;
}

.profile-reservas .pr-list ul li .pr-itm-cnt h3 {
  font-size: 36px;
  font-weight: 600;
}

.profile-reservas .pr-list ul li .pr-itm-cnt .pr-itm-details {
  margin-bottom: 32px;
}

.profile-reservas .pr-list ul li .pr-itm-cnt a.todo-btn {
  position: inherit;
  color: #f9af02;
  font-weight: 600;
  padding: 10px 48px;
  float: none;
}

.profile-reservas .pr-list ul li .pr-itm-cnt a.todo-btn:hover {
  color: #fff;
}

.profile-reservas .pr-list ul li .pr-itm-img {
  display: table-cell;
  width: 36%;
  vertical-align: middle;
  overflow: hidden;
}

.profile-reservas .pr-list ul li .pr-itm-img img,
.profile-reservas .pr-list ul li .pr-itm-img-mob img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 364px;
}

.profile-reservas .dl-horizontal {
  line-height: 24px;
}

.profile-reservas .dl-horizontal dt {
  text-align: left;
  font-weight: 500;
  float: left;
  width: 160px;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-reservas .dl-horizontal dd {
  margin-left: 180px;
}

.pr-itm-status-green {
  color: #76c690;
}

.pr-itm-status-red {
  color: #cd4545;
}

.pr-itm-status-yellow {
  color: #cdcb37;
}

.pr-itm-status-orange {
  color: #f9af02;
}

.profile-reservas .dl-horizontal dd span {
  font-weight: 500;
}
/* end PROFILE RESERVAS */

/* */
#currency-select-desk .sbHolder .sbSelector {
  text-align: center;
  display: block;
}

#currency-select-desk .sbHolder .sbOptions {
  width: 640px !important;
  top: 40px !important;
  right: -32px;
  border-radius: 4px;
  padding-bottom: 8px;
}

#currency-select-desk .sbHolder .sbOptions li {
  display: inline-block;
  width: 33%;
  text-align: left;
  border-bottom: none;
}

#currency-select-desk .sbHolder .sbOptions li a {
  padding: 6px 16px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #373737;
}

#currency-select-desk .sbHolder .sbOptions li a.sbSelected::before, #currency-select-desk .sbHolder .sbOptions li a.sbFocus {
  color: #f9af02;
}

#currency-select-desk .sbHolder .sbOptions li a::before {
  content: '\00a0';
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  background: #fff;
  border: 1px solid #888;
  margin-right: 6px;
  margin-bottom: 4px;
  border-radius: 7px;
}

#currency-select-desk .sbHolder .sbOptions li a.sbSelected::before, #currency-select-desk .sbHolder .sbOptions li a.sbFocus::before {
  box-shadow: 0 0 0 2px #fff inset;
  background: #f9af02;
  border: 1px solid #f9af02;
}

/* SKELETON */
.ret-rgt ul li.skeleton {
  pointer-events: none;
}
.ret-rgt ul li.skeleton .obr-cnt ul.lst-icon {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
}
.ret-rgt ul li.skeleton .obr-cnt ul.lst-icon li {
  width: 48%;
}
.ret-rgt ul li.skeleton .obr-pad .obr-img img {
  background: #f4f4f4;
  animation: shine 1.5s infinite;
}

.ret-rgt ul li.skeleton .price .p-lft .mas-btn {
  border: 1px solid #f4f4f4;
  height: 45px;
  background: #f4f4f4;
  animation: shine 1.5s infinite;
}

/* .ret-rgt ul li.skeleton .obr-cnt span { flex: 1; } */
.ret-rgt ul li.skeleton h1 {width: 100%;}
.ret-rgt ul li.skeleton h2 {width: 80%;}

.ret-rgt ul li.skeleton h1,
.ret-rgt ul li.skeleton h2,
.ret-rgt ul li.skeleton li {
  background: #f4f4f4;
  height: 20px;
  animation: shine 1.5s infinite;
}

@keyframes shine{
  from {
      background-repeat:no-repeat;
      background-image:-webkit-linear-gradient(
          top left,
          rgba(255, 255, 255, 0.0) 0%,
          rgba(255, 255, 255, 0.3) 45%,
          rgba(255, 255, 255, 0.5) 48%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0.5) 52%,
          rgba(255, 255, 255, 0.0) 57%,
          rgba(255, 255, 255, 0.0) 100%
      );
      background-position:-250px -250px;
      background-size: 600px 600px
  }
  to {
      background-repeat:no-repeat;
      background-position:250px 250px;
  }
}
/* FI SKELETON */


/* customize select2 */
.select2-results__option {
  padding: 5px 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
  color: #f9af02;
}

/* END customize select2 */

.retiros-sec.loading:before, .messaging.loading:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.6;
  z-index: 99;
  top: 0;
  left: 0;
}

.coupon-frm h3 {
  color: #f9af02;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}

.coupon-frm .frm-grp {
  margin-top: 20px;
}

.coupon-frm button.sub-btn {
  margin: 0;
  width: 100%;
}

.coupon-frm .coupon-msg {
  margin-bottom: 8px;
}

.newsletter .form .message {
  display: none;
  padding: 15px 40px;
  width: 100%;
  color: white;
  border-radius: 3px;
  margin-bottom: 30px;
}

.newsletter.organizador .form .message {
  color: #373737;
}

.newsletter .form .errors {
  border: 2px solid red;
}
.newsletter .form .correcte {
  border: 1px solid lightgreen;
}

.contact-page .retro-lft .frm-grp .sbHolder {
  background: #fff;
  margin: 8px 0 32px;
}

.contact-page .retro-lft .frm-grp label {
  font-size: 14px;
  font-weight: 400;
}

.contact-page .retro-lft .frm-grp .sbHolder .sbSelector {
  color: #4e4e4e;
}

.contact-page .retro-lft .sub-btn {
  background: #f9af02;
  color: #fff;
  padding: 12px 64px;
}

.contact-page .retro-lft .sub-btn:hover {
  background: transparent;
  color: #f9af02;
}

.contact-page .retro-rgt {
  padding-top: 35px;
}

.contact-page .retro-rgt .white-box-rgt .white-box-cnt {
  padding: 12px 20px
}

.contact-page .retro-rgt .dat-select {
  padding-top: 20px;
  margin-bottom: 0;
}

.contact-page .retro-rgt .dat-select h2 {
  font-weight: 600;
  font-size: 16px;
}

.contact-page .retro-rgt .dat-select:last-child {
  border-bottom: none;
}

.contact-map {
  position: relative;
  padding-bottom: 450px;
  height: 0;
  overflow: hidden;
  margin-top: 64px;
}

.contact-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hd-mbl-links {
  display: none;
}

section.valora {
  background: #fafafa;
  padding: 49px 0;
}

section.valora div,
section.valora label,
section.valora textarea {
  float: none !important;
}

section.valora .white-box-lft {
  padding: 29px 49px 47px 43px;
}

section.valora h5 {
  color: #232323;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 19px;
  border-bottom: 1px solid #d6d6d6;
}

section.valora .retiro-title > div {
  display: inline-block;
  vertical-align: middle;
}

section.valora .retiro-title .ret-tit-lft h1 {
  font-size: 28px;
}

section.valora .retiro-title .ret-tit-lft ul.date-icon li {
  font-size: 16px;
  color: #232323;
}

section.valora .ratings {
  margin-top: 14px;
  margin-bottom: 36px;
}

section.valora .ratings li {
  padding: 10px 0 11px;
}

section.valora .ratings li .rat-left, section.valora .ratings li .rat-right {
  display: inline-block;
  vertical-align: middle;
}

section.valora .ratings li .rat-left {
  width: 30%;
}

section.valora .ratings li .rat-left h3 {
  font-size: 16px;
  color: #232323;
}

section.valora .frm-ryt .frm-grp {
  margin: 0;
  padding: 24px 0 0;
}

section.valora .frm-ryt .frm-grp label {
  color: #858585;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

section.valora .frm-ryt .frm-grp textarea {
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  max-height: 124px;
}

section.valora .rat-encuentra-img {
  margin: 48px 0 28px;
  width: 50%;
}

section.valora .rat-encuentra-img img {
  height: 75px;
}

section.valora .valora-dharmas {
  text-align: center;
  margin-top: 38px;
}

section.valora .valora-dharmas span, section.valora .valora-dharmas p {
  display: inline-block;
  vertical-align: middle;
}

section.valora .valora-dharmas span img {
  width: 36px;
  margin-right: 15px;
}

section.valora .valora-dharmas p {
  color: #232323;
  font-size: 18px;
  font-weight: 500;
}

.sticky-header {
  margin-bottom: 80px;
  float: left;
  width: 100%;
}

.reserva-mbl {
  position: fixed;
  z-index: 99;
  bottom: 0px;
  padding: 10px 24px;
  width: 100%;
  display: none;
  justify-content: center;
  background: white;
  align-items: center;
  box-shadow: 5px 5px 10px #c3c3c3;
}

.reserva {
  width: 66%;
}

.whatsappme__button {
  display: none;
  position: fixed;
  z-index: 8027;
  bottom: 9px;
  left: 16px;
  height: 50px;
  padding: 12px;
  min-width: 50px;
  max-width: 95vw;
  background-color: #25d366;
  color: #fff;
  border-radius: 30px;
  box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
  cursor: pointer;
  transition: background-color .2s linear;
  -webkit-tap-highlight-color: transparent;
}

/* Mobile Menu */
.mbl-menu{ position: absolute;float: left;top: 60px; background:#fff; left:0; display:none; width:100%; z-index:9999; box-shadow: 0 2px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2); overflow: scroll;max-height: 80vh;}
.mbl-menu.mbl-menuon { display:block;}

.mbl-menu ul li { float:left;width: 100vw;background: #fff;z-index: 999;/*padding:15px 20px;*/border-top: 1px solid #ECECEC;}
.mbl-menu ul li a{color:#373737; font-size:16px; font-family: 'Barlow';font-weight:400;display: block;padding: 15px 20px;}
.mbl-menu ul li a img { float:left; margin-right:15px;}
.mbl-menu ul li a:hover{color:#f9af02;}
.mbl-menu ul li a.lang-mbl { padding-right:20px; background: url(../images/select-arrw-grey.png) no-repeat top 20px right 20px;}
.mbl-menu ul li a.lang-rs { padding-right:20px; background: url(../images/select-arrw-grey.png) no-repeat top 20px right 20px;}

.mbl-menu ul li ul {padding-left: 30px;width: 100%;}
.mbl-menu ul li ul li { width: 100%;padding:3px 0; border-top:none;}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 13px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background: #e6e6e6;
  border: 1px solid #888;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #f9af02;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator:after {
  left: 3px;
  top: 3px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}
/* End Mobile */

.pagination ul li span {
  color: #7b7b7b;
}

.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 9999999;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.cookies-overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 999999;
}

.cookies .container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

.cookies .container .text {
  flex: 1;
  margin-right: 40px;
  color: #f9af02;
  font-weight: 500;
}

.cookies .container .text a {
  color: #f9af02;
  text-decoration: underline;
}

.cookies .container a.cookies-link {
  color: #fff;
  background: #f9af02;
  cursor: pointer;
  font-family: 'Barlow';
  font-size: 14px;
  padding: 9px 30px;
  border: 1px solid #f9af02;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  display: inline-block;
}

.cookies .container a.cookies-link:hover {
  background: #fff;
  color: #f9af02;
}


.equipo {
  float: left;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 40px;
  background: #fff;
  border-radius: 6px;
}

.equipo .header {
  background: #f9af02;
  text-align: center;
  padding: 16px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.equipo .header h4 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.equipo .body {
  padding: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.equipo .body h2 {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.equipo .body h2 span { font-weight: 600 }

#equipo-carousel .image {
  display: inline-flex;
  width: 100%;
}

#equipo-carousel .image img {
  border-radius: 100%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: auto;
}

#equipo-carousel h3 {
  font-weight: bold;
  color: #f9af02;
}

#equipo-carousel .frase {
  width: 80%;
  margin: auto;
  font-style: italic;
}

#equipo-carousel .owl-nav {
  top: auto;
  bottom: 10%;
}

#equipo-carousel .owl-prev {
  left: 0px; 
}

#equipo-carousel .owl-next {
  right: 0px;
}

#equipo-carousel .owl-dot.active, .owl-dot:hover {
  background: #f9af02;
}

.equipo i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.equipo .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.equipo .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.equipo .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.equipo .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.retiro-reviews h2 {
  font-weight: 600;
}

.retiro-reviews h2 span {
  margin-left: 4px;
}

.retiro-reviews .reviews-avg, .retiro-reviews .rev-container {
  border-top: 2px solid #f4f4f4;
  padding: 20px 0 8px;
}

.retiro-reviews .rev-container, .retiro-reviews .rev-container h2, .retiro-reviews .rev-container p {
  color: #717171;
}

.retiro-reviews .rev-container h2 {
  display: inline-block;
  max-width: 60%;
}

.retiro-reviews .rev-container h2 span {
  font-weight: 400;
  font-size: 16px;
}

.retiro-reviews .rev-container .rev-head .rgt {
  float: right;
  text-align: right;
  font-weight: 400;
}

.retiro-reviews .rev-container .rev-head .rgt h3 span.hearts {
  margin: 0 8px;
}
.retiro-reviews .rev-container .rev-head .rgt img.rating-img {
  width: 18px;
}

.retiro-reviews .rev-container .rev-head .rgt h3 {
  margin-top: 6px;
}

.retiro-reviews .rev-container .rev-head .rgt h3 span.mark {
  font-weight: 500;
}

.retiro-reviews .rev-container .rev-content {
  margin-top: 12px;
}

.retiro-reviews .ret-ratings {
  display: inline-block;
  width: 50%;
}
.retiro-reviews .ret-ratings .dl-horizontal {
  margin-block-start: 0;
}
.retiro-reviews .ret-ratings .dl-horizontal dt {
  text-align: left;
}

.retiro-reviews .rev-container h4 {
  font-weight: 500;
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
}

.retiro-reviews .rev-container img.likes {
  margin-right: 12px;
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
}

@media screen and (max-width: 1279px) {
  .retiro-reviews .rev-container h2 {
    max-width: 38%;
  }
}

@media screen and (max-width: 1023px) {
  .retiro-reviews .rev-container h2 {
    display: block;
    max-width: none;
  }

  .retiro-reviews .rev-container .rev-head .rgt {
    float: none;
    text-align: left;
    margin-bottom: 16px;
  }

  .retiro-reviews .ret-ratings {
    width: 100%;
  }
}

@media screen and (max-width:639px) {
  .equipo {padding: 10px;}
  .reserva-mbl {display: flex;}
  section.valora .ratings li .rat-left, section.valora .ratings li .rat-right {width: 100%;}
  .sticky-header {margin-bottom: 60px;}
  .login-form input[type="submit"] {padding: 16px 45px;}
}

.footer-currencies {
  float: none;
  margin-left: 0;
}

#footer-currency-select-desk .sbToggle {
  background: url(../images/select-arrw-yellow-reverse.png) no-repeat 0 0!important;
}

#footer-currency-select-desk .sbHolder {
  float: none;
}

#footer-currency-select-desk .sbHolder .sbSelector {
  text-align: center;
  display: block;
}

#footer-currency-select-desk .sbHolder .sbOptions {
  width: 640px !important;
  top: unset !important;
  bottom: 40px;
  right: -32px;
  border-radius: 4px;
  padding-bottom: 8px;
  max-height: none !important;
}

#footer-currency-select-desk .sbHolder .sbOptions li {
  display: inline-block;
  width: 33%;
  text-align: left;
  border-bottom: none;
}

#footer-currency-select-desk .sbHolder .sbOptions li a {
  padding: 6px 16px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #373737;
}

#footer-currency-select-desk .sbHolder .sbOptions li a.sbSelected::before, #footer-currency-select-desk .sbHolder .sbOptions li a.sbFocus {
  color: #f9af02;
}

#footer-currency-select-desk .sbHolder .sbOptions li a::before {
  content: '\00a0';
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  background: #fff;
  border: 1px solid #888;
  margin-right: 6px;
  margin-bottom: 4px;
  border-radius: 7px;
}

#footer-currency-select-desk .sbHolder .sbOptions li a.sbSelected::before, #footer-currency-select-desk .sbHolder .sbOptions li a.sbFocus::before {
  box-shadow: 0 0 0 2px #fff inset;
  background: #f9af02;
  border: 1px solid #f9af02;
}

.center.request-prereserve {
  text-align: center;
}

.process-steps li a {
  color: #c0c0c0;
  text-decoration: underline;
}

.process-steps li a:hover {
  color: #f9af02;
}

h1.command-title {
  border-bottom: none;
  margin: 0;
}

.retro-lft .white-box-lft.no-pad .divider.command-divider .cnt-divider {
  height: 32px;
}

.retro-lft .white-box-lft.no-pad .divider.command-divider .toggle-btn {
  position: absolute;
  right: 20px;
}

.retro-lft .white-box-lft.no-pad .divider.command-divider.open .toggle-btn {
  position: inherit;
  float: right;
}

.mob-show {
  display: none;
}
.login-form.login-reg-buttons {
  padding: 0;
}

.login-form.login-reg-buttons .cont-btn {
  padding: 10px 0;
  margin: 2%;
  width: 46%;
  text-align: center;
}

.login-form .cont-btn, .login-form input[type="submit"].pd-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ab-breadgr.mob-bread {
  position: relative;
  top: inherit;
  z-index: unset;
  margin-top: 16px;
}

.ab-breadgr.mob-bread li a {
  text-shadow: none;
  color: #979797;
}

.frm-ryt li .sbHolder .sbToggle {
  background: url(../images/select-arrw-yellow.png) no-repeat 0 0;
  opacity: 1;
}

.register-head-btn .phone_icon {display: flex;}
.register-head-btn:hover .phone_icon svg * { fill:#f8af02; }
.register-head-btn:hover .phone_icon svg circle { fill: white; stroke: #f8af02; }

/* TESTIMONIOS */

.testimnoios {
  float: left;
  width: 100%;
  padding: 30px 0 30px 0;
}

.testimnoios ul {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.testimnoios ul li {
  width: 31%;
  display: flex;
  margin-bottom: 40px;
}

.testimnoios ul li .avatar, .testimnoios .testimonial-container .avatar {
  width: 40%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  margin: auto;
}

.testimnoios ul li .avatar img, .testimnoios .testimonial-container .avatar img {
  object-fit: contain;
}

.testimnoios ul li .content, .testimnoios .testimonial-container .content {
  width: 70%;
  padding-left: 10px;
  color: #545454;
}

.testimnoios ul li .content .ratings, .testimnoios .testimonial-container .content .ratings {
  display: flex;
}

.testimnoios ul li .content .ratings img, .testimnoios .testimonial-container .content .ratings img {
  margin-right: 3px;
  width: inherit;
}

.testimnoios ul li .content .ratings span, .testimnoios .testimonial-container .content .ratings span {
  font-size: 12px;
  display: block;
  margin-left: 10px;
  margin-bottom: 2px;
  font-weight: bold;
}

.testimnoios ul li .content h3, .testimnoios .testimonial-container .content h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimnoios ul li .content h6, .testimnoios .testimonial-container .content h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 15px;
}

.testimnoios ul li .content p, .testimnoios .testimonial-container .content p {
  font-size: 14px;
  color: #545454;
}

.testimonios-icons {
  float: left;
  width: 100%;
  padding: 75px 0 60px 0;
  background: #fafafa;
}

.testimonios-icons h2 {max-width:856px;}
.testimonios-icons .iconos li img, .testimonios-icons .icons-container img {height: 123px;object-fit: scale-down;}
.testimonios-icons .iconos li span.testimonios-icons .icons-container span {width: 220px;margin: 20px auto;}

.testimnoios-bloque-eslogan {
  float: left;
  width: 100%;
  padding: 75px 0 60px 0;
  font-size: 20px;
}

.testimnoios-bloque-eslogan .testimonios-eslogan {
  max-width: 525px;
  display: flex;
  margin: auto;
  font-size: 20px;
  line-height: 28px;
}

.testimnoios-bloque-eslogan .testimonios-eslogan .ag-cont span {
  color: #f9af02;
}

.testimnoios-bloque-eslogan img {
  width: 70px;
  margin-right: 45px;
}

.testimnoios-ilusionados {
  float: left;
  width: 100%;
  background: #fafafa;
}

.testimnoios-ilusionados .container {
  display: flex;
  flex-flow: wrap;
  font-size: 20px;
  align-content: center;
}

.testimnoios-ilusionados img {
  width: 55%;
  object-fit: cover;
}

.testimnoios-ilusionados .ag-cont {
  width: 45%;
}

.testimnoios-ilusionados .ag-cont {
  padding: 35px 120px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.testimnoios-ilusionados .ag-cont span {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.testimnoios-ilusionados .ag-cont a {
  height: 35px;
  margin: 30px auto 0;
  background: #f9af02;
  padding: 5px 45px;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}

.testimonios-icons:not(.aun-car) h2 {
  margin: auto;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.testimonios-icons .iconos {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.testimonios-icons #icons-mob {
  margin-bottom: 32px;
}

.testimonios-icons .iconos li, .testimonios-icons .icons-container {
  width: 31%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 60px;
  min-height: 210px;
}

.testimonios-icons .icons-container {
  width: 100%;
  padding: 0 16px;
}

.testimonios-eslogan {
  
}

.ytb-videos ul li {
  margin-bottom: 32px;
}

.ytb-video > div {
  display: inline-block;
  vertical-align: top;
}

.ytb-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.ytb-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.ytb-video .pre-container {
  width: 40%;
}

.ytb-video .video-texts {
  width: 60%;
  padding-left: 16px;
}

.ytb-video .player {
  position: relative;
  margin-bottom: 8px;
}

.ytb-video .player img {
  width: 100%;
}

.ytb-video .player .center-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ytb-video .player .center-img img {
  position: relative;
  width: 16%;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ytb-video .video-texts span {
  font-weight: bold;
  font-size: 16px;
}

.ytb-video .video-texts p {
  margin-top: 8px;
  font-size: 14px;
  color: #545454;
}
/* FI TESTIMONIO */

#toast-container>div {
  opacity: 1;
}