﻿ul.resp-tabs-list {display: flex;flex-flow: wrap;}
ul.resp-tabs-list, p { margin: 0px; padding: 0px; }
.resp-tabs-list li { font-family: 'Barlow'; font-weight: bold; font-size:18px; color:#646464; line-height:22px; display: inline-block; padding: 10px 18px 10px 18px; margin: 0; list-style: none; cursor: pointer; float: left; text-align:center;  margin-right:5px; background:#e6e6e6; border: 1px solid #e6e6e6; border-bottom:none; margin-top: 5px; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.resp-tabs-list li:hover { background:#fff;}

.resp-tabs-list li:last-child{margin:0;margin-top: 5px;}
.resp-tabs-container { padding: 0px; background-color: #fff; clear: left;}
h2.resp-accordion { cursor: pointer; padding: 5px; display: none; }
.resp-tab-content { display: none;  padding:20px 0px 0 0px; float:left; width:100%;}
.resp-tab-active { border: 1px solid #e7e7e7; border-bottom: none; background:#fff; }
.resp-tabs-list li.resp-tab-active { border-bottom: none; background:#f9af02; z-index: 1; position: relative; color:#fff;}
.resp-content-active, .resp-accordion-active { display: block; }
.resp-tab-content.resp-tab-content-active { margin-top:-1px;}

.resp-tab-content { border-top: 1px solid #ededed; }
h2.resp-accordion { font-size: 13px; border: 1px solid #c1c1c1; border-top: 0px solid #c1c1c1; margin: 0px; padding: 12px 15px; background:#f2f2f2; font-family: 'Barlow'; font-weight: bold;
font-size: 18px; line-height: 22px; float:left; width:100%;}
h2.resp-tab-active { border-bottom: 0px solid #c1c1c1 !important; margin-bottom: 0px !important; padding: 12px 15px !important; }
h2.resp-tab-title:last-child { border-bottom: 12px solid #c1c1c1 !important; background: blue; }
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list { float: left; width: 30%; }
.resp-vtabs .resp-tabs-list li { display: block; padding: 15px 15px !important; margin: 0; cursor: pointer; float: none; }
.resp-vtabs .resp-tabs-container { padding: 0px; background-color: #fff; border: 1px solid #c1c1c1; float: left; width: 68%; min-height: 250px; border-radius: 4px; clear: none; }
.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs li.resp-tab-active { border: 1px solid #c1c1c1; border-right: none; background-color: #fff; position: relative; z-index: 1; margin-right: -1px !important; padding: 14px 15px 15px 14px !important; }
.resp-arrow { width: 0; height: 0; float: right; margin-top: 3px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 12px solid #c1c1c1; }
h2.resp-tab-active span.resp-arrow { border: none; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 12px solid #9B9797; }
/*-----------Accordion styles-----------*/
/*h2.resp-tab-active { background: #fff !important; }
.resp-easy-accordion h2.resp-accordion { display: block; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
.resp-jfit { width: 100%; margin: 0px; }
.resp-tab-content-active { display: block; }
h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }*/

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
/*ul.resp-tabs-list {
display: none;
}
h2.resp-accordion {
display: block;
}
.resp-vtabs .resp-tab-content {
border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
border: none;
float: none;
width: 100%;
min-height: initial;
clear: none;
}
.resp-accordion-closed {
display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
}*/
