.mb_slider{
  position:relative;
  padding:0px;
  z-index:0;  
  user-select: none;
  -webkit-user-select: none;
  margin-top:15px;
}
.mb_slider::before { content:""; background:#000; width:5px; height:9px; left:0px; top:0px; position:absolute; z-index:999; border-radius: 25px; display:inline-block;}
.mb_slider::after { content:""; background:#000; width:5px; height:9px; right:0px; top:0px; position:absolute; z-index:999; border-radius: 25px; display:inline-block;}

.mb_slider *:not(.mb_sliderBar):not(.mb_sliderHandler){
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.mb_sliderBar{
  background-color:#bcbcbc;
  height: 9px;
  width:100%;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;*/
  border-radius:0px;
  cursor:default;
  position:absolute !important;
  left:0px;
}


.mb_sliderHandler{
  width:28px; height:36px;
  background-color:none;
  position: absolute;
  top: -36px;
  left: 0;
  border-radius: 25px;
  /*box-shadow: rgba(0, 0, 0, 0.30) 0 0 6px 0;*/
  cursor: default;
  /*height: 100%;*/  
}
.mb_sliderHandler::after { content:""; position:absolute; width:3px; height:9px; top:auto; bottom: -9px;left: 0px;right: 0px;margin: auto; cursor: default; background:#000;border-radius: 25px;}

.mb_sliderHandler:hover{
  background-color:none;
}

.mb_sliderEnd, .mb_sliderStart, .mb_sliderValue{
  padding:7px 0px;
  position:relative;
  text-align:left;
  top:12px;
  margin:0px;
  min-width: 50px;
  color:#515151;
  white-space: nowrap;
  cursor:default;
  font-family: 'barlowlight'; font-size:15px;
}

.mb_sliderStart{
  text-align: left;
  float:left;
  clear:none;
}

.mb_sliderEnd{
  text-align: right;
  float:right;
  clear:none!important;
  padding-right:20px;
}
.mb_sliderEnd::after{
  content: "\f153";
  position:absolute;
  right:0px;
  top:7px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size:15px;
}

.mb_sliderRange{
  position:absolute;
  height:100%;
  margin:0;
  top:0;
  background: #f9af02!important;
  border-radius: 4px 0 0 4px ;
  cursor:default;
}

.mb_sliderZero{
  background-color: #fafafa;
  position:absolute;
  height:100%;
  margin:0;
  top:0;
  border-radius:4px 0 0 4px  ;
  cursor:default;
}

.mb_sliderZeroLabel{  
  color: #AAA;
  padding: 5px;
  background-color: #fff;
  margin-left: -4px;
  z-index: -2;
  border-radius: 4px;
  margin-top: -5px;
}

.mb_sliderValueLabel{
  background:url(../images/slider-bg.jpg) no-repeat center center;
  text-align: center;
  padding: 10px 11px;  
  color: #fff;
  font-family: 'barlowlight';
  font-size:10px;
  top: -26px;
  margin-left:0;
  z-index:-1;
  border:none !important;
 /* border-radius: 4px;*/
  margin-top: -12px;
  white-space: nowrap;
  /*min-width: 20px;*/
}

/*.mb_sliderValueLabel:after{
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 0;
  left:0;
  right: 0;
  margin: auto;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}*/

.mb_sliderValueLabel.right{
  left: auto!important;
  right: -15px!important;
}

.mb_sliderValueLabel.left{
  left: -15px!important;
  right: auto!important;
}

.mb_sliderValueLabel.right:after{
  left:auto;
  right: 10px;
  margin: auto;
}

.mb_sliderValueLabel.left:after{
  right:auto;
  left: 10px;
  margin: auto;
}
