header .main-menu {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 0 10px 0;
  }
  
  header .main-menu>.row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  header.logo-head .logo .logo-dsk {
    display: block;
    background: url(../images/logo-hover.svg) no-repeat left top;
  }
  
  header .menu,
  header .hd-links,
  header .lang_select {margin-top: 0;}
  
  header .hd-links,
  header .list-links {
    display: flex;
    flex-flow: wrap row;
    align-content: center;
  }
  
  
  header .lang_select .sbSelector,
  header ul.list-links li a {
    color: #373737;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  header ul.list-links img {
    margin-left: 7px;
  }
  
  header .lang_select .sbToggle {
    background: url(../images/select-arrw-yellow.png) no-repeat 0 0!important;
  }
  
  
  header ul.list-links li a span {
    font-weight: bold;
    margin-left: 7px;
  }
  
  header .hd-links .user {
    display: flex;
    align-items: center;
  }
  
  header .hd-links .user li {
    border-radius: 3px;
    border: 1px solid transparent;
    background: #f9af02;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
  }
  
  header .hd-links .user li:hover {
    background: transparent;
    border: 1px solid #f9af02;
  }
  header .hd-links .user li:hover a {
    color: black;
  }
  
  header .hd-links .user li a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 12px 35px;
    display: flex;
    align-items: center;
  }
  
  header .hd-links .user li a img {
    margin-right: 7px;
    width: 17px;
    height: 17px;
  }
  
  header .hd-links .user li:first-child {
    background: transparent;
    border: 1px solid #f9af02;
  }
  
  header .hd-links .user li:first-child:hover {
    background: #f9af02;
    border: 1px solid transparent;
  }
  
  header .hd-links .user li:first-child:hover a {
    color: white;
  }
  
  header .hd-links .user li:first-child a {
    color: black;
  }
  
  header .head-rgt {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }