/* Contact css */
.chat, .chat p {
    color: #555;
}

.cal-lft.contact-l {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cal-lft.contact-l h2 {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
}

.cal-lft.contact-l p {
    width: auto;
    margin: 0;
    font-size: 14px;
}

.cal-rht.contact-r {
    float: right;
    padding: 30px 0 30px 8px;
    width: 100%;
}


.cal-rht.contact-r .form-pad input[type="text"] {
    border: 1px solid #e0e4e5;
    width: 85%;
    padding: 10px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #acacac;
    display: inline-block;
    vertical-align: middle;
}

.cal-rht.contact-r .form-pad input[type=button] {
    width: 14%;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
}

.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 5px;
    right: 6px;
}

button.btn {
    background: #000;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

button.btn:after {
    display: none;
}

.upload-btn-wrapper:hover button.btn {
    background: #f9af02;
}

.cal-rht.contact-r .form-pad label {
    background: #000;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 6px;
}

.cal-rht.contact-r .form-pad input[type="file"] {
    display: none;
}

.cal-rht.contact-r .form-pad label:hover {
    background: #f9af02;
}

.cal-rht.contact-r .form-pad input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #acacac;
    opacity: 1;
    /* Firefox */
}

.cal-rht.contact-r .form-pad input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acacac;
}

.cal-rht.contact-r .form-pad input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #acacac;
}

.tooltip {
    position: relative;
    float: right;
}

.nav-tabs1 .tooltip span.tooltiptext {
    visibility: hidden;
    width: 150px;
    background: #f0f0f0;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -32px;
    line-height: 12px;
    height: auto;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    height: 32px;
    top: auto;
}

.nav-tabs1 .tooltip span.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}

.nav-tabs1 .tooltip span.tooltiptext::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    bottom: -5px;
    z-index: -1;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    left: 46%
}

.nav-tabs1>li.tab-red .tooltip span.tooltiptext {
    margin-left: -16px;
    top: -47px;
}


/*.nav-tabs1 .tooltip span.tooltiptext:after { top: 100%; left: 48px;  border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #f0f0f0; border-width: 8px; margin-left: -18px;}
.nav-tabs1 .tooltip span.tooltiptext:before { content: ''; position: absolute; transform: rotate(45deg); width: 8px; height: 8px; bottom: -12px; z-index: -1; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);}*/


/*.nav-tabs1 .tooltip span.tooltiptext:after { top: 100%; left: 48px;  border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 18px; margin-left: -18px;}
.nav-tabs1 .tooltip span.tooltiptext:before { content: ''; position: absolute; transform: rotate(45deg); width: 36px; height: 36px; bottom: -12px; z-index: -1; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);}*/

.nav-tabs1 .tooltip:hover .tooltiptext {
    visibility: visible;
}

.cal-rht.contact-r .form-pad .button-mob {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.cal-rht.contact-r .form-pad .button-mob ul li {
    float: left;
    width: auto;
    margin-right: 5px;
}

.cal-rht.contact-r .form-pad .button-mob ul li:last-child {
    margin-right: 0;
}

.cal-rht.contact-r .form-pad .button-mob ul li label {
    background: #000;
    padding: 5px 9px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    position: relative;
    right: auto;
    top: auto;
    display: block;
}

.cal-rht.contact-r .form-pad .button-mob ul li label img {
    vertical-align: middle;
}

.cal-rht.contact-r .form-pad .button-mob ul li .mob-btn {
    background: #f9af02;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 0 0 0;
    float: right;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    letter-spacing: 1px;
}

.cal-inner {
    float: left;
    width: 100%;
    position: relative;
}

.mobile-list {
    display: none;
    float: left;
    width: 100%;
}

.mobile-cal {
    display: none;
    /* -ms-transform: translate3d(125%, 0%, 0);
-webkit-transform: translate3d(125%, 0%, 0);
-moz-transform: translate3d(125%, 0%, 0);
-o-transform: translate3d(125%, 0%, 0);
transform: translate3d(125%, 0%, 0);
-webkit-transition: transform 0.4s ease-out 0s;
-moz-transition: transform 0.4s ease-out 0s;
transition: transform 0.4s ease-out 0s;*/
}


/*.mobile-cal.slide-rht {display: block; -ms-transform:  translate3d(0px, 0px, 0px);
-webkit-transform:  translate3d(0px, 0px, 0px);
-moz-transform:  translate3d(0px, 0px, 0px);
-o-transform:  translate3d(0px, 0px, 0px);
transform:  translate3d(0px, 0px, 0px);}

.cal-inner.slide-lft { -ms-transform: translate3d(-125%, 0%, 0px);
-webkit-transform: translate3d(-125%, 0%, 0px);
-moz-transform: translate3d(-125%, 0%, 0px);
-o-transform: translate3d(-125%, 0%, 0px);
transform: translate3d(-125%, 0%, 0px);
-webkit-transition: transform 0.4s ease-out 0s;
-moz-transition: transform 0.4s ease-out 0s;
transition: transform 0.4s ease-out 0s;}*/

.nav-tabs1>li p {
    width: auto;
    float: none;
    display: inline;
    margin: 0;
}

.tooltip {
    position: relative;
    float: none;
}

.tooltip span.tooltiptext {
    visibility: hidden;
    width: 150px;
    background: #f0f0f0;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    line-height: 12px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    top: -64px;
}

.tooltip span.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}

.tooltip span.tooltiptext::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    bottom: -5px;
    z-index: -1;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    left: 46%
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mob-cal-btns {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    display: none;
}

.mob-cal-btns ul li {
    float: left;
    margin-right: 4%;
    width: 48%;
}

.mob-cal-btns ul li button {
    background: #f9eaed;
    border: 1px solid #cf0e2d;
    line-height: 20px;
    padding: 15px 10px;
    font-size: 16px;
    width: 100%;
    color: #ce0e2d;
    letter-spacing: 1px;
    cursor: pointer;
}

.mob-cal-btns ul li:last-child {
    margin-right: 0;
}

.nav-tabs1>li.active a p {
    font-weight: 700;
}

.tab-pad {
    float: left;
    width: 100%;
}

.nav-tabs1>li.tab-red a span.fest-txt {
    width: auto;
    height: auto;
    float: none;
    background: none;
    display: inline;
    color: #000;
    border-radius: 0px;
}

.nav-tabs1>li.tab-red div {
    display: inline;
}

.mbl_backward {
    display: none;
}

.mbl_backward button:after {
    display: none;
}

.cal-rht .mbl_backward button {
    border: none;
    padding: 0;
    float: left;
}

.mbl_backward button:hover {
    background: none;
}

.mbl_backward button span {
    background: url(../images/BATALLE-INTANET-icona-calendari-mobil-anterior.png) no-repeat left;
    width: 31px;
    height: 29px;
}

.mbl_pop_inner h2 {
    color: #f9af02;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 25px;
}

.mbl_pop_inner h2 span {
    display: block;
    color: #000;
    margin: 30px 0 0 0;
    font-weight: 600;
}

.mbl_pop_inner ul li span {
    background: #19abf8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.message {
    float: left;
    width: 100%;
}

.message ul li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.message ul li .msg-c {
    text-align: center;
    padding: 8px 36px;
}

.message ul li .msg-c img {
    width: 150px;
}

.message ul li .msg-l, .message ul li .msg-r {
    padding: 8px 16px;
}

.message ul li .msg-l {
    float: left;
}

.message ul li .msg-r {
    float: right;
    position: relative;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
}

.message ul li .msg-r h4 {
    font-size: 15px;
    color: #000;
    font-weight: 500;
}

.message ul li .msg-r h4 span {
    font-weight: 400;
    margin-left: 12px;
    font-size: 12px;
}

.message ul li .msg-r p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.message ul li.line {
    background: #e0e4e5;
    width: 100%;
    height: 1px;
    margin: 15px 0 25px;
    text-align: center;
    display: block;
    line-height: 0;
}

.message ul li.line span {
    text-transform: uppercase;
    font-weight: 500;
    color: #999999;
    font-size: 12px;
    background: #fff;
    padding: 3px 12px;
}

.message {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-pad {
    float: left;
    width: 100%;
    padding: 21px 12px 12px;
    background-color: #fff;
}

.form-pad input[type=text] {
    border: 1px solid #e0e4e5;
    width: 100%;
    padding: 10px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #acacac;
    resize: none;
}

.form-pad input[type="button"] {
    background: #f9af02;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 11px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    float: right;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.form-pad input[type="button"]:hover {
    background: #f9af02;
}

.alert-div {
    background: #ffe8a5;
    padding: 4px 10px 4px 42px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    margin: 60px 0 0 0;
    float: left;
    width: 100%
}

.alert-div img {
    position: absolute;
    left: -6px;
    top: -4px;
}

.simplePopup {
    display: none;
    position: absolute;
    border: 0px solid #17b6bb;
    background: #fff;
    z-index: 99999;
    color: #fff;
    padding: 60px 40px 40px;
    left: 0;
    top: 3%;
    right: 0;
    margin: auto;
}

#pop-info,
#pop-info-message {
    float: left;
    background: #fff;
    width: 100%;
    max-width: 700px;
    color: #000;
}

#pop-info ul li,
#pop-info-message ul li {
    color: #000;
    font-size: 15px;
    margin-bottom: 15px;
}

#pop-info ul li strong,
#pop-info-message ul li strong {
    font-weight: 700;
}

#pop-info ul li span,
#pop-info-message ul li span {
    font-weight: 600;
}

#pop-info ul li ul li,
#pop-info-message ul li ul li {
    color: #000;
}

#pop-info ul li span.r-grn,
#pop-info-message ul li span.r-grn {
    background: #58c931;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#pop-info ul li span.r-yel,
#pop-info-message ul lispan.r-yel {
    background: #ffc10c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#pop-info ul li.no-mar,
#pop-info-message ul li.no-mar {
    margin-bottom: 0;
}

#pop-info h1,
#pop-info-message h1 {
    color: #f9af02;
    background-position: left bottom;
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
}

.simplePopup.detail-form {
    width: 40%;
    padding: 42px 12px 15px;
}

#pop-info ul.second-level,
#pop-info-message ul.second-level {
    padding-left: 40px;
}

#pop-info ul.second-level li,
#pop-info-message ul.second-level li {
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}

#pop-info ul.third-level,
#pop-info-message ul.third-level {
    padding-left: 65px;
    margin-bottom: 15px;
}

#pop-info ul.third-level li,
#pop-info-message ul.third-level li {
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}

.close-btn {
    float: right;
    width: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
}

.close-btn img {
    float: right;
}

.simplePopup.p-open {
    display: block;
}

/* MENSAJES CON BARRA LATERAL DE CHATS */
.chat { display: flex; }
.cal-rht.contact-r { width: 70%; }
.cal-lft.contact-l.users {
    width: 30%;
    float: left;
    padding: 30px 8px 30px 0;
    margin: 0;
}
.chat h3 {
    font-weight: 600;
    margin-bottom: 8px;
    color: #373737;
}

.cal-lft.contact-l.users .contacts {
    overflow-y: auto;
    max-height: 685px;
}

.cal-rht.contact-r .contacts {
    overflow-y: auto;
    max-height: 614px;
}

.cal-rht.contact-r .contacts {
    background-color: #fff;
}

.cal-lft.contact-l.users .contacts::-webkit-scrollbar, .cal-rht.contact-r .contacts::-webkit-scrollbar {
    width: 6px;
}

.cal-lft.contact-l.users .contacts::-webkit-scrollbar-track, .cal-rht.contact-r .contacts::-webkit-scrollbar-track {
    background: #f2f2f2;
}

.cal-lft.contact-l.users .contacts::-webkit-scrollbar-thumb, .cal-rht.contact-r .contacts::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f9af02;
}

.chat_list { padding: 10px; background-color: #fff;border-bottom: 1px solid #efefef; }
.chat_list:last-child {border-bottom: none}
.chat_list.active_chat { background: #ebebeb; }
.chat_list:hover { cursor: pointer; background: #ebebeb; }
.chat_people { overflow: hidden; clear: both; }
.chat_img { float: left; width: 11%; }
.chat_img .avatar-icon {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    object-fit: cover;
    max-width: inherit;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}
.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}
.chat_ib h5 i {
    font-size: 11px;
    color: #999;
    line-height: 0px;
    font-weight: lighter;
}
.chat_ib span.chat_date {
    font-size: 13px;
    float: right;
}
.chat_ib span.chat_date span {
    color: #f9af02;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}
.nuevo_mensaje h5, .nuevo_mensaje span, .nuevo_mensaje p { font-weight: bold !important; }
.cal-rht.contact-r .message-line .msg-usr {
    margin-bottom: 8px;
}
.cal-rht.contact-r .message-line .msg-usr img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: scale-down;
    display: inline-block;
    vertical-align: middle;
}

.cal-rht.contact-r .message-line .msg-usr h4 {
    display: inline-block;
    vertical-align: middle;
}

.message ul li .msg-r .msg-usr span {
    font-weight: 400;
    margin-left: 12px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    color: #868686;
}

.message ul li .msg-r {float:left;text-align: left;margin-left: 16px;margin-right: 16px }
.message ul li.outgoing-message .msg-l { float: right; margin-right: 10px; }
.message ul li.outgoing-message .msg-r { float:right; }
.message ul li.outgoing-message .msg-r p { width: auto; text-align: left; float: right; }
.message ul li .msg-r p a:hover { text-decoration: underline; font-weight: bold; }
.message ul li .msg-r p a { color: #f9af02; }
/* end MENSAJES CON BARRA LATERAL DE CHATS */

.cal-lft.contact-l.users .conv-mob {
    display: none;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.32px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 14px 8px;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

@media screen and (max-width:1023px) {
    .cal-rht.contact-r .form-pad input[type=button] {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media screen and (max-width:767px) {
    .cal-rht.contact-r .form-pad input[type="text"] {
        width: 80%;
    }

    .cal-rht.contact-r .form-pad input[type=button] {
        width: 19%;
    }
}

@media screen and (min-width:640px) {
    .cal-lft.contact-l.users .contacts {
        display: block !important;
    }
}

@media screen and (max-width:639px) {
    .cal-rht.contact-r .form-pad input[type="text"] {
        width: 75%;
    }

    .cal-rht.contact-r .form-pad input[type=button] {
        width: 24%;
    }

    .chat {
        display: block;
    }

    .cal-lft.contact-l.users {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-bottom: 0;
    }

    .cal-lft.contact-l.users h3 {
        display: none;
    }

    .cal-lft.contact-l.users .contacts {
        display: none;
    }

    .cal-lft.contact-l.users .conv-mob {
        display: block;
    }

    .cal-lft.contact-l.users .conv-mob .conv-mob-expand {
        display: block;
        width: 14px;
        height: 9px;
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -5px;
        background: url(../images/mbl-acc-arw.png) center 0;
    }

    .cal-lft.contact-l.users .conv-mob.conv-mob-active {
        border-bottom: none;
    }

    .cal-lft.contact-l.users .conv-mob.conv-mob-active .conv-mob-expand {
        background: url(../images/mbl-acc-arw-active.png) center 0;
    }

    .cal-rht.contact-r {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}