.buscador-results {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(148,148,148,1);
    box-shadow: 2px 2px 5px 0px rgba(148,148,148,1);
}

.buscador-acc .accordion_in .acc_head {
    padding: 15px;
    line-height: 21px;
    font-size: 14px;
    background: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.buscador-acc .accordion_in:not(.acc_active):last-child .acc_head {
    border-radius: 0 0 5px 5px;
}

.buscador-acc .accordion_in .acc_content,
.buscador-acc .accordion_in:not(:last-child) .acc_head {
    border-bottom: 1px solid #ECECEC;
}

.buscador-acc .accordion_in.acc_active .acc_head .acc_icon_expand {
    transform: rotate(180deg);
}

.buscador-acc .accordion_in .acc_head .acc_icon_expand {
    display: block;
    height: 12px;
    width: 12px;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: url(../images/select-arrw-yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    order: 2;
}

.buscador-acc .accordion_in .acc_content ul {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.buscador-results .busquedas-populares ul li,
.buscador-acc .accordion_in .acc_content ul li {
    line-height: 25px;
    font-size: 14px;
    padding: 5px 15px;
    cursor: pointer;
}

.buscador-acc .accordion_in .acc_content ul li.children {
    margin-left: 15px;
}

.buscador-results .busquedas-populares ul li:hover,
.buscador-acc .accordion_in .acc_content ul li:hover {
    color: #f9af02;
}

.buscador-results .busquedas-populares {
    padding: 15px;
    border-bottom: 1px solid #ECECEC;
}

.buscador-results .busquedas-populares h5 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.buscador-results .busquedas-populares ul {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.buscador-results .hide {
    display: none!important;
}

.buscador-results .filters {
    padding: 15px 10px 5px 20px;
}

.filters-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.out-filters.filters {
    height: auto;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 85%;
    max-height: 32px;
    overflow: hidden;
}

.filters .tag {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #f9af02;
    color: #f9af02;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filters .tag:hover {
    background: #f9af02;
    color: white;
}

.filters .tag span {
    margin-left: 10px;
    cursor: pointer;
}