.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  border: none;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
  margin-bottom:12px;
  border-radius: 6px 6px 6px 6px;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #fff;
  padding: 22px 20px;
  color:#373737;font-family: 'Barlow'; font-weight: 700; font-size:12px;text-transform:uppercase; letter-spacing:0.5px;
  display: block;
  cursor: pointer;
  border-radius: 6px 6px 6px 6px;  
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -9px;
  background: url(../images/plusminus.png) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  background: #fff;
  /*color: #7B7E85;*/
  padding:15px 22px;
  float:left; width:100%;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 6px 6px 6px 6px;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 0px 0px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
  background: #fff;
}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/plusminus.png) center -15px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head {
  padding-right: 40px;
}
