

/* Blog List */
.blog-list { float:left; width:100%;padding:60px 0px 75px 0px; background:#fff;}
.blog-list.facilitador {padding:0; background: transparent;}
.blog-list h1, .blog-list h2 { font-family: 'Barlow';font-weight:800; font-size:35px; line-height:35px; margin-bottom:20px; color:#373737; letter-spacing:0.5px; }
.blog-list p {font-family: 'Barlow';font-weight:400; font-size:16px; line-height:18px; color:#6a6a6a;}

.blog-list .blog-pp ul { float:left; width:100%; margin-top:55px; display: flex; flex-flow: wrap;}
.blog-list .blog-pp ul li{ float:left; width:32%; margin-right:2%; margin-bottom:20px; position:relative;}
.blog-list .blog-pp ul li:nth-child(3n){ margin-right:0px;}
.blog-list .blog-pp ul li .img-div { float:left; width:100%; overflow:hidden; position:relative; }
.blog-list .blog-pp ul li .img-div>img{ width:540px; height: 350px; }
.blog-list .blog-pp ul li .img-div img{ float:left; width:100%; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.blog-list .blog-pp ul li:hover .img-div img{-webkit-transform: scale(1.1); transform: scale(1.1);}
.blog-list .blog-pp ul li .img-div:after { position: absolute; display: block; content: ""; width:100%; height:100%; left:0; top:0; background: rgba(0,0,0,0.2);}

/*.blog-list ul li .list-cont{ float:left; width:100%; height:100%; position:absolute; display: flex; display: -webkit-flex; align-items: center; justify-content: center;-webkit-align-items: center;-webkit-justify-content: center;top:0; left:0;}*/
.blog-list .blog-pp ul li .list-cont{ float:left; width:100%; height:100%; position:absolute; display: flex; display: -webkit-flex; align-items: center; justify-content: center;-webkit-align-items: center;-webkit-justify-content: center; top:0; left:0; text-align:center; padding:0px 5px; z-index: 999;}
.blog-list .blog-pp ul li .list-cont h2{color:#fff; font-family: 'Barlow';font-weight:700; font-size:28px; line-height:35px; margin-bottom:10px; z-index:10; letter-spacing:0.5px;}
.blog-list .blog-pp ul li .list-cont h3{color:#fff; font-family: 'Barlow';font-weight:300; font-size:30px; line-height:35px; letter-spacing:0.5px; margin-bottom:15px;}
.blog-list .blog-pp ul li::before { content:""; background:rgba(0,0,0,0.2); left:0px; top:0px; width:100%; height:100%; position:absolute; z-index: 99;}
.blog-list .blog-pp ul li .list-cont h4{color:#fff; font-family: 'Barlow';font-weight:700; font-size:11px; line-height:18px; letter-spacing:0.5px; }
.blog-list .blog-pp ul li .list-cont h4 img {float:none; width:auto; position:relative; top:4px; margin-right:5px;}
.blog-list .blog-pp ul li .list-cont h4 span{color:#f9af02; margin-right:10px;}

.blog-list .pagination		{ margin-bottom:0;}
.blog-list .pagination ul	{ margin-top:0;}
.blog-list .pagination ul li{ margin:0; position:static; float:none; width:auto;}
.blog-list .pagination ul li::before	{ display:none;}

.blog-list.legal .contingut li,
.blog-list .contingut p {
    color: #545454;
    font-size: 16px;
    font-family: 'Barlow';
    font-weight: 300;
    line-height: 25px;
}

span.exp-btn { color:#fff;font-family: 'Barlow';font-weight:800; font-size:12px;padding:5px 18px; border:1px solid #fff; background:rgba(0,0,0,0.2); text-transform:uppercase; letter-spacing:0.5px; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; position:absolute; right:20px; top:18px;}
span.exp-btn:hover {background:#f9af02; }

/*.experienca-ppad  	{  position:absolute; right:0px; top:35px;}*/
.experienca-ppad a.todo-btn { color:#393939;font-family: 'Barlow';font-weight:800; font-size:12px;padding:10px 30px; border:1px solid #f9af02; background:none; text-transform:uppercase; letter-spacing:0.5px; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.experienca-ppad a.todo-btn:hover {background:#f9af02; }
.experienca-ppad a { text-transform: uppercase; color: #3c3c3c; padding: 9px 10px; display: block; font-size: 12px; font-family: 'Barlow';font-weight:700; border: 1px solid #fbad03; text-align: center; border-radius:4px;}
.experienca-ppad a span {  position: relative; display: inline-block;}
.experienca-ppad a span:after { display: block; content:"+"; position: absolute; right:-10px; top:-14px; color: #3c3c3c; font-size: 19px; font-family: 'Barlow';font-weight:700;}

.experienca-ppad .cat-list-dp { margin-top:25px;}
.experienca-ppad .cat-list-dp ul li { margin-top: 0px; margin-bottom:10px; float:left; margin-right:11px;}
.experienca-ppad .cat-list-dp ul li:last-child	{ margin-right:0;}
.experienca-ppad .cat-list-dp ul li a { text-transform: none; color: #6d6d6d; padding: 9px 30px; display: block; font-size: 13px; font-family: 'Barlow';font-weight:400;border: 1px solid #c8c8c8; text-align: center; border-radius:4px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}

.experienca-ppad .cat-list-dp ul li a.active,
.experienca-ppad .cat-list-dp ul li a:hover { background: #fbad03; color: #fff;}

.experienca-ppad .cat-btn { float:left; width:100%;position: relative;}
.experienca-ppad .cat-btn.dp-open a span:after { content: "-"}

.que-es-retiro-header h2:before{ content: "”"}
.que-es-retiro-header h2:after {content:"“";}

.que-es-retiro-header h2 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    line-height: 45px;
    max-width: 1000px;
    margin: 0 auto;
}

.que-es-retiro-header span {
    display: block;
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.queretiro-bloc h1, .queretiro-bloc h2 {text-align: center; margin-bottom: 40px;}
.queretiro-bloc .contingut {display: block;margin: 0 auto;max-width: 700px;}
.queretiro-bloc.legal .contingut {max-width: 950px;}
.queretiro-bloc.legal span {font-weight: 500;}
.blog-list.legal .contingut li, .queretiro-bloc .contingut p {line-height: 30px;font-size: 18px;margin: 20px 0;}
.blog-list.legal .contingut ul li {
    background: url(../images/select-arrw-yellow-rgt.png) no-repeat 0 11px;
    padding-left: 15px;
}

.valors .tipos .tipo {
    display: flex;
    flex-flow: wrap;
    background: white;
    margin: 30px 0;
    border-radius: 5px;
    padding: 30px;
}

.valors .tipos .tipo-esq,
.valors .tipos .tipo-dre { width: 50%; padding: 10px 30px; }
.valors .tipos .tipo-dre { display: flex; flex-flow: wrap; }
.valors .tipos .tipo-dre>span {display: block; width: 100%; padding: 35px 0; font-size: 20px; font-weight: bold;}
.valors .tipos .tipo-dre ul li { color: #545454; font-size: 18px; font-family: 'Barlow'; font-weight: bold; background: url(../images/tick-yellow.svg) no-repeat left 5px; padding-left: 30px; margin-bottom: 22px; line-height: 24px;}
.valors .tipos .tipo-dre a.btn { display: inline-flex; padding: 10px 25px; border-radius: 3px; margin-top: auto; margin-bottom: 10px; }
.valors .tipos .tipo-dre a.btn-orange { background: #f9af02; color: #fff; border: 1px solid transparent; }
.valors .tipos .tipo-dre a.btn-orange:hover { background: transparent;color: #6a6a6a; border: 1px solid #f9af02;}
.valors .tipos .tipo-esq p { padding-right: 50px; margin: 10px 0; color: #6a6a6a; }
.valors .tipos .tipo-esq .title { display: flex; flex-flow: wrap; align-items: center; margin-bottom: 20px;}
.valors .tipos .tipo-esq .title h3 { font-weight: bold; font-size: 30px; }
.valors .tipos .tipo-esq .title img { margin-right: 40px; width: 76px; height: 76px }
.valors .tipos .tipo-esq .content {border-right: 1px solid #bbbbbb;}

.valors .tipos .tipo-dre > ul { width: 100%; }