
ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #ececec;
	font-size: 16px;
	display: inline-block;
	margin-right: 1px;
	padding: 18px 15px;
	list-style: none;
	cursor: pointer;
	float: left;
	font-family: 'proxima_novasemibold';
	width: 180px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none !important;
	position: relative;
	margin-bottom: -1px;
}
.resp-tabs-list li:last-child {
	margin-right: 0 !important;
	width: 184px;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 0;
}
.resp-tab-active {
	border-bottom: none !important;
	margin-bottom: -1px !important;
	padding: 18px 15px !important;
}
.resp-tab-active {
	background-color: #ffffff !important;
	color: #008ed2;
	border: 1px solid #ececec !important;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: none;
	/*min-height: 800px;*/
	float: left;
	width: 100%; /* border-top:none !important;*/
}
h2.resp-accordion {
	font-size: 16px;
	border: none;
	/*border-top: 0px solid #c1c1c1;*/
	margin: 0px;
	padding: 12px 26px;
	color: #000000;
}
h2.resp-tab-active {
	border: 1px solid #e7e7e7 !important;
	margin-bottom: 0px !important;
	padding: 12px 26px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 17px;
	height: 10px;
	float: right;
	margin-top: 10px;
	/* border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1; */
	background: url(../images/up-arrow.png) no-repeat right center;
}
h2.resp-tab-active span.resp-arrow {
	/* border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797; */
	background: url(../images/down-arrow.png) no-repeat right center;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion span.value {
    font-size: 18px;display:inline-block;
}
h2.resp-accordion.resp-tab-active span.value {  display:none;}

/* Here your can change the breakpoint to set the accordion, when screen resolution changed */

@media only screen and (max-width: 767px) {

ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
	background: #a01331;
	color: #fff !important;
	font-size: 14px !important;
	font-family: 'public_sansbold';
}
.resp-tab-content {
	background: #fff;
}

.resp-tabs-container h2.resp-accordion.resp-tab-active {
	background: #a01331 !important;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}

}
