@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){

}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}

/* 22 Oct 2019 */		
.area-content	{ margin-top:-180px;}
.login-pad		{ background:#ededed;}
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row, .row1 { width:1000px; }
.table-list .tb-lft {margin-right: 20px; width: 640px;}
.table-list .tb-rgt { width: 340px;}
.tb-amt.cnt-left {width: 340px;}
.filter {width: 65%;}

}
 

@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row, .row1  { width:980px; }
.filter { width:65%;}
.inner-top .logo {  padding-right: 85px;}
.inner-top h1 {font-size: 32px;}
.table-list .tb-lft {margin-right: 20px; width: 630px;}
.table-list .tb-rgt { width: 330px;}
.tb-amt.cnt-left {width: 330px;}

/* 22 Oct 2019 */
.area-content		{ margin-top:-180px;}
.tab-resp tr th, .tab-resp td		{ padding:32px 5px 34px 6px;}
}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row, .row1 { width:750px;}
.main-section { margin:0;}
.filter { width:100%;}
.inner-top .logo {  padding-right: 40px;}
.inner-top h1 {font-size: 25px;}
.list-tab thead tr:first-child { display:none;} 
.list-tab thead tr:last-child { display:block;}
.list-tab td { font-size:15px;}
.amt-tab td { font-size:15px;}
.amt-tab thead { padding: 12px 15px;}
.amt-tab tr th { font-size: 13px;}
.amt-tab tr { padding: 12px 15px;}
.amt-tab tfoot { padding: 12px 15px;}
.amt-tab tfoot tr th:last-child { font-size: 20px; width: 40%;}
.amt-tab tfoot tr th:first-child { width: 60%;}
.table-list .tb-lft {margin-right: 10px; width: 465px;}
.table-list .tb-rgt { width: 275px;}
.tb-amt.cnt-left {width: 275px;}
footer { padding: 20px 0 22px;}
footer h4 {font-size: 15px;}
.amt-tab tfoot tr th { font-size: 16px;}

/* 22 Oct 2019 */
.login-pad #page	{ position:relative; float:left; width:100%;}
.area-container	{ min-height: inherit; position:relative; display:inline-block; text-align:center;}
.area-content	{ margin:60px 0 100px; float:none; display:inline-block;}
.pass-word .area-content	{ margin-top:60px;}
.log-foot		{ position:relative;}
.ddsmoothmenu ul li	{ margin:0 5px;}
.ddsmoothmenu ul li a, .ddsmoothmenu ul li:first-child a, .ddsmoothmenu ul li:last-child a	{ padding:0 12px;}
.tab-resp	{ width:1000px;}
.tab-resp tr th, .tab-resp td		{ padding:20px 5px 22px 10px;}
.alta-p		{ margin-bottom:70px;}

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row1 { width:100%; padding:0px 15px; }
.main-row  { width:100%; padding:0px; }
.main-section { margin:0;}
.inner-top h1 { display:none;}
.inner-cont {padding-bottom: 60px;}
.inner-cont h1 { display:block;}
.list-tab thead tr:first-child { display:none;} 
.list-tab thead tr:last-child { display:block;}
.table-list .tb-lft { width:100%; margin-right:0;}
.table-list .tb-rgt { width:100%;}
.amt-desk { display:none;}
.amt-mob { display:block;}
.filter {width: 100%;text-align: center; margin-bottom: 20px;}
.select-filter {width: 160px; position: relative;}
.select-filter .select-box {display: block;}
.select-filter ul#filterOptions.filter-opp{display: none;}
.select-filter ul#filterOptions { background: #fff; position: absolute;z-index: 99; top:38px !important; border: 1px solid #d7d7d7;float: left; left: 0; width: 100%;}
.select-filter ul#filterOptions li { width: 100%;padding: 0px;background: none; border-bottom: 1px solid #d7d7d7;    margin: 0;
line-height: 30px;text-align: right;border-right: none;}
.select-filter ul#filterOptions li:last-child { border-bottom: none;}
.select-filter ul#filterOptions li a {display: block;outline: none;padding: 2px 5px !important;color: #414141;font-size: 12px;
 line-height: 22px;text-align: left; border:none;}
.select-filter ul#filterOptions li a:hover { background: none; color: #962635; }
.select-filter ul#filterOptions li.active a { background: none; }

.filter h3{ display:block;}
.filter-mob { display:block;}
footer h4, footer ul { display:none;}
footer { background:#b3b3b3; padding:5px 0 5px; position: fixed; bottom: 0px;}
footer h3 { display:block;}
.inner-top .logo { display:none;}
.inner-top .mob-logo { display:block;}
.amt-tab td:last-child { text-align: right;}
.amt-tab tfoot { padding: 0 26px;}
.table-list { margin-bottom:0;}
.amt-tab tfoot tr { padding: 15px 0 15px;}

.list-tab{padding-bottom:60px;}
footer{display:none;}

/* 22 Oct 2019 */
.mobNav, .m-menu { display:block;}
.menu, .lang_select, a.intranet { display:none;}

.area-content	{ margin:50px 0 80px;}
.pass-word .area-content	{ margin-top:50px;}
.area-container	{ position:static;}
.area-content h2	{ padding-bottom:30px;}
.inner-page .inner-top ul				{ margin-top:14px; margin-right:25px;}
.inner-page .inner-top li				{ display:none;}
.inner-page .inner-top li:last-child	{ display:block;}
.alta-p.mt55	{ margin-top:35px;}
.area-content form img	{ width:160px;}
.tab-resp	{ width:1015px;}
.tab-resp tr th, .tab-resp td		{ padding:20px 5px 22px 10px;}
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.top-lft { width:100%; margin-bottom:30px; text-align: center;}
.top-rgt { width:100%; text-align: center;}
.top-lft img { float:none; margin-top: 25px;}
.dollar-btn a { float:none; display:inline-block; font-size: 26px; line-height: 28px; padding: 25px 0;}
.top-rgt img { float:none;}
.top-rgt h3 { text-align:center; width:100%;}
.cont-section h1 { font-size: 30px;}
.dollar-btn { margin-top: 25px;}
.top-btm { padding-top: 20px;}
.cont-section { padding-top: 30px;}
.cont-section ul li { padding: 15px 15px 15px 40px;}
.cont-section h3 { font-size: 16px; line-height: 24px; padding-bottom:5px;}
.cont-section h4 { font-size: 16px; line-height: 24px;}
.list-tab td { font-size:15px;}
h2.resp-accordion{padding:7px 26px;}

/* 22 Oct 2019 */
.area-content h2	{ font-size:22px;padding-bottom:25px;}
.alta-p h2			{ font-size:22px;}
.form-list			{ width:98%;}
.client-link a.salir-l	{ display:inline-block;}
.inner-page .inner-top li:last-child	{ display:none;}
.area-content form img	{ width:150px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.cont-section h1 {  font-size: 28px; line-height:36px;}
.list-tab td { font-size:13px;}
.list-tab tbody tr { padding:23px 12px;}
.qty-chk { height: 24px;}
.qty { width:38px; font-size: 14px; height: 20px;}
input.qtyplus, input.qtyminus { width:20px; height:20px; font-size: 14px; line-height: 18px;}
.list-tab thead { padding: 12px 15px 12px 25px;}
.list-tab td:first-child { width:30%;}
.list-tab td:nth-child(2n) { width:20%; }
.inner-cont h1 { font-size:20px;}
.filter-mob h3 { font-size:14px; width: 30%; padding-right: 40px;}
.filter h3{ font-size:14px; width: 30%; padding-right: 40px;}
.sbOptions { width:60px !important;}
footer h3 { font-size:14px;}
.inner-cont { margin-top: 15px;}

/* 22 Oct 2019 */
.area-content	{ width:90%;}
.area-content form	{ padding:30px 30px 40px;}
.area-content h2, .alta-p h2	{ font-size:20px;}
.area-content form img	{ width:140px;}	
.area-content.alta-p h2 br { display:none;}
}

@media screen and (max-width:359px) {
.cont-section h1 { font-size: 25px; line-height:32px;}
.qty { width:30px;  font-size: 13px;}
.list-tab tr th { font-size: 13px;}
.list-tab td:first-child, .list-tab tr th:first-child { width:35%;}
.list-tab td:nth-child(2n), .list-tab tr th:nth-child(2n) { width:15%;}
.list-tab td:last-child, .list-tab tr th:last-child { width: 20%;}
.list-tab thead { padding: 12px 15px;}
.list-tab tbody tr { padding: 18px 8px;}
.filter-mob h3 {padding-right: 30px;}
h2.resp-accordion { font-size:12px !important;}
.amt-tab td { font-size: 14px;}
.amt-tab tfoot tr th { font-size: 16px;}
.amt-tab tfoot tr th:last-child { font-size: 20px;}
h2.resp-accordion span.value { font-size: 16px;}

/* 22 Oct 2019 */
.area-content form	{ padding:30px 25px 40px;}

}