@charset "utf-8";
/* CSS Document */

body { padding:0px; margin:0px; background:#ffffff; font-size:16px; color:#282828; line-height:20px; font-family: 'public_sansregular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #282828; text-decoration: none; outline:none; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0px; margin:0px; color:#414141;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
strong { font-family: 'public_sansbold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row { width:1170px; margin:auto; padding:0px;}
.main-row { width:768px; margin:auto; padding:0px;}

/* header css */
header {float:left; width:100%; z-index: 999;}
.is-sticky header { box-shadow:1px 2px 3px #ccc;}
.main-section { float:left; width:100%; padding: 30px 25px; margin: 15px; border:2px solid #565656;}
.top-section { float:left; width:100%;}
.top-lft { float: left; width: 50%;}
.top-lft h2 { font-size:18px; line-height:25px; font-family: 'public_sansbold'; color:#282828;}
.top-lft span {font-family: 'public_sansitalic';}
.top-lft img { float: left; margin-top:40px; width: auto;}
.top-rgt { float: right; width: 50%;}
.top-rgt img { float: right; width:auto;}
.top-btm { float: left; width: 100%; padding-top:42px;}
.top-btm img { float: left; width:auto;}
.dollar-btn { float:left; width:100%; margin-top:42px;}
.dollar-btn a { float:left; width:250px; text-align:center; background:#f3f3f3; padding:35px 0; font-size:32px; line-height:25px; border-radius:50px; font-family: 'public_sansbold'; color:#282828;}
.top-rgt h3 { float:right; font-size:18px; line-height:25px; font-family: 'public_sansbold'; text-align: right; color:#282828; padding-top:24px;}
.top-rgt span {font-family: 'public_sansitalic';float: right; width:100%;}

.cont-section {float:left; width:100%; padding-top:45px;}
.cont-section h1 { float:left; width:100%; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-bottom:40px;}
.cont-section ul { float:left; width:100%;}
.cont-section ul li { float:left; width:100%; background:#f3f3f3; padding: 15px 15px 15px 53px; position:relative;}
.cont-section ul li::before { position:absolute; content:""; background:#282828; width:5px; height:5px; top:25px; left:15px; border-radius:3px;}
.cont-section ul li:nth-child(2n+2) { background:#ffffff;}
.cont-section h3 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828;}
.cont-section h4 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828; padding-bottom:5px;}
.cont-section span { font-family: 'public_sansregular';}

/* productes css */
.top-header { float:left; width:100%; background:#fbfbfb; padding:15px 0;}
.inner-top { float:left; width:100%;}
.inner-top .logo { float:left; width:auto; padding-right:100px;}
.inner-top .mob-logo { float:left; width:auto; display:none;}
.inner-top h1 { float:left; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-top:20px;}
.lang-select { float: right; margin-top:30px; padding-right: 20px;}
.inner-cont { float:left; width:100%; margin-top:22px;}
.inner-cont h1 { display:none; float:left; width:100%; text-align:center; font-size:28px; line-height:35px;  font-family: 'public_sanssemibold'; color:#282828; padding-bottom:25px;}
.filter { float: left; width: 54%; margin-bottom:30px;}
.filter h3 {float: left;font-size: 18px;font-family: 'public_sansmedium';line-height: 38px;text-align: right;width: 45%;
 padding-right: 50px; display: none;}
.filter li { float: left; width:122px; margin-right:5px; margin-bottom:8px;}
.filter li:nth-child(5n+5) { margin-right: 0;}
.filter li button { float:left; width:100%; background:#ffffff; color:#282828; border:1px solid #9d9d9d; cursor: pointer; border-radius:25px; text-align:center; padding:10px 0; font-size:14px; line-height:15px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.filter li button:hover { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter li.active button { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter-mob { display:none; float: left; text-align: center; width: 100%; margin-bottom:20px;}
.filter-mob h3 { float: left; font-size:18px; font-family: 'public_sansmedium'; line-height: 38px;  text-align: right; width: 45%; padding-right: 50px;}
.select-filter { float:left; width:auto;}
.select-filter .sbHolder { float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px;}
.select-filter .sbSelector { text-align:left;}
.select-filter a.sbToggle { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px;}
.select-filter .sbHolder ul.sbOptions { top:38px !important;}
.select-filter .sbOptions { width: 100% !important;}

.select-filter .select-box { display: none; float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px; position: relative;}
.select-filter .select-txt { text-align:left; font-size: 14px;line-height: 18px; color: #919191; font-family: 'public_sanslight'; display: block;
 left: 0;outline: none;overflow: hidden;position: relative;text-indent: 0px;top: 0;}
.select-filter a.select-arw { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px; position: absolute;}

.table-list { float:left; width:100%; margin-bottom:25px;}
.table-list .tb-lft { float:left; width:772px; margin-right:28px;}
.table-list .tb-rgt { float:right; width:370px;}
.list-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.list-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 15px; width: 100%;}
.list-tab thead tr:first-child { display:block;} 
.list-tab thead tr:last-child { display:none;}
.list-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.list-tab tr th:first-child { text-align:left;}
.list-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.list-tab td:first-child { width:25%; text-align:left;}
.list-tab td:nth-child(2n) { width:25%; color:#949494;}
.list-tab td:nth-child(3n) { width:30%;}
.list-tab td:last-child { width:20%; color:#a41432; font-family: 'public_sansbold';}
.list-tab thead tr { float: left; width: 100%;}
.list-tab tbody tr { float: left; width: 100%; background:#ffffff; border-bottom: 2px solid #f9f9f9; padding:12px 15px;}
.list-tab tbody tr:last-child { border-bottom: 2px solid #ffffff;}
.list-tab tbody tr:hover { background:#f3f3f3; border-bottom: 2px solid #eeeded;}

.qty-chk { width: 100%; height: 26px; text-align: center; font-size:14px; border:none; color:#727272; line-height: 25px; }
input.qtyplus { width:25px; height:25px; background:none;border:1px solid #a41432;  padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#a41432; position: relative; cursor:pointer; line-height:12px;}
input.qtyminus { width:25px; height:25px; background:none; border:1px solid #dfdfdf; padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#494949; cursor:pointer; line-height:12px;}
input.qtyplus:hover { color:#C9346C;}
input.qtyminus:hover { color:#C9346C;}
.qty { border: medium none; background:none; color: #727272; font-size: 16px; font-family: 'public_sansbold'; height: 25px; line-height:21px; text-align: center; width: 60px;}

.amt-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.amt-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 26px; width: 100%;}
.amt-tab tbody { background:#fbfbfb;}
.amt-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tr th:first-child { text-align:left;}
.amt-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.amt-tab td span { font-family: 'robotomedium';}
.amt-tab thead tr { float: left; width: 100%; padding:0;}
.amt-tab tr { float: left; width: 100%; padding:12px  26px;}
.amt-tab td:first-child { width:65%; text-align:left; font-family: 'robotomedium';}
.amt-tab td:nth-child(2n) { width:20%; color:#a41432; font-family: 'public_sansbold'; text-align:right;}
.amt-tab td:last-child { width:15%; text-align:center;}
.amt-tab tfoot {background:#fbfbfb; float: left; padding: 12px 26px; width: 100%;}
.amt-tab tfoot tr th {float:left; font-size:18px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tfoot tr {border-top: 1px solid #f7f7f7; padding: 15px 0;}
.amt-tab tfoot tr th:first-child { width:65%; text-align:left; font-family: 'robotobold';}
.amt-tab tfoot tr th:last-child { width:35%; text-align:center; color:#a41432; font-size:24px; font-family: 'public_sansblack';}
.tb-amt.cnt-left { width: 370px; margin-top:15px;}
.tb-amt{max-height: 80%;overflow-y: scroll;}
.close-btn img { cursor:pointer;}
.amt-desk { float:left; width:100%; display:block;}
.amt-mob { float:left; width:100%; display:none; position:fixed; bottom:0px; left:0;}

/* footer css */
footer { background:#f3f3f3; float:left; width:100%; padding:35px 0 40px;}
footer h4 { float:left; width:100%; font-size:16px; line-height:27px; padding-bottom:10px; color:#282828;}
footer h4 span { font-family: 'public_sansbold';}
footer ul { float:left; width:100%;}
footer ul li { float:left; width:auto; padding-right:55px;}
footer ul li a { float:left; width:auto; font-size:14px; line-height:27px; color:#282828; padding:0 0 0 28px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; 
-o-transition:all .5s ease;} 
footer ul li a.tel-ico { background:url(../images/telephone.svg) no-repeat scroll left center;}
footer ul li a.mail-ico { background:url(../images/mail.svg) no-repeat scroll left center;}
footer ul li a:hover { color:#a41432;}
footer h3 { float:left; width:100%; text-align:center; font-size:16px; line-height:21px; color:#ffffff; display:none;}