@charset "utf-8";
/* CSS Document */

body { padding:0px; margin:0px; background:#ffffff; font-size:16px; color:#282828; line-height:20px; font-family: 'public_sansregular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #282828; text-decoration: none; outline:none; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0px; margin:0px; color:#414141;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
strong { font-family: 'public_sansbold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row { width:1170px; margin:auto; padding:0px;}
.main-row { width:768px; margin:auto; padding:0px;}

/* header css */
header {float:left; width:100%; z-index: 999;}
.is-sticky header { box-shadow:1px 2px 3px #ccc;}
.main-section { float:left; width:100%; padding: 30px 25px; margin: 15px; border:2px solid #565656;}
.top-section { float:left; width:100%;}
.top-lft { float: left; width: 50%;}
.top-lft h2 { font-size:18px; line-height:25px; font-family: 'public_sansbold'; color:#282828;}
.top-lft span {font-family: 'public_sansitalic';}
.top-lft img { float: left; margin-top:40px; width: auto;}
.top-rgt { float: right; width: 50%;}
.top-rgt img { float: right; width:auto;}
.top-btm { float: left; width: 100%; padding-top:42px;}
.top-btm img { float: left; width:auto;}
.dollar-btn { float:left; width:100%; margin-top:42px;}
.dollar-btn a { float:left; width:250px; text-align:center; background:#f3f3f3; padding:35px 0; font-size:32px; line-height:25px; border-radius:50px; font-family: 'public_sansbold'; color:#282828;}
.top-rgt h3 { float:right; font-size:18px; line-height:25px; font-family: 'public_sansbold'; text-align: right; color:#282828; padding-top:24px;}
.top-rgt span {font-family: 'public_sansitalic';float: right; width:100%;}

.cont-section {float:left; width:100%; padding-top:45px;}
.cont-section h1 { float:left; width:100%; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-bottom:40px;}
.cont-section ul { float:left; width:100%;}
.cont-section ul li { float:left; width:100%; background:#f3f3f3; padding: 15px 15px 15px 53px; position:relative;}
.cont-section ul li::before { position:absolute; content:""; background:#282828; width:5px; height:5px; top:25px; left:15px; border-radius:3px;}
.cont-section ul li:nth-child(2n+2) { background:#ffffff;}
.cont-section h3 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828;}
.cont-section h4 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828; padding-bottom:5px;}
.cont-section span { font-family: 'public_sansregular';}

/* productes css */
.top-header { float:left; width:100%; background:#fbfbfb; padding:15px 0;}
.inner-top { float:left; width:100%;}
.inner-top .logo { float:left; width:auto; padding-right:100px;}
.inner-top .mob-logo { float:left; width:auto; display:none;}
.inner-top h1 { float:left; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-top:20px;}
.lang-select { float: right; margin-top:30px; padding-right: 20px;}
.inner-cont { float:left; width:100%; margin-top:22px;}
.inner-cont h1 { display:none; float:left; width:100%; text-align:center; font-size:28px; line-height:35px;  font-family: 'public_sanssemibold'; color:#282828; padding-bottom:25px;}
.filter { float: left; width: 54%; margin-bottom:30px;}
.filter h3 {float: left;font-size: 18px;font-family: 'public_sansmedium';line-height: 38px;text-align: right;width: 45%;
 padding-right: 50px; display: none;}
.filter li { float: left; width:122px; margin-right:5px; margin-bottom:8px;}
.filter li:nth-child(5n+5) { margin-right: 0;}
.filter li a { float:left; width:100%; background:#ffffff; color:#282828; border:1px solid #9d9d9d; border-radius:25px; text-align:center; padding:10px 0; font-size:14px; line-height:15px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.filter li a:hover { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter li.active a { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter-mob { display:none; float: left; text-align: center; width: 100%; margin-bottom:20px;}
.filter-mob h3 { float: left; font-size:18px; font-family: 'public_sansmedium'; line-height: 38px;  text-align: right; width: 45%; padding-right: 50px;}
.select-filter { float:left; width:auto;}
.select-filter .sbHolder { float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px;}
.select-filter .sbSelector { text-align:left;}
.select-filter a.sbToggle { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px;}
.select-filter .sbHolder ul.sbOptions { top:38px !important;}
.select-filter .sbOptions { width: 100% !important;}

.select-filter .select-box { display: none; float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px; position: relative;}
.select-filter .select-txt { text-align:left; font-size: 14px;line-height: 18px; color: #919191; font-family: 'public_sanslight'; display: block;
 left: 0;outline: none;overflow: hidden;position: relative;text-indent: 0px;top: 0;}
.select-filter a.select-arw { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px; position: absolute;}

.table-list { float:left; width:100%; margin-bottom:25px;}
.table-list .tb-lft { float:left; width:772px; margin-right:28px;}
.table-list .tb-rgt { float:right; width:370px;}
.list-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.list-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 15px; width: 100%;}
.list-tab thead tr:first-child { display:block;} 
.list-tab thead tr:last-child { display:none;}
.list-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.list-tab tr th:first-child { text-align:left;}
.list-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.list-tab td:first-child { width:25%; text-align:left;}
.list-tab td:nth-child(2n) { width:25%; color:#949494;}
.list-tab td:nth-child(3n) { width:30%;}
.list-tab td:last-child { width:20%; color:#a41432; font-family: 'public_sansbold';}
.list-tab thead tr { float: left; width: 100%;}
.list-tab tbody tr { float: left; width: 100%; background:#ffffff; border-bottom: 2px solid #f9f9f9; padding:12px 15px;}
.list-tab tbody tr:last-child { border-bottom: 2px solid #ffffff;}
.list-tab tbody tr:hover { background:#f3f3f3; border-bottom: 2px solid #eeeded;}

.qty-chk { width: 100%; height: 26px; text-align: center; font-size:14px; border:none; color:#727272; line-height: 25px; }
input.qtyplus { width:25px; height:25px; background:none;border:1px solid #a41432;  padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#a41432; position: relative; cursor:pointer; line-height:12px;}
input.qtyminus { width:25px; height:25px; background:none; border:1px solid #dfdfdf; padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#494949; cursor:pointer; line-height:12px;}
input.qtyplus:hover { color:#C9346C;}
input.qtyminus:hover { color:#C9346C;}
.qty { border: medium none; background:none; color: #727272; font-size: 16px; font-family: 'public_sansbold'; height: 25px; line-height:21px; text-align: center; width: 60px;}

.amt-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.amt-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 26px; width: 100%;}
.amt-tab tbody { background:#fbfbfb;}
.amt-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tr th:first-child { text-align:left;}
.amt-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.amt-tab td span { font-family: 'robotomedium';}
.amt-tab thead tr { float: left; width: 100%; padding:0;}
.amt-tab tr { float: left; width: 100%; padding:12px  26px;}
.amt-tab td:first-child { width:65%; text-align:left; font-family: 'robotomedium';}
.amt-tab td:nth-child(2n) { width:20%; color:#a41432; font-family: 'public_sansbold'; text-align:right;}
.amt-tab td:last-child { width:15%; text-align:center;}
.amt-tab tfoot {background:#fbfbfb; float: left; padding: 12px 26px; width: 100%;}
.amt-tab tfoot tr th {float:left; font-size:18px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tfoot tr {border-top: 1px solid #f7f7f7; padding: 15px 0;}
.amt-tab tfoot tr th:first-child { width:65%; text-align:left; font-family: 'robotobold';}
.amt-tab tfoot tr th:last-child { width:35%; text-align:center; color:#a41432; font-size:24px; font-family: 'public_sansblack';}
.tb-amt.cnt-left { width: 370px; margin-top:15px;}
.close-btn img { cursor:pointer;}
.amt-desk { float:left; width:100%; display:block;}
.amt-mob { float:left; width:100%; display:none; position:fixed; bottom:0px; left:0;}

/* footer css */
footer { background:#f3f3f3; float:left; width:100%; padding:35px 0 40px; }
footer h4 { float:left; width:100%; font-size:16px; line-height:27px; padding-bottom:10px; color:#282828;}
footer h4 span { font-family: 'public_sansbold';}
footer ul { float:left; width:100%;}
footer ul li { float:left; width:auto; padding-right:55px;}
footer ul li a { float:left; width:auto; font-size:14px; line-height:27px; color:#282828; padding:0 0 0 28px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; 
-o-transition:all .5s ease;} 
footer ul li a.tel-ico { background:url(../images/telephone.svg) no-repeat scroll left center;}
footer ul li a.mail-ico { background:url(../images/mail.svg) no-repeat scroll left center;}
footer ul li a:hover { color:#a41432;}
footer h3 { float:left; width:100%; text-align:center; font-size:16px; line-height:21px; color:#ffffff; display:none;}







/* 22 Oct 2019 */
.row1 			{ width:1220px; margin:auto; padding:0px;}
.area-container{position:absolute; width:100%; height:100%; left:0; right:0; background:url('../images/fons-login.jpg') no-repeat center #ededed; background-size:cover; display:flex; display:-webkit-flex; align-items:center; justify-content:center; z-index:0;} 
/*.area-container {position: relative;width: 100%;height: 100%;left: 0;right: 0;background: url('../images/fons-login.jpg') no-repeat center #ededed;background-size: cover;display: flex;display: -webkit-flex;align-items: center;justify-content: center;z-index: 0;padding: 170px 0 200px;float: left;} */

/*.area-container:after{background:rgba(0,0,0,0.3); width:100%; height:100%; top:0; left:0; position:absolute; content:""; z-index:-1;}*/
.area-content{width:415px; text-align:center; margin-top:-250px;}
.pass-word .area-content	{ margin-top:-335px;}
/* .area-content{width:385px; text-align:right; margin:0 auto;} */
.area-content h2{font-size: 24px; display: inline-block; color: #000A12; padding: 0px 0px 40px; text-align: center;letter-spacing: 0.5px; font-family: 'public_sansbold'; line-height:28px;}
.area-content form{width:100%; display:block; background:#fff; padding:37px 58px 53px; text-align:center; float:left; box-shadow:0px 30px 30px -25px #9D9D9D;}
.area-content form img{width: auto; float:none; display:inline-block; margin-bottom:35px;}
.area-content form h3{font-size:18px; font-weight:900;  margin:35px 0 15px; line-height:20px;}
.area-content form .area-style{width:100%;float:left; margin:0;}
.area-content form input.frm-ctrl{width:100%; padding:0 23px; border:none; border-bottom:1px solid #000; font-size:16px; background:#f7f7f7; color:#848484; line-height:46px; height:44px; margin:0 0 28px; font-family: 'public_sansmedium';}
.area-content form input.frm-ctrl::-webkit-input-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl::-moz-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl:-ms-input-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl:-moz-placeholder {color:#848484;  font-weight:400;}

.area-content form button{width:100%; background: #a41332; color: #fff; font-size: 14px; text-transform:uppercase; font-family: 'public_sansbold'; border-radius: 0px; padding: 0px 20px; float: left; height:44px; line-height:44px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:0px 0 0; display:inline-block; letter-spacing:1px;}
/* .area-content form button:hover{background:#ce0e2d;} */
.area-content form button:hover{opacity:0.8}
.area-content form button.mt10{margin-top:5px}
.area-content form p{ color: rgba(0,0,0,0.5); font-size: 11px; font-weight: 400; line-height:16px; margin:24px 0 0;}
.area-content form p.mt10{margin:10px 0 0;}
.area-content p.mt25	{ text-align:left;}
.area-content form a{ color: #000A12; font-size:16px; text-align:left; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; }
.area-content form a:hover{color:#a41432;}
.area-content form .checkbox {float:left;width:100%; margin:7px 0 0;}
.area-content form .checkbox label{display:inline-block; margin:10px 0 5px;}

/* alta-peticion */
.menu			{ float:left; background:#a21331; width:100%;}

/* mobile nav css */
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden;}
.m-menu {display:none; position: relative;float: right;padding:0px;margin-top: 10px;margin-right: 0px;margin-bottom: 0px;-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; transition: All 0.5s ease; right:5px; top:6px;}
/*html.mm-opening .m-menu { right:-100px; }*/
.m-menu a 	{ position:relative; display:block; text-align:right; outline:none; padding:0px 0px; height:100%; top:0px; right:0px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;  }
.m-menu div { position:absolute; top:5px; left:-54px; font-size:16px; color:#fff; text-transform:uppercase; cursor:pointer; padding-right:20px; display:inline-block; }
.m-menu a span 		{ display: block; width:30px;height:2px; background:#282828; margin-top:5px; }
.m-menu a:hover span { background: #a11330; }

/* mobile menu css */
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden; background:#fff;padding-top: 40px;}
.mobNav ul { float:left; width:100%; margin-top: 20px;}
.mobNav ul li { float:left; width:100%; border-bottom:1px solid #e0e0e0; padding:0 15px; }
/*.mobNav ul li:last-child{ border-bottom:none}*/
.mobNav ul li a { display:block; font-size:15px;color:#282828; padding:0 0px;line-height: 42px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; font-family:'public_sansregular'; }
.mobNav ul li:last-child a { font-family:'rubikmedium';}
.mobNav ul li a:hover { color:#a11330;}
#close-men {position: absolute;top: 18px;right: 15px;z-index: 99;}

.mob-ico { display:none;}
.menu-icon{ float:right; width:25px; height:27px; border-radius: 0px; cursor:pointer; margin-top: 13px; margin-left: 0px; }
.menu-icon span { width:100%; margin-bottom:5px; height:2px; background:#030303; float:left; margin-right:0;}
.menu-icon:hover span { background:#c31a1f; }
.hole_div{ width:100%; /*position:relative; */float:left;}
.hole_div > div#page {left: 0;position: absolute;top: 0;width:100%; float:left;-moz-transition: all 0.2s linear ;-webkit-transition: all 0.2s linear ; -o-transition: all 0.2s linear ;transition: all 0.2s linear ; }
/*.hole_div.move > div#page { left: -275px;}*/
.hole_div.move > div#mobNav { right:0px; -webkit-box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); -moz-box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); }
.hole_div > div#mobNav { display:block; z-index:9999; right:-270px; psition:absolute; top:0; width:270px; -moz-transition: all 0.2s linear ; -webkit-transition: all 0.2s linear ; -o-transition: all 0.2s linear ;transition: all 0.2s linear ;height: 100%;overflow: auto; }
#new{background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; width:100%; height:100%; text-align:right; color:#FFF; display:none;  z-index: 999;}
lang{ float:left; width:100%; margin:10px 0px 20px 0px; text-align:center;}
.lang ul	{ padding:0 15px; text-align:center;}
.lang ul li{ display:inline-block; width:auto; float:none; border-bottom:none; padding:0;}
.lang ul li a{ font-size: 14px;line-height: 20px;color: #414141; position:relative; margin-right:6px; padding-right:15px;}
.lang ul li a::after { content:'/'; position:absolute; right:0px; top:0px;}
.lang ul li a:hover { color:#a11330;}
.lang ul li:last-child a		{ font-family:'public_sansregular'; }
.lang ul li:last-child a { padding:0px; margin:0px;}
.lang ul li:last-child a::after { content:'';}
.client-link{ float:left; width:100%; text-align:center;}
.client-link a.salir-l		{ border:2px solid #cf8896; height:32px; line-height:24px; color:#a11330; width:104px; text-align:center; display:inline-block; border-radius:5px; font-size:14px; font-family:'public_sansregular'; float:none; margin-top:20px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; display:none;} 	
.client-link a.salir-l:hover	{ color:#fff; background:#a11330; border:2px solid #a11330;}
/* mobile nav css */

figure.mobi-logo {padding:10px 0 0 13px;}

.log-foot		{ position:absolute; bottom:0; }
.inner-page .inner-top ul	{ float:right; margin-top:26px;}
.inner-page .inner-top li	{ float:left; padding:0 18px;  background:url('../images/border-r.png') no-repeat right 6px;}
.inner-page .inner-top li:last-child	{ background:none; padding-right:0; padding-left:16px;}
.inner-page .inner-top li a				{ padding:6px 0; float:left; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.inner-page .inner-top li:nth-child(2n-2) a	 { font-family:'rubikmedium'; font-size:14px; color:#000A12;}
.inner-page .inner-top li:nth-child(2n-2) a:hover	{ color:#a11330;}
.inner-page .inner-top li a.salir-l		{ border:2px solid #cf8896; height:32px; line-height:14px; color:#a11330; width:104px; text-align:center; display:inline-block; border-radius:5px; font-size:14px; font-family:'public_sansregular';} 	
.inner-page .inner-top li a.salir-l:hover	{ color:#fff; background:#a11330; border:2px solid #a11330;}
.inner-page .inner-top .lang-select	{ margin-top:0;}
.inner-page .inner-top .sbHolder li:nth-child(2n-2) a { font-size:12px; color:#414141; font-family:'public_sanslight';}	
.inner-page .inner-top .sbHolder li:nth-child(2n-2) a:hover	{ color:#962635;}
.inner-page .inner-top .sbHolder li:last-child	{ padding:0;}
.inner-page a.sbToggle		{ top:14px;}
.inner-page .inner-top .sbHolder ul.sbOptions { margin-top:0; top:32px !important;}


.alta-p			{ min-height:600px; margin:0px 0 120px;}
.alta-p.mt55	{ margin-top:55px;}
.alta-p.mt35	{ margin-top:35px;}
.alta-p h2		{ font-size:24px; color:#282828; font-family: 'public_sansmedium'; padding-bottom:42px; line-height:26px; }
.form-list		{ width:468px; margin:0 auto; text-align:center; }
.form-list input.frm-ctrl{width:100%; padding:0 23px; border:2px solid #dadada; font-size:16px; background:#fff; color:#c5c5c5; line-height:46px; height:46px; margin:0 0 28px; border-radius:5px;}
.form-list input.frm-ctrl.impt-form	{ width:168px; float:left;}
.form-list input.frm-ctrl.aporte-form {width:130px;}
.form-list input.frm-ctrl::-webkit-input-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl::-moz-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl:-ms-input-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl:-moz-placeholder {color:#000;  font-weight:400;}
.form-list button{width:100%; background: #a41332; color: #fff; font-size: 14px; text-transform:uppercase; font-family: 'public_sansbold'; border-radius: 0px; padding: 0px 20px; float: left; height:44px; line-height:44px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:0px 0 0; display:inline-block; border-radius:5px; letter-spacing:1px;}
.form-list button:hover{opacity:0.8}
.form-list label	{ float:left; font-size:18px; font-family: 'public_sansbold'; color:#282828; margin-left:12px; line-height:46px;}

.alta-p .list-tab thead tr:last-child	{ display:inline-block;}
.alta-p .list-tab td	{ width:auto;}
.tab-resp { background: #ffffff; float: left; width: 100%;}
.tab-resp thead {  background:#f3f3f3; text-align:left; padding:12px 15px; }
/*.tab-resp thead tr:first-child { display:block;} */
.tab-resp tr th {font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center; padding:12px 5px 12px 12px; color:#000A12;}
.tab-resp tr th:first-child { text-align:left;}
.tab-resp td { font-size:14px; line-height:22px; color:#000A12; text-align:center; padding:32px 5px 34px 12px; border-bottom: 2px solid #f9f9f9; }
.tab-resp td:first-child { text-align:left; color:#949494; font-family:'public_sanssemibold'; font-size:12px;}
.tab-resp td:nth-child(2n) { color:#a11330;}
.tab-resp td:nth-child(3n), .tab-resp td:nth-child(4n) { color:#000A12; font-family:'public_sanssemibold'; }
.tab-resp td:nth-child(5n), .tab-resp td:nth-child(6n), .tab-resp td:nth-child(7n) { font-family:'public_sansregular';  font-size:14px;}
.tab-resp td:nth-child(8n) { color:#A41432; font-family:'public_sansbold'; text-align:right;}
.tab-resp td:last-child		{ text-align:right;}
.tab-resp td:last-child a { text-decoration:underline; color:#A11330; font-size:12px; font-family: 'public_sansmedium'; }
.tab-resp td a	{ transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; }
.tab-resp td a:hover	{ color:#a11330;}
.tab-resp td:last-child a:hover	{ color:#000A12; }
/*.tab-resp thead tr { float: left; width: 100%;}*/
.tab-resp tbody tr { background:#ffffff; border-bottom: 2px solid #f9f9f9; padding:12px 15px;}
.tab-resp tbody tr:last-child { border-bottom: 2px solid #ffffff;}
.tab-resp tbody tr:hover, .tab-resp tbody tr:hover td { background:#f3f3f3; border-bottom: 2px solid #eeeded;}

.form-list.datos-de li		{ float:left; width:100%; position:relative;}
.form-list.datos-de label	{ position: absolute; top:-8px; left:22px; background:#fff; float:left; min-width:95px; padding-left:5px; font-family:'public_sansregular'; font-size:11px; line-height:15px; margin-left:0; text-align:left; color:#282828; }
.form-list.datos-de input.frm-ctrl	{ font-size:16px; color:#B2B2B2; font-family:'public_sansregular';}

.table-pad { float: left; width: 100%; overflow:auto }