@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-border-radius:0; -webkit-appearance: none; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width:1920px) { 
body{ overflow-x:hidden;}
}


@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}	
.row { width:95%;}
.row1{ width:95%;}

.logo		{ margin-right:20px;}
.head-left li				{ margin-right:20px;}
.head-left li:last-child	{ margin-right:0;}	
.canvi .area-content div.form	{ margin-top:0;}
.area-container.aceptacio.canvi	{ top:90px;}

.area-container	{min-height:700px;}
.table-responsive.tab-1 td:nth-child(8n)	{ padding:12px 10px 10px 10px;}
.img-pad-t, .img-pad	{ margin-right:0;}
}

@media screen and (min-width:1024px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}

.logo		{ margin-right:20px;}
.head-left li				{ margin-right:20px;}
.head-left li:last-child	{ margin-right:0;}	
.head-rgt	{ margin-top:5px;}
.sortir a	{ width:100px; margin-left:10px; padding-left:15px; line-height:42px; height:42px;}
.descar a, .descar select, .language-container select { background-position:90% center; padding-right:50px; line-height:42px; height:42px;}

.head-pad h2	{ padding:7px 20px;}
.head-pad a		{ line-height:42px;}
.head-pad a img	{ margin-top:10px;}
.table-responsive td, .table-responsive th	{ padding:10px; font-size:15px;}
.table-responsive.tab-1 td:nth-child(8n), .table-responsive.tab-2 td:nth-child(7n)	{ padding:10px 5px;}
.link-pad	{ width:66px;}
.tab-2 .rgt-pad	{ width:67px;}
.aceptacio .dades	{ width:84%;}
.aceptacio .area-content.dades div.form button { width:88%;}
}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}

header		{ padding:20px 0 15px;}
.head-left	{ float:none;}
.logo		{ margin-right:0; float:left; width:100%; text-align:center; margin-bottom:15px;}
.logo img	{ float:none;}
.head-left li				{ margin-right:20px;}
.head-left li:last-child	{ margin-right:0;}	
.head-rgt	{ margin-top:5px;}
.sortir a	{ width:100px; margin-left:10px; padding-left:15px; line-height:42px; height:42px;}
.descar a, .descar select, .language-container select	{ background-position:90% center; padding-right:50px; padding-left:15px; line-height:42px; height:42px;}

.head-pad h2	{ padding:7px 20px;}
.head-pad a		{ line-height:42px;}
.head-pad a img	{ margin-top:10px;}
.table-responsive td, .table-responsive th	{ padding:10px; font-size:15px;}
.table-responsive.tab-1 td:nth-child(8n), .table-responsive.tab-2 td:nth-child(7n)	{ padding:10px 5px;}
.link-pad	{ width:66px;}
.img-pad, .img-pad-t	{ float:none; display:block; margin:0 auto 5px;}
.rgt-pad, .tab-2 .rgt-pad	{ width:100%; text-align:center;}
.area-container{padding:25px; overflow:auto; position:absolute; min-height:740px;}
.area-container.aceptacio.canvi	{ top:150px;}
.popup		{ padding:25px;}	
.aceptacio .dades	{ width:93%;}
.aceptacio .area-content.dades div.form	{ padding:30px;}
.aceptacio .area-content.dades div.form button { width:88%;}
.table-responsive.tab-1 th:nth-child(8n) { width:15% !important;}


.table-responsive	{ display:none;}
.mob-table	{ display:block;}
.scroll-div		{ width:100%; overflow: visible; position:relative; z-index:1;}

.mob-table li.mob-circle { display:inline-block;text-align: center;}
.mob-table li.mob-circle.ctr { display:flex;}
.mob-table li.mob-circle .img-pad-t {  display: inline-block; float: none; margin-right:3px; position: relative; top: 6px; width: 13px; height:13px;}
.mob-table li.mob-circle span.rgt-pad { display: inline-block; float: none; width:100%; margin-right: 10px;}
.mob-table li img.img-pad {float: left; width: auto; margin:0 5px 0 0;}
.mob-table li.mob-circle .link-pad {display: inline-block; float: none; width: 66px;}
}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
body{ height:auto !important;}
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}

header		{ padding:15px 0 10px;}
.head-left	{ float:none;}
.logo		{ margin-right:0; float:left; width: auto; text-align:left;}
.logo img	{ float:none;}
.head-left ul	{ width:100%; text-align:center; float:left;}
.head-left li				{ margin-right:20px; float:none; display:inline-block;}
.head-left li:last-child	{ margin-right:0;}	
.head-rgt	{ margin-top:17px; width: auto; text-align:center; position:absolute; right:25px; top:0;}
.descar, .sortir, .language-container { float:none; display:inline-block;}
.sortir a	{ width: 45px; margin-left:10px; padding-left:0; padding-right:0;height:42px; line-height:42px; text-indent:-99999px;background-position:center;}
.descar a, .descar select, .language-container select	{ background-position:center; padding-right:0; padding-left:0;height:42px; line-height:42px; width:45px; text-indent:-99999px; min-width: min-content }
.head-pad h2	{ padding:7px 20px; font-size:18px;}
.head-pad a		{ line-height:42px; padding:0 20px;}
.head-pad a img	{ margin-top:10px;}
.table-responsive td, .table-responsive th	{ padding:10px 8px; font-size:15px;}
.table-responsive.tab-1 td:nth-child(8n), .table-responsive.tab-2 td:nth-child(7n)	{ padding:10px 5px;}
.link-pad	{ width:66px;}
.img-pad, .img-pad-t	{ float:none; display:block; margin:0 auto 5px;}
.rgt-pad, .tab-2 .rgt-pad	{ width:100%; text-align:center;}	

.area-container{padding:25px; overflow:auto; position:absolute; min-height:740px;}
.area-container:after{position:fixed;}
.area-content div.form	{ padding:30px;}
.area-content div.form input.frm-ctrl, .canvi .area-content div.form input.frm-ctrl, .frm-input-ctrl.browse textarea	{ padding-left:20px; height:50px;}
.frm-input-ctrl.browse textarea	{ line-height:30px;}
.frm-input-ctrl.browse label	{ top:13px;}
.txt-box.margn-top	{ padding-left:20px;}
.area-content div.form button	{ height:48px;}
.area-content div.form button.mt10	{ margin-top:20px;}
.area-content div.form p	{ margin-top:25px;}
.area-content h2{font-size: 16px; padding: 10px 10px;}	
.canvi .area-content div.form	{ margin-top:0;}

.radio-pad				{ width:45%;}
.area-content div.form h3	{ font-size:22px; margin-top:25px;}
.email-img		{ margin:35px 0 10px;}
.aceptacio .area-content div.form button	{ width:64%;}
.area-content, .aceptacio .area-content{width:98%;}
.area-container.aceptacio.canvi	{ top:120px;}
.popup		{ padding:20px;}
.popup h3	{ font-size:22px;}
.demo-y		{ margin-top:20px;}
.popup .demo-y	{ height:400px;}
.aceptacio .area-content.dades div.form	{ padding:30px 20px;}
.aceptacio .area-content.dades div.form button { width:85%;}
.fancybox-close	{ right:15px; top:15px;}
.logo img	{ width:170px;}

.table-responsive	{ display:none;}
.mob-table	{ display:block;}
.scroll-div		{ width:100%; overflow: visible; position:relative; z-index:1;}

.mob-table li.mob-circle { display:inline-block;text-align: center;}
.mob-table li.mob-circle.ctr { display:flex;}
.mob-table li.mob-circle .img-pad-t {  display: inline-block; float: none; margin-right:3px; position: relative; top: 6px; width: 13px; height:13px;}
.mob-table li.mob-circle span.rgt-pad { display: inline-block; float: none; width:100%; margin-right: 10px;}
.mob-table li img.img-pad {float: left; width: auto; margin:0 5px 0 0;}
.mob-table li.mob-circle .link-pad {display: inline-block; float: none; width: 66px;}
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row { width:95%; }
.row1{ width:95%;}

header		{ padding:15px 0;}
.area-content div.form{padding:25px 15px;}
.area-content, .aceptacio .area-content{margin:25px auto;}
.aceptacio .area-content div.form button	{ width:74%;}
.radio-pad	{ width:80%;}
.area-content div.form input.frm-ctrl, .canvi .area-content div.form input.frm-ctrl, .canvi .area-content div.form input.frm-ctrl, .frm-input-ctrl.browse textarea	{ padding-left:15px; height:48px;}
.txt-box.margn-top	{ padding-left:15px;}
.frm-input-ctrl.browse label	{ top:11px;}
.area-content div.form button	{ height:46px; margin-top:15px;}
.head-pad h2	{ padding:7px 20px 7px 5px; font-size:17px;}
.head-pad a		{ padding:0 15px;}
.area-content div.form p, .area-content div.form button.mt10 { margin-top:15px;}
.area-content div.form label	{ margin-top:25px;}
.popup		{ padding:15px;}
.popup .demo-y	{ height:350px;}
.frm-left		{ width:100%; margin-right:0;}
.frm-right		{ width:100%; margin-top:20px;}
.aceptacio .area-content.dades div.form button { width:75%;}
.logo img	{ width:160px;}
.mob-table .head-tit li, .mob-table li	{ padding:0 10px;}
.mob-table .hide-sect .rgt-array	{ width:55%;}
.mob-table .hide-sect li	{ padding:0 0 0 20px;}
}

@media screen and (max-width:479px) {

header		{ padding:10px 0;}
.area-container{ min-height:540px; padding:10px;}
.area-content, .aceptacio .area-content{width:98%;}
.area-content div.form h3	{ font-size:20px;}
.canvi h3 img	{ margin-right:10px;}
.area-content div.form p br	{ display:none;}
.aceptacio .area-content div.form button	{ width:84%;}
.area-content div.form{padding:25px 10px;}
.area-content div.form .demo-y p { padding-left:15px; padding-bottom:20px;}
.area-content div.form .checkbox label	{ font-size:15px;}
.sortir a	{ margin-left:0; margin-top:0; height:40px; line-height:40px; }
.descar a, .descar select, .language-container select	{ height:40px; line-height:40px; }
.head-pad h2	{ width:100%;}
.head-pad a		{ width:100%;}
.head-left li	{ margin-right:0;}
.head-rgt	{ padding:0 0; right:5px; margin-top:12px;}
.popup		{ padding:0;}
.popup h3	{ font-size:20px;}
.demo-y		{ margin-top:15px;}
.popup .demo-y	{ height:300px;}
.aceptacio .area-content.dades div.form { padding:10px 15px 15px;}
.canvi .area-content.dades p	{ margin-bottom:0;}
.logo img	{ width:150px;}
.mob-table .head-tit li, .mob-table li	{ padding:0 2px;}
.mob-table .hide-sect .rgt-array	{ width:45%;}
}
@media screen and (max-width:421px) {
.area-container.aceptacio.canvi	{ top:155px;}
}