.smk_accordion {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  /**
   * --------------------------------------------------------------
   * Section
   * --------------------------------------------------------------
   */
  .smk_accordion .accordion_in {
    border: none;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
