h4, .h4 { font-size: 14px; }

.dataTable>tbody>tr>td.textarea {
    display: block;
    overflow-y: auto;
    max-height: 100px;
}

#scrollDown {
    position: fixed;
    bottom: 20px;
    right: 60px;
    background: var(--grn);
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 14px 26px -12px #333, 0 4px 23px 0 var(--grn-shadow-12), 0 8px 10px -5px var(--grn-shadow-20);
    z-index: 99999;
}
#scrollDown i {position: absolute;}

.collapse>* {padding: 0;margin: 0;}

.form-check,
label {font-size: 13px;}
.sidebar {box-shadow: none;}
.sidebar .logo a.logo-normal {white-space: normal;}
.sidebar .logo a.logo-mini {width: 34px;}
.sidebar .logo .logo-mini img {width: 34px;}
.show_img:hover {cursor: pointer;}

.row.controllers {padding: 20px 15px;margin: 0;border-radius: 6px;border: 2px solid #f3f3f3;display: none;}
.row.controllers .card-title {display: flex;justify-content: space-between;}
.custom_field_group_title:hover {cursor: pointer;}
.custom_field_gallery a {font-size: 10px;}

/* .custom_field_gallery .fileinput .thumbnail > img { width: 150px; height: 150px; object-fit: scale-down; } */
/* .custom_field_gallery .fileinput .thumbnail > img { object-fit: scale-down; } */
.custom_field_gallery .fileinput .thumbnail>img {object-fit: cover;}
.custom_field_gallery .fileinput .thumbnail>img.svg {object-fit: contain;}
.show_img {width: 100px;height: 50px;object-fit: cover;}

/* SUMMERNOTE */
.note-editor .panel-heading.note-toolbar>button {margin-top: 0;}
.note-popover .popover-content,
.panel-heading.note-toolbar {position: relative !important;}
/* summernote toolbar no flotant */



.card .form-check {
    width: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0px;
}



/* end SUMMERNOTE */
.table td:first-child .popover {left: -28px !important;}
/* COLOR 6TEMS */
* {
    --saturacio: 90%;
    --brightness: 50%;

    --grn: hsl(var(--color), var(--saturacio), var(--brightness));
    --grn-drk: hsl(var(--color), var(--saturacio), calc(var(--brightness) - 5%));
    --grn-bold: hsl(var(--color), var(--saturacio), calc(var(--brightness) - 11%));
    --grn-shadow: hsl(var(--color), var(--saturacio), var(--brightness));
    --grn-shadow-drk: hsl(var(--color), var(--saturacio), var(--brightness));
    --grn-shadow-12: hsla(var(--color), var(--saturacio), var(--brightness), 0.12);
    --grn-shadow-14: hsla(var(--color), var(--saturacio), var(--brightness), 0.14);
    --grn-shadow-20: hsla(var(--color), var(--saturacio), var(--brightness), 0.2);
    --grn-shadow-40: hsla(var(--color), var(--saturacio), var(--brightness), 0.4);
    --grn-shadow-42: hsla(var(--color), var(--saturacio), var(--brightness), 0.42);
}

a { color: var(--grn); }

a:focus,
a:hover {
    color: var(--grn-drk);
}

.sidebar[data-color=rose] li.active>a {
    background-color: var(--grn-bold);
    /*box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(77, 228, 104, .4);*/
    /*box-shadow: 0 4px 20px 0 var(--grn-shadow-14), 0 7px 10px -5px var(--grn-shadow-40);*/
    box-shadow: none;
}

/* SCROLL SENSE VEURE SCROLLBAR */
.sidebar-wrapper::-webkit-scrollbar {
    width: 0 !important;
}

.sidebar-wrapper {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/* end SCROLL SENSE VEURE SCROLLBAR */

.btn.btn-primary {
    background-color: var(--grn);
    border-color: var(--grn);
    box-shadow: 0 2px 2px 0 var(--grn-shadow-14), 0 3px 1px -2px var(--grn-shadow-20), 0 1px 5px 0 var(--grn-shadow-12)
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background-color: var(--grn-drk);
    border-color: var(--grn-drk);
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px var(--grn-shadow-42), 0 4px 23px 0 var(--grn-shadow-12), 0 8px 10px -5px var(--grn-shadow-20);
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.open>.btn.btn-primary.dropdown-toggle.focus,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.show>.btn.btn-primary.dropdown-toggle.focus,
.show>.btn.btn-primary.dropdown-toggle:focus,
.show>.btn.btn-primary.dropdown-toggle:hover {
    background-color: var(--grn);
    border-color: var(--grn-drk);
}

.card.bg-primary,
.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg, var(--grn-shadow), var(--grn))
}

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 var(--grn-shadow-14), 0 7px 10px -5px var(--grn-shadow-40)
}

.card [class*=card-header-] {
    margin: 0;
    padding: 0 15px;
}

.card.pm .card-header-primary {
    border-bottom: 1px solid #eee;
}

.card.pm .card-header-primary a {
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 5px;
    margin-right: 5px;
}

.card.pm .card-header-primary a:first-child {
    margin-right: 0px;
}

.card a[data-toggle="collapse"]:hover {
    background: #dedede;
    border-radius: 6px;
}

.card .card-header-primary .card-title {
    margin-top: 5px !important;
    line-height: 34px;
    flex: 1;
}

/*.card .card-header-primary .card-title a { color:#aaa; }*/
.card .card-header-primary .flex-row {
    padding: 7px 0;
    align-items: center;
}

.card .card-header a {
    color: #aaa;
    float: right;
}

.card.bg-rose, .card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-rose .back, .card.card-rotate.bg-rose .front {
    background: linear-gradient(60deg, var(--grn-shadow), var(--grn))
}

.header-right a {
    color: #aaa !important;
}

.card .card-header-primary a.btn-primary {
    color: white !important;
    margin-right: 20px;
}

.card .card-header-primary a:hover {
    cursor: pointer;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
    background-color: var(--grn);
    border-color: var(--grn);
    box-shadow: 0 4px 5px 0 var(--grn-shadow-14), 0 1px 10px 0 var(--grn-shadow-12), 0 2px 4px -1px var(--grn-shadow-20)
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 var(--grn-shadow-14), 0 7px 10px -5px var(--grn-shadow-40);
    background-color: var(--grn);
}

.form-control {
    padding: 0 5px;
}
/*.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, var(--grn-drk) 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}*/
/* end COLOR 6TEMS */

/* AVATAR */
img.avatar-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* CHAT */
.chat_ib h5 i {
    font-size: 11px;
    color: #999;
    line-height: 0px;
    font-weight: lighter;
}
.inbox_msg .search-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.inbox_msg .search-btn:hover { color: #000; cursor: pointer; }

/* CHECKBOX */
.form-check .form-check-input:checked+.form-check-sign .check {
    background: var(--grn);
}

/* end CHECKBOX */

/* SWITCH */
.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: var(--grn);
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
    border-color: var(--grn);
}

/* end SWITCH */

/* DROPDOWN */
.btn.btn-primary.active,
.btn.btn-primary:active,
.open>.btn.btn-primary.dropdown-toggle,
.show>.btn.btn-primary.dropdown-toggle {
    background-color: var(--grn);
    border-color: var(--grn-drk);
    box-shadow: 0 4px 5px 0 var(--grn-shadow-14), 0 1px 10px 0 var(--grn-shadow-12), 0 2px 4px -1px var(--grn-shadow-20);
}

.bootstrap-select .dropdown-item.active {
    background: var(--grn);
}

.bootstrap-select .btn.dropdown-toggle.select-with-transition {
    border: 0 !important;
    background-image: linear-gradient(0deg, var(--grn) 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

/* end DROPDOWN */

/* FULLCALENDAR */
.fc button,
.fc button.active,
.fc button.active:focus,
.fc button.active:hover,
.fc button.btn-primary,
.fc button.btn-primary.active,
.fc button.btn-primary.active:focus,
.fc button.btn-primary.active:hover,
.fc button.btn-primary:active,
.fc button.btn-primary:active:focus,
.fc button.btn-primary:active:hover,
.fc button.btn-primary:focus,
.fc button.btn-primary:hover,
.fc button:active,
.fc button:active:focus,
.fc button:active:hover,
.fc button:focus,
.fc button:hover,
.open>.fc button.btn-primary.dropdown-toggle,
.open>.fc button.btn-primary.dropdown-toggle:focus,
.open>.fc button.btn-primary.dropdown-toggle:hover,
.open>.fc button.dropdown-toggle,
.open>.fc button.dropdown-toggle:focus,
.open>.fc button.dropdown-toggle:hover {
    background-color: var(--grn);
}

.fc button.btn-primary:active,
.fc button.btn-primary:focus,
.fc button.btn-primary:hover,
.fc button:active,
.fc button:focus,
.fc button:hover {
    box-shadow: 0 14px 26px -12px var(--grn-shadow-42), 0 4px 23px 0 var(--grn-shadow-12), 0 8px 10px -5px var(--grn-shadow-20);
    cursor: pointer;
}

.fc-button.fc-state-active,
.fc-button.fc-state-active:hover,
.fc-button.fc-state-active:focus,
.fc-button.fc-state-active:active {
    background-color: var(--grn-drk);
}

/* end FULLCALENDAR */

/* WIZARD */
.card-wizard[data-color=rose] .moving-tab {
    background-color: var(--grn);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px var(--grn-shadow-40);
}

/* end WIZARD */

/* COLOR PICK */
.fixed-plugin .badge-azure {
    background-color: hsl(205, var(--saturacio), var(--brightness));
}

.fixed-plugin .badge-green {
    background-color: hsl(131, var(--saturacio), var(--brightness))
}

.fixed-plugin .badge-orange {
    background-color: hsl(380, var(--saturacio), var(--brightness))
}

.fixed-plugin .badge-yellow {
    background-color: hsl(50, var(--saturacio), var(--brightness))
}

.fixed-plugin .badge-red {
    background-color: hsl(350, var(--saturacio), var(--brightness))
}

.fixed-plugin .badge-purple {
    background-color: hsl(287, var(--saturacio), var(--brightness))
}

.fixed-plugin .badge-rose {
    background-color: hsl(320, var(--saturacio), var(--brightness))
}

/* end COLOR PICK */

/* NAV PILLS */
.nav-pills .nav-item .nav-link.active {
    background-color: var(--grn);
    /* box-shadow: 0 4px 20px 0 var(--grn-shadow-14), 0 7px 10px -5px var(--grn-shadow-40); */
    box-shadow: none;
}

/* end NAV PILLS */

/* FROALA EDITOR */
p[data-f-id=pbf] {
    display: none !important;
}

.fr-wrapper div:first-child {
    display: none;
}

.fr-wrapper.show-placeholder .fr-placeholder {
    margin-top: 0px !important;
}

.fr-toolbar {
    border-top: none !important;
}

.fr-separator.fr-hs {
    clear: inherit !important;
    width: auto !important;
}

/* end FROALA EDITOR */

/* IMAGE GRID */
#media_modal {
    overflow: hidden;
}

#media_modal .modal-body {
    display: flex;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: hidden;
    margin: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    overflow-x: hidden;
}

#media_modal .modal-dialog .modal-body {
    padding: 0;
}

.image-grid,
.image-info {
    box-sizing: border-box;
    padding: 8px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    z-index: 9;
    overflow: overlay;
}

.image-info {
    width: 0%;
    overflow: hidden;
    padding: 0;
    background: white;
    box-shadow: -5px 0 5px -5px #777;
    max-width: 430px;
}

.image-info.open {
    margin-right: 5px;
}

#dropzone .dz-message.open {
    width: calc(100% - 15px);
}

#media_modal .image-info label,
#media_modal .image-info a,
#media_modal .image-info input {
    font-size: 12px;
}

/* Create four equal columns that sits next to each other */
.image-grid .column {
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 0.5rem;
}

.image-grid .column #add_files {
    display: none;
}

.image-grid .column label i:hover,
.image-grid .column label:hover {
    cursor: pointer !important;
}

.image-grid .column label {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 8px;
    background: var(--grn);
    color: white;
    margin-bottom: 0;
}

.image-grid .column label i {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.image-grid .column .image video,
.image-grid .column .image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 var(--grn-shadow-14), 0 3px 1px -2px var(--grn-shadow-20), 0 1px 5px 0 var(--grn-shadow-12);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.image-grid .column .image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.image-grid .column .image a.see,
.image-grid .column .image span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    height: 42px;
    width: 10px;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}


.image-grid .column .image:hover .see {
    display: flex;
}

.image-grid .column .btn.see {
    position: absolute;
    right: 15px;
    height: 36px;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer!important;
}

.image-grid .column .btn.see i {
    position: absolute;
    font-size: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer!important;
}

.image-grid .column .image .tick {
    display: none;
}

.image-grid .column .image.active .tick {
    display: block;
    color: var(--grn-drk);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-grid .column .image.active .tick i {
    font-size: 7em;
}

.image-grid .column .image span i {
    font-size: 26px;
}
.image-grid .column .image video:hover,
.image-grid .column .image img:hover,
.image-grid .column .image.active video,
.image-grid .column .image.active img {
    box-shadow: 0 14px 26px -12px var(--grn-shadow-42), 0 4px 23px 0 var(--grn-shadow-12), 0 8px 10px -5px var(--grn-shadow-20);
    cursor: pointer;
    border: solid 5px var(--grn);
}

.image-grid .column .image.active::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--grn);
    opacity: 0.35;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .image-grid .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .image-grid .column {
        flex: 100%;
        max-width: 100%;
    }
}

#media_modal.modal .modal-dialog {
    margin-top: 10px;
}

/* end IMAGE GRID */

.toolbar .nav-item {
    background-color: #e2e2e2;
}

.actions-toolbar {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.nav-pills .nav-link {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.nav-pills {
    padding: 0;
}

.tab-content:nth-child(2) {
    border-top: 3px solid var(--grn);
    padding: 50px 0;
}

.months-container {
    display: flex !important;
    flex-flow: wrap;
}

.months-container .month-container {
    margin-bottom: 70px !important;
}

.pestanya .data {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pestanya .added .remove_field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.remove_field {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.form-group.slug {
    display: flex;
}

.form-group.slug .slug-label {
    padding: 6px 20px;
    background: #e8e8e8;
    font-weight: 500;
    color: #949494;
    flex-shrink:0;
}

.programa input {height: 50px;}
.programa input.activitat {padding-left: 15px;}
.programa input.data {text-align: center;}
.programa .input-group-prepend {
    background: lightgray;
    color: #333;
    font-weight: bold;
    text-align: center;
    width: 165px;
}

.programa .remove_field {border-radius: 0;}
.programa .bmd-form-group:first-child .input-group-prepend {border-top-left-radius: 5px;}
.programa .bmd-form-group:last-child .input-group-prepend {border-bottom-left-radius: 5px;}
.programa .bmd-form-group:first-child .remove_field {border-top-right-radius: 5px;}
.programa .bmd-form-group:last-child .remove_field {border-bottom-right-radius: 5px;}
.programa .bmd-form-group:not(.is-filled) {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}


.programa .remove_field,
.programa .add_field {margin-top: 0;margin-bottom: 1px;}
.programa .input-group-addon {width: 100%;}

.input-group-addon {
    display: flex;
    border-right: 0px;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.input-group-prepend~input {
    padding-left: 10px;
}


.nav-pills.no-margin .nav-item {
    margin-left: 0px !important;
}

/* Sticky */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
}

.sticky.bottom {
    bottom: 0px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

/* Sticky */


.field {
    background: white;
    margin-top: 30px;
    /* z-index: 999; */
}

.custom_field_group_fields .title {
    border-bottom: 2px solid var(--grn);
    width: 100%;
}

/* CUSTOM FIELDS */
.table .thead {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    border: 1px solid #dddddd;
}

.table .tbody {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}


.table .cf-row {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f6f6f6;
    border-bottom: 1px solid #dddddd;
}

.repeater-field .table .cf-row {
    padding: 5px 10px;
    justify-content: space-between;
}

.table .cf-row>li {
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table li.li-field-params,
.table li.li-field-order {
    width: 6%;
}

.table li.li-field-params {
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.table li.li-field-params:hover {
    background: #dedede;
    border-radius: 6px;
}

.table .sortable li.li-field-order {
    width: 40px;
    height: 40px;
    padding: 4px;
    background: white;
    border: 1px solid #b9b9b9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    cursor: grab;
}

.table .sortable li.li-field-title {
    width: auto;
    max-width: 75%;
}

.table .thead li.li-field-order {
    height: auto;
    border: none;
    padding: 0;
}

.table .params {
    width: 100%;
}

/* ROW SENSE MARGINS */
.row2 {
    display: flex;
    flex-wrap: wrap;
}

/* */

.cf-item .params-content .row2 {
    border-bottom: 1px solid #dddddd;
    width: 100%;
}

.cf-item .params-content input,
.cf-item .params-content textarea {
    background-color: #f3f3f3;
}

.cf-row .acc_icon_expand {
    display: none;
}

.cf-row.acc-active {
    background: var(--grn-drk);
}

.cf-row.acc-active input {
    color: white;
}

.cf-row.acc-active input:focus {
    color: white;
}

.cf-item .params-content {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.cf-item .params-content.collapse {
    display: none;
}

.cf-item .params-content.show {
    display: flex;
}

.cf-item .params-content .col-form-label {
    color: #333;
    font-weight: bold;
    background: #f3f3f3;
    padding: 30px 10px !important;
    text-align: left !important;
    border-bottom: 1px solid #dddddd;
}

.cf-item .params-content .param {
    display: flex;
    flex-flow: wrap row;
}

.cf-item .params-content .param .flex-row {
    width: 100%;
    align-items: center;
}

.cf-row.acc-active .cf-item .params-content {
    border: 3px solid var(--grn-drk);
}

/**/

/* IMATGE GALERIA */
.gallery {
    position: relative;
    border: 2px solid var(--grn);
    background: #f6f6f6;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 170px;
    grid-gap: 0.5rem;
}

.gallery>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.miniatura {
    position: relative;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    height: 300px;
}

.gallery {
    padding: 15px;
    min-height: 340px;
}

.gallery .miniatura {
    width: 100%;
    padding: 0;
}

.gallery .fileinput .thumbnail {
    box-shadow: none;
}

#poup-txt {
    height: 720px;
}

#poup-txt .controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#poup-txt .pro-lft-pad {
    display: flex;
    width: 65.5%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#poup-txt .pro-lft-pad img {
    max-width: 100%;
    display: block;
}

#poup-txt .pro-rgt-pad {
    float: right;
    width: 34.5%;
    padding: 20px;
}

#poup-txt .pro-rgt-pad .prod-txt {
    position: relative;
    height: 100%;
    width: 100%;
}

#poup-txt .pro-rgt-pad span {
    margin-bottom: 30px;
    display: block;
}

.cropper-modal-buttons {
position: absolute;
bottom: 0;
right: 0;
}

.cropper-modal-buttons .btn-cancel {
    color: grey;
}

#poup-txt .pro-rgt-pad .inline {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.fancybox-opened #poup-txt {
    display: flex!important;
}

.popup {
    float: left;
    display: none;
    background: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 0px;
}


.bootstrap-select>.dropdown-toggle,
.note-toolbar,
.card .card-header {
    z-index: 0 !important;
}

.card .card-body .col-form-label {
    text-align: left;
    font-size: 13px;
    height: 100%;
    padding: 5px 17px;
}

.flex-row {display: flex;flex-flow: wrap;align-items: end;}
.repeater-field .custom-field {width: 100%;}

.image_info input,
article.card input {
    background: #f3f3f3;
}

article.card input.hora {
    background: lightgray;
    border: none;
    font-weight: bold;
    text-align: center;
    color: #333;
    border-radius: 5px;
}

/* .card-body .col-md-12, .card-body .col-md-11, .card-body .col-md-10, .card-body .col-md-9,
.card-body .col-md-8, .card-body .col-md-7, .card-body .col-md-6, .card-body .col-md-5,
.card-body .col-md-4, .card-body .col-md-3, .card-body .col-md-2, .card-body .col-md-1 { padding: 0;} */

/*
#dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed var(--grn);
    border-image: none;
    max-width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
} */

.crop-media,
.remove-media,
.edit-media {
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 100%;
    height: 40px;
    display: none;
}


.miniatura:not(.fileinput-new):hover .remove-media,
.miniatura:hover .crop-media,
.miniatura:hover .edit-media {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.edit-media .fileinput-new,
.edit-media .fileinput-exists {
    position: absolute;
    font-size: 16px;
}

.crop-media {
    right: 96px;
    width: 30px;
    font-size: 16px;
}

.remove-media {
    right: 50px;
    width: 30px;
    font-size: 16px;
}

.fileinput {
    margin-bottom: 0px;
}

.fileinput .thumbnail {
    height: 100%;
    box-shadow: none;
    margin-bottom: 0px;
    max-width: 100%;
}
.fileinput .thumbnail>video,
.fileinput .thumbnail>img {
    height: 80%;
    max-width: 100%;
    object-fit: scale-down;
    /*object-fit: cover;*/
    width: 100%;
}

.gallery .fileinput .thumbnail>video,
.gallery .fileinput .thumbnail>img {
    height: 230px;
}

/* .fileinput-exists img { width: 200px !important; } */

.highlight {
    border: 1px solid var(--grn-drk);
    font-weight: bold;
    font-size: 45px;
    height: 200px;
    width: 250px;
    background-color: var(--grn);
    opacity: 0.3;
}

.image-list-content .image-list-item:hover p {
    display: block;
}

.image-list-content .image-list-item p {
    display: none;
}

.textarea-field textarea {
    background: #f3f3f3;
}

/* VERSIÓ MÉS PETITA */
.sidebar {
    width: 200px;
}

.sidebar .sidebar-wrapper {
    width: 200px;
}

.main-panel>.navbar {
    z-index: 1;
}

.sidebar .logo .simple-text {
    font-size: 14px;
    line-height: 20px;
}

.sidebar .nav p {
    line-height: 20px;
    font-size: 13px;
}

.sidebar .nav i {
    font-size: 15px;
    margin-right: 10px;
    line-height: 20px;
    width: 20px;
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a .sidebar-mini,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini {
    width: 20px;
    margin-right: 10px;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
    font-size: 13px;
}

.sidebar .nav .caret {
    margin-top: 10px;
}

@media (min-width: 991px) {
    .main-panel {
        width: calc(100% - 200px);
    }

    .sidebar-mini .sidebar,
    .sidebar-mini .sidebar .sidebar-wrapper {
        width: 70px;
    }
}

button.copy {
    background: none;
    border: none;
    color: #aaa;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

/* end VERSIÓ MÉS PETITA */

/* Table Roles */
.table-roles {margin-top: 60px;}
.table-roles .table-content ul,
.table-roles .table-header ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.table-roles .table-header {padding: 15px;background: #e8e8e8;font-weight: bold;display: flex;}
.table-roles .table-content .table-custom_post {border-bottom: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-left: 1px solid #e2e2e2;}
.table-roles .table-content .table-custom_post h6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #f6f6f6;
    margin-bottom: 0;
}

.table-roles .table-content .table-custom_post h6 span {flex: 1;}
.table-roles .table-content .table-custom_post h6 .togglebutton {margin-right: 0;display: flex;align-items: center;}
.table-roles .table-content .table-custom_post h6 .togglebutton label {margin-bottom: 0;}

.table-roles .table-content .custom-post-content {padding: 15px;}
.table-roles .table-content .custom-post-content .form-check .form-check-label{padding-top: 15px;}
.table-roles ul li:first-child {width: 150px;}
/* Fi Table Roles */

.table thead tr th {
    font-size: 14px;
}

.table.search thead tr th {
    min-width: 150px;
}

.lds-dual-ring {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

/* TEXT CONSOLE STYLE */
.text-console, .text-console:focus {
    font-family: monospace;
    color: #fff;
    background-color: #000!important;
    font-size: 13px;
}
/* end TEXT CONSOLE STYLE */

/* CHATS */
ul.input_msg_buttons {
    position: absolute;
    width: 100%;
    height: 25px;
    top: -30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.input_msg_buttons li {
    display: inline-block;
    margin-right: 4px;
}

ul.input_msg_buttons li:last-child {
    margin-right: 0;
}

.input_msg_buttons button.btn-sm {
    font-size: 9px;
    padding: 5px 6px;
    margin: 0;
}
/* end CHATS */

.col-form-label i.sub {
    width: 100%;
    display: inline-block;
    font-size: 9px;
    font-weight: lighter;
    font-family: monospace;
}

.pagination {
    justify-content: flex-end;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination ul li:first-child, .pagination ul li:last-child {
    border: 0;
}

.pagination ul li {
    border: 1px solid var(--grn);
    margin-right: 10px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pagination ul li a {
    padding: 3px 10px;
    display: block;
}

.pagination ul li a.active {
    background: var(--grn);
    color: white;
}

.pagination ul li:hover {
    background: var(--grn);
}

.pagination ul li:hover a {
    color: white;
}



@media (min-width: 1280px) {
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }

    .dl-horizontal dd:before, .dl-horizontal dd:after {
        content: ' ';
        display: table;
    }
}


.material-datatables {position: relative;}
.material-datatables .reorder {vertical-align: middle;text-align: center;line-height: 10px;}
.material-datatables .reorder i {font-size: 16px;text-align: center;}

.loader {display: none; position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgba(255, 255, 255, 0.8);z-index: 2;}
.loader .spinner {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

/* SPINNER */
.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
    }

    @-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
    }
    }

    @keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
    }
    }
    .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    }

    @-webkit-keyframes colors {
        0% {
            stroke: var(--grn);
        }
        100% {
            stroke: var(--grn-drk);
        }
    }

    @keyframes colors {
        0% {
            stroke: var(--grn);
        }
        100% {
            stroke: var(--grn-drk);
        }
    }
    @-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
    }
    }
    @keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
    }
    }  
/* FI SPINNER */



.note-editor.note-frame table td {
    border: 1px solid #a9a9a9;
}

.simple-pagination > .active > a, .simple-pagination > .active > a:focus, .simple-pagination > .active > a:hover, .simple-pagination > .active > span, .simple-pagination > .active > span:focus, .simple-pagination > .active > span:hover {
    background-color: #f4f4f4;
    border-color: #ddd;
    color: inherit;
    cursor: default;
    z-index: 2
}

.simple-pagination > li > a, .simple-pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none
}

.simple-pagination {
    margin: 0;
    float: right;
}

.bootstrap-datetimepicker-widget {
    z-index: 99999 !important;
}