@import "maqueta/style.css";
@import "maqueta/ddsmoothmenu.css";
@import "maqueta/flexslider.css";
@import "maqueta/jquery.selectbox.css";
@import "maqueta/owl.carousel.css";
@import "maqueta/jquery.fancybox.css";
@import "maqueta/jquery.mmenu.all.css";
@import "maqueta/calendar.css";
@import "maqueta/smk-accordion.css";
@import "maqueta/easy-responsive-tabs.css";
@import "maqueta/sweetalert2.min.css";

@import "maqueta/jquery-datepicker.css";

// Toastr
@import "~toastr/toastr";

// Font-awesome
@import '~font-awesome/scss/font-awesome';

@import "maqueta/media.css";

@import "maqueta/intranet";


.swal2-styled.swal2-confirm {
    background-color: #FB6262!important;
}

.swal2-styled.swal2-confirm, .swal2-popup {
    border-radius: 0!important;
}

.img-video-container {
    text-align: center;
}