.card-dtls{float: left;width: 45%;}
.card-dtls .frm-grp{float:left; width:100%; margin:0 0 25px;}
.card-dtls .frm-grp label{padding-bottom:7px; width:100%; float:left; display:block;}
.card-dtls .frm-grp .frm-ctrl{width:100%; float:left;border:1px solid #f2f2f2; height:50px; padding:0 15px; font-size: 18px; color: #4e4e4e; border-radius:6px;}
.credit-card-number{background:url('../images/lock.png') no-repeat center right 15px; padding-right:25px;}
.card-dtls .frm-grp .col-2{width:49%; float:left; margin-right:2%;}
.card-dtls .frm-grp .col-2:last-of-type{margin-right:0}
.card-img{width:100%;float:left; margin:10px 0 0 ;}
.card-img li{width:48px; float:left;margin-right:5px; height:30px; background-size:48px 30px !important;}
.card-img li.visa{background:url('../images/visa.svg') no-repeat;}
.card-img li.master{background:url('../images/mastercard.svg') no-repeat;}
.card-img li.paypal{background:url('../images/paypal.svg') no-repeat;}
.card-img li.american-exp{background:url('../images/american.jpg') no-repeat;}
.card-img li.discover{background:url('../images/dicover.jpg') no-repeat;}
.card-right{float:left; width:55%; padding-left:4%;}
.card-bg{background:#dadada; padding:50px 25px 30px; min-height:180px; border-radius:10px; margin:25px 0 0; width:290px; position:relative;}
.card-right .chip{width:48px; height:38px; background:#fff; border-radius:10px; margin:0 0 15px;}
.card-right .card-num{text-align:center; width:100%; float:left;}
.card-right .card-num span{color:#fff; margin-right:15px; font-size:20px;  width: calc(25% - 15px);float: left; height:20px;}

.card-right .card-num span:last-child{margin-right:0; width:25%;}
.card-right .small-number{font-size:12px; color:#fff;}

.validity-ctrl {font-size: 10px;position: absolute;bottom: 18px;right:65px;color: #fff; line-height:12px; width:120px; padding:10px 0 0;}
.validity-ctrl .month{display: block;text-align: center;position: absolute;top: 0;right: 16px;font-size: 8px;} 
.validity-ctrl .month-number{font-size: 20px; padding: 6px 0 0; float: left;}
.validity-ctrl .valid{float:left; position:relative; padding-right:25px;}
.validity-ctrl .valid:after{position: absolute;content: "";width: 0;height: 0;border: 5px solid transparent;border-left: 10px solid #fff;top: 6px;right: 1px;}


.product-image {
    margin-top: 30px;
}

.product-image img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 7px 0px #979797;
}

.content .card-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.content .card-price {
    font-size: 20px;
    margin-top: 30px;
}


.content .card-price.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-field {
    margin-bottom: 15px;
}

.facturacion h4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.checkbox .form-check {
    width: 100%;
}

.checkbox input[type="checkbox"]:checked+..form-check-label:before {
    animation: c .5s;
}

.checkbox input[type="checkbox"]:checked+.form-check-label .check {
    background: var(--grn);
}

.checkbox input[type="checkbox"]:checked+.form-check-label .check:before {
    color: #fff;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: b .3s forwards;
}

.content .card-price span {
    font-weight: 700;
}
.content .actions {
    float: right;
}

.content .properties h3 {
    font-size: 18px;
}


.wizard {
    padding-right: 27px;
}

.wizard ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
}

.wizard ul li {
    padding: 15px;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    flex: 1 1 auto;
    background: #e4e4e4;
    border: 1px solid lightgrey;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.wizard ul li:hover::after {
    border-left: 27px solid #d4d4d4;
}
.wizard ul li:hover {
    background: #d4d4d4;
}

.wizard ul li.active {
    background: var(--grn);

}

.wizard ul li.active:after {
    border-left: 27px solid var(--grn);
}
.wizard li:before,
.wizard li:after {
    content: "";
    position: absolute;
    right: -27px;
    top: 0;
    width: 0;
    height: 0;
    z-index: 999;
}

/* Color Arrow */
.wizard li:after {
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 27px solid #e4e4e4;
}

/* Border Arrow */
.wizard li:before {
    right: -28px;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 27px solid lightgrey;
}


.facturacion .facturacion-title {
    position: relative;
}

.facturacion .facturacion-title a {
    position: absolute;
    right: 20px;
    top: 0;
    margin-top: 20px;
}

.success-panel {
    margin-bottom: 20px;
}


.object {
    display: flex;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}

.object .obj-lft {width: 40%;}
.object .obj-lft img {height: 200px;width: 100%;object-fit: cover;}
.object .obj-rgt {width: 60%; padding: 10px 25px;}
.object .obj-rgt h3 {margin-top: 0px;}

.purchase-check {
    position: absolute;
    background: #00bd00;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.shop-item .shop-img {
    height: 220px;
    object-fit: cover;
}

.confirmed {
    background: lightgreen;
    display: inherit;
    padding: 2px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
}


.subs_no_active, .subs_active {
    display: inherit;
    padding: 2px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
}

.subs_no_active {
    background: lightcoral;
}

.subs_active {
    background: aquamarine;
}