@import "css/style.css";

@import "css/jquery.mCustomScrollbar.css";
@import "css/jquery.fancybox.css";
@import "css/jquery-datepicker.css";

// Font-awesome
@import '~font-awesome/scss/font-awesome';

// Toastr
@import "~toastr/toastr";

.progress-block {
  .progress-container {
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #4ca6db;
    border-radius: 5px;
    margin-top: 25px;

    .progress-bar {
      height: 24px;
      width: 0;
      background: #4ca6db;
    }
  }

  .progress-number {
    width: 100%;
    text-align: center;
  }
}

@import "css/media.css";
