.date-picker {
  width: 100%;
  height: auto;
  max-height: 44px;
  /*background: white;*/
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; 
} 


.date-picker .input {
  width: 100%;
  /* height: 45px; */
  font-size: 0;
  cursor: pointer;
   float:left; width:100%; color:#727272; text-transform:uppercase; font-size:15px; background:#fff;  padding: 10px 15px; height: 44px; line-height: 32px; font-family: 'Gotham-Light'; position:relative;
}
.date-picker .input::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 10px;
	cursor:pointer;
	background: rgba(0, 0, 0, 0) url("../images/calendar-icon.svg") no-repeat scroll 0 0;width: 22px;height: 23px;
}
.date-picker.open .input::after {transform: rotate(0deg);}

.date-picker .input .result, .date-picker .input button {
  display: inline-block;
  vertical-align: top;line-height: 25px;
}
/*.date-picker .input .result {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
}*/

.date-picker .input button:hover {
  background-color: #68768A;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;  
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #8392A7;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev {
  width: 18px;
  height: 14px;
  text-indent: 9999px;
  /*border: 2px solid #fff;
  border-radius: 100%;*/
  cursor: pointer;
  overflow: hidden;
  margin-top: 15px; background: url(../images/lf-icon.svg) no-repeat;
}
.date-picker .ui-datepicker-next {
  width: 18px;
  height: 14px;
  text-indent: 9999px;
  /*border: 2px solid #fff;
  border-radius: 100%;*/
  cursor: pointer;
  overflow: hidden;
  margin-top: 15px; background: url(../images/rt-icon.svg) no-repeat;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -45px 0 0 6px;
}
.date-picker .ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -45px 0 0 5px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  /*width: 6px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;*/
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
  border-color: #68768A;
}
.date-picker .ui-datepicker-title {
  text-align: center;
  background:#fff;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #373737;
  margin-bottom: 5px; font-family: 'Gotham-Book';
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #373737;
  line-height: 40px;
  font-size: 12px;
  font-family:'Gotham-Book';
}
.date-picker .ui-state-default:hover {
  color: #fff !important;
  background-color: #8a2626;
  font-family: 'Gotham-Book';
}
.date-picker .ui-state-highlight {
  color: #68768A;
}
.date-picker .ui-state-active {
  color: #373737;
  background-color: #fff;
  font-family: 'Gotham-Book';
  border:1px solid #373737;
}
.date-picker .ui-datepicker-today .ui-state-active{
  color: #fff;
  background-color: #8a2626;
  font-family: 'Gotham-Book';
  border:none;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #4e4e4e;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: inherit;
  position: relative;
  z-index: 999;
  animation: slidedn 1s ease;
}
.date-picker.open .input {
  margin-bottom: 1px;
}
.date-picker.open .input button {
  background: #68768A;
}
.date-picker.open .calendar {
    margin-top: 1px;
}

.date-picker .ui-datepicker-week-end .ui-state-default	{ color:#cacaca;}

@keyframes slidedn
{
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}
