@charset "utf-8";
/* CSS Document */

.ddsmoothmenu { float: left; padding:0px; font-size:11.5px;text-transform:uppercase; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;  font-family: 'robotoregular'; margin:0 0px 0 0; letter-spacing:0.1px; width:100%; }
.ddsmoothmenu ul { z-index:100; margin:0; padding:0px 0px; list-style-type: none; }
/*Top level list items*/
.ddsmoothmenu ul li { position: relative;display: inline-block; padding:0px 0px; margin: 0px 5px; line-height: 14px; border-right:0px solid #e6eaea;}
.ddsmoothmenu ul li:last-child{padding-right:0px;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a { display: inline-block; text-decoration:none;position:relative;color:#fff; font-size: 13px; font-family: 'gotham-boldgotham-bold'; text-transform:uppercase; line-height:19px;padding: 16px 10px 13px 10px;-moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; }
.ddsmoothmenu ul li a:hover { color:#fbff86;}
.ddsmoothmenu ul li a span { display:block; font-size:13px;margin-right: 3px; color:#7f040a;-moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;height: 21px;}
.ddsmoothmenu ul li a:after { content:''; position:absolute; bottom: 0px; background:#fbff86; width:0px; height:2px; left:50%;-moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
.ddsmoothmenu ul li a:hover:after { width:100%; left:0;}
.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a.selected p {  color:#fbff86;}
.ddsmoothmenu ul li a.selected:after { width:100%; left:0;}


.ddsmoothmenu ul li a.sales-rpt span{background:url(../images/sales-rpt.png) no-repeat 0 2px; width:16px;  float:left}
.ddsmoothmenu ul li a.stok-rpt span{background:url(../images/stock-reports.png) no-repeat  0 2px; width:16px;  float:left}
.ddsmoothmenu ul li a.sales-stok-rpt span{background:url(../images/sales-stock-rpt.png) no-repeat; width:18px;  float:left}
.ddsmoothmenu ul li a.paymet-rpt span{background:url(../images/payment-rpt.png) no-repeat; width:20px;float:left}
.ddsmoothmenu ul li a.emp-rpt span{background:url(../images/emp-rpt.png) no-repeat 0 2px; width:12px;float:left}
.ddsmoothmenu ul li a.branch-rpt span{background:url(../images/branch-rpt.png) no-repeat; width:14px;float:left}
.ddsmoothmenu ul li a.offlne-rpt span{background:url(../images/ofline-rpt.png) no-repeat  0 1px; width:16px; float:left}
.ddsmoothmenu ul li a.payrol-rpt span{background:url(../images/payrol-rpt.png) no-repeat; width:16px;  float:left}
.ddsmoothmenu ul li a.customer-rpt span{background:url(../images/customer-rpt-ico.png) no-repeat 0 1px; width:20px;  float:left}

.ddsmoothmenu ul li a.sales-rpt:hover span {background:url(../images/sales-rpt-ylw.png) no-repeat 0 2px;}
.ddsmoothmenu ul li a.stok-rpt:hover span, .ddsmoothmenu ul li a.selected span{background:url(../images/stock-reports-ylw.png) no-repeat  0 2px;}
.ddsmoothmenu ul li a.sales-stok-rpt:hover span{background:url(../images/sales-stock-rpt-ylw.png) no-repeat;}
.ddsmoothmenu ul li a.paymet-rpt:hover span{background:url(../images/payment-rpt-ylw.png) no-repeat;}
.ddsmoothmenu ul li a.emp-rpt:hover span{background:url(../images/emp-rpt-ylw.png) no-repeat 0 2px;}
.ddsmoothmenu ul li a.branch-rpt:hover span{background:url(../images/branch-rpt-ylw.png) no-repeat;}
.ddsmoothmenu ul li a.offlne-rpt:hover span{background:url(../images/ofline-rpt-ylw.png) no-repeat  0 1px;}
.ddsmoothmenu ul li a.payrol-rpt:hover span{background:url(../images/payrol-rpt-ylw.png) no-repeat;}
.ddsmoothmenu ul li a.customer-rpt:hover span{background:url(../images/customer-rpt-ico-ylw.png) no-repeat 0 1px;}





/*1st sub level menu*/
.ddsmoothmenu ul li ul { position: absolute; left:0; display:none; visibility:hidden; padding:0px; width:240px; left:0px; background:#322f6a;}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li { float: none; width:100%; padding:0px 0px; margin:0 0%; border-right:0px; text-align:left; width:100%; border-bottom:1px solid #23214a; }
.ddsmoothmenu ul li ul li:after{ background:#3e3b73; content:""; width:100%; height:1px; display:inline-block;position: absolute;bottom: 0;}
/* .ddsmoothmenu ul li ul li:hover { background:#B05AA5; } */

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul { top: -2px !important;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a { display:block; padding: 15px 28px 15px 36px; color:#fff !important; line-height:14px; font-size: 12px;text-transform:none;letter-spacing:0.1px; font-family: 'gotham-mediumgotham-medium'; background:url(../images/submenu-arw.png) no-repeat 20px center ; }
.ddsmoothmenu ul li ul li:last-child a { border-bottom:none;}

.ddsmoothmenu ul li ul li a:hover { color:#fbff86 !important;  text-decoration:none; margin: 0px 0px 0px 0px; background:#292664 url(../images/submenu-arw-hover.png) no-repeat 20px center}
.ddsmoothmenu ul li ul li a:after, .ddsmoothmenu ul li ul li a:before { display:none }

.ddsmoothmenu ul li ul li ul li {}

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; } /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass { position: absolute; top: 32px; right: 20px; }
.rightarrowclass { position: absolute; top: 6px; right: 5px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { /*shadow for NON CSS3 capable browsers*/ position: absolute; left: 0; top: 0; width: 0; height: 0; }
.toplevelshadow { /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/ opacity: 0.8; }

.ddsmoothmenu ul li ul li a span { color:#9e9e9e;}
