﻿
ul.resp-tabs-list{ margin: 0px; padding: 0px;float: left; width: 100%; border-bottom:none }

.login-white-bg .resp-tabs-list li {
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
   float: left;
   font-family: 'Gotham-Light';
    font-size: 18px;
    list-style: outside none none;
    padding: 10px 55px 13px 55px;
    position: relative;
    text-align: center;
    border-bottom:1px solid #fff; width: 50%;
 }
.resp-tabs-container {
padding:20px 0px 0px;
clear: left;
float: left;
width: 100%;
min-height: 315px;
position: relative;
top: 0px;
}

h2.resp-accordion {
cursor: pointer;
padding: 5px;
display: none;
}
.resp-tab-content {
display: none;

}
.resp-tab-active { /*border: 1px solid #c1c1c1;padding: 12px 14px 14px 14px !important;*/ }
.resp-tabs-list li.resp-tab-active { color:#ffffff;  padding: 10px 55px 10px 55px; border-bottom: 4px solid #fff; font-family: 'Gotham-Bold';
}
.resp-content-active, .resp-accordion-active {
display: block;
}
.resp-tab-content {
border: 0px solid #c1c1c1;
}
h2.resp-accordion {
font-family: 'dosisbold';
font-size: 17px;
margin: 0px;
padding: 10px 15px; 
background: #eaedf0;
color: #3B4B56;
}
h2.resp-tab-active {
border-bottom: 0px solid #c1c1c1 !important;
margin-bottom: 0px !important;
padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
border-bottom: 12px solid #c1c1c1 !important;
background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
float: left;
width: 30%;
}
.resp-vtabs .resp-tabs-list li {
display: block;
padding: 15px 15px !important;
margin: 0;
cursor: pointer;
float: none;
}
.resp-vtabs .resp-tabs-container {
padding: 0px;
background-color: #fff;
border: 1px solid #c1c1c1;
float: left;
width: 68%;
min-height: 250px;
border-radius: 4px;
clear: none;
}
.resp-vtabs .resp-tab-content {
border: none;
}
.resp-vtabs li.resp-tab-active {
border: 1px solid #c1c1c1;
border-right: none;
background-color: #fff;
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
width: 0;
height: 0;
float: right;
margin-top: 9px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #3b4b56;
}
h2.resp-tab-active span.resp-arrow {
border: none;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 8px solid #ffffff;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
background: #3B4B56; color:#fff !important;
}
.resp-easy-accordion h2.resp-accordion {
display: block;
}
.resp-easy-accordion .resp-tab-content {
border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
width: 100%;
margin: 0px;
}
.resp-tab-content-active {
display: block;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
/*@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
display: none;
}
h2.resp-accordion {
display: block; float:left; width:100%;
}
.resp-vtabs .resp-tab-content {
border: 1px solid #C1C1C1; 
}
.resp-vtabs .resp-tabs-container {
border: none;
float: none;
width: 100%;
min-height: initial;
clear: none;
}
.resp-accordion-closed {
display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
}
*/


/*Communication model tab*/
.tab-grey .resp-tabs-list li{ color:#5e6368; border-right: solid 1px #e1e1e1;}
.tab-grey .resp-tabs-list{  border-bottom: 1px solid rgba(104, 104, 104, 0.1);}
.tab-grey .resp-tabs-list li:last-child{ border-right:none}