@charset "utf-8";
/* CSS Document */



/* #Media Queries
================================================== */

@media only screen and (min-width: 1920px) {

}


@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}	

}

@media screen and (min-width:1280px) and (max-width:1728px) {

}
 
@media screen and (min-width:1024px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:100%; }

header	{ padding:18px 3%;}
.container	{ padding:18px 3%;}
.m-menu{ display:block}
.user-name{margin-right:35px;}
.menu{ display:none}
.login-white-bg.rec p {padding: 20px 0;}
.container ul.das-ico li{ min-height:150px;}
.container ul.das-ico li p{ margin-top:10px;}
.inner-form{ margin-top:10px;}
.full-sec p{ font-size:16px;}
.inner-form.modificar ul li input[type="submit"]{ margin-right:15px; width:220px;}
}


/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row { width:750px; }

.m-menu{ display:block}
.user-name{margin-right:35px;}
.menu{ display:none}
.login-white-bg.rec p {padding: 20px 0;}
.container ul.das-ico li{ min-height:150px;}
.container ul.das-ico li p{ margin-top:10px;}
.container{width: 100%;padding: 20px 0;margin-left: 0;}
header {float: left;width: 100%;margin-left: 0; padding:18px 0;}
.salir-aero{ display:block;}
.soci-dades h2 br{ display:block;}
.soci-dades h2{ text-align:center;}
.soci-dades{ text-align:center;}
.inner-form ul.fecha.resumen{ width:100%;}
p.horas br{ display: block;}
.inner-form{ margin-top:10px;}

/*menu css*/
.slide-menu-control { display:block;}
.slide-menu-close { display:block;}
.container { background:#f2f2f2;}
.nav { padding: 15px;}
.nav ul li a { color: #373737; padding-left: 40px; font-size: 16px;}
.nav ul li { margin-bottom: 10px;}
.nav ul li.green-fee { background:rgba(0, 0, 0, 0) url("../images/mob-menu-icon-green-fee.svg") no-repeat scroll left center;}
.nav ul li.camp-de { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-practice.svg") no-repeat scroll left center;}
.nav ul li.restaurante { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-restaurant.svg") no-repeat scroll left center;}
.nav ul li.wallet { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-wallet.svg") no-repeat scroll left center;}
.nav ul li.mi-rese { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-reservas.svg") no-repeat scroll left center;}
.nav ul li.noti { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-notifications-active.svg") no-repeat scroll left center;}
.nav ul li.comuni { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-comunication.svg") no-repeat scroll left center;}
.nav .smk_accordion.acc_with_icon .accordion_in .acc_head { color: #373737; background:rgba(0, 0, 0, 0) url("../images/mob-menu-icon-user-info.svg") no-repeat scroll left center;}
.nav ul li.Salir { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-loggout.svg") no-repeat scroll left center;}
.nav .smk_accordion .accordion_in .acc_content ul li.dato-de { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-folder.svg") no-repeat scroll left center;}
.nav .smk_accordion .accordion_in .acc_content ul li.privacy { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-privacity.svg") no-repeat scroll left center;}

.side-bar{ visibility:hidden; opacity:0; background:#f5f5f5; overflow: auto;  padding: 0;-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; -ms-transition: All 0.5s ease; transition: All 0.5s ease; left:-370px;}
.openmenu .side-bar { opacity:1; visibility:visible; left:0; }
.logo.white	{ display:none;}
.profile-det.mob-profile	{ display: inline-block; }
.smk_accordion .accordion_in .acc_head .acc_icon_expand { background:url(../images/down-arrow.svg) no-repeat center 0;} 
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand { transform:rotate(180deg); background:url(../images/down-arrow.svg) no-repeat center 0;}

.logo.black, .profile-not-mob		{ display:block;}
.profile-det	{ display:none;}
header .profile		{ width:66px;}
.soci-dades.ex h2 {text-align: center;}
.inner-form.modificar ul li input[type="submit"]{ margin-right:15px; width:220px;}

.container h1.m-tit {text-align: center;}
.inner-form.vol { text-align: center; width: 100%;}
.inner-form ul.fecha li.reser { float: none; display: inline-block;text-align: center;}
.inner-form ul.fecha li.reser.con input[type="submit"] {float:none;}

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
body{ height:auto !important;}
img {max-width:100%; }
.row { width:95%; }

.m-menu{ display:block}
.user-name{margin-right:35px;}
.menu{ display:none}
.login-bg{ display:inline-block;}
.login-white-bg		{ width:90%; padding:30px 20px;}
.login-white-bg .resp-tabs-list li { padding:10px 0 13px;}
.login-white-bg .resp-tabs-list li.resp-tab-active  { padding:10px 0 10px;}

.login-form ul li label, .login-form input[type="text"]			{ font-size:14px;}
.login-form ul li.chek label	{ font-size:12px;}
.login-form ul li h5	{ font-family: 'Gotham-Bold'; font-size:12px;}
.login-form ul li input[type="checkbox"]:not(old) + label > span	{ width:10px; height:10px; margin:-2px 6px 0 0;}
.login-form ul li input[type="checkbox"]:not(old):checked + label > span::before	{ width:6px; height:6px; top:1px; left:1px;}
.login-form.invitados p { /*font-family:'Gotham-Book';*/ font-size:14px; line-height:22px;}
.login-white-bg.rec { padding: 25px 15px;}
.login-white-bg.rec p {padding: 0 0 20px 0; font-size: 16px; line-height: 24px;}
.salir{ display:block;}
.login-white-bg h2{ font-size:22px;}
.login-form.r-mail ul li.desktop {display: none;}
.login-form.r-mail ul li.mbl-view {display: block;}
.login-form.r-mail ul li.desktop {display: none;}
.login-white-bg.nueva p {padding: 0 0 20px 0; font-size:14px;}
.login-form.repetir ul li {margin-bottom: 15px;}
/*dashboard*/
.container{width: 100%;padding: 20px 0;margin-left: 0; padding-bottom: 80px;}
header {float: left;width: 100%;margin-left: 0; padding: 18px 0;}
.notifi{ width:100%;}
.notifi-tit h1.m-tit {text-align: left;padding-left: 10px;padding-bottom: 10px;margin-bottom: 10px; font-size:18px;}
.container ul.das-ico{ margin-bottom:15px;}
.wallet ul li{ display:none;}
.histo{ display:none;}
.histo.mb {display: block;}
.histo.mb h1.m-tit{ font-size:14px; color:#29473d; font-family: 'Gotham-Bold';}
.wallet {float: left;width: 100%; margin-left: 0; margin-top: 0;}
.wallet h1.m-tit {text-align: left;padding-left: 10px;}
.inner-form.pago h1{ font-size:18px; margin-top:0;}
.inner-form.pago h5{ margin-bottom:15px;}

/*menu-old css*/
.container ul.das-ico li{ min-height:140px;}
.container ul.das-ico li p{ margin-top:7px;}
.green-bottom { display:block; box-shadow: 0 2px 4px rgba(0,0,0,0.3);-o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3); position:fixed; bottom:0;}
.estado-wall-rgt {width: 130px;}
.estado-wall-lft {width: calc(100% - 130px);}
.estado-wall-lft p{ font-size:13px;}
.inner-form{ width:100%; float:left; margin-top:10px;}
.inner-form ul li.dk-view {display: none;}
.inner-form ul li.mb-view{ display:block;}
.inner-form ul li.mb-view.email {border-top: 2px solid #d2d0d1;border-bottom: 2px solid #d2d0d1;padding: 20px 0;}
.inner-form ul li.tp input[type="submit"]{ margin-top:10px;}
.salir-aero{ display:block;}
.soci-dades h2 br{ display:block;}
.soci-dades h2{ text-align:center;}
.container h1.m-tit{ text-align:center;}
.soci-dades{ text-align:center;}

.inner-form ul.fecha.resumen li.lft{ padding-left:70px; font-size:15px;}
/*but*/
.inner-form ul.fecha li.reser input[type="submit"] {float: none;}
.inner-form ul.fecha.resumen{ width:100%; margin-bottom:0;}

p.horas br{ display: block;}
.comunica .resp-tabs-container {width: 100%;}
.resp-tabs-list li.resp-tab-active{padding: 10px;}
.chat{ width:100%;}
.green-bottom ul li h4{ font-size:15px;}
.inner-form ul li.chk input[type="checkbox"]:not(old) + label strong{ font-size:14px;}
.inner-form ul li.chk input[type="checkbox"]:not(old) + label strong br{ display:none;}

.notifi-tit h1.m-tit {text-align: left;}
.wallet h1.m-tit {text-align: left;}
.histo.hisy {display: block;}
.inner-form ul li{ font-size:16px;}
.inner-form ul.fecha li.full-txt{ font-size:15px; padding-left:35px;}
.credit ul li .dk-tp {display: none;}
.credit ul li .mb-vw {display: block;}
.inner-form.pago ul.fecha li.reser input[type="submit"] {float: left;}
/*menu css*/
.slide-menu-control { display:block;}
.slide-menu-close { display:block;}
.container { background:#f2f2f2;}
.nav { padding: 15px;}
.nav ul li a { color: #373737; padding-left: 40px; font-size: 16px;}
.nav ul li { margin-bottom: 10px;}
.nav ul li.green-fee { background:rgba(0, 0, 0, 0) url("../images/mob-menu-icon-green-fee.svg") no-repeat scroll left center;}
.nav ul li.camp-de { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-practice.svg") no-repeat scroll left center;}
.nav ul li.restaurante { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-restaurant.svg") no-repeat scroll left center;}
.nav ul li.wallet { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-wallet.svg") no-repeat scroll left center;}
.nav ul li.mi-rese { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-reservas.svg") no-repeat scroll left center;}
.nav ul li.noti { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-notifications-active.svg") no-repeat scroll left center;}
.nav ul li.comuni { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-comunication.svg") no-repeat scroll left center;}
.nav .smk_accordion.acc_with_icon .accordion_in .acc_head { color: #373737; background:rgba(0, 0, 0, 0) url("../images/mob-menu-icon-user-info.svg") no-repeat scroll left center;}
.nav ul li.Salir { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-loggout.svg") no-repeat scroll left center;}
.nav .smk_accordion .accordion_in .acc_content ul li.dato-de { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-folder.svg") no-repeat scroll left center;}
.nav .smk_accordion .accordion_in .acc_content ul li.privacy { background: rgba(0, 0, 0, 0) url("../images/mob-menu-icon-privacity.svg") no-repeat scroll left center;}

.side-bar{ visibility:hidden; opacity:0; background:#f5f5f5; overflow: auto;  padding: 0;-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; -ms-transition: All 0.5s ease; transition: All 0.5s ease; left:-370px;}
.openmenu .side-bar { opacity:1; visibility:visible; left:0; }
.logo.white	{ display:none;}
.profile-det.mob-profile	{ display: inline-block; }
.smk_accordion .accordion_in .acc_head .acc_icon_expand { background:url(../images/down-arrow.svg) no-repeat center 0;} 
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand { transform:rotate(180deg); background:url(../images/down-arrow.svg) no-repeat center 0;}

.logo.black, .profile-not-mob		{ display:block;}
.logo.black		{ width: 85px;margin: auto;float: none;display: inline-block;position: absolute;left: 0;right: 0;}
.profile-det	{ display:none;}
header .profile		{ width:66px;}
.tab-content p.horas br{ display:none;}
.tab-content p.horas{ font-size:16px; color:#373737;}
.inner-form ul.fecha li.jug{ padding-left:40px;}
.full-sec{ display:none;}
.soci-dades h2 {font-size: 18px; margin-bottom:0;}
.soci-dades{ margin-top:10px;}
.pass-form{ margin-top:20px;}
.inner-form.vol {margin-top: 70px;}
.inner-form.modificar{ margin-top:10px;}
.inner-form.modificar ul li input[type="submit"]{ margin-right:15px; width:280px;}
.soci-dades.ana h2 {margin-bottom: 20px;}
.soci-dades.ana p br{ display:none;}
.soci-dades h2.sus {margin-bottom: 30px;}
.login-form ul li.lg-error.mbl{ padding:10px 5px 10px 35px; display:block; font-size:12px; background: #292b2a url(../images/alert-triangle-mbl.svg) no-repeat 5px 10px; text-align:left;}
.login-form ul li.lg-error{ display:none;}
.notifi.history ul li .noti-cnt p, .notifi.history ul li .noti-cnt span { display:none;}
.notifi.history ul li .noti-cnt { width:50%;}
.notifi.history ul li .noti-cnt h1 {  font-family: "Gotham-Book"; color:#3f3f3f;}
.notifi.history ul li .noti-img { display:none;}
.notifi.history ul li .mob-noti-img { display:block;}
.notifi.history ul li .mob-noti-cnt { display:block;}
.notifi.history ul li { padding:7px 12px 7px 25px;}
.chat-area ul li.sender p, .chat-area ul li.sender p {font-size: 15px;}
.chat-area ul li.sender p br { display: none;}
.chat-send input[type="text"] { font-size:15px;}
.wallet.ultimos ul li { display: block; margin-bottom: 5px;}
.wallet.ultimos ul li .walle-lft h2 { text-align:left;}
.soci-dades.compra h2{font-size: 18px; margin-bottom:15px;}
.soci-dades.compra p {font-size: 16px;}
.anadir.tarjeta .credit ul li { margin-right: 15px;} 
.anadir.tarjeta .credit ul li:nth-child(1), .anadir.tarjeta .credit ul li:nth-child(3) { display:none;}
.anadir.tarjeta .credit ul li:nth-child(2) { width: 40px;}
.credit ul li span { font-size:13px;}
.credit ul li span { padding-right:3px;}
.credit ul li span .close img {  height: 10px; width: 10px;}
.credit ul li .mob-card { display: block;}

.inner-form.vol { text-align: center; width: 100%;}
.inner-form ul.fecha li.reser { float: none; display: inline-block;text-align: center;}
.inner-form ul.fecha li.reser.con input[type="submit"] {float:none;}

.inner-form h2 {text-align: center;}
.e-tit {text-align:center;}
.inner-form p.horas{text-align:center;}
p.mob-p { text-align: center;}
.tu { text-align: center;}
.inner-form ul.button{ text-align: center;}
.inner-form ul.button li {float:none;}
.inner-form ul.fecha.fecha-mob { width: 100%;}
.login-container h1 {margin: 25px 0 25px 0;}

    .notifi.reserva {
        width: 100%;
    }
}

/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row { width:95%; }

.user-name p{line-height: 52px;font-size: 14px;}
.user-name p span { font-size: 13px;}	
.user-name img {margin: 6px 20px 6px 10px;}
.m-menu { margin: 16px 20px;}
.logo{ width:200px;}
.green-fee ul li h3{font-size: 15px;}
.comunica .resp-tabs-list li{ width:50%; padding:10px;}

.inner-form h2 {font-size: 18px;}
.pass-form{ width:100%;}

/* .logo.black		{ width:77%;} */
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.row { width:94%; }	

.login-container h1{ font-size:25px; line-height:35px;margin: 25px 0 25px 0;}
.login-white-bg{ border-radius:0;}
.login-white-bg{width: 90%;height: auto;margin: 0 auto 30px;}
.login-logo{padding: 0 20px 15px;}
.login-ftr{ padding:0 20px}

.logo{ float:none; margin:auto}
.m-menu {margin: 16px 10px;bottom: 0;}
.login-white-bg.rec p br{ display:none;}
.login-form input[type="submit"]{ width:100%;}
.login-form.repetir input[type="submit"] { width:100%;}
.login-white-bg.nueva p{ font-size:13px;}
.container ul.das-ico li{ width:48%; margin-right:4%; margin-bottom:10px;}
.container ul.das-ico li:nth-child(2n+2){ margin-right:0; }
.notifi ul li .noti-cnt p{ font-size:13px;}
.notifi ul li .noti-cnt h1 {font-size: 14px;}
.notifi ul li .noti-img {float: left;width: 15%;margin-right: 5%;}
.notifi ul li .noti-cnt {float: left;width: 80%;}
.container .notifi-tit h1.m-tit,.container .wallet h1.m-tit  {text-align: left;}
.green-bottom ul li h4{ font-size:11px;}
.estado-wall-lft h2{ padding-left:20px;}
.inner-form ul li input[type="submit"]{ width:100%;}
.inner-form ul li .image-upload label {text-align: center;}
.edit {position: absolute;right: 20px;top: 10px; left:auto;}
.soci-dades input[type="submit"]{ width:100%;}
.green-fee ul li h3{font-size: 13px;}
.green-bottom ul li h4{ font-size:12px;}
.inner-form ul.button li input[type="text"]{ width:100%;}
.inner-form ul.button li input[type="submit"]{width: auto;}
.inner-form ul.button li{ width:49%; margin-right:2%;}
.inner-form ul.button li:last-child{ margin-right:0;}

/* .logo.black		{ width:65%;} */
.credit{ width:100%; padding: 0 5px;}
.credit ul li:nth-child(2) {width: 30px;}
.credit ul li{ margin-right:7px; min-height: 50px; font-size:12px;}
.credit ul li:nth-child(3) {width: 68px;}
.inner-form.pago .credit ul li span {padding-right: 5px; font-size: 12px;}
.inner-form.pago h1,.inner-form.pago p{ text-align:center;}
p.horas{ text-align:center;}
.tab-content.tab-open h2 {text-align: center; margin-bottom:20px;}
.inner-form h2{margin-bottom: 10px; text-align:center;}
.inner-form ul.fecha.resumen {margin-top: 10px;}
.visa {width: 235px;float: none;padding: 10px;margin: 0 auto 20px;display: flex;}
.visa ul li input[type="text"]{ margin-right:5px;}
.inner-form ul.reservas-lst li .noti-cnt h1{ font-size:14px;}
.inner-form ul.reservas-lst li .noti-cnt p{ font-size:12px;}
.inner-form ul.reservas-lst li .noti-cnt span{ font-size:13px;}
.inner-form ul.fecha.top-0{ width:100%;}
.tu{font-size: 35px; text-align:center; margin:10px 0;}
.direccion.mbl {display: none;}
.notifi ul li input[type="submit"]{ width:100%;}
.inner-form ul.button.button-mob li {width:auto;}

}

@media screen and (max-width:319px) {}

