@charset "utf-8";
@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('fonts/Gotham-UltraItalic.eot');
    src: url('fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-UltraItalic.woff') format('woff'),
        url('fonts/Gotham-UltraItalic.ttf') format('truetype'),
        url('fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Book.woff') format('woff'),
        url('fonts/Gotham-Book.ttf') format('truetype'),
        url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('fonts/Gotham-Thin.eot');
    src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Thin.woff') format('woff'),
        url('fonts/Gotham-Thin.ttf') format('truetype'),
        url('fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black.eot');
    src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Black.woff') format('woff'),
        url('fonts/Gotham-Black.ttf') format('truetype'),
        url('fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-XLight';
    src: url('fonts/Gotham-XLight.eot');
    src: url('fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-XLight.woff') format('woff'),
        url('fonts/Gotham-XLight.ttf') format('truetype'),
        url('fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url('fonts/Gotham-MediumItalic.eot');
    src: url('fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-MediumItalic.woff') format('woff'),
        url('fonts/Gotham-MediumItalic.ttf') format('truetype'),
        url('fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-XLightItalic';
    src: url('fonts/Gotham-XLightItalic.eot');
    src: url('fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-XLightItalic.woff') format('woff'),
        url('fonts/Gotham-XLightItalic.ttf') format('truetype'),
        url('fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot');
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Bold.woff') format('woff'),
        url('fonts/Gotham-Bold.ttf') format('truetype'),
        url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('fonts/Gotham-BookItalic.eot');
    src: url('fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-BookItalic.woff') format('woff'),
        url('fonts/Gotham-BookItalic.ttf') format('truetype'),
        url('fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('fonts/Gotham-ThinItalic.eot');
    src: url('fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-ThinItalic.woff') format('woff'),
        url('fonts/Gotham-ThinItalic.ttf') format('truetype'),
        url('fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot');
    src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Light.woff') format('woff'),
        url('fonts/Gotham-Light.ttf') format('truetype'),
        url('fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
body { padding:0; margin:0; background:#f5f5f5; font-size:16px; color:#000; line-height:20px; font-family: 'Gotham-Book';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #192432; text-decoration: none;  }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:24px; padding:0; margin:0; color:#000000;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0; margin:0;  line-height: 30px; }
a{ color: #192432; outline:none; }
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0; margin:0; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0; height:0; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row{ width:100%; margin:0 auto; padding:0;}

/*Login*/
.login-bg{ background:#29473d; float:left;width:100%;text-align: center;height: 100%;/* justify-content: center;
align-items: center;display: flex;*/} 
.login-container{ float:left; width:100%;}
.login-container h1{ color:#fff; margin: 65px 0 30px; float: left;text-align: center;width: 100%;}
.login-container h1 span{font-family: 'Gotham-Book';display:block}
.login-white-bg{ width:639px; margin:0 auto 50px; background:#3b554c; height:auto; display: inline-block; padding:40px 50px;}
.login-logo { float: left; width: 100%; border-bottom: solid 1px #e7e7e7; padding-bottom: 20px; margin-bottom: 20px;}
.login-form{ float:left; width:100%;}
.login-form ul li{ float:left; width:100%; margin-bottom:15px;}
.login-form ul li label {float: left;padding-bottom: 5px;color: #fff;font-size: 16px;width: 100%;text-align: left; font-family: 'Gotham-Book';}
.login-form ul li:last-child{ margin-bottom:0;}

.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"]{ float:left; width:100%; border:none; padding:13px 15px; font-size:15px; color:#fff;background: #29473d;font-family: 'Gotham-Light';}
.login-form input[type="submit"]{ background: none; color: #fff; padding: 10px 31px; cursor:pointer; border: solid 2px #9eaaa6;font-family: 'Gotham-Bold'; letter-spacing:1px; float:none;font-size:14px; text-transform:uppercase; width:326px; height:45px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.login-form input[type="submit"]:hover{ background:#29473d;}
.login-form ul li h5{ color:#fff;}
.login-form ul li h5 span{ background: url(../images/key-password-white.svg) no-repeat; width: 20px;
height: 10px;display: inline-block; margin-right: 5px;}

/*.login-ftr{ float:left; width:100%; color:#fff; font-size:13px;margin-bottom: 25px;}*/

.login-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.login-form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.login-form :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.login-form :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.login-white-bg h2{ color:#fff; margin-bottom:20px; font-family: 'Gotham-Bold'; font-size:24px;}

img.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

img.avatar-img-big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

/*stack report*/
.logo{ float:left;}
.logo img{ float:left}
/*Mobile menu*/
#mobNav{background: #373380;}
.m-menu{ display:none;margin: 20px; position:absolute; right:0}
.m-menu a {display: inline-block;text-align: right;outline: none;}
.m-menu a span {display: block;background: #fff; height: 2px; margin-top: 4px;width:25px;transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease;}
.m-menu a:hover span{ background:#ecbd17}
.user-name{ float:right}
.user-name p{ font-size:15px;font-family: 'Conv_GOTHAM-LIGHT_0'; color:#fff;float: left;line-height: 62px;}
.user-name p span{ font-size:14px;font-family: 'Gotham-Bold';}
.user-name img{margin: 11px 20px 11px 10px;float: left;}
.login-form ul li input[type=checkbox]:not(old){position:absolute;width:13px;height:13px;margin: 0;padding: 0;font-size : 1em;pacity: 0; cursor:pointer; display:none; left:3px; top:22px;}
.login-form ul li input[type=checkbox]:not(old) + label{ display: inline-block;line-height: 1.5em;float:left; width:100%;/*color:#292929;*/ font-size:14px;margin-top:8px; font-family: 'Gotham-Book';}
.login-form ul li input[type=checkbox]:not(old) + label > span{display: inline-block;width: 15px;height: 15px;margin: -4px 10px 0 0; vertical-align   : middle;border:1px solid #324d44; position:relative; background:#29473d;}
.login-form ul li input[type=checkbox]:not(old):checked + label > span:before{content: '';display: inline-block; text-align: center; font-weight: bold; cursor:pointer;background:#9eaaa6; height:9px; width:9px; position:absolute;top:2px; left:2px;}
.login-form ul li.chek label {font-size: 14px;line-height: 15px;}
/*rec*/
.login-white-bg.rec{ padding:54px 50px;}
.login-white-bg.rec p { padding: 40px 0;color: #fff;font-family: 'Gotham-Book';font-size: 18px;line-height: 28px;}
.login-form.r-mail ul li { margin-bottom: 30px;}
.login-form.r-mail ul li:last-child{ margin-bottom: 0;}
.login-white-bg.nueva p{ padding: 10px 0 30px 0;color: #fff;font-family: 'Gotham-Book';font-size: 18px;line-height: 28px;}
.login-form.repetir ul li{ margin-bottom:26px;}
.login-form.repetir ul li:last-child{ margin-bottom:0;}
.login-form.repetir input[type="submit"]{ background: none; color: #fff; padding: 10px 31px; cursor:pointer; border: solid 2px #9eaaa6; font-family: 'Gotham-Bold'; float:none;font-size:14px; text-transform:uppercase; width:326px; height:45px; letter-spacing:1px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.login-form.repetir input[type="submit"]:hover{ background:#29473d;}
.login-form.invitados p {text-align: left;color: #fff;padding: 10px 0 20px 0; font-family: 'Gotham-Bold'; float:left; width:100%;}
.login-form.invitados p.crea{ text-align:center; padding-bottom:15px;}

.login-form ul li.lg-error { color:#fff; font-family: 'Gotham-Book'; font-size:16px; padding:25px 28px; border-left:2px solid #8a2626; background: #292b2a url(../images/alert-triangle.svg) no-repeat 30px 18px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.login-form ul li.lg-error span {float: right; cursor:pointer;}
/*soci*/
.inner-form {float: left;width: 486px;margin-top: 10px;}
.inner-form ul li{ width:100%; float:left; margin-bottom:20px;}
.inner-form ul li label{ float: left;padding-bottom: 5px;color: #383838;font-size: 16px;width: 100%;text-align: left;font-family: 'Gotham-Book'; position:relative;}
.inner-form ul li input[type="text"], .inner-form ul li input[type="number"], .inner-form ul li input[type="email"] {float: left;width: 100%; border: none;padding: 13px 15px;font-size: 16px;color: #383838;background: #fff;font-family: 'Gotham-Light';}
.inner-form ul li ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #383838;
}
.inner-form ul li ::-moz-placeholder { /* Firefox 19+ */
  color: #383838;
}
.inner-form ul li :-ms-input-placeholder { /* IE 10+ */
  color: #383838;
}
.inner-form ul li :-moz-placeholder { /* Firefox 18- */
  color: #383838;
}
.inner-form ul li .due input[type="text"], .inner-form ul li .due input[type="number"]{ width:32%; float:left; margin-right:2%;}
.inner-form ul li .due input[type="text"]:last-child, .inner-form ul li .due input[type="number"]:last-child { margin-right:0;}
.inner-form ul li input[type="submit"], .inner-form ul li input[type="button"]:not(.qtyminuss):not(.qtyminus):not(.qtyplus):not(.qtypluss) {background: #29473d;color: #fff;padding: 10px 31px;cursor: pointer;border: solid 2px #29473d;font-family: 'Gotham-Bold';
letter-spacing: 1px;float: none;font-size: 14px;text-transform: uppercase;width: 323px; height: 41px;transition: all .5s ease;-moz-transition: all .5s ease;
-webkit-transition: all .5s ease;-o-transition: all .5s ease;     margin: 20px auto 0;display: inherit;}
.inner-form ul li input[type="submit"]:hover, .inner-form ul li input[type="button"]:not(.qtyminuss):not(.qtypluss):hover { background: #fff;border: 2px solid #3b554c;color: #3b554c;}
.inner-form h2 {font-size: 20px;line-height: 22px;font-family: 'Gotham-Bold';color: #29473d;margin-bottom: 20px;}

.inner-form p{ color:#474747; font-size: 17px; line-height:24px;width: 100%;text-align: left;font-family: 'Gotham-Book'; float:left;}
.inner-form ul.fecha {float: left;margin: 30px 0;}
.inner-form ul.fecha li{ color: #363636;background: #fff;padding: 14px 20px;border-bottom: 2px solid #f5f5f5;margin-bottom: 0;}
.inner-form ul.fecha.exito li{ color:#716f70;}
.inner-form ul.fecha li.jug {padding-left: 65px;text-transform: uppercase;font-family: 'Gotham-Book';font-size: 17px;}
.inner-form ul.fecha li.full-txt{ font-family: 'Gotham-Book'; color:#363636; text-transform: uppercase; font-size:17px; padding-left: 60px;}
.full-sec{ width:100%; float:left;}
.full-sec p{color:#474747; font-size: 17px; line-height:24px;width: 100%;text-align: left;font-family: 'Gotham-Book'; float:left; margin-bottom:5px;}
.full-sec p span{font-family: 'Gotham-Bold'; color:#373737;}
.inner-form ul li {width: 100%;float: left;margin-bottom: 20px; font-family: 'Gotham-Bold'; color:#6f6d6e; font-size:18px;}
.inner-form ul li span:not(.player-pos){ float:right; font-family: 'Gotham-Book'; color: #474747;}
.inner-form.volver {margin-top: 0;}
.image-upload>input {display: none;}
.edit{ position: absolute;left: 70px;top: 10px;}
.image-upload {float: left;width: 100%;margin-top: 10px;}
.image-upload > label {cursor: pointer;}

.inner-form ul.fecha.resumen {margin-top: 0;}
.inner-form.modificar{ margin-top:30px;}
.inner-form.modificar ul li{ padding:0;}
.inner-form.modificar ul li input[type="submit"]{ margin-top:8px; float:left;}
.inner-form ul.fecha.resumen li.lft {padding-left: 100px; color:#706e6f; font-size: 16px;}
.inner-form ul.fecha.resumen li.tot{ background:none; border-bottom:none; border-top: 1px solid #c0bebf;}
.inner-form ul.fecha li strong {float: right;font-weight: normal;font-family: 'Gotham-Bold';}
.e-tit{color:#373737; font-family: 'Gotham-Book'; text-align: left; font-size:16px; line-height:24px; float:left; width:100%; margin-bottom:10px;}
.inner-form ul.reservas-lst {float: left;width: 100%;}
.inner-form ul.reservas-lst li{float: left;width: 100%;background: #29473d;margin-bottom: 10px;padding: 7px 8px 5px 8px;}
.inner-form ul.reservas-lst li:last-child{ margin-bottom:0;}
.inner-form ul.reservas-lst li .noti-img {float: left;width: 56px;margin-right: 14px;}
.inner-form ul.reservas-lst li .noti-cnt {float: left;width: calc(100% - 70px);position: relative;}
.inner-form ul.reservas-lst li .noti-cnt h1 {font-size: 18px;font-family: 'Gotham-Bold';line-height: 22px;color: #fff;margin: 5px 0 4px 0;}
.inner-form ul.reservas-lst li .noti-cnt p {color: #fff;font-size: 14px;}
.inner-form ul.reservas-lst li .noti-cnt span {position: absolute;right: 0;top: 0;font-size: 14px;color: #fff;font-family: 'Gotham-BookItalic';}
.inner-form.res {margin-top: 5px;}
.inner-form.res h3 {font-size: 18px;line-height: 22px;font-family: 'Gotham-Book'; color: #383838;margin: 18px 0;float: left;width: 100%; position:relative; text-align:center;}
.inner-form.res h3:after{position: absolute;content: "";background: #e7e4dd;width: 100%;height: 1px;top: 50%;left: 0;z-index: 99;}
.inner-form.res h3 span {background: #f5f5f5;padding: 10px;z-index: 999999999;position: relative;}
.visa{ width:300px; background:#fff; float:left; padding:16px; margin-bottom: 20px;}
.visa ul li{ width:100%; float:left; margin-bottom:15px; color:#383838; font-family: 'Gotham-Light'; font-size:16px; line-height:24px;}
.visa ul li span{ float:right;}
.visa ul li:last-child{ margin-bottom:0;}

.visa ul li input[type="text"] {background: none;border: none;width: 50px; margin-right: 15px;}
.inner-form.nom ul li label{ font-family: 'Gotham-Bold';}
.inner-form.nom ul li input[type="text"], .inner-form.nom ul li input[type="password"] {float: left;width: 100%;border: none;padding: 13px 15px;font-size: 16px;color: #383838;background: #fff;font-family: 'Gotham-Book';}

#myform {position: relative;float: left;width: 100%;}
.qtyminus {position: absolute;right: 10px;bottom: 6px; border: none; padding:0; background: url(../images/increase.svg) no-repeat 0 -21px; width:8px; height:6px; cursor:pointer;}
.qtyplus {position: absolute;right: 10px; top: 10px; border: none;padding:0; background: url(../images/increase.svg) no-repeat 0 0; width:8px; height:6px; cursor:pointer;}
.green-fee {width: 100%;float: left; margin-bottom:15px;}
.green-fee ul{ width: 100%;float: left;}
.green-fee ul li {width: 25%;float: left; text-align:center;  position:relative;}
.green-fee ul li.active {cursor: pointer;}
/*line start*/
.green-fee ul li:after, .green-fee ul li:before {position: absolute;background: #abb6b2;height: 1px;display: block;z-index: 1;top: 15px;content: '';}
.green-fee ul li:first-child:after {width: 50% !important;left: unset;right: unset;}
.green-fee ul li:before {width: 100%;}
.green-fee ul li:after {width: 0%;left: 0;-webkit-transition: .2s linear;-o-transition: .2s linear;transition: .2s linear;}
.green-fee ul li:last-child:after, .green-fee ul li:last-child:before {width: 50% !important;left: 0;}
.green-fee ul li:first-child:after {width: 0% !important;-webkit-transition: .2s linear;-o-transition: .2s linear;transition: .2s linear;}
.green-fee ul li:first-child:after, .green-fee ul li:first-child:before {width: 50% !important;right: 0;}
/*line end*/
.green-fee ul li span{width: 33px;height: 33px;background: #d0d0d0;display: inline-flex;border-radius: 100%;align-items: center;justify-content: center;
text-align: center;float: none; color:#fff;font-family: 'Gotham-Bold'; margin-bottom:8px; font-size:16px; position:relative; z-index:9999;}
.green-fee ul li h3{ color:#d1d1d1; font-family: 'Gotham-Book'; font-size:17px; line-height:18px; width:100%; float:left; }
.green-fee-cont{ width:486px; float:left;}
.inner-form ul li .sbHolder{float: left;width: 100%;border: none;padding: 12px 15px;font-size: 16px;color: #383838;background: #fff;font-family: 'Gotham-Book';}
.inner-form ul li .sbToggle {position: absolute;content: ""; background: url(../images/check-aero.svg) no-repeat;right: 18px;top: 18px;left: auto;width: 13px;height: 7px; z-index:99;}
.inner-form ul li .numero {width: 100%;float: left;background: #fff; padding:11px; margin-bottom:10px;}
.inner-form ul li .numero:last-child{ margin-bottom:0;}
.inner-form ul li .numero span{ float:left;font-size: 16px;}
.inner-form ul li .numero .qty-available{ float:right;}
.inner-form ul li .numero .qty {width: 50px !important;padding: 2px !important;text-align: center;}
.inner-form ul li .numero .qtyminuss {float: left;width: 20px;height: 20px;background: #f5f5f5;text-align: center;border: none;border-radius: 25px;font-size: 17px;line-height: 14px;padding: 2px; cursor:pointer; color: #000; margin: 0; font-family: normal}
.inner-form ul li .numero .qtypluss {float: left;width: 20px;height: 20px;background: #f5f5f5;text-align: center;border: navajowhite;border-radius: 25px;font-size: 15px;line-height: 14px;padding: 2px; cursor:pointer; color: #000; margin: 0; font-family: normal}
.inner-form ul li h4{font-family: 'Gotham-Bold'; color: #383838; letter-spacing:1px;}
.inner-form ul li h4 strong{font-family: 'Gotham-Bold'; color: #383838; letter-spacing:1px; float:right; font-weight:normal;}
.inner-form ul li h4 span{ color:#383838; font-family: 'Gotham-Light';}
.inner-form ul li .ui-datepicker-inline span {float: none;}
.inner-form ul li table tr td, .inner-form ul li table tr th{font-family: 'Gotham-Light'; color: #494949;}

.inner-form ul li .datos {width: 100%;float: left;background: #fff;padding: 20px; margin-top:10px;}
.inner-form ul li .datos  h3{float: left; width:100%;font-family: 'Gotham-Book';color: #474747; font-size:16px; margin-bottom:10px;}
.inner-form ul li .datos  h3 span.close{ float:right; cursor:pointer;}
.inner-form ul li .datos ul li{float: left;padding-bottom: 5px;color: #383838;font-size: 16px;width: 100%;text-align: left;font-family: 'Gotham-Bold'; line-height:28px; border-bottom: 2px solid #f1f1f1; margin-bottom:15px;}
.inner-form ul li .datos ul li:last-child{ margin-bottom:0;}
.inner-form ul li .datos ul li span { display: block;color: #383838;font-size: 16px; line-height:24px; font-family: 'Gotham-Light';float: left;width: 100%;}
.green-fee ul li.active span { background: #3b554c;}
.green-fee ul li.active h3{color:#373737;}
.inner-form ul.fecha li.reser {background: none;border-bottom: none;text-align: left;float: left; padding:0;}
.inner-form ul.fecha li.reser input[type="submit"]{ float:left;}

/*pago*/
.inner-form.pago{ width:100%; float:left;}
.inner-form.pago h5{ float:left; width:100%; position:relative; margin-bottom:20px;}
.inner-form.pago h5:after {background: #d5d3d4;bottom: 0;content: "";display: block;height: 2px;left: 0;margin: auto;position: absolute;top: 0;width: 100%;}
.inner-form.pago h5 span {background: #f5f5f5;}
.inner-form.pago span {float: left;font-size: 16px; color:#383838;line-height: 22px;padding: 0 17px 0 0;position: relative;z-index: 1;font-family: 'Gotham-Bold';
text-transform: capitalize;}
.inner-form.pago h1{float: left; width:100%; font-family: 'Gotham-Bold';color: #373737; font-size:22px; margin: 20px 0 10px 0;}
.credit{ width:492px; float:left; background:#fff; padding: 0 15px; margin-bottom:10px;}
.credit ul li{ float: left;width: auto;display: flex;margin-right: 15px;min-height: 65px;align-items: center;justify-content: left;margin-bottom: 0; position:relative; color:#373737;}
.credit ul li:nth-child(2){ width:60px;}
.credit ul li:nth-child(3){ width:110px;}
.credit ul li:nth-child(2).nueva{ width:auto;}
.credit ul li:last-child{ margin-right:0;}
.inner-form.pago .credit ul li span{ padding-right:8px; font-family: 'Gotham-Light'; color: #373737; font-size:17px; line-height:22px;}
.credit ul li span{ padding-right:8px; font-family: 'Gotham-Light'; color: #373737; font-size:17px; line-height:22px;}
.credit ul li input[type=checkbox]:not(old){position:absolute;width:13px;height:13px;margin: 0;padding: 0;font-size : 1em;pacity: 0; cursor:pointer; display:none; left:3px; top:22px;}
.credit ul li input[type=checkbox]:not(old) + label{ display: inline-block;line-height: 1.5em;float:left; width:100%;color:#292929; font-size:14px;margin-top:8px; ffont-family: 'Gotham-Light';}
.credit ul li input[type=checkbox]:not(old) + label > span{display: inline-block;width: 22px;height: 22px;margin: -5px 10px 0 0; vertical-align   : middle;border:1px solid #cccccc; position:relative; background:#fff; border-radius:100%;}
.credit ul li input[type=checkbox]:not(old):checked + label > span:before{content: '';display: inline-block; text-align: center; font-weight: bold; cursor:pointer;background:#29473d; height:12px; width:12px;  position:absolute;top:4px; left:4px; border-radius: 100%;}
.credit ul li.nueva{font-family: 'Gotham-Light'; color: #373737;}
.inner-form ul.fecha li.reser.con input[type="submit"] {margin-top: 5px; float:left;}
p.horas {color: #29473d;float: left;margin: 10px 0;}
p.horas br{ display:none;}

.tu {width: 100%;float: left;margin: 10px 0 20px 0;color: #363636;font-size: 42px;letter-spacing: 1px; font-family: 'Gotham-Book';}
.inner-form ul.button li {width: auto;float: left;display: inline-block; margin-right:15px; margin-bottom:0;}
.inner-form ul.button{ width:100%; float:left; margin-bottom: 30px;}
.inner-form ul.button li input[type="text"]{ width:150px; text-align:center; font-size:18px; padding: 11px 13px; font-family: 'Gotham-Book'; color:#373737;}
.inner-form ul.button li ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #373737;
}
.inner-form ul.button li ::-moz-placeholder { /* Firefox 19+ */
  color: #373737;
}
.inner-form ul.button li :-ms-input-placeholder { /* IE 10+ */
  color: #373737;
}
.inner-form ul.button li :-moz-placeholder { /* Firefox 18- */
  color: #373737;
}
.inner-form ul.button li input[type="submit"], .inner-form ul.button li input[type="button"]{ float:left; width:184px; margin-top:0;}
.anadir {width: 100%;float: left;display:none;}
.anadir h2{ margin-bottom:10px;}
.anadir p{ margin-bottom:20px;}
.inner-form ul.fecha.top-0 {margin: 0;}
.inner-form ul.fecha.top-0 li input[type="submit"]{ margin:0;}
.inner-form ul.fecha.resumen.m-b {margin-bottom: 14px;}
/*wallet*/
.wallet.ultimos {width: 100%;margin-left: 0;float: left; margin-top:30px;}
.wallet.ultimos ul li .walle-rgt{float: right;width: auto;text-align: right;}
.wallet.ultimos ul li .walle-lft h2 {font-size: 16px;}

.inner-form ul li.volver {background: none;float: left;padding: 0; margin-top:10px;}
.inner-form ul li.volver input[type="submit"]{ float:left;}
.inner-form.wall p { margin: 0;}

.inner-form.tar {width: 100%;float: left; margin-top:5px;}
.anadir.tarjeta {float: left;display: block;width: 100%;margin-top: 15px;}
.anadir.tarjeta .credit{ width:100%; float:left;}
.anadir.tarjeta .credit ul li{ margin-right:40px;}
.anadir.tarjeta .credit ul li:nth-child(2){ width:60px;}
.anadir.tarjeta .credit ul li:nth-child(3){ width:110px;}
.anadir.tarjeta .credit ul li:last-child{ float:right; margin-right:0;}
/*  soci-dade-ok page */
.soci-dades { float:left; width:100%; margin-top:17px;}
.soci-dades h2{font-size:20px; line-height:22px;  font-family: 'Gotham-Bold'; color:#29473d; margin-bottom:30px;}
.soci-dades h2 br{ display:none;}
.soci-dades p{font-size:18px; line-height:24px; font-family: 'Gotham-Book'; color:#29473d; margin-bottom:30px;}

.soci-dades input[type="submit"]{ background: #29473d; color: #fff; padding: 12px 30px; cursor:pointer; border:2px solid #29473d;font-family: 'Gotham-Bold'; letter-spacing:1px; float:none;font-size:14px; text-transform:uppercase; width:320px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.soci-dades input[type="submit"]:hover{ background:none; color:#29473d;}

.pass-form { float:left; width:392px;}
.pass-form ul li{ float:left; width:100%; margin-bottom:20px;}
.pass-form ul li label {float: left;padding-bottom: 5px;color: #373737;font-size: 16px;font-family: 'Gotham-Bold';width: 100%;text-align: left;}
.pass-form ul li:last-child{ margin-bottom:0;}
.pass-form input[type="password"]{ float:left; width:100%; border:none; padding:0 15px; height:45px; line-height:45px; font-size:15px; color:#363636; background: #fff;font-family: 'Gotham-Light';}
.pass-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #363636; font-size:22px; line-height:50px;
}
.pass-form ::-moz-placeholder { /* Firefox 19+ */
  color: #363636;font-size:22px; line-height:50px;
}
.pass-form :-ms-input-placeholder { /* IE 10+ */
  color: #363636;font-size:22px; line-height:50px;
}
.pass-form :-moz-placeholder { /* Firefox 18- */
  color: #363636;font-size:22px; line-height:50px;
}
/*style1*/
.side-bar{float:left; width:340px; position:fixed; left:0; top:0; height:100%; background:#29473d; padding:22px 40px; z-index:999; overflow: auto;}
.side-bar .logo{float:left; width:100%; border-bottom:1px solid #4b655c; padding-bottom:15px;}
.side-bar .logo img{float:left; width:80px;}
.nav{float:left; width:100%; padding-top:30px;}
.nav ul li{float:left; width:100%; margin-bottom:23px; padding:5px 0;}
.nav ul li a{float:left; width:auto; padding-left:46px; color:#fff; font-size:18px; font-family: 'Gotham-Light'; line-height:22px;}
.nav ul li.green-fee{background:url(../images/left-menu-icon-green-fee.svg) no-repeat left center;}
.nav ul li.camp-de{background:url(../images/left-menu-icon-practice.svg) no-repeat left center;}
.nav ul li.restaurante{background:url(../images/left-menu-icon-restaurant.svg) no-repeat left center;}
.nav ul li.wallet{background:url(../images/left-menu-icon-wallet.svg) no-repeat left center;}
.nav ul li.mi-rese{background:url(../images/left-menu-icon-reservas.svg) no-repeat left center;}
.nav ul li.noti{background:url(../images/left-menu-icon-notifications-active.svg) no-repeat left center;}
.nav ul li.comuni{background:url(../images/left-menu-icon-comunication.svg) no-repeat left center;}
.nav ul li.Salir{background:url(../images/left-menu-icon-loggout.svg) no-repeat left center;}


.nav .smk_accordion.acc_with_icon .accordion_in .acc_head{background:none;  font-size:18px; font-family: 'Gotham-Light'; line-height:22px; color:#fff;background:url(../images/left-menu-icon-user-info.svg) no-repeat left center;}
.nav .smk_accordion .accordion_in{border:none;}
.nav .smk_accordion .accordion_in .acc_content{float:left; width:100%; background:none;}
.nav .smk_accordion .accordion_in .acc_content  ul li.dato-de{background:url(../images/left-menu-icon-folder.svg) no-repeat left center;}
.nav .smk_accordion .accordion_in .acc_content  ul li.privacy{background:url(../images/left-menu-icon-privacity.svg) no-repeat left center;}
.nav ul li.mi-dato{border-top: 1px solid #4b655c;}
.nav .smk_accordion .accordion_in .acc_content ul li{margin-bottom:0; margin-top:15px;}
.nav .smk_accordion .accordion_in .acc_content ul li a{padding-left:36px; font-size:16px;}

header{float:left; width:calc(100% - 340px);  padding:18px 6%; background:#fff;margin-left: 340px;}
header .profile{float:right; width:235px;}
header .profile img{float:left; margin-right:18px;}
header .profile h1{float:left; font-size:16px; font-family: 'Gotham-Bold'; line-height:18px; padding-top:5px;}
header .profile p{float:left; font-size:14px; font-family: 'Gotham-Book'; color:#454545;}
header .profile-not {float:right; width: auto; padding-top:15px;}
header .profile .profile-not img {margin-right: 0;}
.profile-det{float:left; width:80%; }
.container{ background:#f5f5f5; float:left; width:calc(100% - 340px); padding:35px 6%;margin-left: 340px;}
.container h1.m-tit{font-size:22px; line-height:24px;  font-family: 'Gotham-Bold'; color:#383838; padding-bottom:15px; border-bottom:1px solid #bdbdbd; margin-bottom:15px;}
.container ul.das-ico li{float:left; width:24.25%; margin-right:1%; background:#fff; text-align:center; min-height:193px; display: flex;display: -webkit-flex; -webkit-align-items: center;align-items: center;-webkit-justify-content: center; justify-content: center;}
.container ul.das-ico li:nth-child(4n){margin-right:0;}
.container ul.das-ico li p{ font-family: 'Gotham-Book'; color:#454545; margin-top:30px;}
.container ul.das-ico li a{float:left; width:100%;}
.container ul.das-ico{float:left; width:100%; margin-bottom:40px;}

.notifi{float:left; width:48%;}
.notifi-tit{float:left; width:100%; position:relative;}
.notifi-tit span{position:absolute; right:0; top:10px; background:#29473d; width:18px; height:18px; text-align:center; border-radius:50px; color:#fff; font-size:12px; line-height:13px; padding-top:2px; font-family: 'Gotham-Bold';}
.notifi ul li{float:left; width:100%; background:#fff; margin-bottom:10px; padding:8px 8px 5px 8px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.notifi ul li .noti-img{float:left; width:55px; margin-right:15px;}
.notifi ul li .noti-img img, .histo ul li .histo-img img {width: 100%}
.notifi ul li .noti-cnt{float:left; width:calc(100% - 70px); position:relative;}
.notifi ul li .noti-cnt h1{ font-size:16px; font-family: 'Gotham-Bold'; line-height:22px; color:#383838; margin-top:5px;}
.notifi ul li .noti-cnt p{ color:#383838; font-size:14px;}
.notifi ul li .noti-cnt span{position:absolute; right:0; top:0; font-size:14px; color:#383838; font-family: 'Gotham-BookItalic';}

.histo{float:left; width:100%; margin-top:5px;}
.histo .histo-tit h1, .chat-list .chat-date h1{text-align:center; font-family: 'Gotham-Book'; width:100px;float:none; margin:0 auto; border:none; z-index:99; position:relative; background:#f5f5f5; font-size:18px; padding-bottom:10px;}
.histo .histo-tit::after, .chat-list .chat-date::after {border-bottom: 1px solid #bdbdbd; position:absolute; content:""; left:0 ; bottom:23px; width:100%;}
.histo .histo-tit, .chat-list .chat-date{float:left; width:100%; text-align:center; position:relative;}
.histo ul li .histo-img{float:left; width:10%; margin-right:2%;}
.histo ul li .histo-cnt{float:left; width:88%; position:relative; padding-top:5px;}
.histo ul li{padding:8px 40px 8px 25px; background:#fff url(../images/arrow-hist.svg) no-repeat right 13px center;}
.histo ul li .histo-cnt h2{color: #383838; font-size: 14px; line-height:16px; float:left;}
.histo ul li .histo-cnt p{color: #383838; font-size: 14px; line-height:16px; float:right;  font-family: 'Gotham-BookItalic';}
.histo ul li a{float:left; width:100%;}

.wallet{float:left; width:50%; margin-left:2%;}
.estado-wall{float:left; width:100%; background:#29473d; padding:14px 18px; margin-bottom:9px;}
.estado-wall-lft{display:inline-block; width:51%;}
.estado-wall-rgt{display:inline-block; width:49%;}
.estado-wall-lft p{color:#fff; line-height:26px;}
.estado-wall-lft h2{color:#fff; font-size:18px; line-height:20px;}
.estado-wall h4{color:#fff}
.estado-wall-rgt a{ border:2px solid #94a39e; text-align:center; width:100%; padding:10px 0; float:left;  font-family: 'Gotham-Bold'; color:#fff;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.estado-wall-rgt a:hover{background:#fff; color:#29473d;}
.wallet ul li{float:left; width:100%; background:#fff; padding:12px 17px; margin-bottom:10px;}
.wallet ul li .walle-lft{float:left; width:50%;}
.wallet ul li .walle-rgt{float:left; width:50%; text-align:right;}
.wallet ul li .walle-lft h2{    font-size: 14px;     font-family: 'Gotham-Bold';    line-height: 22px;     color: #383838;    margin-top: 5px; margin-bottom:5px;}
.wallet ul li .walle-lft p{ font-family: 'Gotham-Book'; font-size:14px; line-height:14px; margin-bottom:5px;}
.wallet ul li .walle-rgt p{ font-size: 16px;     font-family: 'Gotham-Bold';    line-height: 22px;     color: #afb219; margin-top:10px;}
.wallet ul li .walle-rgt p.red{color:#8a2628;}

.comunica .resp-tabs-list li{float:left; width:243px; text-align:center; padding: 10px 55px 10px 55px; font-size:18px; cursor:pointer; position:relative;}
.comunica .resp-tabs-list li::after { border-bottom: 1px solid #28483d; bottom: -5px; content: ""; left: 0; position: absolute; width: 100%;}
.comunica .resp-tabs-list li.resp-tab-active{color:#28483d; border-bottom:4px solid #28483d; }
.comunica .notifi{width:100%;}
.comunica .resp-tabs-container{width:488px;}

.notifi ul li input[type="submit"] {	background: #29473d;	color: #fff;	padding: 10px 31px;	cursor: pointer;	border: solid 2px #29473d;	font-family: 'Gotham-Bold';	letter-spacing: 1px; font-size: 14px;	text-transform: uppercase;	width: 323px;	height: 41px; transition: all .5s ease;	-moz-transition: all .5s ease;	-webkit-transition: all .5s ease;	-o-transition: all .5s ease; margin:25px 0 10px 0;	display: inherit; float:left;}
.notifi ul li input[type="submit"]:hover{    background: #fff;   border: 2px solid #3b554c;   color: #3b554c;}

.chat{float:left; width:670px; background:#fff; padding:6px; margin-top:  20px}
.chat .chat-tit{float:left; width:100%; padding:15px 22px;}
.chat .chat-tit p.rg-p{float:right; font-family: 'Gotham-BookItalic';}
.chat .chat-tit p{float:left; color:#29473d;}
.chat .chat-tit p span{ font-family: 'Gotham-Bold'; display:block;}
.chat-area{float:left; width:100%; background:#f5f5f5; padding:18px;}
.chat-area ul li{float:left; width:100%; min-height:55px; padding-bottom:10px;}
.chat-area ul li.reciever{padding-left:72px; background:url(../images/reciever-icon.svg) no-repeat left top;}
.chat-area ul li.sender{padding-right:72px; background:url(../images/sender-icon.svg) no-repeat right top; float:right; text-align:right;}
.chat-area ul li.reciever p{background:#29473d; color:#fff; padding:15px; width:auto; float:left;}
.chat-area ul li.reciever span{float:left; width:100%; margin-top:15px; color:#7a7a7a; font-size:14px;}
.chat-area ul li.sender p{background:#fff; color:#7a7a7a; padding:15px; width:auto; float:right;}
.chat-area ul li.sender span{float:right; width:100%;  margin-top:15px; color:#7a7a7a; font-size:14px;}

.comunica.chat .resp-tabs-container {    width: 664px; float:left;}
.chat-send{float:left; width:100%; padding-left:15px;}
.chat-send input[type="text"]{float:left; width:calc(100% - 70px); margin-right:20px; border:none; border-bottom:1px solid #afafaf; height:45px; font-size:17px; color:#716f70; font-family: 'Gotham-Book';}
.chat-send input[type="submit"]{ background:#29473d url(../images/chat-aero.svg) no-repeat;}
.chat-send input[type="submit"] {background: #29473d url(../images/chat-aero.svg) no-repeat center center;border: none;padding: 25px;width: 50px;height: 50px;
cursor: pointer; float:right;}
.green-fee.res-pge ul li {width: 33.3%;}
.inner-form ul li.chk input[type=checkbox]:not(old){position:absolute;width:13px;height:13px;margin: 0;padding: 0;font-size : 1em;pacity: 0; cursor:pointer; display:none; left:3px; top:22px;}
.inner-form ul li.chk input[type=checkbox]:not(old) + label{ display: inline-block;line-height: 1.5em;float:left; width:100%;font-size:17px; font-family: 'Gotham-Book'; color: #474747; padding-bottom:0;}
.inner-form ul li.chk input[type=checkbox]:not(old) + label > span{display: inline-block;width: 18px;height: 18px;margin: 4px 10px 4px 0; vertical-align   : middle;border:1px solid #cccccc; position:relative; background:#fff; float:left;}
.inner-form ul li.chk input[type=checkbox]:not(old):checked + label > span:before{content: '';display: inline-block; text-align: center; font-weight: bold; cursor:pointer;background:#29473d; height:12px; width:12px; position:absolute;top:2px; left:2px;}
.inner-form ul li.chk input[type="checkbox"]:not(old) + label strong {padding-left: 0;display: inline-block;font-weight: normal;line-height: 24px; width: calc(100% - 28px);}
.ver-buton{ display: none; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.demo-y {float: left;height: 450px;padding-right: 0; width:100%;}

.salir	{ float:left; width: 100%; text-align:left; position: static; padding: 22px 35px 5px 35px; display:none;}
.salir a	{ color:#fff; font-size:16px; transition: all .5s ease;	-moz-transition: all .5s ease;	-webkit-transition: all .5s ease;	-o-transition: all .5s ease; background:url(../images/salir-aero.svg) no-repeat 0 3px; padding-left: 36px;}
.salir a:hover	{ text-decoration:underline;}
.login-form.r-mail ul li.mbl-view {display: none;}
.histo.mb {display: none;}
.green-bottom {width: 100%;float: left;background: #fff;padding: 7px; display:none; z-index:99;}
.green-bottom ul li{ width:25%; float:left; text-align:center;}
.green-bottom ul li.active h4, .green-bottom ul li:hover h4 { color:#29473d; font-family: 'Gotham-Bold'; }
.green-bottom ul li span { display: inline-block; float: none; vertical-align:top; margin-bottom: 4px; min-height:28px;}
.green-bottom ul li.green-tea-ico span { background:url(../images/green.svg) no-repeat center center; width:22px; height:22px;}
.green-bottom ul li.restaurant-ico span{ background:url(../images/restaurant.svg) no-repeat center center; width:19px; height:25px;}
.green-bottom ul li.wallet-ico span{  background:url(../images/wallet.svg) no-repeat center center; width:27px; height:27px;}
.green-bottom ul li.reservas-ico span{  background:url(../images/reservas.svg) no-repeat center center; width:28px; height:16px;}
.green-bottom ul li.home-ico span { background:url(../images/home.svg) no-repeat center center; width:24px; height:24px; }

/* .green-bottom ul li.green-tea-ico.active span, .green-bottom ul li.green-tea-ico:hover span { background:url(../images/green-active.svg) no-repeat center center;  width:22px; height:22px; }
.green-bottom ul li.restaurant-ico.active span, .green-bottom ul li.restaurant-ico:hover span { background:url(../images/restaurant-active.svg) no-repeat center center; width:19px; height:25px;}
.green-bottom ul li.wallet-ico.active span, .green-bottom ul li.wallet-ico:hover span { background:url(../images/wallet-active.svg) no-repeat center center; width:27px; height:27px;}
.green-bottom ul li.reservas-ico.active span, .green-bottom ul li.reservas-ico:hover span { background:url(../images/reservas-active.svg) no-repeat center center; width:28px; height:16px; }
.green-bottom ul li.home-ico.active span, .green-bottom ul li.home-ico:hover span { background:url(../images/home-active.svg) no-repeat center center; width:24px; height:24px; } */

.green-bottom ul li a{ width:100%; float:left; display:inline-block;}
.green-bottom ul li h4{ float:left; width:100%; font-size:14px; line-height:20px; color:#a8a8a8; font-family: 'Gotham-Book';}


.slide-menu-control {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #adadad;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1;
    outline: medium none;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
	display:none;
	float:left; width:auto;
	-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; -ms-transition: All 0.5s ease; transition: All 0.5s ease;
	
}
.side-menu.openmenu .btn.slide-menu-control {margin:15px 0 0 20px;}
.openmenu .side-bar	{ width:295px; z-index:9999999999;}
.slide-menu-control span {
    background: #1c1d22 none repeat scroll 0 0;
    border: medium none;
    display: block;
    height: 1px;
    margin-top: 5px;
    width: 26px;
}
.mob-profile	{ display: none; width:100%; text-align:center; border-bottom:1px solid #b5b1b2; padding-bottom:11px;}
.mob-profile h1	{ font-size:18px; font-family: 'Gotham-Bold';}
.mob-profile p	{ font-size:14px;}
.logo.black		{ display:none; float:left; width:86%; text-align:center;}
.logo.black img	{ float:none;}
.profile-not-mob { display:none; float:left; width: auto; padding-top:15px;}



.salir-aero	{ float:left; width: 100%; text-align:left; position: static; padding: 0 0 10px 0; display:none;}
.salir-aero a	{ transition: all .5s ease;	-moz-transition: all .5s ease;	-webkit-transition: all .5s ease;	-o-transition: all .5s ease; background:url(../images/salir-aero-close.svg) no-repeat 0 3px; padding-left: 36px;}

.tab-content { display:none; }
.tab-content.tab-open { display:block; }
.credit ul li .mb-vw {display: none;}

.notifi.history ul li .mob-noti-img { display:none;}
.notifi.history ul li .mob-noti-img img { float:left; margin-top: 5px; margin-right:38px; width:22px; height:22px;}
.notifi.history ul li .mob-noti-cnt { display:none;}
.notifi.history ul li .mob-noti-cnt span { float:right; color: #989697; line-height: 22px; margin-top: 5px;  font-size: 14px; margin-right: 15px;}
.notifi.history ul li .mob-noti-cnt img { float:right; position: relative; top: 11px;}

.pass-form ul li ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #383838;
}
.pass-form ul li ::-moz-placeholder { /* Firefox 19+ */
  color: #383838;
}
.pass-form ul li :-ms-input-placeholder { /* IE 10+ */
  color: #383838;
}
.pass-form ul li :-moz-placeholder { /* Firefox 18- */
  color: #383838;
}
.inner-form ul li.mb-view{ display:none;}
.lg-error.mbl {display: none;}

.credit ul li .main-card { width:100%; float:left;}
.credit ul li .main-card span { float:left;}
.credit ul li .mob-card { display:none;}
.credit ul li .desk-card { float:left; width:100%;}
.login-form.repetir.nue ul li label{font-family: 'Gotham-Bold';}

ul.tabs-list{ margin: 0; padding: 0;float: left; width: 100%; border-bottom:none }
ul.tabs-list li{float:left; width:243px; text-align:center; padding: 10px 55px 10px 55px; font-size:18px; cursor:pointer; position:relative;}
ul.tabs-list li::after { border-bottom: 1px solid #28483d; bottom: -5px; content: ""; left: 0; position: absolute; width: 100%;}
ul.tabs-list li.tab-active{color:#28483d; border-bottom:4px solid #28483d; }

.inner-form ul li span.calendar-advice {
    float: none;
    color: red;
    line-height:32px;
}


.notifi.reserva {
    width: 488px;
    padding: 20px 0 0;
    min-height: 315px;
    position: relative;
    top: 0;
}

.notifi.reserva .notifi {
    width: 100%;
}