@charset "utf-8";
/* CSS Document */

.ddsmoothmenu { float: left; padding:0px; text-transform:none; letter-spacing:0.2px; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;font-size:16px;font-family: 'barlowsemibold'; margin:0px 0px 0 0; margin-right:15px; }
.ddsmoothmenu ul { z-index:100; margin:0; padding:0px 0px; list-style-type: none; }
/*Top level list items*/
.ddsmoothmenu ul li { position: relative; display: inline-block; padding:0px 25px 0 0px; margin:0px; line-height: 14px; }
.ddsmoothmenu ul li:last-child{padding-right:0px;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a { display: block; color:#fff; text-decoration:none; padding:0px 0px 0px 0; position:relative; font-size: 16px;font-family: 'barlowsemibold';}
/*.ddsmoothmenu ul li a::after {
content:'';
position:absolute;
bottom:-4px;
background:#fff;
width:0px;
height:2px;
left:0px;
right:0px;
margin:0px auto;
-moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;
}*/

/*.ddsmoothmenu ul li a:hover::before, .ddsmoothmenu ul li a.active::before, .ddsmoothmenu ul li a.selected::before, .ddsmoothmenu ul li.dropdown:hover a::before { width:100%; left:0px; }*/
.ddsmoothmenu ul li a:hover::after, .ddsmoothmenu ul li a.active::after, .ddsmoothmenu ul li a.selected::after { width:100%; }
.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.active { color:#f9af02}
.ddsmoothmenu ul li.dropdown:hover a{ color:#ef7e01} 


* html .ddsmoothmenu ul li a { display: inline-block; }

/*1st sub level menu*/
.ddsmoothmenu ul li ul { position: absolute; left:0; display: none; visibility: hidden; padding:0px 0 0; width:255px; left:-15px!important; margin-top:20px; -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); float:left; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px;  background:#fff;}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li { float: none; width:100%; padding:0px 20px; margin:0; border-right:0px; text-align:left; border-bottom:1px solid #ebebeb; }
/* .ddsmoothmenu ul li ul li:hover { background:#B05AA5; } */

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul { top: 0;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a { display:block; padding:18px 0px; color:#000!important; line-height:14px; font-size:14px; font-family: 'HelveticaNeue-Bold'; text-transform:none;}
.ddsmoothmenu ul li ul li:first-child a{}
.ddsmoothmenu ul li ul li:last-child { border-bottom:none;}

.ddsmoothmenu ul li ul li a:hover { color:#80b24f !important;  text-decoration:none; margin: 0px 0px 0px 0px;}
.ddsmoothmenu ul li ul li a:after, .ddsmoothmenu ul li ul li a:before { display:none }

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; } /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass { position: absolute; top: 12px; right: 7px; }
.rightarrowclass { position: absolute; top: 6px; right: 5px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { /*shadow for NON CSS3 capable browsers*/ position: absolute; left: 0; top: 0; width: 0; height: 0; }
.toplevelshadow { /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/ opacity: 0.8; }


.ddsmoothmenu ul li ul li a::after, .ddsmoothmenu ul li ul li a:hover:after { display:none }
.sticky-wrapper.is-sticky .ddsmoothmenu ul li ul li:first-child a:before { display:none; }

/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 #container {width: 80%; max-width: 800px; margin: 0 auto;}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0; overflow:hidden;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; width:100%; display:block; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; z-index: 99999;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; z-index:0; min-height:400px; }
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative; background-size:cover; min-height:400px; background-position:center center;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
.flexslider .slides > li img { /*opacity:0;*/}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none;zoom: 1; }
.flex-caption {position:absolute; top:15%;  text-align:left; width:auto;}
.flex-caption img{width:auto !important;}
.flex-caption h1 { color:#fff; font-size:80px; font-family: 'barlow_condensedblack'; text-transform:uppercase; line-height:65px; margin-bottom:0px; z-index:9999; position:relative;  letter-spacing:1px; text-shadow: 1px 1px 5px #595959;}
.flex-caption h1 span{background:#f6a201; width:12px; height:12px; border-radius:25px; display:inline-block;  margin-left:5px; }
.flex-caption p{  font-size:18px; line-height:20px; color:#fff;  font-family: 'barlowitalic'; margin-bottom:53px; letter-spacing:0.4px;}
.flex-caption p.div-br{text-align:center; width:400px;  font-family: 'barlowitalic'; font-size:18px; position:relative; z-index:99; margin-bottom:0;}
.flex-caption p.div-br::before{position:absolute; content:""; width:45%; left:0; top:10px; height:1px; background:#fff;}
.flex-caption p.div-br::after{position:absolute; content:""; width:45%; right:0; top:10px; height:1px; background:#fff;}
.flex-caption p.div-br span::after{content:""; position:absolute; width:98px; height:98px; border-radius:50px; background:rgba(240, 210, 26, 0.7); display:block; margin:0 auto; text-align:center; bottom:-40px; left:0; right:0; z-index:-1;}
.flex-caption p.div-br span{}
.flex-caption h2{ font-family: 'barlow_condensedmedium'; font-size:80px; letter-spacing:1px; line-height:70px; color:#fff; text-transform:uppercase; z-index:9999; position:relative; margin-bottom:30px; margin-top:8px; text-shadow:1px 1px 5px #595959;}
.flex-caption a{ font-family: 'barlowmedium'; font-size:16px; line-height:16px; text-transform:uppercase; color:#fff;  padding:17px 70px; background:#e54d1b;
border-radius:5px;   transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; float:left;}
.flex-caption a:hover{background:#68ac19;}
/* Direction Nav */
.flex-direction-nav { display:block; }
.banner-home .flex-direction-nav li a {width:26px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 47%; cursor: pointer; text-indent: -9999px; z-index:9999;}
.banner-home .flex-direction-nav li a:hover{ opacity:0.7}
.banner-home .flex-direction-nav li .flex-next {background-position: -25px 0; right:5%;background: url(../images/arrow-right.png) no-repeat 0 0; background-position: 0px 0; }
.banner-home .flex-direction-nav li .flex-prev {left:5%; background: url(../images/arrow-left.png) no-repeat 0 0; background-position: 0px 0; }
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.inner-banner-pad .flex-direction-nav li a {width:27px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; }
/* Control Nav */
.flex-control-nav {width:auto; margin:0 auto; position: absolute; bottom: 40%; z-index:9999; text-align: right; right:50px; left:auto;}
.flex-control-nav li {margin: 0 0px 15px 0px; display:block; zoom: 1; *display: inline;}
/*.flex-control-nav li:first-child {margin: 0;}*/
.flex-control-nav li a {width: 11px; height: 11px; display: block; background:none; border:2px solid #fff; cursor: pointer; text-indent: 9999px; border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -moz-border-radius:50%; }
.flex-control-nav li a:hover {background:#fff}
.flex-control-nav li a.flex-active {background:#fff; cursor: default;}

.flex-btn{background:#b98b57; color:#fff;padding:10px 45px; border-radius:3px; line-height:60px;font-family: 'PT Sans Narrow', sans-serif; }


.banner-pad .flexslider .flex-control-nav { display:block; }

/*.flexslider .slides > li::before{
background: rgba(0,0,0,0.4);
background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.4)), color-stop(50%, rgba(231,56,39,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=1 );

content:""; position:absolute; left:0; top:0; width:100%; height:100%;
}*/

/* Direction Nav */
.flex-direction-nav { display:block; }
.flex-direction-nav li a {width:18px; height:32px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; z-index:9999; }
.flex-direction-nav li .flex-next {background-position: -25px 0; right:20px;background: url(../images/arrow-rgt.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-next:hover {background: url(../images/arrw-rgt.png) no-repeat 0 0;}*/
.flex-direction-nav li .flex-prev {left:20px; background: url(../images/arrow-lft.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-prev:hover {left:20px; background: url(../images/arrw-lft.png) no-repeat 0 0;}*/
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}








/*=============================thumbnail css =================================*/

.flex-pauseplay a {  display: block;  width: 20px;  height: 20px;  position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10;
    overflow: hidden;  cursor: pointer; color: #000; }
  .flex-pauseplay a:before { font-family: "flexslider-icon";  font-size: 20px;  display: inline-block; content: '\F004'; }
  .flex-pauseplay a:hover { opacity: 1; }
  
  .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
  }
  .flex-control-thumbs {
    margin: 50px 0 0; text-align: center;
    position: static;
    overflow: hidden;
  }
  .flexslider.centro .flex-control-thumbs li {
    width: 27%;
    float: none; display: inline-block;
    margin: 0 3% 25px;
  }

  .flexslider.centro .flex-control-thumbs li:nth-child(3n) { margin-right: 0;}

  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .flex-control-thumbs img:hover {
    opacity: 1;
  }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
  }@CHARSET "UTF-8";
.sbHolder {  padding: 0px 15px 0 0; position: relative; width: 100%; float:left; font-size:16px; color:#fff; line-height:24px;  font-family: 'barlowregular';}
.sbSelector { display: block; left: 0; outline: none; overflow: hidden; position: relative; text-indent: 0px; top: 0; color:#fff; }
.sbSelector:link, .sbSelector:visited, .sbSelector:hover { /*color: #8f8787;*/outline: none; text-decoration: none; }
.sbToggle { background: url(../images/select-arrw.png) no-repeat 0 0; display: block; height:6px; outline: none; position: absolute; right:0px; top: 10px; width: 10px; }
/*.sbHolder:hover .sbToggle {
   background-position: 0 -22px;
}*/


.sbHolder:hover .sbToggle { }
/*.sbToggleOpen{
	background: url(../images/select-arr.png) no-repeat left top; 
}

.sbHolder:hover .sbToggleOpen { background-position: 0 0px;}*/
/*.sbToggleOpen:hover{
	background: url(../images/select_arrow_close.jpg) top right no-repeat;
}*/
.sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }
.sbHolderDisabled .sbHolder { }
.sbHolderDisabled .sbToggle { }
.sbOptions { list-style: none; right: 0px; margin: 0; padding: 0; position: absolute; top: 42px; max-height: none; width:60px !important;
z-index: 99999; /*overflow-y: auto;*/width:100%; background:#fff; }
.sbHolder .sbOptions li { width: 100%; padding: 0px; background:none;  border-bottom:1px solid #d7d7d7;  margin:0; line-height:30px; text-align:right; }
.sbHolder .sbOptions li:last-child { border-bottom:none;  }
.sbOptions a { display: block; outline: none; padding: 2px 15px; color: #00; font-size:13px; line-height:22px; }
.sbHolder ul.sbOptions {-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); float:left;}
/*.sbOptions a:link, .sbOptions a:visited{
	color: #909090;
	text-decoration: none;
}*/

.sbOptions a:focus, .sbOptions a.sbFocus { color: #f9af02;  }
.sbOptions li.last a { border-bottom: none; }
.sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 5px 0 5px 3px; }
.sbOptions .sbGroup { /*border-bottom: dotted 1px #515151;*/
	padding: 0px 4%; color: #2b2c2e; display: block; font-weight: bold; }
.sbOptions .sbSub { padding-left: 33px !important; }

header .lang_select .sbSelector {text-overflow: clip; width:32px; white-space: nowrap; letter-spacing: 0.3px;}
header .lang_select .sbSelector:hover { color:#f9af02;}

header .lang_select .selet-lang .sbSelector{ width:25px;}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
	border-radius:10px;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	border-radius: 10px;
			padding:0 !important;
			border-radius:10px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
	border-radius:10px;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background: url(../images/close-icon.png) no-repeat;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-image: url('../images/fancybox_sprite.png');
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 15px;
	right: 25px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	z-index: 8040;
	display:block;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 99999;
	background: rgba(0,0,0,0.5);
	
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
} /*  jQuery.mmenu CSS  */
/*  jQuery.mmenu panels CSS  */

.mm-menu.mm-horizontal > .mm-panel { -webkit-transition: -webkit-transform 0.4s ease; transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; transition: transform 0.4s ease, -webkit-transform 0.4s ease; } 
.mm-menu .mm-hidden { display: none; } 
.mm-wrapper { overflow-x: hidden; position: relative; }
.mm-menu, .mm-menu > .mm-panel { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 0; } 
.mm-menu { background: inherit; display: block; overflow: hidden; padding: 0; } 
.mm-menu > .mm-panel { background: inherit; -webkit-overflow-scrolling: touch; overflow: scroll; overflow-x: hidden; overflow-y: auto; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px;
		-webkit-transform: translate(100%, 0); transform: translate(100%, 0); } 
.mm-menu > .mm-panel.mm-opened { border-radius:0px; khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; -webkit-transform: translate(0%, 0); transform: translate(0%, 0); } 
.mm-menu > .mm-panel.mm-subopened { border-radius:0px; khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; -webkit-transform: translate(-30%, 0); transform: translate(-30%, 0); }
.mm-menu > .mm-panel.mm-highest { z-index: 1; } 
.mm-menu .mm-list { padding:0px 15px 0; } 
.mm-menu > .mm-list:after { content: ''; display: block; /*height: 40px;*/ } 
.mm-panel > .mm-list { margin-left: -20px; margin-right: -20px; } 
.mm-panel > .mm-list:first-child { padding-top: 0; } 
.mm-list, .mm-list > li { list-style: none; display: block; padding: 0; margin:0; border-bottom:1px solid #e6e6e6; } 
.mm-list { font: inherit; font-size: 16px; } 
.mm-list a, .mm-list a:hover { text-decoration: none; } 
.mm-list > li { position: relative; } 
.mm-list > li > a, .mm-list > li > span { text-overflow: ellipsis; overflow: hidden; color: inherit; line-height:22px; display: block; padding:0 10px; margin: 0; font-size:13px; } 
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after { content: ''; display: block; width: 100%; position: absolute; bottom: 0; left: 0; } 
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after { width: auto; margin-left:0px; position: relative; left: auto; } 
.mm-list a.mm-subopen { background:#222; border-left:1px solid #222 ; width:40px; height: 100%; padding: 0; position: absolute; right: 0; top: 0; z-index: 2; } 
.mm-list a.mm-subopen:before { content: ''; display: block; height: 100%; position: absolute; left: 0; top: 0; } 
.mm-list a.mm-subopen.mm-fullsubopen { width: 100%; } 
.mm-list a.mm-subopen.mm-fullsubopen:before { border-left: none; } 
.mm-list a.mm-subopen + a, .mm-list a.mm-subopen + span {  } 
.mm-list > li.mm-selected > a.mm-subopen { background: transparent; border-left:1px solid #222; } 
.mm-list > li.mm-selected > a.mm-fullsubopen + a, .mm-list > li.mm-selected > a.mm-fullsubopen + span { padding-right: 45px; margin-right: 0; } 
.mm-list a.mm-subclose { ext-indent: 20px; padding-top:0; margin-top:0px; } 
.mm-list > li.mm-label { text-overflow: ellipsis; overflow: hidden; font-size: 10px; text-transform: uppercase; text-indent: 20px; line-height: 25px; padding-right: 5px; } 
.mm-list > li.mm-spacer { padding-top: 40px; } 
.mm-list > li.mm-spacer.mm-label { padding-top: 25px; } 
.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before { content: ''; border:1px solid transparent; display: inline-block; width:8px; height:8px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-bottom:-5px; position:absolute; bottom:50%; } 
.mm-list a.mm-subopen:after { border-top: none;  border-left: none; right: 18px; } 
.mm-list a.mm-subclose:before { border-right: none; border-bottom: none; margin-bottom: -4px; left: 20px; border-width:2px; }  
.mm-menu.mm-vertical .mm-list .mm-panel { display: none; padding: 10px 0 10px 10px; } 
.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after { border-color: transparent; } 
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel { display: block; } 
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen { height: 40px; } 
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after { top: 16px; bottom: auto; } 
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen { height: 25px; }  
html.mm-opened .mm-page { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }  
.mm-menu { background:#fff; color:#ffffff; } 
.mm-menu .mm-list > li:after { border-color: rgba(0, 0, 0, 0.15); } 
.mm-menu .mm-list > li.mm-subtitle { background:#222;  color:#ffffff; } 
.mm-menu .mm-list > li > a.mm-subclose { background:#222; color:#ffffff;  font-weight:400; text-transform:uppercase; padding:8px 20px 8px 45px; } 
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before { border-color: rgba(255, 255, 255, 1); } 
.mm-menu .mm-list > li > a.mm-subclose:before { border-color:#fff; } 
.mm-menu .mm-list > li > a.mm-subopen:before { } 
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span { background: #222; color:#fff } 
.mm-menu .mm-list > li.mm-label { background: rgba(255, 255, 255, 0.05); } 
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen, .mm-menu.mm-vertical .mm-list li.mm-opened > ul { background: rgba(255, 255, 255, 0.05); }  

.mm-list.mm-highest > li { list-style: none; display: block; padding:0px; margin:0px; background:none; border-radius:0px;khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; } 
.mm-list.mm-highest > li > a { display:block; border-radius:0px;khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px }
.mm-list.mm-highest > li > a:hover {  }
.mm-list.mm-highest > li > a.mm-subclose, .mm-list.mm-highest > li > a.mm-subclose:hover { font-size:15px; font-weight:400; line-height:40px; padding:0 0 0 40px; border-bottom:0 none; }

.mm-list > li > a { padding:8px 15px 8px 15px; color:#000; font-size:15x;text-transform:uppercase; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;font-family: 'barlowregular';}
.mm-list > li > a.selected{ background:#222; color:#fff }
.mm-list > li > a:hover, .mm-list > li > a.active { background:#222; color:#fff}
.mm-list > li > a:hover span{color:#ffffff;}
.mm-list > li > a span { display:inline-block; padding-left:5px; color:#5c5c5c; font-weight:400; line-height:20px; text-transform:uppercase; }
.mm-list a.mm-subopen:hover { /*background:#f1ae0d; border-left: solid 1px #f1ae0d ;*/ }

/*
jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
position: relative;
overflow:hidden;}

.mm-slideout {
-webkit-transition: -webkit-transform 0.4s ease;
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

html.mm-opened {
overflow: hidden;
position: relative; }
html.mm-opened body {
overflow: hidden; }

html.mm-background .mm-page {
background: inherit; }

#mm-blocker {
background: rgba(3, 2, 1, 0);
display: none;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
display: block; }

.mm-menu.mm-offcanvas {
display: none;
position: fixed; }
.mm-menu.mm-current {
display: block; }

.mm-menu {
width:100%;
min-width: 150px;
max-width:265px; }

html.mm-opening .mm-slideout {
-webkit-transform: translate(80%, 0);
transform: translate(80%, 0); }

@media all and (max-width: 175px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(120px, 0);
transform: translate(120px, 0); } }
@media all and (min-width: 550px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(265px, 0);
transform: translate(265px, 0); } }
@media all and (max-width: 550px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(265px, 0);
transform: translate(265px, 0); } }
/*
jQuery.mmenu buttonbars addon CSS
*/
.mm-buttonbar {
border: 1px solid transparent;
border-radius: 5px;
text-align: center;
line-height: 20px;
overflow: hidden;
display: block;
padding: 0;
margin: 0;
position: relative; }
.mm-buttonbar:after {
content: '';
display: block;
clear: both; }
.mm-buttonbar > * {
border-left: 1px solid transparent;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: block;
width: 100%;
height: 100%;
float: left;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; }
.mm-buttonbar > a {
text-decoration: none; }
.mm-buttonbar > input {
position: absolute;
left: -1000px;
top: -1000px; }
.mm-buttonbar > input:checked + label {
border-color: transparent  !important; }
.mm-buttonbar > *:first-child,
.mm-buttonbar > input:first-child + * {
border-left: none; }
.mm-buttonbar.mm-buttonbar-2 > * {
width: 50%; }
.mm-buttonbar.mm-buttonbar-3 > * {
width: 33.33%; }
.mm-buttonbar.mm-buttonbar-4 > * {
width: 25%; }
.mm-buttonbar.mm-buttonbar-5 > * {
width: 20%; }

.mm-header .mm-buttonbar {
margin-top: 20px;
margin-left: -30px;
margin-right: -30px; }

.mm-footer .mm-buttonbar {
border: none;
border-radius: none;
line-height: 40px;
margin: -10px -10px 0 -20px; }
.mm-footer .mm-buttonbar > * {
border-left: none; }

.mm-list > li > .mm-buttonbar {
margin: 10px 20px; }

.mm-menu .mm-buttonbar {
border-color: rgba(255, 255, 255, 0.6);
background: #333333; }
.mm-menu .mm-buttonbar > * {
border-color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-buttonbar > input:checked + label {
background: rgba(255, 255, 255, 0.6);
color: #333333; }

/*  jQuery.mmenu counters addon CSS  */
em.mm-counter {
font: inherit;
font-size: 14px;
font-style: normal;
text-indent: 0;
line-height: 20px;
display: block;
margin-top: -10px;
position: absolute;
right: 40px;
top: 50%; }
em.mm-counter + a.mm-subopen {
padding-left: 40px; }
em.mm-counter + a.mm-subopen + a,
em.mm-counter + a.mm-subopen + span {
margin-right: 80px; }
em.mm-counter + a.mm-fullsubopen {
padding-left: 0; }

.mm-vertical em.mm-counter {
top: 12px;
margin-top: 0; }

.mm-nosubresults > em.mm-counter {
display: none; }

.mm-menu em.mm-counter {
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
-webkit-transition-duration: 0s;
transition-duration: 0s; }

/*
jQuery.mmenu footer addon CSS
*/
.mm-footer {
background: inherit;
border-top: 1px solid transparent;
text-align: center;
line-height: 20px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
width: 100%;
height: 40px;
padding: 10px 10px 0 20px;
position: absolute;
z-index: 2;
bottom: 0;
left: 0; }

.mm-menu.mm-hasfooter > .mm-panel:after {
height: 80px; }

.mm-menu .mm-footer {
border-color: rgba(0, 0, 0, 0.15);
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu header addon CSS
*/
.mm-header {
background: inherit;
border-bottom: 1px solid transparent;
text-align: center;
line-height: 20px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
width: 100%;
height: 60px;
padding: 0 50px;
position: absolute;
z-index: 2;
top: 0;
left: 0; }
.mm-header .mm-title,
.mm-header .mm-prev,
.mm-header .mm-next,
.mm-header .mm-close {
padding-top: 30px; }
.mm-header .mm-title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: inline-block;
width: 100%;
position: relative; }
.mm-header .mm-prev,
.mm-header .mm-next,
.mm-header .mm-close {
text-decoration: none;
display: block;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
min-width: 10px;
height: 100%;
position: absolute;
top: 0;
z-index: 1; }
.mm-header .mm-prev {
padding-left: 20px;
padding-right: 10px;
left: 0; }
.mm-header .mm-next,
.mm-header .mm-close {
padding-left: 10px;
padding-right: 20px;
right: 0; }
.mm-header [href].mm-prev:before, .mm-header [href].mm-next:after {
content: '';
border: 2px solid transparent;
display: inline-block;
width: 7px;
height: 7px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg); }
.mm-header [href].mm-prev:before {
border-right: none;
border-bottom: none;
margin-left: 2px;
margin-right: 5px; }
.mm-header [href].mm-next:after, .mm-header [href].mm-close:after {
margin-left: 5px;
margin-right: -2px; }
.mm-header [href].mm-next:after {
border-top: none;
border-left: none; }
.mm-header [href].mm-close:after {
content: 'x'; }

.mm-menu.mm-hassearch .mm-header {
height: 50px;
top: 50px; }
.mm-menu.mm-hassearch .mm-header .mm-title,
.mm-menu.mm-hassearch .mm-header .mm-prev,
.mm-menu.mm-hassearch .mm-header .mm-next,
.mm-menu.mm-hassearch .mm-header .mm-close {
padding-top: 20px; }

.mm-menu.mm-hasheader li.mm-subtitle {
display: none; }
.mm-menu.mm-hasheader > .mm-panel {
padding-top: 80px; }
.mm-menu.mm-hasheader > .mm-panel.mm-list {
padding-top: 60px; }
.mm-menu.mm-hasheader > .mm-panel > .mm-list:first-child {
margin-top: -20px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel {
padding-top: 120px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel.mm-list {
padding-top: 100px; }

.mm-menu .mm-header {
border-color: rgba(0, 0, 0, 0.15);
color: rgba(255, 255, 255, 0.3); }
.mm-menu .mm-header .mm-prev:before,
.mm-menu .mm-header .mm-next:after,
.mm-menu .mm-header .mm-close:after {
border-color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu labels addon CSS
*/
.mm-list li.mm-label > span {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
padding: 0;
line-height: 25px; }
.mm-list li.mm-label.mm-opened a.mm-subopen:after {
-webkit-transform: rotate(45deg);
transform: rotate(45deg); }
.mm-list li.mm-collapsed:not(.mm-uncollapsed) {
display: none; }

.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen:after {
top: 8.5px; }

.mm-menu .mm-list li.mm-label > div > div {
background: rgba(255, 255, 255, 0.05); }

/*
jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
-webkit-box-sizing: border-box;
        box-sizing: border-box; }

.mm-list > li.mm-search {
padding: 10px;
margin-top: -20px; }
.mm-list > li.mm-subtitle + li.mm-search {
margin-top: 0; }

div.mm-panel > div.mm-search {
padding: 0 0 10px 0; }

.mm-menu.mm-hasheader .mm-list > li.mm-search {
margin-top: 0; }

.mm-menu > .mm-search {
background: inherit;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2; }

.mm-search {
padding: 10px; }
.mm-search input {
border: none;
border-radius: 30px;
font: inherit;
font-size: 14px;
line-height: 30px;
outline: none;
display: block;
width: 100%;
height: 30px;
margin: 0;
padding: 0 10px; }
.mm-search input::-ms-clear {
display: none; }

.mm-menu .mm-noresultsmsg {
text-align: center;
font-size: 21px;
display: none;
padding: 60px 0; }
.mm-menu .mm-noresultsmsg:after {
border: none !important; }

.mm-noresults .mm-noresultsmsg {
display: block; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
display: none; }
.mm-menu li.mm-nosubresults > a.mm-subopen + a,
.mm-menu li.mm-nosubresults > a.mm-subopen + span {
padding-right: 10px; }
.mm-menu.mm-hassearch > .mm-panel {
padding-top: 70px; }
.mm-menu.mm-hassearch > .mm-panel > .mm-list:first-child {
margin-top: -20px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child {
margin-top: -10px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child + .mm-list {
padding-top: 0; }

.mm-menu .mm-search input {
background: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-noresultsmsg {
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
position: absolute;
left: -10000px; }

label.mm-toggle,
label.mm-check {
margin: 0;
position: absolute;
bottom: 50%;
z-index: 2; }
label.mm-toggle:before,
label.mm-check:before {
content: '';
display: block; }

label.mm-toggle {
border-radius: 30px;
width: 50px;
height: 30px;
margin-bottom: -15px; }
label.mm-toggle:before {
border-radius: 30px;
width: 28px;
height: 28px;
margin: 1px; }

input.mm-toggle:checked ~ label.mm-toggle:before {
float: right; }

label.mm-check {
width: 30px;
height: 30px;
margin-bottom: -15px; }
label.mm-check:before {
border-left: 3px solid;
border-bottom: 3px solid;
width: 40%;
height: 20%;
margin: 25% 0 0 20%;
opacity: 0.1;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg); }

input.mm-check:checked ~ label.mm-check:before {
opacity: 1; }

.mm-menu.mm-vertical .mm-list > li label.mm-toggle, .mm-menu.mm-vertical .mm-list > li label.mm-check {
bottom: auto;
margin-bottom: 0; }
.mm-menu.mm-vertical .mm-list > li label.mm-toggle {
top: 5px; }
.mm-menu.mm-vertical .mm-list > li label.mm-check {
top: 5px; }

label.mm-toggle, label.mm-check {
right: 20px; }

label.mm-toggle + a,
label.mm-toggle + span {
margin-right: 70px; }

label.mm-check + a,
label.mm-check + span {
margin-right: 50px; }

a.mm-subopen + label.mm-toggle, a.mm-subopen + label.mm-check {
right: 50px; }

a.mm-subopen + label.mm-toggle + a,
a.mm-subopen + label.mm-toggle + span {
margin-right: 100px; }

a.mm-subopen + label.mm-check + a,
a.mm-subopen + label.mm-check + span {
margin-right: 80px; }

em.mm-counter + a.mm-subopen + label.mm-toggle, em.mm-counter + a.mm-subopen + label.mm-check {
right: 90px; }

em.mm-counter + a.mm-subopen + label.mm-toggle + a,
em.mm-counter + a.mm-subopen + label.mm-toggle + span {
margin-right: 140px; }

em.mm-counter + a.mm-subopen + label.mm-check + a,
em.mm-counter + a.mm-subopen + label.mm-check + span {
margin-right: 120px; }

.mm-menu label.mm-toggle {
background: rgba(0, 0, 0, 0.15); }
.mm-menu label.mm-toggle:before {
background: #333333; }
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

.mm-menu label.mm-check:before {
border-color: rgba(255, 255, 255, 0.6); }

/*
jQuery.mmenu effects extension CSS
*/
html.mm-slide .mm-menu {
-webkit-transition: -webkit-transform 0.4s ease;
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
html.mm-slide.mm-opened .mm-menu {
-webkit-transform: translateX(-30%);
transform: translateX(-30%); }
html.mm-slide.mm-opening .mm-menu {
-webkit-transform: translateX(0%);
transform: translateX(0%); }
html.mm-slide.mm-right.mm-opened .mm-menu {
-webkit-transform: translateX(30%);
transform: translateX(30%); }
html.mm-slide.mm-right.mm-opening .mm-menu {
-webkit-transform: translateX(0%);
transform: translateX(0%); }
html.mm-slide.mm-top.mm-opened .mm-menu {
-webkit-transform: translateY(-30%);
transform: translateY(-30%); }
html.mm-slide.mm-top.mm-opening .mm-menu {
-webkit-transform: translateY(0%);
transform: translateY(0%); }
html.mm-slide.mm-bottom.mm-opened .mm-menu {
-webkit-transform: translateY(30%);
transform: translateY(30%); }
html.mm-slide.mm-bottom.mm-opening .mm-menu {
-webkit-transform: translateY(0%);
transform: translateY(0%); }

html.mm-zoom-menu .mm-menu {
-webkit-transition: -webkit-transform 0.4s ease;
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
html.mm-zoom-menu.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateX(-30%);
transform: scale(0.7, 0.7) translateX(-30%);
-webkit-transform-origin: left center;
transform-origin: left center; }
html.mm-zoom-menu.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-right.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateX(30%);
transform: scale(0.7, 0.7) translateX(30%);
-webkit-transform-origin: right center;
transform-origin: right center; }
html.mm-zoom-menu.mm-right.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-top.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateY(-30%);
transform: scale(0.7, 0.7) translateY(-30%);
-webkit-transform-origin: center top;
transform-origin: center top; }
html.mm-zoom-menu.mm-top.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateY(0%);
transform: scale(1, 1) translateY(0%); }
html.mm-zoom-menu.mm-bottom.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateY(30%);
transform: scale(0.7, 0.7) translateY(30%);
-webkit-transform-origin: center bottom;
transform-origin: center bottom; }
html.mm-zoom-menu.mm-bottom.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateY(0%);
transform: scale(1, 1) translateY(0%); }

html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel {
-webkit-transform: scale(1.5, 1.5) translateX(100%);
transform: scale(1.5, 1.5) translateX(100%);
-webkit-transform-origin: left center;
transform-origin: left center;
-webkit-transition-property: -webkit-transform, left;
-webkit-transition-property: left, -webkit-transform;
transition-property: left, -webkit-transform;
transition-property: transform, left;
transition-property: transform, left, -webkit-transform; }
html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened.mm-subopened {
-webkit-transform: scale(0.7, 0.7) translateX(-30%);
transform: scale(0.7, 0.7) translateX(-30%); }

/*
jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
width: 100%;
min-width: 140px;
max-width: 10000px; }

html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(100%, 0);
transform: translate(100%, 0); }

@media all and (max-width: 140px) {
html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(140px, 0);
transform: translate(140px, 0); } }
@media all and (min-width: 10000px) {
html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(10000px, 0);
transform: translate(10000px, 0); } }
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-100%, 0);
transform: translate(-100%, 0); }

@media all and (max-width: 140px) {
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-140px, 0);
transform: translate(-140px, 0); } }
@media all and (min-width: 10000px) {
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-10000px, 0);
transform: translate(-10000px, 0); } }
.mm-menu.mm-front.mm-fullscreen.mm-top, .mm-menu.mm-front.mm-fullscreen.mm-bottom {
height: 100%;
min-height: 140px;
max-height: 10000px; }

html.mm-opened.mm-fullscreen .mm-page {
-webkit-box-shadow: none !important;
        box-shadow: none !important; }

/*
jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
width: 100%;
min-width: 100%;
max-width: 100%; }

.mm-menu.mm-right {
left: auto;
right: 0; }

.mm-menu.mm-bottom {
top: auto;
bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-265px, 0);
transform: translate(-265px, 0); }

@media all and (max-width: 175px) {
html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-140px, 0);
transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-265px, 0);
transform: translate(-265px, 0); } }
/*
jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
-webkit-transform: none !important;
transform: none !important;
z-index: 0 !important; }

.mm-menu.mm-front {
z-index: 1;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
-webkit-box-shadow: none;
        box-shadow: none; }

.mm-menu.mm-front, .mm-menu.mm-next {
-webkit-transition: -webkit-transform 0.4s ease;
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease;
-webkit-transform: translate(-100%, 0);
transform: translate(-100%, 0); }
.mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
-webkit-transform: translate(100%, 0);
transform: translate(100%, 0); }
.mm-menu.mm-front.mm-top {
-webkit-transform: translate(0, -100%);
transform: translate(0, -100%); }
.mm-menu.mm-front.mm-bottom {
-webkit-transform: translate(0, 100%);
transform: translate(0, 100%); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
-webkit-transform: translate(0, 0);
transform: translate(0, 0); }

.mm-menu.mm-front.mm-top, .mm-menu.mm-front.mm-bottom {
height: 80%;
min-height: 140px;
max-height: 880px; }

/*
jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light {
background: #f3f3f3;
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-list > li:after {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li > a.mm-subclose {
background: rgba(255, 255, 255, 0.6);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-light .mm-list > li.mm-selected > span {
background: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-light .mm-list > li.mm-label {
background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-buttonbar {
border-color: rgba(0, 0, 0, 0.6);
background: #f3f3f3; }
.mm-menu.mm-light .mm-buttonbar > * {
border-color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-buttonbar > input:checked + label {
background: rgba(0, 0, 0, 0.6);
color: #f3f3f3; }

.mm-menu.mm-light label.mm-check:before {
border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light em.mm-counter {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-footer {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-header {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-header .mm-prev:before,
.mm-menu.mm-light .mm-header .mm-next:after,
.mm-menu.mm-light .mm-header .mm-close:after {
border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
background: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-noresultsmsg {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light label.mm-toggle {
background: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light label.mm-toggle:before {
background: #f3f3f3; }
.mm-menu.mm-light input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

html.mm-opened.mm-white .mm-page {
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white {
background: white;
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-list > li:after {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li > a.mm-subclose {
background: rgba(0, 0, 0, 0.06);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-white .mm-list > li.mm-selected > span {
background: rgba(0, 0, 0, 0.06); }
.mm-menu.mm-white .mm-list > li.mm-label {
background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-buttonbar {
border-color: rgba(0, 0, 0, 0.6);
background: white; }
.mm-menu.mm-white .mm-buttonbar > * {
border-color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-buttonbar > input:checked + label {
background: rgba(0, 0, 0, 0.6);
color: white; }

.mm-menu.mm-white label.mm-check:before {
border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white em.mm-counter {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-footer {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-header {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-header .mm-prev:before,
.mm-menu.mm-white .mm-header .mm-next:after,
.mm-menu.mm-white .mm-header .mm-close:after {
border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
background: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-noresultsmsg {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white label.mm-toggle {
background: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white label.mm-toggle:before {
background: white; }
.mm-menu.mm-white input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

html.mm-opened.mm-black .mm-page {
-webkit-box-shadow: none;
        box-shadow: none; }

.mm-menu.mm-black {
background: black;
color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-list > li:after {
border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li > a.mm-subclose {
background: rgba(255, 255, 255, 0.25);
color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
border-color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-black .mm-list > li.mm-selected > span {
background: rgba(255, 255, 255, 0.25); }
.mm-menu.mm-black .mm-list > li.mm-label {
background: rgba(255, 255, 255, 0.15); }
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-buttonbar {
border-color: rgba(255, 255, 255, 0.6);
background: black; }
.mm-menu.mm-black .mm-buttonbar > * {
border-color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-buttonbar > input:checked + label {
background: rgba(255, 255, 255, 0.6);
color: black; }

.mm-menu.mm-black label.mm-check:before {
border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black em.mm-counter {
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-footer {
border-color: rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-header {
border-color: rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-header .mm-prev:before,
.mm-menu.mm-black .mm-header .mm-next:after,
.mm-menu.mm-black .mm-header .mm-close:after {
border-color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
background: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-noresultsmsg {
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black label.mm-toggle {
background: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black label.mm-toggle:before {
background: black; }
.mm-menu.mm-black input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }


.mm-list > li.f-social, .mm-menu .mm-list > li.f-social.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.f-social.mm-selected > span{ padding:10px 0 10px; width:100%;  text-align:center; }

/*.mm-list > li:last-child{ border-bottom:none;}*/

.f-social {float:left; width:100%; padding-left:12px !important;}
.f-social a{float:left; width: 25px !important; padding: 0 !important;line-height:25px !important;}
.f-social a img { vertical-align:middle;}
.f-social a:hover { opacity:0.7; background:none !important;}

.mobi-logo {background: #fff;float: left;padding: 15px 0 8px;position: relative;text-align: center;width:auto;z-index: 99;height: 60px;text-align:center;}
.mobi-logo img{ float:left; width:auto;}
.mm-list a.mm-subopen:hover{background:#ecbd17; border-left:1px solid #ecbd17;}
.mobi-logo img:hover{ opacity:0.8}

.mob-search{ float:left; width:100%; border: solid 1px #e7e7e7; background:#fff; position:relative}
.mob-search input[type="text"]{ background:#fff; border:none; width:100%; padding:10px;color: #b1b1b1;font-size: 13px;}
.mob-search input[type="submit"]{background: url(../images/search.png) no-repeat 0px 0px; width:18px; height:19px; border:none;position: absolute;right: 10px;top: 9px; cursor:pointer}
.mob-search input[type="submit"]:hover{background: url(../images/search-hover.png) no-repeat 0px 0px;}
.mob-lang{ text-align:center; float:left; width:100%;padding-left:12px !important;}
.mob-lang a{float:left; width: 40px;padding: 0 !important;line-height: 35px !important; border-right: 1px solid #e6e6e6;}
.mob-lang.mm-selected a { background:none !important; color:#000 !important;}
.mob-lang.mm-selected a.active { background:#000 !important; color:#fff !important;}

.f-social.mm-selected a { background:inherit !important; color:#000 !important; width: 25px !important;}

.fest-link { float:left; width:100%;}



.mobNav ul li.mob-seach { padding: 0 4%;}
.mobNav ul li.mob-seach input { border: 1px solid #d9d9d9; padding: 5px 10px; width: 100%; margin-bottom:10px;}.owl-carousel .animated { -webkit-animation-duration:1000ms; animation-duration:1000ms; -webkit-animation-fill-mode:both; animation-fill-mode:both }
.owl-carousel .owl-animated-in { z-index:0 }
.owl-carousel .owl-animated-out { z-index:1 }
.owl-carousel .fadeOut { -webkit-animation-name:fadeOut; animation-name:fadeOut }
@-webkit-keyframes fadeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
@keyframes fadeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
.owl-height { -webkit-transition:height 500ms ease-in-out; transition:height 500ms ease-in-out }
.owl-carousel { display:none; width:100%; -webkit-tap-highlight-color:transparent; position:relative; z-index:1 }
.owl-carousel .owl-stage { position:relative; -ms-touch-action:pan-Y }
.owl-carousel .owl-stage:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0 }
.owl-carousel .owl-stage-outer { position:relative; overflow:hidden; -webkit-transform:translate3d(0px, 0, 0) }
.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev { cursor:pointer; cursor:hand; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none }
.owl-carousel.owl-loaded { display:block }
.owl-carousel.owl-loading { opacity:0; display:block }
.owl-carousel.owl-hidden { opacity:0 }
.owl-carousel .owl-refresh .owl-item { display:none }
.owl-carousel .owl-item { position:relative; min-height:1px; float:left; -webkit-backface-visibility:hidden; -webkit-tap-highlight-color:transparent; -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none }
.owl-carousel .owl-item img { display:inline-block; width:100%; float: left; -webkit-transform-style:preserve-3d }
.owl-carousel.owl-text-select-on .owl-item { -webkit-user-select:auto; -moz-user-select:auto; -ms-user-select:auto; user-select:auto }
.owl-carousel .owl-grab { cursor:move; cursor:-webkit-grab; cursor:-o-grab; cursor:-ms-grab; cursor:grab }
.owl-carousel.owl-rtl { direction:rtl }
.owl-carousel.owl-rtl .owl-item { float:right }
.no-js .owl-carousel { display:block }
.owl-carousel .owl-item .owl-lazy { opacity:0; -webkit-transition:opacity 400ms ease; transition:opacity 400ms ease }
.owl-carousel .owl-item img { -webkit-transform-style:preserve-3d; transform-style:preserve-3d }
.owl-carousel .owl-video-wrapper { position:relative; height:100%; background:#000 }
.owl-carousel .owl-video-play-icon { position:absolute; height:80px; width:80px; left:50%; top:50%; margin-left:-40px; margin-top:-40px; background:url(owl.video.play.png) no-repeat; cursor:pointer; z-index:1; -webkit-backface-visibility:hidden; -webkit-transition:scale 100ms ease; transition:scale 100ms ease }
.owl-carousel .owl-video-play-icon:hover { -webkit-transition:scale(1.3, 1.3); transition:scale(1.3, 1.3) }
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn { display:none }
.owl-carousel .owl-video-tn { opacity:0; height:100%; background-position:center center; background-repeat:no-repeat; background-size:contain; -webkit-transition:opacity 400ms ease; transition:opacity 400ms ease }
.owl-carousel .owl-video-frame { position:relative; z-index:1 }
.owl-nav { width: 100%; color:#a9a9a9; font-size:16px;font-family:'Helvetica Neue';  position: absolute; top: 45%; }
.owl-prev { left: -40px; position: absolute; background:url(../images/arr-lft.png) no-repeat left 0px; height: 21px; width:13px; }
.owl-next { right: -40px; position: absolute; background:url(../images/arr-rgt.png) no-repeat right 0px; height: 21px; width:13px; }
.owl-prev:hover { opacity: 1 }
.owl-next:hover { opacity: 1 }
.owl-controls { float: left; width: 100%; margin-top: 0px; }
#home-carousel .owl-stage-outer { padding-top:50px; padding-bottom:90px; }

.owl-dots { float:left; width:100%; text-align:center; margin-top:0px; }
.owl-dot { background: #ddd; width: 8px; height: 8px; display: inline-block; border-radius: 25px; margin: 0 6px 0; }
.owl-dot.active, .owl-dot:hover { background:#000; }



#aun-car .owl-controls { margin-top:0px;}
#aun-car .owl-nav { top: 31%; }
#aun-car .owl-prev { left: -38px; position: absolute; background:url(../images/backward.svg) no-repeat center center; height: 75px; width:75px; background-size:cover; }
#aun-car .owl-next { right: -38px; position: absolute; background:url(../images/forward.svg) no-repeat center center; height: 75px; width:75px;background-size:cover; }

#aun-car1 .owl-controls { margin-top:0px;}
#aun-car1 .owl-nav { top: 35%; }
#aun-car1 .owl-prev { left: -38px; position: absolute; background:url(../images/backward.svg) no-repeat center center; height: 75px; width:75px; background-size:cover; }
#aun-car1 .owl-next { right: -38px; position: absolute; background:url(../images/forward.svg) no-repeat center center; height: 75px; width:75px;background-size:cover; }

#testmnl-car .owl-controls { margin-top:0px;}
#testmnl-car .owl-nav { top: 31%; }
#testmnl-car .owl-prev { left: -38px; position: absolute; background:url(../images/backward.svg) no-repeat center center; height: 75px; width:75px; background-size:cover; }
#testmnl-car .owl-next { right: -38px; position: absolute; background:url(../images/forward.svg) no-repeat center center; height: 75px; width:75px;background-size:cover; }





body {
  margin: 0;
} 

#bg-video, #bg-video1, #bg-video2, #bg-video3, #bg-video4, #bg-video5, #bg-video6, #bg-video7 {
  position: absolute;
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  -o-object-fit:cover;
     object-fit:cover;
}
#overlay {
  background: rgba(100,100,100,.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

#textbox {
  color: white;
  font-family: calibri;
  overflow: auto;
  z-index: 11000;
}

#other {
  background: rgba(200,200,200, .8);
  border: 3px solid #aaaaaa;
  width: 60%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.video-hover video { height:100% !important; -o-object-fit:cover; object-fit:cover;}




/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\F000";
}
.fa-music:before {
  content: "\F001";
}
.fa-search:before {
  content: "\F002";
}
.fa-envelope-o:before {
  content: "\F003";
}
.fa-heart:before {
  content: "\F004";
}
.fa-star:before {
  content: "\F005";
}
.fa-star-o:before {
  content: "\F006";
}
.fa-user:before {
  content: "\F007";
}
.fa-film:before {
  content: "\F008";
}
.fa-th-large:before {
  content: "\F009";
}
.fa-th:before {
  content: "\F00A";
}
.fa-th-list:before {
  content: "\F00B";
}
.fa-check:before {
  content: "\F00C";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\F00D";
}
.fa-search-plus:before {
  content: "\F00E";
}
.fa-search-minus:before {
  content: "\F010";
}
.fa-power-off:before {
  content: "\F011";
}
.fa-signal:before {
  content: "\F012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\F013";
}
.fa-trash-o:before {
  content: "\F014";
}
.fa-home:before {
  content: "\F015";
}
.fa-file-o:before {
  content: "\F016";
}
.fa-clock-o:before {
  content: "\F017";
}
.fa-road:before {
  content: "\F018";
}
.fa-download:before {
  content: "\F019";
}
.fa-arrow-circle-o-down:before {
  content: "\F01A";
}
.fa-arrow-circle-o-up:before {
  content: "\F01B";
}
.fa-inbox:before {
  content: "\F01C";
}
.fa-play-circle-o:before {
  content: "\F01D";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\F01E";
}
.fa-refresh:before {
  content: "\F021";
}
.fa-list-alt:before {
  content: "\F022";
}
.fa-lock:before {
  content: "\F023";
}
.fa-flag:before {
  content: "\F024";
}
.fa-headphones:before {
  content: "\F025";
}
.fa-volume-off:before {
  content: "\F026";
}
.fa-volume-down:before {
  content: "\F027";
}
.fa-volume-up:before {
  content: "\F028";
}
.fa-qrcode:before {
  content: "\F029";
}
.fa-barcode:before {
  content: "\F02A";
}
.fa-tag:before {
  content: "\F02B";
}
.fa-tags:before {
  content: "\F02C";
}
.fa-book:before {
  content: "\F02D";
}
.fa-bookmark:before {
  content: "\F02E";
}
.fa-print:before {
  content: "\F02F";
}
.fa-camera:before {
  content: "\F030";
}
.fa-font:before {
  content: "\F031";
}
.fa-bold:before {
  content: "\F032";
}
.fa-italic:before {
  content: "\F033";
}
.fa-text-height:before {
  content: "\F034";
}
.fa-text-width:before {
  content: "\F035";
}
.fa-align-left:before {
  content: "\F036";
}
.fa-align-center:before {
  content: "\F037";
}
.fa-align-right:before {
  content: "\F038";
}
.fa-align-justify:before {
  content: "\F039";
}
.fa-list:before {
  content: "\F03A";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\F03B";
}
.fa-indent:before {
  content: "\F03C";
}
.fa-video-camera:before {
  content: "\F03D";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\F03E";
}
.fa-pencil:before {
  content: "\F040";
}
.fa-map-marker:before {
  content: "\F041";
}
.fa-adjust:before {
  content: "\F042";
}
.fa-tint:before {
  content: "\F043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\F044";
}
.fa-share-square-o:before {
  content: "\F045";
}
.fa-check-square-o:before {
  content: "\F046";
}
.fa-arrows:before {
  content: "\F047";
}
.fa-step-backward:before {
  content: "\F048";
}
.fa-fast-backward:before {
  content: "\F049";
}
.fa-backward:before {
  content: "\F04A";
}
.fa-play:before {
  content: "\F04B";
}
.fa-pause:before {
  content: "\F04C";
}
.fa-stop:before {
  content: "\F04D";
}
.fa-forward:before {
  content: "\F04E";
}
.fa-fast-forward:before {
  content: "\F050";
}
.fa-step-forward:before {
  content: "\F051";
}
.fa-eject:before {
  content: "\F052";
}
.fa-chevron-left:before {
  content: "\F053";
}
.fa-chevron-right:before {
  content: "\F054";
}
.fa-plus-circle:before {
  content: "\F055";
}
.fa-minus-circle:before {
  content: "\F056";
}
.fa-times-circle:before {
  content: "\F057";
}
.fa-check-circle:before {
  content: "\F058";
}
.fa-question-circle:before {
  content: "\F059";
}
.fa-info-circle:before {
  content: "\F05A";
}
.fa-crosshairs:before {
  content: "\F05B";
}
.fa-times-circle-o:before {
  content: "\F05C";
}
.fa-check-circle-o:before {
  content: "\F05D";
}
.fa-ban:before {
  content: "\F05E";
}
.fa-arrow-left:before {
  content: "\F060";
}
.fa-arrow-right:before {
  content: "\F061";
}
.fa-arrow-up:before {
  content: "\F062";
}
.fa-arrow-down:before {
  content: "\F063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\F064";
}
.fa-expand:before {
  content: "\F065";
}
.fa-compress:before {
  content: "\F066";
}
.fa-plus:before {
  content: "\F067";
}
.fa-minus:before {
  content: "\F068";
}
.fa-asterisk:before {
  content: "\F069";
}
.fa-exclamation-circle:before {
  content: "\F06A";
}
.fa-gift:before {
  content: "\F06B";
}
.fa-leaf:before {
  content: "\F06C";
}
.fa-fire:before {
  content: "\F06D";
}
.fa-eye:before {
  content: "\F06E";
}
.fa-eye-slash:before {
  content: "\F070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\F071";
}
.fa-plane:before {
  content: "\F072";
}
.fa-calendar:before {
  content: "\F073";
}
.fa-random:before {
  content: "\F074";
}
.fa-comment:before {
  content: "\F075";
}
.fa-magnet:before {
  content: "\F076";
}
.fa-chevron-up:before {
  content: "\F077";
}
.fa-chevron-down:before {
  content: "\F078";
}
.fa-retweet:before {
  content: "\F079";
}
.fa-shopping-cart:before {
  content: "\F07A";
}
.fa-folder:before {
  content: "\F07B";
}
.fa-folder-open:before {
  content: "\F07C";
}
.fa-arrows-v:before {
  content: "\F07D";
}
.fa-arrows-h:before {
  content: "\F07E";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\F080";
}
.fa-twitter-square:before {
  content: "\F081";
}
.fa-facebook-square:before {
  content: "\F082";
}
.fa-camera-retro:before {
  content: "\F083";
}
.fa-key:before {
  content: "\F084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\F085";
}
.fa-comments:before {
  content: "\F086";
}
.fa-thumbs-o-up:before {
  content: "\F087";
}
.fa-thumbs-o-down:before {
  content: "\F088";
}
.fa-star-half:before {
  content: "\F089";
}
.fa-heart-o:before {
  content: "\F08A";
}
.fa-sign-out:before {
  content: "\F08B";
}
.fa-linkedin-square:before {
  content: "\F08C";
}
.fa-thumb-tack:before {
  content: "\F08D";
}
.fa-external-link:before {
  content: "\F08E";
}
.fa-sign-in:before {
  content: "\F090";
}
.fa-trophy:before {
  content: "\F091";
}
.fa-github-square:before {
  content: "\F092";
}
.fa-upload:before {
  content: "\F093";
}
.fa-lemon-o:before {
  content: "\F094";
}
.fa-phone:before {
  content: "\F095";
}
.fa-square-o:before {
  content: "\F096";
}
.fa-bookmark-o:before {
  content: "\F097";
}
.fa-phone-square:before {
  content: "\F098";
}
.fa-twitter:before {
  content: "\F099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\F09A";
}
.fa-github:before {
  content: "\F09B";
}
.fa-unlock:before {
  content: "\F09C";
}
.fa-credit-card:before {
  content: "\F09D";
}
.fa-feed:before,
.fa-rss:before {
  content: "\F09E";
}
.fa-hdd-o:before {
  content: "\F0A0";
}
.fa-bullhorn:before {
  content: "\F0A1";
}
.fa-bell:before {
  content: "\F0F3";
}
.fa-certificate:before {
  content: "\F0A3";
}
.fa-hand-o-right:before {
  content: "\F0A4";
}
.fa-hand-o-left:before {
  content: "\F0A5";
}
.fa-hand-o-up:before {
  content: "\F0A6";
}
.fa-hand-o-down:before {
  content: "\F0A7";
}
.fa-arrow-circle-left:before {
  content: "\F0A8";
}
.fa-arrow-circle-right:before {
  content: "\F0A9";
}
.fa-arrow-circle-up:before {
  content: "\F0AA";
}
.fa-arrow-circle-down:before {
  content: "\F0AB";
}
.fa-globe:before {
  content: "\F0AC";
}
.fa-wrench:before {
  content: "\F0AD";
}
.fa-tasks:before {
  content: "\F0AE";
}
.fa-filter:before {
  content: "\F0B0";
}
.fa-briefcase:before {
  content: "\F0B1";
}
.fa-arrows-alt:before {
  content: "\F0B2";
}
.fa-group:before,
.fa-users:before {
  content: "\F0C0";
}
.fa-chain:before,
.fa-link:before {
  content: "\F0C1";
}
.fa-cloud:before {
  content: "\F0C2";
}
.fa-flask:before {
  content: "\F0C3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\F0C4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\F0C5";
}
.fa-paperclip:before {
  content: "\F0C6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\F0C7";
}
.fa-square:before {
  content: "\F0C8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\F0C9";
}
.fa-list-ul:before {
  content: "\F0CA";
}
.fa-list-ol:before {
  content: "\F0CB";
}
.fa-strikethrough:before {
  content: "\F0CC";
}
.fa-underline:before {
  content: "\F0CD";
}
.fa-table:before {
  content: "\F0CE";
}
.fa-magic:before {
  content: "\F0D0";
}
.fa-truck:before {
  content: "\F0D1";
}
.fa-pinterest:before {
  content: "\F0D2";
}
.fa-pinterest-square:before {
  content: "\F0D3";
}
.fa-google-plus-square:before {
  content: "\F0D4";
}
.fa-google-plus:before {
  content: "\F0D5";
}
.fa-money:before {
  content: "\F0D6";
}
.fa-caret-down:before {
  content: "\F0D7";
}
.fa-caret-up:before {
  content: "\F0D8";
}
.fa-caret-left:before {
  content: "\F0D9";
}
.fa-caret-right:before {
  content: "\F0DA";
}
.fa-columns:before {
  content: "\F0DB";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\F0DC";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\F0DD";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\F0DE";
}
.fa-envelope:before {
  content: "\F0E0";
}
.fa-linkedin:before {
  content: "\F0E1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\F0E2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\F0E3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\F0E4";
}
.fa-comment-o:before {
  content: "\F0E5";
}
.fa-comments-o:before {
  content: "\F0E6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\F0E7";
}
.fa-sitemap:before {
  content: "\F0E8";
}
.fa-umbrella:before {
  content: "\F0E9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\F0EA";
}
.fa-lightbulb-o:before {
  content: "\F0EB";
}
.fa-exchange:before {
  content: "\F0EC";
}
.fa-cloud-download:before {
  content: "\F0ED";
}
.fa-cloud-upload:before {
  content: "\F0EE";
}
.fa-user-md:before {
  content: "\F0F0";
}
.fa-stethoscope:before {
  content: "\F0F1";
}
.fa-suitcase:before {
  content: "\F0F2";
}
.fa-bell-o:before {
  content: "\F0A2";
}
.fa-coffee:before {
  content: "\F0F4";
}
.fa-cutlery:before {
  content: "\F0F5";
}
.fa-file-text-o:before {
  content: "\F0F6";
}
.fa-building-o:before {
  content: "\F0F7";
}
.fa-hospital-o:before {
  content: "\F0F8";
}
.fa-ambulance:before {
  content: "\F0F9";
}
.fa-medkit:before {
  content: "\F0FA";
}
.fa-fighter-jet:before {
  content: "\F0FB";
}
.fa-beer:before {
  content: "\F0FC";
}
.fa-h-square:before {
  content: "\F0FD";
}
.fa-plus-square:before {
  content: "\F0FE";
}
.fa-angle-double-left:before {
  content: "\F100";
}
.fa-angle-double-right:before {
  content: "\F101";
}
.fa-angle-double-up:before {
  content: "\F102";
}
.fa-angle-double-down:before {
  content: "\F103";
}
.fa-angle-left:before {
  content: "\F104";
}
.fa-angle-right:before {
  content: "\F105";
}
.fa-angle-up:before {
  content: "\F106";
}
.fa-angle-down:before {
  content: "\F107";
}
.fa-desktop:before {
  content: "\F108";
}
.fa-laptop:before {
  content: "\F109";
}
.fa-tablet:before {
  content: "\F10A";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\F10B";
}
.fa-circle-o:before {
  content: "\F10C";
}
.fa-quote-left:before {
  content: "\F10D";
}
.fa-quote-right:before {
  content: "\F10E";
}
.fa-spinner:before {
  content: "\F110";
}
.fa-circle:before {
  content: "\F111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\F112";
}
.fa-github-alt:before {
  content: "\F113";
}
.fa-folder-o:before {
  content: "\F114";
}
.fa-folder-open-o:before {
  content: "\F115";
}
.fa-smile-o:before {
  content: "\F118";
}
.fa-frown-o:before {
  content: "\F119";
}
.fa-meh-o:before {
  content: "\F11A";
}
.fa-gamepad:before {
  content: "\F11B";
}
.fa-keyboard-o:before {
  content: "\F11C";
}
.fa-flag-o:before {
  content: "\F11D";
}
.fa-flag-checkered:before {
  content: "\F11E";
}
.fa-terminal:before {
  content: "\F120";
}
.fa-code:before {
  content: "\F121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\F122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\F123";
}
.fa-location-arrow:before {
  content: "\F124";
}
.fa-crop:before {
  content: "\F125";
}
.fa-code-fork:before {
  content: "\F126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\F127";
}
.fa-question:before {
  content: "\F128";
}
.fa-info:before {
  content: "\F129";
}
.fa-exclamation:before {
  content: "\F12A";
}
.fa-superscript:before {
  content: "\F12B";
}
.fa-subscript:before {
  content: "\F12C";
}
.fa-eraser:before {
  content: "\F12D";
}
.fa-puzzle-piece:before {
  content: "\F12E";
}
.fa-microphone:before {
  content: "\F130";
}
.fa-microphone-slash:before {
  content: "\F131";
}
.fa-shield:before {
  content: "\F132";
}
.fa-calendar-o:before {
  content: "\F133";
}
.fa-fire-extinguisher:before {
  content: "\F134";
}
.fa-rocket:before {
  content: "\F135";
}
.fa-maxcdn:before {
  content: "\F136";
}
.fa-chevron-circle-left:before {
  content: "\F137";
}
.fa-chevron-circle-right:before {
  content: "\F138";
}
.fa-chevron-circle-up:before {
  content: "\F139";
}
.fa-chevron-circle-down:before {
  content: "\F13A";
}
.fa-html5:before {
  content: "\F13B";
}
.fa-css3:before {
  content: "\F13C";
}
.fa-anchor:before {
  content: "\F13D";
}
.fa-unlock-alt:before {
  content: "\F13E";
}
.fa-bullseye:before {
  content: "\F140";
}
.fa-ellipsis-h:before {
  content: "\F141";
}
.fa-ellipsis-v:before {
  content: "\F142";
}
.fa-rss-square:before {
  content: "\F143";
}
.fa-play-circle:before {
  content: "\F144";
}
.fa-ticket:before {
  content: "\F145";
}
.fa-minus-square:before {
  content: "\F146";
}
.fa-minus-square-o:before {
  content: "\F147";
}
.fa-level-up:before {
  content: "\F148";
}
.fa-level-down:before {
  content: "\F149";
}
.fa-check-square:before {
  content: "\F14A";
}
.fa-pencil-square:before {
  content: "\F14B";
}
.fa-external-link-square:before {
  content: "\F14C";
}
.fa-share-square:before {
  content: "\F14D";
}
.fa-compass:before {
  content: "\F14E";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\F150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\F151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\F152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\F153";
}
.fa-gbp:before {
  content: "\F154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\F155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\F156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\F157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\F158";
}
.fa-won:before,
.fa-krw:before {
  content: "\F159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\F15A";
}
.fa-file:before {
  content: "\F15B";
}
.fa-file-text:before {
  content: "\F15C";
}
.fa-sort-alpha-asc:before {
  content: "\F15D";
}
.fa-sort-alpha-desc:before {
  content: "\F15E";
}
.fa-sort-amount-asc:before {
  content: "\F160";
}
.fa-sort-amount-desc:before {
  content: "\F161";
}
.fa-sort-numeric-asc:before {
  content: "\F162";
}
.fa-sort-numeric-desc:before {
  content: "\F163";
}
.fa-thumbs-up:before {
  content: "\F164";
}
.fa-thumbs-down:before {
  content: "\F165";
}
.fa-youtube-square:before {
  content: "\F166";
}
.fa-youtube:before {
  content: "\F167";
}
.fa-xing:before {
  content: "\F168";
}
.fa-xing-square:before {
  content: "\F169";
}
.fa-youtube-play:before {
  content: "\F16A";
}
.fa-dropbox:before {
  content: "\F16B";
}
.fa-stack-overflow:before {
  content: "\F16C";
}
.fa-instagram:before {
  content: "\F16D";
}
.fa-flickr:before {
  content: "\F16E";
}
.fa-adn:before {
  content: "\F170";
}
.fa-bitbucket:before {
  content: "\F171";
}
.fa-bitbucket-square:before {
  content: "\F172";
}
.fa-tumblr:before {
  content: "\F173";
}
.fa-tumblr-square:before {
  content: "\F174";
}
.fa-long-arrow-down:before {
  content: "\F175";
}
.fa-long-arrow-up:before {
  content: "\F176";
}
.fa-long-arrow-left:before {
  content: "\F177";
}
.fa-long-arrow-right:before {
  content: "\F178";
}
.fa-apple:before {
  content: "\F179";
}
.fa-windows:before {
  content: "\F17A";
}
.fa-android:before {
  content: "\F17B";
}
.fa-linux:before {
  content: "\F17C";
}
.fa-dribbble:before {
  content: "\F17D";
}
.fa-skype:before {
  content: "\F17E";
}
.fa-foursquare:before {
  content: "\F180";
}
.fa-trello:before {
  content: "\F181";
}
.fa-female:before {
  content: "\F182";
}
.fa-male:before {
  content: "\F183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\F184";
}
.fa-sun-o:before {
  content: "\F185";
}
.fa-moon-o:before {
  content: "\F186";
}
.fa-archive:before {
  content: "\F187";
}
.fa-bug:before {
  content: "\F188";
}
.fa-vk:before {
  content: "\F189";
}
.fa-weibo:before {
  content: "\F18A";
}
.fa-renren:before {
  content: "\F18B";
}
.fa-pagelines:before {
  content: "\F18C";
}
.fa-stack-exchange:before {
  content: "\F18D";
}
.fa-arrow-circle-o-right:before {
  content: "\F18E";
}
.fa-arrow-circle-o-left:before {
  content: "\F190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\F191";
}
.fa-dot-circle-o:before {
  content: "\F192";
}
.fa-wheelchair:before {
  content: "\F193";
}
.fa-vimeo-square:before {
  content: "\F194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\F195";
}
.fa-plus-square-o:before {
  content: "\F196";
}
.fa-space-shuttle:before {
  content: "\F197";
}
.fa-slack:before {
  content: "\F198";
}
.fa-envelope-square:before {
  content: "\F199";
}
.fa-wordpress:before {
  content: "\F19A";
}
.fa-openid:before {
  content: "\F19B";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\F19C";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\F19D";
}
.fa-yahoo:before {
  content: "\F19E";
}
.fa-google:before {
  content: "\F1A0";
}
.fa-reddit:before {
  content: "\F1A1";
}
.fa-reddit-square:before {
  content: "\F1A2";
}
.fa-stumbleupon-circle:before {
  content: "\F1A3";
}
.fa-stumbleupon:before {
  content: "\F1A4";
}
.fa-delicious:before {
  content: "\F1A5";
}
.fa-digg:before {
  content: "\F1A6";
}
.fa-pied-piper-pp:before {
  content: "\F1A7";
}
.fa-pied-piper-alt:before {
  content: "\F1A8";
}
.fa-drupal:before {
  content: "\F1A9";
}
.fa-joomla:before {
  content: "\F1AA";
}
.fa-language:before {
  content: "\F1AB";
}
.fa-fax:before {
  content: "\F1AC";
}
.fa-building:before {
  content: "\F1AD";
}
.fa-child:before {
  content: "\F1AE";
}
.fa-paw:before {
  content: "\F1B0";
}
.fa-spoon:before {
  content: "\F1B1";
}
.fa-cube:before {
  content: "\F1B2";
}
.fa-cubes:before {
  content: "\F1B3";
}
.fa-behance:before {
  content: "\F1B4";
}
.fa-behance-square:before {
  content: "\F1B5";
}
.fa-steam:before {
  content: "\F1B6";
}
.fa-steam-square:before {
  content: "\F1B7";
}
.fa-recycle:before {
  content: "\F1B8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\F1B9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\F1BA";
}
.fa-tree:before {
  content: "\F1BB";
}
.fa-spotify:before {
  content: "\F1BC";
}
.fa-deviantart:before {
  content: "\F1BD";
}
.fa-soundcloud:before {
  content: "\F1BE";
}
.fa-database:before {
  content: "\F1C0";
}
.fa-file-pdf-o:before {
  content: "\F1C1";
}
.fa-file-word-o:before {
  content: "\F1C2";
}
.fa-file-excel-o:before {
  content: "\F1C3";
}
.fa-file-powerpoint-o:before {
  content: "\F1C4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\F1C5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\F1C6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\F1C7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\F1C8";
}
.fa-file-code-o:before {
  content: "\F1C9";
}
.fa-vine:before {
  content: "\F1CA";
}
.fa-codepen:before {
  content: "\F1CB";
}
.fa-jsfiddle:before {
  content: "\F1CC";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\F1CD";
}
.fa-circle-o-notch:before {
  content: "\F1CE";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\F1D0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\F1D1";
}
.fa-git-square:before {
  content: "\F1D2";
}
.fa-git:before {
  content: "\F1D3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\F1D4";
}
.fa-tencent-weibo:before {
  content: "\F1D5";
}
.fa-qq:before {
  content: "\F1D6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\F1D7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\F1D8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\F1D9";
}
.fa-history:before {
  content: "\F1DA";
}
.fa-circle-thin:before {
  content: "\F1DB";
}
.fa-header:before {
  content: "\F1DC";
}
.fa-paragraph:before {
  content: "\F1DD";
}
.fa-sliders:before {
  content: "\F1DE";
}
.fa-share-alt:before {
  content: "\F1E0";
}
.fa-share-alt-square:before {
  content: "\F1E1";
}
.fa-bomb:before {
  content: "\F1E2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\F1E3";
}
.fa-tty:before {
  content: "\F1E4";
}
.fa-binoculars:before {
  content: "\F1E5";
}
.fa-plug:before {
  content: "\F1E6";
}
.fa-slideshare:before {
  content: "\F1E7";
}
.fa-twitch:before {
  content: "\F1E8";
}
.fa-yelp:before {
  content: "\F1E9";
}
.fa-newspaper-o:before {
  content: "\F1EA";
}
.fa-wifi:before {
  content: "\F1EB";
}
.fa-calculator:before {
  content: "\F1EC";
}
.fa-paypal:before {
  content: "\F1ED";
}
.fa-google-wallet:before {
  content: "\F1EE";
}
.fa-cc-visa:before {
  content: "\F1F0";
}
.fa-cc-mastercard:before {
  content: "\F1F1";
}
.fa-cc-discover:before {
  content: "\F1F2";
}
.fa-cc-amex:before {
  content: "\F1F3";
}
.fa-cc-paypal:before {
  content: "\F1F4";
}
.fa-cc-stripe:before {
  content: "\F1F5";
}
.fa-bell-slash:before {
  content: "\F1F6";
}
.fa-bell-slash-o:before {
  content: "\F1F7";
}
.fa-trash:before {
  content: "\F1F8";
}
.fa-copyright:before {
  content: "\F1F9";
}
.fa-at:before {
  content: "\F1FA";
}
.fa-eyedropper:before {
  content: "\F1FB";
}
.fa-paint-brush:before {
  content: "\F1FC";
}
.fa-birthday-cake:before {
  content: "\F1FD";
}
.fa-area-chart:before {
  content: "\F1FE";
}
.fa-pie-chart:before {
  content: "\F200";
}
.fa-line-chart:before {
  content: "\F201";
}
.fa-lastfm:before {
  content: "\F202";
}
.fa-lastfm-square:before {
  content: "\F203";
}
.fa-toggle-off:before {
  content: "\F204";
}
.fa-toggle-on:before {
  content: "\F205";
}
.fa-bicycle:before {
  content: "\F206";
}
.fa-bus:before {
  content: "\F207";
}
.fa-ioxhost:before {
  content: "\F208";
}
.fa-angellist:before {
  content: "\F209";
}
.fa-cc:before {
  content: "\F20A";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\F20B";
}
.fa-meanpath:before {
  content: "\F20C";
}
.fa-buysellads:before {
  content: "\F20D";
}
.fa-connectdevelop:before {
  content: "\F20E";
}
.fa-dashcube:before {
  content: "\F210";
}
.fa-forumbee:before {
  content: "\F211";
}
.fa-leanpub:before {
  content: "\F212";
}
.fa-sellsy:before {
  content: "\F213";
}
.fa-shirtsinbulk:before {
  content: "\F214";
}
.fa-simplybuilt:before {
  content: "\F215";
}
.fa-skyatlas:before {
  content: "\F216";
}
.fa-cart-plus:before {
  content: "\F217";
}
.fa-cart-arrow-down:before {
  content: "\F218";
}
.fa-diamond:before {
  content: "\F219";
}
.fa-ship:before {
  content: "\F21A";
}
.fa-user-secret:before {
  content: "\F21B";
}
.fa-motorcycle:before {
  content: "\F21C";
}
.fa-street-view:before {
  content: "\F21D";
}
.fa-heartbeat:before {
  content: "\F21E";
}
.fa-venus:before {
  content: "\F221";
}
.fa-mars:before {
  content: "\F222";
}
.fa-mercury:before {
  content: "\F223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\F224";
}
.fa-transgender-alt:before {
  content: "\F225";
}
.fa-venus-double:before {
  content: "\F226";
}
.fa-mars-double:before {
  content: "\F227";
}
.fa-venus-mars:before {
  content: "\F228";
}
.fa-mars-stroke:before {
  content: "\F229";
}
.fa-mars-stroke-v:before {
  content: "\F22A";
}
.fa-mars-stroke-h:before {
  content: "\F22B";
}
.fa-neuter:before {
  content: "\F22C";
}
.fa-genderless:before {
  content: "\F22D";
}
.fa-facebook-official:before {
  content: "\F230";
}
.fa-pinterest-p:before {
  content: "\F231";
}
.fa-whatsapp:before {
  content: "\F232";
}
.fa-server:before {
  content: "\F233";
}
.fa-user-plus:before {
  content: "\F234";
}
.fa-user-times:before {
  content: "\F235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\F236";
}
.fa-viacoin:before {
  content: "\F237";
}
.fa-train:before {
  content: "\F238";
}
.fa-subway:before {
  content: "\F239";
}
.fa-medium:before {
  content: "\F23A";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\F23B";
}
.fa-optin-monster:before {
  content: "\F23C";
}
.fa-opencart:before {
  content: "\F23D";
}
.fa-expeditedssl:before {
  content: "\F23E";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\F240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\F241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\F242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\F243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\F244";
}
.fa-mouse-pointer:before {
  content: "\F245";
}
.fa-i-cursor:before {
  content: "\F246";
}
.fa-object-group:before {
  content: "\F247";
}
.fa-object-ungroup:before {
  content: "\F248";
}
.fa-sticky-note:before {
  content: "\F249";
}
.fa-sticky-note-o:before {
  content: "\F24A";
}
.fa-cc-jcb:before {
  content: "\F24B";
}
.fa-cc-diners-club:before {
  content: "\F24C";
}
.fa-clone:before {
  content: "\F24D";
}
.fa-balance-scale:before {
  content: "\F24E";
}
.fa-hourglass-o:before {
  content: "\F250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\F251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\F252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\F253";
}
.fa-hourglass:before {
  content: "\F254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\F255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\F256";
}
.fa-hand-scissors-o:before {
  content: "\F257";
}
.fa-hand-lizard-o:before {
  content: "\F258";
}
.fa-hand-spock-o:before {
  content: "\F259";
}
.fa-hand-pointer-o:before {
  content: "\F25A";
}
.fa-hand-peace-o:before {
  content: "\F25B";
}
.fa-trademark:before {
  content: "\F25C";
}
.fa-registered:before {
  content: "\F25D";
}
.fa-creative-commons:before {
  content: "\F25E";
}
.fa-gg:before {
  content: "\F260";
}
.fa-gg-circle:before {
  content: "\F261";
}
.fa-tripadvisor:before {
  content: "\F262";
}
.fa-odnoklassniki:before {
  content: "\F263";
}
.fa-odnoklassniki-square:before {
  content: "\F264";
}
.fa-get-pocket:before {
  content: "\F265";
}
.fa-wikipedia-w:before {
  content: "\F266";
}
.fa-safari:before {
  content: "\F267";
}
.fa-chrome:before {
  content: "\F268";
}
.fa-firefox:before {
  content: "\F269";
}
.fa-opera:before {
  content: "\F26A";
}
.fa-internet-explorer:before {
  content: "\F26B";
}
.fa-tv:before,
.fa-television:before {
  content: "\F26C";
}
.fa-contao:before {
  content: "\F26D";
}
.fa-500px:before {
  content: "\F26E";
}
.fa-amazon:before {
  content: "\F270";
}
.fa-calendar-plus-o:before {
  content: "\F271";
}
.fa-calendar-minus-o:before {
  content: "\F272";
}
.fa-calendar-times-o:before {
  content: "\F273";
}
.fa-calendar-check-o:before {
  content: "\F274";
}
.fa-industry:before {
  content: "\F275";
}
.fa-map-pin:before {
  content: "\F276";
}
.fa-map-signs:before {
  content: "\F277";
}
.fa-map-o:before {
  content: "\F278";
}
.fa-map:before {
  content: "\F279";
}
.fa-commenting:before {
  content: "\F27A";
}
.fa-commenting-o:before {
  content: "\F27B";
}
.fa-houzz:before {
  content: "\F27C";
}
.fa-vimeo:before {
  content: "\F27D";
}
.fa-black-tie:before {
  content: "\F27E";
}
.fa-fonticons:before {
  content: "\F280";
}
.fa-reddit-alien:before {
  content: "\F281";
}
.fa-edge:before {
  content: "\F282";
}
.fa-credit-card-alt:before {
  content: "\F283";
}
.fa-codiepie:before {
  content: "\F284";
}
.fa-modx:before {
  content: "\F285";
}
.fa-fort-awesome:before {
  content: "\F286";
}
.fa-usb:before {
  content: "\F287";
}
.fa-product-hunt:before {
  content: "\F288";
}
.fa-mixcloud:before {
  content: "\F289";
}
.fa-scribd:before {
  content: "\F28A";
}
.fa-pause-circle:before {
  content: "\F28B";
}
.fa-pause-circle-o:before {
  content: "\F28C";
}
.fa-stop-circle:before {
  content: "\F28D";
}
.fa-stop-circle-o:before {
  content: "\F28E";
}
.fa-shopping-bag:before {
  content: "\F290";
}
.fa-shopping-basket:before {
  content: "\F291";
}
.fa-hashtag:before {
  content: "\F292";
}
.fa-bluetooth:before {
  content: "\F293";
}
.fa-bluetooth-b:before {
  content: "\F294";
}
.fa-percent:before {
  content: "\F295";
}
.fa-gitlab:before {
  content: "\F296";
}
.fa-wpbeginner:before {
  content: "\F297";
}
.fa-wpforms:before {
  content: "\F298";
}
.fa-envira:before {
  content: "\F299";
}
.fa-universal-access:before {
  content: "\F29A";
}
.fa-wheelchair-alt:before {
  content: "\F29B";
}
.fa-question-circle-o:before {
  content: "\F29C";
}
.fa-blind:before {
  content: "\F29D";
}
.fa-audio-description:before {
  content: "\F29E";
}
.fa-volume-control-phone:before {
  content: "\F2A0";
}
.fa-braille:before {
  content: "\F2A1";
}
.fa-assistive-listening-systems:before {
  content: "\F2A2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\F2A3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\F2A4";
}
.fa-glide:before {
  content: "\F2A5";
}
.fa-glide-g:before {
  content: "\F2A6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\F2A7";
}
.fa-low-vision:before {
  content: "\F2A8";
}
.fa-viadeo:before {
  content: "\F2A9";
}
.fa-viadeo-square:before {
  content: "\F2AA";
}
.fa-snapchat:before {
  content: "\F2AB";
}
.fa-snapchat-ghost:before {
  content: "\F2AC";
}
.fa-snapchat-square:before {
  content: "\F2AD";
}
.fa-pied-piper:before {
  content: "\F2AE";
}
.fa-first-order:before {
  content: "\F2B0";
}
.fa-yoast:before {
  content: "\F2B1";
}
.fa-themeisle:before {
  content: "\F2B2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\F2B3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\F2B4";
}
.fa-handshake-o:before {
  content: "\F2B5";
}
.fa-envelope-open:before {
  content: "\F2B6";
}
.fa-envelope-open-o:before {
  content: "\F2B7";
}
.fa-linode:before {
  content: "\F2B8";
}
.fa-address-book:before {
  content: "\F2B9";
}
.fa-address-book-o:before {
  content: "\F2BA";
}
.fa-vcard:before,
.fa-address-card:before {
  content: "\F2BB";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\F2BC";
}
.fa-user-circle:before {
  content: "\F2BD";
}
.fa-user-circle-o:before {
  content: "\F2BE";
}
.fa-user-o:before {
  content: "\F2C0";
}
.fa-id-badge:before {
  content: "\F2C1";
}
.fa-drivers-license:before,
.fa-id-card:before {
  content: "\F2C2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\F2C3";
}
.fa-quora:before {
  content: "\F2C4";
}
.fa-free-code-camp:before {
  content: "\F2C5";
}
.fa-telegram:before {
  content: "\F2C6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\F2C7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\F2C8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\F2C9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\F2CA";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\F2CB";
}
.fa-shower:before {
  content: "\F2CC";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\F2CD";
}
.fa-podcast:before {
  content: "\F2CE";
}
.fa-window-maximize:before {
  content: "\F2D0";
}
.fa-window-minimize:before {
  content: "\F2D1";
}
.fa-window-restore:before {
  content: "\F2D2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\F2D3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\F2D4";
}
.fa-bandcamp:before {
  content: "\F2D5";
}
.fa-grav:before {
  content: "\F2D6";
}
.fa-etsy:before {
  content: "\F2D7";
}
.fa-imdb:before {
  content: "\F2D8";
}
.fa-ravelry:before {
  content: "\F2D9";
}
.fa-eercast:before {
  content: "\F2DA";
}
.fa-microchip:before {
  content: "\F2DB";
}
.fa-snowflake-o:before {
  content: "\F2DC";
}
.fa-superpowers:before {
  content: "\F2DD";
}
.fa-wpexplorer:before {
  content: "\F2DE";
}
.fa-meetup:before {
  content: "\F2E0";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}




