﻿ul.resp-tabs-list, p { margin: 0px; padding: 0px; }
.resp-tabs-list li { color:#727272; font-size: 16px; font-family: 'helveticaregular'; display: inline-block; padding: 13px 15px; margin: 0; list-style: none; cursor: pointer; float: left; }
.resp-tabs-container { padding: 0px; background-color: #fff; clear: left; }
h2.resp-accordion { cursor: pointer; padding: 5px; display: none; }
.resp-tab-content { display: none; padding: 15px; }
.resp-tabs-list li.resp-tab-active, .resp-tabs-list li:hover {color:#f80000; }
.resp-tab-active { border-bottom: none; background-color: #fff; }
.resp-content-active, .resp-accordion-active { display: block; }
.resp-tab-content { border: 1px solid #c1c1c1; }
h2.resp-accordion { font-size: 13px; border: 1px solid #e5e5e5; border-top: 0px solid #c1c1c1; margin: 0px; padding: 10px 15px; font-family: 'helveticabold';
font-size: 20px;
line-height: 26px;
color: #262626; }
h2.resp-tab-active { border-bottom: 0px solid #c1c1c1 !important; margin-bottom: 0px !important; padding: 10px 15px !important; }
h2.resp-tab-title:last-child { border-bottom: 12px solid #c1c1c1 !important; background: blue; }
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list { float: left; width:100%; }
.resp-vtabs .resp-tabs-list li { display: block; padding:0 0 0px 0; margin: 0; margin-bottom:35px; cursor: pointer; float: none; }
.resp-vtabs .resp-tabs-container { padding: 0px; background-color: #f7f7f7;  float: left; width:100%; min-height: 250px;  clear: none; padding-bottom:20px;}
.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs li.resp-tab-active { background-color: #fff; position: relative; z-index: 1;  }
.resp-arrow { width: 0; height: 0; float: right; margin-top: 10px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #c1c1c1; }
h2.resp-tab-active span.resp-arrow { border: none; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid #f80000; }
/*-----------Accordion styles-----------*/
h2.resp-tab-active { background:none; }
.resp-easy-accordion h2.resp-accordion { display: block; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
.resp-jfit { width: 100%; margin: 0px; }
.resp-tab-content-active { display: block; }
h2.resp-accordion:first-child { border-top: 1px solid #e5e5e5 !important; }

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
ul.resp-tabs-list {
display: none;
}
h2.resp-accordion {
display: block;
float:left;
width:100%;
}
.resp-vtabs .resp-tab-content {
border: 1px solid #e5e5e5;
float:left;
width:100%;
}
.resp-vtabs .resp-tabs-container {
border: none;
float: none;
width: 100%;
min-height: initial;
clear: none;
display:inline-block;
}
.resp-accordion-closed {
display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
}
