@charset "utf-8";
/* CSS Document */



/* #Media Queries
================================================== */

@media only screen and (max-width: 1280px) {
	body{ overflow-x:hidden;}
}

@media screen and (min-width:1024px) and (max-width:1159px) {
img {max-width:100%; }
.row, .row1 { width:1000px; } 

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }

.row, .row1 { width:100%; max-width:1000px; padding:0 2%;}
.resp-vtabs .resp-tabs-list li{line-height:22px;}
.pro-detail .pro-left{width:32%;}
.pro-detail .pro-right{width:68%; margin-left: 32%}
.pro-detail .pro-right{padding-left:20px;}
.smk_accordion.acc_with_icon .accordion_in .acc_content ul li .doc-cnt p{padding-top:10px;}
.content-pad ul li .img-cnt p{font-size:24px; line-height:28px;}
.logo-img{right:10px;}
}

@media screen and (max-width:900px) {
	.videos-detail ul li {
		width: 49%;
	}
}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row1  { width:100%; padding:0 0; }

.content-pad .row, footer .row{padding:0 15px;}
.resp-vtabs .resp-tabs-list li{line-height:22px;}
.pro-detail .pro-left{width:100%; height:auto!important; padding:10px;position: relative}
.pro-detail .pro-right{width:100%; height:auto!important; min-height:inherit;margin-left: 0}
.pro-detail .pro-right{
	padding: 30px 2% 0;
}
.smk_accordion.acc_with_icon .accordion_in .acc_content ul li .doc-cnt p{padding-top:10px;}
#mob{display:block; float:left; width:100%; padding-top:30px;}
#des{display:none;}
.pro-detail .pro-right h1{display:none;}
h2.resp-tab-active{color:#f80000; background:none;}
.resp-tab-content{padding:30px 15px;}
.smk_accordion .accordion_in .acc_head{padding:20px 20px 20px 0; float:left; width:100%;}
.content-pad ul li .img-cnt p{font-size:24px; line-height:28px;}
.logo-img{right:20px;}
.content-pad ul li{width:49%; margin-bottom:2%;}
.content-pad ul li:nth-child(2n){margin-right:0;}
.smk_accordion{margin-bottom:0;}
.pro-footer{position:relative!important;}
.content-pad{padding-bottom:40px;}

	.row.videos .only-one .pro-imgg {
		padding-bottom: 49%;
	}
}

/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row { width:100%; padding:0 0; }
.foot-l{text-align:center;}
.foot-r ul li{float:none; margin:0 auto; display:inline-block;}
.foot-r ul{text-align:center;}
.pro-footer .foot-r ul li:last-child p, .foot-r ul li:last-child p{float:none; text-align:center; display:inline-block;}
.smk_accordion .accordion_in .acc_head{padding:14px 0;}
footer .foot-r{float:left; width:100%;}
footer .foot-l{float:left; width:100%; margin-top:20px;}
.content-pad{padding:30px 0 40px 0;}
header .ban{min-height:120px;}
.logo-img{right:0; left:0; top:20px; margin:0 auto; text-align:center;}
.foot-r ul li:last-child{width:100%;}
.pro-footer .foot-l p{font-size:12px;}
.pro-detail .pro-right::after{display: none}
}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.row { width:100%; padding:0 0;}
h2.resp-accordion{font-size:18px;}
.smk_accordion.acc_with_icon .accordion_in .acc_head p.d-p-lft{width:80%; line-height:22px;}
.smk_accordion.acc_with_icon .accordion_in .acc_head p.d-p-rgt{width:20%; text-align:center;}
.smk_accordion.acc_with_icon .accordion_in .acc_content ul li{width:100%;}
.logo-img img{width:100px;}
.logo-img a.zender{margin-left:10px;}
.content-pad ul li .img-cnt p{font-size: 18px; line-height: 22px;}
.content-pad p{font-size:15px;}
.content-pad h1{font-size:18px;}

	.videos-detail ul li {
		width: 100%;
	}
}



