.smk_accordion { position: relative; margin: 0; padding: 0; list-style: none; margin-bottom: 20px; float: left; width: 100%; }
.smk_accordion .accordion_in { border-bottom: 1px solid #e5e5e5; position: relative; z-index: 10; overflow: hidden; float:left; width:100%;}
.smk_accordion .accordion_in .acc_head { position: relative; background: #f7f7f7; padding:30px 50px 30px 0;  display: block; cursor: pointer; float:left; width:100%;  font-family: 'helveticaregular'; font-size: 14px; line-height: 14px; color: #999999; }
.smk_accordion .accordion_in .acc_head .acc_icon_expand { display: block; width: 18px; height: 18px; position: absolute; left: 10px; top: 50%; margin-top: -9px; background: url(../images/plusminus.png) center 0; }
.smk_accordion .accordion_in .acc_content { background: #F9F9F9; color: #7B7E85; padding: 3px 10px; }
.smk_accordion .accordion_in .acc_content h1:first-of-type, .smk_accordion .accordion_in .acc_content h2:first-of-type, .smk_accordion .accordion_in .acc_content h3:first-of-type, .smk_accordion .accordion_in .acc_content h4:first-of-type, .smk_accordion .accordion_in .acc_content h5:first-of-type, .smk_accordion .accordion_in .acc_content h6:first-of-type { margin-top: 5px; }
.smk_accordion .accordion_in.acc_active > .acc_content { display: block; }
.smk_accordion .accordion_in.acc_active > .acc_head {  }
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand { background: url(../images/plusminus.png) center -18px; }
.smk_accordion.acc_with_icon .accordion_in .acc_head, .smk_accordion.acc_with_icon .accordion_in .acc_content { padding-left: 0px; }
