@import "css/style.css";

@import "css/jquery.mCustomScrollbar.css";
@import "css/jquery.fancybox.css";
@import "css/jquery-datepicker.css";

// Font-awesome
@import '~font-awesome/scss/font-awesome';

// Toastr
@import "~toastr/toastr";

// Select2
@import "~select2/dist/css/select2.min.css";

.progress-block {
  .progress-container {
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #4ca6db;
    border-radius: 5px;
    margin-top: 25px;

    .progress-bar {
      height: 24px;
      width: 0;
      background: #4ca6db;
    }
  }

  .progress-number {
    width: 100%;
    text-align: center;
  }
}

.select2-container {
  z-index: 10000;

  .select2-selection--single {
    width: 100%;
    min-width: 176px;
    background-color: #4ca6db;
    color: #fff;
    font-size: 16px;
    font-family: 'PT Sans';
    font-weight: bold;
    border-radius: 5px;
    height: 48px;
    line-height: 42px;
    padding: 0 60px 0 20px;
    float: left;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    margin: 0 0 0;
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  &.select2-container--default {

    .select2-selection--single {
      .select2-selection__rendered {
        color: #fff;
        line-height: inherit;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }

  .select2-selection--single:hover {
    opacity:0.8
  }

  .select2-selection--single::-ms-expand {
    display: none;
  }
}

.alert {
  padding: 20px 15px;
  margin: 15px;
  &.error {
    background: crimson;
    color: white;
  }
}

.btn-slide {
  border: none;
  background: none;
  padding: 7px 10px;
  border-radius: 100%;
  margin-left: 5px;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}

i {
  &.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 1s ease-in-out;

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

.content-page {
  .header {
    .row {
      z-index: 9;
    }
    position: relative;
    display: flex;
    height: 100px;
    justify-content: center;
    a {
      display: flex;
    }
    &.bckg {
      h1 {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 0px 0px 3px #000;
      }
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000000, 0.35);
      }
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 150px;
      color: white;
    }
  }
  .content {
    h1, h2, h3 {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 2px solid #4ca6db;
    }
    h2 {
      font-size: 30px;
    }
    p {
      margin-bottom: 10px;
    }
    padding-top: 50px;
  }

  .breadcrumbs {
    margin-bottom: 30px;
    .breadcrumb {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      padding: 0.75rem 1rem;
      margin-bottom: 1rem;
      list-style: none;
      background-color: #e9ecef;
      border-radius: 0.125rem;
    }
    
    .breadcrumb-item + .breadcrumb-item {
      padding-left: 0.5rem;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      color: #6c757d;
      content: "/";
    }
    .breadcrumb-item + .breadcrumb-item:hover::before {
      text-decoration: underline;
    }
    .breadcrumb-item + .breadcrumb-item:hover::before {
      text-decoration: none;
    }
    .breadcrumb-item.active {
      color: #6c757d;
    }
  }
}

.instructions-container {
  padding-bottom: 64px;
}

.instructions-container ul, .instructions-container ul li {
  list-style: revert;
  padding: revert;
}

.view-files-tr td ul li a.del-doc {
  font-weight: 400;
  color: #4ca6db;

  &:hover {
    opacity: .8;
  }
}



#delete-modal {

  h3 {
    float: none;
  }

  p {
    margin-top: 28px;
    text-align: center;
  }

  .modal-buttons {
    text-align: right;

    .fancy-btn {
      color: #fff;
      font-size: 14px;
      font-family: Avenir LT Std\ 55 Roman;
      border-radius: 5px;
      height: 40px;
      padding: 0 20px;
      border: 0;
      cursor: pointer;
      transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      -ms-transition: .3s ease-in-out;
      margin: 36px 0 0;
      display: inline-block;

      &.fancy-cancel {
        background: #4ca6db;
      }

      &.fancy-delete {
        background: #dc4c4c;
      }

      &:hover{
        opacity:0.8
      }
    }
  }
}

@import "css/media.css";