/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'barlowmedium';
	border-spacing: 0;
}

/* Calendar Wrapper */
.ui-datepicker {
	display: none;
	width: 294px;
	padding: 0px;
	cursor: default;
	text-transform: capitalize;	
	font-size: 16px;
	font-family: 'barlowmedium'; font-weight:bold;
	background: #fff;	
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
/*	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);*/
}

/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding-bottom: 0px;
	border-bottom: 0px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; float:left; width:100%; padding:6px 0px; }

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-right: 0px;
	color: #5b5e64;
	font-size:18px;
}

/*.ui-datepicker-month:before {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 5px;
	height: 5px;
	content: '';

	background: #a5cd4e;
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}*/

/* Year */
.ui-datepicker-year {
	padding-left: 4px;
	color: #5b5e64;
	font-size:18px;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 12px;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 14px;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 14px;
	padding-right: 0;
}

/*.ui-datepicker-prev span,
.ui-datepicker-next span{
	display: block;
	width: 5px;
	height: 7px;
	text-indent: -9999px;
	background-image: url(../images/cal-arrw.png);
	background-repeat:no-repeat;
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -7px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px 0px; }

.ui-datepicker-next-hover span { background-position: -7px 0px; }*/

/* Calendar "Days" */
.ui-datepicker-calendar th {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Conv_SourceSansPro-Light';
	text-align: center;
	font-weight: normal;
	color: #98959f;
	border-top:1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;
}

.ui-datepicker-calendar td {
	padding: 0 0px;
	
	text-align: center;
	line-height: 30px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	width: auto;
	outline: none;
    font-family: 'source_sans_proregular';
	text-decoration: none;
	color: #6e6e76;
	font-size:14px;
	font-weight:normal;
	background:#efefef;
}

/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {color: #4e4e4e;border-color: #dcdcdc; position:relative; z-index:1;}
.ui-datepicker-calendar .ui-state-active:after, #calendar tr.nxtweek a.ui-state-default::after, #calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a.ui-state-active::after  { content:""; position:absolute; top:0; left:0;right: 0;bottom: 0; border:1px solid #005e85;width: 22px;height: 22px;margin: auto;border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -moz-border-radius: 50px;}

#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today { position:relative; z-index:1;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a.ui-state-default.ui-state-highlight { color:#fff;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a:after { content:""; position:absolute; top:0; left:0;right: 0;bottom: 0; border:1px solid #005e85;width: 22px;height: 22px;margin: auto;border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -moz-border-radius: 50px;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a.ui-state-highlight.ui-state-active::after, #calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a.ui-state-default.ui-state-highlight::after  { background:#FB6262; z-index:-1; border:none;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-state-active::after, #calendar tr.nxtweek a.ui-state-default::after, #calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-datepicker-today a.ui-state-active::after { background:#e0e0e0; z-index:-1; border:none;}


#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar a { position:relative; z-index:1;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar a:hover:after { content:""; position:absolute; top:0; left:0;right: 0;bottom: 0; border:0px solid #005e85; background:#e0e0e0; width: 22px;height: 22px;margin: auto;border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -moz-border-radius: 50px; position:absolute; z-index:-1;}

/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default { color: #565656;  display: none;}


