.resp-tabs-list li {
    font-size: 14px;
    display: inline-block;
    padding: 0px 26px 0px 26px;
    margin: 0 0px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
	background:none;
	color:#0079c2;
	border-top-right-radius:0px;
	border-top-left-radius:0px;	
	position:relative;	
	width:20%;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}



.resp-tab-active {   
	
}
.resp-tabs-list li:hover{ 
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
	float:left; width:100%;
	background:#fff;  padding: 50px 30px 20px;
	border-top: 2px solid #faaeae;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin: 0px 0px 5px 0px;
    padding: 12px 15px;
	background:#fff !important;
	font-family: 'Lato-Bold';
	float:left;
	width:100%;	
	position:relative;
}
h2.resp-accordion p { color:#555; font-family: 'barlowsemibold';}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 12px 15px !important;
	background:#fd6361 !important;
	
}
h2.resp-tab-active p { color:#fff; }

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
    /*width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;*/
	
	display: block;
width: 19px;
height: 10px;
position: absolute;
right: 15px;
top: 50%;
margin-top: -5px;
background: url(../images/arrow-down1.svg) center 0;
}

h2.resp-tab-active span.resp-arrow {
    /*border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;*/
	
	background: url(../images/arrow-up-white.svg) center 0;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #DBDBDB;/* !important;*/ 
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
		text-align:left;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        /*display: none !important;*/
		display: none;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
	
}


/*parentHorizontalTab1*/
.house-rgt-tab .resp-tabs-list li{padding: 8px 35px 8px 20px;background:#fff;}
.blog-rgt .house-rgt-tab ul.resp-tabs-list li:last-child{padding: 8px 35px 8px 20px;border-bottom: solid 3px #ebeaea;}
.house-rgt-tab .resp-tab-active{ background:#fff !important;border-bottom: solid 3px #fff!important;}
.house-rgt-tab .resp-tabs-list li:hover{ background:#fff !important;border-bottom: solid 3px #fff!important;}
.house-rgt-tab ul li{ background:none; padding:9px 9px; float:left;}
.house-rgt-tab .resp-tab-content{ padding: 20px 5%; background:#fff;}
.blog-rgt .house-rgt-tab ul{ margin:0px;}
.house-rgt-tab p{ float:left; width: 68%; font-family: 'montserratlight';}
.house-rgt-tab p.price { float:right; width:auto; font-family: 'montserratregular';}
.house-rgt-tab .tab-list li{ width:100%; margin-bottom:10px; padding:10px 0px;}
.house-rgt-tab p span{ display:block; font-size:12px!important; color:#1d1d1b!important;   line-height: 17px; margin-top: 5px;}
.house-rgt-tab .resp-tabs-container{float: left;  margin-bottom: 25px; width:100%;}