/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 #container {width: 80%; max-width: 800px; margin: 0 auto;}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0; overflow:hidden;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; width:100%; display:block; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; z-index: 99999;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; z-index:0; min-height:418px; }
.inner-slider .flexslider {min-height:auto;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li { background-size:cover; min-height:418px; background-position:center center;}
.inner-slider .flexslider .slides > li { min-height:auto;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
.flexslider .slides > li img { /*opacity:0;*/}

/* Caption style */
/* IE rgba() hack */
.flex-caption {zoom: 1; }
.flex-caption {position:absolute; bottom: 175px; text-align:left; width:100%; left:0;}
.flex-caption h1 { color:#fff; font-size:55px; line-height:60px; font-family: 'Helvetica Rounded LT Std Bold'; margin-bottom:28px; z-index:9999; position:relative; letter-spacing:1px; transition: all 0.5s ease;}
.flex-caption span { color:#ffcf4f; float:none;}
.flex-caption p{  font-size:24px; line-height:36px; font-family: 'dosismedium'; color:#fff; margin-bottom:45px; transition: all 0.5s ease;}

.flex-caption a{display:inline-block; font-family: 'dosisbold'; font-size:16px; text-transform:inherit; color:#fff;  padding:10px 35px; background:#ffcf4f; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; border-radius:3px; }
.flex-caption a:hover{background: #003691 none repeat scroll 0 0; color: #fff;}
/* Direction Nav */
.flex-direction-nav { display:block; }
.banner-home .flex-direction-nav li a {width:26px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 47%; cursor: pointer; text-indent: -9999px; z-index:9999;}
.banner-home .flex-direction-nav li a:hover{ opacity:0.7}
.banner-home .flex-direction-nav li .flex-next {background-position: -25px 0; right:3%;background: url(../images/right-arrow.png) no-repeat 0 0; background-position: 0px 0; }
.banner-home .flex-direction-nav li .flex-prev {left:3%; background: url(../images/left-arrow.png) no-repeat 0 0; background-position: 0px 0; }
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.inner-banner-pad .flex-direction-nav li a {width:27px; height:45px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; }
/* Control Nav */
.flex-control-nav {width:auto; margin:0 auto; position: absolute; bottom:20px; z-index:9999; text-align: right; right: 110px; text-align:right;}
.flex-control-nav li {margin: 0 3px 0px 3px; display:inline-block; zoom: 1; *display: inline;}
.inner-slider .flexslider .flex-control-nav { right:55px;}
.historic-pad .inner-slider .flexslider .flex-control-nav { right:0; left:0; text-align:center; bottom: 10px;}
/*.flex-control-nav li:first-child {margin: 0;}*/
.flex-control-nav li a {width: 20px; height: 4px; display: block; background:rgba(225, 225, 225, 0.5) none repeat scroll 0 0; cursor: pointer; text-indent: 9999px; border-radius:20%; -webkit-border-radius:20%; -o-border-radius:20%; -moz-border-radius:20%; }
.flex-control-nav li a:hover {background:#fff}
.flex-control-nav li a.flex-active {background:#fff; cursor: default;}

.flex-btn{background:#b98b57; color:#fff;padding:10px 45px; border-radius:3px; line-height:60px;font-family: 'PT Sans Narrow', sans-serif; }


.banner-pad .flexslider .flex-control-nav { display:block; }

/*.flexslider .slides > li::before{
background: rgba(0,0,0,0.4);
background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.4)), color-stop(50%, rgba(231,56,39,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
background: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(231,56,39,0) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=1 );

content:""; position:absolute; left:0; top:0; width:100%; height:100%;
}*/

/* Direction Nav */
.flex-direction-nav { display:block; }
.flex-direction-nav li a {width:18px; height:32px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; z-index:9999; }
.flex-direction-nav li .flex-next {background-position: -25px 0; right:20px;background: url(../images/arrow-rgt.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-next:hover {background: url(../images/arrw-rgt.png) no-repeat 0 0;}*/
.flex-direction-nav li .flex-prev {left:20px; background: url(../images/arrow-lft.png) no-repeat 0 0; background-position: 0px 0; }
/*.flex-direction-nav li .flex-prev:hover {left:20px; background: url(../images/arrw-lft.png) no-repeat 0 0;}*/
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.flex-active-slide .flex-caption h1 {
-webkit-animation:fadeInUp ease-in 1;
-moz-animation:fadeInUp ease-in 1;
-o-animation:fadeInUp ease-in 1;
animation:fadeInUp ease-in 1;
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
animation-delay: 0.2s; 
}

.flex-active-slide .flex-caption p {
-webkit-animation:fadeInUp ease-in 1;
-moz-animation:fadeInUp ease-in 1;
-o-animation:fadeInUp ease-in 1;
animation:fadeInUp ease-in 1;
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
animation-delay: 0.4s; 
}

.flex-active-slide .flex-caption a {
-webkit-animation:fadeInUp ease-in 1;
-moz-animation:fadeInUp ease-in 1;
-o-animation:fadeInUp ease-in 1;
animation:fadeInUp ease-in 1;
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
animation-delay: 0.6s; 
}

@-webkit-keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0)
}
to {
	opacity: 1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
}
@keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0)
}
to {
	opacity: 1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
}
