.intranet-right {
    text-align: right;

    li span a {
        display: inline-block;
        color: #fc6262;
    }

    li span a:hover {
        text-decoration: underline;
    }
}

.intranet {
    color: #262626;

    .area-container{position:absolute; width:100%; height:100%; left:0; right:0; background:url('../images/login.jpg') no-repeat center;  background-size:cover; display:flex; display:-webkit-flex; align-items:center; justify-content:center; z-index:0;}

    .area-content{width:460px; text-align:right;}

    .area-content h2{font-weight: 800; font-size: 22px; font-family: 'Open Sans', sans-serif; display: inline-block; background: #ce0e2d; color: #fff; padding: 10px 25px; text-align: center;letter-spacing: 3px;}
    .area-content div.form{width:100%; display:block; background:#f5f3f4; padding:50px 49px 48px; text-align:center; float:left;}
    .area-content div.form img{width:auto; text-align:center;}
    .area-content div.form h3{font-size:38px; font-family: 'barlowsemibold'; color:#333; margin:36px 0; line-height:38px;}
    .area-content div.form .area-style{width:100%;float:left; margin:0;}
    .area-content div.form label	{ text-align:left; padding-bottom:15px; line-height:16px; float:left; width:100%; font-size:16px; color:#232323; margin-top:35px;}
    .edit-course input.frm-ctrl {
        &::-webkit-input-placeholder {
            color: #393939;
            font-size: 16px;
        }
        &:-ms-input-placeholder {
            color: #393939;
            font-size: 16px;
        }
        &::placeholder {
            color: #393939;
            font-size: 16px;
        }
    }
    .area-content div.form input.frm-ctrl, .edit-course input.frm-ctrl, .edit-course textarea{width:100%; padding:0 10px 0 21px; border:1px solid #fff; font-size:16px; color:#747474; background:#fff;  height:55px; margin:0 0 8px; font-family: barlowregular}
    .edit-course ul li .sbHolder {margin: 0 0 16px; float: none}
    .edit-course ul li .sbSelector {
        color: #393939;
        font-size: 16px;
        font-family: 'barlowregular';
        width: 100%;
        line-height:60px;
        height:55px;
        padding:0 0; text-align:left;
    }
    .edit-course ul li .half {width: 49%; margin-right: 8px; display: inline-block}
    .edit-course ul li .half:last-child {margin-right: 0}
    .edit-course ul li .sbToggle { background:url(../images/arrow-down-dark.svg) no-repeat; width:16px; height:8px; margin:13px 20px 0 0; }
    .edit-course ul li label {
        display: block;
        margin-top: 30px;
        margin-bottom: 8px;
        font-size: 20px;
        font-family: barlowsemibold;
    }
    .edit-course textarea {padding-top: 18px; padding-bottom: 18px; height: 10em; resize: none;font-family: barlowregular}
    .area-content div.form input.frm-ctrl:focus, .edit-course input.frm-ctrl:focus, .edit-course textarea:focus { border: 1px solid #fc6262;}
    .password-pad	{ float:left; width:100%; position:relative; }

    .edit-course .frm-ctrl.bg-time {
        background-image: url('../images/time.svg');
        background-repeat: no-repeat;
        background-position: 21px center;
        background-size: 20px 20px;
        padding-left: 52px;
    }

    .edit-course .frm-ctrl.bg-date {
        background-image: url('../images/date.svg');
        background-repeat: no-repeat;
        background-position: 21px center;
        background-size: 20px 26px;
        padding-left: 52px;
    }

    .edit-course .frm-ctrl.bg-info {
        background-image: url('../images/introduccio.svg');
        background-repeat: no-repeat;
        background-position: 21px 17px;
        background-size: 20px 20px;
        padding-left: 52px;
    }

    .edit-course .frm-ctrl.bg-tramits {
        background-image: url('../images/tramits.svg');
        background-repeat: no-repeat;
        background-position: 21px 17px;
        background-size: 16px 20px;
        padding-left: 52px;
    }

    .edit-course .frm-ctrl.bg-continuitat {
        background-image: url('../images/continuitat.svg');
        background-repeat: no-repeat;
        background-position: 21px 17px;
        background-size: 16px 20px;
        padding-left: 52px;
    }

    .area-content div.form input.frm-ctrl::-webkit-input-placeholder, .edit-course input.frm-ctrl::-webkit-input-placeholder, .edit-course textarea::-webkit-input-placeholder {color:#575757;  font-weight:400;font-family: barlowregular}
    .area-content div.form input.frm-ctrl::-moz-placeholder, .edit-course input.frm-ctrl::-moz-placeholder, .edit-course textarea::-moz-placeholder {color:#575757;  font-weight:400;font-family: barlowregular}
    .area-content div.form input.frm-ctrl:-ms-input-placeholder, .edit-course input.frm-ctrl:-ms-input-placeholder, .edit-course textarea:-ms-input-placeholder {color:#575757;  font-weight:400;font-family: barlowregular}
    .area-content div.form input.frm-ctrl:-moz-placeholder, .edit-course input.frm-ctrl:-moz-placeholder, .edit-course textarea:-moz-placeholder {color:#575757;  font-weight:400;font-family: barlowregular}
    .area-content div.form .btn-container, .edit-course .btn-container {width: 100%; text-align: center}
    .area-content div.form button {background: #555; color: #fff; font-size: 16px; height:44px; padding: 0 56px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:30px 0 0; display:inline-block;}
    .edit-course button {background: #555; color: #fff; font-size: 16px; height:44px; width: 100%; padding: 0 56px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:18px 0 0; display:inline-block;}

    .area-content div.form button:hover, .edit-course button:hover{background: #393939}
    .area-content div.form button.mt10, .edit-course button.mt10{margin-top:25px}
    .area-content div.form p{ color:#333; font-size: 16px; line-height:22px; margin:30px 0 0;}
    .area-content div.form a{ color: #575757;font-size: 14px; line-height:16px;margin:24px 0 0; transition:0.3s ease-in-out; -webkit-transition:0.5s ease-in-out; -moz-transition:0.5s ease-in-out; -o-transition:0.5s ease-in-out; -ms-transition:0.5s ease-in-out; }
    .area-content div.form a:hover{color:#fc6262; text-decoration:underline;}
    .area-content div.form .checkbox, .edit-course ul li .checkbox {width:100%;}
    .area-content div.form .checkbox label, .edit-course ul li .checkbox label {display:inline-block; margin:10px 0 5px;}

    .edit-course ul li .checkbox {
        margin: 6px 0 16px;
    }

    .checkbox input{visibility:hidden; position:absolute; left:0; top:0; width:1px; height:1px;}
    .area-content div.form .checkbox label, .edit-course ul li .checkbox label {position:relative; padding-left:30px; font-size:16px; color:#575757;  cursor:pointer; margin:0;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; line-height:22px;font-family: barlowregular}
    .checkbox label:after{width:15px; height:15px; background:#fff; position:absolute; content:""; left:0; top:0;}
    .checkbox label:before{width:8px; height:8px;background:transparent; position:absolute; content:""; left:3px; top:3px;transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out;}
    .checkbox input:checked + label:before{background:#fc6262; z-index: 2}
    .area-content div.form .checkbox:hover label	{ text-decoration:underline;}
    .area-content.recuperar form button.mt10 { margin-top:14px;}

    .email-img		{ float:left; width:100%; text-align:center; margin:47px 0 25px;}
    .aceptacio .area-content div.form { background:#fff;}
    .aceptacio .area-content	{ width:602px;}
    .demo-y	{ width:100%; float:left; height:279px; padding:0; background:#f2f2f2; margin-top:23px;}
    .area-content div.form .demo-y p	{ margin-top:0; text-align:left; padding:0 0 30px 17px; float:left; width:100%; padding: 5px; }
    .area-content div.form .demo-y p:first-child	{ padding-top:24px;}
    .aceptacio .area-content div.form .checkbox label { color:#575757;}
    .aceptacio .area-content div.form .checkbox label:hover { color:#fc6262;}
    .aceptacio .area-content div.form button	{ width:320px; float:none; display:inline-block;}

    .content-area	{ float:left; width:100%; background:#e3e3e3; padding:46px 0;}
    .panel { padding: 0 18px;  display: none;  background-color: white;  overflow: hidden;}

    .radio-pad		{ display:inline-block; width:34%; text-align:left; }
    .area-content div.form .radio {float:left;width:100%; margin:25px 0 0; font-family:'barlowbold';}
    .area-content div.form .radio input[type="radio"] { margin-right:15px;}
    .area-content div.form .radio label{display:inline-block; margin:10px 0 5px;}
    /*check box 1*/
    .radio input{visibility:hidden; position:absolute; left:0; top:0; width:1px; height:1px;}
    .area-content div.form .radio label{position:relative; padding-left:27px; font-size:16px; color:#333;  cursor:pointer; margin:0;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; line-height:20px; padding-bottom:0;}
    .radio label:after{width:14px; height:14px; border:1px solid #dfdfdf; background:#f6f6f6; position:absolute; content:""; left:0; top:4px; border-radius:50%;}
    .radio label:before{width:8px; height:8px;background:transparent; position:absolute; content:""; left:3px; top:7px;transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; z-index:99; border-radius:50%;}
    .radio input:checked + label:before{background:#4ca6db;}

    .area-container.aceptacio.canvi	{ top:80px;}
    .canvi .area-content div.form h3	{ margin-top:5px;}
    .canvi h3 img	{ display:inline-block; margin-right:12px; }

    .txt-box		{width:100%; padding:20px 20px; border:0 solid #000; font-size:16px; color:#747474; background:#f2f2f2;  height:120px; margin:0 0 0; font-family: 'barlowregular';}
    .txt-box.margn-top	{ margin-top:16px; height:83px;padding:20px 28px;}
    .txt-box.txt-doc	{ margin-top:16px; height:83px;}
    .area-content ul	{ float:left; width:100%; margin-top:45px; margin-left:7px;}
    .area-content li	{ float:left; width:100%; text-align:left; margin-bottom:10px;}
    .area-content li:last-child	{ margin-bottom:18px;}
    .canvi .area-content div.form input.frm-ctrl{width:100%; padding:20px 28px; border:0 solid #000; font-size:16px; color:#747474; background:#f2f2f2;  height:55px; margin:16px 0 0}
    .canvi .area-content div.form input.frm-ctrl.blue-line			{ border: 1px solid #4ca6db; color:#4ca6db;font-family: 'barlowbold';}
    .canvi .area-content div.form input.frm-ctrl.blue-line::placeholder { color: #4ca6db; opacity: 1}
    .canvi .area-content div.form input.frm-ctrl.blue-line:-ms-input-placeholder { color: #4ca6db;}
    .canvi .area-content div.form input.frm-ctrl.blue-line::-ms-input-placeholder { color: #4ca6db;}
    .canvi .area-content div.form input.frm-ctr.top-mrgn	{ margin-top:60px;}
    .frm-input-ctrl.browse {width: 100%; position:relative; margin-bottom:0; margin-top:16px;}
    .frm-input-ctrl.browse textarea, .frm-input-ctrl.browse select { background: #f2f2f2 none repeat scroll 0 0; border: 1px solid #4ca6db; font-family: 'barlowbold'; color: #4ca6db; display: block; font-size: 16px; height:55px; padding: 10px 60px 10px 28px; resize: none; width: 100%; overflow: hidden;line-height: 34px;}
    .frm-input-ctrl.browse select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234ca6db%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    .descar select::-ms-expand, .frm-input-ctrl.browse select::-ms-expand, .language-container select::-ms-expand {
        display: none;
    }
    .area-content .frm-input-ctrl.browse label { width:auto; position: absolute; right: 26px; top: 15px; margin-top:0; }
    .area-content .frm-input-ctrl.browse label input[type="file"] { display: none;}
    .frm-input-ctrl.browse img { cursor: pointer; float: right;}
    .canvi .area-content div.form input.frm-ctrl:focus, .txt-box:focus { border: 1px solid #fc6262;}
    .canvi .area-content div.form input.frm-ctrl::-webkit-input-placeholder {color:#000;  font-weight:400;}
    .canvi .area-content div.form input.frm-ctrl::-moz-placeholder {color:#000;  font-weight:400;}
    .canvi .area-content div.form input.frm-ctrl:-ms-input-placeholder {color:#000;  font-weight:400;}
    .canvi .area-content div.form input.frm-ctrl:-moz-placeholder {color:#000;  font-weight:400;}

    .aceptacio .dades		{ width:1148px;}
    .frm-left				{ width:48%; margin-right:4%; float:left;}
    .frm-right				{ width:48%; float:left;}
    .canvi .area-content.dades div.form input.frm-ctrl	{ margin-top:0;}
    .canvi .area-content.dades div.form label	{ margin-top:20px;}
    .canvi .area-content.dades p	{ margin-bottom:20px;}

    .jquery-datepicker__table thead { background: #fc6262;}
    .jquery-datepicker__table thead tr th { padding: 0; background:#fc6262;}
    .jquery-datepicker__table thead tr th span { color: #fff; background:#fc6262;}
    .jquery-datepicker__table thead tr th.jquery-datepicker__title span { line-height: 26px; font-size: 14px; color: #fff; font-family: 'PTSans-Regular';; font-weight: normal; background:#fc6262;}
    .jquery-datepicker__table tr td.jquery-datepicker__dayName span { font-size: 14px; color: #1e1f24; }

    .jquery-datepicker		{ width:100%;}

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'barlowsemibold';
        margin-bottom: 56px;
    }

    table.index-table {
        thead tr {
            background: #fc6262;
            color: #fff;

            th {
                padding: 16px 12px 12px;
                font-size: 18px;
            }
        }

        tbody tr {
            &:nth-child(odd) {
                background: #fff;
            }

            &:nth-child(even) {
                background: #f8f8f8;
            }

            td {
                color: #555;
                padding: 20px 16px 16px;
                text-align: center;
                font-size: 20px;
                border-right: 2px solid #e3e3e3;
                font-family: 'barlowlight';

                &:last-child {
                    border-right: none;
                }

                &.title {
                    font-family: 'barlowsemibold';
                    text-align: left;
                }

                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                }
            }
        }
    }

    .swal2-icon.swal2-info, .swal2-icon.swal2-warning {
        &:before {
            padding-top: 26px;
        }

        span.swal2-icon-text {
            display: none !important;
        }
    }

    .swal2-popup .swal2-actions {
        .btn {
            cursor: pointer;
            position: relative;
            padding: 12px 30px;
            margin: .3125rem 1px;
            font-size: .75rem;
            font-weight: 400;
            line-height: 1.428571;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0;

            &.btn-success {
                color: #fff;
                background-color: #4caf50;
                border-color: #4caf50;
            }

            &.btn-danger {
                color: #fff;
                background-color: #f44336;
                border-color: #f44336;
            }
        }
    }

    .edit-course {
        width: 512px;
        margin: 20px auto 72px;

        h3 {
            font-family: barlowsemibold;
        }

        ul li {
            width: 100%;

            .sbHolder {
                width: 100%;
            }
        }
    }

    .table .cf-row>li {
        width: 21%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table li.li-field-params, .table li .li-field-order, .table li.li-field-delete {
        width: 6%;
    }

    .table .sortable li .li-field-order {
        width: 40px;
        height: 40px;
        padding: 4px;
        background: white;
        border: 1px solid #b9b9b9;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        cursor: grab;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding-top: 5px;
        }
    }

    .table .cf-row {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: #f6f6f6;
        border-bottom: 1px solid #dddddd;
    }

    .repeater-field {
        margin-bottom: 48px;

        .table .cf-row {
            padding: 5px 10px;
            justify-content: space-between;
        }
    }

    .table .sortable .cf-item:last-child .cf-row {
        border-bottom: none;
    }

    .table .sortable .cf-row {
        background: #fff;

        li.li-field-text {
            width: 70%;

            input {
                width: 100%;
                padding: 0 10px 0 28px;
                font-size: 16px;
                color: #747474;
                background: #fff;
                height: 55px;
                margin: 0 0 8px;
                border: 1px solid #e6e6e6;
            }
        }
    }

    .table li.li-field-delete a {
        color: #fc6262;
    }

    .cf-title {

        span {
            display: block;
            font-family: barlowsemibold;
            font-size: 20px;
            line-height: 46px;
            padding: 0;
            text-align: left;
        }

        button {
            display: block;
            width: 28%;
            margin: 0 0 8px;
            font-size: 16px;
            height: 46px;
            padding: 0 40px;
        }
    }

    .inner-search .intranet-center {
        float: right;
        line-height: 39px;
        padding-top: 6px;
        vertical-align: middle;
        color: #fff;
        font-family: barlowsemibold;
    }
}