@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){

}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}
    ul.empres-list2 li { width:20%; margin-bottom:35px;}
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row{ width:1000px; }
/*footer*/
.foot-top li { margin-right:10px; }
.foot-top li img { max-width:95%;  }
/**/
.main-box .left-content { width:325px; }
.white-box { padding:25px 20px; }
.main-box .right-content { width:655px; }
.notices-txt h2 { padding:0px 10px 16px 0px; }
.notices-txt .imgbox { margin:0px; margin-right:20px; }
.right-content ul li .no-result .link-btn a { padding:0px 85px; }
.recent-list { width:79%; }

.player-info {width: 360px;}
.lft-arees {width:29%;}
.arees-box .arees-listpad h2 {font-size: 16px;}
.ddsmoothmenu ul li {margin: 0px 9px;}
.bsearch ul li input[type="text"] {width: 400px;}

}

@media screen and (max-width:1279px) {
    .arees-list li .player-info img { height: 214px }
}
 
@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row { width:1000px; }
/*footer*/
.foot-top li { margin-right:15px; padding-right:15px; }
.foot-top li img { max-width:95%;  }
/**/
.main-box .left-content { width:35%; }
.main-box .right-content { width:63%; }
.notices-txt .imgbox { margin:0px; margin-right:20px; }
.notices-txt h2 { font-size:22px; line-height:26px; padding:0px 10px 16px 0px; }
.recent-list { width:79%; }
.right-content ul li .no-result .link-btn a { padding:0px 85px; }
.right-content ul li .title h1 { font-size:26px; }

.tab-menu p {font-size: 16px;line-height: 22px;}

.player-info {width: 360px;}
.lft-arees {width:29%;}

.arees-box .arees-listpad h2 {font-size: 16px;}
#tipus ul li .caption {font-size: 16px;line-height: 20px;}
#tipus .owl-nav .owl-prev { left:0px;}
#tipus .owl-nav .owl-next { right:0px;}
#tipus {padding:0px 18px;}

.ddsmoothmenu ul li {margin: 0px 9px;}
.bsearch ul li input[type="text"] {width: 400px;}
.foot-top li p br{ display:none;}

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row{ width:750px; }

h1.page-title {font-size: 36px;line-height: 38px; margin-bottom: 35px;}

.qui-ban-cont h1 {font-size: 32px; line-height: 46px;}
.qui-ban-cont span.subtitle {font-size:20px; line-height:30px;}
.qui-som-cont { margin-top:0px;}

.round-div {width: 130px; height: 130px;}
.round-div h2 {font-size: 28px;line-height: 30px;}

.document-cont {padding: 32px 30px 0px 30px;}
.document-list li {width: 45%;margin: 0px 10% 20px 0px;}

.perfil-cont {padding: 45px 25px 45px 25px;}
.perfil-rgt {padding-left: 15px;}
.perfil-lft {padding-right: 15px;}
.perfil-rgt.perfil-rgt1 {padding: 0px 15px 0px 0px;}
.perfil-lft.perfil-lft1 {padding: 0px 0px 0px 15px;}

.agenda-cont {padding: 45px 35px 35px 35px;}
.agenda-list ul li h2 { font-size: 20px;line-height: 26px;}
.agenda-cont h1 {font-size: 22px;line-height: 32px;}
.agenda-list h1 {font-size: 36px;line-height: 38px;margin-bottom: 35px;}

.contact-right {padding: 0px 0px 0px 5%;}
.chck-bx {width: 100%; margin-bottom:20px;}

.inner-search .bsearch ul li input[type="text"] {width: 215px;}
.inner-search .bsearch ul li .sbHolder {width: 220px;}
.curs-lft h1 {font-size: 35px;}
.curso-menu-cont {padding: 35px 25px 20px 25px;}
.agenda-list.curso-list li{width: 49%;margin: 0px 2% 20px 0px;}
.agenda-list.curso-list li:nth-child(2n-2){margin-right: 0px;}
/*footer*/
.subscribe input[type="text"] { width:60%; }
.foot-top li { margin-right:25px; margin-bottom:-15px; }
/**/
.main-box .left-content { width:35%; margin-right:15px; }
.main-box .right-content { width:63%; }
.white-box { padding:25px 10px; }
.right-content ul li { padding:15px 15px; }
.notices-txt .imgbox { display:none; }
.notices-txt h2 { font-size:22px; line-height:26px; padding:0px 10px 16px 0px; }
.right-content ul li .no-result { font-size:18px; line-height:24px; }
.right-content ul li .no-result h3 { font-size:26px; line-height:24px; }
.right-content ul li .no-result .link-btn a { padding:0px 45px; }
.right-content ul li .title h1 { font-size:22px; }
a.pink-btn { font-size:17px; }
.left-content h1 { font-size:26px; }
.trobes h3 { font-size:25px; line-height:28px; }
ul.agenda li { width:100%; margin:0px 0px 16px 0px; }
ul.agenda li h2 { min-height:100%; font-size: 22px; }
.recent-list { width:70%; }

.resp-tabs-list li {padding: 0px 15px 0px 15px;}
.tab-menu p {font-size: 13px;line-height: 22px;}


ul.recurs-det li::before {width: 100px;}

/* home page */
.coneix-box p {font-size: 16px;}

.hagenda {width:100%;margin: 0px 0px 45px 0px;}
.hagenda ul li .a-rgt {width:100%;}
.hnotices {width:100%;}
.hnotices ul li{width:100%;}
.hnotices ul li .ntitle {min-height: inherit;}
.btn-rgt { float:left; width:100%; margin-top:20px;}
.cursos-box ul li .title {min-height: inherit; margin-bottom:20px;}
.cursos-box ul li .title h1 {font-size: 20px; line-height:26px; margin-bottom:5px; }
.cursos-box ul li .values a.pink-btn {float:left;margin-top:0px;padding: 10px 35px;}

.lft-arees { width:50%;}
.arees-list li.appear .player-info, .arees-list li:hover .player-info {display: none;}
.arees-box .arees-listpad h2 {font-size: 16px;}

.caption-txt {padding: 45px 25px; }
.tipus-car ul li {width: 23.5%;margin: 0px 2% 16px 0px;}
.tipus-car ul li:nth-child(5n) {margin-right:2%;}
.tipus-car ul li:nth-child(4n) {margin-right:0px;}
.tipus-car ul li .caption {font-size: 16px;line-height: 20px;min-height: inherit; margin-bottom:10px;}
.tipus-car .owl-nav .owl-prev { left:0px;}
.tipus-car .owl-nav .owl-next { right:0px;}
#tipus {padding:0px 18px;}

header .main-menu {padding: 15px 0px;}
header .logo {width: 100%;text-align: center; margin:0px 0px 10px 0px;}
header .logo img {float: none;}
header .logo img.logo-desk {width: auto}
.menu { text-align:center;}
.bsearch {padding: 20px 0px;}
.bsearch ul li input[type="text"] {width: 285px;}
.bsearch ul li .sbHolder {width: 280px;}
.banner-caption {bottom: 20px;}
.banner-caption h1 {font-size:40px;line-height: 40px;padding-left: 0px;}
.banner-caption h1 span {font-size: 20px;line-height: 26px; padding-top: 5px;}
.bsearch ul li {padding: 10px 5px 0px 0px;}
.foot-top li br{ display:none;}
.foot-top li:nth-child(2) {  width:45%; border-right:none; margin-right:0; padding-right:0; }
.foot-top li:last-child {width: 100%; margin-top: 20px;}
.foot-top li:last-child{ width:100%; margin-top:15px;}
.foot-top li ul li{ width:auto; margin-right: 20px;}
.foot-top li ul li:nth-child(2){ margin-right:20px;}
.foot-top li ul li:last-child{ width:auto; margin-top:0;}
.foot-top li:first-child {width: 45%; margin-right: 5%; margin-bottom: -5px;}

.foot-top li:nth-child(2) {border-right: none;margin-right: 0;padding-right: 0;}
.foot-top li p br{ display:none;}

}

@media screen and (max-width:1023px) {
    .cursos-box ul li .values .info-lft {max-width: none}

    .formacio-types .tipus .type-icon {
        width: 12%;
    }

    .formacio-types .tipus .type-txt {
        width: 88%;
    }

    ul.empres-list2 li { width:25%; margin-bottom:35px;}

    .hnotices.noticies-no-agenda ul li, .hnotices.noticies-no-agenda ul li:first-child {width: 100%; margin-right: 0}
    .hnotices ul li .ntitle {height: inherit}
}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row{ width:100%; padding:0px 15px; }

.mobNav, .m-menu { display:block;}
.inner-header .menu { display:none;}
header.inner-header { border-bottom:1px solid #e7e7e7;}
.logo-mobile { display:block; float:none; width:124px; margin:auto;padding-bottom: 12px;}
.search-div { display:block;}

.qui-som-outer { background:#fff;}
.qui-ban-cont { top:auto; bottom:20px;}
.qui-ban-cont h1 {font-size:30px; line-height:40px; padding-left:0px;}
.qui-ban-cont span.subtitle {font-size:20px; line-height:30px; padding-left:0;}
.qui-som-cont { margin-top:0px; padding: 30px 0px 20px 0px; margin-bottom: 20px;}
.qui-som-cont h1 {font-size: 22px;line-height: 30px;}
.qui-img-mobile{ display:block;}
.qui-img-desk { display:none;}
.bread-cum {padding: 12px 0px 10px; background:#fff; margin-bottom:18px; }

.bread-cum ul li {margin: 0px 5px 0px 0px;padding: 0px 15px 0px 0px;}
h1.page-title {font-size: 28px;line-height: 35px; margin-bottom: 25px;}
.logo-cont h2{font-size: 22px;line-height: 30px;}
.logo-cont h3 {font-size: 17px;line-height: 26px; width: 100%}
.logo-cont ul { width: 100% }
.support-logo {margin-top: 20px;}
.support-logo h2 {font-size: 22px;line-height: 30px;text-align: left;}
.support-logo ul li {width: 48%;margin-right:4%; margin-bottom:20px;}
.support-logo ul li:nth-child(2n-2) {margin-right: 0px;}

p.page-desc {font-size: 18px;line-height: 26px;}
p.page-desc:not(.page-desc-mob) br { display:none;}
.perfils-outer { background:#fff; margin-bottom:45px;}
.perfils-outer .row { padding:0px; }
.perfil-cont {padding: 0px 0px 0px 0px; margin-bottom: 0px;}
.perfil-rgt { float:left; width:100%; padding:0px;}
.perfil-lft { padding:25px 20px; width:100%;}
.perfil-rgt.perfil-rgt1 { width:100%;padding:0px;}
.perfil-out { margin-bottom:15px;}
.perfil-lft.perfil-lft1 {padding:25px 25px; }
.perfil-lft ul { float:left; width:100%; border-bottom:1px solid #e9e9e9; padding-bottom:25px;}
.perfil-lft h2 {font-size: 24px;line-height: 32px;}
.perfil-lft p { margin-bottom: 30px;}

.empres-lft{ width:100%; padding:0px;}
.empres-lft p { margin-bottom:0px;}
.empres-rgt{ width:100%; padding:0px;}

ul.empres-list1 li {width:50%; margin-bottom:35px; padding:0px 20px;}
ul.empres-list1 li:last-child { width:100%;}
ul.empres-list2 li { width:50%; margin-bottom:35px;}
ul.empres-list2 li:last-child { width:100%;}

.qui-som-cont .emp-link-list h1 {font-size:20px;line-height:26px; margin-bottom:18px;}

.emp-link-list ul{ display:none;}
.emp-link-list li { width:48%; margin-right:4%; margin-bottom:25px;}
.emp-link-list li:nth-child(2n-2) {margin-right: 0px;}
.mobile-link-emp { display:block;}
.emp-link-list .mobile-link-emp ul{ display:block;}
.emp-link-list.emp-link-list-mb .mobile-link-emp{ padding-top:0px; border:none;}

.mobile-link-emp.mobile-link-curs { margin-top:2px;}

.document-cont, .url-cont {padding:30px 0px 0px; margin-bottom:0px;}
.document-list li, .url-list li {width:100%;margin: 0px 0px 20px 0px;}
.document-list li h2 a {font-size: 18px;}
.document-cont h1 {font-size: 24px;line-height: 30px;}
.document-list {margin-bottom:25px;}
.qui-som-outer { margin-bottom:25px;}
.btn-div-doc { display:block;}

.agenda-cont {padding:25px 0px 25px 0px;}
.agenda-cont h1 {font-size: 22px;line-height: 30px;}
.agenda-cont h4.date {font-size: 14px;}

.agenda-list {margin:10px 0px 50px;}
.agenda-list h1{font-size: 22px;line-height: 30px; text-align:left; margin-bottom: 5px;}
.agenda-list ul li {width: 49%; margin-right:2%; margin-bottom:25px;}
.agenda-list ul li:nth-child(2n-2) {margin-right: 0px;}
.agenda-list ul li h2 { font-size: 20px;line-height: 26px;}
.agenda-list ul { display:none;}
.mobile-agenda-list{ display:block; margin-top:0px;}
.agenda-list .mobile-agenda-list ul{ display:block;}

.contact-right {padding: 0px 0px 0px 0px; width:100%; margin-bottom:35px;}
.contact-left { width:100%;}
.contact-box h2 {font-size: 20px;padding-bottom: 18px;}
.contact-right ul li {font-size: 16px;}
.chck-bx {width: 100%; margin-bottom:20px;}
.btn-ctr {width: 100%;}
button.env-btn {padding: 0px 75px;}

.inner-search{ display:none; position:relative; top:0px; z-index:9;}
.inner-search.open-search{ display:block;}
.inner-search.search-float{ position:fixed; top:54px; z-index:999;}
.logo-inner { display:none;}
.inner-search .bsearch {width:100%;}
.inner-search .bsearch ul li { width:100%; margin:0px 0px 7px 0px;}
.inner-search .bsearch ul li:first-child {padding-right:0px;}
.inner-search .bsearch ul li input[type="text"] {width:100%;}
.inner-search .bsearch ul li .sbHolder {width: 100%;}
.inner-search .bsearch ul li input[type="button"] { width: 100%;}

.cursos-out {margin: 5px 0px 30px;}
.curs-lft { width:100%; margin-bottom:30px;}
.curs-lft h1 {font-size:24px; line-height:34px;}
.curs-lft h1 img { display:block;}
.curs-rgt { width:100%;}
.curs-btns {width:100%;}
.curs-btns ul li:first-child{ display:none;}
a.grey-btn {font-size: 16px;padding: 15px 15px;}
a.pink-btn1 {font-size: 16px;padding: 15px 15px;}
.curs-lft span a {font-size: 14px;margin-right: 5px;}

.curso-menu-cont {padding:25px 20px 20px 20px;}
.curso-menu-cont section ul.intro-list {width:100%;}
.curso-menu-cont section { padding:55px 0px 0px 0px; margin-bottom:40px;}
.curso-menu-cont section ul.temari-list li { margin-bottom:12px; padding-left:15px; position:relative;}
.curso-menu-cont section ul.temari-list li::after {content:""; position:absolute; width:6px; height:6px; border-radius:25px; border:1px solid #FB6262; left:0px; top:9px;}

.agenda-list.curso-list {margin: 50px 0px 30px;}
.agenda-list.curso-list li .curs-rel-list ul li { margin-bottom:8px; } 
/*footer*/
.lft-news { width:46%; margin-right:4%; }
.subscribe input[type="text"] { width:63%; }
.subscribe input[type="button"] {  padding:6px 30px; }
.lft-news h2 { font-size:24px; }
.foot-top li {  float:left; width: 45%; margin-bottom:5px; margin-right:5%; }
/*Notices Page*/
.main-box { padding:20px 0px 30px 0px; }
.main-box .left-content { width:100%; margin-right:0px; }
.main-box .right-content { width:100%; margin-top:30px; }
.notices-txt .imgbox { display:none; }
.notices-txt span.ndate { position:absolute; top:0px; }
.notices-txt h2 { font-size:22px; line-height:26px; margin-top:35px; }
.btn-div { margin-bottom:30px; }
.right-content ul li .no-result { font-size:18px; line-height:24px; }
.right-content ul li .no-result h3 { font-size:26px; line-height:24px; }
.right-content ul li .no-result .link-btn a { padding:0px 45px; }
.right-content ul li .title h1 { font-size:22px; }
a.pink-btn { font-size:17px; }
.right-content ul li .title { min-height:100%; }
.cursos h1.page-title { font-size:27px; line-height:36px; }
.cursos .la-tag { margin-bottom:0px; }
.recent-list { width:65%; }
ul.agenda li { width:100%; margin:0px 0px 16px 0px; }
ul.agenda li h2 { min-height:100%; }

.down-btn {display:block;}
.page-desc-mob { display:block;}
.page-desc-des { display:none;}

.recurs-cont {margin: 0px 0px 22px;}
.tab-menu {float: none;text-align: left; padding: 0px 0px 0px;}
.resp-tabs-list li:hover .tab-menu::after, .resp-tab-active .tab-menu::after {width: 0; height:0px;}
h2.resp-accordion p br { display:none;}

ul.recurs-det li {width: 50%;}
ul.recurs-det li:nth-child(3n-3)::after {width:1px;}
ul.recurs-det li::before {width: 140px;right: auto;}
.resp-tab-content {padding: 30px 20px 20px; border-top:none;}
ul.recurs-det li h3 {margin-bottom: 15px;font-size: 16px;}
.tab-recurs h2 {font-size: 15px;}
ul.recurs-det {margin-top: 10px;}

/* home page */
.coneix-box {padding:35px 0px;}
.coneix-box h2 {font-size: 22px;}
.video-right{ width:100%; margin-bottom:32px;}
.video-ico span {width: 40px;height: 40px;}
.video-left {width: 100%;padding: 0px 0px 0px 0px; text-align:center;}
.coneix-box h3 {font-size: 18px;margin-bottom: 15px; text-align:left;}
.coneix-box p {font-size: 16px; text-align:left;}

.agno-box {padding:35px 0px 30px;}
.agno-box h2 {font-size: 20px;padding-bottom: 8px;}
.agno-box a.lnk {color: #FB6262; text-decoration:underline;font-size: 15px; margin-top:2px;}
.agno-box a.lnk:hover {text-decoration:none;}
.hagenda {width:100%;margin: 0px 0px 45px 0px;}
.hagenda ul li { background:#f8f8f8;}
.hagenda ul li .a-lft {font-size: 34px;padding: 23px 0px;}
.hagenda ul li .a-rgt {padding: 12px 15px 6px 15px; width:100%;}
.hagenda ul li .a-rgt .ag-title { min-height: inherit; font-size: 15px;margin-bottom: 7px;}
.hnotices {width:100%;}
.hnotices ul li{width:100%;}
.hnotices ul li .ntitle {min-height: inherit;}

.cursos-box { padding:30px 0px 12px;}
.cursos-box h2{font-size: 20px;padding-bottom: 8px;}
.lnk-des { display:none;}
.lnk-mob { display:block;}
.cursos-box a.lnk {color: #FB6262; text-decoration:underline;font-size: 15px; margin-top:2px;}
.cursos-box a.lnk:hover {text-decoration:none;}

.btn-rgt { float:left; width:100%; margin-top:20px;}
.cursos-box ul { display:none;}
.cursos-box ul li { width:100%; margin:0px;}
.cursos-box ul li .title {min-height: inherit; margin-bottom:20px;}
.cursos-box ul li .title h1 {font-size: 20px; line-height:26px; margin-bottom:5px; }
.cursos-box ul li .values a.pink-btn {float:left;margin-top:0px;padding: 10px 45px;}
.cursos-box ul li .values span.loc { margin-bottom:10px;}

.mobile-link-cursos { display:block;}
.cursos-box .mobile-link-cursos .item ul { display:block;}

.arees-box {padding:20px 0px 30px;}
.arees-box h2 {font-size: 20px;padding-bottom: 8px;}
.lft-arees { width:100%!important;margin-left: 0%!important;}
.lft-arees-2 { display:none;}
.arees-list li.appear .player-info, .arees-list li:hover .player-info {display: none;}
.arees-box .arees-listpad h2 {font-size: 16px; width: 98%;}
.btn-div1 { display:block;}

.tipus-box {padding:25px 0px 70px 0px;}
.tipus-box h2{font-size: 20px;padding-bottom: 8px;}
.caption-txt { display:none;}
.caption-txt.caption-txt-mbl { display:block;padding:10px 25px;font-size: 18px;line-height: 28px;  }
.recent-list { margin-top:5px; margin-left:0px; width:100%; }
.recent-list li { font-size:13px; }
/*.right-content ul li { padding:15px; }*/
.cursos h1.page-title { font-size:24px; line-height:28px; margin:0px 0px 10px 0px; }
.cursos .la-tag { margin-bottom:0px; }
.cursos h1.page-title { margin:0px 0px 20px 0px; }

.filter-div { display:block; }
.filter-box { display:none; }
.filter-box.open-filter { display:block; }
.main-box { position:relative; }
.left-content h1 { font-size:24px; margin-bottom:12px; }
.trobes, .las { display:none; }
.white-box { padding:20px 15px; }
.input-container label { font-size:15px; }
.cursos .la-tag.desktop { display:none;}
.cursos .la-tag.mob { display:block;}
#getcal { border-top: 1px solid #DBDBDB;}

.cursos1 .la-tag.desktop { display:none;}
.cursos1 .la-tag.mob { display:block;}

.main-box .left-content { margin-top:-10px;}

.desk-home{ display:none;}
.mob-home{ display:block;}
.menu { display:none;}
.banner-caption {bottom:90px;}
.banner-caption h1 {font-size:22px;line-height:22px;padding-left: 0px; text-align: center; color:#fff;}
.banner-caption h1 span {font-size:18px;line-height:24px; color:#fff; padding-top: 8px;}
.bsearch {padding: 12px 5%;}
.bsearch ul li { width:100%; padding: 10px 5px 0px 0px;}
.bsearch ul li input[type="text"] {width:100%;}
.bsearch ul li .sbHolder{width:100%; padding: 0px 10px;}
.bsearch ul li input[type="button"]{width:100%;}
.header-home { position:absolute;}
.logo-mob { display:block;}
.logo-desk { display:none;}
header .logo {width:100%; margin-top:2px; text-align:center;}
header .logo img.logo-mob { float:none; display:inline-block;}

.header-home .m-menu a span {background: #fff;}
.header-home .m-menu a:hover span {background: #222;}

.header-home .is-sticky .m-menu a span {background:#fd6361;}
.header-home .is-sticky .m-menu a:hover span {background: #222;}
header .is-sticky .logo img.logo-mob { display:none;}
header .is-sticky .logo img.logo-desk { display:inline-block; text-align:center; float:none;}

#tipus { display:none;}
#tipus-mob { display:block; padding:0px 18px;}

.tipus-car .owl-nav .owl-prev { left:0px;}
.tipus-car .owl-nav .owl-next { right:0px;}
.tipus-car ul li { width:49%; margin-right:2%;}
.tipus-car ul li:nth-child(2n) { margin-right:0px;}
.tipus-car ul li:nth-child(5n) { margin-right:2%; }
.tipus-car ul li .caption { min-height:inherit; margin-bottom:12px; font-size:16px;}
.tipus-car ul li .curs {font-size: 14px;}
.tipus-car .owl-dots {margin-top:10px;}

.la-tag.la-tag-notice{ display:block;}
.down-btn{padding-left:0;}
.foot-top li br{ display:none;}
.foot-top li:nth-child(2) { width:45%; border-right:none; margin-right:0; padding-right:0; }
.foot-top li:last-child {width: 100%; margin-top: 20px;}
.foot-top li:last-child{ width:100%; margin-top:15px;}
.foot-top li ul li{ width:auto; margin-right: 20px;}
.foot-top li ul li:nth-child(2){ margin-right:20px;}
.foot-top li ul li:last-child{ width:auto; margin-top:0;}
.foot-top li:first-child {width: 45%; margin-right: 5%; margin-bottom: -5px;}
#home-slider .item img {height: 94vh; object-fit: cover;}

.bsearch ul li input[type="submit"] {width: 100%;}

.is-sticky .main-menu {padding: 12px 0;}
}

@media screen and (min-width:639px) {
    .right-content>ul li .values .mlink {position: absolute;right: 22px;bottom: 20px;}
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row{ width:100%; padding:0px 15px; }
/*footer*/
.lft-news { width:100%; margin-right:0%; margin-bottom:20px; }
.subscribe input[type="text"] { width:67%; }
.subscribe input[type="button"] {  padding:6px 50px; }
.lft-news h2 { font-size:28px; }
.rht-news { width:100%; }
.newsletter-box { padding:30px 0px; }
.foot-top li { width:45%; margin-right:5%; margin-bottom:-5px; }
.foot-top li:nth-child(2) { border-right:none; margin-right:0; padding-right:0; }
.foot-btm li { float:left; width: auto; margin:0%; margin-bottom:5px; margin-right:20px;  }
.foot-btm li a { color:#FB6262; }
.foot-btm li a:hover { color:#707070; }
.foot-top li:last-child{ width:100%; margin-top:15px;}
.foot-top li ul li{ width:auto; margin-right: 20px;}
.foot-top li ul li:nth-child(2){ margin-right:20px;}
.foot-top li ul li:last-child{ width:auto; margin-top:0;}
/**/
.notices-txt h2 { font-size:20px; }
.right-content ul li .no-result { font-size:18px; line-height:22px; }
.right-content ul li .no-result h3 { font-size:22px; line-height:20px; }
.right-content ul li .no-result .link-btn a { padding:0px 25px; width:100%; margin-bottom:10px; }
.right-content ul li .title h1 { font-size:21px; line-height:26px; margin-bottom:5px; }
.right-content ul li .values { margin-top:5px; font-size:15px; }
a.pink-btn { font-size:17px; }
.right-content ul li .title { min-height:100%; }
.right-content ul li .mlink { float:left; width:100%; text-align:center; }
.right-content ul li .values a.pink-btn { float:none; display:inline-block; margin-top:20px; padding:10px 50px; }
.trobes h3 { font-size:25px; line-height:28px; }
ul.agenda li h2 { font-size:22px; }

.right-content ul li .no-result h3 { padding:20px 0px; }

ul.recurs-det li {width:100%;padding: 0px 0px 10px 0px;}
ul.recurs-det li::after {width:0px;}
ul.recurs-det li:nth-child(3n-3)::after {width:0px;}

.foot-top li:last-child ul li{width:33.33%; margin-right:0; margin-bottom:10px; min-height:35px;}
.arees-list .list ul li {width: 100%;margin-left: 0!important;}

.tipus-car ul li .icon1 {display: none;}
.tipus-car ul li .icon1.hover {display: block;}

    .qui-som-row > div {
        width: 100%;
    }

    .qui-som-row > div.qui-som-col-img {
        display: none;
    }

    h1.types-title {
        width: 100%;
    }

    .formacio-types .tipus > div {
        display: block;
        vertical-align: top;
    }

    .formacio-types .tipus .type-icon {
        width: 100%;
        text-align:center;
        margin-bottom: 20px
    }

    .formacio-types .tipus .type-icon img {
        width: auto;
        padding-right: 0;
    }

    .formacio-types .tipus .type-txt {
        width: 100%;
    }

    .filter .filter-search {
        width: 100%;
    }

    .logo-cont ul li { width: 100% }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.row { width:100%; padding:0px 15px; }	

/*h1.page-title {font-size:22px;line-height: 30px;}*/

.qui-ban-cont h1 {font-size: 22px;line-height: 30px;}
.qui-ban-cont span.subtitle {display:none}
ul.empres-list1 li {padding:0px 0px;}
.round-div {width: 120px; height: 120px;}
.round-div h2 {font-size: 28px;line-height: 30px;}

.emp-link-list li { width:100%;}

.agenda-list ul li {width:100%; margin-right:0px;}
.agenda-list h1 {font-size: 17px;line-height: 26px;}

.curso-menu-links li a {font-size: 14px;padding: 14px 7px;}
/*footer*/
.subscribe input[type="text"] { width:63%; }
.subscribe input[type="button"] {  padding:6px 25px; }
.lft-news h2 { font-size:24px; }
.lft-news h2 span { font-size:17px; }
.foot-btm li { float:left; width:45%; margin:0px 0px 5px 0%; }
/**/
.cursos h1.page-title { font-size:20px; line-height:24px; margin:0px 0px 10px 0px; }
.right-content ul li .no-result h3 { font-size:20px; line-height:18px; }
.right-content ul li .no-result { font-size:16px; line-height:20px; padding:0px 0px; }
.right-content ul li .no-result .link-btn a { font-size:16px; padding:0px 20px; margin:0px 0px 10px 0px; }
.trobes h3 { font-size:23px; line-height:26px; }
ul.agenda li h2 { font-size:20px; line-height:24px; }
.right-content ul li .values span.cdate, .right-content ul li .values span.loc { padding-left:20px; }
.right-content ul li .values span.cdate::before, .right-content ul li .values span.loc::before { margin-left:-20px; }

.simg img { width:50%; }

h2.resp-accordion {padding: 12px 45px 12px 15px;}
.tab-menu p { font-size:17px;}
h2.resp-tab-active {padding: 12px 45px 12px 15px !important;}

.banner-caption {bottom:30px;}
#play, .video-img:hover #play.play{width:43px; background-size:100%;}
.down-btn a.down{width:100%; font-size:16px;}
.foot-top li {width: 100%;margin-right: 0; margin-bottom: 20px;border-right: none;padding-right: 0;}
.foot-top li:last-child {width: 100%;margin-top: 0;margin-bottom: 0;}
.foot-top li ul li{ margin-bottom:10px;}

.forma{width:100%;}
.forma br{display:none;}
img.i-forma{margin-left:0;}
.foot-top li:first-child {    width: 100%;    margin-right: 0;    margin-bottom: 15px;}
.foot-top li:nth-child(2){ width:100%;}
.foot-top li:last-child ul li{width:50%; margin-right:0; margin-bottom:10px; min-height:35px;}
}
@media screen and (max-width:359px) {

}


