.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  border: none;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
  margin-bottom:10px;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #fff;
  padding: 15px 0px;
  color:#262626; font-family: 'barlowsemibold'; font-size:18px; letter-spacing:0.5px;
  display: block;
  cursor: pointer;
  border-radius:0px;  
  border-bottom:1px solid #DBDBDB;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 19px;
  height: 10px;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -5px;
  background: url(../images/arrow-down1.svg) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  background: #fff;
  /*color: #7B7E85;*/
  padding:15px 0px;
  float:left; width:100%;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 0px;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 0px 0px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
  background: #fff;
}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/arrow-up.svg) center 0px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head {
  padding-right: 0px;
}
