@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'barlowblack';
    src: url('../fonts/barlow-black-webfont.eot');
    src: url('../fonts/barlow-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-black-webfont.woff') format('woff'),
         url('../fonts/barlow-black-webfont.ttf') format('truetype'),
         url('../fonts/barlow-black-webfont.svg#barlowblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow-bold-webfont.eot');
    src: url('../fonts/barlow-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-bold-webfont.woff') format('woff'),
         url('../fonts/barlow-bold-webfont.ttf') format('truetype'),
         url('../fonts/barlow-bold-webfont.svg#barlowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextrabold';
    src: url('../fonts/barlow-extrabold-webfont.eot');
    src: url('../fonts/barlow-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-extrabold-webfont.woff') format('woff'),
         url('../fonts/barlow-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/barlow-extrabold-webfont.svg#barlowextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextralight';
    src: url('../fonts/barlow-extralight-webfont.eot');
    src: url('../fonts/barlow-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-extralight-webfont.woff') format('woff'),
         url('../fonts/barlow-extralight-webfont.ttf') format('truetype'),
         url('../fonts/barlow-extralight-webfont.svg#barlowextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow-light-webfont.eot');
    src: url('../fonts/barlow-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-light-webfont.woff') format('woff'),
         url('../fonts/barlow-light-webfont.ttf') format('truetype'),
         url('../fonts/barlow-light-webfont.svg#barlowlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlow-medium-webfont.eot');
    src: url('../fonts/barlow-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-medium-webfont.woff') format('woff'),
         url('../fonts/barlow-medium-webfont.ttf') format('truetype'),
         url('../fonts/barlow-medium-webfont.svg#barlowmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular-webfont.eot');
    src: url('../fonts/barlow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-regular-webfont.woff') format('woff'),
         url('../fonts/barlow-regular-webfont.ttf') format('truetype'),
         url('../fonts/barlow-regular-webfont.svg#barlowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowsemibold';
    src: url('../fonts/barlow-semibold-webfont.eot');
    src: url('../fonts/barlow-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-semibold-webfont.woff') format('woff'),
         url('../fonts/barlow-semibold-webfont.ttf') format('truetype'),
         url('../fonts/barlow-semibold-webfont.svg#barlowsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlow-thin-webfont.eot');
    src: url('../fonts/barlow-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlow-thin-webfont.woff') format('woff'),
         url('../fonts/barlow-thin-webfont.ttf') format('truetype'),
         url('../fonts/barlow-thin-webfont.svg#barlowthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { padding:0px; margin:0px; background:#fff; font-size:16px; color:#363636; line-height:20px; font-family: 'barlowregular'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #192432; text-decoration: none;  }
div { margin: 0; padding: 0; }
p { font-size:18px; line-height:28px; padding:0px; margin:0px; color:#535353;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
a{ color: #192432; outline:none; }
strong {font-family: 'barlowbold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row{ width:1120px; margin:auto; padding:0px;}

header {float:left; width:100%;position:relative; z-index:999; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
header .main-menu {float:left; width:100%; padding:32px 0px; margin:0px 0px;}

/*header .logo {float:left;}*/
h1.logo {color: #262626; text-align: left; font-family: 'barlowbold'; font-size: 22px; font-family: 'barlowbold';}
h1.logo span {color:#FB6262}
header .logo img{float:left; width:auto; }
header .logo img.logo-desk {width: 120px}
.menu { float: right;}

/*#sticky-wrapper { height:auto!important;}*/
.sticky-logo { float:left; display:none;}
.is-sticky .menu-top .menu { float:right;}
.is-sticky .main-menu { background:#ffffff; float:left; width:100%; padding: 16px 0; margin:0px; border-bottom: 1px solid #dbdbdb;}
.logo-mob { display:none;}
#tipus-mob { display:none;}

/*Banner Css*/
.banner-home { float:left; width:100%; position:relative;}
.banner-home img{ float:left; width:100%}
.banner-caption { float:left; width:100%; position:absolute; bottom:35px; z-index:10; }
.banner-caption h1 { display:block; color: #fff; font-size:56px; font-family: 'barlowbold'; line-height:52px; padding-left:60px; }
.banner-caption h1 span { display:block; color: #fff; font-size:26px; font-family: 'barlowregular'; line-height:26px; padding-top:15px;  }
.bsearch { float:left; width:100%; padding:20px 5%; margin:0px 0px; }
.bsearch ul { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
.bsearch ul li { float:left; padding:20px 5px 0px 0px; margin:0px 0px; }
.bsearch ul li input[type="text"] { float: left; width:512px; border: none; background: #fff; font-size: 18px; font-family: 'barlowregular'; color:#393939; padding: 0 10px; height: 46px;  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.bsearch ul li input[type="submit"] { font-family: 'barlowbold'; background:#FB6262;  color:#fff; font-size:18px; line-height:34px; letter-spacing:0.5px; padding:6px 55px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; display: inline-block; border:0px solid #fff; cursor: pointer;}
.bsearch ul li input[type="submit"]:hover { background:#393939; color:#FFFFFF;}
.bsearch ul li .sbHolder, .edit-course ul li .sbHolder {background:#FFFFFF; border: 0px solid #FFFFFF; color:#393939; padding:0px 21px; width:312px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.bsearch ul li .sbSelector {font-family: 'barlowregular'; font-size:18px; color: #393939; width: 100%; line-height:46px; height:46px; padding:0px 0; text-align:left; }
.bsearch ul li .sbHolder ul.sbOptions, .edit-course ul li .sbHolder ul.sbOptions { width:100%!important;font-family: 'barlowregular'; overflow: scroll }
.bsearch ul li .sbOptions a, .edit-course ul li .sbOptions a { font-size:18px; line-height:34px; }
.bsearch ul li .sbToggle { background:url(../images/arrow-down.svg) no-repeat; width:16px; height:8px; margin:8px 20px 0px 0px; }

.caption-txt { float:left; width:100%; position:relative; font-size:22px; color:#000000; text-align:center; line-height:30px; padding:45px 135px; margin:0px 0px 20px 0px; }
.caption-txt strong,.caption-txt b { font-family: 'barlowsemibold'; color:#FB6262; font-weight:normal; }

.caption-txt.caption-txt-mbl { display:none;}

.mob-home{ display:none;}

/*Tipus Box*/
.tipus-box { float:left; width:100%; padding:0px 0px 70px 0px; margin:0px 0px; }
.tipus-box h2 { display:block; color: #393939; font-size:28px; font-family: 'barlowbold'; line-height: 24px; border-bottom:1px solid #FF0000; padding-bottom:15px; margin-bottom:24px; }
.tipus-car ul { float:left; width:100%; padding:0px 0px; margin:0px 0px;flex-wrap: wrap; -webkit-flex-wrap: wrap;  display: flex; display: -webkit-flex; }
.tipus-car ul li { float:left; width:18.8%; background:#FFFFFF; border:1px solid #DBDBDB; padding:16px 12px; margin:0px 1.5% 16px 0px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover { background:#FB6262; border:1px solid #FB6262; }
.tipus-car ul li:nth-child(5n) { margin-right:0px; }
.tipus-car ul li .caption { float:left; width:100%; font-family: 'barlowsemibold'; font-size:20px; color:#393939; line-height:22px; min-height:80px; padding:5px 0px; margin:0px 0px;  }
.tipus-car ul li .curs { display:block; font-family: 'barlowregular'; font-size:18px; color:#FB6262; }
.tipus-car ul li:hover .caption { color:#FFFFFF;  }
.tipus-car ul li:hover .curs { color:#FFFFFF; }
.tipus-car ul li:hover .icon1.hover {display: block;}
.tipus-car ul li .icon1.hover {display: none;}
.tipus-car ul li .icon1 { background:url(../images/red-icon-01.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon1:not(.hover) { background:url(../images/red-icon-01-h.svg) no-repeat; display: none; }
/*.tipus-car ul li .icon2 { background:url(../images/red-icon-02.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon2 { background:url(../images/red-icon-02-h.svg) no-repeat; }
.tipus-car ul li .icon3 { background:url(../images/red-icon-03.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon3 { background:url(../images/red-icon-03-h.svg) no-repeat; }
.tipus-car ul li .icon4 { background:url(../images/red-icon-04.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon4 { background:url(../images/red-icon-04-h.svg) no-repeat; }
.tipus-car ul li .icon5 { background:url(../images/red-icon-05.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon5 { background:url(../images/red-icon-05-h.svg) no-repeat; }
.tipus-car ul li .icon6 { background:url(../images/red-icon-06.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon6 { background:url(../images/red-icon-06-h.svg) no-repeat; }
.tipus-car ul li .icon7 { background:url(../images/red-icon-07.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon7 { background:url(../images/red-icon-07-h.svg) no-repeat; }
.tipus-car ul li .icon8 { background:url(../images/red-icon-08.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon8 { background:url(../images/red-icon-08-h.svg) no-repeat; }
.tipus-car ul li .icon9 { background:url(../images/red-icon-09.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon9 { background:url(../images/red-icon-09-h.svg) no-repeat; }
.tipus-car ul li .icon10 { background:url(../images/red-icon-10.svg) no-repeat; width:75px; height:70px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.tipus-car ul li:hover .icon10 { background:url(../images/red-icon-10-h.svg) no-repeat; }*/
.tipus-car .owl-nav .owl-prev {float: left;width: 13px;height: 24px;background: url("../images/lft-arrow.png") no-repeat;position: absolute; bottom:50%;left:-28px; background-position: 0px 0px;  margin-bottom:-5px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.tipus-car .owl-nav .owl-prev:hover { opacity:0.7;}
.tipus-car .owl-nav .owl-next {float: left;width: 13px;height: 24px;background: url("../images/rht-arrow.png") no-repeat;position: absolute;bottom:50%;right:-28px; background-position:0px 0px;  margin-bottom:-5px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.tipus-car .owl-nav .owl-next:hover { opacity:0.7;}
.tipus-car .owl-dot { background: #D8D8D8; width: 10px; height: 10px; float:none; display:inline-block; margin-right: 16px;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%;  border-radius: 50%; }
.tipus-car .owl-dot:last-child{ margin-right:0px;} 
.tipus-car .owl-dot.active { background:#FB6262; }
.tipus-car .owl-dots { position:absolute; margin-top:20px; left:0px; width:100%; text-align:center; }


#home-slider .owl-controls {position: relative;z-index: 2;}
#home-slider .owl-nav .owl-prev {float: left;width: 13px;height: 24px;background: url("../images/lft-arrow.png") no-repeat;position: absolute; bottom:50%;left:-28px; background-position: 0px 0px;  margin-bottom:-5px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
#home-slider .owl-nav .owl-prev:hover { opacity:0.7;}
#home-slider .owl-nav .owl-next {float: left;width: 13px;height: 24px;background: url("../images/rht-arrow.png") no-repeat;position: absolute;bottom:50%;right:-28px; background-position:0px 0px;  margin-bottom:-5px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
#home-slider .owl-nav .owl-next:hover { opacity:0.7;}
#home-slider .owl-dot { background: #f3f3f3; width: 10px; height: 10px; float:none; display:inline-block; margin-right: 16px;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%;  border-radius: 50%; }
#home-slider .owl-dot:last-child{ margin-right:0px;} 
#home-slider .owl-dot.active { background:#FB6262; }
#home-slider .owl-dots { position:absolute; bottom: 10px; left:0px; width:100%; text-align:center; }
#shadow {background: rgba(0, 0, 0, 0.2);top: 0;left: 0;width: 100%;height: 100%;z-index: 2;position: absolute;}

/*Arees Box*/
.arees-box { float:left; background:#F0F0F0; width:100%; padding:60px 0px; margin:0px 0px; }
.arees-box h2 { display:block; color: #393939; font-size:28px; font-family: 'barlowbold'; line-height: 24px; border-bottom:1px solid #FF0000; padding-bottom:15px; margin-bottom:24px; }

.arees-list { float:left; width: 100%; position: relative; padding-bottom:10px; }

.arees-list ul {width: 100%; }
.arees-list li { float:left; width:100%; padding:0; cursor: pointer;  }
.arees-list .list ul {float:left; width: 60%; display:flex; flex-flow: wrap;}
.arees-list .list ul li {width: 48%;}
.arees-list .list ul li:nth-child(2n) {margin-left: 4%;}
.arees-listpad { float:left; width:100%; margin-left:1%; position:relative; padding:0px 0; line-height:24px; }
.arees-box .arees-listpad h2 { display:block; position:relative; font-family: 'barlowmedium'; font-size:18px; color:#393939; line-height: 24px; border-bottom:0px; padding:0px 0px; margin:0px 0px 12px 0px; width:auto; float:left;}
.arees-box .arees-listpad h2:hover { color:#FB6262; }
.arees-box .arees-listpad h2:after { opacity:0; content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:7px; height:11px; margin:7px 0px 0px 10px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.arees-box .arees-listpad:hover h2:after { opacity:1; width:38px; height:11px; }
.arees-box .arees-listpad h2:before { right:-10px; top:0px; opacity:1; content:''; position:absolute; background:url(../images/Grupo_79.svg) right no-repeat; width:7px; height:11px; margin:7px 0px 0px 10px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.arees-box .arees-listpad:hover h2:before { opacity:0; width:38px; height:11px; right:-48px; }

.player-info { width:420px; height:425px; position: absolute; top:0px; right:0; display: none; padding:0px; background:#F0F0F0; color: #fff; }
.arees-list li .player-info img { width:100%; height: 250px }
.arees-list li .player-info img { /*opacity: 1;*/ -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.player-info .equip-txt{ position:relative; font-family: 'barlowregular'; font-size:16px; color:#393939; line-height:22px; padding:8px 4%; width:100%; }
.player-info .equip-txt h1 { font-family: 'barlowsemibold'; font-size:20px; color:#393939; line-height:28px; margin:5px 0px 10px 0px; }
.arees-list li.appear .player-info, .arees-list li:hover .player-info {display: inline-block; z-index:100; display: flex; flex-direction: column; height: 100%;}
.player-info-pad { display:none; }

.arees-box a.lnk {color: #FB6262;text-decoration: underline;font-size: 15px; margin-top: 2px;float: right;position: relative;font-family: 'barlowsemibold';
margin-right: 5px;}
.arees-box a.lnk:hover { text-decoration:none;}
.btn-div1 { float:left; width:100%; text-align:center; margin:30px 0px 0px; display:none;}
.btn-div1 a.pink-btn {padding: 10px 35px;}

/*Cursos Box*/
.cursos-box { float:left; background:#f8f8f8; width:100%; padding:60px 0px; margin:0px 0px; }
.cursos-box h2 { display:block; color: #393939; font-size:28px; font-family: 'barlowbold'; line-height: 24px; border-bottom:1px solid #FF0000; padding-bottom:15px; margin-bottom:24px; }
.cursos-box a.lnk { float:right; position:relative; font-family: 'barlowsemibold'; font-size:16px; color:#393939; margin-top:8px; margin-right:5px; }
.cursos-box a.lnk:hover { color:#FB6262; }
.cursos-box ul { float:left; width:100%; padding:0px 0px; margin:0px 0px;flex-wrap: wrap; -webkit-flex-wrap: wrap;  display: flex; display: -webkit-flex;}
.cursos-box ul li { float:left; width:49%; background:#FFFFFF; padding:20px 22px; margin:0px 2% 16px 0px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.cursos-box ul li:nth-child(2n) { margin-right:0px; }
.cursos-box ul li .title { float:left; width:100%; min-height:100px; }
.cursos-box ul li .title h1 { float:left; width:100%; font-family: 'barlowsemibold'; font-size:22px; color:#393939; padding:0px 0px; margin:0px 0px; }
.cursos-box ul li .title span { display:block; font-family: 'barlowregular'; font-size:14px; color:#FB6262; padding:0px 0px; margin:0px 0px; }
.cursos-box ul li .title span a { display:inline-block; color:#FB6262; margin-right:5px; }
.cursos-box ul li .title span a:hover { text-decoration:underline; }
.cursos-box ul li .title span a strong { font-family: 'barlowsemibold'; color:#FB6262; font-weight:normal; }
.cursos-box ul li .values { float:left; width:100%; font-family: 'barlowregular'; font-size:16px; color:#141414; }
.cursos-box ul li .values .info-lft {max-width: 64%}
.cursos-box ul li .values span { display:inline-block; position:relative; padding:0px 16px 0px 0px; margin-top:8px; }
.cursos-box ul li .values span.loc { position:relative; padding-left:20px; margin:0px; }
.cursos-box ul li .values span.loc::before { content:''; position:absolute; background:url(../images/location.svg) no-repeat; width:13px; height:18px; margin-left:-20px; }
.cursos-box ul li .values span.cdate { position:relative; padding-left:20px; margin:0px; }
.cursos-box ul li .values span.cdate::before { content:''; position:absolute; background:url(../images/date.svg) no-repeat; width:14px; height:18px; margin-left:-20px; }
.cursos-box ul li .values a.pink-btn { float:right; margin-top:-50px; line-height:20px; padding:15px 35px; }
.cursos-box ul li .values a.pink-btn { float:right; margin-top:-50px; line-height:20px; padding:15px 35px; }
.lnk-mob { display:none;}
.mobile-link-cursos { display:none;}

.mobile-link-cursos .owl-dots { float:left; width:100%; text-align:center; margin-top:20px;}
.mobile-link-cursos .owl-dots .owl-dot { display:inline-block; margin:0px 10px; }
.mobile-link-cursos .owl-dots .owl-dot span { width:8px; height:8px; background:#d8d8d8; border-radius:25px; float:left;}
.mobile-link-cursos .owl-dots .owl-dot.active span, .mobile-link-emp .owl-dots .owl-dot:hover span {background:#fc6262;}

/*Agno Box*/
.agno-box { float:left; background:#F0F0F0; width:100%; padding:60px 0px; margin:0px 0px; }
.agno-box h2 { display:block; color: #393939; font-size:28px; font-family: 'barlowbold'; line-height: 24px; border-bottom:1px solid #FF0000; padding-bottom:15px; margin-bottom:24px; }
.agno-box a.lnk { float:right; position:relative; font-family: 'barlowsemibold'; font-size:16px; color:#393939; margin-top:8px; margin-right:5px; }
.agno-box a.lnk:hover { color:#FB6262; }
.hagenda { float:left; width:48.5%; padding:0px 0px; margin:0px 1.5% 0px 0px; }
.hagenda ul { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
.hagenda ul li { float:left; width:100%; background:#FFFFFF; padding:0px 0px; margin:0px 0px 16px 0px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.hagenda ul li:last-child { margin-bottom:0px; }
.hagenda ul li a {display: flex; display: -webkit-flex; }
.hagenda ul li .a-lft { float:left; width:112px; min-height:102px; background:#FB6262; font-size:40px; color:#FFFFFF; text-align:center; line-height:28px; padding:28px 0px; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.hagenda ul li .a-lft span { display:block; font-size:20px; }
.hagenda ul li .a-rgt { float:left; width:431px; padding:20px 20px 6px 20px; margin:0px 0px; font-family: 'barlowmedium'; }
.hagenda ul li .a-rgt .ag-title { float:left; width:100%; min-height:60px; font-size:18px; color:#141414; }
.hagenda ul li .a-rgt a { font-size:14px; color:#FB6262; }
.hagenda ul li .a-rgt .veure { position:relative; font-size:14px; color:#FB6262; }
.hagenda ul li .a-rgt .veure::after { content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:16px; height:9px; bottom:4.5px; margin-left:10px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.hagenda ul li .a-rgt .veure:hover::after, .hagenda ul li:hover .a-rgt .veure::after { width:39px; height:11px; bottom:3.5px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.hagenda ul li:hover .a-lft { background:#C64544; }

.hnotices { float:left; width:50%; padding:0px 0px; margin:0px 0px; }
.hnotices ul { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
.hnotices ul li { float:left; width:48.5%; background:#FB6262; margin:0px 3% 16px 0px; font-size:14px; color:#FFFFFF; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.hnotices ul li:first-child { width:100%; background:#c64444; margin-right:0px; }
.hnotices ul li:last-child { margin-right:0px; }
.hnotices ul li.brown { background:#983332; }

.hnotices ul li .ntitle { float:left; width:100%; height:130px; font-family: 'barlowsemibold'; font-size:18px; padding-top:15px; color:#fff; overflow: hidden; border-bottom: 15px solid transparent}
.hnotices ul li .n-arrow { float:left; display:block; margin-top:10px; color:#FFFFFF; position:relative; }
.hnotices ul li .n-arrow::before { content:''; position:absolute; background:url(../images/arrow-white-01.svg) right no-repeat; width:16px; height:9px; bottom:4.5px; margin-left:10px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  right: -22px; opacity:1;}
.hnotices ul li .n-arrow::after { margin-left: 7px; opacity:0; content:''; position:absolute; width:7px; height:11px; bottom:3.5px;  background:url(../images/arrow-03.svg) right no-repeat; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.hnotices ul li:hover .n-arrow::after { opacity:1; width: 38px;height: 11px; }
.hnotices ul li:hover .n-arrow::before { opacity:0; right: -48px;}
.hnotices ul li:hover { background:#FFFFFF; color:#FB6262; }
.hnotices ul li:hover .n-arrow, .hnotices ul li:hover p, .hnotices ul li:hover .ntitle  { color:#FB6262!important; }
.hnotices ul li:hover .n-arrow::after { background:url(../images/arrow-03.svg) right no-repeat; }
.hnotices ul li p{font-size: 14px; color: #FFFFFF; line-height:20px;}
.hnotices ul li a{float:left; width:100%;  padding:20px 20px;}

.hnotices.noticies-no-agenda {
    width: 100%;
}

.hnotices.noticies-no-agenda ul li {width: 23.87%; margin-right: 1.5%}
.hnotices.noticies-no-agenda ul li:first-child {width: 49.1%; margin-right: 1.5%}
.hnotices.noticies-no-agenda ul li:nth-child(3), .hnotices.noticies-no-agenda ul li:nth-child(7) {margin-right: 0}

/*Coneix Box*/
.coneix-box { float:left; width:100%; padding:70px 0px; margin:0px 0px; }
.coneix-box h2 { display:block; color: #393939; font-size:27px; font-family: 'barlowbold'; line-height: 24px; border-bottom:1px solid #FF0000; padding-bottom:15px; margin-bottom:24px; }
.coneix-box h2 span { color: #FB6262; }
.coneix-box h3 { display:block; color: #393939; font-size:22px; font-family: 'barlowbold'; line-height: 24px; margin-bottom:20px; }
.coneix-box p { color: #000000; font-size:18px; font-family: 'barlowregular'; line-height:28px; margin-bottom:30px; text-align: justify}
a.pink-btn { background:#FB6262; color: #FFFFFF; font-size:18px; font-family: 'barlowbold'; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:15px 26px; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; display:inline-block; }
a.pink-btn:hover { background:#555555; }
.video-right { float:right;width:50%; padding:0px 0px; margin:0px 0px 0px 0px; position: relative;}
.video-right img{ float:left;width:100%;}
.video-left { float:left; width:50%; padding:0px 45px 0px 0px; margin:0px 0px 0px 0px; }
.vide-ccn { position:relative; float:left; width:100%; }
.video-ico{position:absolute; left:0; top:0; width:100%; height:100%; display: flex; display: -webkit-flex; -webkit-align-items: center;align-items: center;-webkit-justify-content: center; justify-content: center;}
.video-ico span{width:63px; height:63px; background:url(../images/icon-video.svg) no-repeat center; background-size:100%;}
.video-ico:hover span{ background:url(../images/icon-video.svg) no-repeat center; background-size:100%;}

/*Newsletter Box*/
.newsletter-box { float:left; background:url(../images/newsletter-bg.jpg) top center no-repeat; width:100%; background-size:cover; min-height:160px; padding:50px 0px; margin:0px 0px; }
.lft-news { float:left; width:50%; padding:0px 0px; margin:0px 0px; }
.rht-news { float:left; width:50%; padding:0px 0px; margin:0px 0px; }
.subscribe { float: left; width: 100%;}
.lft-news h2 { color: #fff; font-size:28px; font-family: 'barlowbold'; line-height: 24px; margin-top:5px;}
.lft-news h2 span { display:block; color: #fff; font-size:18px; font-family: 'barlowregular'; line-height: 24px; margin-top:16px;}
.subscribe input[type="text"] { float: left; width: 70%; border: none; background: #fff; font-size: 16px; font-family: 'barlowregular'; color:#393939; padding: 0 10px; height: 46px;}
.subscribe input[type="button"] { font-family: 'barlowmedium'; background:#555555;  color:#fff; font-size:16px; line-height:34px; letter-spacing:0.5px; padding:6px 50px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; display: inline-block; border:0px solid #fff; cursor: pointer;}
.subscribe input[type="button"]:hover { background: #393939; color:#FFFFFF;}

.check input[type=checkbox]:not(old){position:absolute;width:13px;height:13px;margin: 0;padding: 0;font-size : 1em;opacity: 0; cursor:pointer; display:none; left:3px; top:22px;}
.check input[type=checkbox]:not(old) + label{ display: inline-block; line-height: 1.5em; float: left; width:100%; color:#FFFFFF; font-size:14px; margin-top:10px;  font-family: 'barlowregular'; letter-spacing: 0.5px; cursor: pointer;}
.check input[type=checkbox]:not(old) + label > span{display: inline-block;width: 11px;height: 11px;margin: -5px 10px 0 0; vertical-align   : middle; position:relative; background:#fff; }
.check input[type=checkbox]:not(old):checked + label > span:before{content: '';display: inline-block; text-align: center; font-weight: bold; cursor:pointer;background:#525657; height:7px; width:7px;  position:absolute;top:2px; left:2px;}
.check strong a{color: #1e1f24;text-decoration: underline;font-family: 'barlowmedium'; font-weight:normal; transition: all .4s ease;-moz-transition: all .4s ease;-webkit-transition: all .4s ease;-o-transition: all .4s ease;}
.check ul li.check label {margin-top: 0; width:auto;}
.check ul li.check-1 label {width:auto;}
.check input[type=checkbox]:not(old):checked + label > span.l-txt:before{ display:none;}
.check p { float: right; width: calc(100% - 22px); color: #fff; font-size: 14px; line-height: normal; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.check p a {color: white;}
.check p:hover { text-decoration:underline;}
/*Contact Css*/
.contact-box { float:left; width:100%; padding:0px 0px; margin:0px 0px 60px 0px; padding-bottom: 30px; }
.contact-box h2 { display:block; color: #262626; font-size:24px; font-family: 'barlowmedium'; line-height: 24px; padding-bottom:25px; }
.contact-left { float:left; width:45%; padding:0px 0px 0px 0px; margin:0px 0px; }
.contact-right { float:right; width:50%; padding:0px 0px 0px 17%; margin:0px 0px; }
.contact-right span { font-size:16px;color: #262626; }
.contact-right ul { float:left; width:100%; padding:10px 0px; margin:0px 0px; }
.contact-right ul li { float:left; width:100%; position:relative; padding:20px 0px 0px 30px; margin:0px 0px; font-size:18px; color: #262626; }
.contact-right ul li a { text-decoration:underline;color: #262626;  }
.contact-right ul li a:hover { color:#FF0000; text-decoration:none;  }
.contact-right ul li.loc::before { content:""; position:absolute; background:url(../images/location.svg) no-repeat; width:13px; height:18px; margin-left:-30px; }
.contact-right ul li.phone::before { content:""; position:absolute; background:url(../images/phone.svg) no-repeat; width:16px; height:16px; margin-left:-30px; }
.contact-right ul li.mapa {padding-left: 0px;}
.contact-right ul li.map::before { content:""; position:absolute; background:url(../images/map.svg) no-repeat; width:16px; height:15px; margin-top:3px; margin-left:-30px; }
.contact-right ul li.phone a { text-decoration:none; }
.form-box { width:100%; float: none;  margin: 0 auto;}
.form-box .frm-input { float: left; width: 100%; margin-bottom:5px;}
.form-box input[type="text"], .form-box textarea { float:left; width:100%; font-family: 'barlowregular'; color:#2b2b2b; font-size:15px; border: 1px solid #fff; padding: 10px 15px; height:47px; line-height:40px;  }
.form-box input[type="text"]:focus, .form-box textarea:focus { border: 1px solid #FB6262;}
.form-box textarea { resize:none; height:85px; line-height:22px;}
.frm-input.checkbox { float: left; width: 100%; margin-bottom: 0;}
.frm-input.checkbox input {  height: 1px; left: 0; position: absolute; top: 0; visibility: hidden; width: 1px;}
.frm-input.checkbox label { color: #646464; cursor: pointer; font-size: 12px; padding-left: 30px; position: relative; width: auto; line-height:22px; display: inline-block; padding-right: 0px;}
.frm-input.checkbox label a{ color: #646464; }
.frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: ""; height: 15px; left: 5px; position: absolute; top: 3px; transition: all 0.3s ease-in-out 0s; width: 15px; }
.frm-input.checkbox label::after { background: transparent none repeat scroll 0 0; border:1px solid #555555; content: ""; height: 15px; left: 5px; position: absolute; top: 3px; width: 15px; }
.frm-input.checkbox input:checked + label::before {background: #FB6262 none repeat scroll 0 0; }
.frm-input.checkbox input:checked + label::after	{  border:none; }
.frm-input.checkbox span { font-size:12px; color: #707070; float: none; width:100%; padding-left:5px;line-height:16px;}
.frm-input.checkbox span a {color: #707070; text-decoration:underline; }
.frm-input.checkbox span a:hover { color:#FB6262;}
.chck-bx	{ float:left; width:60%; font-size:13px; color:#646464; }
.btn-ctr { float:right; width: auto; text-align:center;}
button.env-btn { background: #555555; color: #ffffff; display:inline-block; font-family: 'barlowmedium'; font-size: 16px; height: 46px; line-height: 18px; padding: 0px 50px; letter-spacing:1px; margin-top:0px; cursor:pointer; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; border:1px solid #555555; }
button.env-btn:hover {background: #ffffff; color:#FB6262; border:1px solid #FB6262;}

.form-box input[type="text"]::-webkit-input-placeholder, .form-box textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4b4b4;
  opacity:1;  
}
.form-box input[type="text"]::-moz-placeholder, .form-box textarea::-moz-placeholder { /* Firefox 19+ */
   color: #b4b4b4;
   opacity:1;
  
}
.form-box input[type="text"]:-ms-input-placeholder, .form-box textarea::-moz-placeholder { /* IE 10+ */
   color: #b4b4b4;
   opacity:1;   
}
.form-box input[type="text"]:-moz-placeholder, .form-box textarea::-moz-placeholder { /* Firefox 18- */
   color: #b4b4b4;
   opacity:1;   
}


/*cursos Css*/
.cursos h1.page-title { float:left; width:100%; text-align:left; font-size:28px; line-height:42px; color:#262626; font-family: 'barlowbold'; margin:20px 0px; }
.cursos .la-tag { float:left; width:100%; padding:0px; margin-bottom:10px; font-size:18px; }

.main-box { float:left; width:100%; padding:20px 0px 50px 0px; }
.main-box .left-content { float:left; width:340px; position:relative; margin-right:20px; }
.white-box { float:left; width:100%; background:#FFFFFF; padding:25px 25px; margin:0px 0px; }
.left-content h1 { float:left; width:100%; font-family: 'barlowsemibold'; font-size:28px; color:#262626; padding:0px 0px; margin-bottom:20px; }
.cat-list li {float:left; width:100%; margin-bottom:10px;}
.cat-list li ul.child {margin-left: 22px;margin-top: 10px; display: none}
.left-content a.view { color:#FB6262; }
.left-content a:hover.view { Text-decoration:underline; }
.acc-menu { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
/* checkbox css */
.input-container {margin-bottom:0px; position:relative; padding-left:22px;}
.input-container span.right { font-family: 'barlowlight'; }
.left-content .lbtn { float:left; width:100%; padding: 0px 0px 5px 22px; margin:0px 0px; position:relative;  }

/* use :not selector here to support older broswers 
   more info: http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
*/
.input-container input[type=checkbox]:not(old), .lbtn input[type=checkbox]:not(old) {opacity: 0; /* match the dimentsions of the custom label *//*width:13px;*/width:100%; height:17px;padding: 0; margin: 0; cursor:pointer; position:absolute; left:0px; z-index:1;}
/*** The box */
.input-container label, .lbtn label{ position: relative;}
.input-container label::after, .lbtn label::after {content: "";position: absolute;top: 0px;left: -22px; /*cover the default input */width: 13px;height:13px; border-radius: 2px;background-color: none; border: 1px solid #555555;transform: rotate(0);pointer-events: none;text-align: center;color: #FFF; /* easier to see */border-radius:2px;}
/*** The tick */
.input-container input[type=checkbox]:checked + label:after, .lbtn input[type=checkbox]:checked + label:after, .cat-list li.active > div.input-container label::after {content: ""; background:url(../images/check-tick.png) no-repeat center center #FB6262; border: 1px solid #FB6262;
background-size:72%;}
.input-container input[type=checkbox]:checked + label, .lbtn input[type=checkbox]:checked + label, .cat-list li.active > div.input-container label {color:#FB6262; }
/* check box css end */

.sline { float:left; margin-top:5px; }
.recent-list { display:inline-block; width:80%; margin-left:20px; }
.recent-list li {float: left; height:28px;line-height:26px; padding: 0px 11px 0px 11px;margin-right:10px; margin-bottom:5px; color: #FB6262; border:1px solid #FB6262; font-size: 15px; border-radius:20px; }
.recent-list li a.close-ico { margin-left:12px;display: inline-block;}
.left-content .ltitle { font-family: 'barlowsemibold'; font-size:18px; color:#262626; line-height:28px; padding:0px 0px 5px 0px; margin:0px 0px; }
.left-content .lsearch { float:left; width:100%; padding: 5px 0px; margin:0px 0px; clear:both;  }
.left-content .lsearch input[type="text"] { float:left; width:85%; background:#FFFFFF; font-family: 'barlowregular'; color:#2b2b2b; font-size:15px; border:1px solid #DBDBDB; border-right:0px; padding: 10px 15px; height:40px; line-height:40px;  }
.left-content .lsearch input[type="button"] { float:left; width:15%; background:url(../images/search.svg) center center no-repeat; text-indent:-500000px; border:1px solid #DBDBDB; border-left:0px; cursor:pointer; padding: 10px 15px; height:40px; line-height:40px;  }

.trobes { float:left; width:100%; background:#FB6262; font-family: 'barlowmedium'; font-size:20px; color:#FFFFFF; line-height:24px; text-align:center; padding:30px 36px; margin:10px 0px; }
.trobes h3 { float:left; width:100%;  font-family: 'barlowbold'; font-size:28px; color:#FFFFFF; line-height:34px; text-align:center; padding:0px 0px; margin:15px 0px; }
.trobes a.link { display:block; background:#FB6262; font-family: 'barlowbold'; font-size:18px; color:#FFFFFF; line-height:24px; text-align:center; border:1px solid #FFFFFF; padding:10px 36px; margin-top:30px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition: all .4s ease; -moz-transition: all .4s ease;-webkit-transition: all .4s ease;-o-transition: all .4s ease; }
.trobes a:hover.link { background:#555555; border:1px solid #555555; }

.main-box .right-content { float:left; width:760px; }
.right-content>ul { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
.right-content>ul li { float:left; position: relative; width:100%; background:#FFFFFF; padding:20px 22px; margin:0px 0px 16px 0px; border:1px solid #FFFFFF; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition: all .4s ease; -moz-transition: all .4s ease;-webkit-transition: all .4s ease;-o-transition: all .4s ease;overflow: hidden }
.right-content>ul li:hover { border:1px solid #FB6262; }
.right-content>ul li:not(.skeleton) .title { float:left; width:100%; min-height:74px;padding-right: 48px }
.right-content>ul li:not(.skeleton) .title h1 { float:left; width:100%; font-family: 'barlowsemibold'; font-size:28px; color:#393939; padding:0px 0px; margin:0px 0px; }
.right-content>ul li:not(.skeleton) .title h1 a { color:#393939; }
.right-content>ul li:not(.skeleton) .title h1 a:hover{ color:#FB6262; }
.right-content>ul li:not(.skeleton) .title span { display:block; font-family: 'barlowregular'; font-size:14px; color:#FB6262; padding:0px 0px; margin:0px 0px; }
.right-content>ul li:not(.skeleton) .title span a { display:inline-block; color:#FB6262; margin-right:5px; }
.right-content>ul li:not(.skeleton) .title span a:hover { text-decoration:underline; }
.right-content>ul li:not(.skeleton) .title span a strong { font-family: 'barlowsemibold'; color:#FB6262; font-weight:normal; }
.right-content>ul li .values { float:left; width:100%; font-family: 'barlowregular'; font-size:16px; color:#141414; }
.right-content>ul li .values span { display:inline-block; position:relative; padding:0px 16px 0px 0px; margin-top:10px!important; width: 100%; padding-left: 30px; }
.right-content>ul li .values a.pink-btn { float:right; margin-top:-50px; line-height:20px; padding:15px 35px; }
.right-content>ul li .no-result { float:left; width:100%; background:#FFFFFF; font-family: 'barlowregular'; font-size:18px; color:#393939; text-align:center; line-height:26px; padding:30px 40px; margin:0px 0px 16px 0px; }
.right-content>ul li .no-result a {text-decoration: underline}
.right-content>ul li .no-result h3 { float:left; width:100%; font-family: 'barlowbold'; font-size:28px; color:#393939; text-align:center; line-height:26px; padding:30px 0px; margin:0px 0px; }
.right-content>ul li .no-result .link-btn { float:left; width:100%; text-align:center; padding:40px 0px 0px 0px; margin:0px 0px; }
.right-content>ul li .no-result .link-btn a { display:inline-block; border:1px solid #FB6262; font-family: 'barlowbold'; font-size:18px;  color:#FB6262; padding:0px 100px; margin:0px 10px 0px 0px; line-height:50px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; transition: all .4s ease; -moz-transition: all .4s ease;-webkit-transition: all .4s ease;-o-transition: all .4s ease; }
.right-content>ul li .no-result .link-btn a:hover { border:1px solid #FB6262; background:#FB6262; color:#FFFFFF;  }
.right-content.loading>ul li:not(.skeleton):after {content: "";width: 100%;position: absolute;left: 0;top: 0;height: 100%;background: rgba(255, 255, 255, 0.7);}


span.loc { display:inline-block; position:relative; padding:0px 16px 0px 0px; margin-top:10px!important; }
span.loc::before { content:''; position:absolute; background:url(../images/location.svg) no-repeat; width:13px; height:18px; margin-left:-30px; }

span.cdate { position:relative; padding-left:30px; margin:0px; }
span.cdate::before { content:''; position:absolute; background:url(../images/date.svg) no-repeat; width:14px; height:18px; margin-left:-30px; }

span.time { position:relative; padding-left:30px; margin:0px; }
span.time::before { content:''; position:absolute; background:url(../images/time.svg) no-repeat; width:17px; height:17px; margin-left:-30px; }

/*Noticies Css*/
.noti { padding-top:0px; }
.right-content>ul.notices li:hover { background:#FB6262; border:1px solid #FB6262; }
.right-content>ul.notices li:hover a, .right-content>ul.notices li:hover .ndate, .right-content>ul.notices li:hover p { color:#FFFFFF; }

.notices-txt { float:left; width:100%; position:relative; padding:0px 0px; margin:0px 0px; }
.notices-txt h2 { font-family: 'barlowsemibold'; font-size:24px; color:#262626; line-height:28px; padding:0px 20px 16px 0px; margin:0px 0px; }
.notices-txt h2 a {  color:#262626; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.notices-txt span.ndate { display:inline-block; font-size:14px; color:#555555; line-height:24px; padding:0px 0px 16px 0px; margin:0px 0px; }
.notices-txt a.more {display:inline-block; position: relative;font-size: 14px; color: #fc6262; margin-top:20px; }

.notices-txt a.more::before { content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:16px; height:11px; bottom:4.5px; margin-left:10px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  right: -22px; opacity:1;}
.notices-txt a.more::after { margin-left: 7px; opacity:0; content:''; position:absolute; width:7px; height:11px; bottom:4.5px;  background:url(../images/white-arrow-03.svg) right no-repeat; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.right-content>ul.notices li .notices-txt:hover:hover a.more::after { opacity:1; width: 38px;height: 11px; }
.right-content>ul.notices li .notices-txt:hover:hover a.more::before { opacity:0; right: -48px;}


.notices-txt:hover h2 a, .notices-txt:hover span.ndate, .notices-txt:hover p, .notices-txt:hover a.more  { color:#FFFFFF; }
.notices-txt p { font-size:16px; line-height:24px; }
.notices-txt .imgbox { float:left; position:relative; margin-top:-21px; margin-left:-23px; margin-right:25px; margin-bottom:-30px; }

/*Agenda*/
ul.agenda { float:left; width:100%; padding:0px 0px; margin:0px 0px; display: flex; flex-flow: wrap;}
ul.agenda li {width:48.5%; margin:0px 16px 16px 0px;}
ul.agenda li:not(.skeleton) { float:left; font-size:16px; color:#262626; line-height:20px; padding:0;overflow: hidden}
ul.agenda li a{float:left; width:100%; padding:20px 20px;}
ul.agenda li:hover { background:#FB6262; }
ul.agenda li:nth-child(2n) { margin-right:0px; }
ul.agenda li h2 { font-family: 'barlowsemibold'; font-size:24px; color:#262626; line-height:28px; padding:0 50px 5px 0; margin:0px 0px; /*min-height:90px;*/ }
ul.agenda li h2 a {  color:#262626; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
ul.agenda li span.org { display:inline-block; padding:16px 0px 10px 0px; margin:0px 0px; }
ul.agenda li span.org strong { font-family: 'barlowmedium'; font-size:18px; font-weight:normal; }

ul.agenda li span.more {display:inline-block; position: relative;font-size: 14px; color: #fc6262; margin-top:10px; }
ul.agenda li span.more::after {content: '';position: absolute;background: url(../images/arrow-03.svg) right no-repeat;width: 16px;height: 9px;bottom: 5px;
margin-left: 10px;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;top:6px;}
ul.agenda li:hover span.more::after, ul.agenda li:hover span.more:hover::after {width: 39px;height: 9px;}
ul.agenda li p { font-size:16px; line-height:24px; }
ul.agenda li:hover h2, ul.agenda li:hover span.ndate, ul.agenda li:hover p, ul.agenda li:hover span.more, .right-content>ul.agenda li:hover .values span, ul.agenda li:hover span.org  { color:#FFFFFF; }
ul.agenda li:hover a.more::after { background: url(../images/white-arrow-03.svg) right no-repeat;width: 16px;height: 9px;}
.right-content>ul.agenda li:hover span.cdate::before { background: url(../images/wdate.svg) right no-repeat; }
.right-content>ul.agenda li:hover span.loc::before { background: url(../images/wloc.svg) right no-repeat; }

/* Footer Css */
footer{ float:left; width:100%; background:#FFFFFF; padding:0px 0px 0px;}
.foot-top { float:left; width:100%; padding:23px 0px 0px; position:relative;}
.foot-top li { float:left; margin-right:28px; font-family: 'barlowlight'; font-size:14px; color:#262626; border-right: 2px solid #e3e3e3; padding-right: 28px;}
.foot-top li:last-child{ border-right: none; padding-right:0; margin-right:0;}
.foot-top li  ul li{ border-right:none; padding-right: 0;}
.foot-top li:last-child { margin-right:0px; }
.foot-top li img:hover { opacity:0.7;  }
.foot-top li h3{ font-size: 20px;font-family: 'barlowlight';line-height: 24px; margin-bottom:10px;}
.foot-top li p {font-size: 15px;line-height: 24px;float: left;}
.foot-top li:first-child{ width:25%;}
.foot-top li:nth-child(2){ width:22%;}
.foot-top li:first-child(3){ width:30%;}
.foot-top li ul li:first-child, .foot-top li ul li:nth-child(2), .foot-top li ul li:nth-child(3){ width:auto;}

.foot-btm { float:left; width:100%; padding:20px 0px; }
.foot-btm ul { display:inline-block; width:100%; text-align:center; }
.foot-btm li { display:inline; margin:0px 29px;  }
.foot-btm li:last-child { margin-right:0px;}
.foot-btm li a{ color:#707070; font-family: 'barlowlight'; font-size:14px; text-transform:inherit; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.foot-btm li a:hover { color:#FB6262;}


/* mobile nav css */
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden;}
.m-menu {display:none; position: absolute;float: left;padding:0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; transition: All 0.5s ease; left:18px; top:13px;}
.m-menu a 	{ position:relative; display:block; text-align:right; outline:none; padding:0px 0px; height:100%; top:0px; right:0px;  }
.m-menu div { position:absolute; top:5px; left:-54px; font-size:16px; color:#fff; text-transform:uppercase; cursor:pointer; padding-right:20px; display:inline-block; }
.m-menu a span 		{ display: block; width:28px;height:2px; background:#fd6361; margin-top:6px; }
.m-menu a:hover span { background: #222; }

.mobNav ul { float:left; width:100%; margin-top: 10px;}
.mobNav ul li { float:left; width:100%; border-bottom:1px solid #e0e0e0; }
.mobNav ul li:last-child{ border-bottom:none}
.mobNav ul li a { display:block; font-size:15px;color:#222; padding:0 0px;line-height: 40px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;font-family: 'barlowmedium';}
.mobNav ul li a:hover { color:#fd6361;}

.logo-mobile { display:none;}
.search-div { position:absolute; top:17px; right:18px; display:none;}
.search-div a{ width:22px; height:21px; float:left; background: url(../images/mobile-search.svg) no-repeat center center; }
.search-div a.open {  background: url(../images/fclose.svg) no-repeat center center;}

/* mobile menu css */
.hole_div{ width:100%; float:left;}
.hole_div > div#page {left: 0;position: absolute;top: 0;width:100%; float:left;-moz-transition: all 0.2s linear ;-webkit-transition: all 0.2s linear ; -o-transition: all 0.2s linear ;transition: all 0.2s linear ; }
.hole_div.move > div#mobNav { left:0px; -webkit-box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); -moz-box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); }
.hole_div > div#mobNav { display:block; z-index:9999; left:-270px; psition:absolute; top:0; width:270px; -moz-transition: all 0.2s linear ; -webkit-transition: all 0.2s linear ; -o-transition: all 0.2s linear ;transition: all 0.2s linear ;height: 100%;overflow: auto; }
#new{background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; width:100%; height:100%; text-align:right; color:#FFF; display:none;  z-index: 999;}
#close-men { position: absolute; right: 15px; top: 18px; z-index: 99;}
figure.mobi-logo {padding: 15px 0 0;}


#calendar{ float:left; width:100%; margin-bottom:12px;}
#calendar .ui-datepicker { float:left; width:100%;}
#calendar .ui-datepicker table{ float:left; width:100%;}
/* calender css */
.agenda-lft.agenda-lft-new { width: 24%; margin-right: 5%;}
.agenda-rgt.agenda-rt-pad{ width:71%;}
#calendar.ch-cal.hasDatepicker { border:none; font-weight:normal; margin-bottom:16px;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-prev { left:0px;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-next { right: 8px;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-title { text-align:center; }
#calendar.ch-cal.hasDatepicker .ui-datepicker-title span { font-size:16px; font-family: 'barlowbold'; color:#FB6262;}
#calendar.ch-cal.hasDatepicker .ui-datepicker {font-weight:normal; padding:10px 15px;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar th { border:none; font-size:17px; font-family: 'barlowregular'; color:#FB6262;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-calendar .ui-state-default { background:none; font-size:16px; font-family: 'barlowmedium'; color:#262626;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-other-month .ui-state-default { color:#767875; display:block;}



#calendar.ch-cal.hasDatepicker .ui-datepicker-prev span { display: block; width:16px;height:9px; text-indent: -9999px; background-image: url(../images/prev-arrow.svg); background-repeat: no-repeat;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-next span { display: block; width:16px;height:8px; text-indent: -9999px; background-image: url(../images/next-arrow.svg); background-repeat: no-repeat;}
#calendar.ch-cal.hasDatepicker .ui-datepicker-prev, #calendar.ch-cal.hasDatepicker .ui-datepicker-next { top:13px; padding:0;}


/* Inner page css */
.inner-header .menu {width:100%; text-align:center; padding: 12px 0px;}
header.inner-header .main-menu { padding-top: 12px; padding-bottom: 0px;}
.inner-header .ddsmoothmenu{width:100%;} 

.inner-search { float:left; width:100%; padding:9px 0px; background:#fc6262;}
.logo-inner { float:left; width:14%; margin-right:5%; padding-top: 6px;}
.inner-search .bsearch { padding:0px; width:81%;}
.inner-search .bsearch ul li { padding:0px;}
.inner-search .bsearch ul li:first-child { padding-right:2px;}
.inner-search .bsearch ul li input[type="text"] {width:370px;}
.inner-search .bsearch ul li .sbHolder {width:250px;}
.inner-search .bsearch ul li input[type="submit"] {background: #555;}
.inner-search .bsearch ul li input[type="submit"]:hover {background: #000;}

.inner-page { float:left; width:100%; background:#f8f8f8;}

.bread-cum { float:left; width:100%; padding:34px 0px 9px;}
/*.bread-cum ul { display:-webkit-inline-box;display:-moz-inline-box;	display:-ms-inline-flexbox;	display:-webkit-inline-flex;display:inline-flex;}*/
.bread-cum ul li { float:left;  margin:0px 18px 0px 0px; padding:0px 24px 0px 0px; position:relative;color:#3c3c3c; font-size:14px;font-family: 'barlowregular';}
.bread-cum ul li a{ float:left; font-size:14px;font-family: 'barlowregular'; color:#fc6262; }
.bread-cum ul li a:hover { text-decoration:underline;}
.bread-cum ul li::after { content:''; position:absolute; background:url(../images/breadcum-arrw.svg) no-repeat; width:7px; height:11px; right:0px; top:0px; bottom:0px; margin:auto;}
.bread-cum ul li:last-child { position:0px; margin:0px;}
.bread-cum ul li:last-child::after { background:none;}

h1.page-title { text-align:center; font-size:40px; line-height:42px; color:#262626;font-family: 'barlowbold'; margin-bottom:42px;}
.agenda-cont { float:left; width:100%; padding:55px 112px 35px 112px; background:#fff;}
.agenda-cont .subtitol {display: block;margin-bottom: 20px;font-style: italic;}
.agenda-cont .image img {width: 100%;}
.agenda-cont h4.date { color:#151515; font-size:16px; margin-bottom:16px; line-height:18px; }
.agenda-cont h1 { color:#262626; font-size:28px; margin-bottom:20px; line-height:36px;font-family: 'barlowsemibold';}
.agenda-cont p { color:#3a3a3a; font-size:16px; margin-bottom:20px; line-height:24px;}
.agenda-list .metas, .agenda-cont .metas {margin: 15px 0;}


.agenda-list .metas span.cdate,
.agenda-list .metas span.time,
.agenda-list .metas span.loc {width: 100%;}

.agenda-list .metas span.cdate, .agenda-cont .metas span.cdate,
.agenda-list .metas span.time, .agenda-cont .metas span.time,
.agenda-list .metas span.loc, .agenda-cont .metas span.loc {padding-left: 30px; margin-bottom: 5px;}


ul.link-list { float:left; width:100%; border-bottom:1px solid #e9e9e9; margin-bottom:8px;display: flex; flex-flow: wrap; flex-direction: column;}
ul.link-list li {color:#3a3a3a; font-size:16px; margin-bottom:12px; padding-left:30px;}
ul.link-list li a{color:#3a3a3a; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
ul.link-list li.link a { text-decoration:underline;text-overflow: ellipsis;display: block;overflow: hidden;white-space: nowrap; display: inline-block;}
ul.link-list li a:hover {color:#fc6262; }
ul.link-list li.link {background:url(../images/unlink.svg) no-repeat 0px center; }
ul.link-list li.pdf {background:url(../images/docs.svg) no-repeat 0px center; }

ul.links-single {display: flex;}
ul.links-single li:not(:first-child) {margin-left: 20px;}

span a.compar {background:url(../images/share.svg) no-repeat 0px center; float:right; padding-left:27px;font-size:15px;color:#3a3a3a; }
span a.compar:hover {color:#fc6262; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}

.agenda-list { float:left; width:100%; margin:50px 0px 80px;}
.agenda-list h1{ text-align:center; font-size:40px; line-height:42px; color:#262626;font-family: 'barlowbold'; margin-bottom:42px;}
.agenda-list ul { float:left; width:100%; flex-wrap: wrap; -webkit-flex-wrap: wrap;display: flex;display: -webkit-flex;}
.agenda-list ul li { float:left; width:32.3333%; margin-right:1.5%; display: flex;display: -webkit-flex; border: 1px solid #fff;}
.agenda-list ul li:hover {border: 1px solid #fc6262;}
.agenda-list ul li a{ display:block; background:#fff; padding:22px 20px; float:left; width:100%;}
.agenda-list ul li:last-child { margin-right:0px;}
.agenda-list ul li h2 { color:#262626; font-size:24px; margin-bottom:12px; line-height:30px;font-family: 'barlowsemibold';transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.agenda-list ul li p { color:#3a3a3a; font-size:16px; margin-bottom:12px; line-height:24px;}
.agenda-list ul li h3 { color:#151515; font-size:14px; margin-bottom:10px; line-height:16px; }
.agenda-list ul li span.info-link {position: relative;font-size: 14px;color: #fc6262;}
.agenda-list ul li span.info-link::before { content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:16px; height:11px; bottom:2px; margin-left:10px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  right: -26px; opacity:1;}
.agenda-list ul li:hover span.info-link::before { opacity:0; right: -48px;}
.agenda-list ul li span.info-link::after {margin-left: 7px; opacity:0; content: '';position: absolute;background: url(../images/arrow-03.svg) right no-repeat;width:7px;height: 11px;margin-left: 10px;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease; bottom:2px;}
.agenda-list ul li:hover span.info-link::after {opacity:1; width: 38px;height: 11px; }

.agenda-list.curs-lst ul li span.info-link::before { content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:16px; height:11px; bottom:2px; margin-left:10px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  right: -26px; }
.agenda-list.curs-lst ul li:hover span.info-link::before { right: -48px; width:38px; opacity:1;}
.agenda-list.curs-lst ul li span.info-link::after {margin-left: 7px; opacity:0; content: '';position: absolute;background: url(../images/arrow-03.svg) right no-repeat;width:7px;height: 11px;margin-left: 10px;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease; bottom:2px; display:none;}


.agenda-list ul li:hover h2 { color:#fc6262; }
.notices-det-img { float:left; width:100%; margin-bottom:30px;}
.notices-det-img img{ float:left; width:100%;}

.mobile-agenda-list { display:none; float:left; width:100%; padding-top:35px; border-top:1px solid #fc6262; margin-top:28px; position:relative;}
.agenda-list .mobile-agenda-list ul li { width:100%; margin-bottom:0px;}
.mobile-agenda-list .owl-dots { float:left; width:100%; text-align:center; margin-top:15px;}
.mobile-agenda-list .owl-dots .owl-dot { display:inline-block; margin:0px 10px; }
.mobile-agenda-list .owl-dots .owl-dot span { width:8px; height:8px; background:#d8d8d8; border-radius:25px; float:left;}
.mobile-agenda-list .owl-dots .owl-dot.active span, .mobile-link-emp .owl-dots .owl-dot:hover span {background:#fc6262;}

p.page-desc { text-align:center; color:#262626; font-size:24px; margin-bottom:50px; line-height:32px;font-family: 'barlowsemibold';}
.document-cont, .url-cont {float:left; width:100%; padding:38px 42px 0px 42px; background:#fff; margin-bottom:90px; }
.document-cont h1, .document-cont h3, .url-cont h1 {color:#262626; font-size:28px; margin-bottom:25px; line-height:36px;font-family: 'barlowsemibold';}
.document-cont h3 {color:#fc6262; font-size: 22px}
.document-cont span { display: block; font-size: 14px; font-style: italic; margin-bottom: 45px; }
.document-list, .url-list { float:left; width:100%; margin-bottom:12px; display: flex; flex-wrap: wrap}
.document-list li, .url-list li{ float:left; width:43%; margin:0 14% 20px 0; padding-bottom:16px; border-bottom:1px solid #e8e8e8}
.document-list li:nth-child(2n-2), .url-list li:nth-child(2n-2) { margin-right:0px;}
.document-list li h2, .document-list li h4, .url-list li h2 { margin-bottom:15px; line-height:26px;}
.document-list li h2 a, .document-list li h4 a{font-size:20px;font-family: 'barlowregular'; color:#3b3b3b; padding-left:32px; background: url(../images/download.svg) no-repeat 0px 0px;transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;font-size: 16px; display: block}
.document-list li h2 a:hover, .document-list li h4 a:hover { color:#fc6262;}
.document-list li p { color:#5a5a5a; font-size:16px; margin-bottom:0; line-height:24px;}
.url-list li a {text-decoration:underline;padding-left:32px; background: url(../images/external-link.svg) no-repeat 0px 0px;transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.url-list li a:hover {color:#fc6262;}
ul.url-list li h3 {font-size:16px}

.perfils-outer { float:left; width:100%;}
.perfil-cont {float:left; width:100%; padding:85px 40px 45px 40px; background:#fff; margin-bottom:50px; }
.perfil-out { float:left; width:100%; margin-bottom:72px;}
.perfil-lft { float:left; width:50%; padding-right:25px;}
.perfil-rgt { float:right; width:50%; padding-left:25px;}
.perfil-rgt.perfil-rgt1 { float:left; width:50%; padding:0px 25px 0px 0px;}
.perfil-lft.perfil-lft1 {  padding:0px 0px 0px 25px; }
.perfil-lft h2{color:#262626; font-size:28px; margin-bottom:18px; line-height:36px;font-family: 'barlowsemibold';}
.perfil-lft p { color:#393939; font-size:16px; margin-bottom:40px; line-height:24px;}
.perfil-lft ul li { float:left; width:100%; margin-bottom:7px; padding-left:20px; position:relative; line-height: 26px;}
.perfil-lft ul li::after { content:""; position:absolute; left:0px; top:7px; width:7px; height:7px; background:#fc6264; border-radius:25px; }
.perfil-lft ul li a { color:#393939; font-size:16px; position:relative;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
.perfil-lft ul li a:hover { color:#fc6262;}
.perfil-lft ul li a span { position:relative;}

.perfil-lft ul li a span:after { opacity:0; content:''; position:absolute; background:url(../images/arrow-03.svg) right no-repeat; width:7px; height:11px; margin:7px 0px 0px 10px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.perfil-lft ul li a:hover span:after { opacity:1; width:38px; height:11px; }
.perfil-lft ul li a span:before { right:-17px; top:0px; opacity:1; content:''; position:absolute; background:url(../images/Grupo_79.svg) right no-repeat; width:7px; height:11px; margin:2px 0px 0px 10px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.perfil-lft ul li a:hover span:before { opacity:0; width:38px; height:11px; right:-48px; }


.img-div { float:left; width:100%; overflow:hidden;}
.img-div img{ float:left; width:100%;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease; }
.img-div:hover img{  transform:scale(1.02,1.02); -webkit-transform:scale(1.02,1.02); -moz-transform:scale(1.02,1.02);}

.perfil-out-last { margin-bottom:30px;}

.qui-som-outer { float:left; width:100%;}
.qui-som-img { float:left; width:100%; position:relative;}
.qui-som-img img{ float:left; width:100%;}
.qui-img-mobile{ display:none;}
.qui-ban-cont { position:absolute; top:28%; float:left; width:100%;}
.qui-ban-cont h1{color:#fff; font-size:40px; margin-bottom:0px; line-height:56px;font-family: 'barlowsemibold'; padding-left:30px;}
.qui-ban-cont span.subtitle{color:#fff; font-size:24px; margin-bottom:0; line-height:36px;font-family: 'barlowsemibold'; padding-left:30px;}
.qui-som-cont {float:left; width:100%; padding:30px 30px 35px 30px; background:#fff; margin-bottom:90px; /*margin-top:-110px;*/position: relative; }
.qui-som-cont h1{color:#262626; font-size:28px; margin-bottom:14px; line-height:36px;font-family: 'barlowsemibold';}
.qui-som-cont p { color:#393939; font-size:16px; margin-bottom:20px; line-height:24px;}

.logo-cont { width:100%; margin-top:56px;}
.logo-row { border-bottom:1px solid #e8e8e8; margin-bottom:28px; padding-bottom:44px;}
.logo-cont h2{color:#262626; font-size:26px; margin:0 0 25px; line-height:36px;font-family: 'barlowsemibold'; border-bottom: 1px solid #e8e8e8;}
.logo-cont h3{color:#262626; font-size:17px; margin:0 0 25px; line-height:30px;font-family: 'barlowsemibold'; width:28%;
    display: inline-block; vertical-align: top; padding-right: 20px}
.logo-cont ul { display: inline-block; width:72%; flex-flow: wrap; vertical-align: top}
.logo-cont ul li { float:left; /*margin-right:2.5%;*/ width: 33%}
.logo-cont ul li a img { transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
.logo-cont ul li a:hover img { opacity:0.7;}
.logo-cont ul li .img-container {
    text-align: center;
    background-color: #f8f8f8;
    height: 84px;
    margin: 4px;
    white-space: nowrap;
}
.logo-cont ul li .img-container .img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.logo-cont ul li .img-container img {
    vertical-align: middle;
}
.logo-cont ul li:last-child { margin-right:0px;}

.support-logo { float:left; width:100%; margin-top:50px;}
.support-logo h2{color:#262626; font-size:26px; margin:0 0 25px; line-height:36px;font-family: 'barlowsemibold'; text-align:center;}
.support-logo ul li { float:left; width:24%; margin-right:1%; }
.support-logo ul li:nth-child(4n-4) { margin-right:0px; }
.support-logo ul li a img { float:left; width:100%; transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
.support-logo ul li a:hover img { opacity:0.7;}

ul.empres-list1 { float:left; width:100%; margin:30px 0px 40px; display: flex;flex-wrap: wrap;}
ul.empres-list1 li{ float:left; width:20%; text-align:center;}
.round-div {width: 162px;height: 162px;border:1px solid #ffd19d; border-radius: 100%;display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;
justify-content: center;-webkit-justify-content: center;text-align: center;margin: auto;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
.round-div span { display:inline-block; width:100%; height:55px;}
.round-div h2 { color:#fc6262; font-size:36px; line-height:40px; font-family: 'barlowsemibold'; margin-top:0px; }
ul.empres-list1 li h3 { color:#131313;font-size:16px; line-height:22px; font-family: 'barlowsemibold'; margin-top:13px; }
.round-div .emp-list-cont { float:left; width:100%;}
.round-div span.emp1 {background: url(../images/empreses-01.svg) no-repeat center center; }
ul.empres-list1 li:hover .round-div span.emp1 {background: url(../images/empreses-01-hover.svg) no-repeat center center; }
.round-div span.emp2 {background: url(../images/empreses-02.svg) no-repeat center center; }
ul.empres-list1 li:hover .round-div span.emp2 {background: url(../images/empreses-02-hover.svg) no-repeat center center; }
.round-div span.emp3 {background: url(../images/empreses-03.svg) no-repeat center center; }
ul.empres-list1 li:hover .round-div span.emp3 {background: url(../images/empreses-03-hover.svg) no-repeat center center; }
.round-div span.emp4 {background: url(../images/empreses-04.svg) no-repeat center center; }
ul.empres-list1 li:hover .round-div span.emp4 {background: url(../images/empreses-04-hover.svg) no-repeat center center; }
.round-div span.emp5 {background: url(../images/empreses-05.svg) no-repeat center center; }
ul.empres-list1 li:hover .round-div span.emp5 {background: url(../images/empreses-05-hover.svg) no-repeat center center; }

ul.empres-list1 li:hover .round-div { background:#fc6262;}
ul.empres-list1 li:hover .round-div h2 { color:#fff; }


ul.empres-list2 { float:left; width:100%; margin:30px 0px 40px;display: flex;flex-wrap: wrap;}
ul.empres-list2 li{ float:left; width:14.2857%; text-align:center; }
ul.empres-list2 li .round-div {width: 129px;height: 129px;border:1px solid #fc6262; border-radius: 100%;display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;justify-content: center;-webkit-justify-content: center;text-align: center;margin: auto;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
ul.empres-list2 li .round-div h2 { color:#fc6262; font-size:24px; line-height:32px; font-family: 'barlowsemibold'; margin-top:0px; }
ul.empres-list2 li h3 { color:#131313;font-size:16px; line-height:22px; font-family: 'barlowsemibold'; margin-top:13px; }
ul.empres-list2 li h3 span {font-family: 'barlowlight'; }

ul.empres-list2 li:hover .round-div { background:#fc6262;}
ul.empres-list2 li:hover .round-div h2 { color:#fff; }

.round-div span.emp6 {background: url(../images/empreses-06.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp6 {background: url(../images/empreses-06-hover.svg) no-repeat center center; }
.round-div span.emp7 {background: url(../images/empreses-07.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp7 {background: url(../images/empreses-07-hover.svg) no-repeat center center; }
.round-div span.emp8 {background: url(../images/empreses-08.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp8 {background: url(../images/empreses-08-hover.svg) no-repeat center center; }
.round-div span.emp9 {background: url(../images/empreses-09.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp9 {background: url(../images/empreses-09-hover.svg) no-repeat center center; }
.round-div span.emp10 {background: url(../images/empreses-10.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp10 {background: url(../images/empreses-10-hover.svg) no-repeat center center; }
.round-div span.emp11 {background: url(../images/empreses-11.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp11 {background: url(../images/empreses-11-hover.svg) no-repeat center center; }
.round-div span.emp12 {background: url(../images/empreses-12.svg) no-repeat center center; }
ul.empres-list2 li:hover .round-div span.emp12 {background: url(../images/empreses-12-hover.svg) no-repeat center center; }

.empres-lft { float:left; width:50%; padding-right:15px;}
.empres-rgt { float:left; width:50%; padding-left:15px;}
.empres-lft p, .empres-rgt p {color:#131313;}

.emp-link-list { float:left; width:100%;}
.emp-link-list li { float:left; width:23.8%; margin-right:1.5%; background:#f8f8f8; padding:15px; }
.emp-link-list li:nth-child(4n-4) { margin-right:0px; }
.emp-link-list li h2 { color:#000; font-size:18px; line-height:24px; font-family: 'barlowsemibold'; margin-bottom:35px;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease; }
.emp-link-list ul li a { color:#393939; font-size:16px; position:relative;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;}
.emp-link-list ul li:hover a, .emp-link-list ul li:hover h2{ color:#fc6262;}
.emp-link-list li a span { position:relative;}
.emp-link-list li a span::after {content: '';position: absolute;background: url(../images/arrow-03.svg) right center no-repeat;width: 16px;
height: 9px;margin-left: 10px;transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;top:3px; }
.emp-link-list li:hover a span::after {width: 39px;height: 9px;}


.emp-link-list .mobile-link-emp ul li { width:100%; margin:0px;}
.mobile-link-emp .owl-dots { float:left; width:100%; text-align:center; margin-top:30px;}
.mobile-link-emp .owl-dots .owl-dot { display:inline-block; margin:0px 10px; }
.mobile-link-emp .owl-dots .owl-dot span { width:8px; height:8px; background:#d8d8d8; border-radius:25px; float:left;}
.mobile-link-emp .owl-dots .owl-dot.active span, .mobile-link-emp .owl-dots .owl-dot:hover span {background:#fc6262;}

.mobile-link-emp { display:none; float:left; width:100%; padding-top:35px; border-top:1px solid #fc6262; margin-top:28px; position:relative;}
a.veure-tot { position:absolute; top:-30px; right:0px; font-size:14px; text-decoration:underline;color:#fc6262; }
a.veure-tot:hover { text-decoration:none; }
.btn-div-doc { display:none;}


/* curses page css */
.cursos-out { float:left; width:100%; margin:40px 0px 50px;}
.curs-lft { float:left; width:50%;}
.curs-lft h1 {color:#262626; font-size:40px; margin:0px 0px 10px; line-height:40px;font-family: 'barlowsemibold';}
.curs-lft h1 img { float:right; margin-top: 3px; display:none;}
.curs-lft h1 a {transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.curs-lft h1 a:hover {color:#FB6262; }
.curs-lft span { display:block;}
.curs-lft span a{ font-family: 'barlowmedium';color: #FB6262;font-size:16px; margin-right:20px;}
.curs-lft span a:hover{ text-decoration:underline;}
.curs-lft ul { float:left; width:100%; margin-top:20px;}
.curs-lft ul li{ float:left; width:100%; margin-bottom:8px; padding-left:27px; }
.curs-lft ul li.time {background: url(../images/time.svg) no-repeat 0px 0px; }
.curs-lft ul li.loc {background: url(../images/location.svg) no-repeat 0px 0px; }
.curs-lft ul li.date {background: url(../images/date.svg) no-repeat 0px 0px; }

.curs-rgt { float:left; width:50%;}
.curs-btns { float:right; width:338px;}
.curs-btns ul li { float:left; width:100%; margin-bottom:15px; text-align:center;}
a.pink-btn1 { background:#FB6262; color: #FFFFFF; font-size:18px; font-family: 'barlowbold';  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; float:left; width:100%; padding:15px 26px; text-align:center; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
a.pink-btn1:hover { background:#555555; }
a.grey-btn { background:none; color: #565656; border:1px solid #565656; font-size:18px; font-family: 'barlowbold';  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; float:left; width:100%; padding:15px 26px; text-align:center; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
a.grey-btn:hover { background:#565656; color: #fff;}
a.compar1 {background: url(../images/share.svg) no-repeat 0px center;padding-left: 27px;font-size: 15px;color: #3a3a3a; display:inline-block;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
a.compar1:hover {  color:#FB6262;}

.curso-menu { float:left; width:100%;}
.curso-menu-cont { float:left; width:100%; background:#fff; padding:45px 175px 20px 45px; border-top:2px solid #faaeae;}
.curso-menu-links li { float:left; width:25%; text-align:center;}
.curso-menu-links li a { color:#3e3e3e; font-size:18px; padding:14px 14px; display:inline-block; position:relative;}
.curso-menu-links li a::after { position:absolute; content:""; width:0px; height:3px; bottom:-1px; left:0px; right:0px; margin:auto; background:#fc6262;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.curso-menu-links li a:hover::after, .curso-menu-links li a.active::after { width:100%;}
.curso-menu-links li a:hover, .curso-menu-links li a.active { color:#FB6262; font-family: 'barlowmedium'; }

.curso-menu-cont section { float:left; width:100%; padding-left:60px; margin-bottom:75px; }
.curso-menu-cont section h1 { color:#373737; font-family: 'barlowbold';font-size:18px; line-height:20px; margin-bottom:18px;}
.curso-menu-cont section p { color:#393939; font-size:16px; margin-bottom:25px; line-height:24px;}
.curso-menu-cont section ul.intro-list { float:left; width:580px;}
.curso-menu-cont section ul.intro-list li{ float:left; width:100%; padding:8px 0px; border-bottom:1px solid #dbdbdb;}
.curso-menu-cont section ul.intro-list li .lst-lft {float:left; width:32%; margin-right:5% }
.curso-menu-cont section ul.intro-list li .lst-rgt {float:left; width:63%; }
.curso-menu-cont section.intro { background: url(../images/introduccio.svg) no-repeat 0px 0px; }
.curso-menu-cont section.temari { background: url(../images/temari.svg) no-repeat 0px 0px; }
.curso-menu-cont section.horari { background: url(../images/horari.svg) no-repeat 0px 0px; }
.curso-menu-cont section.centre { background: url(../images/centre.svg) no-repeat 0px 0px; }
.curso-menu-cont section.requisits { background: url(../images/requisits.svg) no-repeat 0px 0px; }
.curso-menu-cont section.tramits { background: url(../images/tramits.svg) no-repeat 0px 0px; }
.curso-menu-cont section.continuitat { background: url(../images/continuitat.svg) no-repeat 0px 0px; }

.curso-menu-cont section ul.temari-list { float:left; width:100%;}
.curso-menu-cont section ul.temari-list li{ float:left; width:100%; padding:0px 0px;color:#393939; font-size:16px;line-height:24px;}

.mobile-link-emp.mobile-link-curs ul { display:block;}
.mobile-link-emp.mobile-link-curs ul li { width:100%; margin-bottom:0px;}
.mobile-link-emp .owl-dots {margin-top: 20px;}

.curs-rel-list { width:100%; margin:10px 0px 15px;}
.curs-rel-list ul { margin-bottom:18px; float:left; width:100%;}
.curs-rel-list ul li { font-family: 'barlowmedium'; font-size:17px; color:#000; padding-left:27px; margin-bottom: 10px;}
.curs-rel-list ul li.date {background: url(../images/date.svg) no-repeat 0px 0px; }
.curs-rel-list ul li.location {background: url(../images/location.svg) no-repeat 0px 0px; }
.agenda-list ul li .curs-rel-list h3 {font-family: 'barlowregular';  font-size:18px; color:#000; line-height: 22px;}
.agenda-list ul li .curs-rel-list h3 span{font-family: 'barlowmedium'; }

.agenda-list.curso-list li { border:1px solid #fff; }
.agenda-list.curso-list li:hover { border:1px solid #fc6262; }
.agenda-list.curso-list li .curs-rel-list ul li{ border:none; width: auto;margin-right: 10px; font-family: 'barlowregular';}


.recurs-cont { float:left; width:100%; margin:25px 0px 22px; }
.tab-menu { width:100%; float:left; text-align:center; position:relative; padding:10px 0px 20px;}
.tab-menu p { color:#3b3b3b; font-size:18px; line-height:24px; font-family: 'barlowregular'; }
.recurs-tab ul.resp-tabs-list li span {display: inline-block;width: 130px;height:70px;margin-bottom: 10px;}
.recurs-tab ul.resp-tabs-list li span.centre {background: url(../images/recursos-01.svg) no-repeat center center;}

.recurs-tab ul.resp-tabs-list li.resp-tab-active span.centre, .recurs-tab ul.resp-tabs-list li:hover span.centre {background: url(../images/recursos-01-acc.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li span.punts {background: url(../images/recursos-02.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li.resp-tab-active span.punts, .recurs-tab ul.resp-tabs-list li:hover span.punts {background: url(../images/recursos-02-acc.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li span.enti {background: url(../images/recursos-03.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li.resp-tab-active span.enti, .recurs-tab ul.resp-tabs-list li:hover span.enti {background: url(../images/recursos-03-acc.svg) no-repeat center center;}

.recurs-tab ul.resp-tabs-list li span.accio {background: url(../images/recursos-04.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li.resp-tab-active span.accio, .recurs-tab ul.resp-tabs-list li:hover span.accio {background: url(../images/recursos-04-acc.svg) no-repeat center center;}

.recurs-tab ul.resp-tabs-list li span.recu5 {background: url(../images/recursos-05.svg) no-repeat center center;}
.recurs-tab ul.resp-tabs-list li.resp-tab-active span.recu5, .recurs-tab ul.resp-tabs-list li:hover span.recu5 {background: url(../images/recursos-05-acc.svg) no-repeat center center;}

.recurs-tab ul.resp-tabs-list li span.centre-hover, .recurs-tab ul.resp-tabs-list li:hover span.centre {display:none}
.recurs-tab ul.resp-tabs-list li:hover span.centre-hover {display: inline-block;}

.tab-recurs h2 { font-size:18px; line-height:24px; }

.tab-menu::after { position:absolute; content:""; width:0px; height:3px; bottom:-1px; left:0px; right:0px; margin:auto; background:#fc6262;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.resp-tabs-list li:hover .tab-menu::after, .resp-tab-active .tab-menu::after { width:100%;}
.resp-tabs-list li.resp-tab-active .tab-menu p, .resp-tabs-list li:hover .tab-menu p { font-family: 'barlowsemibold';color:#fc6262;}

ul.recurs-det { float:left; width:100%; margin-top:30px; flex-wrap: wrap; -webkit-flex-wrap: wrap;display: flex;display: -webkit-flex;}
ul.recurs-det li { float:left; width:33.3333%; padding:0px 25px 0px 0px; position:relative; margin-bottom:18px;}
ul.recurs-det li:nth-child(3n-3)::after{ width:0px; }
ul.recurs-det li::after { width:1px; background:#ededed; height:85%; right:22px; top:5px; position:absolute; content:""; }
ul.recurs-det li::before { width:175px; background:#ededed; height:1px; right:0px; left:0px; margin:auto; bottom:0px; position:absolute; content:""; } 
ul.recurs-det li h3, ul.url-list li h3 {font-family: 'barlowmedium'; margin-bottom:14px;}
ul.recurs-det li p { float:left; width:100%; padding:0px 0px 0px 27px; margin-bottom:10px; font-size:16px; line-height:24px;}
ul.recurs-det li p.loc {background: url(../images/location.svg) no-repeat 0px 3px; }
ul.recurs-det li p.phn {background: url(../images/phone.svg) no-repeat 0px 3px; }  
ul.recurs-det li p.mail {background: url(../images/mail.svg) no-repeat 0px 5px; }
ul.recurs-det li p.web {background: url(../images/external-link.svg) no-repeat 0px 3px; }
ul.recurs-det li p.web a { text-decoration:underline;}
ul.recurs-det li p a { color:#565656;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;   }
ul.recurs-det li p a:hover { color:#fc6262; }

.btn-div { float:left; width:100%; text-align:center; margin-bottom:60px;}
a.veure-mes { background:none; color: #fc6262; border:1px solid #fc6262; font-size:18px; font-family: 'barlowbold';  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:14px 40px; text-align:center; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; display:inline-block; }
a.veure-mes:hover { background:#fc6262; color: #fff;}

.down-btn { float:left; width:100%; text-align:left; padding-left:60px;}
.curso-menu-cont section:last-child{margin-bottom:10px;}
a.down { background:none; color: #555555; border:1px solid #555555; font-size:18px;  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:12px 18px; text-align:center; margin:0px 0px;  transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; display:inline-block; }
a.down:hover { background:#555555; color: #fff;}
a.down span { background: url(../images/download-grey.svg) no-repeat 0px 0px; width:12px; height:16px; display:inline-block; margin-left:7px;}
a.down:hover span { background: url(../images/download-white.svg) no-repeat 0px 0px;}

.page-desc-mob { display:none;}

.filter-div { position:relative; float:left; width:100%; top:-10px; background:#FFFFFF; border:1px solid #DBDBDB; padding:12px 0px; border-left:0px; border-right:0px; display:none;}
.filter-div a{ width:96%; height:21px; float:left; position:relative; background: url(../images/arrow-down1.svg) no-repeat right center; padding:0px 0px; }
.filter-div a span{ padding-left:10px; }
.filter-div a span::after{ content:''; position:absolute; background: url(../images/mobile-filter.svg) no-repeat right center; width:28px; height:16px; margin-top:2px; margin-left:10px; }
.filter-div a.open {  background: url(../images/fclose.svg) no-repeat right center;}

.cursos .la-tag.desktop { display:block;}
.cursos .la-tag.mob { display:none; background:#fff; padding:10px;}
.cursos1 .la-tag.mob { display:none; background:#fff; padding:10px;}

.la-tag.la-tag-notice{ display:none;background:#fff; padding:10px;}


.video-img			{ width:100%; margin:0px; float:left; position:relative; overflow:hidden; }
.video-img iframe   { width:100%;}
.video-img img		{ float:left; width:100%;}
.video-img video 	{width: 100%; position:absolute; background:#fff; object-fit: cover; height: 100%;}
#play 				{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;cursor: pointer; background:rgba(0, 0, 0, 0) url("../images/icon-video.svg") no-repeat scroll center center / 100% auto; width:63px; height:63px; padding: 0;border: none; position: absolute;left: 0;right: 0;margin: 0px auto;top: 39.5%;z-index:99; background-size:100%;}
.video-img #play.play{ background:none;}
.video-img:hover #play.play{ background:url(../images/pause-ico.png) no-repeat center center / 100% auto; width:63px; height:63px; background-size:100%;}
.video-img .clickToPlay 	{ display:none !important;}	
#vi-course-1, #vi-course-2, #vi-course-3{display:none;}

.curso-menu-cont section p a:not(.pink-btn1):hover{color:#FB6262;}
.curso-menu-cont section p a.pink-btn1 {width: 140px; padding: 6px 20px; font-size: 15px; font-family: 'barlowmedium'}



.agenda-cont .l-shh {position:relative; float:left; width:100%;}
.comp-share-ico{position:absolute; right:0px; top:25px; width:104px; background:#fff; box-shadow: 3px 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0 4px rgba(0,0,0,0.2);
    -moz-webkit-box-shadow: 0px 0 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0 4px rgba(0,0,0,0.2); padding:5px 10px 2px 10px; display:none;}
.comp-share-ico ul li{float:left; margin-right:10px;}
.comp-share-ico ul li:last-child{margin-right:0;}
.comp-share-ico ul li a{float:left;}

.forma{float:left; width:auto;  font-family: 'barlowmedium';}
img.i-forma{ margin-left:30px;}

#vi-course-4{display:none;}

ul.agenda li:hover span.more::after {    background: url(../images/white-arrow-03.svg) right no-repeat;}
/*.arees-box .arees-listpad h2::before{}*/

.arees-box .arees-listpad h2 span{position:absolute; right:-17px; top:7px; background: url(../images/Grupo_79.svg) no-repeat; width: 7px; height: 11px; transition:all .7s ease; -moz-transition:all .7s ease; -webkit-transition:all .7s ease; -o-transition:all .7s ease; }
.arees-box .arees-listpad h2 span::before{position:absolute; content:""; top:5px; right:1px; width:38px; height:1px; background:#f0f0f0;  opacity:1;  transition:all .7s ease; -moz-transition:all .7s ease; -webkit-transition:all .7s ease; -o-transition:all .7s ease; }
.arees-box .arees-listpad:hover h2 span::before{opacity:1; right:-31px; background:#fb6262;}


/* SKELETON */
.skeleton {background: #f9f9f9; border:1px solid #eaeaea; padding: 20px; margin-bottom: 10px; min-height: 200px;}
.skeleton .title h2, .skeleton .title h1 { background: #eaeaea; height: 30px; animation: shine 1.6s infinite linear; }
.skeleton .title span a { background: #eaeaea; margin-top: 5px; height: 20px; width: 180px; animation: shine 1.6s infinite linear; }
.skeleton .values p { background: #eaeaea; width: 100%; margin-top: 30px; min-height: 70px; }
.skeleton .values span {background: #eaeaea; display: block; margin-top: 5px; height: 20px; width: 110px; animation: shine 1.6s infinite linear;}

.skeleton .values .mlink {float: right;}
.skeleton .values .mlink .skeleton-btn {
    margin-top: -50px;
    line-height: 20px;
    padding: 15px 35px;

    background: #eaeaea;
    color: #000;
    font-size: 18px;
    font-family: 'barlowbold';
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 15px 26px;
    margin: 0px 0px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    display: inline-block;
    width: 110px;
    height: 50px;
    animation: shine 1.6s infinite linear;
}

@keyframes shine {
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.3) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-400px -400px;
        background-size: 800px 800px
    }
    to {
        background-repeat:no-repeat;
        background-position:300px 300px;
    }
}
/* FI SKELETON */

.pagination { display: flex; flex-flow: wrap; justify-content: center; }
.pagination ul { display:flex; flex-flow: wrap; }
.pagination ul li {background:white; margin:0 5px 8px 0;display: flex;align-items: center;}
.pagination ul li a{display:block; padding: 10px 15px;}
.pagination ul li.no-hover a {cursor: default}
.pagination ul li:not(.no-hover):hover {cursor:pointer; background: #fc6262;}
.pagination ul li:not(.no-hover):hover a {color:white;}
.pagination ul li a.active {color:white; background: #fc6262;}

.pagination i { border: solid black; border-width: 0px 2px 2px 0; display: inline-block; padding: 3px; }
.pagination i.right { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.pagination i.left { transform: rotate(135deg); -webkit-transform: rotate(135deg); }
.pagination i.up { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); }
.pagination i.down { transform: rotate(45deg); -webkit-transform: rotate(45deg); }


a.ui-state-default.activitat:after {
    content: "";
    background: #bbbbbb;
    z-index: -1;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px;
    margin: auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
}


.filter {width: 100%;text-align: center;}
.filter .filter-search {
    width: 512px;
    border: none;
    background: #fff;
    font-size: 18px;
    font-family: 'barlowregular';
    color: #393939;
    padding: 0 10px;
    height: 46px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #fc6262;
    -webkit-border-radius: 2px;
}

.tipus {
    margin-bottom: 60px;
}

.tipus .title {
    display: flex;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.tipus .title .icon {
    margin-right: 20px;
}

.tipus .title .title-txt h2 { display:block; color: #393939; font-size:28px; font-family: 'barlowbold'; line-height: 24px; padding-bottom:10px;}
.tipus .title .title-txt span { display:block; color: #fc6262; }
.ribbon-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon-container span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 6px 0 1px;
    font-family: 'barlowsemibold';
    font-size: 12px;
    text-align: center;
    background-color: #fc6262;
    color: #fff;
}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right span {
    left: -10px;
    top: 38px;
    transform: rotate(45deg);
}

.qui-som-row {
    clear: both;
}

.qui-som-row > div {
    /*display: inline-block;*/
    width: 100%;
    /*vertical-align: top;
    padding-right: 24px;*/
}

.qui-som-row > div.qui-som-col-img {
    padding-right: 0;
    padding-left: 24px;
}

.qui-som-row > div.qui-som-col-img img {
    width: 100%;
}

h1.types-title {
    width: 60%;
}

.formacio-types {
    padding: 64px 64px 36px;
}

.formacio-types .intro {
    margin-bottom: 48px;
}

.formacio-types .intro h2 {
    font-family: 'barlowsemibold';
    font-size: 28px;
}

.formacio-types .tipus {
    margin-bottom: 48px
}

.formacio-types .tipus h3 {
    font-family: 'barlowsemibold';
    font-size: 24px
}

.formacio-types .tipus > div {
    display: inline-block;
    vertical-align: top;
}

.formacio-types .tipus .type-icon {
    width: 8%;
}

.formacio-types .tipus .type-icon img {
    padding-right: 16px;
    width: 100%;
    max-height: 79px;
}

.formacio-types .tipus .type-link {
    text-align: right;
}


.formacio-types .tipus .type-txt {
    width: 92%;
}

.formacio-types .tipus .type-txt span {
    color: #fc6262;
}

.formacio-types .tipus .type-txt .content {
    margin-top: 8px
}

.formacio-types .tipus .type-txt .content p {
    text-align: justify;
}

.formacio-types .tipus .type-txt .content p b {
    font-family: 'barlowsemibold';
}

.formacio-types .tipus .type-txt .content p a {
    color: #fc6262;
}

.formacio-types .tipus .type-txt .content p a:hover {
    text-decoration: underline;
}

.order-container {
    text-align: right;
    margin-bottom: 8px;
}

.order-container > div {
    display: inline-block;
    vertical-align: middle;
}
.order-container > div:not(.recom) {
    margin-right: 5px;
    line-height: 24px;
    padding-top: 6px;
}

.order-container .recom {
    position: relative;
}

.order-container .recom .sbOptions {
    width: 195px !important;
}

.order-container .recom .sbSelector {
    font-family: barlowsemibold;
    padding-top: 6px;
}