/* #Animation
================================================== */

.cbp-so-scroller {	
}
.cbp-so-section {
	overflow:hidden;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Sides */
.cbp-so-side {
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	-moz-transition: -moz-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}


/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-600px);
	-moz-transform: translateX(-600px);
	transform: translateX(-600px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(600px);
	-moz-transform: translateX(600px);
	transform: translateX(600px);
}
.textslide .cbp-so-side-right {
	-webkit-transform: translateX(200px);
	-moz-transform: translateX(200px);
	transform: translateX(200px);
}
.cbp-so-init .cbp-so-side-left1 {
	-webkit-transform: translateX(-400px);
	-moz-transform: translateX(-400px);
	transform: translateX(-400px);
}

.cbp-so-init .cbp-so-side-right1 {
	-webkit-transform: translateX(400px);
	-moz-transform: translateX(400px);
	transform: translateX(400px);
}
.cbp-so-init .cbp-so-side-left3 {
	-webkit-transform: translateX(-900px);
	-moz-transform: translateX(-900px);
	transform: translateX(-900px);
}

.cbp-so-init .cbp-so-side-right3 {
	-webkit-transform: translateX(900px);
	-moz-transform: translateX(900px);
	transform: translateX(900px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left1,
.cbp-so-section.cbp-so-animate .cbp-so-side-right1{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left3,
.cbp-so-section.cbp-so-animate .cbp-so-side-right3{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-right1 {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left1 {
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left3 {
	-webkit-transition: -webkit-transform 2s, opacity 1s;
	-moz-transition: -moz-transform 2s, opacity 1s;
	transition: transform 2s, opacity 1s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	transition-delay: 1s;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-right3 {
	-webkit-transition: -webkit-transform 2s, opacity 1s;
	-moz-transition: -moz-transform 2s, opacity 1s;
	transition: transform 2s, opacity 1s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	transition-delay: 1s;
}

.cbp-so-side.cbp-so-side-left {
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	-moz-transition: -moz-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.preload * {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}							
.cl-effect-18 a {
	padding: 0 5px;
	color: #b4770d;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18 a::before,
.cl-effect-18 a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 1px;
	margin-top: -1px;
	background: #fff;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-18 a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cl-effect-18 a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.cl-effect-18 a:hover,
.cl-effect-18 a:focus {
	color: #fff;
}
.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after {
	opacity: 0.4;
}

.cl-effect-18 a:hover::before,
.cl-effect-18 a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}			
			


	

.no-touch.cssanimations .facts .facts-icon1:before {
	-webkit-animation: tada 5s infinite linear;
	-moz-animation: tada 5s infinite linear;
	-o-animation: tada 5s infinite linear;
	animation: tada 5s infinite linear;
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}
.no-touch.cssanimations .facts .facts-icon2:before {
	-webkit-animation: spinAround 6s linear infinite;
	-moz-animation: spinAround 6s linear infinite;
	animation: spinAround 6s linear infinite;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

.no-touch.cssanimations .facts .facts-icon3:before {
    -webkit-animation: smallToBig 1s alternate infinite ease;
    -moz-animation: smallToBig 1s alternate infinite ease;
    -ms-animation: smallToBig 1s alternate infinite ease;
}

@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.3);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.3);
    }
    to {
        -ms-transform: scale(1);
    }
}

.no-touch.cssanimations .facts .facts-icon4:before {
	-webkit-animation: toBottomFromTop 3s forwards infinite;
	-moz-animation: toBottomFromTop 3s forwards infinite;
	animation: toBottomFromTop 3s forwards infinite;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}
@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateX(120%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateX(-30%);
	}
	51% {
		opacity: .4;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateX(120%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateX(-30%);
	}
	51% {
		opacity: .4;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateX(120%);
	}
	50% {
		opacity: 0;
		transform: translateX(-30%);
	}
	51% {
		opacity: .4;
	}
}

.cl-effect-18-team {
	position: relative;
	z-index: 1;
	margin-top:30px;
}

.cl-effect-18-team a {
	padding: 0 2px;
	color: #fff;
	font-weight: 400;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18-team a::before,
.cl-effect-18-team a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 1px;
	margin-top: -1px;
	background: #fff;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-18-team a::before {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	transform: translateY(-15px);
}

.cl-effect-18-team a::after {
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	transform: translateY(15px);
}

.cl-effect-18-team a:hover,
.cl-effect-18-team a:focus {
	color: #fff;
}
.cl-effect-18-team a:hover::before,
.cl-effect-18-team a:hover::after,
.cl-effect-18-team a:focus::before,
.cl-effect-18-team a:focus::after {
	opacity: 0.4;
}

.cl-effect-18-team a:hover::before,
.cl-effect-18-team a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cl-effect-18-team a:hover::after,
.cl-effect-18-team a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}	


.cl-effect-9 a {
	margin: 0 10px;
	padding: 18px 10px;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}


.cl-effect-9 a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
}

.cl-effect-9 a span:last-child {
	z-index: 1;
	display: block;
	padding: 0 0 0 0;
	color: #00ffff;
	text-shadow: none;
	text-transform: none;
	font-size: 2em;
	font-family: 'FontAwesome';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
	height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

/*Product Tabs*/
.cbp-so-section.cbp-so-animate .products-tabs, .cbp-so-section.cbp-so-animate .policy-item.policy_center, .cbp-so-section.cbp-so-animate .home-cat.item4, .cbp-so-section.cbp-so-animate .porrlogosml{
	text-align:center;
	-webkit-animation:logozoom ease-in 1s;
	-moz-animation:logozoom ease-in 1s;
	-o-animation:logozoom ease-in 1s;
	animation:logozoom ease-in 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-o-animation-duration:1.5s;
	animation-duration:1.5s;
	
}
@-webkit-keyframes logozoom {
	0% {
		opacity: 0;
		-webkit-transform:scale(.2);
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-webkit-transform:scale(1);
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes logozoom {
	0% {
		opacity: 0;
		-moz-transform:scale(.2);
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-moz-transform:scale(1);
		-moz-animation-timing-function: ease-in;
	}
}
@-o-keyframes logozoom {
	0% {
		opacity: 0;
		-o-transform:scale(.2);
		-o-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-o-transform:scale(1);
		-o-animation-timing-function: ease-in;
	}
}
@keyframes logozoom {
	0% {
		opacity: 0;
		transform:scale(.2);
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		transform:scale(1);
		animation-timing-function: ease-in;
	}
}


