

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   Preloader
   ========================================================================== */
   
#preloader { position:fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ffffff; z-index: 999999;  }
#status  { width: 200px; height: 200px; position: absolute; left: 50%; top: 50%; background-image: url(../images/preload.gif); background-repeat: no-repeat; background-position: center; margin: -100px 0 0 -100px; } 


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   



.cbp-so-section.cbp-so-animate .products-tabs{
	text-align:center;
	-webkit-animation:logozoom ease-in 1s;
	-moz-animation:logozoom ease-in 1s;
	-o-animation:logozoom ease-in 1s;
	animation:logozoom ease-in 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-o-animation-duration:1.5s;
	animation-duration:1.5s;
	
}
@-webkit-keyframes logozoom {
	0% {
		opacity: 0;
		-webkit-transform:scale(.2);
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-webkit-transform:scale(1);
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes logozoom {
	0% {
		opacity: 0;
		-moz-transform:scale(.2);
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-moz-transform:scale(1);
		-moz-animation-timing-function: ease-in;
	}
}
@-o-keyframes logozoom {
	0% {
		opacity: 0;
		-o-transform:scale(.2);
		-o-animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		-o-transform:scale(1);
		-o-animation-timing-function: ease-in;
	}
}
@keyframes logozoom {
	0% {
		opacity: 0;
		transform:scale(.2);
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		transform:scale(1);
		animation-timing-function: ease-in;
	}
}

.home-txtpad { float:left; width:100%; text-align:center; }
.home-txtpad .cbp-so-section.cbp-so-animate .cherry-txt {
    margin-top:140px;
    font-size:160px;
	color:#ffffff;
	line-height:normal;
    text-align: center;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
		
	webkit-text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* for chrome */
	text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* same as above*/
	-moz-text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* for firefox */
	-o-text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* for opera */
	-ms-text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* for ie 9+ */
	-khtml-text-shadow:0 10px 4px rgba(0, 0, 0, 0.25); /* for gecko based browser*/

	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-moz-animation: fadein 2s; /* Firefox */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera */
	animation: fadein 2s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}


.home-txtpad .cbp-so-section.cbp-so-animate .season-txt {
    font-size:60px;
	color:#ffffff;
	line-height:normal;
    text-align: center;
	letter-spacing:24px;
	text-transform:uppercase;
	font-weight:normal;
	webkit-text-shadow:0 10px 8px rgba(0, 0, 0, 0.15) ; /* for chrome */
	text-shadow:0 2px 2px rgba(0, 0, 0, 0.25); /* same as above*/
	-moz-text-shadow:0 2px 2px rgba(0, 0, 0, 0.25); /* for firefox */
	-o-text-shadow:0 2px 2px rgba(0, 0, 0, 0.25); /* for opera */
	-ms-text-shadow:0 2px 2px rgba(0, 0, 0, 0.25); /* for ie 9+ */
	-khtml-text-shadow:0 2px 2px rgba(0, 0, 0, 0.25); /* for gecko based browser*/

	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera */
	animation: fadein 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:2.5s;
	-moz-animation-duration:2.5s;
	-o-animation-duration:2.5s;
	animation-duration:2.5s;
}

.home-txtpad .cbp-so-section.cbp-so-init.cbp-so-animate .cherry-txt {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}


.home-txtpad .cbp-so-section.cbp-so-init.cbp-so-animate .season-txt {
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-o-animation-duration:1.5s;
	animation-duration:1.5s;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform:translateY(0);
	}
	25% {
		opacity: 0;
		transform:translateY(0);
		animation-timing-function: ease-in;
	}
	50% {
		opacity:0;
		transform:translateY(0);
		animation-timing-function: ease-in;
	}
	65% {
		opacity:.01;
		transform:translateY(0);
		animation-timing-function: ease-in;
	}
	100% {
		opacity:1;
		transform:translateY(0);
		animation-timing-function: ease-in;
	}
}

/* Firefox */
@-moz-keyframes fadein {
   0% {
		opacity: 0;
		-moz-transform:translateY(0);
	}
	25% {
		opacity: 0;
		-moz-transform:translateY(0);
		-moz-animation-timing-function: ease-in;
	}
	50% {
		opacity:0;
		-moz-transform:translateY(0);
		-moz-animation-timing-function: ease-in;
	}
	65% {
		opacity:.01;
		-moz-transform:translateY(0);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		opacity:1;
		-moz-transform:translateY(0);
		-moz-animation-timing-function: ease-in;
	}
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    0% {
		opacity: 0;
		-webkit-transform:translateY(0);
	}
	25% {
		opacity: 0;
		-webkit-transform:translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		opacity:0;
		-webkit-transform:translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
	65% {
		opacity:.01;
		-webkit-transform:translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
   0% {
		opacity: 0;
		-webkit-transform:translateY(0);
	}
	25% {
		opacity: 0;
		-ms-transform:translateY(0);
		-ms-animation-timing-function: ease-in;
	}
	50% {
		opacity:0;
		-ms-transform:translateY(0);
		-ms-animation-timing-function: ease-in;
	}
	65% {
		opacity:.01;
		-ms-transform:translateY(0);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		opacity:1;
		-ms-transform:translateY(0);
		-ms-animation-timing-function: ease-in;
	}
}

/* Opera */
@-o-keyframes fadein {
   0% {
		opacity: 0;
		-o-transform:translateY(0);
	}
	25% {
		opacity: 0;
		-o-transform:translateY(0);
		-o-animation-timing-function: ease-in;
	}
	50% {
		opacity:0;
		-o-transform:translateY(0);
		-o-animation-timing-function: ease-in;
	}
	65% {
		opacity:.01;
		-o-transform:translateY(0);
		-o-animation-timing-function: ease-in;
	}
	100% {
		opacity:1;
		-o-transform:translateY(0);
		-o-animation-timing-function: ease-in;
	}
}


.scroll-btm .bounce .cbp-so-section.cbp-so-animate {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform:translateY(0px);
	transform: translateY(0px);
	-webkit-animation: bounce 1.5s infinite ease;
    -moz-animation: bounce 1.5s  infinite ease;
	-o-animation: bounce 1.5s  infinite ease;
    animation: bounce 1.5s  infinite ease;
	height:26px;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform:translateY(9px);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes bounce {
	0% {
		-moz-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		-moz-transform:translateY(9px);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		-o-transform:translateY(9px);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-o-transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
}

@keyframes bounce {
	0% {
		transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		transform:translateY(9px);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		transform:translateY(-6px);
		-webkit-animation-timing-function: ease-in;
	}
}


/

/*  Cherry Varieties CSS 
==================================================  */
.cherry-varieties { float:left; background:#e5eaed; width:100%; margin:0; padding:80px 0px 55px; position:relative; }
.leavestop { float:left; position:absolute; top:0px; left:0px; }
.leavesbtm { float:right; position:absolute; bottom:-2px; right:0px; }
.cbp-so-init .leavesbtm .cbp-so-side-left {
	-webkit-transform: translateX(-700px);
	-moz-transform: translateX(-700px);
	-o-transform: translateX(-700px);
	transform: translateX(-700px);
	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	-o-animation-duration:3s;
	animation-duration:3s;
}
.cbp-so-init .leavestop .cbp-so-side-right {
	-webkit-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-o-transform: translateX(-500px);
	transform: translateX(-500px);
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}




/* #Media Queries
================================================== */
input[type="submit"], input {  }
a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
meta.foundation-version {
  font-family: "/5.2.1/"; }

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.000em)/";
  width: 64.000em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }




meta.foundation-mq-topbar { font-family: "/only screen and (min-width:40.063em)/"; width: 40.063em; }

