.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
width: 100%;
z-index: 1;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden; margin-bottom:5px;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  padding: 10px 0px;
  color: #fbbf29;
font-size: 23px;
text-transform: uppercase;
font-family: 'BarlowCondensed-Light';
  display: block;
  cursor: pointer;
  border-bottom: solid 1px #e1e1e1;line-height: 25px;
}
.smk_accordion .accordion_in .acc_head span{width: 30px; height:24px; float:left;margin-right: 15px;}

.rgtside-content.padng-cont.advice-rgt .accordion_example1.smk_accordion .accordion_in .acc_head .acc_icon_expand {
 display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../images/adv-aero.png) center 0;	
	
	}

.rgtside-content.salaries .accordion_example1.smk_accordion .accordion_in .acc_head .acc_icon_expand {
 display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../images/adv-aero.png) center 0;	
	
	}	
	
.accordion_example1.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 15px;
  height: 9px;
  position: absolute;
  right: 0;
bottom: 20%;
  background: url(../images/accordio-close.jpg) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */

.smk_accordion .accordion_in .acc_content {
  background: #fff;
  color: #7B7E85;
  padding: 15px 0px 0;}
.smk_accordion .accordion_in .acc_content p {font-family: 'barlowlight';font-size: 16px;line-height: 24px;margin-bottom: 26px;color: #707070;}
.smk_accordion .accordion_in .acc_content p span, .smk_accordion .accordion_in .acc_content p span a{font-family: 'barlowbold';color: #707070;}
.smk_accordion .accordion_in .acc_content p span a:hover { color: #51326b;}

.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block; float:left; width:100%;
}

.smk_accordion .accordion_in.acc_active > .acc_head {
padding: 13px 0px;  
}

.accordion_example1.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/accordio-open.jpg) center 0;
}

