@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@font-face {
    font-family: 'Clarendon LT Std Light';
    src: url('fonts/ClarendonLTStd-Light.eot');
    src: url('fonts/ClarendonLTStd-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ClarendonLTStd-Light.woff') format('woff'), url('fonts/ClarendonLTStd-Light.ttf') format('truetype'), url('fonts/ClarendonLTStd-Light.otf') format('opentype'), url('fonts/ClarendonLTStd-Light.svg#ClarendonLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Clarendon LT Std Bold';
    src: url('fonts/ClarendonLTStd-Bold.eot');
    src: url('fonts/ClarendonLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/ClarendonLTStd-Bold.woff') format('woff'), url('fonts/ClarendonLTStd-Bold.ttf') format('truetype'), url('fonts/ClarendonLTStd-Bold.otf') format('opentype'), url('fonts/ClarendonLTStd-Bold.svg#ClarendonLTStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Clarendon LT Std';
    src: url('fonts/ClarendonLTStd.eot');
    src: url('fonts/ClarendonLTStd.eot?#iefix') format('embedded-opentype'), url('fonts/ClarendonLTStd.woff') format('woff'), url('fonts/ClarendonLTStd.ttf') format('truetype'), url('fonts/ClarendonLTStd.otf') format('opentype'), url('fonts/ClarendonLTStd.svg#ClarendonLTStd') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

body {
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
audio,
video,
source {
    display: block;
    margin: 0;
    padding: 0;
}

a,
img {
    border: medium none;
}

a {
    text-decoration: none;
    color: #000;
}

div {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
}

a {
    outline: none;
}


/*a:hover { color: #979796; }*/

ul,
li {
    list-style: none;
}

a:focus,
 :focus {
    outline: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    clear: both;
    line-height: 1px;
    padding: 0px;
    height: 0px;
    font-size: 1px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.anim {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.anim2 {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.row {
    width: 1280px;
    margin: auto;
    padding: 0px;
}

.row1 {
    width: 1200px;
    margin: auto;
    padding: 0px;
}


/* header css */

header {
    float: left;
    width: 100%;
    position: relative;
    z-index: 9999;
}

.hdr-top {
    float: left;
    width: 100%;
    background: #ce0e2d;
    padding: 6px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.top-lft {
    float: left;
    margin: 0px 0 0 0;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.top-lft ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

.top-lft ul li {
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.top-lft ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

.top-lft ul li a:hover {
    text-decoration: underline;
}

.top-lft ul li a.active {
    font-weight: 700;
}

.top-rht {
    float: right;
}

.top-rht img {
    float: left;
}


/*.is-sticky .menu span{ background:#000}
.is-sticky .menu-list ul li a{ color:#000}
.is-sticky .menu-list ul li a:hover{ color:#b69857; text-decoration:underline;}
.is-sticky .desktp-logo{ display:none}
.stiky-logo{ display:none;padding: 22px 0;}
.is-sticky .stiky-logo{ display:block; box-shadow:none;}
.is-sticky .menu-list{ background:#fff;}
.is-sticky .logo-section{background:#fff;z-index: 999;}
.stiky-bordr{border-bottom: solid 2px #000;float: left;width: 100%;padding-bottom:0px; display:none; position:absolute;bottom: 0;left: 0;right: 0;margin: auto;}
.is-sticky .stiky-bordr{ display:block}
*/

.relative-pad {
    float: left;
    width: 100%;
    position: relative;
    padding-left: 80px;
}

.user-section {
    float: left;
    width: 100%;
    padding: 16px 0;
    background: #fff;
    border-bottom: 1px solid #da4a61;
    margin-bottom: 0px;
}

.title-head {
    float: left;
    margin: 8px 0 0 0;
}

.title-head h1 {
    font-size: 20px;
    font-weight: 700;
    color: #ce0e2d;
    padding-left: 45px;
}

.calen-ico {
    background: url(../images/cal-ico.png) no-repeat left;
}

.cal-ico {
    background: url(../images/contact-ico.png) no-repeat left;
}

.menu {
    position: absolute;
    background: #f9eaed;
    left: 0;
    top: 0;
    padding: 25px 25px;
    height: 100%
}

.pad-left {
    padding-left: 0px;
}

.user-rht {
    float: right;
}

.user-rht img {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: scale-down;
}

.cal-cnt {
    float: left;
    width: 100%;
    margin: 40px 0;
}

.cal-lft {
    float: left;
    width: 33%;
}

.dies {
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    width: 92px;
    height: 92px;
    border: 1px solid #cf0e2d;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-cont: center;
    align-items: center;
    float: left;
    margin-right: 5%;
}

.dies span {
    font-size: 23px;
    font-weight: 700;
}

.dies h2 {
    font-size: 16px;
    line-height: 18px;
}

.cal-lft p {
    float: right;
    width: 71%;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 400;
}

.cal-lft a {
    color: #ce0e2d;
    text-decoration: underline;
    font-weight: 400;
}

.cal-lft a.show-pop:hover {
    opacity: 0.7;
}

.cal-rht {
    float: right;
    width: 61%;
    position: relative;
}

.cal-dpdwn {
    position: absolute;
    right: 15px;
    top: 20px;
}

.cal-dpdwn ul li {
    float: left;
    margin-right: 5px;
}

.cal-dpdwn ul li:last-child {
    margin-right: 0;
}


/*.cal-dropdown { position:absolute; right:0; top:0;}*/

.cal-rht button {
    display: inline-flex;
    align-items: center;
    background: #fff;
    font-size: 13px;
    border: 1px solid #7f7f7f;
    padding: 5px 26px 5px 10px;
    border-radius: 5px;
    position: relative;
    width: auto;
    cursor: pointer;
}

.cal-rht button:after {
    margin-left: 0px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
}

.cal-rht button:hover {
    background: #f0f0f0;
}

.cal-rht .caret {
    margin-left: 10px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 4px solid transparent;
}

.cal-rht .dropdown {
    display: none;
    background: #fff;
    width: 105px;
    border: 1px solid #7f7f7f;
    z-index: 9;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 1px;
}

.cal-rht .dropdown li {
    border-radius: 0px;
    margin: 0;
}

.cal-rht .dropdown li:hover {
    background: #f0f0f0;
}

.cal-rht .dropdown li span {
    float: right;
}

.cal-rht .option {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
    width: 100%;
}

#calendar {
    width: 100%;
    float: left;
}

#dropdown-title span {
    display: none;
}


/* footer css */

footer {
    float: left;
    width: 100%;
    background: #ce0e2d;
    padding: 15px 0px 15px;
}

.foot-btm {
    float: left;
    width: 100%;
    background: #0f0c0a;
    padding: 10px 0px 10px 0px;
    position: relative;
}

.foot-btm .ft-btm-lft {
    float: left;
    text-align: left;
    margin: 0px;
}

.foot-btm .ft-btm-rgt {
    float: right;
    padding-right: 125px;
}

.foot-btm .ft-btm-lft p {
    color: #fff;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.foot-btm .ft-btm-lft p a {
    color: #fff;
    margin-right: 30px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.foot-btm .ft-btm-lft p a:hover {
    color: #b69857;
}

.foot-btm .ft-btm-rgt ul li {
    float: left;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.foot-logo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.foot-logo:hover {
    opacity: 0.7;
}

footer .main-footer ul.main li.contact {
    width: auto;
    padding: 0px 0px 0px 0;
}

footer .main-footer ul.main li {
    float: left;
    margin-right: 40px;
}

footer .main-footer ul.main li ul li {
    margin-right: 0;
    line-height: 17px;
}

footer .main-footer ul.main li h4 {
    color: #eeb5bc;
    font-weight: 500;
    font-size: 12px;
    margin: 0px 0 10px;
    text-transform: uppercase;
    position: relative;
    line-height: 15px;
    font-weight: 700;
}

footer .main-footer ul.main li p {
    font-size: 11px;
    float: left;
    font-weight: 400;
    color: #fff;
    line-height: 16px;
}

footer .main-footer.footer-red ul.main li.contact img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

footer .main-footer ul.main li.dept {
    margin-top: 14px;
}

footer .main-footer ul.main li a {
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}

footer .main-footer ul.main li a:hover {
    text-decoration: underline;
}

footer .main-footer ul.main li.dept ul li {
    width: 100%;
}

footer .main-footer ul.main li.dept.mar-20 {
    margin-top: 35px;
}

footer .main-footer ul.main li p.cookie a {
    font-weight: 400
}

footer .main-footer ul.main li p.cookie span {
    display: block;
    font-weight: 700;
    margin: 0 2px;
}

footer .main-footer ul.main li.dept.rht span.divider {
    display: inline;
    font-weight: normal;
}

footer .main-footer ul.main li.dept.rht {
    float: right;
    margin: 42px 0 0 0;
}

.dropdown-hotel {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
}

.title-box h2 {
    font-size: 13px;
    border: 1px solid #7f7f7f;
    padding: 5px 26px 5px 10px;
    border-radius: 5px;
    position: relative;
    width: auto;
    cursor: pointer;
    line-height: 16px;
}

.title-box h2:hover {
    background: #f0f0f0;
}

.title-box h2:after {
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
}

.dropdown-hotel>ul {
    position: absolute;
    z-index: 9999;
    background: #fff;
    border: 1px solid #7f7f7f;
    margin-top: 0px;
    width: 175px;
    top: 29px;
    border-radius: 5px;
    right: 0;
    overflow: hidden;
}

.dropdown-hotel>ul li {
    line-height: 20px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
    width: 100% !important;
    font-weight: 400;
}

.dropdown-hotel>ul li:hover {
    background: #f0f0f0;
}

.dropdown-hotel>ul li a span {
    float: right;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.dropdown-hotel>ul li.pink a span {
    background: #b849d4;
}

.dropdown-hotel>ul li.blue a span {
    background: #19abf8;
}

.dropdown-hotel>ul li.red a span {
    background: #cd0e2d;
}

.dropdown-hotel>ul li.green a span {
    background: #57ca2f;
}

.dropdown-hotel>ul li.yellow a span {
    background: #ffc00e;
}

.dropdown-hotel>ul li.lightpink a span {
    background: #ff80ab;
}

.dropdown-hotel>ul li.gray a span {
    background: #ccc;
}

.nav {
    margin-bottom: 0px;
    margin-left: 0;
    list-style: none;
}

.nav>li>a {
    display: block;
}

.nav-tabs {
    *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
    display: table;
    content: "";
}

.nav-tabs:after {
    clear: both;
}

.nav-tabs>li {
    float: left;
    position: relative;
    margin-bottom: -1px;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    /*border: 1px solid transparent;*/
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    color: #ce0e2d;
    font-size: 16px;
    padding-right: 42px;
    padding-left: 9px;
    margin-right: 0px;
    background: url(../images/menu-line.png) no-repeat right;
    width: 128px;
    text-align: center;
    height: 33px;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
    cursor: default;
    border: 0px solid #ce0e2d;
    border-bottom: none;
    margin: 0;
}

.tab-content.active {
    display: block;
    padding: 20px 20px;
    border: 1px solid #ce0e2d;
    margin-top: 0px;
}

.tab-content.hide {
    display: none;
}

.tab-content {
    float: left;
    width: 99.99%;
    position: relative;
}

.nav-tabs>li.active {
    background: #fff;
    z-index: 1;
    font-weight: 700;
}

ul.buttons {
    float: left;
    position: absolute;
    right: 0;
    top: -5px;
}

ul.buttons li {
    float: left;
    margin-right: 15px;
    display: block;
    position: relative;
}

ul.buttons li a {
    font-size: 14px;
    color: #000;
    background: #f9eaed;
    padding: 5px 16px 6px 34px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

ul.buttons li:last-child {
    margin-right: 0;
}

ul.buttons li img {
    position: absolute;
    left: -7px;
    top: -8px;
    width: 36px;
}

ul.buttons li a:hover {
    background: #f1a3ad;
}

.ultimate-div {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}

.ultimate-div h3 {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}

.nav-tabs1 {
    *zoom: 1;
}

.nav-tabs1:before,
.nav-tabs:after {
    display: table;
    content: "";
}

.nav-tabs1:after {
    clear: both;
}

.nav-tabs1>li {
    float: left;
    position: relative;
    margin-bottom: -1px;
    width: 32%;
    margin-right: 2%;
    border: 1px solid transparent;
    border-bottom: none;
    /*width: auto;
    min-width: 20%;
    margin-right: 1%;*/
}

.nav-tabs1 {
    border-bottom: 0px solid #ddd;
}

.nav-tabs1>li>a {
    padding: 8px 8px 8px 8px;
    line-height: 24px;
    /*border: 1px solid transparent;*/
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    color: #000;
    font-size: 15px;
    margin-right: 0px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.5px;
}

.nav-tabs1>.active>a,
.nav-tabs1>.active>a:hover {
    cursor: default;
    border: 0px solid #ce0e2d;
    border-bottom: none;
    margin: 0;
}

.tab-pad1 .tab-content.active {
    display: block;
    padding: 20px 25px;
    border: 1px solid #ce0e2d;
    margin-top: 0px;
}

.nav-tabs1 .tab-content.hide {
    display: none;
}

.nav-tabs1 .tab-content {
    float: left;
    width: 100%;
    position: relative;
}

.nav-tabs1>li.active {
    background: #fff;
    z-index: 1;
    font-weight: 700;
}

.nav-tabs1>li.tab-pink a {
    background: #f1dbf6;
}

.nav-tabs1>li a span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    display: block;
    line-height: 24px;
    float: right;
    text-align: center;
}

.nav-tabs1>li.tab-pink a span {
    background: #b849d3;
}

.nav-tabs1>li.tab-blue a span {
    background: #19acf9;
}

.nav-tabs1>li.tab-orange a span {
    background: #e037ff;
}

.nav-tabs1>li.tab-red a span {
    background: #c90c2a;
}

.nav-tabs1>li.tab-orange a {
    background: #efa8fc;
}

.nav-tabs1>li.tab-blue a {
    background: #d1eefe;
}

.nav-tabs1>li.tab-red a {
    background: #f8e2e5;
}

.nav-tabs1>li:last-child {
    margin-right: 0;
}

.tab-pad1 #tab4.tab-content.active {
    border: 1px solid #d785e9;
}

.nav-tabs1>li.active.tab-pink {
    border: 1px solid #d785e9;
    border-bottom: none;
}

.nav-tabs1>li.active.tab-blue {
    border: 1px solid #1cabf9;
    border-bottom: none;
}

.nav-tabs1>li.active.tab-orange {
    border: 1px solid #e037ff;
    border-bottom: none;
}

.tab-pad1 #tab5.tab-content.active {
    border: 1px solid #1cabf9;
}

.nav-tabs1>li.active.tab-red {
    border: 1px solid #c90c2a;
    border-bottom: none;
}

.tab-pad1 #tab6.tab-content.active {
    border: 1px solid #c90c2a;
}

.dies-list {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

.dies-list ul li {
    float: left;
    font-size: 14px;
    margin-right: 15px;
}

.dies-list ul li span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

.dies-list ul li.dies-green span {
    background: #58c92f;
}

.dies-list ul li.dies-yellow span {
    background: #ffc208;
}

a.envir-btn {
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
    margin: 35px 0 0 0;
    border-radius: 10px;
    width: auto;
    /*width:160px;*/
    text-align: center;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    float: left;
}

a.envir-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

a.envir-btn.disabled {
    background: #999;
}

.tab-content h3 {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.tab-content.tab-content-pink h3 span {
    display: block;
    font-weight: normal;
    color: #b849d4;
    font-style: italic;
    font-size: 14px;
}

.tab-content.tab-content-blue h3 span {
    display: block;
    font-weight: normal;
    color: #19acf9;
    font-style: italic;
    font-size: 14px;
}

.tab-content.tab-content-orange h3 span {
    display: block;
    font-weight: normal;
    color: #e488f5;
    font-style: italic;
    font-size: 14px;
}

.tab-content.tab-content-blue ul {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

.tab-content.tab-content-pink ul li {
    float: left;
    width: 100%;
    /*width:52%;*/
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-bottom: 8px;
}

.tab-content.tab-content-pink ul li span {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: #b849d3;
    vertical-align: middle;
    margin-left: 30px;
    float: right;
}

.tab-content.tab-content-blue ul li {
    float: left;
    width: 100%;
    /*width:52%;*/
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-bottom: 8px;
}

.tab-content.tab-content-blue ul li span {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: #1aacf9;
    vertical-align: middle;
    margin-left: 30px;
    float: right;
}

.tab-content.tab-content-orange ul li {
    float: left;
    width: 100%;
    /*width:52%;*/
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-bottom: 8px;
}

.tab-content.tab-content-orange ul li span {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: #e488f5;
    vertical-align: middle;
    margin-left: 30px;
    float: right;
}

.tab-content ul li span.green {
    background: #58c62f;
}

.tab-content ul li span.yellow {
    background: #ffc207;
}

.tab-content.tab-content-red ul li {
    float: left;
    width: 100%;
    /*width:52%;*/
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-bottom: 8px;
}

.tab-content.tab-content-red ul li span {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: #c90c2a;
    vertical-align: middle;
    margin-left: 30px;
    float: right;
}

.message {
    float: left;
    width: 100%;
}

.message ul li {
    float: left;
    margin-bottom: 20px;
}

.message ul li .msg-l {
    float: left;
}

.message ul li .msg-r {
    float: right;
    position: relative;
    width: 90%;
}

.message ul li .msg-r h4 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}

.message ul li .msg-r h4 span {
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.message ul li .msg-r p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.message ul li.line {
    background: #e0e4e5;
    width: 100%;
    height: 1px;
    margin: 15px 0 25px;
    text-align: center;
    display: block;
    line-height: 0;
}

.message ul li.line span {
    text-transform: uppercase;
    font-weight: 700;
    color: #999999;
    font-size: 12px;
    background: #fff;
    padding: 3px 20px;
}

.message {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-pad {
    float: left;
    width: 100%;
    margin: 50px 0 0 0;
}

.form-pad ul li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.form-pad ul li textarea, .form-pad ul li input[type=text] {
    border: 1px solid #e0e4e5;
    width: 100%;
    padding: 10px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #acacac;
    resize: none;
}
.form-pad ul li textarea { height: 100px; }

.form-pad ul li input[type="button"] {
    background: #cd0e2d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 0 0 0;
    float: right;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.form-pad ul li input[type="button"]:hover {
    background: rgba(205, 14, 45, 0.8);
}

.alert-div {
    background: #ffe8a5;
    padding: 4px 10px 4px 42px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    margin: 60px 0 0 0;
    float: left;
    width: 100%
}

.alert-div img {
    position: absolute;
    left: -6px;
    top: -4px;
}

.simplePopup {
    display: none;
    position: absolute;
    border: 0px solid #17b6bb;
    background: #fff;
    z-index: 99999;
    color: #fff;
    padding: 60px 40px 40px;
    left: 0;
    top: 3%;
    right: 0;
    margin: auto;
}

#pop-info,
#pop-info-message {
    float: left;
    background: #fff;
    width: 100%;
    max-width: 700px;
    color: #000;
}

#pop-info ul li,
#pop-info-message ul li {
    color: #000;
    font-size: 15px;
    margin-bottom: 15px;
}

#pop-info ul li strong,
#pop-info-message ul li strong {
    font-weight: 700;
}

#pop-info ul li span,
#pop-info-message ul li span {
    font-weight: 600;
}

#pop-info ul li ul li,
#pop-info-message ul li ul li {
    color: #000;
}

#pop-info ul li span.r-grn,
#pop-info-message ul li span.r-grn {
    background: #58c931;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#pop-info ul li span.r-yel,
#pop-info-message ul lispan.r-yel {
    background: #ffc10c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#pop-info ul li.no-mar,
#pop-info-message ul li.no-mar {
    margin-bottom: 0;
}

#pop-info h1,
#pop-info-message h1 {
    color: #cc0f2d;
    background-position: left bottom;
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
}

.simplePopup.detail-form {
    width: 40%;
    padding: 42px 12px 15px;
}

#pop-info ul.second-level,
#pop-info-message ul.second-level {
    padding-left: 40px;
}

#pop-info ul.second-level li,
#pop-info-message ul.second-level li {
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}

#pop-info ul.third-level,
#pop-info-message ul.third-level {
    padding-left: 65px;
    margin-bottom: 15px;
}

#pop-info ul.third-level li,
#pop-info-message ul.third-level li {
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}

.close-btn {
    float: right;
    width: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
}

.close-btn img {
    float: right;
}

.simplePopup.p-open {
    display: block;
}


/*body.overlay { background: rgba(0,0,0,0.65); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999;}*/

body.overlay {
    overflow: hidden;
}

body.overlay::after {
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: block;
    content: "";
}

.alert-pop {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background: url(../images/BATALLE-INTANET-icona-avis.png) no-repeat left;
    padding-left: 50px;
    margin-top: 20px;
}


/* benvigut css */

.benvigut {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
}

.benvigut p {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    line-height: 26px;
    margin: 30px 0 70px 0;
}

.benvigut p span {
    display: block;
}

.benvigut ul li {
    float: none;
    width: 23%;
    /*display:inline-block;*/
    margin-bottom: 50px;
    border-right: 2px solid #fae5ea;
    padding: 0px 10px;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -o-inline-flex;
    min-height: 160px;
}

.benvigut ul li a {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    display: block;
}

.benvigut ul li h3 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    display: block;
    line-height: 18px;
    margin: 10px 0 0 0;
}

.benvigut ul li span {
    width: 82px;
    height: 80px;
    display: inline-block;
}

.benvigut ul li.ben-cal a span {
    background: url(../images/BATALLE-INTRANET-icona-calendari.png) no-repeat;
}

.benvigut ul li.ben-cal:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-calendari-ROLLOVER.png) no-repeat;
}

.benvigut ul li:hover h3 {
    color: #d00e30;
}

.benvigut ul li.ben-prop a span {
    background: url(../images/BATALLE-INTRANET-icona-formacio.png) no-repeat;
}

.benvigut ul li.ben-prop:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-formacio-ROLLOVER.png) no-repeat;
}

.benvigut ul li.ben-book a span {
    background: url(../images/BATALLE-INTRANET-icona-noticies.png) no-repeat;
}

.benvigut ul li.ben-book:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-noticies-ROLLOVER.png) no-repeat;
}

.benvigut ul li.ben-off a span {
    background: url(../images/BATALLE-INTRANET-icona-descomptes-ROLLOVER.png) no-repeat;
}

.benvigut ul li.ben-off:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-descomptes.png) no-repeat;
}

.benvigut ul li.ben-list a span {
    background: url(../images/BATALLE-INTRANET-icona-enquesta.png) no-repeat;
}

.benvigut ul li.ben-list:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-enquesta-ROLLOVER.png) no-repeat;
}

.benvigut ul li.ben-drop a span {
    background: url(../images/BATALLE-INTRANET-icona-bustia.png) no-repeat;
}

.benvigut ul li.ben-drop:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-bustia-ROLLOVER.png) no-repeat;
}

.benvigut ul li.ben-cont a span {
    background: url(../images/BATALLE-INTRANET-icona-contactar.png) no-repeat;
}

.benvigut ul li.ben-cont:hover a span {
    background: url(../images/BATALLE-INTRANET-icona-contactar-ROLLOVER.png) no-repeat;
}

.beguit-row {
    float: left;
    width: 100%;
    padding: 0 13%;
}

.benvigut ul li:nth-child(4n) {
    border-right: 0;
}

.benvigut ul li:last-child {
    border-right: 0;
}

.benvigut ul li a.opact h3 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.benvigut ul li a.opact {
    opacity: 0.35;
}

.benvigut ul li:hover a.opact {
    opacity: 1;
}

.user-popup {
    background: #fff;
    float: left;
    padding: 75px 20px 30px 30px;
    width: 230px;
    position: absolute;
    right: -20px;
    top: -16px;
    display: none;
    box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.2);
}

.user-popup.show {
    display: block;
    transition: all 0.5s ease;
    z-index: 9
}

.user-popup h3 {
    font-size: 18px;
    color: #000;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 22px;
}

.user-popup ul {
    float: left;
    padding: 0%;
    width: 100%;
    margin: 0;
}

.user-popup ul li {
    float: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}

.user-popup ul li a:hover {
    text-decoration: underline;
}

.user-popup ul li:last-child {
    margin-top: 20px;
}

.user-popup ul li:last-child a {
    color: #be2c34;
}

.user-section .row1 {
    position: relative;
}

.user-rht.open a img {
    z-index: 1;
    position: relative;
    z-index: 99
}

.nav-toggle a {
    font-size: 22px;
    color: #000;
    font-weight: 700;
}

.nav-toggle a p {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    display: inline;
}

.nav-toggle a span {
    background: url(../images/BATALLE-INTRANET-icona-tancar.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.menu-list ul li a img {
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}


/* Contact css */

.cal-lft.contact-l {
    margin-top: 30px;
}

.cal-lft.contact-l h2 {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
}

.cal-lft.contact-l p {
    width: auto;
    margin: 0;
}

.cal-rht.contact-r {
    float: right;
    border: 1px solid #e0e4e5;
    padding: 30px 20px;
}

.cal-rht.contact-r .form-pad ul li.textarea {
    width: 100%;
}

.cal-rht.contact-r .form-pad ul li {
    float: left;
    width: 60%;
    position: relative;
}

.cal-rht.contact-r .form-pad ul li input[type="text"] {
    border: 1px solid #e0e4e5;
    width: 100%;
    padding: 10px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #acacac;
}

.cal-rht.contact-r .form-pad ul li.last-btn {
    width: auto;
    float: right;
}

.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 5px;
    right: 6px;
}

button.btn {
    background: #000;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

button.btn:after {
    display: none;
}

.upload-btn-wrapper:hover button.btn {
    background: #cd0e2d;
}

.cal-rht.contact-r .form-pad ul li label {
    background: #000;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 6px;
}

.cal-rht.contact-r .form-pad ul li input[type="file"] {
    display: none;
}

.cal-rht.contact-r .form-pad ul li label:hover {
    background: #cd0e2d;
}

.cal-rht.contact-r .form-pad ul li input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #acacac;
    opacity: 1;
    /* Firefox */
}

.cal-rht.contact-r .form-pad ul li input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acacac;
}

.cal-rht.contact-r .form-pad ul li input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #acacac;
}

.tooltip {
    position: relative;
    float: right;
}

.nav-tabs1 .tooltip span.tooltiptext {
    visibility: hidden;
    width: 150px;
    background: #f0f0f0;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    /*left: 50%;
    margin-left: -32px;*/
    line-height: 12px;
    height: auto;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    height: 32px;
    top: auto;
    left: -20%;
    margin-left: -32px;
}

.nav-tabs1 .tooltip span.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}

.nav-tabs1 .tooltip span.tooltiptext::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    bottom: -5px;
    z-index: -1;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    left: 46%
}

.nav-tabs1>li.tab-red .tooltip span.tooltiptext {
    margin-left: -16px;
    top: -47px;
}


/*.nav-tabs1 .tooltip span.tooltiptext:after { top: 100%; left: 48px;  border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #f0f0f0; border-width: 8px; margin-left: -18px;}
.nav-tabs1 .tooltip span.tooltiptext:before { content: ''; position: absolute; transform: rotate(45deg); width: 8px; height: 8px; bottom: -12px; z-index: -1; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);}*/


/*.nav-tabs1 .tooltip span.tooltiptext:after { top: 100%; left: 48px;  border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 18px; margin-left: -18px;}
.nav-tabs1 .tooltip span.tooltiptext:before { content: ''; position: absolute; transform: rotate(45deg); width: 36px; height: 36px; bottom: -12px; z-index: -1; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);}*/

.nav-tabs1 .tooltip:hover .tooltiptext {
    visibility: visible;
}

.cal-rht.contact-r .form-pad .button-mob {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.cal-rht.contact-r .form-pad .button-mob ul li {
    float: left;
    width: auto;
    margin-right: 5px;
}

.cal-rht.contact-r .form-pad .button-mob ul li:last-child {
    margin-right: 0;
}

.cal-rht.contact-r .form-pad .button-mob ul li label {
    background: #000;
    padding: 5px 9px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    position: relative;
    right: auto;
    top: auto;
    display: block;
}

.cal-rht.contact-r .form-pad .button-mob ul li label img {
    vertical-align: middle;
}

.cal-rht.contact-r .form-pad .button-mob ul li .mob-btn {
    background: #cd0e2d;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 0 0 0;
    float: right;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    letter-spacing: 1px;
}

.cal-inner {
    float: left;
    width: 100%;
    position: relative;
}

.mobile-list {
    display: none;
    float: left;
    width: 100%;
}

.mobile-cal {
    display: none;
    /* -ms-transform: translate3d(125%, 0%, 0);
-webkit-transform: translate3d(125%, 0%, 0);
-moz-transform: translate3d(125%, 0%, 0);
-o-transform: translate3d(125%, 0%, 0);
transform: translate3d(125%, 0%, 0);
-webkit-transition: transform 0.4s ease-out 0s;
-moz-transition: transform 0.4s ease-out 0s;
transition: transform 0.4s ease-out 0s;*/
}


/*.mobile-cal.slide-rht {display: block; -ms-transform:  translate3d(0px, 0px, 0px);
-webkit-transform:  translate3d(0px, 0px, 0px);
-moz-transform:  translate3d(0px, 0px, 0px);
-o-transform:  translate3d(0px, 0px, 0px);
transform:  translate3d(0px, 0px, 0px);}

.cal-inner.slide-lft { -ms-transform: translate3d(-125%, 0%, 0px);
-webkit-transform: translate3d(-125%, 0%, 0px);
-moz-transform: translate3d(-125%, 0%, 0px);
-o-transform: translate3d(-125%, 0%, 0px);
transform: translate3d(-125%, 0%, 0px);
-webkit-transition: transform 0.4s ease-out 0s;
-moz-transition: transform 0.4s ease-out 0s;
transition: transform 0.4s ease-out 0s;}*/

.nav-tabs1>li p {
    width: auto;
    float: none;
    display: inline;
    margin: 0;
    margin-right: 5px;
}

.tooltip {
    position: relative;
    float: none;
}

.tooltip span.tooltiptext {
    visibility: hidden;
    width: 150px;
    background: #f0f0f0;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    line-height: 12px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    top: -64px;
}

.tooltip span.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}

.tooltip span.tooltiptext::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    bottom: -5px;
    z-index: -1;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    left: 46%
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mob-cal-btns {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    display: none;
}

.mob-cal-btns ul li {
    float: left;
    margin-right: 4%;
    width: 48%;
}

.mob-cal-btns ul li button {
    background: #f9eaed;
    border: 1px solid #cf0e2d;
    line-height: 20px;
    padding: 15px 10px;
    font-size: 16px;
    width: 100%;
    color: #ce0e2d;
    letter-spacing: 1px;
    cursor: pointer;
}

.mob-cal-btns ul li:last-child {
    margin-right: 0;
}

.nav-tabs1>li.active a p {
    font-weight: 700;
}

.tab-pad {
    float: left;
    width: 100%;
}

.nav-tabs1>li.tab-red a span.fest-txt {
    width: auto;
    height: auto;
    float: none;
    background: none;
    display: inline;
    color: #000;
    border-radius: 0px;
}

.nav-tabs1>li.tab-red div {
    display: inline;
}

.mbl_backward {
    display: none;
}

.mbl_backward button:after {
    display: none;
}

.cal-rht .mbl_backward button {
    border: none;
    padding: 0;
    float: left;
}

.mbl_backward button:hover {
    background: none;
}

.mbl_backward button span {
    background: url(../images/BATALLE-INTANET-icona-calendari-mobil-anterior.png) no-repeat left;
    width: 31px;
    height: 29px;
}

.mbl_pop_inner h2 {
    color: #cc0f2d;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 25px;
}

.mbl_pop_inner h2 span {
    display: block;
    color: #000;
    margin: 30px 0 0 0;
    font-weight: 600;
}

.mbl_pop_inner ul li span {
    background: #19abf8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}


/*=====================================================================*/

.area-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: url('../images/BATALLE-INTRANET-foto-entrada.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}


/* .area-container {position: relative;width: 100%;height: 100%;left: 0;right: 0;background: url('../images/BATALLE-INTRANET-foto-entrada.jpg') no-repeat center;background-size: cover;display: flex;display: -webkit-flex;align-items: center;justify-content: center;z-index: 0;padding: 170px 0 200px;float: left;} */

.area-container:after {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    z-index: -1;
}

.area-content {
    width: 385px;
    text-align: right;
}


/* .area-content{width:385px; text-align:right; margin:0 auto;} */

.area-content h2 {
    font-weight: 800;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    background: #ce0e2d;
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    letter-spacing: 3px;
}

.area-content form {
    width: 100%;
    display: block;
    background: #fff;
    padding: 25px 30px;
    text-align: left;
    float: left;
}

.area-content form img {
    width: 115px;
}

.area-content form h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 35px 0 15px;
    line-height: 20px;
}

.area-content form .area-style {
    width: 100%;
    float: left;
    margin: 0;
}

.area-content form input.frm-ctrl {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    height: 30px;
    margin: 0 0 7px;
    font-family: 'Source Sans Pro', sans-serif;
}

.area-content form input.frm-ctrl::-webkit-input-placeholder {
    color: #000;
    font-weight: 400;
}

.area-content form input.frm-ctrl::-moz-placeholder {
    color: #000;
    font-weight: 400;
}

.area-content form input.frm-ctrl:-ms-input-placeholder {
    color: #000;
    font-weight: 400;
}

.area-content form input.frm-ctrl:-moz-placeholder {
    color: #000;
    font-weight: 400;
}

.area-content form button {
    width: auto;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;
    float: right;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    margin: 30px 0 0;
    display: inline-block;
}


/* .area-content form button:hover{background:#ce0e2d;} */

.area-content form button:hover {
    opacity: 0.8
}

.area-content form button.mt10 {
    margin-top: 5px
}

.area-content form p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin: 24px 0 0;
}

.area-content form p.mt10 {
    margin: 10px 0 0;
}

.area-content form a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

.area-content form a:hover {
    color: #ce0e2d;
}

.area-content form .checkbox {
    float: left;
    width: 100%;
    margin: 7px 0 0;
}

.area-content form .checkbox label {
    display: inline-block;
    margin: 10px 0 5px;
}


/*check box 1*/

.checkbox input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
}

.checkbox label {
    position: relative;
    padding-left: 27px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.checkbox label:after {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    background: transparent;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
}

.checkbox label:before {
    width: 16px;
    height: 16px;
    background: transparent;
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

.checkbox .has-resTxt {
    font-size: 13px;
    color: #ce0e2d;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 100%;
    float: left;
}

.checkbox .has-resTxt:hover {
    text-decoration: underline;
}

.checkbox input:checked+label:before {
    background: #ce0e2d;
}

.single-page {
    width: 100%;
    float: left;
    background: #fff;
    padding: 30px 0;
    text-align: center;
}

.single-page .form-register {
    width: 455px;
    margin: 0 auto;
}

.single-page p.quote {
    width: 100%;
    margin: 45px 0 45px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
}

.single-page p.quote span {
    display: block;
    padding: 0;
}

.single-page .form-register li {
    float: left;
    text-align: left;
    margin: 0 0 7px;
    width: 100%;
}

.single-page .form-register li label {
    font-size: 14px;
    font-weight: 400;
    float: left;
    width: 110px;
    padding: 5px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.single-page .form-register li input.frmCrtl {
    width: 344px;
    float: right;
    height: 30px;
    padding: 5px 10px;
    color: #c2cbca;
    font-weight: 400;
    border: 1px solid #c2cbca;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.single-page .form-register li .full-width {
    width: 345px;
    float: left;
}

.single-page .form-register li input.frmCrtl::-webkit-input-placeholder {
    color: #c2cbca;
    font-weight: 400;
}

.single-page .form-register li input.frmCrtl::-moz-placeholder {
    color: #c2cbca;
    font-weight: 400;
}

.single-page .form-register li input.frmCrtl:-ms-input-placeholder {
    color: #c2cbca;
    font-weight: 400;
}

.single-page .form-register li input.frmCrtl:-moz-placeholder {
    color: #c2cbca;
    font-weight: 400;
}

.select-data {
    width: 95px;
    float: left;
    margin: 0 10px 0 0;
}

.select-data.full-width {
    margin: 0;
    width: 345px;
}

.single-page .form-register .full-width .select-data {
    width: 31%;
    float: left;
    margin: 0 2% 0 0;
}

.single-page .form-register .full-width .select-data:last-child {
    width: 34%;
    margin: 0;
}

.single-page .form-register li.password {
    position: relative;
}

.single-page .form-register li.password span {
    position: absolute;
    background: url('../images/BATALLE-INTRANET-icona-contasenya-ocultar.png') no-repeat center;
    width: 21px;
    /*height:22px;*/
    height: 30px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.single-page .form-register li.password span.showPassword {
    background: url('../images/BATALLE-INTRANET-icona-contasenya-mostra.png') no-repeat center;
}

.single-page .form-register li.password label {
    width: 128px;
}

.single-page .form-register li.password input.frmCrtl {
    width: 265px;
    padding-right: 30px;
}

.single-page .form-register li.password:first-of-type {
    margin: 30px 0 7px;
}

.checkbox-big {
    float: left;
    width: 100%;
    position: relative;
}

.checkbox-big input {
    width: 1px;
    height: 1px;
    position: absolute;
    visibility: hidden;
}

.checkbox-big label {
    font-weight: 400;
    font-size: 13.5px;
    color: #ce0e2d;
    float: left;
    position: relative;
    width: 100%;
    text-align: left;
    display: block;
    margin: 30px 0 30px;
    cursor: pointer;
    padding-right: 35px;
}

.checkbox-big label a {
    color: #ce0e2d;
    text-decoration: underline;
}

.checkbox-big label a:hover {
    color: #000;
}

.checkbox-big label:after {
    background: transparent;
    border: 1px solid #c2cbca;
    width: 30px;
    height: 30px;
    right: 0;
    top: -5px;
    position: absolute;
    content: "";
}

.checkbox-big label:before {
    background: transparent;
    width: 26px;
    height: 26px;
    right: 2px;
    top: -3px;
    position: absolute;
    content: "";
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

.checkbox-big input:checked+label:before {
    background: #cf0e2d;
}

.form-register button {
    float: right;
    padding: 8px 20px;
    background: #cf0e2d;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}


/* .form-register button:hover{background:#000;} */

.form-register button:hover {
    opacity: 0.8
}

.area2 {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.area2 p.quote:first-of-type {
    margin: 150px 0 20px;
}

.area2 p.quote:last-of-type {
    margin: 0 0 60px;
}

.area2 button {
    margin: 0 auto;
    padding: 8px 20px;
    background: #cf0e2d;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
}


/* .area2 button:hover{background:#000;} */

.area2 button:hover {
    opacity: 0.8
}

.terms {
    width: 720px;
    margin: 0 auto;
}

.terms p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 21px;
}

.terms p span {
    padding: 0 15px;
}

.terms button {
    float: right;
    padding: 8px 23px;
    background: #cf0e2d;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin: 30px 0 25px;
}


/* .terms button:hover{background:#000;} */

.terms button:hover {
    opacity: 0.8;
}

.check-box3 {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 10px;
    position: relative;
    text-align: left;
}

.check-box3 input {
    visibility: hidden;
    position: absolute;
}

.check-box3 label {
    float: left;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-align: justify;
}

.check-box3 label span {
    width: 16px;
    height: 16px;
    border: 1px solid #e0e4e5;
    margin-right: 10px;
    float: left;
    display: block;
    position: relative;
    top: 2px;
}

.check-box3 label span:after {
    position: absolute;
    background: transparent;
    width: 12px;
    height: 12px;
    left: 1px;
    top: 1px;
    content: "";
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

.check-box3 input:checked+label span:after {
    background: #cf0e2d;
}

.title-head.no-lftpad h1 {
    padding-left: 0;
}

.contact-frm.form-register {
    width: 100%;
    float: left;
}

.contact-frm.form-register .left {
    width: 58%;
    padding-right: 57px;
}

.contact-frm.form-register .left .img {
    width: 28%;
    float: left;
    text-align: center;
    padding-right: 70px;
}

.contact-frm.form-register .left .img img {
    width: 95px;
    float: left;
    border-radius: 50%;
    height: 95px;
    object-fit: scale-down;
}

.contact-frm.form-register .left .img a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    color: #cf0e2d;
    padding: 15px 0 0;
    display: inline-block;
}

.contact-frm.form-register .frm {
    width: 72%;
    float: left;
}

.contact-frm.form-register .right {
    width: 42%;
    padding-right: 30px;
}

.single-page .contact-frm.form-register li label {
    width: 23%;
}

.single-page .contact-frm.form-register li input.frmCrtl,
.single-page .contact-frm.form-register li .select-data.full-width,
.single-page .contact-frm.form-register li .full-width {
    width: 76%;
}

.single-page .contact-frm.form-register li .full-width {
    float: left;
}

.single-page .contact-frm.form-register .full-width .select-data {
    width: 31%;
    float: left;
    margin: 0 2% 0 0;
}

.single-page .contact-frm.form-register .full-width .select-data:last-child {
    width: 34%;
    margin: 0;
}

.single-page .contact-frm.form-register li.password:first-of-type {
    margin: 0 0 7px
}

.single-page .contact-frm.form-register li.password input.frmCrtl {
    width: 66%;
}

.single-page .contact-frm.form-register li.password label {
    width: 30%;
}

.user-porfile {
    width: 100%;
    float: left;
}

.user-porfile p.title-p {
    color: #000;
    font-size: 26px;
    margin: 70px 0 5px;
    font-weight: 700;
}

.contact-frm.form-register button {
    margin: 13px 0 10px;
    font-weight: 600
}

.contact-frm.form-register .right a {
    font-weight: 400;
    font-size: 14px;
    color: #cf0e2d;
    padding: 20px 0 0;
    display: block;
    text-align: right;
}

.cal-rht.contact-r .form-pad .button-mob ul li label:hover {
    opacity: 0.8;
}

.cal-rht.contact-r .form-pad .button-mob ul li .mob-btn:hover {
    opacity: 0.8;
}

.user-rht a:hover img {
    opacity: 0.6;
}


/* OVERRIDES */

header .selector-idiomas {
    margin: 0 !important;
    vertical-align: initial !important;
}

header .selector-idiomas button#languages:hover {
    text-decoration: underline;
}

header .selector-idiomas button#languages {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    position: relative;
    background: none;
    margin: 0;
    padding: 0;
    text-transform: initial;
    padding-right: 10px;
    margin-right: 10px;
    vertical-align: unset;
    line-height: 0px;
    border: none;
}

header .selector-idiomas .dropdown-menu {
    top: 15px !important;
}

header .selector-idiomas .dropdown-menu a:hover {
    background-color: #eee;
}

header .selector-idiomas .dropdown-menu a {
    color: #444 !important;
    min-height: 2em !important;
}

.bmd-form-group {
    padding-top: 0;
}

.select-data.scrollable .sbHolder .sbOptions {
    overflow: auto;
    width: auto;
    height: 300px;
    border: 1px silver solid;
}

.scrollable select {
    border: none;
}

img.avatar {
    width: 40px;
    height: 40px;
}

span.dies_pendents_blue,
span.dies_pendents_pink,
span.dies_pendents_orange,
span.dies_pendents_red {
    display: inline-block !important;
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

#selector-idioma .sbHolder {
    background: none;
    height: inherit;
    display: inline-block;
    float: unset;
    position: inherit;
    line-height: 15px;
    padding: 0;
    vertical-align: top;
}

#selector-idioma .sbSelector {
    top: -5px;
}

#selector-idioma .sbOptions {
    top: 30px !important;
    border: solid 1px #eee;
    width: 70px;
    left: inherit;
}

#selector-idioma ul li a {
    color: #000;
    margin-right: 20px;
}

#selector-idioma ul li a:hover {
    background-color: #eee;
    text-decoration: none;
}

.cal-dropdown.seleccio-vista {
    display: none !important;
}

input[type=text],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    color: #acacac;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 5px #999;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #999;
    color: #000 !important;
}

div.menu-list li.menu-grey a:-webkit-any-link {
    cursor: default;
}

.message.mCustomScrollbar ul li .msg-l img {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
    object-fit: scale-down;
}

.message.mCustomScrollbar ul li .msg-r p {
    display: inline-block;
    min-width: 500px;
    width: 100%;
}

.fitxer {
    position: absolute;
    background: #ce0e2d;
    top: 10px;
    right: 0px;
    padding: 5px 7px;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fitxer a {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fitxer:hover {
    background: #f2f2f2;
}

.fitxer:hover a {
    color: #000;
}

.fitxer a {
    color: #fff;
}

.message-line {
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.fc-other-month {
    visibility: hidden;
}


/* Temporal fins que es solucioni l'error */

.fc-.fc-widget-content[data-event] {
    position: relative;
    z-index: 1;
}

.fc-day-2019-12-31[data-event]::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50px;
    z-index: -1;
}

.fc-day-2019-12-31[data-event="fc-event-blue"]::after {
    background: #19abf8;
}

.fc-day-2019-12-31[data-event="fc-event-green"]::after {
    background: #58c62f;
}

.fc-day-2019-12-31[data-event="fc-event-yellow"]::after {
    background: #ffc207;
}

.page-contingut { text-align: left; }
.page-contingut .row { width: 81%; }
.page-contingut p.quote {
    text-align: left;
    font-size: 34px;
}
.page-contingut p {
	text-align: left;
	margin-bottom: 20px;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 21px;
}

.peticio_acceptada {
    position: relative;
    float: left;
    padding: 20px;
    padding-left: 50px;
    border: 1px solid #58c92f;
    color: #58c92f;
    margin: 30px 0;
}

.peticio_acceptada i {
    position: absolute;
    left: 20px;
    top: 40%;
}

/* PÀGINES */
.descomptes .copo {
    margin-top: 20px;
}
.descomptes .codi_promocional_blanc a {
    text-decoration: underline;
}
.descomptes .codi_promocional_blanc p {
    font-size: 12px;
    font-weight: normal;
}
.descomptes .codi_promocional_blanc .codi_promocional span {
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}
.descomptes .codi_promocional_blanc .codi_promocional p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.descomptes .codi_promocional_blanc .codi_promocional {
    font-weight: normal;
    text-align: center;
    display: inline-block;
    background-color: #e6e6e6;
    padding: 10px;
    margin-top: 10px;
}
.descomptes .copo img { margin-bottom: 20px; }
.descomptes .copo a {
    background: #cd0e2d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 0 0 0;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.descomptes .codi_promocional_blanc {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.descomptes img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}
.descomptes {
    width:100%;
    display: flex;
    flex-flow: wrap;
}
.descomptes.active .col-rgt {
    background-color: #e6e6e6;
}
.descomptes .col-lft, .descomptes .col-rgt {
    width: 100%;
    padding: 40px 20px 40px 40px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.descomptes .col-rgt {
    width: 0%;
    padding: 0;
}
.descomptes .col-rgt .title {
    font-weight: bold;
    font-size: 20px;
}
p.description {
    padding-top: 10px;
}
.descomptes .col-rgt .date {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
}
.descomptes .col-rgt .description iframe { width: 100%; }
.descomptes.active .col-lft, .descomptes.active .col-rgt {
    width: 50%;
    padding: 40px 20px 40px 40px;
}
.descomptes h1 { font-size: 24px; }
ul.item-list {
    padding-top: 40px;
}
ul.item-list li {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border: dashed 1px #e6e6e6;
    margin-top: 10px;
    align-content: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
ul.item-list li:hover, ul.item-list li.active {
    cursor: pointer;
    border: solid 1px #e6e6e6;
    opacity: 0.5;
}
ul.item-list img {
    width: 100%;
    object-fit: cover;
}
ul.item-list h4 {
    background-color: #e6e6e6;
    padding: 10px;
    font-weight: bold;
    line-height: 15px;
}
ul.item-list h4 span {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
}
/* end PÀGINES */

/* SUGGERIMENTS */
.suggeriments h1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* end SUGGERIMENTS */


.formacio {
    width: 100%;
    display: inline-block;
}

.formacio .col-rgt,
.formacio .col-lft {
    padding: 40px 20px 40px 40px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.formacio .col-lft {
    width: 85%;
    float: left;
}

.formacio .col-rgt {
    width: 15%;
    float: right;
}

.formacio .dropdown-hotel {
    float: right;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
}

/* FORMACIÓ */
.llista-formacio>.row1 {
    display: flex;
    flex-flow: wrap;
}
.llista-formacio article {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 3%;
}


.llista-formacio article .header-image {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.llista-formacio article .content {
    margin-bottom: 30px;
    padding: 0 20px 20px 20px;
    border: 1px solid #ce0e2d;
    border-top: 0px;
}


.llista-formacio article .content .formacio {
    padding: 6px 15px;
    background: #ce0e2d;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    bottom: -30px;
    position: relative;
    left: -10px;
    border: none;
    cursor: pointer;
}

.llista-formacio article .content .date {
    margin: 10px 0;
    display: block;
}

.llista-formacio article .checkboxes input[type="checkbox"]:checked ~ label span:before,
.llista-formacio article .checkboxes input[type="checkbox"]:checked ~ label span:after {
    /* font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00d";*/ 
    content: '';
    width: 1px;
    height: 26px;
    background: #ce0e2d;
    position: absolute;
}

.llista-formacio article .checkboxes input[type="checkbox"]:checked ~ label span:before {
    transform: rotate(-45deg);
    left: 9px;
    top: -4px;
}

.llista-formacio article .checkboxes input[type="checkbox"]:checked ~ label span:after {
    transform: rotate(45deg);
    left: 9px;
    top: -4px;
}

.llista-formacio article .checkboxes label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.llista-formacio article .checkboxes label span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -24px;
    background: white;
    border: 1px solid #ce0e2d;
}

.formacio .col-rgt.formacio-enquesta {
    position: absolute;
    top: 0;
    right: -10000px;
    width: 60%;
    z-index: 99999;
    background: #fff;
    box-shadow: 1px 1px 10px #666;
}
.formacio .col-rgt.formacio-enquesta h4 {
    font-weight: bold;
    font-size: 20px;
}
/* END FORMACIÓ /*

/* ENQUESTES */
.descomptes.enquestes input[type=text], .descomptes.enquestes textarea {
    width: 100%;
}
.descomptes.enquestes ul.item-list li:hover, .descomptes.enquestes ul.item-list li.active {
    background-color: #e6e6e6;
    opacity: 1;
}
.descomptes.enquestes ul.item-list li {
    width: 100%;
    border-top: solid 1px #999;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.descomptes.enquestes ul.item-list li:last-child {
    border-bottom: solid 1px #999;
}
.descomptes.enquestes ul.item-list li h4 { background: none; }
.descomptes.enquestes .form-pad ul li input[type="button"] { float: unset; }
/* end ENQUESTES */