@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

/* pt-sans-regular - latin */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('PT Sans'), local('PTSans-Regular'),
		 url('fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700 - latin */
  @font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		 url('fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
  }

@font-face {
	font-family:'Avenir-Medium';
	src: url('fonts/Avenir-Medium_gdi.eot');
	src: url('fonts/Avenir-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Avenir-Medium_gdi.woff') format('woff'),
		url('fonts/Avenir-Medium_gdi.ttf') format('truetype'),
		url('fonts/Avenir-Medium_gdi.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */

@font-face {
	font-family:'Avenir-Book';
	src: url('fonts/Avenir-Book_gdi.eot');
	src: url('fonts/Avenir-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Avenir-Book_gdi.woff') format('woff'),
		url('fonts/Avenir-Book_gdi.ttf') format('truetype'),
		url('fonts/Avenir-Book_gdi.svg#Avenir-Book') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */

@font-face {
	font-family:'Avenir-Black';
	src: url('fonts/Avenir-Black_gdi.eot');
	src: url('fonts/Avenir-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Avenir-Black_gdi.woff') format('woff'),
		url('fonts/Avenir-Black_gdi.ttf') format('truetype'),
		url('fonts/Avenir-Black_gdi.svg#Avenir-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
    font-family:'Avenir LT Std 35 Light';
    src: url('fonts/AvenirLTStd-Light.eot');
	src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirLTStd-Light.woff') format('woff'),
		url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
		url('fonts/AvenirLTStd-Light.otf') format('opentype'),
		url('fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
    font-family:'Avenir LT Std 55 Roman';
    src: url('fonts/AvenirLTStd-Heavy.eot');
	src: url('fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirLTStd-Heavy.woff') format('woff'),
		url('fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
		url('fonts/AvenirLTStd-Heavy.otf') format('opentype'),
		url('fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

html { height:100%; width: 100%; }
body { height:100%; width: 100%; padding:0; margin:0; background:#ffffff; font-size:16px; color:#000; line-height:20px; font-family: 'PT Sans'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a {text-decoration: none; color:#000; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:24px; padding:0; margin:0; color:#000000;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0; margin:0;  line-height: 30px; }
a{ outline:none; }
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0; margin:0; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0; height:0; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row{ width:1288px; margin:auto; padding:0; }

/* header css */
header { float:left; width:100%; position:relative;  z-index:9999; background:#fff; padding:24px 0 20px;}
.head-left	{ float:left;}
.logo		{ float:left; margin-right:29px;}
.logo img	{ float:left;}
.head-left ul { float: left;display: flex;margin-top: 7px;align-items: center;}
.head-left li	{ float:left; margin-right:44px; color:#333;font-family: 'PT Sans'; font-weight: bold; line-height:37px;}
.head-left li:not(.user-name) { line-height: 20px}
.head-left li.user-name { font-family: 'PT Sans'; }
.head-left li span	{ background:#4ca6db; float:left; color:#fff; text-transform:uppercase; width:41px;font-family: 'PT Sans'; font-weight: bold; font-size:18px; margin-right:15px; height:41px;border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;}
.head-rgt	{ float:right; display: flex; flex-flow: wrap; align-items: center;}
.instruccions, .descar, .language-container { float:left;}
.instruccions, .language-container {margin-left: 10px}
.instruccions {background: #4ca6db; border-radius: 5px; padding: 10px 15px;}
.descar a, .descar select, .language-container select { width:100%; min-width: 176px; background:#4ca6db; color: #fff; font-size: 16px; font-family: 'PT Sans'; font-weight: bold; border-radius: 5px; height:48px; line-height:48px; padding: 0 60px 0 20px; float: left; border: 0; cursor:pointer; transition:0.5s ease-in-out; -webkit-transition:0.5s ease-in-out; -moz-transition:0.5s ease-in-out; -o-transition:0.5s ease-in-out; -ms-transition:0.5s ease-in-out; margin:0 0 0; display:inline-block;}
.descar select  {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.language-container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), url("../images/earth.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: right .7em top 50%, left .7em top 50%;
	background-size: .65em auto, 1.4em auto;
	padding-left: 45px;
}

.descar a:hover, .descar select:hover, .language-container select:hover {opacity:0.8}
.sortir		{ float:left;}
.sortir a	{ float:left; line-height:48px; margin-left:33px; background:url('../images/loggout-icon.svg') no-repeat 86% center; padding-right:33px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;border-radius: 5px; width:125px; border:1px solid #4ca6db; padding-left:26px; color:#747474; }
.sortir a:hover	{  border:1px solid #000;}

/*=====================================================================*/

.area-container{width:100%; height:100%; left:0; right:0; background:url('../images/2017_JMF2615.jpg') no-repeat center; /* background:url('../images/background1.jpg') no-repeat center; */ padding: 60px; background-size:cover; display:flex; display:-webkit-flex; align-items:center; justify-content:center; z-index:0;} 
/* .area-container {position: relative;width: 100%;height: 100%;left: 0;right: 0;background: url('../images/BATALLE-INTRANET-foto-entrada.jpg') no-repeat center;background-size: cover;display: flex;display: -webkit-flex;align-items: center;justify-content: center;z-index: 0;padding: 170px 0 200px;float: left;} */

/*.area-container:after{background:rgba(0,0,0,0.3); width:100%; height:100%; top:0; left:0; position:absolute; content:""; z-index:-1;}*/
.area-content{width:460px; text-align:right;}
/* .area-content{width:385px; text-align:right; margin:0 auto;} */
.area-content h2{font-weight: 800; font-size: 22px; font-family: 'Open Sans', sans-serif; display: inline-block; background: #ce0e2d; color: #fff; padding: 10px 25px; text-align: center;letter-spacing: 3px;}
.area-content div.form{width:100%; display:block; background:rgba(255,255,255,0.85); border:1px solid #4ba5da; padding:50px 49px 48px; text-align:center; float:left;}
.area-content div.form img{width:auto; text-align:center;}
.area-content div.form h3{font-size:24px; font-family: 'PT Sans'; font-weight: bold; color:#333; margin:35px 0 0; line-height:24px;}
.area-content div.form .area-style{width:100%;float:left; margin:0;}
.area-content div.form label	{ text-align:left; padding-bottom:15px; line-height:16px; float:left; width:100%; font-size:16px; color:#232323; margin-top:35px;}
.area-content div.form input.frm-ctrl{width:100%; padding:0 10px 0 28px; border:0 solid #000; font-size:16px; color:#747474; background:#fff;  height:55px; margin:0 0 0; font-family: 'PT Sans'; border-radius:5px;}
.area-content div.form input.frm-ctrl:focus { border: 1px solid #4ba5da;}
.password-pad	{ float:left; width:100%; position:relative; }
/* .area-content div.form input[type="password"] { width:80%; float:left;}*/
.area-content div.form input.frm-ctrl::-webkit-input-placeholder {color:#000;  font-weight:400;}
.area-content div.form input.frm-ctrl::-moz-placeholder {color:#000;  font-weight:400;}
.area-content div.form input.frm-ctrl:-ms-input-placeholder {color:#000;  font-weight:400;}
.area-content div.form input.frm-ctrl:-moz-placeholder {color:#000;  font-weight:400;}
.area-content div.form button{width:100%; background: #4ca6db; color: #fff; font-size: 14px; font-family:'Avenir LT Std 55 Roman'; border-radius: 5px; height:50px; padding: 0 20px; float: left; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:30px 0 0; display:inline-block;}
/* .area-content div.form button:hover{background:#ce0e2d;} */
.area-content div.form button:hover{opacity:0.8}
.area-content div.form button.mt10{margin-top:25px}
.area-content div.form p{ color:#333; font-size: 16px; line-height:22px; margin:30px 0 0;}
.area-content div.form a{ color: #4e4e4e;font-size: 16px; line-height:16px;margin:24px 0 0; transition:0.3s ease-in-out; -webkit-transition:0.5s ease-in-out; -moz-transition:0.5s ease-in-out; -o-transition:0.5s ease-in-out; -ms-transition:0.5s ease-in-out; }
.area-content div.form a:hover{color:#4ca5db; text-decoration:underline;}
.area-content div.form .checkbox {float:left;width:100%; margin:20px 0 0;}
.area-content div.form .checkbox label{display:inline-block; margin:10px 0 5px;}
/*check box 1*/
.checkbox input{visibility:hidden; position:absolute; left:0; top:0; width:1px; height:1px;}
.area-content div.form .checkbox label{position:relative; padding-left:27px; font-size:16px; color:#4ca5db;  cursor:pointer; margin:0;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; line-height:20px;}
.checkbox label:after{width:19px; height:19px; border:1px solid #4ca6db; background:transparent; position:absolute; content:""; left:0; top:0; border-radius:4px;}
.checkbox label:before{width:13px; height:13px;background:transparent; position:absolute; content:""; left:3px; top:3px;transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out;}
.checkbox input:checked + label:before{background:#4ca6db;}
.area-content div.form .checkbox:hover label	{ text-decoration:underline;}
.area-content div.form .password-pad a	{ background: url('../images/eye-icon.svg') no-repeat center; width:26px; height:14px; position:absolute; right:26px; top:21px; margin-top:0;}
.area-content.recuperar form button.mt10 { margin-top:14px;}

.email-img		{ float:left; width:100%; text-align:center; margin:47px 0 25px;}
.aceptacio		{ background:url('../images/background-create-1.jpg') no-repeat center; background-size:cover; display:flex; }
.aceptacio .area-content div.form { background:#fff;}
.aceptacio .area-content	{ width:602px;}
.demo-y	{ width:100%; float:left; height:279px; padding:0; background:#f2f2f2; margin-top:23px;}
.area-content div.form .demo-y p	{ margin-top:0; text-align:left; padding:0 0 30px 17px; float:left; width:100%; padding: 5px; }
.area-content div.form .demo-y p:first-child	{ padding-top:24px;}
.aceptacio .area-content div.form .checkbox label { color:#4e4e4e;}
.aceptacio .area-content div.form .checkbox label:hover { color:#4ca5db;}
.aceptacio .area-content div.form button	{ width:320px; float:none; display:inline-block;}

.content-area	{ float:left; width:100%; background:#e3e3e3; padding:46px 0;}
.accordion { background-color: #eee; color: #444; cursor: pointer; padding: 18px; width: 100%; border: none; text-align: left; outline: none; font-size: 15px; transition: 0.4s;}
.active, .accordion:hover { background-color: #ccc; }
.panel { padding: 0 18px;  display: none;  background-color: white;  overflow: hidden;}

.radio-pad		{ display:inline-block; width:34%; text-align:left; }
.area-content div.form .radio {float:left;width:100%; margin:25px 0 0; font-family: 'PT Sans'; font-weight: bold;}
.area-content div.form .radio input[type="radio"] { margin-right:15px;}
.area-content div.form .radio label{display:inline-block; margin:10px 0 5px;}
/*check box 1*/
.radio input{visibility:hidden; position:absolute; left:0; top:0; width:1px; height:1px;}
.area-content div.form .radio label{position:relative; padding-left:27px; font-size:16px; color:#333;  cursor:pointer; margin:0;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; line-height:20px; padding-bottom:0;}
.radio label:after{width:14px; height:14px; border:1px solid #dfdfdf; background:#f6f6f6; position:absolute; content:""; left:0; top:4px; border-radius:50%;}
.radio label:before{width:8px; height:8px;background:transparent; position:absolute; content:""; left:3px; top:7px;transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; z-index:99; border-radius:50%;}
.radio input:checked + label:before{background:#4ca6db;}

.area-container.aceptacio.canvi	{ top:80px;}	
.canvi .area-content div.form h3	{ margin-top:5px;}
.canvi h3 img	{ display:inline-block; margin-right:12px; }
/*.canvi .area-content div.form { margin-top:-50px;}*/
.txt-box		{width:100%; padding:20px 20px; border:0 solid #000; font-size:16px; color:#747474; background:#f2f2f2;  height:120px; margin:0 0 0; font-family: 'PT Sans'; border-radius:0;}
.txt-box.margn-top	{ margin-top:16px; height:83px;border-radius:5px; padding:20px 28px;}
.txt-box.txt-doc	{ margin-top:16px; height:83px;border-radius:5px;}
.area-content ul	{ float:left; width:100%; margin-top:45px; margin-left:7px;}
.area-content li	{ float:left; width:100%; text-align:left; margin-bottom:10px;}
.area-content li:last-child	{ margin-bottom:18px;}
.canvi .area-content div.form input.frm-ctrl		{width:100%; padding:20px 28px; border:0 solid #000; font-size:16px; color:#747474; background:#f2f2f2;  height:55px; margin:16px 0 0; font-family: 'PT Sans'; border-radius:5px;}
.canvi .area-content div.form input.frm-ctrl.blue-line			{ border: 1px solid #4ca6db; color:#4ca6db;font-family: 'PT Sans'; font-weight: bold;}
.canvi .area-content div.form input.frm-ctrl.blue-line::placeholder { color: #4ca6db; opacity: 1}
.canvi .area-content div.form input.frm-ctrl.blue-line:-ms-input-placeholder { color: #4ca6db;}
.canvi .area-content div.form input.frm-ctrl.blue-line::-ms-input-placeholder { color: #4ca6db;}
.canvi .area-content div.form input.frm-ctr.top-mrgn	{ margin-top:60px;}
.frm-input-ctrl.browse {width: 100%; position:relative; margin-bottom:0; margin-top:16px;}
.frm-input-ctrl.browse textarea, .frm-input-ctrl.browse select { background: #f2f2f2 none repeat scroll 0 0; border: 1px solid #4ca6db; font-family: 'PT Sans'; font-weight: bold; color: #4ca6db; display: block; font-size: 16px; height:55px; padding: 10px 60px 10px 28px; resize: none; width: 100%; border-radius: 5px; overflow: hidden;line-height: 34px;}
.frm-input-ctrl.browse select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234ca6db%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.descar select::-ms-expand, .frm-input-ctrl.browse select::-ms-expand, .language-container select::-ms-expand {
	display: none;
}
.area-content .frm-input-ctrl.browse label { width:auto; position: absolute; right: 26px; top: 15px; margin-top:0; }
.area-content .frm-input-ctrl.browse label input[type="file"] { display: none;}
.frm-input-ctrl.browse img { cursor: pointer; float: right;}
.canvi .area-content div.form input.frm-ctrl:focus, .txt-box:focus { border: 1px solid #4ba5da;}
.canvi .area-content div.form input.frm-ctrl::-webkit-input-placeholder {color:#000;  font-weight:400;}
.canvi .area-content div.form input.frm-ctrl::-moz-placeholder {color:#000;  font-weight:400;}
.canvi .area-content div.form input.frm-ctrl:-ms-input-placeholder {color:#000;  font-weight:400;}
.canvi .area-content div.form input.frm-ctrl:-moz-placeholder {color:#000;  font-weight:400;}

.aceptacio .dades		{ width:1148px;}
.frm-left				{ width:48%; margin-right:4%; float:left;}
.frm-right				{ width:48%; float:left;}
.canvi .area-content.dades div.form input.frm-ctrl	{ margin-top:0;}
.canvi .area-content.dades div.form label	{ margin-top:20px;}
.canvi .area-content.dades p	{ margin-bottom:20px;}

 
.panel1, .panel2 		{width: 100%; display: none; float:left;}
.area-content div.form .panel p	{ margin-bottom:24px; }
.head-pad	{ float:left; width:100%; background:#fff; padding:7px; border:1px solid #dadfe3;margin-top:25px; }
.head-pad h2	{ float:left; font-size:20px; font-family: 'PT Sans'; font-weight: bold; color:#333; padding:10px 20px; cursor:pointer;}
.head-pad h2 span	{ float:right; width:17px; height:8px; background: url('../images/down-arrow.png') no-repeat center; position:relative; right:-15px; top:12px;}
.head-pad h2.open span	{ background: url('../images/up-arrow.png') no-repeat center; }
.head-pad a		{ float:right; border:1px solid #e3e3e3; padding:0 32px;font-family: 'PT Sans'; font-weight: bold; font-size:14px; color:#747474; line-height:48px; border-radius:5px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;}
.head-pad a:hover		{ border:1px solid #4ca6db;}
.head-pad a	img { float:right; margin-top:14px; padding-left:10px;}
.head-pad.mrgn-top	{ margin-top:0;}

.table-responsive { width: 100%; float: left; margin-top: 0; font-size: 16px;  }
.table-responsive thead tr	{ border-bottom:1px solid #dadfe3;}
.table-responsive tr { background: #ffffff none repeat scroll 0 0;}
.table-responsive tr.trashed {opacity: 0.6; pointer-events: none;}
.table-responsive th { background-color: #eaf7ff; text-align:left;font-size:16px; font-family: 'PT Sans'; font-weight: bold; color:#333; font-weight:normal; padding:14px 25px; border-bottom:1px solid #dadfe3;}
.table-responsive td { padding: 19px 10px; font-size:16px; color:#757575; border-right:1px solid #dadfe3; border-bottom:1px solid #dadfe3;}
.table-responsive td.status {padding: 19px 10px;}
.table-responsive td .signature {font-size: 10px;margin-top: 5px;width: 100%;float: left;}
.table-responsive th:first-child	{ border-left:1px solid #dadfe3; padding:14px 5px 14px 25px; }
.table-responsive td:first-child { text-align:center;}
.table-responsive th:last-child	{ border-right:1px solid #dadfe3; }
.table-responsive td:last-child { text-align:center;}
.table-responsive.tab-1 td:nth-child(8n)	{ font-size:13px; padding:12px 10px 10px 16px}
.img-pad	{ float:left; margin-right:12px;}
/*.img-pad-t	{ float:left; margin-right:12px; margin-top:12px;}*/
.link-pad	{ float:left; background:#4ca6db; line-height:24px; width:74px; text-align:center; color:#fff; font-size:12px; border:none; cursor:pointer;transition:0.5s ease-in-out; -webkit-transition:0.5s ease-in-out; -moz-transition:0.5s ease-in-out;}
.link-pad:hover{opacity:0.8}
.rgt-pad	{ float:right; width:69%;}
.table-responsive td .fancybox:not(.comments)	{ float:left; width:100%; height:100%; text-align:center;}
.table-responsive td .fancybox img	{ display:inline-block;}	

.table-responsive.tab-2 td:nth-child(7n)	{ font-size:13px; padding:12px 10px 10px 16px}
.tab-2 .rgt-pad	{ float:right; width:69%;}

.popup { float:left; display:none; background:#fff; width:100%; max-width:604px; padding: 35px;}
.popup .demo-y { height:475px;}
.popup .demo-y p	{ padding:20px 0 0 20px;}
.popup .demo-y p:last-child	{ padding-bottom:20px;}
.popup h3		{ text-align:center; float:left; width:100%; margin-top:25px; font-size:24px; font-family: 'PT Sans'; font-weight: bold; color:#333; }
.popup h3 img	{ display:inline-block; margin-right:8px; position:relative; top:4px;}	

.scroll-div		{ width:100%; overflow-x: auto; position:relative; z-index:1;}
.grey-bg { background:#e3e3e3;}

.area-content div.form label.roll-over			{ transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; width:auto;}
.area-content div.form label.roll-over:hover	{ text-decoration:underline;}

.mob-table		{ float:left; width:100%; display:none; background:#fff;}
.mob-table ul	{ float:left; width:100%;}
.mob-table li:first-child, .mob-table li:nth-child(2n-2)	{ width:15%;}
.mob-table li:last-child	{ width:10%; padding:0 0; text-align:center;}
.mob-table .head-tit li:last-child	{ background:none;}
.mob-table li, .mob-table li:nth-child(4n-4)	{ float:left; width:30%; }
.mob-table .head-tit li { background-color: #eaf7ff; text-align:left;font-size:14px; font-family: 'PT Sans'; font-weight: bold; color:#333; font-weight:normal; padding:0 20px; border-bottom:1px solid #dadfe3; min-height:69px; border-left:none; border-right:none;}
.mob-table li { padding: 0 20px; font-size:14px; color:#757575; border-right:1px solid #dadfe3; border-bottom:1px solid #dadfe3; min-height:58px;display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;align-items: center;
-webkit-align-items: center;}
.plus-ico		{ display:inline-block; width:21px; height:21px;background: url('../images/plus-ico.png') no-repeat center; cursor:pointer;}
.plus-ico.open	{ background: url('../images/minus-ico.png') no-repeat center;}

.mob-table .hide-sect ul	{ float:left; width:100%; padding-top:12px; border-bottom: 1px solid #dadfe3;}
.mob-table .hide-sect li	{ float:left; width:100%; padding: 0 20px; font-size:14px; color:#333; display:block; border:none; min-height:0; text-align:left; margin-bottom:15px; font-family: 'PT Sans'; font-weight: bold;}
.mob-table .hide-sect .rgt-array	{ float:right; width:60%;font-family: 'PT Sans';color:#757575;}

.mob-table .hide-sect .rgt-array a {margin: 0 8px}
.table-responsive td a.comments {margin: 0 6px}

.jquery-datepicker__table thead { background: #4ca6db;}
.jquery-datepicker__table thead tr th { padding: 0; background:#4ca6db;}
.jquery-datepicker__table thead tr th span { color: #fff; background:#4ca6db;}
.jquery-datepicker__table thead tr th.jquery-datepicker__title span { line-height: 26px; font-size: 14px; color: #fff; font-family: 'PT Sans';; font-weight: normal; background:#4ca6db;}
.jquery-datepicker__table tr td.jquery-datepicker__dayName span { font-size: 14px; color: #1e1f24; }
/*.jquery-datepicker__table	{ width:480px;}	*/

.jquery-datepicker		{ float:left; width:100%;}

.area-content .frm-input-ctrl.browse label { right: 0;
    top: 0;
    width: 100%;}
.area-content .frm-input-ctrl.browse label img { margin:13px 20px 0 0;}

ul.comments {
	padding: 8px;
}

ul.comments li {
	border-bottom: 1px solid #d6d6d6;
	padding: 4px 0;
}

ul.comments li:last-child {
	border-bottom: none;
}

ul.comments li span {
	display: block;
	text-align: right;
}

.area-content div.form label.who-label {
	margin-top: 8px;
	padding-bottom: 4px;

}

.view-files {
	color: #4ca6db;
	cursor: pointer;
}

.view-files:hover {
	opacity: .8;
}

.table-responsive .view-files-tr td {
	background: #fbfbfb;
	padding: 0;
}

.view-files-tr td ul li {
	text-align: left;
	padding: 24px 48px;
	border-bottom: 1px solid #edf0f3;
}

.view-files-tr td ul li:last-child {
	border-bottom: none;
}

.view-files-tr td ul li a {
	font-family: 'PT Sans'; font-weight: bold;
}

.view-files-tr td ul li a:hover {
	opacity: .8;
}

.view-files-tr td ul li a img {
	margin-right: 16px;
}

.view-files-tr td ul li a span {
	font-family: 'PT Sans';
	margin-left: 12px;
}

.view-files-tr td ul li a .file-type {
	color: #b6b6b6;
}

.view-files-tr td ul li a .file-size {
	color: #565656;
}

.view-files-tr td ul li a.download-all-btn {
	background: #4ca6db;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 20px 12px;
	border-radius: 4px;
}

.view-files-tr td ul li a.download-all-btn img {
	display: inline-block;
	vertical-align: middle;
}

.view-files-tr td ul li a.download-all-btn span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0;
}

#document-form ul#file-list {
	margin: 16px 0 15px;
	background: #f2f2f2;
	font-family: PTSans-Regular;
	border-radius: 5px;
	padding: 20px 28px;
}

#document-form ul#file-list li:last-child {
	margin: 0;
}

#document-form ul#file-list li .remove-file {
	float: right;
}

#document-form ul#file-list li .remove-file a {
	font-size: 26px;
	text-decoration: none;
}

.provider-upload .provider-upload-msg {
	display: block;
	width: 100%;
	clear: both;
	padding-left: 20px;
	margin-bottom: 10px;
}

.provider-upload .table-responsive th, .provider-upload .mob-table .head-tit li {
	background-color: #fff0eb;
}