/* OWL CAROUSEL*/
.owl-nav button {
    border: none;
}

.owl-nav span {
    display: none;
}

.owl-nav.disabled {
    display: none;
}
/* /OWL CAROUSEL*/

/* FORMS */
    .resultContainer {
        display: none;
        width: 100%;
        float: left;
        border: 2px solid;
        padding: 5px;
    }
    .resultContainer p {
        font-size: 14px;
    }
    .messageOK {
        border-color: #2abd90;
        background-color: mediumseagreen;
        display: block;
    }
    .messageOK p {
        color: white;
    }
    .messageKO {
        border-color: red;
        background-color: tomato;
        display: block;
    }
    .messageKO p {
        color: white;
    }
/* /FORMS */

/* HOME */
section.donde-encon.donde-encon-links {
    padding: 10px 0 40px;
}
/* /HOME */