@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){
}
@media only screen and (min-width:1401px) and (max-width: 1920px){
.map-sec img { float: none; width: auto;}
.slick-slider .slick-next.slick-arrow { right: 21.8%;}
.slick-slider .slick-prev.slick-arrow { left: 21.8%;}
}
@media only screen and (min-width:1401px) and (max-width: 1700px){
.slick-slider .slick-next.slick-arrow { right: 10.8%;}
.slick-slider .slick-prev.slick-arrow { left: 10.8%;}
}
@media only screen and (max-width:1367px) and (min-width: 1400px){
.map-sec img { float: none; width: auto;}
}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}		
.center .slider-cont {transform: scale(0.86);}
.map-sec span { right:160px;}
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:1000px; }
.banner-cont h1.desk-tit { font-size: 46px; line-height: 58px;}
.banner-top .banner-form h1 { padding-bottom: 25px;}
.nuestros-list ul li { width: 32%; margin-right:2%; margin-bottom:3%; min-height:316px; }
.map-sec span { right: 150px;}
.nuestros-list { padding: 50px 0 35px;}

footer .copy-rights h4 { padding-left:45px;}
footer .copy-rights p { padding-right:45px;}
}
 
@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row  { width:980px; }
.banner-cont h1.desk-tit {font-size: 45px; line-height: 52px;}
.banner-form { margin-right: 0;}
.slider-cont { padding: 30px;}
.slider-cont h2 { font-size: 22px; line-height: 26px; padding-bottom: 20px;}
.slider-cont p { font-size: 16px; line-height: 24px;}
.map-sec span {  right: 127px; top: -40px;}
footer .copy-rights h4 { padding-left:25px;}
footer .copy-rights p { padding-right:25px;}
.nuestros-list ul li { width: 32%; margin-right:2%; margin-bottom:3%; min-height:316px; }
.nuestros-list { padding: 45px 0 25px;}
.porque-list ul li h4 {font-size: 20px; line-height: 24px; padding-bottom: 15px;}
.porque-list ul li p { line-height: 25px; padding-bottom: 20px;}
.porque-apren { padding: 40px 0 0;}
.emag-img {padding-bottom: 20px;}
.aun-cont h1 {font-size: 40px; line-height: 48px;}
.preguntas-frecuentes { padding: 40px 0 50px;}
.somos-en { padding: 45px 0 0;}
.acc-dropdown { margin-top: 25px;}
.somos-cont { padding: 35px 0 45px;}
.donde-encon { padding: 40px 0 30px;}
.center .slider-cont { transform: scale(0.84);}
.porque-apren h1, .nuestros-cursos h1, .que-dicen h1, .contact-anos h1, .preguntas-frecuentes h1, .aun-cont h1, .somos-en h1, .donde-encon h1 {font-size: 38px; line-height: 50px;}
.contact-anos { padding: 40px 0 45px;}
.banner-slider .flex-direction-nav li a { top:40%;}
.nuestros-cursos {  padding: 35px 0 0;}
footer .copy-rights { padding-bottom: 20px;}
.slick-slide { width:500px;}
.que-dicen { padding: 42px 0 35px;}
.curso-cont .curso-form { padding: 22px 30px 15px;}
.curso-presencial h2 {font-size: 24px; line-height: 32px;}
.ahora-si {  padding: 45px 0 15px;}

.slick-slider .slick-prev.slick-arrow { left: 10%;}
.slick-slider .slick-next.slick-arrow { right: 10%;}

.nuestros-list ul li span.discount { right:10px; }
.nuestros-list ul li span.discount img { max-width:97%; }

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row { width:750px; }
.banner-caption { width: 47%;}
.banner-form { width: 50%; margin-right: 0;}
.banner-cont h1.desk-tit {font-size: 32px; line-height: 45px; padding-bottom: 30px;}
.slider-cont { padding: 30px;}
.slider-cont h2 { font-size: 22px; line-height: 26px; padding-bottom: 20px;}
.slider-cont p { font-size: 16px; line-height: 24px;}
.map-sec span {right: 95px; top: -37px;}
.porque-list ul li { width: 32%; padding: 0 1%;}
.porque-list ul li h4 {font-size: 20px; line-height: 24px; padding-bottom: 15px;}
.porque-list ul li p { font-size:17px; line-height: 22px; padding-bottom: 20px;}
.nuestros-cursos {  padding: 30px 0 0;}
.nuestros-list ul li { padding: 25px 10px; min-height:296px; }
.nuestros-list ul li { width: 32%; margin-right:2%; margin-bottom:3%;}
.nuestros-list ul li h4 { font-size: 20px; line-height: 26px;}
.nuestros-list ul li h5 {  font-size: 18px;  line-height: 22px;}
.nuestros-list ul li span.cal-ico { font-size: 18px; line-height: 22px;}
.contact-anos { padding: 40px 0 45px;}
.preguntas-frecuentes { padding: 45px 0 50px;}
.acc-dropdown .acc_head h2 { font-size: 20px; line-height: 30px;}
.smk_accordion .accordion_in .acc_head, .accordion_example2.smk_accordion .accordion_in .acc_head {padding: 20px 25px;}
.smk_accordion .accordion_in { margin-bottom: 20px;}
.banner-slider .flex-direction-nav li a { top:38%;}
.acc-dropdown {  margin-top: 25px;}
.aun-cont h1 { font-size: 32px; line-height: 44px;}
.somos-cont { padding: 25px 0px 45px;}
.donde-encon { padding: 35px 0 40px;}
footer .copy-rights h4 {padding-left: 0; display: inline-block; float: none; margin-bottom:20px;}
footer .copy-rights p { padding-right: 0; display: inline-block; float: none;}
.porque-apren h1, .nuestros-cursos h1, .que-dicen h1, .contact-anos h1, .preguntas-frecuentes h1, .somos-en h1, .donde-encon h1 {font-size: 35px; line-height: 48px;}
.aun-cont h1 br { display:none;}
.nuestros-list { padding: 45px 0 36px;}
.contact-anos .form-box { padding-top: 35px;}
.porque-apren { padding: 30px 0 0;}
.porque-list { padding: 50px 0 40px;}
.slick-slide { width:450px;}
.center .slider-cont { transform: scale(0.85);}
.curso-cont .curso-form { padding: 22px 20px 10px;}
.curso-presencial h2 {font-size: 22px; line-height: 30px;}
.curso-presencial h2 br { display:none;}
.curso-presencial h3 {font-size: 17px;}
.donde-encon ul li { margin-bottom:10px;}
.donde-encon.map { padding: 30px 0 25px;}
.curso-presencial .form-box .frm-input { margin-bottom: 10px;}
.donde-encon ul li a { font-size:18px;}
.curso-cont .curso-lft ul li .img-ico { width: 12%;}
.curso-cont .curso-lft ul li .img-desc { width: 88%;}
.curso-presencial h1 { font-size:35px;}
.curso-cont .curso-lft ul li .img-desc h5 br { display:none;}
.curso-cont .curso-lft ul li .img-desc h3 { font-size:15px;}
.ahora-si {  padding: 35px 0 15px;}
.ahora-btn { margin-bottom: 40px;}
.gracias-cont p { font-size: 22px; line-height: 32px;}
.gracias-cont p br { display:none;}
.ahora-si h3 { padding-bottom: 30px;}
.gracias-cont { padding: 0 20px;}

.curso-presencial .form-box input[type="text"], .form-box textarea {font-size: 14px;}

.slick-slider .slick-prev.slick-arrow { left: 10%;}
.slick-slider .slick-next.slick-arrow { right: 10%;}

.banner-caption ul {text-align:center;}
.banner-caption ul li:nth-child(3n){margin-right:0;}
.banner-caption ul li{float:none; display:inline-block;}
.slick-slider .slick-prev.slick-arrow { left: 5%;}
.slick-slider .slick-next.slick-arrow { right: 5%;}

.nuestros-list ul li span.discount { top:70px; right:0px; }
.nuestros-list ul li span.discount img { max-width:75%; }
.nuestros-list ul li span.price { width:90%!important; }

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row { width:100%; padding:0px 15px; }
.top-header { background:#fafafa; padding: 10px 0;}
.home-video { display:none;}
.top-rgt { display:none;}

header { position:relative;}
.top-banner { background:none;height: 100%;}
.top-banner .banner-cont { position:relative; top:0;}
.banner-cont .row {  width: 100%; padding:0;}
.banner-cont h1.desk-tit { display:block;}
.banner-caption h1.mob-tit { display:none;}
.top-banner .banner-caption { position:relative; width:100%; background:rgba(0, 0, 0, 0) url("../images/home.jpg") no-repeat scroll center top / cover ; padding: 30px 15px; top: 0; z-index: 1;}
.banner-form { background:#f2f2f2; position:relative; width:100%; margin-right:0;}
.banner-caption ul { float:left; width:100%;}
.banner-caption ul li { float: left; width: 18%; margin-right:15px; margin-bottom:0; text-align:center;}
.banner-caption ul li:last-child { margin-right:0;}
.banner-caption ul li img { float:none;}
.banner-caption ul.cont-list li { text-align:left;}

.porque-list { display:none;}
#porque-slider {display:block;}
.btn-ctr.mob { display:block; margin-top: 10px;}
#slider-center { display:none;}
#que-dicen-slider { display:block;}
.nuestros-list { display:none;}
.nuestros-cursos-list {display:block;}
.acc-dropdown {margin-top: 20px;}
.acc-lft { width:100%; margin-right:0;}
.acc-rgt { width:100%;}
.contact-anos .form-box .frm-input.txt-box { width:100%;}
.somos-cont { padding:0 0 30px;}
.somos-lft { width:100%; margin-bottom:30px; margin-right:0;}
.somos-rgt { width:100%; float:left; text-align:center;}
.somos-rgt img { float:none;}
.porque-apren h1, .nuestros-cursos h1, .que-dicen h1, .contact-anos h1, .preguntas-frecuentes h1, .somos-en h1, .donde-encon h1 {font-size: 32px; line-height: 44px;}
#porque-slider .porque-cont p { padding-bottom:15px;}
.porque-apren {  padding: 25px 0 30px;  border-bottom: 1px solid #30d8a4;}
.porque-apren h2 br { display:none;}
.nuestros-cursos-list { padding: 35px 0 30px;}
.que-dicen { padding: 35px 0 0;}
.nuestros-cursos { padding: 30px 0 0;}
.contact-anos .form-box { padding-top: 25px;}
.contact-anos {  padding: 35px 0 45px;}
.banner-slider .flex-direction-nav li a {top: 38%;}
.preguntas-frecuentes { padding: 35px 0 45px;}
.donde-encon { padding: 35px 0 30px;}
.somos-en { padding: 35px 0 0;}
.smk_accordion .accordion_in { margin-bottom: 10px;}
.smk_accordion .accordion_in .acc_head, .accordion_example2.smk_accordion .accordion_in .acc_head { padding: 15px 25px;}
.acc-dropdown .acc_head h2 { font-size: 20px; line-height: 26px;}
.smk_accordion .accordion_in .acc_head .acc_icon_expand, .smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand { width:20px; height:11px; background-size:cover;}
.smk_accordion .accordion_in .acc_content { padding: 15px 25px;}
footer .copy-rights { padding-bottom: 20px;}
footer .copy-rights h4 { padding-left:0; padding-bottom:15px; display: inline-block; float: none;}
footer .copy-rights p { padding-right:0; display: inline-block; float: none;}
.donde-encon ul li { margin-bottom:15px;}
.donde-encon ul li:last-child { margin-bottom:0;}
.somos-lft p { padding-bottom: 25px;}
.map-sec {  margin: 30px 0 25px;}
.map-sec span { right: 80px; top: -28px;}
.map-sec span img { height: auto; width: 32px;}
.center .slider-cont { transform: scale(0.84);}
.nuestros-cursos-list ul li { margin-bottom:3%;  padding: 22px 10px;}
a.ent-btn { width:auto; padding: 10px 40px;}
.contact-anos .form-box .frm-input.txt-box, .contact-anos .form-box .frm-input {margin-bottom: 12px;}
.aun-cont { padding: 50px 15px 40px;}
footer ul { display: inline-block; float: none;}
.aun-cont h1 { font-size:28px; line-height:38px;}
.aun-cont h1 br { display:none;}
.banner-caption ul { text-align:left;}
.banner-caption ul li {width: 65px; margin-right: 14px; float:none; display:inline-block;}
.banner-caption ul li img { height: 65px;}
.banner-caption ul li:nth-child(4) { width: 126px;}
.banner-caption ul li:nth-child(5) { width: 70px;}
.banner-caption ul li:nth-child(4) img { height: auto; width: 180px; margin-top: 15px;}
.banner-caption ul li:nth-child(5) img { height: auto; width: 100px; margin-top: 10px;}
.banner-caption ul.cont-list { width:100%;}
.banner-caption ul.cont-list li:nth-child(4), .banner-caption ul.cont-list li:nth-child(5) { width:100%;}
.contact-anos .form-box { padding-top: 35px;}
.curso-cont .curso-lft { width:100%; margin-right:0; margin-bottom:20px;}
.curso-cont .curso-rgt { width:100%; margin-right:0;}
.curso-presencial h2 br { display:none;}
.curso-emag { text-align:center;}
.curso-emag img { float:none; width:auto;}
.donde-encon.map { padding: 30px 0 20px;}
footer .copy-rights h4 {font-size: 18px;}
footer .copy-rights p {font-size: 18px;}
.donde-encon ul li a {font-size: 18px;}
.donde-encon.map .map-sec { margin: 0 0 25px;}
.curso-presencial h1 { font-size: 35px; line-height: 48px;}
.curso-cont { padding-top: 50px;}
.curso-cont .curso-lft ul li { padding-left: 30px;}
.curso-presencial { padding: 25px 0 0;}
.curso-cont .curso-lft ul li .img-desc h5 br { display:none;}
.ahora-si {  padding: 35px 0 15px;}
.ahora-btn { margin-bottom:30px;}
.gracias-cont p { font-size: 20px; line-height: 30px;}
.gracias-cont p br { display:none;}
.ahora-si h3 { padding-bottom: 30px;}
.gracias-cont { padding: 0 20px;}
.ahora-si h2 { padding-bottom:20px;}
.banner-caption ul.cont-list { display:none;}
.mob-call { display:block;}
.aun-no { background-position: center center;}
.aun-no .frm-input.checkbox label { color: #ffffff;}
.somos-lft p { font-size: 18px; line-height: 26px;}

.curso-emag h4 {font-size: 15px;}
.emag-img h4 {font-size: 15px;}
#porque-slider .owl-nav {top: 89px;}
.contact-anos .form-box input[type="text"], .contact-anos .form-box textarea { font-size: 16px;}


.curso-lft .curso-form{margin-bottom:30px;}
.nuestros-cursos-list ul li h4{min-height:65px;}
.nuestros-cursos-list ul li span.discount{top:55px; right:10px;}
.nuestros-cursos-list ul li span.discount img{width:50px;}
.nuestros-cursos-list ul li h4 br{display:none;}
.nuestros-cursos-list ul li h4{font-size:18px;}
.banner-caption h1.mob-tit, .banner-cont h1.desk-tit { float:left; width:100%; font-size:35px; line-height:46px; color:#ffffff; font-family:'robotobold'; padding-bottom:20px; }

.nuestros-cursos-list ul li h4 { min-height:100%; padding-bottom:10px; }
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.banner-caption h1.mob-tit, .banner-cont h1.desk-tit {font-size: 30px; line-height: 38px;}
.nuestros-cursos-list ul li h4 {font-size: 16px; line-height: 28px;}
.acc-dropdown { margin-top: 0;}
footer .copy-rights h4 {  font-size: 18px; text-align:center;}
footer .copy-rights p { font-size:18px;}
.aun-cont h1 { font-size: 28px; line-height: 36px;}
.aun-cont h1 br { display:none;}
.map-sec span { right: 60px; top: -26px;}
.map-sec span img { height: auto; width: 32px;}
.emagister {padding: 25px 0 0;}
.emag-img { padding-bottom: 25px;}
.banner-slider .flex-direction-nav li a { width:20px; height:36px;}
.banner-slider .flex-direction-nav li .flex-prev, .banner-slider .flex-direction-nav li .flex-next { background-size:cover;}
.banner-caption ul li { width: 55px;}
.slider-cont p {font-size: 20px; line-height: 28px;}
.nuestros-cursos-list ul li h5 { font-size: 17px;}
.nuestros-cursos-list ul li span.cal-ico { font-size: 18px; line-height: 22px;}
.btn-ctr {  margin-top: 20px;}
.curso-presencial h1 { font-size: 30px; line-height: 42px;}
.curso-cont .curso-lft ul li .img-ico { width:12%;}
.curso-cont .curso-lft ul li .img-desc { width:88%;}
.gracias-cont h3 { font-size: 20px; line-height: 30px;}
.gracias-cont p { font-size: 18px; line-height: 24px;}
.gracias-banner { height: 300px;}
.gracias-cont {top: 22%;}
.gracias-cont h2 {font-size: 32px; line-height: 28px; padding-bottom: 22px;}
.ahora-btn a { width:auto; padding: 10px 40px;}
.ahora-si h3 br { display:none;}

ul.social{float:left; width:100%; text-align:center;}
ul.social li{float:none; display:inline-block;}

.logo{width:100%; text-align:center;}
.logo img{float:none;}
.banner-caption ul li{float:none; display:inline-block;}
.banner-caption ul{text-align:center;}
.banner-caption h1.mob-tit, .banner-cont h1.desk-tit{text-align:center;}
.banner-form .form-box{padding-right:0;}
.nuestros-cursos-list ul li span.discount{top:50px;}
.nuestros-cursos-list ul li span.discount img{width:40px;}
.nuestros-cursos-list ul li span.price { width:80%; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.map-sec { margin: 15px 0 20px;}
.donde-encon { padding: 20px 0;}
.donde-encon ul li a { font-size: 18px; line-height: 22px;}
.donde-encon ul li { margin-bottom: 10px;}
.nuestros-cursos-list ul li { width:100%; margin-right:0;}
.porque-apren h1, .nuestros-cursos h1, .que-dicen h1, .contact-anos h1, .preguntas-frecuentes h1, .aun-cont h1, .somos-en h1, .donde-encon h1 {font-size: 25px; line-height: 34px;}
.copy-rights h4 span { float: left;  width: 100%;}
.copy-rights h4 span.line-brd { display:none;}
.map-sec span {top: -18px;  right: 46px;}
.map-sec span img { height: auto; width: 22px;}
.banner-caption h1.mob-tit, .banner-cont h1.desk-tit { font-size: 22px; line-height: 32px;}
.banner-top .banner-form h1 {    padding-bottom: 25px;}
.nuestros-cursos-list ul li h4 { min-height:inherit;}
.slider-cont {  padding: 30px 20px;}
.slider-cont p {font-size: 18px; line-height: 24px;}
.slider-cont h2 { padding-bottom: 15px;}
.acc-dropdown .acc_head h2 { font-size: 18px; line-height: 22px;}
.aun-cont h1 { font-size: 22px; line-height: 30px;}
.aun-cont h1 br { display:none;}
.aun-no .form-box { width:100%;}
.porque-apren h2 { font-size: 17px; line-height: 22px;}
#porque-slider .porque-cont p { font-size: 17px; line-height: 22px;}
#porque-slider .porque-cont h4 { font-size: 22px; line-height: 24px;}
.nuestros-cursos h2, .nuestros-cursos h3, .contact-anos h2, .contact-anos h3 {font-size: 18px;}
.nuestros-cursos h1 { padding-bottom: 15px;}
.contact-anos .frm-input.checkbox label {font-size: 13px;}
.banner-slider .flex-direction-nav li a { width:15px; height:27px;}
.banner-slider .flex-direction-nav li .flex-prev, .banner-slider .flex-direction-nav li .flex-next { background-size:cover;}
footer .copy-rights p { font-size: 16px;}
.curso-cont .curso-form { padding: 22px 20px 15px;}
.curso-presencial .form-box input[type="text"], .form-box textarea {font-size: 14px;}
.donde-encon ul li::after { content:none;}
.curso-cont .curso-lft ul li { padding-left: 15px; padding-right:15px; margin-bottom: 20px; padding-bottom: 15px;}
.curso-cont .curso-lft ul li .img-ico { width:15%;}
.curso-cont .curso-lft ul li .img-desc { width:85%;}
.curso-cont .curso-lft ul li .img-desc h3 {font-size: 16px; line-height: 22px;}
.curso-cont { padding-top: 35px;}
.curso-presencial h2 {font-size: 24px; line-height: 32px; padding-bottom: 20px;}
.curso-presencial .form-box .frm-input { margin-bottom: 10px;}
footer ul { margin-top: 15px;}
footer { padding: 0 0 15px;}
.curso-presencial h1 { font-size: 28px; line-height: 36px;}
.gracias-cont { top: 15%;}
.gracias-cont p { font-size: 17px; line-height: 22px;}
.gracias-cont h3 { font-size: 18px; line-height: 26px;}
.gracias-cont h2 { font-size: 28px; line-height: 30px; padding-bottom: 15px;}
.ahora-btn a { margin-right:0; margin-bottom:10px;}
.ahora-si h2 {  font-size: 17px; line-height: 22px; padding-bottom: 20px;}
.ahora-si h3 { font-size: 17px; line-height: 22px;}
.ahora-btn { margin-bottom: 20px;}
.preguntas-frecuentes h4 {font-size: 18px;}

.nuestros-cursos-list ul li{padding:20px 0;}
.nuestros-cursos-list ul li span.price { width:100%; }
}

@media screen and (max-width:359px) {
.map-sec span { right: 42px; top: -18px;}	
.map-sec span img { height: auto; width: 25px;}
.banner-caption h1.mob-tit, .banner-cont h1.desk-tit { font-size: 20px; line-height: 28px;}
.banner-caption ul.cont-list li {font-size: 16px; font-family: "robotobold"; line-height: 22px;}
.banner-caption ul.cont-list li { margin-bottom:12px;}
.banner-top .banner-form h1 { font-size: 24px; line-height: 32px;}
.slider-cont p { font-size: 17px; line-height: 24px;}
footer .copy-rights p { font-size: 15px;}
.curso-presencial h1 { font-size: 26px; line-height: 38px;}
.curso-cont .curso-lft ul li .img-ico { width:20%;}
.curso-cont .curso-lft ul li .img-desc { width:80%;}
footer ul li { padding:0 10px;}
footer ul li a { font-size:14px;}

}


