.smk_accordion {
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0 0 10px;
  float:left;
  width:100%;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  border: 1px solid #30d8a4;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
  overflow: hidden;
  float:left; 
  width:100%; 
  background:#ffffff;
  
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.accordion_example2.smk_accordion .accordion_in .acc_head {
  position: relative;
padding: 30px 25px;
display: block;
cursor: pointer;
background: #f7f7f7; font-size:14px; font-family: 'pangramregular';color:#000; font-weight:normal; }
.smk_accordion .accordion_in .acc_head { float:left; width:100%;
  position: relative;
padding: 30px 25px 20px;
display: block;
cursor: pointer;
background: none; font-size:15px; font-family: 'pangramregular'; color:#f7001f; font-weight:normal; 
}
.accordion_example2.smk_accordion .accordion_in .acc_head:hover{ background:none; color:#fff;}
.sidebar .smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #ECECEC;
  padding:15px;
 color:#000;
  display: block;
  cursor: pointer;font-family: 'pangrambold'; font-size:18px;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 30px;
  height: 17px;
  position: absolute;
  right: 20px;
  top: 20px;
  background:url(../images/arrow-up.png) no-repeat scroll 0 0;
      transform: rotate(180deg);
}
.sidebar .smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 20px;
  height:22px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../images/p-arrow.svg) no-repeat scroll 0 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  background: none;
  color: #454545;
  padding: 0 25px;
  float:left; width:100%;
}
.sidebar .smk_accordion .accordion_in .acc_content {
  background: #fff;
  color: #454545;
  padding: 0px;
  float:left; width:100%;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
 
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
  background: none; font-size:18px; font-family: 'pangramregular';color:#f7001f; font-weight:normal; 
}
.accordion_example2.smk_accordion .accordion_in.acc_active > .acc_head {
  background: none; font-size:16px; font-family: 'pangramregular';color:#f7001f; font-weight:normal; 
}
.sidebar .smk_accordion .accordion_in.acc_active > .acc_head {
 color:#FFF;
background: rgba(222,172,72,1);
background: -moz-linear-gradient(top, rgba(222,172,72,1) 0%, rgba(208,142,11,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,172,72,1)), color-stop(100%, rgba(208,142,11,1)));
background: -webkit-linear-gradient(top, rgba(222,172,72,1) 0%, rgba(208,142,11,1) 100%);
background: -o-linear-gradient(top, rgba(222,172,72,1) 0%, rgba(208,142,11,1) 100%);
background: -ms-linear-gradient(top, rgba(222,172,72,1) 0%, rgba(208,142,11,1) 100%);
background: linear-gradient(to bottom, rgba(222,172,72,1) 0%, rgba(208,142,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deac48', endColorstr='#d08e0b', GradientType=0 );

}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/arrow-up.png) no-repeat scroll 0 0;  transform: rotate(0deg);
}
.sidebar .smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/plusminus2.png) no-repeat scroll 0 0;
}
/*.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 20px;padding-right: 26px;
}*/

.sidebar .smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 0px;
}
.sidebar .smk_accordion.acc_with_icon .accordion_in .acc_head{padding-left:15px;}
