@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-roman-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-roman-webfont.woff') format('woff'),
         url('fonts/helveticaneue-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Light.woff2') format('woff'),
         url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('fonts/HelveticaNeue-Medium.eot') format('embedded-opentype');
  src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/HelveticaNeue-Medium.woff') format('woff'),
	   url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),		
	   url('fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('fonts/HelveticaNeue-Bold.eot') format('embedded-opentype');
  src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/HelveticaNeue-Bold.woff') format('woff'),
	   url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),		
	   url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/roboto-light.eot');
    src: url('fonts/roboto-light.eot') format('embedded-opentype'),
         url('fonts/roboto-light.woff') format('woff'),
         url('fonts/roboto-light.ttf') format('truetype'),
         url('fonts/roboto-light.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.eot');
    src: url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body { padding:0px; margin:0px; background:#ffffff; font-size:16px; color:#7c7c7c; line-height:20px;  font-family: 'robotoregular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #282828; text-decoration: none; outline:none; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0px; margin:0px; color:#606060;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
strong { font-family: 'robotobold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row { width:1148px; margin:auto; padding:0px;}
.inner-row { width:832px; margin:auto; padding:0px;}

/* header css */
header {float:left; width:100%; position:absolute; top:0; z-index:99; /* transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;*/}
.top-header { float:left; width:100%; padding-top:20px;}
.logo { float:left; width:auto;}
.logo img { float: left; width: auto;}
.top-rgt { float:right; text-align:right; margin-top:24px;}
.top-rgt span { float:left; font-size:18px; font-family: 'robotobold'; color:#ff6666;}
.top-rgt span a{color:#ff6666;}
.is-sticky .top-header { float:left; width:100%; background:#fafafa; z-index:99; padding-bottom:10px; box-shadow:1px 2px 3px #ccc;}
header.inner-top { background:#fafafa; position:relative;}
header.inner-top .top-header { padding-bottom:10px;}

.top-banner { float:left; width:100%; position:absolute;  background:url(../images/home.jpg) no-repeat scroll left top; width:100%; height:856px; background-size:cover; position:relative;overflow: hidden; top:0px;}

.home-video { float: left; position: relative; width: 100%;height: 100%;}
.home-video video { float:left; width:100%; height:100%; object-fit:cover;}

.banner-cont { float:left; width:100%; position:absolute; top:110px;}
.banner-top { float:left; width:100%; position:relative;}
.banner-caption {float: left; left: 0; margin-right: 1%; position: absolute; top: 0; width: 58%;}
.banner-form { float:right; width:38%; background:rgba(255,255,255,0.8); padding:27px 17px 27px 22px; border:1px solid #2abd90; margin-right: 3%; margin-top:20px; position: absolute; right: 0;top: 0;}
.banner-form .form-box input[type=text]:focus::placeholder { color: white; }

.banner-cont h1.desk-tit { float:left; width:100%; font-size:38px; line-height:50px; color:#ffffff; font-family: 'robotobold'; padding-bottom:40px;}
.banner-caption h1.mob-tit { float:left; width:100%; font-size:35px; line-height:46px; color:#ffffff; font-family: 'robotobold'; padding-bottom:20px; display:none;}

.banner-caption ul { float:left; width:100%; margin-bottom:25px;}
.banner-caption ul li { float:left; width:auto; margin-right:45px; margin-bottom:25px;}
.banner-caption ul li img { width:auto; height:auto;}
.banner-caption ul li:last-child{margin-right:0;}

.banner-caption ul.cont-list { float:left; width:100%; margin-bottom:0;}
.banner-caption ul.cont-list li { float:left; background:url(../images/tick-icon.svg) no-repeat scroll 0px 10px; font-family: 'robotomedium'; width:100%; margin-right:0; color:#ffffff; font-size:18px; line-height:25px; padding-left: 35px; margin-bottom:15px;}

.banner-top .banner-form h1 { float:left; width:100%; color:#2abd90; font-size:30px; line-height:34px; padding-bottom:40px; font-family: 'robotobold';}
.banner-form .form-box { float: left; padding-right: 20px; width: 100%;}
.banner-form .form-box .frm-input { float: left; width: 100%; margin-bottom: 14px;}
.banner-form .form-box input[type="text"], .form-box textarea { float:left; width:100%; color:#afb1b0; font-size:16px; border: 1px solid #2abd90; padding: 10px 15px; height: 52px; line-height: 32px; font-family: 'robotoregular';}
.banner-form .form-box input[type="text"]:focus, .form-box textarea:focus { background:#2abd90; color:#ffffff;}
.banner-form .form-box textarea { resize:none; height:72px; line-height:22px;}
.banner-form .form-box .frm-input.cal-ico input[type="text"] { background: url(../images/calendar.svg) no-repeat left 8px center; padding-left: 42px;}
.banner-form .form-box .frm-input .sbHolder { float:left; width:100%; background:#fff; color:#afb1b0; font-size:16px; border: 1px solid #2abd90; padding: 10px 15px; height: 52px; line-height: 32px;}

.banner-form .frm-input.checkbox { float: left; width: 100%; margin-bottom:8px; position: relative; }
.banner-form .frm-input.checkbox input {  height: 10px; left: 0; position: absolute; top: 0; width: 10px;}
.banner-form .frm-input.checkbox label { color: #707070; cursor: pointer; font-size: 12px; padding-left: 20px; position: relative; width: auto; line-height:16px; display: inline-block; font-family: 'RobotoLight';}
.banner-form .frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.banner-form .frm-input.checkbox label::after { background: transparent none repeat scroll 0 0;  border:1px solid #8f9190; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.banner-form .frm-input.checkbox input:checked + label::before {background: #fff url(../images/tick-ico-hvr.png) no-repeat scroll 3px 3px;}
.banner-form .frm-input.checkbox input:checked + label::after {border:1px solid #2abd90;}
.banner-form .frm-input.checkbox span { font-size:12px; color: #707070; float: none; width:100%; padding-left:5px;line-height:16px;}
.banner-form .frm-input.checkbox span a {color: #707070; text-decoration:underline; }
.banner-form .frm-input.checkbox span a:hover { color:#ffa000;}

.btn-ctr { float:left; width:100%; text-align:center; margin-top:27px;}
button.env-btn { background: #ff6666 none repeat scroll 0 0; color: #ffffff; display: inline-block; float: none; font-family: 'robotobold'; font-size: 18px; height: 50px; line-height: 28px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; border:none; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width: 248px; cursor:pointer;}
button.env-btn:hover {background: #ffffff; color:#ff6666; border:1px solid #ff6666;}

.emagister { float:left; width:100%; padding:40px 0 0; text-align:center;}
.emag-img { border-bottom:1px solid #30d8a4; float:left; width:100%; padding-bottom:40px;}
.emagister img { float:none; width:auto;}

/* porque apren css*/
.porque-apren { float:left; width:100%; padding:55px 0 0;}
.porque-apren h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
.porque-apren h2 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'RobotoLight';}
.porque-apren h3 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'robotobold';}

.porque-list { float:left; width:100%; padding:72px 0 50px; border-bottom:1px solid #30d8a4;}
.porque-list ul { float:left; width:100%; text-align:center;}
.porque-list ul li { float:none;  padding: 0 4%; width: 33%; display:inline-block; vertical-align: top;}
.porque-list ul li h4 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:24px; line-height:24px; font-family: 'robotobold'; padding-bottom:25px;}
.porque-list ul li p { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:18px; line-height:26px; font-family: 'RobotoLight'; padding-bottom:25px;}
.porque-list ul li span { float:left; width:100%;}
.porque-list ul li span img { float:none; padding-bottom:20px;}

#porque-slider { float:left; width:100%; display:none; margin-top:30px; overflow:hidden;}
#porque-slider .porque-cont { float:left; width:100%; text-align: center;}
#porque-slider .porque-cont h4 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:24px; line-height:24px; font-family: 'robotobold'; padding-bottom:25px;}
#porque-slider .porque-cont p { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:18px; line-height:26px; font-family: 'RobotoLight'; padding-bottom:25px;}
#porque-slider .porque-cont p:last-child { padding-bottom: 0;}
#porque-slider .porque-cont span { float:left; width:100%;}
#porque-slider .porque-cont span img { float:none; padding-bottom:20px;}
.btn-ctr.mob { display:none;}

/* nuestros cursos css*/
.nuestros-cursos { float:left; width:100%; padding:55px 0 0;}
.nuestros-cursos h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
.nuestros-cursos h2 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'RobotoLight';}
.nuestros-cursos h3 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'robotobold';}

.nuestros-list { float:left; width:100%; padding:72px 0 36px;}
.nuestros-list ul { float:left; width:100%; text-align:center;}
.nuestros-list ul li { float:left; padding: 30px 15px; width: 31.59%; display:inline-block; margin-right:30px; margin-bottom:30px; border:1px solid #707070; position:relative; min-height: 280px;  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.nuestros-list ul li:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.nuestros-list ul li:last-child, .nuestros-list ul li:nth-child(3n+3) { margin-right:0;}
.nuestros-list ul li h4 { float:left; width:100%; text-align:center; color:#434343; font-size:24px; line-height:30px; font-family: 'robotobold'; padding-bottom:16px; text-transform: uppercase;}
.nuestros-list ul li span.price { float:left; width:100%; text-align:center; color:#9e9e9e; font-size:20px; line-height:24px; font-family: 'RobotoLight'; padding-bottom:15px; position:relative;}
.nuestros-list ul li span.price::after { position:absolute; content:""; width:140px; height:2px; left:0; top:14px; right:0; margin:0 auto; border:1px solid #fd6466;}
.nuestros-list ul li h5 { float:left; width:100%; text-align:center; color:#37d9a8; font-size:22px; line-height:24px; font-family: 'robotobold'; padding-bottom:15px;}
.nuestros-list ul li span.cal-ico { float:left; width:100%; text-align:center; color:#9e9e9e; font-size:20px; line-height:24px; font-family: 'RobotoLight'; padding-bottom:5px; position:relative;}
.nuestros-list ul li span.cal-ico img { float:none; width:auto;  vertical-align: middle; padding-right:10px;}

button.ent-btn {background: #ffffff; color:#ff6666; display: inline-block; float: none; font-family: 'robotomedium'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width:190px; cursor:pointer;}
button.ent-btn:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}
a.ent-btn {background: #ffffff; color:#ff6666; display: inline-block; float: none; font-family: 'robotomedium'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width:190px; cursor:pointer;}
a.ent-btn:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}

.nuestros-cursos-list { float:left; width:100%; padding:72px 0 36px; display:none;}
.nuestros-cursos-list ul { float:left; width:100%; text-align:center;}
.nuestros-cursos-list ul li { float:left; padding: 35px 15px; width: 49%; display:inline-block; margin-right:2%; margin-bottom:30px; border:1px solid #707070; position:relative;}

.nuestros-cursos-list ul li:nth-child(2n+2) { margin-right:0;}
.nuestros-cursos-list ul li h4 { float:left; width:100%; text-align:center; color:#434343; font-size:24px; line-height:30px; font-family: 'robotobold'; padding-bottom:20px; min-height: 80px; text-transform: uppercase; }
.nuestros-cursos-list ul li span.price { float:left; width:100%; text-align:center; color:#9e9e9e; font-size:20px; line-height:24px; font-family: 'RobotoLight'; padding-bottom:15px; position:relative;}
.nuestros-cursos-list ul li span.price::after { position:absolute; content:""; width:140px; height:2px; left:0; top:14px; right:0; margin:0 auto; border:1px solid #fd6466;}
.nuestros-cursos-list ul li h5 { float:left; width:100%; text-align:center; color:#37d9a8; font-size:20px; line-height:24px; font-family: 'robotobold'; padding-bottom:15px;}
.nuestros-cursos-list ul li span.cal-ico { float:left; width:100%; text-align:center; color:#9e9e9e; font-size:20px; line-height:24px; font-family: 'RobotoLight'; padding-bottom:5px; position:relative;}
.nuestros-cursos-list ul li span.cal-ico img { float:none; width:auto;  vertical-align: middle; padding-right:10px;}

.view-more-btn { float: left; overflow: hidden; text-align: center; width: 100%; margin-top: 20px;}
.view-more-btn a {float:none; width:200px; background:#ff6666; padding:10px 25px; height:50px; text-transform:uppercase; color:#ffffff; font-size:14px; line-height:28px; display:inline-block;font-family: 'robotobold'; Transition: background-color 0.1s ease-out; transform: translateZ(0); Transition: background-color 0.1s ease-out;-webkit-font-smoothing: antialiased; outline: 90px solid transparent; border:1px solid #ff6666;}
.view-more-btn a:hover {background: #ffffff; color:#ff6666;}
.view-more-btn .view-less { display: none;}
.more-nuestros-list { display:none;}
.more-nuestros-list.show { display:block;}
.view-more-btn.show .view-more { display:none;}
.view-more-btn.show .view-less { display:inline-block;}


/* que dicen css */
.que-dicen { float:left; width:100%; background:#fafafa; padding:42px 0 55px;}
.que-dicen h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
#slider-center { float:left; width:100%; overflow:hidden; margin-top: 30px;}
.slick-slider .slick-prev.slick-arrow { background: rgba(0, 0, 0, 0) url("../images/arrow-left-01.svg") no-repeat scroll 0 0; height: 66px; width: 66px; left: 10%; outline:none;}
.slick-slider .slick-next.slick-arrow {  background: rgba(0, 0, 0, 0) url("../images/arrow-right-01.svg") no-repeat scroll 0 0; height: 66px; width: 66px; right: 10%; outline:none;}
.slider-cont { float:left; width:100%; border:1px solid #30d8a4; padding:40px 50px; text-align:center;}
.slider-cont h2 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:22px; line-height:30px; font-family: 'robotomedium'; padding-bottom:25px;}
.slider-cont p { float:left; width:100%; text-align:center; color:#484848; font-size:22px; line-height:30px; font-family: 'RobotoLight';}
.center .slider-cont { opacity: 0.5; transform: scale(0.87);  transition: all 0.5s ease 0s;}
.center .slick-center .slider-cont { background:#fff; opacity: 1;  transform: scale(1);}

#que-dicen-slider { float:left; width:100%; display:none; margin-top:10px; overflow:hidden;}

/* contactanos css*/
.contact-anos { float:left; width:100%; padding:72px 0 65px;}
.contact-anos h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
.contact-anos h2 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'RobotoLight';}
.contact-anos h3 { float:left; width:100%; text-align:center; color:#6d6d6d; font-size:20px; line-height:24px; font-family: 'robotobold';}

.contact-anos .form-box { float: left; width: 100%; padding-top:50px; padding-right:0;}
.contact-anos .form-box .frm-input { float: left; width: 100%; margin-bottom: 20px;}
.contact-anos .form-box input[type="text"], .contact-anos .form-box textarea { float:left; width:100%; color:#868686; font-size:18px; font-family: 'RobotoLight'; border: 1px solid #2abd90; padding: 10px 15px; height: 52px; line-height: 32px;}
.contact-anos .form-box input[type="text"]:focus, .contact-anos .form-box textarea:focus { background:#2abd90; color:#ffffff;}
.contact-anos .form-box textarea { resize:none; height:140px; line-height:22px;}

.contact-anos .frm-input.checkbox { float: left; width: 100%; margin-bottom:8px; position: relative;}
.contact-anos .frm-input.checkbox input {  height: 10px; left: 0; position: absolute; top: 2px; width: 10px;}
.contact-anos .frm-input.checkbox label { color: #898989; cursor: pointer; font-size: 16px; padding-left: 20px; position: relative; width: auto; line-height:16px; display: inline-block; font-family: 'RobotoLight';}
.contact-anos .frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: ""; height: 13px; left: 0px; position: absolute; top: 2px; width: 13px;}
.contact-anos .frm-input.checkbox label::after { background: transparent none repeat scroll 0 0;  border:1px solid #8f9190; content: ""; height: 13px; left: 0px; position: absolute; top: 2px; width: 13px;}
.contact-anos .frm-input.checkbox input:checked + label::before {background: #fff url(../images/tick-ico-hvr.png) no-repeat scroll 3px 3px;}
.contact-anos .frm-input.checkbox input:checked + label::after {border:1px solid #2abd90;}
.contact-anos .frm-input.checkbox span { font-size:12px; color: #707070; float: none; width:100%; padding-left:5px;line-height:16px;}
.contact-anos .frm-input.checkbox span a {color: #898989; text-decoration:underline; }
.contact-anos .frm-input.checkbox span a:hover { color:#ffa000;}
.contact-anos .form-box .frm-input.txt-box { width: 32.66%; margin-right:1%; margin-bottom: 25px;}
.contact-anos .form-box .frm-input.txt-box:nth-child(4n) { margin-right:0;}

button.mas-btn {background: #ffffff; color:#ff6666; display: inline-block; float: none; font-family: 'robotomedium'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width:auto; cursor:pointer;}
button.mas-btn:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}

a.mas-btn {background: #ffffff; color:#ff6666; display: inline-block; float: none; font-family: 'robotomedium'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width:auto; cursor:pointer;}
a.mas-btn:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}

.contact-anos .form-box input[type="text"]::-webkit-input-placeholder, .contact-anos .form-box textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #868686;
    opacity:1;    
  }
  .contact-anos .form-box input[type="text"]::-moz-placeholder, .contact-anos .form-box textarea::-moz-placeholder { /* Firefox 19+ */
     color: #868686;
     opacity:1;    
  }
  .contact-anos .form-box input[type="text"]:-ms-input-placeholder, .contact-anos .form-box textarea::-moz-placeholder { /* IE 10+ */
     color: #868686;
     opacity:1;     
  }
  .contact-anos .form-box input[type="text"]:-moz-placeholder, .contact-anos .form-box textarea::-moz-placeholder { /* Firefox 18- */
     color: #868686;
     opacity:1;     
  }

  .contact-anos .form-box input[type="text"]:focus::-webkit-input-placeholder, .contact-anos .form-box textarea:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    opacity:1;    
  }
  .contact-anos .form-box input[type="text"]:focus::-moz-placeholder, .contact-anos .form-box textarea:focus::-moz-placeholder { /* Firefox 19+ */
     color: #ffffff;
     opacity:1;    
  }
  .contact-anos .form-box input[type="text"]:focus:-ms-input-placeholder, .contact-anos .form-box textarea:focus::-moz-placeholder { /* IE 10+ */
     color: #ffffff;
     opacity:1;     
  }
  .contact-anos .form-box input[type="text"]:focus:-moz-placeholder, .contact-anos .form-box textarea:focus::-moz-placeholder { /* Firefox 18- */
     color: #ffffff;
     opacity:1;     
  }

/* slider css*/
.banner-slider { float:left; width:100%;}

/* preguntas frecuentes css*/
.preguntas-frecuentes { float:left; width:100%; background:#fafafa; padding:100px 0 65px;}
.preguntas-frecuentes h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
.preguntas-frecuentes h4 { float:left; width:100%; text-align:center; color:#434343; font-size:20px; line-height:24px; font-family: 'robotobold';}

.acc-dropdown { float: left; width: 100%; position: relative; margin-top:50px;}
.acc-lft { float:left; width:49%; margin-right:2%;}
.acc-rgt { float:left; width:49%;}
.acc-dropdown .acc_head h2 { float:left; width:100%; color:#30d8a4; font-size: 24px; line-height:32px; padding-right:50px; font-family: 'robotobold';}
.acc-dropdown .acc_content p { float:left; width:100%; color:#525252; font-size:18px; line-height:26px; padding-bottom:20px;}
.acc-dropdown .acc_content h3 {  font-family: 'robotobold'; float:left; width:100%; font-size: 14px; line-height:18px; color:#30d8a4; padding-top:10px;}
.acc-dropdown .acc_content span { font-family: 'robotobold';}

a.cont-btn {background: #ffffff; color:#ff6666; display: inline-block; float: none; font-family: 'robotomedium'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width: 192px; cursor:pointer;}
a.cont-btn:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}

/* ebook css*/
.aun-no { float:left; background:url(../images/home-02.jpg) no-repeat scroll left top; height:auto; background-size:cover; width:100%; position:relative;}
.aun-cont { float:left; width:100%; padding:50px 0 40px; text-align:center;}
.aun-cont h1 { float:left; width:100%; text-align:center; color:#ffffff; font-size:50px; line-height:58px; font-family: 'robotobold'; padding-bottom:20px;}
.aun-cont span { float:left; width:100%; text-align:center; color:#ffffff; font-size:20px; line-height:28px; font-family: 'robotomedium';}

.aun-no .form-box { float: none; padding-top: 20px; width: 415px; padding-right:0;  display: inline-block;}
.aun-no .form-box .frm-input { float: left; width: 100%; margin-bottom: 8px;}
.aun-no .form-box input[type="text"] { float:left; width:100%; color:#ffffff; font-size:16px; border: 1px solid #2abd90; border-radius: 2px; padding: 10px 15px; height: 52px; line-height: 32px; font-family: 'robotoregular'; background:#c2d0d0;}
.aun-no .form-box input[type="text"]:focus { background:#2abd90; color:#ffffff;}
.aun-no .form-box textarea { resize:none; height:72px; line-height:22px;}

.aun-no .frm-input.checkbox { float: left; width: 100%; text-align: left; position: relative; }
.aun-no .frm-input.checkbox input {  height: 10px; left: 0; position: absolute; top: 0; width: 10px;}
.aun-no .frm-input.checkbox label { color: #ceddda; cursor: pointer; font-size: 12px; padding-left: 20px; position: relative; width: auto; line-height:16px; display: inline-block; font-family: 'RobotoLight';}
.aun-no .frm-input.checkbox label::before { background: #b9c8c3 none repeat scroll 0 0; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.aun-no .frm-input.checkbox label::after { background: transparent none repeat scroll 0 0;  border:1px solid #758b88; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.aun-no .frm-input.checkbox input:checked + label::before {background: #fff url(../images/tick-ico-hvr.png) no-repeat scroll 3px 3px;}
.aun-no .frm-input.checkbox input:checked + label::after {border:1px solid #2abd90;}
.aun-no .frm-input.checkbox span { font-size:12px; color: #707070; float: none; width:100%; padding-left:5px;line-height:16px;}
.aun-no .frm-input.checkbox span a {color: #707070; text-decoration:underline; }
.aun-no .frm-input.checkbox span a:hover { color:#ffa000;}

.btn-ctr.aun  { float:left; width:100%; text-align:center; margin-top:15px;}
button.des-btn { background: #ff6666 url(../images/home-download.svg) right 30px top 10px no-repeat; color: #ffffff; display: inline-block; float: none; font-family: 'robotobold'; font-size: 20px; height: 50px; line-height: 28px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; border:none; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width: 275px; cursor:pointer; text-align: left;}
button.des-btn:hover {background: #ffffff url(../images/home-download-hvr.svg) right 30px top 10px no-repeat; color:#ff6666; border:1px solid #ff6666;}

/* somos en css*/
.somos-en { float:left; width:100%; padding:72px 0 0;}
.somos-en h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; padding-bottom:20px; font-family: 'robotobold';}
.somos-cont { float:left; width:100%; border-bottom:1px solid #31d8a4; padding:50px 55px 70px;}
.somos-lft { float:left; width:57%; margin-right:4%;}
.somos-lft p { float:left; width:100%; font-size:20px; line-height:28px; font-family: 'RobotoLight'; color:#434343; padding-bottom:45px;}
.somos-lft p:last-child { padding-bottom:0;}
.somos-rgt { float:right; width:39%; }
.somos-rgt img { width:auto; float:right;}


/* Donde encontrarnos css*/
.donde-encon { float:left; width:100%; background:#ffffff; padding:80px 0 10px; text-align:center;}
.donde-encon h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; font-family: 'robotobold';}
.map-sec { float:left; width:100%; margin:40px 0 35px; position:relative;}
.map-sec img { float: left; width: 100%;}
.map-sec span { position:absolute; right: 168px; top: -42px; left:0; margin:0 auto;  align-items: center; display: flex; justify-content: center; height:100%;}
.map-sec span img { width:auto; height:auto;}
.map-sec iframe { float:left; width:100%;}
.donde-encon ul { float:left; width:100%;}
.donde-encon ul li { float:none; display:inline-block; position:relative; padding: 0 20px;}
.donde-encon ul li a { font-size:20px; color:#ff6666; font-family: 'RobotoLight'; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.donde-encon ul li::after { position:absolute; content:"|"; width:2px; height:10px; right:0; top:0; color:#979797;}
.donde-encon ul li:last-child:after { content:none;}
.donde-encon ul li a:hover { text-decoration:underline;}

.donde-encon.map { padding:45px 0 40px;}
.donde-encon.map .map-sec { margin: 0px 0 35px;}

footer { float:left; width:100%; text-align:center; padding: 0 0 26px;}
footer .copy-rights { float:left; width:100%; text-align:center; padding-bottom:30px; border-bottom:1px solid #30d9a2;}
.copy-rights img { float: left; padding-right:10px;}
footer .copy-rights h4 { width:auto; text-align:center; color:#30d9a2; font-size:20px; font-family: 'RobotoLight';}
footer .copy-rights h4 a{color:#30d9a2;}
footer .copy-rights h4 a:hover{text-decoration:underline;}
footer .copy-rights p { float:right; width:auto; text-align:right; color:#444444; font-size:20px; padding-right:72px;}
footer ul { float:right; margin-top:20px;}
footer ul li { float:none; display:inline-block; position:relative; padding: 0 15px;}
footer ul li a { font-size:15px; color:#30d9a2; font-family: 'RobotoLight'; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
footer ul li a:hover { text-decoration:underline;}
footer ul li::after { position:absolute; content:"|"; width:2px; height:10px; right:0; top:0; color:#30d9a2;}
footer ul li:last-child:after { content:none;}


/* curso css*/
.curso-presencial { float:left; width:100%; background:#ffffff; padding:42px 0 0;}
.curso-presencial h1 { float:left; width:100%; text-align:center; color:#30d8a4; font-size:40px; line-height:38px; font-family: 'robotobold';}
.curso-presencial h2 { color: #30d8a4; float: left; font-family: "HelveticaNeue-Bold"; font-size: 26px; line-height: 34px; text-align: left; width: 100%; padding-bottom:28px;}
.curso-presencial p { float: left; width: 100%; color:#434343; font-size:16px; line-height:22px; font-family: 'RobotoLight'; padding-bottom:25px;}
.curso-presencial h3 { float:left; width:100%; color:#ff6666; font-size:18px; line-height:24px; font-family: 'robotomedium'; padding-bottom:22px;}
.curso-presencial h4 { float:left; width:100%; color:#ff6666; font-size:16px; line-height:24px; font-family: 'robotomedium'; padding-bottom:22px;}
.curso-presencial h4 span { font-family: "HelveticaNeue-Bold";}

.curso-cont { float:left; width:100%; padding-top:72px;}
.curso-cont .curso-lft { float:left; width:59%; margin-right:4%;}
.curso-cont .curso-rgt { float:left; width:34%; margin-right: 3%;}
.curso-cont .curso-form { float:left; width:100%; border: 1px solid #30d8a4; padding:22px 45px 15px;}
.curso-cont .curso-lft ul { float:left; width:100%;}
.curso-cont .curso-lft ul li { float:left; width:100%; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #30d8a4; padding-left:45px; padding-right:30px;}
.curso-cont .curso-lft ul li:last-child { margin-bottom:0;}
.curso-cont .curso-lft ul li .img-ico { float:left; width:10%;}
.curso-cont .curso-lft ul li .img-ico img { float:left; width:auto;}
.curso-cont .curso-lft ul li .img-desc { float:left; width:90%;}
.curso-cont .curso-lft ul li .img-desc h2 { float:left; width:100%; color:#30d8a4; font-size:20px; line-height:24px; font-family: 'robotobold'; padding-bottom:15px;}
.curso-cont .curso-lft ul li .img-desc h3 { float:left; width:100%; color:#30d8a4; font-size:18px; line-height:24px; font-family: 'robotomedium'; padding-bottom:15px;}
.curso-cont .curso-lft ul li .img-desc h4 { float:left; width:100%; color:#434343; font-size:16px; line-height:22px; font-family: 'robotomedium'; padding-bottom:35px;}
.curso-cont .curso-lft ul li .img-desc h5 { float:left; width:100%; color:#434343; font-size:16px; line-height:22px; font-family: 'RobotoLight'; padding-bottom:5px;}
.curso-cont .curso-lft ul li .img-desc p { float:left; width:100%; color:#434343; font-size:16px; line-height:26px; font-family: 'RobotoLight'; padding-bottom:35px;}
.curso-cont .curso-lft ul li .img-desc p:last-child { padding-bottom:0;}
.curso-cont .curso-lft ul li span {font-family: 'robotobold';}
.curso-cont .curso-lft ul li em { color:#30d8a4; font-size:16px; line-height:20px;}

.curso-presencial .form-box { float: left; width: 100%;}
.curso-presencial .form-box .frm-input { float: left; width: 100%; margin-bottom: 16px;}
.curso-presencial .form-box input[type="text"], .form-box textarea { float:left; width:100%; color:#afb1b0; font-size:16px; border: 1px solid #2abd90; padding: 10px 15px; height: 42px; line-height: 32px; font-family: 'robotoregular';}
.curso-presencial .form-box input[type="text"]:focus, .form-box textarea:focus { color:#afb1b0;}
.curso-presencial .form-box textarea { resize:none; height:72px; line-height:22px;}
.curso-presencial .form-box .frm-input.cal-ico input[type="text"] { background: url(../images/calendar.svg) no-repeat left 8px center; padding-left: 42px;}
.curso-presencial .form-box .frm-input .sbHolder { float:left; width:100%; background:#fff; color:#afb1b0; font-size:16px; border: 1px solid #2abd90; padding: 10px 15px; height: 52px; line-height: 32px;}

.curso-presencial .frm-input.checkbox { float: left; width: 100%; margin-bottom: 8px; position: relative; }
.curso-presencial .frm-input.checkbox input {  height: 10px; left: 0; position: absolute; top: 0; width: 10px;}
.curso-presencial .frm-input.checkbox label { color: #707070; cursor: pointer; font-size: 12px; padding-left: 20px; position: relative; width: auto; line-height:16px; display: inline-block; font-family: 'RobotoLight';}
.curso-presencial .frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.curso-presencial .frm-input.checkbox label::after { background: transparent none repeat scroll 0 0;  border:1px solid #8f9190; content: ""; height: 13px; left: 0px; position: absolute; top: 0px; width: 13px;}
.curso-presencial .frm-input.checkbox input:checked + label::before {background: #fff url(../images/tick-ico-hvr.png) no-repeat scroll 3px 3px;}
.curso-presencial .frm-input.checkbox input:checked + label::after {border:1px solid #2abd90;}
.curso-presencial .frm-input.checkbox span { font-size:12px; color: #707070; float: none; width:100%; padding-left:5px;line-height:16px;}
.curso-presencial .frm-input.checkbox span a {color: #707070; text-decoration:underline; }
.curso-presencial .frm-input.checkbox span a:hover { color:#ffa000;}

.curso-presencial .btn-ctr { float:left; width:100%; text-align:center; margin-top:27px;}
.curso-presencial button.env-btn { background: #ff6666 none repeat scroll 0 0; color: #ffffff; display: inline-block; float: none; font-family: 'robotobold'; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; border:none; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width: 190px; cursor:pointer; margin-bottom:25px;}
.curso-presencial button.env-btn:hover {background: #ffffff; color:#ff6666; border:1px solid #ff6666;}

.curso-emag { float:left; width:100%; padding-top:20px;}
.curso-emag img { float:left; width:100%;}

/* thank you css*/
.gracias-banner { float:left; width:100%; background:url(../images/gracias-01.jpg) no-repeat scroll 0 0; height:426px; background-size:cover; position:relative; overflow:hidden;}
.gracias-cont { float: left; left: 0; margin: 0 auto; position: absolute; right: 0; text-align: center; top: 30%; width: 100%;}
.gracias-cont h2 { float: left; width: 100%; color:#30d8a4; font-size:40px; line-height:38px; font-family: 'robotobold'; padding-bottom:30px;}
.gracias-cont h3 { float: left; width: 100%; color:#ffffff; font-size:25px; line-height:34px;  font-family: 'robotobold'; padding-bottom:10px;}
.gracias-cont p { float: left; width: 100%; color:#ffffff; font-size:25px; line-height:34px; font-family: 'RobotoLight'; padding-bottom:20px;}

.ahora-si { float:left; width:100%; text-align:center; padding:60px 0 15px;}
.ahora-si h2 { float:left; width:100%; color:#434343; font-size:22px; line-height:30px; padding-bottom:25px;}
.ahora-btn { float:left; width:100%; margin-bottom:45px;}
.ahora-btn a {background: #ffffff; color: #ff6666; display: inline-block; float: none; font-size: 18px; height: 42px; line-height: 20px; outline: 90px solid transparent; border:1px solid #ff6666; padding: 10px 25px; text-transform: inherit; transform: translateZ(0px); transition: background-color 0.1s ease-out 0s; width: 250px; cursor:pointer; margin-right:3%;}
.ahora-btn a:hover { background: #ff6666 none repeat scroll 0 0; color:#ffffff;}
.ahora-btn a:last-child { margin-right: 0;}
.ahora-si h3 { float:left; width:100%; color:#434343; font-size:22px; line-height:30px; padding-bottom:40px;}
.ahora-si h3 span { color:#ff6666;}
.ahora-si h3 a { color:#ff6666; text-decoration:underline; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.ahora-si h3 a:hover {color:#30d8a4;}
.ahora-si img { float:none; margin-top:10px;}

.err-msg { color: red; float: left; font-size: 12px; line-height:18px; padding-top: 5px; width: 100%; font-family: 'RobotoLight';}

.mob-call { float:left; width:100%; text-align:center; margin-top:10px; display:none;}
a.call-btn { float:none; width:auto; background: #2abd90; text-align:center; padding:10px 30px 10px 60px; height:50px; text-transform:uppercase; color:#ffffff; font-size:14px; line-height:28px; display:inline-block;  font-family: 'robotobold';; Transition: background-color 0.1s ease-out; transform: translateZ(0); Transition: background-color 0.1s ease-out;-webkit-font-smoothing: antialiased; outline: 90px solid transparent; position:relative;}
a.call-btn::after { background: url("../images/telephone.svg") no-repeat scroll 0 0; content: ""; height: 19px; left: 0; margin: 0 auto; position: absolute; right: 155px; top: 18px; width: 19px;}
a.call-btn:hover {background: #ffffff; color:#2abd90;}
a.call-btn:hover:after {background: url("../images/telephone-green.svg") no-repeat scroll 0 0;}
a.call-btn img { margin-right: 10px; position: relative; top: 3px;}

.curso-emag h4 {float: left;width: 100%; color: #000;font-size: 12px;line-height: 18px;font-family: 'robotobold';
padding-bottom:5px;text-align: center;}
.emag-img h4 {float: left;width: 100%; color: #000;font-size: 13px;line-height: 18px;font-family: 'robotobold';
    padding-bottom:5px;text-align: center;}

.nuestros-list ul li span.discount{position:absolute; top:75px; right:18px;}
.nuestros-cursos-list ul li span.discount{position:absolute; top:75px; right:18px;}
.nuestros-list ul li.test1 h4{position:absolute; top:15px; width: 90%; }
.nuestros-list ul li.test1 span.price{margin-top:45px;}
ul.social{float:left; margin-top:10px;}
ul.social li:after{display:none;}
ul.social li{padding:0; padding-right:26px;}
ul.social li:last-child{padding-right:0;}
ul.social li img{padding:0; width:38px;}
ul.social li a{ transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
ul.social li a:hover{opacity:0.7;}

.curso-presencial h1, .curso-cont .curso-lft ul li em{color:#000;}
.mob-none{display:none;}

.page-content {
    float: left;
    width: 100%;
    margin-top: 150px;
    display: block;
    margin-bottom : 50px;
}

.page-content h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}