h3 {
  color: #373737;
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 8px;
  margin: 8px 0;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 1px 1px -1px #e0e0e0;
}

.primary-bg {
  background: $brand-primary;
}

.content {
  padding: 0 30px;
}

.main-wrapper {
  width: 100%;
  overflow-x: hidden;
}

nav.sidebar {
  position: fixed;
  width: 340px;
  z-index: 2001;
  height: 100%;
  background: $brand-primary;
  color: #fefefe;
  padding: 16px 32px;

  a, hr {
    color: #fefefe;
  }
}

.page-wrapper {
  margin: 0 0 0 340px;
  position: relative;
  background: #f5f5f5;
}

nav.navbar {
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
}

.content-wrapper {
  padding: 20px 128px 30px 106px;
}