﻿
ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;	
	float:left; width:100%;
}

.resp-tabs-list li {
    display: inline-block;
    padding: 10px 0 8px;
    margin-right: 30px;
	text-align:center;
    list-style: none;
    float: left;
 	font-family: 'arialregular';
 	font-size:16px;
	background:#e9ecf0;
	color:#aaaaaa;
	 width: 217px;
	 /* border-bottom: 2px solid #cacaca;*/
	  position:relative;
}
.resp-tabs-list li::after {
     border-bottom: 20px solid #e9ecf0;
    border-left: 20px solid transparent;
    border-right: 18px solid transparent;
    content: "";
    height: 38px;
    position: absolute;
    right: -38px;
    top: 0;
    transform: rotate(90deg);
    width: 20px;
}
.resp-tabs-list li:first-child:before, .resp-tabs-list li.resp-tab-active:first-child:before { content:none;}
.resp-tabs-list li::before {
   border-bottom: 20px solid transparent;
    border-left: 20px solid #e9ecf0;
    border-right: 18px solid #e9ecf0;
    content: "";
    height: 38px;
    left: -26px;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    width: 20px;
}
.resp-tabs-list li.resp-tab-active::before {
   border-bottom: 20px solid transparent;
    border-left: 20px solid #25426c;
    border-right: 18px solid #25426c;
    content: "";
    height: 38px;
    left: -26px;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    width: 20px;
}
.resp-tabs-list li.resp-tab-active::after {
     border-bottom: 20px solid #25426c;
    border-left: 20px solid transparent;
    border-right: 18px solid transparent;
    content: "";
    height: 38px;
    position: absolute;
    right: -38px;
    top: 0;
    transform: rotate(90deg);
    width: 20px;
}
.resp-tabs-list li:last-child { margin-right:0;}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding:30px 0px; 
	float:left; 
	width:100%;
}

.resp-tabs-list li.resp-tab-active {
   /* border-bottom: 2px solid #f9c78c;*/
    margin-bottom: -1px ;
    padding: 10px 0 8px;
	background:#25426c;	
	position: relative;
	
	
}

.resp-tabs-list li.resp-tab-active {
    background:#25426c;
	color:#fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border-bottom: none;
}

h2.resp-accordion {
    font-size: 16px;
    border: 1px solid #25426c;
    /*border-top: 0px solid #54198A;*/
    margin: 0px;
    padding: 15px;
	 line-height: 20px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 100%;
	
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 0px;
    margin: 0;
	line-height:47px;
    cursor: pointer;
    float: none;
	border-left: 0px solid #124298;
	border-right: 0px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	color:#747474; font-size:18px;
	background: #f6f6f6 url(../images/tab-arrow.png) no-repeat left 20px center;
	transition:all 0.4s ease; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease;
}


.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border-left:3px solid #E6E6E6;
    float: left;
    width: 73%;
    min-height: 1150px;
    border-radius: 0px;
    clear: none; margin-right: 2%;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border-left: 0px solid #124298;
    border-right: none;
	border-top: none;
   background: #ac2735;
    position: relative;
    z-index: 1;
    margin-right: 0px !important;
    padding: 0px;
	color:#fff;
}

.resp-vtabs li.resp-tab-active::after { border-bottom: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid #ac2735; border-top: 10px solid rgba(0, 0, 0, 0);bottom: 0; content: ""; display: block; height: 10px; position: absolute; left: -10px; top: 14px; width: 10px; display:none;}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 5px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #25426c;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fff;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #25426c !important; color:#FFF!important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}
	h2.resp-accordion::after {
		content: none;
	}
.news-sec #horizontalTab { text-align:center; width:100%;}
.news-sec .resp-tabs-list li { float:none; padding:13px 32px;  font-family: 'arialbold'; text-transform:uppercase; font-size: 16px;background:#f0f0f0;color:#111f28;border:1px solid #111f28;}
.news-sec .resp-tabs-list li.resp-tab-active {background:#000066!important; color:#fff;}
.news-sec .resp-tab-content { border:none;}

.resp-tabs-list li span { float:left; width:auto;  font-family: 'arialbold'; font-size:18px; color:#cacaca; padding-right:15px;}
.resp-tabs-list li.resp-tab-active span { float:left; width:auto;  font-family: 'arialbold'; font-size:18px; color:#1f2024; padding-right:15px;}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block; width:100%; float:left; margin-bottom:5px; color: #25426c;
    }

    .resp-vtabs .resp-tab-content {
       border: 2px solid #54198a; float:left; width:100%;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        /*border-bottom: 1px solid #c1c1c1 !important;*/
    }
	.resp-tab-content { padding:30px 10px;}
}







