@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){

}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}		
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:1000px; }

}
 
@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row  { width:1000px; }
.resp-tabs-list li { width:215px;}

button.volver-btn { margin-right: 30px;}
.model-nuber table tr td br { display:none;}

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row, .row1 { width:750px; }

.ddsmoothmenu, nav  { display:none; }
.m-menu  { display:block; top: 8px; }
.m-menu div { top:5px;}
.m-menu a span { height: 2px; margin-top: 5px; width: 28px;}
.lang-selct { display:none;}
.mobile-head { display:block;}
.atencion-lst ul li a {font-size: 16px;}
.bienvenido-lft h2 br { display:none;}
.model-nuber table tr td br { display:none;}
.form-box .frm-lft { padding-right: 25px;}
.form-box .frm-rgt { padding-left: 25px;}
textarea.txt-box1 {height: 275px;}
.form-box.dades-form .frm-input-ctrl.btn input[type="text"] { margin-right: 15px;}
button.volver-btn { margin-right: 30px;}
.form-fill .frm-lft { padding-right: 25px;}
.form-fill .frm-rgt { padding-left: 25px;}
.btns-chk {margin-top: 0;}
.resp-tabs-list li { width:160px;}
.bienvenido h4 span {width: 100%;}
.atencion-lst ul li h3 {width: 77.5%;}
.bienvenido.inner-page .siguiente ul li { width:50%;}
.frm-input.checkbox.click { width:44%;}
.form-ano .resp-tabs-list li { width: 224px;}
}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row1 { width:100%; padding:0px 15px; }
.ddsmoothmenu, nav  { display:none; }
.m-menu  { display:block; top: 8px; }
.m-menu div { top:5px;}
.m-menu a span { height: 2px; margin-top: 5px; width: 28px;}
.cmp-logo { margin-top:0px;}
.cmp-logo img { width:auto; height:auto;}
.lang-selct { display:none;}
.head-top {margin: 5px 0 5px;}
.mobile-head { display:block;}

.bienvenido {margin-bottom: 30px;margin-top: 30px;}
.bienvenido-lft { width:100%; padding-right: 0; margin-bottom:30px;}
.bienvenido-rht { width:100%;}
.model-nuber table tr td br { display:none;}
.siguiente .siguiente-but { margin-top:0;}
.form-box .frm-lft { padding-right: 25px;}
.form-box .frm-rgt { padding-left: 25px;}
.form-fill .frm-lft { padding-right: 25px;}
.form-fill .frm-rgt { padding-left: 25px;}
button.volver-btn { margin-right: 30px; margin-top:20px;}
button.seg-btn, button.env-btn { margin-top:20px;}
.form-tabs { margin-bottom:20px;}
.atencion-lst ul li span { height:52px;}
.bienvenido.inner-page h2.resp-accordion { margin-bottom:10px; font-size: 16px; line-height:20px;}
.form-tabs h2.resp-accordion {font-size: 16px; line-height:20px;}
.bienvenido h4 span {width: 100%;}
.siguiente {margin-top: 25px;}
.siguiente .frm-input.checkbox.click { margin-bottom:20px;}
textarea.txt-box1 { height: 310px; margin-bottom:0;}
.frm-input .frm-input-ctrl label {font-size: 15px;}
.form-tabs h1 {padding-bottom: 15px; padding-top: 15px;}
.bienvenido-lft br { display:none;}
.atencion-lst { text-align:center;}
.atencion-lst ul li { display: inline-block; float: none; width:52%;margin-bottom: 10px;}
.bienvenido.inner-page .siguiente ul li { width:49%; padding-left:0;}
.frm-input.checkbox.click { width:49%;}
.bienvenido .pres-denu p { padding-left:0;}
.bienvenido .pres-denu.pres-denu-center p {padding: 0px 2%;}
.bienvenido.min-ht { min-height: inherit;}
.bienvenido.bienvenido-home .bienvenido-lft{ margin-top:30px;}

.bienvenido.small-page { margin-bottom:80px;}
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.form-box .frm-lft { width:100%; padding-right:0; border-right: none;}
.form-box .frm-rgt { width:100%; padding-left: 0;}
.form-box.dades-form .frm-input-ctrl.btn input[type="text"] {width: 100%; margin-bottom:10px;}
.btns-chk {margin-top: 15px;}
button.volver-btn {margin-right: 20px; margin-top: 20px;}
button.seg-btn {margin-top: 20px;}
.form-fill .frm-lft { width:100%; padding-right:0; border-right: none;}
.form-fill .frm-rgt { width:100%; padding-left: 0;}
.form-fill {margin-bottom: 15px;}
.form-fill .form-img h4, .form-fill .form-img p { width:80%;}
.form-fill .form-cont-bg {  padding: 30px 20px 20px;}
.form-fill .form-cont-bg p {font-size: 16px; line-height: 20px;}
button.env-btn { padding: 12px 18px; margin-top: 20px;}
footer .logo { margin-left:0;}
footer ul {  margin-right:0;}
.form-tabs p, textarea.txt-box {margin-bottom: 10px;}
.form-tabs p.attached-note {width: 100%}
.venido-form input#name{ width:100%;}
.atencion-lst ul li { width:75%;}
.atencion-lst {text-align:center;}
.bienvenido.inner-page ul li { float:none;}
.bienvenido.inner-page .siguiente ul li:last-child { float:none;}
.bienvenido.inner-page .siguiente ul li { width:70%; padding-left:0;}
.frm-input.checkbox.click { width:100%;}
.form-cont-btmbg { padding: 30px 20px 20px;}

  .bienvenido.inner-page .atencion-lst {
    .types-divider {
      display: block;
      height: 2px;
      background: #25426c;
      width: 75%;
      margin: 20px auto 16px;
      clear: both;
    }

    .complaint-types {
      display: block;
      width: 100%;
      padding: 8px 0;
      clear: both;

      &:last-child {
        border: none;
        padding-left: 0;
      }
    }
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {

.logo { margin-top:7px;}
.logo img { width:115px;}
.cmp-logo { margin-top:0px;}
.cmp-logo img { height:45px;}
.bienvenido h2 {font-size: 22px; line-height: 28px;}	
.bienvenido h2 br { display:none;}
.bienvenido h2.resp-accordion { font-size: 15px; line-height:20px;}
.form-tabs h2 {  font-size: 22px; padding-bottom: 15px;}
footer .logo {text-align: center; width: 100%; margin-left:0;}
footer .logo img { float: none; display:inline-block;}
footer ul {text-align: center; width: 100%;  margin-right:0;}
footer ul li { float: none; display:inline-block;}
.model-nuber { overflow-x: auto;}
.model-nuber table {width: 640px;}
/*.cmp-logo { display:none;}*/
.atencion-lst ul li { width:100%;}
.atencion-lst ul li h3 { width: 77.5%;}
.bienvenido.inner-page .siguiente ul li { width:100%;}
}
@media screen and (max-width:359px) {
button.volver-btn { width:100%; margin-right:0; margin-bottom:10px;}
button.env-btn, button.seg-btn { width:100%;}
.btns-chk { margin-top: 0;}
button.env-btn { margin-top: 5px;}
button.seg-btn { margin-top: 5px;}
.denuncia p span {padding-left: 0px;}
.bienvenido.inner-page .siguiente ul li span.pre-ano {background: #849eba url(../images/icono-denuncia-anonima.svg) no-repeat scroll 8px 6px / 80% auto;}
.bienvenido.inner-page .siguiente ul li span.pre-den {background: #849eba url(../images/icono-denuncia.svg) no-repeat scroll 14px 10px / 65% auto;}

  .bienvenido.inner-page .atencion-lst .complaint-types ul li {
    width: 99%;

    h3 {
      height: 140px;
    }

    &:last-child {
      float: none;
    }
  }
}


