@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'arialregular';
    src: url('./fonts/arial-webfont.eot');
    src: url('./fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/arial-webfont.woff') format('woff'),
         url('./fonts/arial-webfont.ttf') format('truetype'),
         url('./fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialbold';
    src: url('./fonts/arialbd-webfont.eot');
    src: url('./fonts/arialbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/arialbd-webfont.woff') format('woff'),
         url('./fonts/arialbd-webfont.ttf') format('truetype'),
         url('./fonts/arialbd-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('./fonts/montserrat-bold-webfont.eot');
    src: url('./fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-bold-webfont.woff') format('woff'),
         url('./fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('./fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { padding:0px; margin:0px; background:#ffffff; font-size:16px; color:#7c7c7c; line-height:20px; font-family: 'arialregular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #282828; text-decoration: none; outline:none; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0px; margin:0px; color:#7c7c7c;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
strong {  font-family: 'arialbold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
/* .row{ width:1136px; margin:auto; padding:0px;} 
.row1{ width:914px; margin:auto; padding:0px;}*/

.row{ width:960px; margin:auto; padding:0px;}
.row1{ width:860px; margin:auto; padding:0px;}

/* header css */
header { float:left; width:100%; padding:0 0px 0;box-shadow: 5px 10px 10px #e7e7e7; background: #fff; z-index:9999;}
header.head-mobile { position:relative !important;}
.head-top {  float: left; margin:10px 0 10px; width:100%;}
.logo { float:left; width:auto; margin-top: 10px;}
.logo img { float:left; width:auto; height:auto;}
.lang-selct { float:left;  margin-top: 28px;}
.lang-selct ul { float:left; width:auto;}
.lang-selct ul li { float:left; width:auto; border-right:1px solid #25426c; padding:0 5px;}
.lang-selct ul li:last-child { border:none;}
.lang-selct ul li a { float:left; width:auto; font-size:14px; color:#25426c; line-height: 16px;}
.lang-selct ul li a:hover, .lang-selct ul li a.active { text-decoration:underline;}
.cmp-logo { float: right;  text-align: right;  width: auto;}
.cmp-logo img { float: left; height: auto; width: auto; max-width: 145px; max-height: 72px}

.mobile-head { float:left; width:100%; padding:5px 0px; background:#d2d8e0; display:none;}
a.mob-download { float:left; color: #25426c; font-size: 13px; font-family: 'arialregular'; padding-left:20px; position:relative;}
a.mob-download::before {background: rgba(0, 0, 0, 0) url("../images/icono-descargas-header.svg") no-repeat scroll 0 0 / 100% auto; content: "";height: 20px;
left: 0;position: absolute;top: 2px; width: 15px;}
a.mob-download:hover { color:#849eba;}

.lang-mob { float:right;  margin-top:4px;}
.lang-mob ul { float:left; width:auto;}
.lang-mob ul li { float:left; width:auto; border-right:1px solid #25426c; padding:0 5px;}
.lang-mob ul li:last-child { border:none;}
.lang-mob ul li a { float:left; width:auto; font-size:12px; color:#25426c; line-height: 12px;}
.lang-mob ul li a:hover, .lang-selct ul li a.active { text-decoration:underline;}

/* mobile menu*/
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden; }
.m-menu { float:right; position:relative; margin-top:12px; margin-left: 12px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; right:0px; display:none;}
.m-menu a { display:inline-block; text-align:right; outline:none;}
.m-menu div { color: #000000; cursor: pointer; display: inline-block; font-size: 18px; font-weight: bold; padding-right: 20px; position: absolute; right: 25px; text-transform: uppercase; top: 0px; }
.m-menu a span { display:block; background:#023775; width:27px; height:4px; margin-top:4px; border-radius:0px; }
.m-menu a:hover span{ background:#f28d17;}
.m-menu a:hover div{ color:#ffffff;}
.mobi-logo { height:auto; position:relative; z-index:9; text-align:center; background:#fff; }
.mobi-logo img { max-width: 250px;  z-index: 99; padding:5px 0;}

/* footer css */
footer { float:left; width:100%; background:#d3d9e2; padding:25px 0;}
footer ul { float:right; width:auto; margin:15px 0 0;}
footer ul li { float:left; width:auto; padding:0 20px 0 0;}
footer ul li a { color:#25426c; float:left; width:100%; font-size:14px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
footer ul li a:hover { color:#000;}
footer ul li:last-child { padding-right:0;}

/*Page 1*/
.bienvenido{ width:100%; float:left; margin-bottom:50px; margin-top: 50px;}
.bienvenido-lft{ width:64%; float:left; padding-right: 10%;}
.bienvenido .bienvenido-lft p { color:#000; float:left; width:100%; font-size: 16px; line-height: 24px; margin-bottom:20px;}
.bienvenido-rht{ width:36%; float:right;}
.bienvenido h2{ font-size:25px; font-family: 'montserratbold'; color:#25426c; line-height:36px; width:100%; float:left; position:relative; padding-bottom:25px; margin-bottom:30px; padding-top: 0px;}
.bienvenido.inner-page h2 { margin-bottom: 25px;}
.bienvenido h2 span{ display:block; font-size:15px; color:#000; line-height:22px; font-family: 'arialbold';}
.bienvenido h2:after{ position:absolute; left:0; bottom:0; content:""; width:117px; height:6px; background:#25426c; }
.bienvenido p { color:#000; float:left; width:100%; font-size: 16px; line-height: 24px; margin-bottom:20px;}
.bienvenido p.tit-tp { font-size:14px;}
.bienvenido-lft h3 { float:left; width:100%; font-size:16px; color:#000000; line-height:22px;font-family: 'arialbold';}
.bienvenido-lft h4 { float:left; width:100%; font-size:16px; color:#000000; line-height:22px; padding-bottom:15px; padding-left:45px; position:relative;}
.bienvenido-lft h4::before { position:absolute; background:#000; width:7px; height:7px; left:25px; content:""; border-radius:50%; top:8px;}
.bienvenido.inner-page ul {float:left; width:100%; margin-bottom:25px; }
.bienvenido.inner-page ul li {float:left; width:100%; font-size:16px; color:#000000; line-height:22px; padding-bottom:5px; padding-left:45px; position:relative; }
.bienvenido.inner-page ul li::before { position:absolute; background:#000; width:7px; height:7px; left:25px; content:""; border-radius:50%; top:8px;}
.bienvenido.inner-page ul li span.lst-tit {font-family: 'arialbold'; text-decoration:underline;}
.bienvenido.inner-page span{font-family: 'arialbold';}
.bienvenido.inner-page .pres-denu span{font-family: 'arialbold';}
/*Page 1*/
.bienvenido h3{font-family: 'arialbold'; color:#000; font-size: 16px; line-height: 24px; width:100%; margin:5px 0 15px; float:left;}
.bienvenido h4 a{ color:#25426c; padding-left:35px; margin:0 0 25px; font-size: 16px; line-height: 27px; display:inline-block; float:left; width:auto; position:relative;}
.bienvenido h4 a::before { background: rgba(0, 0, 0, 0) url("../images/icono-volver-blue.svg") no-repeat scroll 0 0; background-size: 70%; content: ""; height: 40px; left: 0; position: absolute; top: 0; width: 40px;}
.bienvenido.min-ht { min-height: 640px;}

.venido-form {float: left;width: 100%; margin-top: 15px;}
.venido-form p { margin-bottom:5px;}
.venido-form input#name {padding: 12px 10px; color:#757575; width: 100%; border: 1px solid #e6e6e6;margin-bottom: 0;font-family: 'arialregular'; width:445px; font-size: 18px; border:1px solid #000000;}
.venido-form input#name:focus{ color:#7a7a7a;}
.venido-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #bfbfbf; opacity:1;}
.venido-form input::-moz-placeholder { /* Firefox 19+ */color: #bfbfbf; opacity:1;}
.venido-form input:-ms-input-placeholder { /* IE 10+ */color: #bfbfbf; opacity:1;}
.venido-form input:-moz-placeholder { /* Firefox 18- */color: #bfbfbf; opacity:1;}

.bienvenido .consultar-but{ background:#25426c; color:#fff; font-size: 15px; padding: 8px 20px; display: inline-block;font-family: 'arialbold'; text-transform: uppercase; border:1px solid #25426c; margin-top:10px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; width:auto; text-align:center; line-height:27px; }
.bienvenido .consultar-but:hover{  background: #fff none repeat scroll 0 0; color:#25426c;}
.bienvenido h4 span { color: #25426c; float: left; font-family: "montserratbold"; font-size: 20px; line-height: 24px; margin: 0 0 25px; padding:0; text-align: center; text-transform: uppercase;  width:90%;}
.bienvenido h4 span.top-tit { font-family: "montserratbold";}

.bienvenido h4.title-center span { width:100%;}

.atencion {width: 100%;float: left; background:#f7f6f6; border:2px solid #cbd0d9; padding: 30px 20px 30px 20px; margin-bottom:40px;}
.atencion p {font-size: 13px; line-height: 20px; color:#2d2d2d; float:left; width:100%; padding-right:0; margin-bottom: 0;}

.atencion-lst { width:100%; float:left;}
.atencion-lst ul li {/* background:#25426c;*/  float:left; width:100%; margin-bottom:20px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  }
.atencion-lst ul li a { float:left; width:100%;}
.atencion-lst ul li span { float:left; padding: 8px; margin-right: 3px; width:20.5%;}
.atencion-lst ul li span.pre-den { background:#849eba url("../images/icono-denuncia.svg") no-repeat 10px 7px;  background-size: 70%; height: 60px;}
.atencion-lst ul li span.pre-ano { background:#849eba url("../images/icono-denuncia-anonima.svg") no-repeat 6px 2px; background-size: 80%; height: 60px;}
.atencion-lst ul li span.con-den { background:#849eba url("../images/icono-consulta.svg") no-repeat 10px 7px; background-size: 70%; height: 60px;}
/*.atencion-lst ul li:hover { background: #aaaaaa;}*/
.atencion-lst ul li h3 { align-items: center; background: #25426c none repeat scroll 0 0; color: #fff; display: flex; float: left; font-family: "montserratbold"; font-size: 15px; height: 60px; justify-content: center; line-height: 22px; margin: 0; padding: 8px; text-align: center; text-transform: uppercase; width: 78.5%;}
.atencion-lst ul li:hover span.pre-den { background: #849eba url("../images/icono-denuncia.svg") no-repeat 10px 7px;  background-size: 70%; }
.atencion-lst ul li:hover span.pre-ano { background: #849eba url("../images/icono-denuncia-anonima.svg") no-repeat 6px 2px;  background-size: 80%; }
.atencion-lst ul li:hover span.con-den { background: #849eba url("../images/icono-consulta.svg") no-repeat 10px 7px;  background-size: 70%; }
.atencion-lst ul li:hover h3 { background: #849eba;}

.bienvenido.bienvenido-home { margin-top:0px;}
.bienvenido.bienvenido-home .bienvenido-lft{ margin-top:50px;}

/* Page 4 */
.tabs-view { float: left; width: 100%;} 
.tabs-view ul { float:left; width:100%;}
.tabs-view ul li { float:left; width:auto; background:#e6e6e6; padding:10px 60px; margin:0 0 0 2px; border-radius: 7px 7px 0 0;}
.tabs-view ul li a { float:left; width:100%; color:#aaaaaa; font-size:14px; text-transform:uppercase; text-align:center; font-family: 'arialbold'; }

/*table*/
.model-nuber {text-align: center;width: 100%;float: left;}
.model-nuber table {width: 100%; border-collapse:collapse;}
.model-nuber table tr th { color: #000;text-align: left; font-family: 'arialregular'; padding: 10px; border: 1px solid #ddd; background:#ebebeb; font-weight:normal; padding: 20px 30px;}
.model-nuber table tr td {font-size: 16px; line-height:24px; color: #000;padding: 20px 30px;text-align: left; font-family: 'arialregular';  border: 1px solid #ddd;}

.siguiente{ width:100%; float:left; margin-top:15px; text-align:center; }
.siguiente .siguiente-but{ background:#25426c; color: #fff; font-size: 15px; padding:10px 30px; display: inline-block; font-family: 'arialbold'; text-transform: uppercase; border:1px solid #25426c; margin-top:25px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; width:auto; text-align:center; line-height:27px; }
.siguiente .siguiente-but:hover{ background: #fff none repeat scroll 0 0; color:#25426c;}

.denuncia {width: 100%;float: left;}
.denuncia h3{ margin-bottom:0; font-family: 'arialregular'; font-weight:normal;}
.denuncia p span{ color:#b7100b; font-family: 'arialbold'; }

#estado-details { float:left; width:100%; padding-bottom:70px;}
#estado-details .resp-tabs-list li.resp-tab-active{ background:#25426c; color:#fff; border-top-left-radius:10px; border-top-right-radius:10px;}
#estado-details .resp-tabs-list li {border-top-left-radius:10px; border-top-right-radius:10px; margin-right:2px; font-family: 'arialbold';font-size: 14px;padding: 14px 0;}
#estado-details .resp-tabs-list li::before{ display:none;}
#estado-details .resp-tabs-list li::after{ display:none;}
#estado-details .resp-tab-content h3{ color:#000; font-family: 'arialbold'; margin-bottom:15px; font-size:18px;}
#estado-details .resp-tab-content p{ color:#000; font-family: 'arialregular'; padding-bottom:0; font-size:17px; line-height:26px; color:#000; margin-bottom:15px;}
.leer-link{font-family: 'arialregular'; font-weight:normal; font-size:16px; color:#aaaaaa; letter-spacing:0.5px;}
.leer-link:hover{ color:#25426c;}
.leer-link.hide { display: none;}
.leer-links{font-family: 'arialregular'; font-weight:normal; font-size:16px; color:#aaaaaa; letter-spacing:0.5px;}
.leer-links:hover{ color:#25426c;}
.leer-links.hide { display: none;}
.bienvenido.vol {margin-bottom: 0;}
.content-more { display:none;}
.content-more.show { display:block;}
.content-more1 { display:none;}
.content-more1.show { display:block;}


/* Page 8 */
.form-tabs { float:left; width:100%; margin-top:30px; margin-bottom:80px;}
.form-tabs h1 { float:left; width:100%; text-align:center; font-size:20px; line-height:24px; color:#25426c; font-family: 'montserratbold'; text-transform:uppercase; padding-top: 20px; padding-bottom:25px;}
#form-details { float:left; width:100%;}
.form-tabs h2 { color: #25426c; float: left; font-family: 'montserratbold'; font-size: 28px; letter-spacing: 0.5px; line-height: 36px; margin-bottom: 30px; padding-bottom: 25px; position: relative; width: 100%;}
.form-tabs h2::after { background: #25426c none repeat scroll 0 0; bottom: 0; content: ""; height: 6px; left: 0; position: absolute; width: 117px;}

.form-box.dades-form .frm-input { float: left; margin-bottom: 20px; width: 100%;}
.form-box .frm-lft { float:left; width:50%; border-right:2px solid #25426c; padding-right:100px;}
.form-box .frm-rgt { float:left; width:50%; padding-left:100px;}
.frm-input .frm-input-ctrl label { float:left; width:100%; font-size:16px; color:#000000; padding-bottom:10px;}
.form-box.dades-form input { float:left; width:100%; color:#757575; font-size:16px; border: 1px solid #aaaaaa; border-radius: 0px; padding: 10px 15px; height: 40px; line-height: 30px;}
.form-box.dades-form input:focus, .form-box.dades-form textarea:focus { border: 1px solid #25426c; color:#7a7a7a;}

.form-box.dades-form .frm-input-ctrl .frm-select .sbHolder { float:left; width:100%; border: 1px solid #aaaaaa; border-radius: 0px; padding: 10px 15px; height: 40px; position:relative; }
.form-box.dades-form .frm-input-ctrl .frm-select .sbSelector {color:#757575; font-size:15px; line-height: 20px; /*text-transform:uppercase;*/}
.form-box.dades-form .frm-input-ctrl .frm-select .sbToggle { position:absolute; content:""; border-top: 8px solid #444444; border-left: 6px solid transparent; border-right: 6px solid transparent; right:8px; top: 16px; left:auto; width:10px; height:4px;}
.form-box.dades-form .frm-input-ctrl .frm-select .sbHolder::after {  border: 1px solid #aaaaaa; content: ""; height: 38px; position: absolute; right: 28px; top: 0; width: 1px;}
.form-box.dades-form .frm-input-ctrl .frm-select .sbHolder::before {   background: #f1f1f1 none repeat scroll 0 0;  content: ""; height: 38px; position: absolute; right: 0; top: 0;  width: 28px;}

.chk-box { float:left; background:#f7f6f6; border:2px solid #25426c; padding:20px 30px; margin-top:50px; width: 100%;}
.chk-box .frm-input.checkbox { margin-bottom:0;}
.frm-input.checkbox { float: left; width: 100%;}
.frm-input.checkbox input {  height: 1px; left: 0; position: absolute; top: 0; visibility: hidden; width: 1px;}
.frm-input.checkbox label { color: #141414; cursor: pointer; font-size: 15px; padding-left: 40px; position: relative; width: auto; line-height:20px; display: inline-block; margin: 10px 0 5px; padding-right: 30px;}
.frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: "";border-radius: 3px; height: 14px; left: 7px; position: absolute; top: 13px; transition: all 0.3s ease-in-out 0s; width: 14px;}
.frm-input.checkbox label::after { background: transparent none repeat scroll 0 0; border:1px solid #000000; border-radius: 3px; content: ""; height: 20px; left: 5px; position: absolute; top: 11px; width: 20px;}
.frm-input.checkbox input:checked + label::before {  background: rgba(0, 0, 0, 0) url("../images/tick.png") no-repeat scroll 0 0;}
.frm-input.checkbox span { font-size:14px;float: left; width:100%; padding-left: 48px; color:#dedede; line-height:16px;}


.btns-chk { float:left; width:100%; margin-top:25px;}
button.volver-btn { background: #fff none repeat scroll 0 0; border: 1px solid #25426c; color: #25426c; cursor: pointer; display: inline-block; float: left; font-family: 'arialbold'; font-size: 14px; padding: 12px 40px; position: relative; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; width: auto; margin-top:30px; margin-right:60px;}
button.volver-btn:hover { background: #25426c none repeat scroll 0 0; color:#ffffff;}

button.seg-btn { background: #25426c none repeat scroll 0 0; border: 1px solid #25426c; color: #ffffff; cursor: pointer; display: inline-block; float: left; font-family: 'arialbold'; font-size: 14px; padding: 12px 30px; position: relative; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; width: auto; margin-top:30px;}
button.seg-btn:hover { background: #849eba;border: 1px solid #849eba; }

button.exam-btn { background: #606060 none repeat scroll 0 0; border: 1px solid #606060; color: #ffffff; cursor: pointer; display: inline-block; float: left; font-family: 'arialbold'; font-size: 14px; padding: 12px 30px; position: relative; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; width: auto;}
button.exam-btn:hover { background: #fff none repeat scroll 0 0; border: 1px solid #25426c; color:#25426c;}

.form-tabs p { float:left; width:100%; color:#000000;font-size: 16px; line-height: 24px; padding-bottom:15px; margin-bottom:30px;}
.form-tabs p.attached-note {width: 50%; font-size: 12px}
textarea.txt-box { border: 1px solid #b4b4b4; color: #757575; display: block; font-size: 16px; font-family: 'arialregular'; height:200px; padding: 2px 4px; resize: none; width: 100%; margin-bottom:30px;}
textarea.txt-box1 { border: 1px solid #b4b4b4; color: #757575; display: block; font-size: 16px; font-family: 'arialregular'; height:290px; padding: 2px 4px; resize: none; width: 100%; margin-bottom:30px;}

.frm-input.radio { float: left; width: 100%;}
.frm-input.radio input {  height: 1px; left: 0; position: absolute; top: 0; visibility: hidden; width: 1px;}
.frm-input.radio label { color: #000000; cursor: pointer; font-size: 15px; font-family: 'arialregular'; padding-left: 30px; position: relative; width: 100%; line-height:20px; display: inline-block; margin: 10px 0 5px; padding-right: 30px;}
.frm-input.radio label::before { background: #fff none repeat scroll 0 0; content: "";border-radius: 50%; height: 14px; left: 3px; position: absolute; top: 3px; transition: all 0.3s ease-in-out 0s; width: 14px;}
.frm-input.radio label::after { background: transparent none repeat scroll 0 0; border: 1px solid #000000; border-radius: 50%; content: ""; height: 20px; left: 0; position: absolute; top: 0; width: 20px;}
.frm-input.radio input:checked + label::before {  background: #25426c none repeat scroll 0 0;}

.form-box.dades-form .frm-input-ctrl.btn input[type="text"] { width:40%; margin-right:30px; height: 48px;}

.form-fill { float:left; width:100%; margin-bottom:70px;}
.form-fill .frm-lft { float:left; width:50%; border-right:2px solid #25426c; padding-right:100px;}
.form-fill .frm-rgt { float:left; width:50%; padding-left:100px;}
.form-fill h3 { float:left; width:100%; text-align:center; background:#c0c0c0; color:#ffffff;font-family: 'arialbold'; font-size:16px; line-height:20px; margin-bottom:20px; padding:10px 15px;}
.form-fill .form-update { float:left; width:100%; margin-bottom:20px; }
.form-fill .form-update h4 { float:left; width:100%; font-size:16px; color:#000000; line-height:20px;font-family: 'arialbold'; padding-bottom:5px;}
.form-fill .form-update p { float:left; width:100%; font-size:16px; color:#000000; line-height:20px; padding-bottom:10px; margin-bottom:0;}
.form-fill h1 { float:left; width:100%; font-size:18px; color:#000000; line-height:20px;font-family: 'arialbold'; padding-bottom:10px; text-align:left; text-transform: none;}
.form-fill .form-fill-cont { float:left; width:100%; margin-bottom:40px;}
.form-fill .form-fill-cont .content-more { display:none;}
.form-fill .form-fill-cont .content-more.show { display:block;}
.form-fill .form-fill-cont p { margin-bottom:0;}

.form-fill .form-img, #file-list .form-img { float:left; width:100%; margin-bottom:40px;}
.form-fill .form-img img, #file-list .form-img img { float:left; width:32px; margin-right:20px; height:auto;}
.form-fill .form-img h4, #file-list .form-img h4 { float:left; width:90%; font-size:16px; color:#000000; line-height:20px;font-family: 'arialbold'; padding-bottom:5px;}
.form-fill .form-img p, #file-list .form-img p { float:left; width:90%; font-size:16px; color:#000000; line-height:20px; padding-bottom:10px; margin-bottom:0;}

.file-list-container {
  margin-top: 24px;

  .file-preview {
    .form-img {
      display: inline-block;
      width: 55% !important;
      margin-bottom: 0 !important;
      float: none !important;
    }

    .file-remover {
      background: url(../images/icon-close.svg) no-repeat center;
      display: inline-block;
      width: 64px;
      height: 64px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form-fill .form-cont-bg { float:left; width:100%; margin-bottom:20px; background: #f7f6f6 none repeat scroll 0 0; border: 1px solid #cdd2da; padding:45px 40px 30px;}
.form-fill .form-cont-bg h4 { float:left; width:100%; font-size:18px; color:#000000; line-height:22px;font-family: 'arialbold'; padding-bottom:5px;}
.form-fill .form-cont-bg p { float:left; width:100%; font-size:16px; color:#000000; line-height:24px; padding-bottom:10px; margin-bottom:0;}

button.env-btn { background: #25426c none repeat scroll 0 0; border: 1px solid #25426c; color: #ffffff; cursor: pointer; display: inline-block; float: left; font-family: 'arialbold'; font-size: 14px; padding: 12px 30px; position: relative; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; width: auto; margin-top: 30px;}
button.env-btn:hover { background: #849eba; border: 1px solid #849eba;}



/* nav { position: absolute; left: 0; right: 0; margin: 0 auto; text-align: center;  display: inline-block; width: 470px; top: 34px;} */

#frm-popup { float:left; display:none; width:100%; max-width:420px; text-align: center;}
.frm-popup-inn { float:left; width:100%; padding:30px 20px; }
.frm-popup-inn h2{ color:#000; margin-bottom:10px; font-size:20px; line-height:25px; font-family: 'arialbold'; }
.frm-popup-inn input { background: #25426c; border: 1px solid #25426c; color: #ffffff; cursor: pointer; display: inline-block;  font-family: 'arialbold'; font-size: 16px; padding: 16px 26px; position: relative; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; width: auto; margin-top: 20px;}
.frm-popup-inn input:hover { background: #ffffff; color:#25426c; }
.fancybox-lock.scroll { overflow: auto !important;}
.fancybox-lock.scroll body { overflow: auto !important;}
.fancybox-margin.fancybox-lock.scroll { margin-right: 0 !important;}

.frm-input.cal-ico input[type="text"] { background: url(../images/cal-ico.png) no-repeat left 8px center; padding-left: 42px;}
.frm-input.checkbox.click label { font-family: 'arialbold'; font-size:16px;}
.frm-input.checkbox.click label::after { top:3px;}
.frm-input.checkbox.click label::before {top: 6px;}

footer .logo { margin-left: 20px;}
footer ul  { margin-right: 20px;}

.bienvenido .pres-denu p { float:left; width:100%; padding-left:10%;}
.bienvenido .pres-denu.pres-denu-center p { padding: 0 10%; text-align: center}
.bienvenido.inner-page .siguiente ul { margin-bottom:10px;}
.bienvenido.inner-page .siguiente ul li { width:40%; margin:0;}
.bienvenido.inner-page .siguiente ul li:last-child { float: right;}
.bienvenido.inner-page .siguiente ul li:before { content:none;}

.bienvenido.inner-page .siguiente ul li span.pre-den { background:#849eba url("../images/icono-denuncia.svg") no-repeat 14px 7px;  background-size: 65%; height: 60px;}
.bienvenido.inner-page .siguiente ul li span.pre-ano { background:#849eba url("../images/icono-denuncia-anonima.svg") no-repeat 8px 2px; background-size: 80%; height: 60px;}
.bienvenido.inner-page .siguiente ul li span.con-den { background:#849eba url("../images/icono-consulta.svg") no-repeat 10px 7px; background-size: 70%; height: 60px;}

.frm-input.checkbox.click {float: right; width: 36%;}
.frm-input.checkbox.click label { font-size:13px; font-family: 'arialregular'; text-align:left; padding-left: 32px; padding-right:0;}
.frm-input.checkbox.click label span { width:auto; font-family: 'arialregular'; float:none; color:#141414; text-decoration:underline; padding:0;font-size: 13px;}
.btn-sig-popup { float:left; width:100%;}

.form-ano .resp-tabs-list li { width:300px;}

.form-tabs h4 a{ color:#25426c; padding-left:35px; margin:0 0 25px; font-size: 16px; line-height: 27px; display:inline-block; float:left; width:auto; position:relative;}
.form-tabs h4 a::before { background: rgba(0, 0, 0, 0) url("../images/icono-volver-blue.svg") no-repeat scroll 0 0; background-size: 70%; content: ""; height: 40px; left: 0; position: absolute; top: 0; width: 40px;}
.form-tabs h4 span { color: #25426c; float: left; font-family: "montserratbold"; font-size: 20px; line-height: 24px; margin: 0 0 25px; padding:0; text-align: center; text-transform: uppercase; width: 90%;}
.den-bg { float:left; width:auto; background:#25426c; padding:10px 15px; color:#ffffff;}
.den-bg span {font-family: 'arialbold';}
.den-red { float:left; width:100%; margin-top:20px;}
.den-red h4 {float:left; width:100%; color:#b70f0a; font-style:italic; font-size:15px;line-height: 18px;}
.den-red p {float:left; width:100%; color:#b70f0a; font-style:italic; font-size:15px;}
.den-red span { float:none; color:#b70f0a; font-family: 'arialbold'; font-style:italic; width:auto; font-size:14px;}

.form-cont-btmbg {  background: #f7f6f6 none repeat scroll 0 0; border: 1px solid #cdd2da; float: left; margin-top:45px; margin-bottom: 20px; padding: 30px 40px 20px; width: 100%;}
.form-cont-btmbg h4 { color: #000000; float: left; font-size: 14px; line-height: 20px; margin-bottom: 0; padding-bottom: 0px; width: 100%;}
.form-cont-btmbg p { color: #000000; float: left; font-size: 14px; line-height: 20px; margin-bottom: 0; padding-bottom: 10px; width: 100%;}

ul.complain-status {
    margin: 0;
    padding: 0;
    float:left;
    width:100%;

    li {
        display: inline-block;
        text-align: center;
        list-style: none;
        float: left;
        font-family: 'arialbold';
        background: #e9ecf0;
        color: #aaaaaa;
        width: 217px;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-right: 2px;
        font-size: 14px;
        padding: 14px 0;

      &.active-status {
        background: #25426c;
        color: #fff;
      }

      @media screen and (max-width: 1199px) and (min-width: 1024px) {
        width: 215px;
      }

      @media screen and (min-width:768px) and (max-width:1023px) {
        width:160px;
      }
    }
}



ul.complain-status {
  margin-bottom: 12px;

  li {
    @media screen and (max-width:767px) {
      width: 92px;
      font-size: 12px;
    }
  }
}

.clearfix-block {
  clear: both;
}

.bienvenido.inner-page .atencion-lst {
  .types-divider {
    display: none;
  }

  .complaint-types {
    display: inline-block;
    width: 50%;
    padding: 8px 4% 8px 0;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
      padding-left: 4%;
      border-left: 2px solid #25426c;
    }

    .types-title {

      img {
        width: 48px;
        margin-bottom: 16px;
      }

      h4 {
        color: #839db9;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
        font-family: 'montserratbold';
      }
    }

    ul {
      float: none;

      li {
        width: 50%;
        padding: 0 5%;

        &:last-child {
          float: left;
        }

        h3 {
          width: 100%;
          height: 52px;
          font-family: 'montserratbold';
          letter-spacing: 1px;
        }

        span.below-btn {
          font-size: 12px;
          color: #25426C;
          width: 100%;
        }
      }
    }

    .frm-input.checkbox.click {
      margin-top: 20px;
      width: 100%;
      float: left;
    }
  }
}