.auth {
  padding: 70px 30px;

  .auth-container {
    background: $brand-primary-light;
    color: #fff;
    padding: 32px 52px;
    margin-top: 32px;

    h1 {
      font-size: 24px;
      font-weight: 600;
    }

    .tabs {
      margin-top: 52px;
      font-size: 18px;
      border-bottom: 1px solid #fff;

      > div {
        display: inline-block;
        width: 50%;
        padding: 10px;
        font-weight: 300;

        &.checked {
          border-bottom: 3px solid #fff;
          font-weight: 600;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .form-group {

    &.fg-pwd {
      margin-bottom: 8px;
    }

    &.fg-checkbox {
      margin: 0;

      label {
        font-size: 11px;
        letter-spacing: normal;
      }
    }

    input {
      background: $brand-primary;
      color: #fff;

      &::placeholder {
        color: #b2bdb9;
        opacity: 1;
        font-weight: 300;
      }

      &:-ms-input-placeholder {
        color: #b2bdb9;
        font-weight: 300;
      }

      &::-ms-input-placeholder {
        color: #b2bdb9;
        font-weight: 300;
      }
    }
  }

  .btn {
    background: transparent;
    width: 60%;
    margin-top: 4px;

    &:hover {
      background: #fff;
      border-color: #fff;
      color: $brand-primary;
    }
  }

  .forgot-pwd {
    margin-top: 8px;

    a {
      color: #fff;
      font-size: 11px;
      letter-spacing: normal;

      img {
        margin-right: 12px;
      }
    }
  }

  .errors-container {
    margin-top: 32px;
    background: #292b2a;
    border-left: 3px solid #5d3431;
    padding: 16px 10px 16px 16px;

    > * {
      display: inline-block;
      vertical-align: middle;
      width: 10%;
    }

    .errors-alert {
      text-align: left;
      padding-left: 8px;
    }

    .errors-list {
      width: 80%;
    }

    .errors-close {
      text-align: right;
      padding-right: 10px;

      a {
        color: #a4a6a5;
      }
    }
  }
}