body {
    margin: 0px;
    padding: 0px;
    
   font-family: 'Libre Franklin', sans-serif; font-weight:400;
}

ul.resp-tabs-list{
    margin: 0px;
    padding: 0px; float:left; width:100%;
}

.resp-tabs-list li {
    font-size: 20px;
    display: inline-block;
     padding: 20px 35px;
    text-align: center;
    width: 48%;
    list-style: none;
    cursor: pointer;
    float: left; 
	color:#414141; 
	 font-family: 'Libre Franklin', sans-serif; 
	 font-weight:500;
	    border-radius: 7px 7px 0 0;
	border-bottom:none;
	border-right:none;	
	 background: #f7f7f7 none repeat scroll 0 0 !important;
	 margin: 0 4% 0 0;
}

.resp-tabs-list li:last-child { margin:0;}
.resp-tabs-container {
    background: #fff none repeat scroll 0 0;
    float:left; width:100%;
	
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0;
}

.resp-tabs-list li.resp-tab-active {
	border-bottom: none!important;
	color:#583bf5; 
	 font-family: 'Libre Franklin', sans-serif; 
	font-weight:500;
	
	margin-bottom: -1px !important;
	 position: relative;
	 background:#fff !important;
}
/* #ChildVerticalTab_1 .resp-tab-active{ color:#512417 !important;} */
.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content { border: none; float:left; width:100%;}

h2.resp-accordion {
    font-size: 20px;
    border: 0px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
	font-weight: 500;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 2px solid #512417 !important;
border-left: none!important;
margin-bottom: 0 !important;
border-right: none!important;
border-bottom: none!important; background: none !important;


	
}

.resp-arrow {
    width: 14px;
    height: 8px;
    float: right;
    margin-top: 10px;
    /*border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #c1c1c1;*/
	background:url(../images/select-arw-top.png) no-repeat right center;
}

h2.resp-tab-active span.resp-arrow {
    /*border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ffffff;*/
	background:url(../images/select-arrw-btm.png) no-repeat right center;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
	/*border-top:1px solid #bbbbbb;*/
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

.resp-tabs-list li.resp-tab-active:first-child::before {-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 0 1px 1px;
    bottom: -1px;
    content: "";
    height: 30px;
    position: absolute;
    right: -30px;
    width: 33px;
	border-radius: 0 0 0 5px;
}
.resp-tabs-list li.resp-tab-active:first-child::after { display:none;}
.resp-tabs-list li.resp-tab-active:last-child:before { display:none;}
.resp-tabs-list li.resp-tab-active:last-child:after {-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px 0;
    bottom: -1px;
    content: "";
    height: 30px;
    position: absolute;
    width: 33px;
	border-radius: 0 0 5px 0;
    left: -30px;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block; border: 1px solid #bbbbbb; width: 100%;  float: left;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	h2.resp-tab-active { background:#583bf5!important; color:#ffffff;}
	.resp-tab-content-active { padding: 15px 20px; border:1px solid #e9e9e9; }

}
