.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, 
.fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp{border:0;margin:0;outline:none;padding:0;vertical-align:top;} 
.fancybox-wrap{left:0;position:absolute;top:0;z-index:8020;}
.fancybox-skin{background:none;font-size:16px; color:#3a4654; line-height:22px;  margin:20px auto 0; position:relative; text-shadow:none; }
.fancybox-opened{z-index:999999;}
.fancybox-opened .fancybox-skin{box-shadow:0 10px 25px rgba(0, 0, 0, 0);/*moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0);webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0);*/}
.fancybox-inner { overflow: hidden; position:relative; }
.fancybox-inner{overflow:hidden;}
/* .fancybox-type-iframe .fancybox-inner{/*webkit-overflow-scrolling:touch; } */
.fancybox-error{color:#444;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;height:100%;width:100%;}
.fancybox-image{max-height:100%;max-width:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background:url(../images/close-window-button.svg) no-repeat 0 0;}
/* #fancybox-loading{background-position:0 -108px;cursor:pointer;left:50%;margin-left:-22px;margin-top:-22px;opacity:0.8;position:fixed;top:50%;z-index:8060;}
#fancybox-loading div{background:url(../images/fancybox/fancybox_overlay.png) center center repeat;height:44px;width:44px;} */
.fancybox-close{cursor:pointer;height:23px;position:absolute;right:50px;top:40px;width:23px;z-index:8040; background:url no-repeat;}
.fancybox-nav{background:transparent url('blank.gif');cursor:pointer;height:100%;position:absolute;text-decoration:none;top:0;/*webkit-tap-highlight-color:rgba(0,0,0,0);*/width:40%;z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{cursor:pointer;height:34px;margin-top:-18px;position:absolute;top:50%;visibility:hidden;width:36px;z-index:8040;}
.fancybox-prev span{background-position:0 -36px;left:10px;}
.fancybox-next span{background-position:0 -72px;right:10px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{left:-99999px;max-height:99999px;max-width:99999px;overflow:visible !important;position:absolute;top:-99999px;visibility:hidden;}
.fancybox-lock{overflow:hidden !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{background:rgba(0,0,0,0.4);display:none;left:0;overflow:hidden;position:fixed;top:0;z-index:99999; }
.fancybox-overlay-fixed{bottom:0;position:fixed;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;z-index:999999;}
.fancybox-media{float:left;}


