@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){

}
@media only screen and (max-width:1366px){
.row-login {width:724px;}	
}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}
	

}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:1000px; }

}
 
@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row  { width:1000px; }
.prod-det-lst .prod-img-lft .owl-item img { height:170px; width:228px;}
.prod-det-lst .prod-img-rgt h2 { padding-bottom:15px;}
.prod-det-lst .prod-img-rgt p { padding-bottom:15px;} 
.prod-det-lst .prod-img-lft {width: 34%;}
.prod-det-lst .prod-img-rgt { width: 66%;}
.prod-det-lst ul li {height: 170px;}
.prod-det-lst .prod-img-rgt .date { bottom: 16px;}
.prod-det-lst.list ul li { width:100%;}
}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row { width:750px; }
.prod-det-lst ul li { width: 100%; margin-right:0; height:auto;}
.prod-det-lst.list ul li { width:100%; height:auto;}
.prod-det-lst .prod-img-lft .owl-item img { height: auto; width: auto;  float: left;}
.list-view-btn { display:none;}
.prod-det-lst .prod-img-lft { width:30%;}
.prod-det-lst .prod-img-rgt { width:70%;}
.prod-det-lst .prod-img-rgt h2 {font-size: 18px; padding-bottom: 15px;}
.prod-det-lst .prod-img-rgt p { font-size: 15px;padding-bottom: 15px;}
.ampliar { display:none;}
}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row-login { width:100%; padding:0 15px; }
.form-box.login {padding: 40px 0;}
.form-box.reg-form {padding: 20px 25px;}
.login-tab {  margin-top: 60px; margin-bottom: 30px;}
#login-details {  padding-top: 15px;}
.form-box.reg-form { padding: 0;}
.resp-tab-content-active { padding: 25px 30px;}

.prod-det-lst ul li { width: 100%; margin-right:0; height:auto;}
.prod-det-lst.list ul li { width:100%; height:auto;}
.prod-det-lst .prod-img-lft .owl-item img { height: 167px; width: 183px; float: left;}
.list-view-btn { display:none;}
.prod-det-lst .prod-img-lft { width:30%;}
.prod-det-lst .prod-img-rgt { width:70%;}
.prod-det-lst .prod-img-rgt h2 {font-size: 18px; padding-bottom: 15px;}
.prod-det-lst .prod-img-rgt p { font-size: 15px;padding-bottom: 15px;}
.prod-det-lst .prod-img-rgt .date {bottom: 13px;}

.popup .pop-lft { width:100%; margin-right:0; margin-bottom:20px;}
.popup .pop-rgt { width:100%; margin-bottom: 30px;}
.fancybox-close { right: 30px; top: 28px;}
.popup .pop-lft .video-img { margin-top: 25px;}
.fancybox-skin { margin:0 auto;}
.title-list h1 {font-size: 25px;}
.prod-list .logo a { padding-bottom: 20px;}
.prod-list {  margin: 20px 0 15px;}
.ampliar { display:none;}
h2.resp-accordion { text-align:center;}
}

/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {

.prod-det-lst .prod-img-lft { width: 100%;} 
.prod-det-lst .prod-img-rgt { width:100%;}
.prod-det-lst .prod-img-lft .owl-item img { width:100%; height:auto;}
.prod-det-lst .prod-img-rgt .date { right: 10px; bottom: 12px;}
.popup { padding: 40px 20px 45px;}
.popup .pop-rgt h1 {  font-size: 26px;}
.popup .pop-rgt span {padding-bottom: 20px;font-size: 16px;}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.form-box.reg-form .frm-input .frm-lft { width:100%; margin-right:0; margin-bottom:15px;}
.form-box.reg-form .frm-input .frm-rgt { width:100%; margin-right:0;}
.frm-input .chk-dt.chk { width:100%;}
button.submit-btn { width:100%;}
.form-box.login .frm-input { width:100%;}
h2.resp-accordion { font-size: 18px;}
.frm-input .chk-dt span { line-height:16px;}
.frm-input.checkbox label::after {top: 2px;}
.frm-input.checkbox label::before {top: 4px;}
.resp-tab-content-active { padding: 15px 20px 25px;}
.form-box.login { padding: 15px 0;}
.prod-det-lst .prod-img-rgt .date {bottom: 13px;}

.top-side-list {padding: 15px 12px 12px;}
.profile { margin-right: 20px;}
.profile a { font-size: 14px; padding: 0 0 0 20px;}
.logout { margin-left: 20px;}
.logout a {padding: 0 0 0 20px; font-size: 14px;}
header .top-side-list .lang-select .sbSelector { padding: 0 16px 0 20px;}
.top-side-list .sbToggle { right: 0;}
/*.sbSelector { font-size: 16px;}*/
.ampliar {bottom: 10px;right: 10px;}
.flex-direction-nav li .flex-prev { left:10px;}
.flex-direction-nav li .flex-next {right: 10px;}
.popup .pop-lft .video-img::after { top:20%;}
.popup .pop-rgt h1 { font-size: 22px; padding-bottom: 15px;}
.form-box.user .frm-input { width:100%;}
.user-login { padding: 20px 25px;}
.user-login h1 {font-size: 22px; padding-bottom: 0;}
.form-box.user label { width:100%; margin-right:0; text-align:left;}
.form-box.user input[type="text"], .form-box.user select, .form-box.user .frm-input-ctrl.dropdown .sbHolder { width:88%;}
.frm-input input[type="submit"] { width:100%;}
.frm-input input[type="submit"]{ width:100%;}
}
@media screen and (max-width:359px) {

.top-side-list {padding: 15px 6px 12px;}
.profile { margin-right: 7px;}
.logout { margin-left: 7px;}


}


