@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700,800,900'); /* font-family: 'Libre Franklin', sans-serif; */

body { padding:0; margin:0; background:#f7f7f7; font-size:16px; color:#363636; line-height:20px; font-family: 'Libre Franklin', sans-serif; font-weight:400;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #192432; text-decoration: none;  }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0; margin:0; color:#535353;}
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0; margin:0;  line-height: 30px; }
a{ color: #192432; outline:none; }
strong { font-family: 'Libre Franklin', sans-serif; font-weight:500;}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0; margin:0; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0; height:0; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row{ width:1095px; margin:auto; padding:0;}
.row-login {width:723px; margin:auto; padding:0;}

body.bg-img { background:url(../images/stock-textiles-home.jpg) no-repeat scroll top center; background-size:cover; height:1290px;}
header {float:left; width:100%;position:relative; z-index:999; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }

.top-side-list {background: #fff none repeat scroll 0 0; float: right; width: auto; padding:15px 17px 12px; border-radius:0 0 7px 7px;}
.profile { float:left; margin-right: 30px;}
.logout { float:right; margin-left: 15px;}
.profile a { background:url(../images/user-icon.svg) no-repeat scroll left center; font-weight: 300; font-family: 'Libre Franklin', sans-serif; color: #4f4f4f; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;  padding:0 0 0 28px;}
.logout a { background:url(../images/loggout-icon.svg) no-repeat scroll left center; font-weight: 300; font-family: 'Libre Franklin', sans-serif; color: #4f4f4f; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; padding:0 0 0 24px; }
.profile a:hover, .logout a:hover { text-decoration:underline;color: #583bf5;}

header .head-top { float: right; text-align: right; width: 100%;} 
header .lang-select {background: #fff none repeat scroll 0 0; float: right; width: 157px; border-radius: 0 0 7px 7px;}
header .lang_select .sbSelector {text-overflow: clip; width:32px; white-space: nowrap; letter-spacing: 0.3px;}
header .lang_select .sbSelector:hover { color:#f9af02;}
header .lang-select .sbSelector{float: left; text-align: left; width: 100%; background:url(../images/select-language-button.svg) no-repeat scroll left center; padding: 0 0 0 25px; font-family: 'Libre Franklin', sans-serif; color: #4f4f4f; font-weight: 300;}

.login-tab { float:left; width:100%; margin-top:150px;}
.login-sec .logo a { float:left; width:100%; text-align:center; color:#ffffff; font-size:39px; font-weight: 300; padding-bottom:30px;}
.login-sec h1 { float:left; width:100%; text-align:center; color:#ffffff; font-size:39px; font-weight: 300; padding-bottom:30px;}
.login-sec h4 { float:left; width:100%; text-align:center; color:#ffffff; font-size:16px; font-weight: 100; padding-bottom:15px;}

#login-details { float:left; width:100%; padding-top: 50px;}
.form-box.login { float:left; width:100%;text-align: center; padding:74px 0;} 
.form-box.login .frm-input { display: inline-block; float: none; width: 355px;}
.form-box.login .frm-input-ctrl, .form-box.reg-form .frm-input-ctrl { float: left; width: 100%; margin-bottom:10px;}
.form-box.login input, .form-box.login select, .form-box.reg-form input, .form-box.reg-form select {  border: 1px solid #aeaeae; border-radius: 8px; color: #353535; font-family: 'Libre Franklin', sans-serif;  font-size: 16px; height: 60px; line-height: 30px; padding: 20px; width: 100%;}
.form-box.login .frm-input-ctrl.dropdown, .form-box.reg-form .frm-input-ctrl.dropdown { float:left; width:100%; text-align:center;}
.form-box.login .frm-input-ctrl.dropdown .sbHolder, .form-box.reg-form .frm-input-ctrl.dropdown .sbHolder { float:none; display:inline-block; border: 1px solid #aeaeae; border-radius: 8px; color: #353535; font-family: 'Libre Franklin', sans-serif;  font-size: 16px; height: 60px; line-height: 20px; padding: 20px;  width:100%;}
.form-box.login .frm-input-ctrl.dropdown .sbSelector, .form-box.reg-form .frm-input-ctrl.dropdown .sbSelector { float:left; width:100%; text-align:left;}
.form-box.login .frm-input-ctrl.dropdown .sbToggle, .form-box.reg-form .frm-input-ctrl.dropdown .sbToggle { right:26px; top:26px; background:url(../images/select-arw-grey.png) no-repeat scroll 0 0; width:14px; height:8px;}
.form-box.login .frm-input-ctrl.dropdown .sbOptions, .form-box.reg-form .frm-input-ctrl.dropdown .sbOptions { top:60px!important;}
button.submit-btn { background: #583bf5 none repeat scroll 0 0; border: medium none; color: #fff; cursor: pointer; font-family: 'Libre Franklin', sans-serif; font-weight:600; font-size: 16px; padding: 20px 30px; transition: all 0.5s ease 0s; width: 355px;border-radius: 8px; text-transform:uppercase; text-align:center; height: 60px; line-height: 20px;}
button.submit-btn:hover {background: #000000; color:#ffffff;}

.frm-input input[type="submit"]{ background: #583bf5 none repeat scroll 0 0; color: #fff; cursor: pointer; font-family: 'Libre Franklin', sans-serif; font-weight:600; font-size: 16px; padding: 20px 30px; transition: all 0.5s ease 0s; width: 355px;border-radius: 8px; text-transform:uppercase; text-align:center; height: 60px; line-height: 20px; border:1px solid #583bf5; }
.frm-input input[type="submit"]:hover {background: #ffffff; color:#583bf5;}

.frm-input .chk-dt { float:left; width:100%; text-align:center; margin-top:10px;}
.frm-input .chk-dt span { float:left; width:100%; text-align:left; color:#909090; font-size:12px; font-family: 'Libre Franklin', sans-serif; font-weight: 300;}
.frm-input .chk-dt span strong { text-decoration:underline; cursor:pointer;}

.form-box.reg-form { float:left; width:100%; text-align: center; padding: 48px 64px;} 
.form-box.reg-form .frm-input { display: inline-block; float: none; width: 100%;}
.form-box.reg-form .frm-input .frm-lft { float:left; width:49%; margin-right:2%;}
.form-box.reg-form .frm-input .frm-rgt { float:left; width:49%; margin-right:0;}
.form-box.reg-form .frm-input h2 { float:left; width:100%; text-align:left; color:#583bf5; font-size:16px; font-weight: 100; padding-bottom:5px;}

.frm-input .chk-dt.chk {  display: inline-block;  float: none;  width: 355px;}
.frm-input.checkbox { float: left;  width: 100%;}
.frm-input.checkbox  input {  height: 1px; left: 0; position: absolute; top: 0; visibility: hidden; width: 1px;}
.frm-input.checkbox label { color: #000; cursor: pointer; font-size: 18px; padding-left: 20px; position: relative; width: 100%; line-height:10px; display: inline-block; margin: 0 0 10px; padding-right: 25px;}
.frm-input.checkbox label::before { background: #fff none repeat scroll 0 0; content: ""; border-radius: 50%; height: 7px; left: 2px; position: absolute; top: 2px; transition: all 0.3s ease-in-out 0s; width: 7px;}
.frm-input.checkbox label::after { background: transparent none repeat scroll 0 0; border: 1px solid #909090; border-radius: 50%; content: ""; height: 11px; left: 0; position: absolute; top: 0; width: 11px;}
.frm-input.checkbox input:checked + label::before {  background: #583bf5 none repeat scroll 0 0;}
.frm-input .chk-dt.chk button.submit-btn { margin-top:5px;}

.prod-list { float:left; width:100%; margin:20px 0 30px;}
.prod-list h3 { float:left; width:100%; color:#583bf5; font-size:24px; font-weight: 300; padding-bottom:30px;}
.prod-list .logo a { float:left; width:100%; color:#583bf5; font-size:24px; font-weight: 300; padding-bottom:30px;}
.title-list { float:left; width:100%; padding-bottom:15px;}
.title-list h1 { float:left; width:auto; color:#707070; font-size:32px; font-weight: 300;}
.list-view-btn { float: right; width: auto;}
.list-view-btn .grid-view { float:left; margin-right: 15px;}
.list-view-btn .grid-view a { float:left; padding:8px;}
.list-view-btn .grid-view img { width:auto; height:auto; float:left;}
.list-view-btn .list-view { float:left;}
.list-view-btn .list-view a { float:left; padding:8px;}
.list-view-btn .list-view img { width:auto; height:auto; float:left;}
.list-view-btn .active { background:#fff; border-radius:5px; box-shadow: 0 2px 6px #b9b9b9;}

.prod-det-lst { float: left; width: 100%; margin-top:30px;} 
.prod-det-lst ul { float: left; width: 100%;}
.prod-det-lst ul li { float:left; width:49%; margin-right:2%; background:#ffffff; border-radius:10px; position:relative; overflow: hidden; height:178px; margin-bottom:20px;}
.prod-det-lst ul li:nth-child(2n+2) { margin-right:0;}
.prod-det-lst .prod-img-lft { float:left; width:38%;}
.prod-det-lst .prod-img-lft .owl-item img {  width: 220px; height:178px;}
.prod-det-lst .prod-img-rgt { float:left; width:62%; padding:16px 17px 12px;}
.prod-det-lst .prod-img-rgt h2 { float:left; width:100%; color:#707078; font-size:16px; font-weight: 500; padding-bottom:22px; line-height: 24px; text-align:left;}
.prod-det-lst .prod-img-rgt p { float:left; width:100%; color:#7b7b7b; font-size:13px; font-weight: 300; padding-bottom:22px; line-height: 20px; text-align:left;}
.prod-det-lst .prod-img-rgt p.lrg-para { display:none;}
.prod-det-lst .prod-img-rgt span {float:left; width:100%; color:#7b7b7b; font-size:10px; font-weight: 300; text-align:left; }
.prod-det-lst .prod-img-rgt strong { font-weight:600; color:#583bf5;}
.prod-det-lst .prod-img-rgt .date { position:absolute; right:17px; bottom:10px; font-size:11px; font-weight: 400; color:#583bf5;}
.prod-det-lst ul li:hover { /*box-shadow: 0 4px 15px #b9b9b9;*/ box-shadow: 0 2px 15px #dcdcdc; }

.prod-det-lst.list {text-align: center;}
.prod-det-lst.list ul li {  height: 255px; width: 900px; float:none; display:inline-block; margin-right:0;}
.prod-det-lst.list .prod-img-lft { width:38%;}
.prod-det-lst.list .prod-img-rgt {width:62%; padding:28px 40px 20px;}
.prod-det-lst.list .prod-img-lft .owl-item img {  width: 100%; height:auto;}

.prod-det-lst.list .prod-img-rgt h2 {font-size:20px; padding-bottom:20px; line-height: 28px;}
.prod-det-lst.list .prod-img-rgt p {font-size:16px; padding-bottom:40px; line-height: 24px;}
.prod-det-lst.list .prod-img-rgt p.sml-para { display:none;}
.prod-det-lst.list .prod-img-rgt p.lrg-para { display:block;}
.prod-det-lst.list .prod-img-rgt span {font-size:14px;}
.prod-det-lst.list .prod-img-rgt strong { font-weight:600;}
.prod-det-lst.list .prod-img-rgt .date { position:absolute; right:17px; bottom:18px; font-size:14px; font-weight: 400; color:#583bf5;}

.prod-det-lst.list .owl-prev { left: 20px; position: absolute; background:url(../images/slider-arw-lrg.png) no-repeat; height: 25px; width:25px;  background-position:0 0;}
.prod-det-lst.list .owl-next { right: 20px; position: absolute; background:url(../images/slider-arw-lrg.png) no-repeat; height: 25px; width:25px; background-position:-26px 0;}


.popup {  background: #fff none repeat scroll 0 0;  max-width: 998px; padding: 40px 40px 45px; width: 100%; border-radius:10px; display:none; height:100%; float:left; overflow: hidden; overflow-y: visible;}

#prod-slider { float:left; width:100%; position:relative;}
.popup .pop-lft { float:left; width:50%; margin-right:3%;}
.popup .pop-rgt { float:left; width:47%;}
.popup .pop-rgt h1 { float:left; width:100%; color:#262626; font-size:32px; font-weight: 500; padding-bottom:22px;}
.popup .pop-rgt span {float:left; width:100%; color:#262626; font-size:18px; font-weight: 300; padding-bottom:40px;}
.popup .pop-rgt strong {font-weight: 500;}
.popup .pop-rgt p { float:left; width:100%; color:#262626; font-size:16px; line-height:24px; font-weight: 300; padding-bottom:30px;}
.popup .pop-rgt h2 { float:left; width:100%; color:#583bf5; font-size:18px; font-weight: 500; padding-bottom:22px;}
.real-lst ul { float:left; width:100%;}
.real-lst ul li { float:left; width:100%;}

.popup .real-lst ul li {float: left; font-size: 12px; color:#7c7c7c; padding: 0 15px 0 30px; line-height: 24px; font-weight: 400; margin-bottom: 10px; width: 100%;}
.popup .real-lst ul li strong { font-weight: 600;}
.popup .real-lst ul li.ph-ico {background: url(../images/mobile-device-icon.svg) no-repeat scroll 0 0;}
.popup .real-lst ul li.whatapp-ico {background: url(../images/whatsapp-icon.svg) no-repeat scroll 0 4px; }
.popup .real-lst ul li.mail-ico {background: url(../images/mail-icon.svg) no-repeat scroll 0 4px;}

.popup .pop-lft .video-img { float:left; width:100%; position:relative; margin-top:50px; border-radius:10px;}
.popup .pop-lft .video-img img { float:left; width:100%;}
.popup .pop-lft .video-img::after { position:absolute; background: url(../images/play-button.svg) no-repeat scroll 0 0; top:35%; left:0; right:0; margin:0 auto; content:""; width:68px; height:62px; cursor:pointer;}
.pop-rgt textarea { float:left; width:100%; height:130px; border:2px solid #cdcdcd; border-radius:10px; padding:10px 12px; color:#484848; font-family: 'Libre Franklin', sans-serif; font-weight:300; font-size: 14px;resize: none;}


.submit-pop { float:left; width:100%; text-align:center;}
button.submit-btn.popup {  float: none;  height: 38px; width: 214px;  padding: 10px 30px; margin-top:12px;font-size: 14px; display: inline-block;font-weight: 600;}

.submit-pop input[type="submit"]{ background: #583bf5 none repeat scroll 0 0; color: #fff; cursor: pointer; font-family: 'Libre Franklin', sans-serif; font-weight:600; font-size: 14px; padding: 8px 30px; transition: all 0.5s ease 0s; width: 214px;border-radius: 8px; text-transform:uppercase; text-align:center; height: 38px; line-height: 20px; border:1px solid #583bf5; margin-top:12px; }
.submit-pop input[type="submit"]:hover {background: #ffffff; color:#583bf5;}

.ampliar { position:absolute; bottom:15px; right:15px; z-index:100; cursor:pointer; }


.user-login { background: #fff none repeat scroll 0 0; float: left; text-align: center; width: 100%; padding: 43px 0; margin:0 0 40px;}
.user-login h1 { float:left; width:100%; color:#414141; font-size:32px; font-weight: 300; padding-bottom:30px;}
.form-box.user { float:left; width:100%;text-align: center; padding:12px 0;} 
.form-box.user .frm-input { display: inline-block; float: none; width: 440px;}
.form-box.user .frm-input-ctrl { float: left; width: 100%; margin-bottom:10px;}
.form-box.user .frm-input-ctrl.dropdown { margin-bottom:30px;}
.form-box.user input, .form-box.user select {  border: 1px solid #aeaeae; border-radius: 8px; color: #353535; font-family: 'Libre Franklin', sans-serif;  font-size: 16px; height: 60px; line-height: 30px; padding: 20px; margin-right:10px; float: left;width: 54%;}
.form-box.user label { font-size:14px; font-weight:400; color:#583bf5; margin-right:20px; float:left; width: 28%; text-align:right; line-height:60px;}
.form-box.user .frm-input-ctrl img { float: left; position: relative; top: 20px;}

.form-box.user .frm-input-ctrl.dropdown { float:left; width:100%; text-align:center;}
.form-box.user .frm-input-ctrl.dropdown .sbHolder { float:left; display:inline-block; border: 1px solid #aeaeae; border-radius: 8px; color: #353535; font-family: 'Libre Franklin', sans-serif;  font-size: 16px; height: 60px; line-height: 20px; padding: 20px;  width:54%; margin-right:10px;}
.form-box.user .frm-input-ctrl.dropdown .sbSelector { float:left; width:100%; text-align:left;}
.form-box.user .frm-input-ctrl.dropdown .sbToggle { right:26px; top:26px; background:url(../images/select-arw-grey.png) no-repeat scroll 0 0; width:14px; height:8px;}
.form-box.user .frm-input-ctrl.dropdown .sbOptions { top:60px!important;}


/* Fullscreen mode CSS */
#prod-slider { position:relative;}
#prod-slider.fullscreen { position: fixed; width: 100%; height:100%; background: #000; top:0; left:0; text-align: center; z-index: 2147481963; overflow: hidden; overflow-y: auto; } 
#prod-slider.fullscreen .flexslider { float:none; width:auto; height:100%; } 
#prod-slider .ampliar { bottom:10px; right:10px; width: 16px; height: 16px; background:none; border-radius:2px; opacity:1; -webkit-transition:opacity 0.8s; transition:opacity 0.8s; cursor: pointer; position: absolute; z-index:9; }
#prod-slider .slider-inner:hover .ampliar, #prod-slider.fullscreen .ampliar { opacity: 1; }
#prod-slider.fullscreen div.ampliar { right:30px; top:30px; background:url(../images/close-window-button.svg) no-repeat top center; width:23px; height:23px; }
#prod-slider .ampliar::before { content:''; display:block; background:url(../images/zoom-view-icon.svg) no-repeat top center; width: 16px; height: 16px; }
#prod-slider.fullscreen .ampliar::before { display:none;}
#prod-slider.fullscreen .ampliar::before { content:''; background-position:bottom center; }
.amp .flexslider img	{ width:100%; float:left;  -moz-transition:0s transform linear; -webkit-transition:0s transform linear; transition:transform .0s linear; }
.amp:hover .flexslider img {  -webkit-transform: none; -moz-transform: none; transform: none; -moz-transition:0s transform linear; -webkit-transition:0s transform linear; transition:0s transform linear;  }

.owl-carousel .owl-nav {
    width: 100%;
    color: #a9a9a9;
    font-size: 16px;
    position: absolute;
    bottom: 55%;

    button.owl-prev {
        left: 10px;
        position: absolute;
        height: 16px;
        width: 16px;
        background: url(../images/slider-arw-sml.png) no-repeat 0 0;

        span {
            display: none;
        }
    }

    button.owl-next {
        right: 10px;
        position: absolute;
        background: url(../images/slider-arw-sml.png) no-repeat -17px 0;
        height: 16px;
        width: 16px;

        span {
            display: none;
        }
    }
}

input.form-control.with-error {
    border-color: #ca0000;
}

.form-error {
    clear: both;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 10px;

    span {
        color: #ca0000;
    }
}

.frm-input .chk-dt label.lopd-red span {
    color: #ca0000;
    font-weight: 500;
}



