.ToolSistems-sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#ToolSistems-Sidenav-2 { right: 0; left: initial; }
#ToolSistems-Sidenav-debug { height: 0; width: 100%; background-color: transparent; margin-top: -18px; }

.ToolSistems-sidenav .ToolSistems-titol {
	padding: 8px 8px 8px 15px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: .3s;
	width: auto;
	float: left;
}

.ToolSistems-closebtn {
	float: right;
	padding: 0;
	padding-left: 20px;
	line-height: 0px;
}

.ToolSistems-sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.ToolSistems-sidenav a:hover {
	color: #f1f1f1;
}

.ToolSistems-sidenav .ToolSistems-closebtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 28px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .ToolSistems-sidenav {padding-top: 15px;}
  .ToolSistems-sidenav a {font-size: 18px;}
}

.ToolSistems-sidenav .ToolSistems-elements { margin-bottom: 40px; }

.ToolSistems-sidenav { overflow: auto; }

#ToolSistems-version { position: absolute; top: 20px; left: 10px; font-size: 12px; color: #999; }
#ToolSistems-server-info { margin-left: 10px; font-size: 12px; color: #999; }
#ToolSistems-server-info span { margin-left: 10px; font-size: 12px; color: #999; padding-bottom: 10px; }

/*#ToolSistems-server-info { padding-left: 10px; font-size: 12px; color: #666; }*/
#ToolSistems-server-info a { padding: 0; font-size: 12px; text-decoration: underline; color: #999; }
#ToolSistems-server-info a:hover { color: #fff; }
#ToolSistems-version span, #ToolSistems-server-info span { display: block; }

/* MODAL */
.ToolSistems-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999999;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ToolSistems-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.ToolSistems-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ToolSistems-modal-close:hover,
.ToolSistems-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* /MODAL */

.ToolSistems-submenu { height: 0; overflow-x: hidden; transition: 2s; text-indent: 20px; }
.ToolSistems-submenu a { font-size: 18px; }