.form-group {
  margin-top: 24px;
  text-align: left;

  label {
    font-weight: 300;
    font-size: 15px;
  }

  input {
    border: none;
    border-radius: 0;
    font-size: 15px;
    padding: 22px 20px;
  }
}

.btn {
  border-radius: 2px;
  padding: 10px 48px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;

  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;

  &.btn-outline {
    border: 2px solid #9eaaa6;
  }
}

label.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkbox-mark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: $brand-primary;

    &:after {
      content: "";
      position: absolute;
      display: none;

      left: 5px;
      top: 2px;
      width: 5px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .checkbox-mark {
        &:after {
          display: block;
        }
      }
    }
  }
}
