@charset "utf-8";
/* CSS Document */

body { padding:0px; margin:0px; background:#ffffff; font-size:16px; color:#282828; line-height:20px; font-family: 'public_sansregular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, source { display: block; margin: 0; padding: 0; }
a, img { border: medium none; }
a { color: #282828; text-decoration: none; outline:none; }
div { margin: 0; padding: 0; }
p { font-size:16px; line-height:20px; padding:0px; margin:0px; color:#414141;} 
h1, h2, h3, h4, h5, h6 { font-weight:normal; padding:0px; margin:0px;  line-height: 30px; }
strong { font-family: 'public_sansbold';}
/*a:hover { color: #979796; }*/
ul, li { list-style:none;}
a:focus, :focus{ outline:none; }
ul,ol { list-style-type:none; padding:0px; margin:0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; }
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
.clear { clear: both; line-height: 1px; padding:0px; height:0px; font-size:1px; }
.left { float:left; }
.right { float:right; }
.anim { transition:all 1s ease; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; }
.anim2 { transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.row { width:1170px; margin:auto; padding:0px;}
.main-row { width:768px; margin:auto; padding:0px;}

/* header css */
header {float:left; width:100%; z-index: 999;}
.is-sticky header { box-shadow:1px 2px 3px #ccc;}
.main-section { float:left; width:100%; padding: 30px 25px; margin: 15px; border:2px solid #565656;}
.top-section { float:left; width:100%;}
.top-lft { float: left; width: 50%;}
.top-lft h2 { font-size:18px; line-height:25px; font-family: 'public_sansbold'; color:#282828;}
.top-lft span {font-family: 'public_sansitalic';}
.top-lft img { float: left; margin-top:40px; width: auto;}
.top-rgt { float: right; width: 50%;}
.top-rgt img { float: right; width:auto;}
.top-btm { float: left; width: 100%; padding-top:42px;}
.top-btm img { float: left; width:auto;}
.dollar-btn { float:left; width:100%; margin-top:42px;}
.dollar-btn a { float:left; width:250px; text-align:center; background:#f3f3f3; padding:35px 0; font-size:32px; line-height:25px; border-radius:50px; font-family: 'public_sansbold'; color:#282828;}
.top-rgt h3 { float:right; font-size:18px; line-height:25px; font-family: 'public_sansbold'; text-align: right; color:#282828; padding-top:24px;}
.top-rgt span {font-family: 'public_sansitalic';float: right; width:100%;}

.cont-section {float:left; width:100%; padding-top:45px;}
.cont-section h1 { float:left; width:100%; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-bottom:40px;}
.cont-section ul { float:left; width:100%;}
.cont-section ul li { float:left; width:100%; background:#f3f3f3; padding: 15px 15px 15px 53px; position:relative;}
.cont-section ul li::before { position:absolute; content:""; background:#282828; width:5px; height:5px; top:25px; left:15px; border-radius:3px;}
.cont-section ul li:nth-child(2n+2) { background:#ffffff;}
.cont-section h3 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828;}
.cont-section h4 { float:left; width:100%; font-size:18px; line-height:27px; font-family: 'public_sanssemibold'; color:#282828; padding-bottom:5px;}
.cont-section span { font-family: 'public_sansregular';}

/* productes css */
.top-header { float:left; width:100%; background:#fbfbfb; padding:15px 0;}
.inner-top { float:left; width:100%;}
.inner-top .logo { float:left; width:auto; padding-right:100px;}
.inner-top .mob-logo { float:left; width:auto; display:none;}
.inner-top h1 { float:left; font-size:34px; line-height:25px; font-family: 'public_sansbold'; color:#282828; padding-top:20px;}
.lang-select { float: right; margin-top:30px; padding-right: 20px;}
.inner-cont { float:left; width:100%; margin-top:22px;position: relative;}
.inner-cont h1 { display:none; float:left; width:100%; text-align:center; font-size:28px; line-height:35px;  font-family: 'public_sanssemibold'; color:#282828; padding-bottom:25px;}
.filter { float: left; width: 54%; margin-bottom:30px;}
.filter h3 {float: left;font-size: 18px;font-family: 'public_sansmedium';line-height: 38px;text-align: right;width: 45%;
 padding-right: 50px; display: none;}
.filter li { float: left; width:122px; margin-right:5px; margin-bottom:8px;}
.filter li:nth-child(5n+5) { margin-right: 0;}
.filter li button { float:left; width:100%; background:#ffffff; color:#282828; border:1px solid #9d9d9d; cursor: pointer; border-radius:25px; text-align:center; padding:10px 0; font-size:14px; line-height:15px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
.filter li button:hover { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter li.active a { background:#f3f3f3; border:1px solid #f3f3f3;}
.filter-mob { display:none; float: left; text-align: center; width: 100%; margin-bottom:20px;}
.filter-mob h3 { float: left; font-size:18px; font-family: 'public_sansmedium'; line-height: 38px;  text-align: right; width: 45%; padding-right: 50px;}
.select-filter { float:left; width:auto;}
.select-filter .sbHolder { float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px;}
.select-filter .sbSelector { text-align:left;}
.select-filter a.sbToggle { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px;}
.select-filter .sbHolder ul.sbOptions { top:38px !important;}
.select-filter .sbOptions { width: 100% !important;}

.select-filter .select-box { display: none; float:left;  background: #f2f2f2 none repeat scroll 0 0; border-radius: 30px; padding: 10px 25px; height:38px; width: 160px; position: relative;}
.select-filter .select-txt { text-align:left; font-size: 14px;line-height: 18px; color: #919191; font-family: 'public_sanslight'; display: block;
 left: 0;outline: none;overflow: hidden;position: relative;text-indent: 0px;top: 0;}
.select-filter a.select-arw { background: url(../images/filter-drop-down.png) no-repeat 0 0; width:13px; height:8px; right: 20px; top: 15px; position: absolute;}

.table-list { float:left; width:100%; margin-bottom:25px;}
.table-list .tb-lft { float:left; width:772px; margin-right:28px;}
.table-list .tb-rgt { float:right; width:370px;}
.list-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.list-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 15px; width: 100%;}
.list-tab thead tr:first-child { display:block;} 
.list-tab thead tr:last-child { display:none;}
.list-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.list-tab tr th:first-child { text-align:left;}
.list-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.list-tab td:first-child { width:25%; text-align:left;}
.list-tab td:nth-child(2n) { width:25%; color:#949494;}
.list-tab td:nth-child(3n) { width:30%;}
.list-tab td:last-child { width:20%; color:#a41432; font-family: 'public_sansbold';}
.list-tab thead tr { float: left; width: 100%;}
.list-tab tbody tr { float: left; width: 100%; background:#ffffff; border-bottom: 2px solid #f9f9f9; padding:12px 15px;}
.list-tab tbody tr:last-child { border-bottom: 2px solid #ffffff;}
.list-tab tbody tr:hover { background:#f3f3f3; border-bottom: 2px solid #eeeded;}

.qty-chk { width: 100%; height: 26px; text-align: center; font-size:14px; border:none; color:#727272; line-height: 25px; }
input.qtyplus { width:25px; height:25px; background:none;border:1px solid #a41432;  padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#a41432; position: relative; cursor:pointer; line-height:12px;}
input.qtyminus { width:25px; height:25px; background:none; border:1px solid #dfdfdf; padding:0; margin:0; font-family: 'robotomedium'; font-size:15px; color:#494949; cursor:pointer; line-height:12px;}
input.qtyplus:hover { color:#C9346C;}
input.qtyminus:hover { color:#C9346C;}
.qty { border: medium none; background:none; color: #727272; font-size: 16px; font-family: 'public_sansbold'; height: 25px; line-height:21px; text-align: center; width: 60px;}

.amt-tab { background: #ffffff; float: left; width: 100%; font-size:16px; line-height:22px; color:#282828; font-family: 'public_sansmedium';}
.amt-tab thead { float: left; background:#f3f3f3; text-align:left; padding:12px 26px; width: 100%;}
.amt-tab tbody { background:#fbfbfb;}
.amt-tab tr th {float:left; font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tr th:first-child { text-align:left;}
.amt-tab td { float: left; font-size:16px; line-height:22px; color:#282828; text-align:center; font-family: 'public_sansmedium'; }
.amt-tab td span { font-family: 'robotomedium';}
.amt-tab thead tr { float: left; width: 100%; padding:0;}
.amt-tab tr { float: left; width: 100%; padding:12px  26px;}
.amt-tab td:first-child { width:65%; text-align:left; font-family: 'robotomedium';}
.amt-tab td:nth-child(2n) { width:20%; color:#a41432; font-family: 'public_sansbold'; text-align:right;}
.amt-tab td:last-child { width:15%; text-align:center;}
.amt-tab tfoot {background:#fbfbfb; float: left; padding: 12px 26px; width: 100%;}
.amt-tab tfoot tr th {float:left; font-size:18px; font-family: 'public_sansbold'; font-weight: normal; text-align: center;}
.amt-tab tfoot tr {border-top: 1px solid #f7f7f7; padding: 15px 0;}
.amt-tab tfoot tr th:first-child { width:65%; text-align:left; font-family: 'robotobold';}
.amt-tab tfoot tr th:last-child { width:35%; text-align:center; color:#a41432; font-size:24px; font-family: 'public_sansblack';}
.tb-amt.cnt-left { width: 370px; margin-top:15px;}
.close-btn img { cursor:pointer;}
.amt-desk { float:left; width:100%; display:block;}
.amt-mob { float:left; width:100%; display:none; position:fixed; bottom:0px; left:0;}

/* footer css */
footer { background:#f3f3f3; float:left; width:100%; padding:35px 0 40px; }
footer h4 { float:left; width:100%; font-size:16px; line-height:27px; padding-bottom:10px; color:#282828;}
footer h4 span { font-family: 'public_sansbold';}
footer ul { float:left; width:100%;}
footer ul li { float:left; width:auto; padding-right:55px;}
footer ul li a { float:left; width:auto; font-size:14px; line-height:27px; color:#282828; padding:0 0 0 28px; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; 
-o-transition:all .5s ease;} 
footer ul li a.tel-ico { background:url(../images/telephone.svg) no-repeat scroll left center;}
footer ul li a.mail-ico { background:url(../images/mail.svg) no-repeat scroll left center;}
footer ul li a:hover { color:#a41432;}
footer h3 { float:left; width:100%; text-align:center; font-size:16px; line-height:21px; color:#ffffff; display:none;}







/* 22 Oct 2019 */
.row1 			{ width:1220px; margin:auto; padding:0px;}
.area-container{position:absolute; width:100%; height:100%; left:0; right:0; background:url('../images/fons-login.jpg') no-repeat center #ededed; background-size:cover; display:flex; display:-webkit-flex; align-items:center; justify-content:center; z-index:0;} 
/*.area-container {position: relative;width: 100%;height: 100%;left: 0;right: 0;background: url('../images/fons-login.jpg') no-repeat center #ededed;background-size: cover;display: flex;display: -webkit-flex;align-items: center;justify-content: center;z-index: 0;padding: 170px 0 200px;float: left;} */

/*.area-container:after{background:rgba(0,0,0,0.3); width:100%; height:100%; top:0; left:0; position:absolute; content:""; z-index:-1;}*/
.area-content{width:415px; text-align:center; margin-top:-250px;}
.pass-word .area-content	{ margin-top:-335px;}
/* .area-content{width:385px; text-align:right; margin:0 auto;} */
.area-content h2{font-size: 24px; display: inline-block; color: #000A12; padding: 0px 0px 40px; text-align: center;letter-spacing: 0.5px; font-family: 'public_sansbold'; line-height:28px;}
.area-content form{width:100%; display:block; background:#fff; padding:37px 58px 53px; text-align:center; float:left; box-shadow:0px 30px 30px -25px #9D9D9D;}
.area-content form img{width: auto; float:none; display:inline-block; margin-bottom:35px;}
.area-content form h3{font-size:18px; font-weight:900;  margin:35px 0 15px; line-height:20px;}
.area-content form .area-style{width:100%;float:left; margin:0;}
.area-content form input.frm-ctrl{width:100%; padding:0 23px; border:none; border-bottom:1px solid #848484; font-size:16px; background:#f7f7f7; color:#848484; line-height:46px; height:44px; margin:0 0 28px; font-family: 'public_sansmedium';}

.area-content form input.frm-ctrl::-webkit-input-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl::-moz-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl:-ms-input-placeholder {color:#848484;  font-weight:400;}
.area-content form input.frm-ctrl:-moz-placeholder {color:#848484;  font-weight:400;}


.area-content form button{width:100%; background: #a41332; color: #fff; font-size: 14px; text-transform:uppercase; font-family: 'public_sansbold'; border-radius: 0px; padding: 0px 20px; float: left; height:44px; line-height:44px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:0px 0 0; display:inline-block; letter-spacing:1px;}
/* .area-content form button:hover{background:#ce0e2d;} */
.area-content form button:hover{opacity:0.8}
.area-content form button.mt10{margin-top:5px}
.area-content form p{ color: rgba(0,0,0,0.5); font-size: 11px; font-weight: 400; line-height:16px; margin:24px 0 0;}
.area-content form p.mt10{margin:10px 0 0;}
.area-content p.mt25	{ text-align:left;}
.area-content form a{ color: #000A12; font-size:16px; text-align:left; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; }
.area-content form a:hover{color:#a41432;}
.area-content form .checkbox {float:left;width:100%; margin:7px 0 0;}
.area-content form .checkbox label{display:inline-block; margin:10px 0 5px;}

/* alta-peticion */
.menu			{ float:left; background:#a21331; width:100%;}

/* mobile nav css */
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden;}
.m-menu {display:none; position: relative;float: right;padding:0px;margin-top: 10px;margin-right: 0px;margin-bottom: 0px; transition: All 0.5s ease; right:5px; top:6px;}
/*html.mm-opening .m-menu { right:-100px; }*/
.m-menu a 	{ position:relative; display:block; text-align:right; outline:none; padding:0px 0px; height:100%; top:0px; right:0px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;  }
.m-menu div { position:absolute; top:5px; left:-54px; font-size:16px; color:#fff; text-transform:uppercase; cursor:pointer; padding-right:20px; display:inline-block; }
.m-menu a span 		{ display: block; width:30px;height:2px; background:#282828; margin-top:5px; }
.m-menu a:hover span { background: #a11330; }

/* mobile menu css */
.mobNav  { display:none; position:fixed; right:0px; overflow:hidden; background:#fff;padding-top: 40px;}
.mobNav ul { float:left; width:100%; margin-top: 20px;}
.mobNav ul li { float:left; width:100%; border-bottom:1px solid #e0e0e0; padding:0 15px; }
/*.mobNav ul li:last-child{ border-bottom:none}*/
.mobNav ul li a { display:block; font-size:15px;color:#282828; padding:0 0px;line-height: 42px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; font-family:'public_sansregular'; }
.mobNav ul li:last-child a { font-family:'rubikmedium';}
.mobNav ul li a:hover { color:#a11330;}
#close-men {position: absolute;top: 18px;right: 15px;z-index: 99;}

.mob-ico { display:none;}
.menu-icon{ float:right; width:25px; height:27px; border-radius: 0px; cursor:pointer; margin-top: 13px; margin-left: 0px; }
.menu-icon span { width:100%; margin-bottom:5px; height:2px; background:#030303; float:left; margin-right:0;}
.menu-icon:hover span { background:#c31a1f; }
.hole_div{ width:100%; /*position:relative; */float:left;}
.hole_div > div#page {left: 0;position: absolute;top: 0;width:100%; float:left;transition: all 0.2s linear ; }
/*.hole_div.move > div#page { left: -275px;}*/
.hole_div.move > div#mobNav { right:0px; box-shadow:-4px 0 20px rgba(0, 0, 0, 0.6); }
.hole_div > div#mobNav { display:block; z-index:9999; right:-270px; psition:absolute; top:0; width:270px;transition: all 0.2s linear ;height: 100%;overflow: auto; }
#new{background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; width:100%; height:100%; text-align:right; color:#FFF; display:none;  z-index: 999;}
lang{ float:left; width:100%; margin:10px 0px 20px 0px; text-align:center;}
.lang ul	{ padding:0 15px; text-align:center;}
.lang ul li{ display:inline-block; width:auto; float:none; border-bottom:none; padding:0;}
.lang ul li a{ font-size: 14px;line-height: 20px;color: #414141; position:relative; margin-right:6px; padding-right:15px;}
.lang ul li a::after { content:'/'; position:absolute; right:0px; top:0px;}
.lang ul li a:hover { color:#a11330;}
.lang ul li:last-child a		{ font-family:'public_sansregular'; }
.lang ul li:last-child a { padding:0px; margin:0px;}
.lang ul li:last-child a::after { content:'';}
.client-link{ float:left; width:100%; text-align:center;}
.client-link a.salir-l		{ border:2px solid #cf8896; height:32px; line-height:24px; color:#a11330; width:104px; text-align:center; display:inline-block; border-radius:5px; font-size:14px; font-family:'public_sansregular'; float:none; margin-top:20px;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; display:none;} 	
.client-link a.salir-l:hover	{ color:#fff; background:#a11330; border:2px solid #a11330;}
/* mobile nav css */

figure.mobi-logo {padding:10px 0 0 13px;}

.log-foot		{ position:absolute; bottom:0; }
.inner-page .inner-top ul	{ float:right; margin-top:26px;}
.inner-page .inner-top li	{ float:left; padding:0 18px;  background:url('../images/border-r.png') no-repeat right 6px;}
.inner-page .inner-top li:last-child	{ background:none; padding-right:0; padding-left:16px;}
.inner-page .inner-top li a				{ padding:6px 0; float:left; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
.inner-page .inner-top li:nth-child(2n-2) a	 { font-family:'rubikmedium'; font-size:14px; color:#000A12;}
.inner-page .inner-top li:nth-child(2n-2) a:hover	{ color:#a11330;}
.inner-page .inner-top li a.salir-l		{ border:2px solid #cf8896; height:32px; line-height:14px; color:#a11330; width:104px; text-align:center; display:inline-block; border-radius:5px; font-size:14px; font-family:'public_sansregular';} 	
.inner-page .inner-top li a.salir-l:hover	{ color:#fff; background:#a11330; border:2px solid #a11330;}
.inner-page .inner-top li a.admin-b		{ border:2px solid #a21331; padding: 4px 8px; background: #a21331; display: block; border-radius: 5px; color: white; }
.inner-page .inner-top li a.admin-b:hover	{ border:2px solid #a21331; color: #a21331; background: white; }
.inner-page .inner-top li a.usuario {font-size: 14px; font-weight: bold;}

.inner-page .inner-top .lang-select	{ margin-top:0;}
.inner-page .inner-top .sbHolder li:nth-child(2n-2) a { font-size:12px; color:#414141; font-family:'public_sanslight';}	
.inner-page .inner-top .sbHolder li:nth-child(2n-2) a:hover	{ color:#962635;}
.inner-page .inner-top .sbHolder li:last-child	{ padding:0;}
.inner-page a.sbToggle		{ top:14px;}
.inner-page .inner-top .sbHolder ul.sbOptions { margin-top:0; top:32px !important;}


.alta-p			{ min-height:600px; margin:0px 0 120px;}
.mt55	{ margin-top:55px;}
.mt35	{ margin-top:35px;}
.alta-p h2		{ font-size:24px; color:#282828; font-family: 'public_sansmedium'; padding-bottom:42px; line-height:26px; }
.form-list		{ width:468px; margin:0 auto; text-align:center; }
.form-list input.frm-ctrl{width:100%; padding:0 23px; border:2px solid #dadada; font-size:16px; background:#fff; color:#353535; line-height:46px; height:46px; margin:0 0 28px; border-radius:5px;}
.form-list input.frm-ctrl.impt-form	{ width:168px; float:left;}
.form-list input.frm-ctrl.aporte-form {width:130px;}
.form-list input.frm-ctrl::-webkit-input-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl::-moz-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl:-ms-input-placeholder {color:#000;  font-weight:400;}
.form-list input.frm-ctrl:-moz-placeholder {color:#000;  font-weight:400;}
.form-list button, .form-list a {width:100%; background: #a41332; color: #fff; font-size: 14px; text-transform:uppercase; font-family: 'public_sansbold'; border-radius: 0px; padding: 0px 20px; float: left; height:44px; line-height:44px; border: 0; cursor:pointer; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out; margin:0px 0 0; display:inline-block; border-radius:5px; letter-spacing:1px;}
.form-list button:hover, .form-list a:hover {opacity:0.8}
.form-list label	{ float:left; font-size:18px; font-family: 'public_sansbold'; color:#282828; margin-left:12px; line-height:46px;}
.form-list label.prefix {position: absolute; padding-right: 12px; border-right: 2px solid; border-color: #dadada; height: 46px;}

.filter-list {display: flex; align-items: center; justify-content: flex-end; margin:0 0 28px;}
.filter-list input.frm-ctrl{padding:0 23px; border:2px solid #dadada; font-size:16px; background:#fff; color:#353535; line-height:46px; height:46px; border-radius:5px;}
.filter-list button {cursor: pointer; transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); border: 2px solid #a21331; background: #a21331; padding: 8px 10px; margin: 0px 10px; color: white; border-radius: 5px; font-size: 16px; font-weight: normal; text-transform: uppercase; font-family: 'public_sanssemibold';}
.filter-list button:hover {background: transparent; color: #a21331;}
.pagination {float: left;width: 100%;margin-top: 20px;}
.pagination ul {display: flex; flex-wrap: wrap; justify-content: center;}
.pagination ul li {margin-right: 5px; border: 1px solid #a21331;display: flex; align-items: center; justify-content: center;transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);}
.pagination ul li a.active {background: #a21331; color: white;}
.pagination ul li:hover {background: #a21331; color: white;}
.pagination ul li:hover span,
.pagination ul li:hover a {color: white;}
.pagination ul li span,
.pagination ul li a {padding: 5px 10px;width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;}

.alta-p .list-tab thead tr:last-child	{ display:inline-block;}
.alta-p .list-tab td	{ width:auto;}
.tab-resp { background: #ffffff; float: left; width: 100%;}
.tab-resp thead {  background:#f3f3f3; text-align:left; padding:12px 15px; }
/*.tab-resp thead tr:first-child { display:block;} */
.tab-resp tr th {font-size:14px; font-family: 'public_sansbold'; font-weight: normal; text-align: center; padding:12px 5px 12px 12px; color:#000A12;}
.tab-resp tr th:first-child { text-align:left;}
.tab-resp td { font-size:14px; line-height:22px; color:#000A12; text-align:center; padding:15px 5px 15px 12px; border-bottom: 2px solid #f9f9f9; }
.tab-resp td:first-child { text-align:left; color:#949494; font-family:'public_sanssemibold'; font-size:12px;}
.tab-resp td:nth-child(2n) { color:#a11330;}
.tab-resp td:nth-child(3n), .tab-resp td:nth-child(4n) { color:#000A12; font-family:'public_sanssemibold'; }
.tab-resp td:nth-child(5n), .tab-resp td:nth-child(6n), .tab-resp td:nth-child(7n) { font-family:'public_sansregular';  font-size:14px;}
.tab-resp td:nth-child(8n) { color:#A41432; font-family:'public_sansbold'; text-align:right;}
.tab-resp td:last-child		{ text-align:right;}
.tab-resp td:last-child a { text-decoration:underline; color:#A11330; font-size:12px; font-family: 'public_sansmedium'; }
.tab-resp td a	{ transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; }
.tab-resp td a:hover	{ color:#a11330;}
.tab-resp td:last-child a:hover	{ color:#000A12; }
.tab-resp td.avatar {text-align: center;}
.tab-resp td img {width: 40px; height: 40px; border-radius: 100%;}
.tab-resp td img:hover {cursor: pointer; box-shadow: 1px 1px 10px #ccc;}
/*.tab-resp thead tr { float: left; width: 100%;}*/
.tab-resp tbody tr { background:#ffffff; border-bottom: 2px solid #f9f9f9; padding:12px 15px;}
.tab-resp tbody tr:last-child { border-bottom: 2px solid #ffffff;}
.tab-resp tbody tr:hover, .tab-resp tbody tr:hover td { background:#f3f3f3; border-bottom: 2px solid #eeeded;}

.form-list.datos-de li		{ float:left; width:100%; position:relative;}
.form-list.datos-de label:not(.prefix):not(.sufix)	{ position: absolute; top:-8px; left:22px; background:#fff; float:left; min-width:95px; padding-left:5px; font-family:'public_sansregular'; font-size:11px; line-height:15px; margin-left:0; text-align:left; color:#282828; }
.form-list.datos-de li.inline {display: flex;}
.form-list.datos-de li.inline div {position: relative;}
.form-list.datos-de input.frm-ctrl	{ font-size:16px; color:#333; font-family:'public_sansregular';}

.table-pad { float: left; width: 100%; overflow:auto }
.accions {display: flex;}
.accions .accio { display: block; padding: 5px; margin-right: 5px; border-radius: 3px; text-decoration: none!important; height: 32px;}
.accions .accio .material-icons {font-size: 20px;}
.accions .accio.reenviar {border: 1px solid #a21331; background: #a21331; color:white;}
.accions .accio.reenviar:hover {color:#a21331;}
.accions .accio.destroy {border: 1px solid #FFC108; background: #FFC108; color:white;}
.accions .accio.destroy:hover {color:#FFC108;}
.accions .accio.editar {border: 1px solid #17a2b8; background: #17a2b8; color:white; }
.accions .accio.editar:hover {color:#17a2b8;}

.accions .accio:hover {background: transparent;}
.accions .accio:last-child {margin-right: 0px;}

.alert-minimalist { border-radius: 3px; color: rgb(97, 97, 97); padding: 10px; width: 330px; }
.alert-minimalist.success { background-color: rgb(139, 241, 38, 0.7); }
.alert-minimalist.error { background-color: rgba(255,148,148, 0.7); }
.alert-minimalist > [data-notify="icon"] { height: 50px; margin-right: 12px; }
.alert-minimalist > [data-notify="title"] { color: rgb(51, 51, 51); display: block; font-weight: bold; margin-bottom: 5px; }
.alert-minimalist > [data-notify="message"] { font-size: 80%; }


/* Placeholders */
.form-list input.frm-ctrl::-webkit-input-placeholder {color: #b4b4b4; opacity:1;}
.form-list input.frm-ctrl::-moz-placeholder {color: #b4b4b4;opacity:1;}
.form-list input.frm-ctrl:-ms-input-placeholder {color: #b4b4b4;opacity:1;}
.form-list input.frm-ctrl:-moz-placeholder {color: #b4b4b4;opacity:1;}
/* End placeholders*/

.notify-empty {position: absolute; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; color: #696969; font-size: 40px; left: 0; right: 0;}

/* Style the list */
ul.breadcrumb {padding: 10px 16px;list-style: none;display: initial;background: #f3f3f3; border-radius: 6px;}

.btn {padding: 8px 10px;border-radius: 6px; font-size: 14px;}
.btn.btn-primary { background: #a21331; border: 1px solid #a21331; color: white; transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.btn.btn-primary:hover {background: transparent; color: #a21331 }

/* Display list items side by side */
ul.breadcrumb li {display: inline;font-size: 14px;}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {padding: 8px;color: black;content: "/\A0";}
/* Add a color to all links inside the list */
ul.breadcrumb li a {color: #353535;text-decoration: none;}
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {color: black;text-decoration: underline;}

.select-form {
    width: 100%;
    padding: 14px 10px;
    border-radius: 7px;
    border: 2px solid #dadada;
    margin: 0 0 28px;
}

.material-icons {display: block;}@CHARSET "UTF-8";
.sbHolder {  padding: 0px 0px 0 0; position: relative; width: auto; float:left; font-size:14px; color:#919191; line-height:18px; font-family: 'public_sanslight';}
.sbSelector { display: block; left: 0; outline: none; overflow: hidden; position: relative; text-indent: 0px; top: 0; color:#919191; font-size: 14px; font-family: 'public_sanslight';}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover { /*color: #8f8787;*/outline: none; text-decoration: none; color:#919191; }
a.sbToggle { background: url(../images/drop-arrow.png) no-repeat 0 0; display: block; height:5px; outline: none; position: absolute; right:-18px; top: 8px; width: 8px;}
/*.sbHolder:hover .sbToggle { background-position: 0 -22px;}*/
.sbHolder:hover .sbToggle {}
/*.sbToggleOpen{background: url(../images/select-arr.png) no-repeat left top; }
.sbHolder:hover .sbToggleOpen { background-position: 0 0px;}*/
/*.sbToggleOpen:hover{background: url(../images/select_arrow_close.jpg) top right no-repeat;}*/
.sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }
.sbHolderDisabled .sbHolder { }
.sbHolderDisabled .sbToggle { }
.sbOptions { list-style: none; right: 0px; margin: 0; padding: 0; position: absolute; top: 42px; max-height: none; width:85px !important;
z-index: 99999; /*overflow-y: auto;*/width:100%; background:#fff; }
.sbHolder .sbOptions li { width: 100%; padding: 0px; background:none;  border-bottom:1px solid #d7d7d7;  margin:0; line-height:30px; text-align:right; border-right:none; }
.sbHolder .sbOptions li:last-child { border-bottom:none;  }
.sbOptions a { display: block; outline: none; padding: 2px 5px !important; color: #414141; font-size:12px; line-height:22px; text-align:left; }
.sbHolder ul.sbOptions {/*-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);*/ border:1px solid #d7d7d7; float:left; left:0; top:25px!important;}
/*.sbOptions a:link, .sbOptions a:visited{color: #909090; text-decoration: none;}*/

.sbOptions a:focus, .sbOptions a.sbFocus { color:#962635;  }
.sbOptions li.last a { border-bottom: none; }
.sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 5px 0 5px 3px; }
.sbOptions .sbGroup { /*border-bottom: dotted 1px #515151;*/padding: 0px 4%; color: #2b2c2e; display: block; font-weight: bold; }
.sbOptions .sbSub { padding-left: 33px !important; }

header .lang_select .sbSelector {text-overflow: clip; width:32px; white-space: nowrap; letter-spacing: 0.3px;}
header .lang_select .sbSelector:hover { color:#008ed2;}



ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #ececec;
	font-size: 16px;
	display: inline-block;
	margin-right: 1px;
	padding: 18px 15px;
	list-style: none;
	cursor: pointer;
	float: left;
	font-family: 'proxima_novasemibold';
	width: 180px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none !important;
	position: relative;
	margin-bottom: -1px;
}
.resp-tabs-list li:last-child {
	margin-right: 0 !important;
	width: 184px;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 0;
}
.resp-tab-active {
	border-bottom: none !important;
	margin-bottom: -1px !important;
	padding: 18px 15px !important;
}
.resp-tab-active {
	background-color: #ffffff !important;
	color: #008ed2;
	border: 1px solid #ececec !important;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: none;
	/*min-height: 800px;*/
	float: left;
	width: 100%; /* border-top:none !important;*/
}
h2.resp-accordion {
	font-size: 16px;
	border: none;
	/*border-top: 0px solid #c1c1c1;*/
	margin: 0px;
	padding: 12px 26px;
	color: #000000;
}
h2.resp-tab-active {
	border: 1px solid #e7e7e7 !important;
	margin-bottom: 0px !important;
	padding: 12px 26px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 17px;
	height: 10px;
	float: right;
	margin-top: 10px;
	/* border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1; */
	background: url(../images/up-arrow.png) no-repeat right center;
}
h2.resp-tab-active span.resp-arrow {
	/* border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797; */
	background: url(../images/down-arrow.png) no-repeat right center;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion span.value {
    font-size: 18px;display:inline-block;
}
h2.resp-accordion.resp-tab-active span.value {  display:none;}

/* Here your can change the breakpoint to set the accordion, when screen resolution changed */

@media only screen and (max-width: 767px) {

ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
	background: #a01331;
	color: #fff !important;
	font-size: 14px !important;
	font-family: 'public_sansbold';
}
.resp-tab-content {
	background: #fff;
}

.resp-tabs-container h2.resp-accordion.resp-tab-active {
	background: #a01331 !important;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}

}
@charset "utf-8";
/* CSS Document */

.ddsmoothmenu { float: none; width:100%; text-align:center; display:inline-block; padding:0px; text-transform:none; letter-spacing:0.2px; transition:all 0.3s ease;font-size:14px; font-family: 'public_sanssemibold'; margin:0px 0px 0 0; margin-right:0px; }
.ddsmoothmenu ul { z-index:100; margin:0; padding:0px 0px; list-style-type: none; }
/*Top level list items*/
.ddsmoothmenu ul li { position: relative; display: inline-block; padding:0px 0px 0 0px; margin:0px 22px 0px; line-height:53px; }
.ddsmoothmenu ul li:last-child{padding-right:0px;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a { display: block; color:rgba(255,255,255,0.5); text-transform:uppercase; text-decoration:none; padding:0px 15px 0px; position:relative; font-size: 16px; font-weight:normal; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; }
.ddsmoothmenu ul li a::after {
content: "";
display: block;
width: 0;
position: absolute;
left: 50%;
width: 0%;
bottom:0px;
transition: opacity 450ms;
height: 2px;
background:#fff; transition:all 0.4s ease; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; 
}

/*.ddsmoothmenu ul li a:hover::before, .ddsmoothmenu ul li a.active::before, .ddsmoothmenu ul li a.selected::before, .ddsmoothmenu ul li.dropdown:hover a::before { width:100%; left:0px; }*/
.ddsmoothmenu ul li a:hover::after, .ddsmoothmenu ul li a.active::after, .ddsmoothmenu ul li a.selected::after { width:100%; left:0; }
.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.active { color:#fff;}
.ddsmoothmenu ul li.dropdown:hover a{ color:#ef7e01} 
.ddsmoothmenu ul li:first-child a	{ padding-left:19px;}
.ddsmoothmenu ul li:last-child a	{ padding-right:22px; }	 


* html .ddsmoothmenu ul li a { display: inline-block; }

/*1st sub level menu*/
.ddsmoothmenu ul li ul { position: absolute; left:0; display: none; visibility: hidden; padding:0px 0 0; width:255px; left:-15px!important; margin-top:20px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); float:left; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px;  background:#fff;}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li { float: none; width:100%; padding:0px 20px; margin:0; border-right:0px; text-align:left; border-bottom:1px solid #ebebeb; }
/* .ddsmoothmenu ul li ul li:hover { background:#B05AA5; } */

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul { top: 0;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a { display:block; padding:18px 0px; color:#000!important; line-height:14px; font-size:14px; font-family: 'public_sanssemibold'; text-transform:none;}
.ddsmoothmenu ul li ul li:first-child a{}
.ddsmoothmenu ul li ul li:last-child { border-bottom:none;}

.ddsmoothmenu ul li ul li a:hover { color:#80b24f !important;  text-decoration:none; margin: 0px 0px 0px 0px;}
.ddsmoothmenu ul li ul li a:after, .ddsmoothmenu ul li ul li a:before { display:none }

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; } /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass { position: absolute; top: 12px; right: 7px; }
.rightarrowclass { position: absolute; top: 6px; right: 5px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { /*shadow for NON CSS3 capable browsers*/ position: absolute; left: 0; top: 0; width: 0; height: 0; }
.toplevelshadow { /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/ opacity: 0.8; }


.ddsmoothmenu ul li ul li a::after, .ddsmoothmenu ul li ul li a:hover:after { display:none }
.sticky-wrapper.is-sticky .ddsmoothmenu ul li ul li:first-child a:before { display:none; }

 /*  jQuery.mmenu CSS  */
/*  jQuery.mmenu panels CSS  */

.mm-menu.mm-horizontal > .mm-panel { transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; transition: transform 0.4s ease, -webkit-transform 0.4s ease; } 
.mm-menu .mm-hidden { display: none; } 
.mm-wrapper { overflow-x: hidden; position: relative; }
.mm-menu, .mm-menu > .mm-panel { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 0; } 
.mm-menu { background: inherit; display: block; overflow: hidden; padding: 0; } 
.mm-menu > .mm-panel { background: inherit; -webkit-overflow-scrolling: touch; overflow: scroll; overflow-x: hidden; overflow-y: auto; box-sizing: border-box; padding: 20px;
		-webkit-transform: translate(100%, 0); transform: translate(100%, 0); } 
.mm-menu > .mm-panel.mm-opened { border-radius:0px; khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; -webkit-transform: translate(0%, 0); transform: translate(0%, 0); } 
.mm-menu > .mm-panel.mm-subopened { border-radius:0px; khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; -webkit-transform: translate(-30%, 0); transform: translate(-30%, 0); }
.mm-menu > .mm-panel.mm-highest { z-index: 1; } 
.mm-menu .mm-list { padding:0px 0px 0; } 
.mm-menu > .mm-list:after { content: ''; display: block; /*height: 40px;*/ } 
.mm-panel > .mm-list { margin-left: -20px; margin-right: -20px; } 
.mm-panel > .mm-list:first-child { padding-top: 0; } 
.mm-list, .mm-list > li { list-style: none; display: block; padding: 0; margin:0; border-bottom:1px solid #e6e6e6; } 
.mm-list { font: inherit; font-size: 16px; } 
.mm-list a, .mm-list a:hover { text-decoration: none; } 
.mm-list > li { position: relative; } 
.mm-list > li > a, .mm-list > li > span { text-overflow: ellipsis; overflow: hidden; color: inherit; line-height:22px; display: block; padding:0 10px; margin: 0; font-size:13px; } 
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after { content: ''; display: block; width: 100%; position: absolute; bottom: 0; left: 0; } 
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after { width: auto; margin-left:0px; position: relative; left: auto; } 
.mm-list a.mm-subopen { background:#222; border-left:1px solid #222 ; width:40px; height: 100%; padding: 0; position: absolute; right: 0; top: 0; z-index: 2; } 
.mm-list a.mm-subopen:before { content: ''; display: block; height: 100%; position: absolute; left: 0; top: 0; } 
.mm-list a.mm-subopen.mm-fullsubopen { width: 100%; } 
.mm-list a.mm-subopen.mm-fullsubopen:before { border-left: none; } 
.mm-list a.mm-subopen + a, .mm-list a.mm-subopen + span {  } 
.mm-list > li.mm-selected > a.mm-subopen { background: transparent; border-left:1px solid #222; } 
.mm-list > li.mm-selected > a.mm-fullsubopen + a, .mm-list > li.mm-selected > a.mm-fullsubopen + span { padding-right: 45px; margin-right: 0; } 
.mm-list a.mm-subclose { ext-indent: 20px; padding-top:0; margin-top:0px; } 
.mm-list > li.mm-label { text-overflow: ellipsis; overflow: hidden; font-size: 10px; text-transform: uppercase; text-indent: 20px; line-height: 25px; padding-right: 5px; } 
.mm-list > li.mm-spacer { padding-top: 40px; } 
.mm-list > li.mm-spacer.mm-label { padding-top: 25px; } 
.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before { content: ''; border:1px solid transparent; display: inline-block; width:8px; height:8px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-bottom:-5px; position:absolute; bottom:50%; } 
.mm-list a.mm-subopen:after { border-top: none;  border-left: none; right: 18px; } 
.mm-list a.mm-subclose:before { border-right: none; border-bottom: none; margin-bottom: -4px; left: 20px; border-width:2px; }  
.mm-menu.mm-vertical .mm-list .mm-panel { display: none; padding: 10px 0 10px 10px; } 
.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after { border-color: transparent; } 
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel { display: block; } 
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen { height: 40px; } 
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after { top: 16px; bottom: auto; } 
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen { height: 25px; }  
html.mm-opened .mm-page { box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }  
.mm-menu { background:#fff; color:#ffffff; } 
.mm-menu .mm-list > li:after { border-color: rgba(0, 0, 0, 0.15); } 
.mm-menu .mm-list > li.mm-subtitle { background:#222;  color:#ffffff; } 
.mm-menu .mm-list > li > a.mm-subclose { background:#222; color:#ffffff;  font-weight:400; text-transform:uppercase; padding:8px 20px 8px 45px; } 
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before { border-color: rgba(255, 255, 255, 1); } 
.mm-menu .mm-list > li > a.mm-subclose:before { border-color:#fff; } 
.mm-menu .mm-list > li > a.mm-subopen:before { } 
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span { background: #222; color:#fff } 
.mm-menu .mm-list > li.mm-label { background: rgba(255, 255, 255, 0.05); } 
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen, .mm-menu.mm-vertical .mm-list li.mm-opened > ul { background: rgba(255, 255, 255, 0.05); }  

.mm-list.mm-highest > li { list-style: none; display: block; padding:0px; margin:0px; background:none; border-radius:0px;khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px; } 
.mm-list.mm-highest > li > a { display:block; border-radius:0px;khtml-border-radius:0px;moz-border-radius:0px;webkit-border-radius:0px }
.mm-list.mm-highest > li > a:hover {  }
.mm-list.mm-highest > li > a.mm-subclose, .mm-list.mm-highest > li > a.mm-subclose:hover { font-size:15px; font-weight:400; line-height:40px; padding:0 0 0 40px; border-bottom:0 none; }

.mm-list > li > a { padding:8px 15px 8px 15px; color:#000; font-size:15x;text-transform:uppercase; transition: all 0.3s ease;font-family: 'barlowregular';}
.mm-list > li > a.selected{ background:#222; color:#fff }
.mm-list > li > a:hover, .mm-list > li > a.active { background:#222; color:#fff}
.mm-list > li > a:hover span{color:#ffffff;}
.mm-list > li > a span { display:inline-block; padding-left:5px; color:#5c5c5c; font-weight:400; line-height:20px; text-transform:uppercase; }
.mm-list a.mm-subopen:hover { /*background:#f1ae0d; border-left: solid 1px #f1ae0d ;*/ }

/*
jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
box-sizing: border-box;
position: relative;
overflow:hidden;}

.mm-slideout {
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

html.mm-opened {
overflow: hidden;
position: relative; }
html.mm-opened body {
overflow: hidden; }

html.mm-background .mm-page {
background: inherit; }

#mm-blocker {
background: rgba(3, 2, 1, 0);
display: none;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
display: block; }

.mm-menu.mm-offcanvas {
display: none;
position: fixed; }
.mm-menu.mm-current {
display: block; }

.mm-menu {
width:100%;
min-width: 150px;
max-width:265px; }

html.mm-opening .mm-slideout {
-webkit-transform: translate(80%, 0);
transform: translate(80%, 0); }

@media all and (max-width: 175px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(120px, 0);
transform: translate(120px, 0); } }
@media all and (min-width: 550px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(265px, 0);
transform: translate(265px, 0); } }
@media all and (max-width: 550px) {
html.mm-opening .mm-slideout {
-webkit-transform: translate(265px, 0);
transform: translate(265px, 0); } }
/*
jQuery.mmenu buttonbars addon CSS
*/
.mm-buttonbar {
border: 1px solid transparent;
border-radius: 5px;
text-align: center;
line-height: 20px;
overflow: hidden;
display: block;
padding: 0;
margin: 0;
position: relative; }
.mm-buttonbar:after {
content: '';
display: block;
clear: both; }
.mm-buttonbar > * {
border-left: 1px solid transparent;
box-sizing: border-box;
display: block;
width: 100%;
height: 100%;
float: left;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; }
.mm-buttonbar > a {
text-decoration: none; }
.mm-buttonbar > input {
position: absolute;
left: -1000px;
top: -1000px; }
.mm-buttonbar > input:checked + label {
border-color: transparent  !important; }
.mm-buttonbar > *:first-child,
.mm-buttonbar > input:first-child + * {
border-left: none; }
.mm-buttonbar.mm-buttonbar-2 > * {
width: 50%; }
.mm-buttonbar.mm-buttonbar-3 > * {
width: 33.33%; }
.mm-buttonbar.mm-buttonbar-4 > * {
width: 25%; }
.mm-buttonbar.mm-buttonbar-5 > * {
width: 20%; }

.mm-header .mm-buttonbar {
margin-top: 20px;
margin-left: -30px;
margin-right: -30px; }

.mm-footer .mm-buttonbar {
border: none;
border-radius: none;
line-height: 40px;
margin: -10px -10px 0 -20px; }
.mm-footer .mm-buttonbar > * {
border-left: none; }

.mm-list > li > .mm-buttonbar {
margin: 10px 20px; }

.mm-menu .mm-buttonbar {
border-color: rgba(255, 255, 255, 0.6);
background: #333333; }
.mm-menu .mm-buttonbar > * {
border-color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-buttonbar > input:checked + label {
background: rgba(255, 255, 255, 0.6);
color: #333333; }

/*  jQuery.mmenu counters addon CSS  */
em.mm-counter {
font: inherit;
font-size: 14px;
font-style: normal;
text-indent: 0;
line-height: 20px;
display: block;
margin-top: -10px;
position: absolute;
right: 40px;
top: 50%; }
em.mm-counter + a.mm-subopen {
padding-left: 40px; }
em.mm-counter + a.mm-subopen + a,
em.mm-counter + a.mm-subopen + span {
margin-right: 80px; }
em.mm-counter + a.mm-fullsubopen {
padding-left: 0; }

.mm-vertical em.mm-counter {
top: 12px;
margin-top: 0; }

.mm-nosubresults > em.mm-counter {
display: none; }

.mm-menu em.mm-counter {
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
transition-duration: 0s; }

/*
jQuery.mmenu footer addon CSS
*/
.mm-footer {
background: inherit;
border-top: 1px solid transparent;
text-align: center;
line-height: 20px;
box-sizing: border-box;
width: 100%;
height: 40px;
padding: 10px 10px 0 20px;
position: absolute;
z-index: 2;
bottom: 0;
left: 0; }

.mm-menu.mm-hasfooter > .mm-panel:after {
height: 80px; }

.mm-menu .mm-footer {
border-color: rgba(0, 0, 0, 0.15);
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu header addon CSS
*/
.mm-header {
background: inherit;
border-bottom: 1px solid transparent;
text-align: center;
line-height: 20px;
box-sizing: border-box;
width: 100%;
height: 60px;
padding: 0 50px;
position: absolute;
z-index: 2;
top: 0;
left: 0; }
.mm-header .mm-title,
.mm-header .mm-prev,
.mm-header .mm-next,
.mm-header .mm-close {
padding-top: 30px; }
.mm-header .mm-title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: inline-block;
width: 100%;
position: relative; }
.mm-header .mm-prev,
.mm-header .mm-next,
.mm-header .mm-close {
text-decoration: none;
display: block;
box-sizing: border-box;
min-width: 10px;
height: 100%;
position: absolute;
top: 0;
z-index: 1; }
.mm-header .mm-prev {
padding-left: 20px;
padding-right: 10px;
left: 0; }
.mm-header .mm-next,
.mm-header .mm-close {
padding-left: 10px;
padding-right: 20px;
right: 0; }
.mm-header [href].mm-prev:before, .mm-header [href].mm-next:after {
content: '';
border: 2px solid transparent;
display: inline-block;
width: 7px;
height: 7px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg); }
.mm-header [href].mm-prev:before {
border-right: none;
border-bottom: none;
margin-left: 2px;
margin-right: 5px; }
.mm-header [href].mm-next:after, .mm-header [href].mm-close:after {
margin-left: 5px;
margin-right: -2px; }
.mm-header [href].mm-next:after {
border-top: none;
border-left: none; }
.mm-header [href].mm-close:after {
content: 'x'; }

.mm-menu.mm-hassearch .mm-header {
height: 50px;
top: 50px; }
.mm-menu.mm-hassearch .mm-header .mm-title,
.mm-menu.mm-hassearch .mm-header .mm-prev,
.mm-menu.mm-hassearch .mm-header .mm-next,
.mm-menu.mm-hassearch .mm-header .mm-close {
padding-top: 20px; }

.mm-menu.mm-hasheader li.mm-subtitle {
display: none; }
.mm-menu.mm-hasheader > .mm-panel {
padding-top: 80px; }
.mm-menu.mm-hasheader > .mm-panel.mm-list {
padding-top: 60px; }
.mm-menu.mm-hasheader > .mm-panel > .mm-list:first-child {
margin-top: -20px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel {
padding-top: 120px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel.mm-list {
padding-top: 100px; }

.mm-menu .mm-header {
border-color: rgba(0, 0, 0, 0.15);
color: rgba(255, 255, 255, 0.3); }
.mm-menu .mm-header .mm-prev:before,
.mm-menu .mm-header .mm-next:after,
.mm-menu .mm-header .mm-close:after {
border-color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu labels addon CSS
*/
.mm-list li.mm-label > span {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
padding: 0;
line-height: 25px; }
.mm-list li.mm-label.mm-opened a.mm-subopen:after {
-webkit-transform: rotate(45deg);
transform: rotate(45deg); }
.mm-list li.mm-collapsed:not(.mm-uncollapsed) {
display: none; }

.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen:after {
top: 8.5px; }

.mm-menu .mm-list li.mm-label > div > div {
background: rgba(255, 255, 255, 0.05); }

/*
jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
box-sizing: border-box; }

.mm-list > li.mm-search {
padding: 10px;
margin-top: -20px; }
.mm-list > li.mm-subtitle + li.mm-search {
margin-top: 0; }

div.mm-panel > div.mm-search {
padding: 0 0 10px 0; }

.mm-menu.mm-hasheader .mm-list > li.mm-search {
margin-top: 0; }

.mm-menu > .mm-search {
background: inherit;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2; }

.mm-search {
padding: 10px; }
.mm-search input {
border: none;
border-radius: 30px;
font: inherit;
font-size: 14px;
line-height: 30px;
outline: none;
display: block;
width: 100%;
height: 30px;
margin: 0;
padding: 0 10px; }
.mm-search input::-ms-clear {
display: none; }

.mm-menu .mm-noresultsmsg {
text-align: center;
font-size: 21px;
display: none;
padding: 60px 0; }
.mm-menu .mm-noresultsmsg:after {
border: none !important; }

.mm-noresults .mm-noresultsmsg {
display: block; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
display: none; }
.mm-menu li.mm-nosubresults > a.mm-subopen + a,
.mm-menu li.mm-nosubresults > a.mm-subopen + span {
padding-right: 10px; }
.mm-menu.mm-hassearch > .mm-panel {
padding-top: 70px; }
.mm-menu.mm-hassearch > .mm-panel > .mm-list:first-child {
margin-top: -20px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child {
margin-top: -10px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child + .mm-list {
padding-top: 0; }

.mm-menu .mm-search input {
background: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-noresultsmsg {
color: rgba(255, 255, 255, 0.3); }

/*
jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
position: absolute;
left: -10000px; }

label.mm-toggle,
label.mm-check {
margin: 0;
position: absolute;
bottom: 50%;
z-index: 2; }
label.mm-toggle:before,
label.mm-check:before {
content: '';
display: block; }

label.mm-toggle {
border-radius: 30px;
width: 50px;
height: 30px;
margin-bottom: -15px; }
label.mm-toggle:before {
border-radius: 30px;
width: 28px;
height: 28px;
margin: 1px; }

input.mm-toggle:checked ~ label.mm-toggle:before {
float: right; }

label.mm-check {
width: 30px;
height: 30px;
margin-bottom: -15px; }
label.mm-check:before {
border-left: 3px solid;
border-bottom: 3px solid;
width: 40%;
height: 20%;
margin: 25% 0 0 20%;
opacity: 0.1;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg); }

input.mm-check:checked ~ label.mm-check:before {
opacity: 1; }

.mm-menu.mm-vertical .mm-list > li label.mm-toggle, .mm-menu.mm-vertical .mm-list > li label.mm-check {
bottom: auto;
margin-bottom: 0; }
.mm-menu.mm-vertical .mm-list > li label.mm-toggle {
top: 5px; }
.mm-menu.mm-vertical .mm-list > li label.mm-check {
top: 5px; }

label.mm-toggle, label.mm-check {
right: 20px; }

label.mm-toggle + a,
label.mm-toggle + span {
margin-right: 70px; }

label.mm-check + a,
label.mm-check + span {
margin-right: 50px; }

a.mm-subopen + label.mm-toggle, a.mm-subopen + label.mm-check {
right: 50px; }

a.mm-subopen + label.mm-toggle + a,
a.mm-subopen + label.mm-toggle + span {
margin-right: 100px; }

a.mm-subopen + label.mm-check + a,
a.mm-subopen + label.mm-check + span {
margin-right: 80px; }

em.mm-counter + a.mm-subopen + label.mm-toggle, em.mm-counter + a.mm-subopen + label.mm-check {
right: 90px; }

em.mm-counter + a.mm-subopen + label.mm-toggle + a,
em.mm-counter + a.mm-subopen + label.mm-toggle + span {
margin-right: 140px; }

em.mm-counter + a.mm-subopen + label.mm-check + a,
em.mm-counter + a.mm-subopen + label.mm-check + span {
margin-right: 120px; }

.mm-menu label.mm-toggle {
background: rgba(0, 0, 0, 0.15); }
.mm-menu label.mm-toggle:before {
background: #333333; }
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

.mm-menu label.mm-check:before {
border-color: rgba(255, 255, 255, 0.6); }

/*
jQuery.mmenu effects extension CSS
*/
html.mm-slide .mm-menu {
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
html.mm-slide.mm-opened .mm-menu {
-webkit-transform: translateX(-30%);
transform: translateX(-30%); }
html.mm-slide.mm-opening .mm-menu {
-webkit-transform: translateX(0%);
transform: translateX(0%); }
html.mm-slide.mm-right.mm-opened .mm-menu {
-webkit-transform: translateX(30%);
transform: translateX(30%); }
html.mm-slide.mm-right.mm-opening .mm-menu {
-webkit-transform: translateX(0%);
transform: translateX(0%); }
html.mm-slide.mm-top.mm-opened .mm-menu {
-webkit-transform: translateY(-30%);
transform: translateY(-30%); }
html.mm-slide.mm-top.mm-opening .mm-menu {
-webkit-transform: translateY(0%);
transform: translateY(0%); }
html.mm-slide.mm-bottom.mm-opened .mm-menu {
-webkit-transform: translateY(30%);
transform: translateY(30%); }
html.mm-slide.mm-bottom.mm-opening .mm-menu {
-webkit-transform: translateY(0%);
transform: translateY(0%); }

html.mm-zoom-menu .mm-menu {
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
html.mm-zoom-menu.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateX(-30%);
transform: scale(0.7, 0.7) translateX(-30%);
-webkit-transform-origin: left center;
transform-origin: left center; }
html.mm-zoom-menu.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-right.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateX(30%);
transform: scale(0.7, 0.7) translateX(30%);
-webkit-transform-origin: right center;
transform-origin: right center; }
html.mm-zoom-menu.mm-right.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-top.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateY(-30%);
transform: scale(0.7, 0.7) translateY(-30%);
-webkit-transform-origin: center top;
transform-origin: center top; }
html.mm-zoom-menu.mm-top.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateY(0%);
transform: scale(1, 1) translateY(0%); }
html.mm-zoom-menu.mm-bottom.mm-opened .mm-menu {
-webkit-transform: scale(0.7, 0.7) translateY(30%);
transform: scale(0.7, 0.7) translateY(30%);
-webkit-transform-origin: center bottom;
transform-origin: center bottom; }
html.mm-zoom-menu.mm-bottom.mm-opening .mm-menu {
-webkit-transform: scale(1, 1) translateY(0%);
transform: scale(1, 1) translateY(0%); }

html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel {
-webkit-transform: scale(1.5, 1.5) translateX(100%);
transform: scale(1.5, 1.5) translateX(100%);
-webkit-transform-origin: left center;
transform-origin: left center;
transition-property: left, -webkit-transform;
transition-property: transform, left;
transition-property: transform, left, -webkit-transform; }
html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened {
-webkit-transform: scale(1, 1) translateX(0%);
transform: scale(1, 1) translateX(0%); }
html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened.mm-subopened {
-webkit-transform: scale(0.7, 0.7) translateX(-30%);
transform: scale(0.7, 0.7) translateX(-30%); }

/*
jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
width: 100%;
min-width: 140px;
max-width: 10000px; }

html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(100%, 0);
transform: translate(100%, 0); }

@media all and (max-width: 140px) {
html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(140px, 0);
transform: translate(140px, 0); } }
@media all and (min-width: 10000px) {
html.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(10000px, 0);
transform: translate(10000px, 0); } }
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-100%, 0);
transform: translate(-100%, 0); }

@media all and (max-width: 140px) {
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-140px, 0);
transform: translate(-140px, 0); } }
@media all and (min-width: 10000px) {
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
-webkit-transform: translate(-10000px, 0);
transform: translate(-10000px, 0); } }
.mm-menu.mm-front.mm-fullscreen.mm-top, .mm-menu.mm-front.mm-fullscreen.mm-bottom {
height: 100%;
min-height: 140px;
max-height: 10000px; }

html.mm-opened.mm-fullscreen .mm-page {
box-shadow: none !important; }

/*
jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
width: 100%;
min-width: 100%;
max-width: 100%; }

.mm-menu.mm-right {
left: auto;
right: 0; }

.mm-menu.mm-bottom {
top: auto;
bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-265px, 0);
transform: translate(-265px, 0); }

@media all and (max-width: 175px) {
html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-140px, 0);
transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
html.mm-right.mm-opening .mm-slideout {
-webkit-transform: translate(-265px, 0);
transform: translate(-265px, 0); } }
/*
jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
-webkit-transform: none !important;
transform: none !important;
z-index: 0 !important; }

.mm-menu.mm-front {
z-index: 1;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
box-shadow: none; }

.mm-menu.mm-front, .mm-menu.mm-next {
transition: -webkit-transform 0.4s ease;
transition: transform 0.4s ease;
transition: transform 0.4s ease, -webkit-transform 0.4s ease;
-webkit-transform: translate(-100%, 0);
transform: translate(-100%, 0); }
.mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
-webkit-transform: translate(100%, 0);
transform: translate(100%, 0); }
.mm-menu.mm-front.mm-top {
-webkit-transform: translate(0, -100%);
transform: translate(0, -100%); }
.mm-menu.mm-front.mm-bottom {
-webkit-transform: translate(0, 100%);
transform: translate(0, 100%); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
-webkit-transform: translate(0, 0);
transform: translate(0, 0); }

.mm-menu.mm-front.mm-top, .mm-menu.mm-front.mm-bottom {
height: 80%;
min-height: 140px;
max-height: 880px; }

/*
jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light {
background: #f3f3f3;
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-list > li:after {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li > a.mm-subclose {
background: rgba(255, 255, 255, 0.6);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-light .mm-list > li.mm-selected > span {
background: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-light .mm-list > li.mm-label {
background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-buttonbar {
border-color: rgba(0, 0, 0, 0.6);
background: #f3f3f3; }
.mm-menu.mm-light .mm-buttonbar > * {
border-color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-buttonbar > input:checked + label {
background: rgba(0, 0, 0, 0.6);
color: #f3f3f3; }

.mm-menu.mm-light label.mm-check:before {
border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light em.mm-counter {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-footer {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-header {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-header .mm-prev:before,
.mm-menu.mm-light .mm-header .mm-next:after,
.mm-menu.mm-light .mm-header .mm-close:after {
border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
background: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-noresultsmsg {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light label.mm-toggle {
background: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light label.mm-toggle:before {
background: #f3f3f3; }
.mm-menu.mm-light input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

html.mm-opened.mm-white .mm-page {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white {
background: white;
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-list > li:after {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li > a.mm-subclose {
background: rgba(0, 0, 0, 0.06);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-white .mm-list > li.mm-selected > span {
background: rgba(0, 0, 0, 0.06); }
.mm-menu.mm-white .mm-list > li.mm-label {
background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-buttonbar {
border-color: rgba(0, 0, 0, 0.6);
background: white; }
.mm-menu.mm-white .mm-buttonbar > * {
border-color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-buttonbar > input:checked + label {
background: rgba(0, 0, 0, 0.6);
color: white; }

.mm-menu.mm-white label.mm-check:before {
border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white em.mm-counter {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-footer {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-header {
border-color: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-header .mm-prev:before,
.mm-menu.mm-white .mm-header .mm-next:after,
.mm-menu.mm-white .mm-header .mm-close:after {
border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
background: rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-noresultsmsg {
color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white label.mm-toggle {
background: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white label.mm-toggle:before {
background: white; }
.mm-menu.mm-white input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }

html.mm-opened.mm-black .mm-page {
box-shadow: none; }

.mm-menu.mm-black {
background: black;
color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-list > li:after {
border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li > a.mm-subclose {
background: rgba(255, 255, 255, 0.25);
color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
border-color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-black .mm-list > li.mm-selected > span {
background: rgba(255, 255, 255, 0.25); }
.mm-menu.mm-black .mm-list > li.mm-label {
background: rgba(255, 255, 255, 0.15); }
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-buttonbar {
border-color: rgba(255, 255, 255, 0.6);
background: black; }
.mm-menu.mm-black .mm-buttonbar > * {
border-color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-buttonbar > input:checked + label {
background: rgba(255, 255, 255, 0.6);
color: black; }

.mm-menu.mm-black label.mm-check:before {
border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black em.mm-counter {
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-footer {
border-color: rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-header {
border-color: rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-header .mm-prev:before,
.mm-menu.mm-black .mm-header .mm-next:after,
.mm-menu.mm-black .mm-header .mm-close:after {
border-color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
background: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-noresultsmsg {
color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black label.mm-toggle {
background: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black label.mm-toggle:before {
background: black; }
.mm-menu.mm-black input.mm-toggle:checked ~ label.mm-toggle {
background: #4bd963; }


.mm-list > li.f-social, .mm-menu .mm-list > li.f-social.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.f-social.mm-selected > span{ padding:10px 0 10px; width:100%;  text-align:center; }

/*.mm-list > li:last-child{ border-bottom:none;}*/

.f-social {float:left; width:100%; padding-left:12px !important;}
.f-social a{float:left; width: 25px !important; padding: 0 !important;line-height:25px !important;}
.f-social a img { vertical-align:middle;}
.f-social a:hover { opacity:0.7; background:none !important;}

.mobi-logo {background: #fff;float: left;padding: 15px 0 8px;position: relative;text-align: center;width:auto;z-index: 99;height: 60px;text-align:center;}
.mobi-logo img{ float:left; width: auto;}
.mm-list a.mm-subopen:hover{background:#ecbd17; border-left:1px solid #ecbd17;}
.mobi-logo img:hover{ opacity:0.8}

.mob-search{ float:left; width:100%; border: solid 1px #e7e7e7; background:#fff; position:relative}
.mob-search input[type="text"]{ background:#fff; border:none; width:100%; padding:10px;color: #b1b1b1;font-size: 13px;}
.mob-search input[type="submit"]{background: url(../images/search.png) no-repeat 0px 0px; width:18px; height:19px; border:none;position: absolute;right: 10px;top: 9px; cursor:pointer}
.mob-search input[type="submit"]:hover{background: url(../images/search-hover.png) no-repeat 0px 0px;}
.mob-lang{ text-align:center; float:left; width:100%;padding-left:12px !important;}
.mob-lang a{float:left; width: 40px;padding: 0 !important;line-height: 35px !important; border-right: 1px solid #e6e6e6;}
.mob-lang.mm-selected a { background:none !important; color:#000 !important;}
.mob-lang.mm-selected a.active { background:#000 !important; color:#fff !important;}

.f-social.mm-selected a { background:inherit !important; color:#000 !important; width: 25px !important;}

.fest-link { float:left; width:100%;}



.mobNav ul li.mob-seach { padding: 0 4%;}
.mobNav ul li.mob-seach input { border: 1px solid #d9d9d9; padding: 5px 10px; width: 100%; margin-bottom:10px;}@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-appearance: none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; }

/* #Media Queries
================================================== */
@media only screen and (min-width: 1920px){

}
@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}

/* 22 Oct 2019 */		
.area-content	{ margin-top:-180px;}
.login-pad		{ background:#ededed;}
}
@media screen and (min-width:1200px) and (max-width:1279px) {
img {max-width:100%; }
.row, .row1 { width:1000px; }
.table-list .tb-lft {margin-right: 20px; width: 640px;}
.table-list .tb-rgt { width: 340px;}
.tb-amt.cnt-left {width: 340px;}
.filter {width: 65%;}

}
 

@media screen and (min-width:1024px) and (max-width:1199px) {
img {max-width:100%; }
.row, .row1  { width:980px; }
.filter { width:65%;}
.inner-top .logo {  padding-right: 85px;}
.inner-top h1 {font-size: 32px;}
.table-list .tb-lft {margin-right: 20px; width: 630px;}
.table-list .tb-rgt { width: 330px;}
.tb-amt.cnt-left {width: 330px;}

/* 22 Oct 2019 */
.area-content		{ margin-top:-180px;}
.tab-resp tr th, .tab-resp td		{ padding:32px 5px 34px 6px;}
}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row, .row1 { width:750px;}
.main-section { margin:0;}
.filter { width:100%;}
.inner-top .logo {  padding-right: 40px;}
.inner-top h1 {font-size: 25px;}
.list-tab thead tr:first-child { display:none;} 
.list-tab thead tr:last-child { display:block;}
.list-tab td { font-size:15px;}
.amt-tab td { font-size:15px;}
.amt-tab thead { padding: 12px 15px;}
.amt-tab tr th { font-size: 13px;}
.amt-tab tr { padding: 12px 15px;}
.amt-tab tfoot { padding: 12px 15px;}
.amt-tab tfoot tr th:last-child { font-size: 20px; width: 40%;}
.amt-tab tfoot tr th:first-child { width: 60%;}
.table-list .tb-lft {margin-right: 10px; width: 465px;}
.table-list .tb-rgt { width: 275px;}
.tb-amt.cnt-left {width: 275px;}
footer { padding: 20px 0 22px;}
footer h4 {font-size: 15px;}
.amt-tab tfoot tr th { font-size: 16px;}

/* 22 Oct 2019 */
.login-pad #page	{ position:relative; float:left; width:100%;}
.area-container	{ min-height: inherit; position:relative; display:inline-block; text-align:center;}
.area-content	{ margin:60px 0 100px; float:none; display:inline-block;}
.pass-word .area-content	{ margin-top:60px;}
.log-foot		{ position:relative;}
.ddsmoothmenu ul li	{ margin:0 5px;}
.ddsmoothmenu ul li a, .ddsmoothmenu ul li:first-child a, .ddsmoothmenu ul li:last-child a	{ padding:0 12px;}
.tab-resp	{ width:1000px;}
.tab-resp tr th, .tab-resp td		{ padding:20px 5px 22px 10px;}
.alta-p		{ margin-bottom:70px;}

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
img {max-width:100%; }
.row, .row1 { width:100%; padding:0px 15px; }
.main-row  { width:100%; padding:0px; }
.main-section { margin:0;}
.inner-top h1 { display:none;}
.inner-cont {padding-bottom: 60px;}
.inner-cont h1 { display:block;}
.list-tab thead tr:first-child { display:none;} 
.list-tab thead tr:last-child { display:block;}
.table-list .tb-lft { width:100%; margin-right:0;}
.table-list .tb-rgt { width:100%;}
.amt-desk { display:none;}
.amt-mob { display:block;}
.filter {width: 100%;text-align: center; margin-bottom: 20px;}
.select-filter {width: 160px; position: relative;}
.select-filter .select-box {display: block;}
.select-filter ul#filterOptions.filter-opp{display: none;}
.select-filter ul#filterOptions { background: #fff; position: absolute;z-index: 99; top:38px !important; border: 1px solid #d7d7d7;float: left; left: 0; width: 100%;}
.select-filter ul#filterOptions li { width: 100%;padding: 0px;background: none; border-bottom: 1px solid #d7d7d7;    margin: 0;
line-height: 30px;text-align: right;border-right: none;}
.select-filter ul#filterOptions li:last-child { border-bottom: none;}
.select-filter ul#filterOptions li a {display: block;outline: none;padding: 2px 5px !important;color: #414141;font-size: 12px;
 line-height: 22px;text-align: left; border:none;}
.select-filter ul#filterOptions li a:hover { background: none; color: #962635; }
.select-filter ul#filterOptions li.active a { background: none; }

.filter h3{ display:block;}
.filter-mob { display:block;}
footer h4, footer ul { display:none;}
footer { background:#b3b3b3; padding:5px 0 5px; position: fixed; bottom: 0px;}
footer h3 { display:block;}
.inner-top .logo { display:none;}
.inner-top .mob-logo { display:block;}
.amt-tab td:last-child { text-align: right;}
.amt-tab tfoot { padding: 0 26px;}
.table-list { margin-bottom:0;}
.amt-tab tfoot tr { padding: 15px 0 15px;}

.list-tab{padding-bottom:60px;}
footer{display:none;}

/* 22 Oct 2019 */
.mobNav, .m-menu { display:block;}
.menu, .lang_select, a.intranet { display:none;}

.area-content	{ margin:50px 0 80px;}
.pass-word .area-content	{ margin-top:50px;}
.area-container	{ position:static;}
.area-content h2	{ padding-bottom:30px;}
.inner-page .inner-top ul				{ margin-top:14px; margin-right:25px;}
.inner-page .inner-top li				{ display:none;}
.inner-page .inner-top li:last-child	{ display:block;}
.alta-p.mt55	{ margin-top:35px;}
.area-content form img	{ width:160px;}
.tab-resp	{ width:1015px;}
.tab-resp tr th, .tab-resp td		{ padding:20px 5px 22px 10px;}
}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.top-lft { width:100%; margin-bottom:30px; text-align: center;}
.top-rgt { width:100%; text-align: center;}
.top-lft img { float:none; margin-top: 25px;}
.dollar-btn a { float:none; display:inline-block; font-size: 26px; line-height: 28px; padding: 25px 0;}
.top-rgt img { float:none;}
.top-rgt h3 { text-align:center; width:100%;}
.cont-section h1 { font-size: 30px;}
.dollar-btn { margin-top: 25px;}
.top-btm { padding-top: 20px;}
.cont-section { padding-top: 30px;}
.cont-section ul li { padding: 15px 15px 15px 40px;}
.cont-section h3 { font-size: 16px; line-height: 24px; padding-bottom:5px;}
.cont-section h4 { font-size: 16px; line-height: 24px;}
.list-tab td { font-size:15px;}
h2.resp-accordion{padding:7px 26px;}

/* 22 Oct 2019 */
.area-content h2	{ font-size:22px;padding-bottom:25px;}
.alta-p h2			{ font-size:22px;}
.form-list			{ width:98%;}
.client-link a.salir-l	{ display:inline-block;}
.inner-page .inner-top li:last-child	{ display:none;}
.area-content form img	{ width:150px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.cont-section h1 {  font-size: 28px; line-height:36px;}
.list-tab td { font-size:13px;}
.list-tab tbody tr { padding:23px 12px;}
.qty-chk { height: 24px;}
.qty { width:38px; font-size: 14px; height: 20px;}
input.qtyplus, input.qtyminus { width:20px; height:20px; font-size: 14px; line-height: 18px;}
.list-tab thead { padding: 12px 15px 12px 25px;}
.list-tab td:first-child { width:30%;}
.list-tab td:nth-child(2n) { width:20%; }
.inner-cont h1 { font-size:20px;}
.filter-mob h3 { font-size:14px; width: 30%; padding-right: 40px;}
.filter h3{ font-size:14px; width: 30%; padding-right: 40px;}
.sbOptions { width:60px !important;}
footer h3 { font-size:14px;}
.inner-cont { margin-top: 15px;}

/* 22 Oct 2019 */
.area-content	{ width:90%;}
.area-content form	{ padding:30px 30px 40px;}
.area-content h2, .alta-p h2	{ font-size:20px;}
.area-content form img	{ width:140px;}	
.area-content.alta-p h2 br { display:none;}
}

@media screen and (max-width:359px) {
.cont-section h1 { font-size: 25px; line-height:32px;}
.qty { width:30px;  font-size: 13px;}
.list-tab tr th { font-size: 13px;}
.list-tab td:first-child, .list-tab tr th:first-child { width:35%;}
.list-tab td:nth-child(2n), .list-tab tr th:nth-child(2n) { width:15%;}
.list-tab td:last-child, .list-tab tr th:last-child { width: 20%;}
.list-tab thead { padding: 12px 15px;}
.list-tab tbody tr { padding: 18px 8px;}
.filter-mob h3 {padding-right: 30px;}
h2.resp-accordion { font-size:12px !important;}
.amt-tab td { font-size: 14px;}
.amt-tab tfoot tr th { font-size: 16px;}
.amt-tab tfoot tr th:last-child { font-size: 20px;}
h2.resp-accordion span.value { font-size: 16px;}

/* 22 Oct 2019 */
.area-content form	{ padding:30px 25px 40px;}

}/* CSS Document */
@font-face {
  font-family: "public_sansextralight";
  src: url("../fonts/publicsans-extralight-webfont.eot");
  src: url("../fonts/publicsans-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-extralight-webfont.woff2") format("woff2"), url("../fonts/publicsans-extralight-webfont.woff") format("woff"), url("../fonts/publicsans-extralight-webfont.ttf") format("truetype"), url("../fonts/publicsans-extralight-webfont.svg#public_sansextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansextralight_italic";
  src: url("../fonts/publicsans-extralightitalic-webfont.eot");
  src: url("../fonts/publicsans-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-extralightitalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-extralightitalic-webfont.woff") format("woff"), url("../fonts/publicsans-extralightitalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-extralightitalic-webfont.svg#public_sansextralight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansitalic";
  src: url("../fonts/publicsans-italic-webfont.eot");
  src: url("../fonts/publicsans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-italic-webfont.woff2") format("woff2"), url("../fonts/publicsans-italic-webfont.woff") format("woff"), url("../fonts/publicsans-italic-webfont.ttf") format("truetype"), url("../fonts/publicsans-italic-webfont.svg#public_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sanslight";
  src: url("../fonts/publicsans-light-webfont.eot");
  src: url("../fonts/publicsans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-light-webfont.woff2") format("woff2"), url("../fonts/publicsans-light-webfont.woff") format("woff"), url("../fonts/publicsans-light-webfont.ttf") format("truetype"), url("../fonts/publicsans-light-webfont.svg#public_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansextrabold_italic";
  src: url("../fonts/publicsans-extrabolditalic-webfont.eot");
  src: url("../fonts/publicsans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-extrabolditalic-webfont.woff") format("woff"), url("../fonts/publicsans-extrabolditalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-extrabolditalic-webfont.svg#public_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansmedium";
  src: url("../fonts/publicsans-medium-webfont.eot");
  src: url("../fonts/publicsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-medium-webfont.woff2") format("woff2"), url("../fonts/publicsans-medium-webfont.woff") format("woff"), url("../fonts/publicsans-medium-webfont.ttf") format("truetype"), url("../fonts/publicsans-medium-webfont.svg#public_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansmedium_italic";
  src: url("../fonts/publicsans-mediumitalic-webfont.eot");
  src: url("../fonts/publicsans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-mediumitalic-webfont.woff") format("woff"), url("../fonts/publicsans-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-mediumitalic-webfont.svg#public_sansmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansregular";
  src: url("../fonts/publicsans-regular-webfont.eot");
  src: url("../fonts/publicsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-regular-webfont.woff2") format("woff2"), url("../fonts/publicsans-regular-webfont.woff") format("woff"), url("../fonts/publicsans-regular-webfont.ttf") format("truetype"), url("../fonts/publicsans-regular-webfont.svg#public_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sanssemibold";
  src: url("../fonts/publicsans-semibold-webfont.eot");
  src: url("../fonts/publicsans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-semibold-webfont.woff2") format("woff2"), url("../fonts/publicsans-semibold-webfont.woff") format("woff"), url("../fonts/publicsans-semibold-webfont.ttf") format("truetype"), url("../fonts/publicsans-semibold-webfont.svg#public_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sanslight_italic";
  src: url("../fonts/publicsans-lightitalic-webfont.eot");
  src: url("../fonts/publicsans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-lightitalic-webfont.woff") format("woff"), url("../fonts/publicsans-lightitalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-lightitalic-webfont.svg#public_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sanssemibold_italic";
  src: url("../fonts/publicsans-semibolditalic-webfont.eot");
  src: url("../fonts/publicsans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-semibolditalic-webfont.woff") format("woff"), url("../fonts/publicsans-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-semibolditalic-webfont.svg#public_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansthin";
  src: url("../fonts/publicsans-thin-webfont.eot");
  src: url("../fonts/publicsans-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-thin-webfont.woff2") format("woff2"), url("../fonts/publicsans-thin-webfont.woff") format("woff"), url("../fonts/publicsans-thin-webfont.ttf") format("truetype"), url("../fonts/publicsans-thin-webfont.svg#public_sansthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansthin_italic";
  src: url("../fonts/publicsans-thinitalic-webfont.eot");
  src: url("../fonts/publicsans-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-thinitalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-thinitalic-webfont.woff") format("woff"), url("../fonts/publicsans-thinitalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-thinitalic-webfont.svg#public_sansthin_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansblack_italic";
  src: url("../fonts/publicsans-blackitalic-webfont.eot");
  src: url("../fonts/publicsans-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-blackitalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-blackitalic-webfont.woff") format("woff"), url("../fonts/publicsans-blackitalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-blackitalic-webfont.svg#public_sansblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansbold";
  src: url("../fonts/publicsans-bold-webfont.eot");
  src: url("../fonts/publicsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-bold-webfont.woff2") format("woff2"), url("../fonts/publicsans-bold-webfont.woff") format("woff"), url("../fonts/publicsans-bold-webfont.ttf") format("truetype"), url("../fonts/publicsans-bold-webfont.svg#public_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansbold_italic";
  src: url("../fonts/publicsans-bolditalic-webfont.eot");
  src: url("../fonts/publicsans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/publicsans-bolditalic-webfont.woff") format("woff"), url("../fonts/publicsans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/publicsans-bolditalic-webfont.svg#public_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansextrabold";
  src: url("../fonts/publicsans-extrabold-webfont.eot");
  src: url("../fonts/publicsans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-extrabold-webfont.woff2") format("woff2"), url("../fonts/publicsans-extrabold-webfont.woff") format("woff"), url("../fonts/publicsans-extrabold-webfont.ttf") format("truetype"), url("../fonts/publicsans-extrabold-webfont.svg#public_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "public_sansblack";
  src: url("../fonts/publicsans-black-webfont.eot");
  src: url("../fonts/publicsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/publicsans-black-webfont.woff2") format("woff2"), url("../fonts/publicsans-black-webfont.woff") format("woff"), url("../fonts/publicsans-black-webfont.ttf") format("truetype"), url("../fonts/publicsans-black-webfont.svg#public_sansblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubikmedium";
  src: url("../fonts/rubik-medium-webfont.woff2") format("woff2"), url("../fonts/rubik-medium-webfont.woff") format("woff"), url("../fonts/rubik-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}