/* CALENDARIO */

.fc-license-message { display: none !important; }
.fc-scroller { height: auto !important; }
.fc-time { display: none !important; }

.fc-timeline .fc-divider { width: 3px; border-style: double; }

span.fc-title { color: #fff; font-size: 11px; font-weight: bold; }

.fc-resource-area .fc-cell-content, .fc-timeline .fc-cell-text {
    font-size: 13px;
}

.fc-event, .fc-event-dot {
    background-color: #3a87ad;
}

.fc-event {
    border: 1px solid rgb(58, 135, 173);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(58, 135, 173, .4);
}

.fc-event:hover { cursor: pointer; }

.fc-event-container a.approved {
    background-color: #58c92f;
    border-color: rgb(88, 201, 47);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(88, 201, 47, .4);
}

.fc-event-container a.denied {
    background-color: #ffc208;
    border-color: rgb(255, 194, 8);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 194, 8, .4);
}

.fc-event-container a.holiday {
    background-color: #c90c2a;
    border-color: rgb(201, 12, 42);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(201, 12, 42, .4);
}

.fc-event-container a.banned {
    background-color: #ccc;
    border-color: rgb(204, 204, 204);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(204, 204, 204, .4);
}

/* end CALENDARIO */